extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include ../library/left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;underscore.js資料
                    .panel-body
                        h4 クライアントサイド
                        p
                            | 公式サイト
                            br
                            a(href='http://underscorejs.org/',target='_blank')
                                | http://underscorejs.org/
                        pre.
                            bower install underscore
                        hr
                        h4 サーバーサイド
                        p
                            | underscre npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/underscore',target='_blank')
                                | https://npmjs.org/package/underscore
                        p
                            | underscore GitHubサイト
                            br
                            a(href='https://github.com/jashkenas/underscore',target='_blank')
                                | https://github.com/jashkenas/underscore
                        hr
                        h4 インストール
                        pre
                            :code
                                npm install underscore
                        hr
                        pre
                            :code
                                ドットインストール
                                    
                                Underscore.js入門
                                http://dotinstall.com/lessons/basic_underscorejss
