doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet', href='style.css')
	body
		- for(var i = 1; i <= 5; i++){
		img(src='img/image' + i + '.png',alt='')
		- }
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')