doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p テキストテキストテキスト
		p テキストテキストテキスト
		p: input(type='button',value='内側を包む')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')