extends ../../layout

block link
	include ../../link2

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;起動／終了
					.panel-body
						.alert.alert-info Redisサーバの起動
						pre
							:code
								redis-server /usr/local/etc/redis.conf
						.alert.alert-info Redisサーバーの終了
						pre
							:code
								Crtl+ C
						.alert.alert-info Redisクライアントの起動
						pre
							:code
								redis-cli
						.alert.alert-info 終了
						pre
							:code
								exit
						.alert.alert-info クライアントからサーバーのデータをディスクに保存してサーバーを終了
						pre
							:code
								shutdown
						.alert.alert-info 接続
						pre
							:code
								redis-cli
						.alert.alert-info 確認
						pre
							:code
								redis 127.0.0.1:6379> set key val
								OK
								redis 127.0.0.1:6379> get key
								"val"
