extends ../../layout

block link
    include ../../link2

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;RedisのCRUD
                    .panel-body
                        .alert.alert-info サーバの起動
                        p Redisサーバーの起動
                        pre
                            :code
                                redis-server
                        p 強制終了（※ データが保存されないことがある）
                        pre
                            :code
                                Ctrl + C
                        hr
                        .alert.alert-info クライアントからサーバーに接続
                        p 別のターミナルでRedisサーバーに接続
                        pre
                            :code
                                redis-cli
                        p クライアントの終了
                        pre
                            :code
                                exit
                        p クライアントからサーバーの終了（※ データが保存される）
                        pre
                            :code
                                shutdown
                        hr
                        .alert.alert-info 動作の確認
                        pre
                            :code
                                redis 127.0.0.1:6379> set key val
                                OK
                                redis 127.0.0.1:6379> get key
                                "val"
                        hr
                        .alert.alert-info データベースの選択
                        p: mark データベースは番号で管理され、名前をつけることはできません。
                        p デフォルトでは0番のデータベースに接続されていますが、以下のように切り替えることができます。
                        pre
                            :code
                                select 1
                        pre
                            :code
                                select 2
                        p とりあえず0に合わせておきましょう。
                        pre
                            :code
                                select 0
                        hr
                        .alert.alert-info データの保存
                        p Redisでは自動的にディスクに保存されますが、明示的にディスクに保存することができます。
                        pre
                            :code
                                bgsave
                        p 保存先は、Resisサーバーを起動したディレクトリに、「dump.rdb」のファイル名で保存されています。
                        p: mark Redisを起動するときは、同じディレクトリで起動する必要があります。
                        hr
                        .alert.alert-info Strig型の書き込み
                        p データの書き込み
                        pre
                            :code
                                set key value
                        p まとめて書き込み
                        pre
                            :code
                                mset key value key value ...
                        p データの取得
                        pre
                            :code
                                get key
                        p まとめてデータの取得
                        pre
                            :code
                                mget key key key ...
                        p 「name」というキーに、「nakano」という値を格納します。
                        pre
                            :code
                                set name nakano
                        p 「name」キーを取得します。
                        pre
                            :code
                                get name
                        p まとめて「email」キーと「score」キーに値を格納します。
                        pre
                            :code
                                mset email hoge@foo.com score 120
                        p キーに格納された値をまとめて取得します。
                        pre
                            :code
                                mget name email score
                        hr
                        .alert.alert-info 数値を増減する
                        p 以下のコマンドでStringに数値が格納された場合に値を増減させることができます。
                        pre
                            :code
                                incre / increby 増加幅
                                decre / decreby 減少幅
                        p 数値を1繰り上げます。
                        pre
                            :code
                                incre score
                        p 数値を取得します。
                        pre
                            :code
                                get score
                        p 数値を10減少させます。
                        pre
                            :code
                                decreby score 10
                        p 数値を取得します。
                        pre
                            :code
                                get score
                        hr
                        .alert.alert-info KEYの操作
                        p 全キー検索
                        pre
                            :code
                                keys *
                        p パターン検索
                        pre
                            :code
                                keys *m*
                        p キーの存在確認
                        pre
                            :code
                                exists score
                                exists age
                        p キーの名前を変更
                        pre
                            :code
                                set age 14
                                rename age nenrei
                                keys *
                        p キーの削除
                        pre
                            :code
                                del nenrei
                                keys *
                                set age 14
                        p キーの有効期限(５秒)
                        pre
                            :code
                                expire age 5
                                get age
                        p ランダムにキーを返す
                        pre
                            :code
                                randomkey
                        hr
                        .alert.alert-info List型の書き込み
                        pre.
                            左端に追加 lpush
                            右端に追加 rpush
                            左端を削除 lpop
                            右端を削除 rpop
                        p 要素を追加
                        pre.
                            rpush mycolor pink
                            rpush mycolor green
                            rpush mycolor red
                            rpush mycolor yellow
                            rpush mycolor blue
                            rpush mycolor purple
                        p 0番目から5番目まで取得
                        pre.
                            lrange mycolor 0 5
                        p 0番目から、最後から1番目まで取得
                        pre.
                            lrange mycolor 0 -1
                        p 右端を削除
                        pre.
                            rpop mycolor
                            lrange mycolor 0 -1
                        p 左端を削除
                        pre.
                            lpop mycolor
                            lrange mycolor 0 -1
                        p 2番目の要素を取得
                        pre.
                            lindex mycolor 2
                        p 要素の数を取得
                        pre.
                            llen mycolor
                        p 要素を0番目から2番目以外を削除
                        pre.
                            ltrim mycolor 0 2
                            lrange mycolor 0 -1
                        hr
                        .alert.alert-info Set型の書き込み
                        pre.
                            追加 sadd
                            削除 srem
                            一覧 smembers
                            和集合 sunion
                            積集合 sinter
                            差集合 sdiff
                        p 要素の追加
                        pre.
                            sadd myset1 a
                            sadd myset1 b
                            sadd myset1 c
                        p 要素の一覧
                        pre.
                            smembers myset1
                        p 後から要素を追加
                        pre.
                            sadd myset1 d
                        p 要素の一覧（順不同で表示される）
                        pre.
                            smembers myset1
                        p 要素の削除
                        pre.
                            srem myset1 d
                            smembers myset1
                        p 別のSet型データを作成
                        pre.
                            sadd myset2 b
                            sadd myset2 c
                            sadd myset2 d
                            sadd myset2 e
                            smembers myset1
                            smembers myset2
                        p 和集合
                        pre.
                            sunion myset1 myset2
                        p 積集合
                        pre.
                            sinter myset1 myset2
                        p 差集合
                        pre.
                            sdiff myset1 myset2
                        p 和集合から新しいデータを作成
                        pre.
                            sunionstore myunion myset1 myset2
                            smembers myunion
                        hr
                        .alert.alert-info Sorted Set型の書き込み
                        pre.
                            追加 zadd
                            削除 zrem
                            一覧 zrange
                            ランク zrank
                        p 要素を追加
                        pre.
                            zadd hs 22 nakano
                            zadd hs 50 tanaka
                            zadd hs 80 sato
                            zadd hs 21 suzuki
                        p 低い方から一覧を取得
                        pre.
                            zrange hs 0 -1
                        p 高い方から一覧を取得
                        pre.
                            zrevrange hs 0 -1
                        p 低い方から順位を取得
                        pre.
                            zrank hs nakano
                        p 高い方から順位を取得
                        pre.
                            zrevrank hs nakano
                        hr
                        .alert.alert-info Hash型の書き込み
                        pre.
                            hset 追加
                            hmset 複数追加
                            hget 取得
                            hmget 複数取得
                            hlen 要素数を取得
                            hkeys キーをすべて取得
                            hvals 値をすべて取得
                            hgetall キー、値をすべて取得
                        p 値をセット
                        pre.
                            hset user name nakano
                        p 値を複数セット
                        pre.
                            hmset user email hoge@foo.com score 120
                        p 値を取得
                        pre.
                            hget user email
                        p 値を複数取得
                        pre.
                            hmget user name email score
                        p 要素数を取得
                        pre.
                            hlen user
                        p キーをすべて取得
                        pre.
                            hkeys user
                        p 値をすべて取得
                        pre.
                            hvals user
                        p キー、値をすべて取得
                        pre.
                            hgetall user
                        hr
                        .alert.alert-info sort
                        p String型を少ない順にソート
                        pre.
                            keys *
                            type myscore
                            lrange myscore 0 -1
                            sort myscore
                        p 多い順にソート
                        pre.
                            sort myscore desc
                        p 0番目から3つ分、多い順にソート
                        pre.
                            sort myscore desc limit 0 3
                        p List型のソート
                        pre.
                            keys *
                            lrange mycolor 0 -1
                            sort mycolor alpha
                            sort mycolor slpha desc
                        p Set型のソート
                        pre.
                            smembers myset1
                            sort myset1 alpha
                        hr
                        .alert.alert-info multi / exec
                        p: mark RDBのトランザクションに近いですが、処理の途中でサーバーがダウンした場合は途中の処理が実行されることがあります。
                        pre.
                            multi
                            処理
                            処理
                            処理
                            exec（実行）/discard（キャンセル）
                        pre.
                            multi
                            incre counter
                            incre visitor
                            exec