extends ../../layout

block link
	include ../../link2

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;Redisのインストール
					.panel-body
						.alert.alert-info Windows
						a(href='https://github.com/MSOpenTech/redis',target='_blank') https://github.com/MSOpenTech/redis 
						pre
							:code
								git clone git://github.com/SOpenTech/redis.git
						p 取得したソースのmsvs/bin/releaseにあるzipファイルを展開します。
						p redisbin.zipがRedis本体、rediswatcherbin.zipがWindowsサービスです。
						p Redis本体のディレクトリを適当な場所に移動します。
						p RedisWatcherのインストールは、InstallerWatcher.msiを実行します。この時、インストール先の確認などは何もありません。ダイアログが閉じたら完了です。デフォルトのインストール先はC:\Program Files (x86)\RedisWatcherのようです。
						p RedisWatcherの設定
						p RedisWatcherがインストールされたディレクトリにwatcher.confという設定ファイルが作られているのでエディターで開きます。
						p コメントを参考に、Redisサーバーのパスなどを正しく設定します。※個々のインスタンスのワーキング・ディレクトリは事前に作成しておく必要があるようです。
						p 設定を保存した後、Redis Watcherサービスを起動します。
						p Redisサーバーはサービスから起動されます。
						p redis-cli.exeを実行して、接続できることを確認します。
						p 接続できない場合は、RedisWatcherを見直しましょう。
						hr
						.alert.alert-info OSX
						pre
							:code
								brew install redis
						pre
							:code
								http://qiita.com/checkpoint/items/58b9b0193c0c46400eeb

								http://shimotori.github.io/blog-it/2012/08/10/1-install-redis-on-windows/
						hr
						.alert.alert-info Linux
