extends ../../layout

block link
    include ../../link2

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;RedisのCRUD
                    .panel-body
                        .alert.alert-info サーバの起動
                        p Redisサーバーの起動
                        pre
                            :code
                                redis-server
                        p 強制終了（※ データが保存されないことがある）
                        pre
                            :code
                                Ctrl + C
                        hr
                        .alert.alert-info クライアントからサーバーに接続
                        p 別のターミナルでRedisサーバーに接続
                        pre
                            :code
                                redis-cli
                        p クライアントの終了
                        pre
                            :code
                                exit
                        p クライアントからサーバーの終了（※ データが保存される）
                        pre
                            :code
                                shutdown
                        hr
                        .alert.alert-info 動作の確認
                        pre
                            :code
                                redis 127.0.0.1:6379> set key val
                                OK
                                redis 127.0.0.1:6379> get key
                                "val"
                        hr
                        .alert.alert-info データベースの選択
                        p: mark データベースは番号で管理され、名前をつけることはできません。
                        p デフォルトでは0番のデータベースに接続されていますが、以下のように切り替えることができます。
                        pre
                            :code
                                select 1
                        pre
                            :code
                                select 2
                        p とりあえず0に合わせておきましょう。
                        pre
                            :code
                                select 0
                        hr
                        .alert.alert-info データの保存
                        p Redisでは自動的にディスクに保存されますが、明示的にディスクに保存することができます。
                        pre
                            :code
                                bgsave
                        p 保存先は、Resisサーバーを起動したディレクトリに、「dump.rdb」のファイル名で保存されています。
                        p: mark Redisを起動するときは、同じディレクトリで起動する必要があります。
                        hr
                        .alert.alert-info Strig型の書き込み
                        p データの書き込み
                        pre
                            :code
                                set key value
                        p まとめて書き込み
                        pre
                            :code
                                mset key value key value ...
                        p データの取得
                        pre
                            :code
                                get key
                        p まとめてデータの取得
                        pre
                            :code
                                mget key key key ...
                        p 「name」というキーに、「nakano」という値を格納します。
                        pre
                            :code
                                set name nakano
                        p 「name」キーを取得します。
                        pre
                            :code
                                get name
                        p まとめて「email」キーと「score」キーに値を格納します。
                        pre
                            :code
                                mset email hoge@foo.com score 120
                        p キーに格納された値をまとめて取得します。
                        pre
                            :code
                                mget name email score
                        hr
                        .alert.alert-info 数値を増減する
                        p 以下のコマンドでStringに数値が格納された場合に値を増減させることができます。
                        pre
                            :code
                                incre / increby 増加幅
                                decre / decreby 減少幅
                        p 数値を1繰り上げます。
                        pre
                            :code
                                incre score
                        p 数値を取得します。
                        pre
                            :code
                                get score
                        p 数値を10減少させます。
                        pre
                            :code
                                decreby score 10
                        p 数値を取得します。
                        pre
                            :code
                                get score
                        hr
                        .alert.alert-info KEYの操作
                        p 全キー検索
                        pre
                            :code
                                keys *
                        p パターン検索
                        pre
                            :code
                                keys *m*
                        p キーの存在確認
                        pre
                            :code
                                exists score
                                exists age
                        p キーの名前を変更
                        pre
                            :code
                                set age 14
                                rename age nenrei
                                keys *
                        p キーの削除
                        pre
                            :code
                                del nenrei
                                keys *
                                set age 14
                        p キーの有効期限(５秒)
                        pre
                            :code
                                expire age 5
                                get age
                        p ランダムにキーを返す
                        pre
                            :code
                                randomkey
                        hr
                        .alert.alert-info List型の書き込み
                        pre.
                            左端に追加 lpush
                            右端に追加 rpush
                            左端を削除 lpop
                            右端を削除 rpop
                        p 要素を追加
                        pre.
                            rpush mycolor pink
                            rpush mycolor green
                            rpush mycolor red
                            rpush mycolor yellow
                            rpush mycolor blue
                            rpush mycolor purple
                        p 0番目から5番目まで取得
                        pre.
                            lrange mycolor 0 5
                        p 0番目から、最後から1番目まで取得
                        pre.
                            lrange mycolor 0 -1
                        hr
                        .alert.alert-info Set型の書き込み
                        hr
                        .alert.alert-info Sorted Set型の書き込み
                        hr
                        .alert.alert-info Hash型の書き込み
                        hr
                        .alert.alert-info sort
                        hr
                        .alert.alert-info multi / exec
