extends ../../layout

block link
	include ../../link2

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;Redis資料
					.panel-body
						h4 公式サイト
						p
							a(href='http://redis.io/',target='_blank') http://redis.io/
						h4 ドキュメント
						p
							a(href='http://redis.io/commands',target='_blank') http://redis.io/commands
						hr
						:code
							インメモリーKVS
							永続化（ディスクに書き出す）

							kvs （key value store）
							Database
							key value

							Data Type
							String 個々の要素
							List　順番に並べた複数の要素
							時系列

							set　順不同の複数の要素　重複を許さない
							タグ、ソーシャルグラフ

							Sorted Set　setの特徴をもちつつ、個々の要素にスコア付き
							ランキング

							Hash　連想配列
							わかりやすいラベルと値のセット

						.alert.alert-info インストール
						h4 OSX
						pre
							:code
								brew install redis
						pre
							:code
								http://qiita.com/checkpoint/items/58b9b0193c0c46400eeb

								http://shimotori.github.io/blog-it/2012/08/10/1-install-redis-on-windows/
						.alert.alert-info サーバの起動
						pre
							:code
								redis-server /usr/local/etc/redis.conf
						.alert.alert-info サーバーの終了
						pre
							:code
								Crtl+ C
						.alert.alert-info クライアントの起動
						pre
							:code
								redis-cli
						.alert.alert-info 終了
						pre
							:code
								exit
						.alert.alert-info クライアントからサーバーのデータをディスクに保存してサーバーを終了
						pre
							:code
								shutdown
						.alert.alert-info 接続
						pre
							:code
								redis-cli
						.alert.alert-info 確認
						pre
							:code
								redis 127.0.0.1:6379> set key val
								OK
								redis 127.0.0.1:6379> get key
								"val"
						.alert.alert-info ドットインストール
						pre
							:code
								Redis 入門
								http://dotinstall.com/lessons/basic_redis