extends ../../layout

block link
	include ../../link2

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;Redisのインストール
					.panel-body
						.alert.alert-info Windows
						a(href='https://github.com/MSOpenTech/redis',target='_blank') https://github.com/MSOpenTech/redis 
						pre
							:code
								git clone git://github.com/SOpenTech/redis.git
						hr
						.alert.alert-info OSX
						pre
							:code
								brew install redis
						pre
							:code
								http://qiita.com/checkpoint/items/58b9b0193c0c46400eeb

								http://shimotori.github.io/blog-it/2012/08/10/1-install-redis-on-windows/
						hr
						.alert.alert-info Linux
