doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
        title
        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        style
            :stylus
                body
                    background-image url("images/background.jpg")
                    background-size 100%
                    font-family sans-serif
                //.ui-body-z
                .ui-overlay-z
                    .ui-header
                        background-image url("images/header-background.jpg")
                        -webkit-background-size 100% 104px
                        background-size 100% 104px
                        position relative
                        height 104px
                        z-index 1
                        &:before
                            content url("images/header-flag.png")
                            position absolute
                            left 5px
                            top 0
                        &:after
                            content url("images/header-reef-s.png")
                            position absolute
                            right 0px
                            bottom 15px
                        h1
                            text-indent -9999px
                            background-image url("images/logo.png")
                            width 192px
                            height 15px
                            min-height 15px
                            padding 0
                            margin 23px auto 4px
                        a
                            display block
                            width 100%
                            height 100%
                        h2
                            color #6f5b00
                            font-weight normal
                            font-size 12px
                            text-align left
                            margin 0 auto
                            width 192px
                        p
                            font-size 12px
                            color #4c8d00
                            margin 0 125px 0 15px
                    .ui-content
                        position relative
                        margin-top -40px
                        z-index 2
                #index
                    //&.ui-body-z
                    &.ui-page-theme-z
                        .ui-header
                            background-image url("images/header-background-top.jpg")
                            -webkit-background-size 100% 170px
                            background-size 100% 170px
                            height 170px
                            &:after
                                content url("images/header-reef.png")
                                bottom 20px
                            h1
                                margin-bottom 18px
                            h2
                                width auto
                                margin 0 auto 5px 15px
                        .ui-content
                            margin-top -50px
    body
        #index(data-role='page', data-theme='z')
            div(data-role='header', data-theme='z')
                h1 HOUSEPLANT STORE
                h2 I LOVE HOUSEPLANT
                p sample text sample text  sampletext sample text sample text sample text
            div(data-role='content')
                h2 RECOMMEND
                .ui-grid-b.recommend
                    .ui-block-a
                        a.new(href='detail.html', rel='external')
                            img(src='images/thumbnail01.jpg', width='82', height='70', alt='')
                    .ui-block-b
                        a(href='detail.html', rel='external')
                            img(src='images/thumbnail02.jpg', width='82', height='70', alt='')
                    .ui-block-c
                        a(href='detail.html', rel='external')
                            img(src='images/thumbnail03.jpg', width='82', height='70', alt='')
                div(data-role='collapsible-set')
                    div(data-role='collapsible')
                        h3 SITE MENU 1
                        p sample text sample text    sampletext sample text sample text sample text
                        p sample text sample text    sampletext sample text sample text sample text
                    div(data-role='collapsible')
                        h3 SITE MENU 2
                        p sample text sample text    sampletext sample text sample text sample text
                        p sample text sample text    sampletext sample text sample text sample text
                    div(data-role='collapsible')
                        h3 SITE MENU 3
                        p sample text sample text    sampletext sample text sample text sample text
                        p sample text sample text    sampletext sample text sample text sample text
                    div(data-role='collapsible')
                        h3 SITE MENU 4
                        p sample text sample text    sampletext sample text sample text sample text
                        p sample text sample text    sampletext sample text sample text sample text
            div(data-role='footer', data-theme='z')
                small Copyright © 2011 ASCII MEDIA WORKS. All rights reserved.