doctype
html(lang='ja-JP')
    head
        meta(charset='utf-8')
        title
    body
        p
            | メールアドレス：
            input(type='text', name='name')
        p: input(type='button', value='確認')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='script.js')
