!!!
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		title
	body
		canvas#myCanvas(width='500',height='500')
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script.
			$(function(){
				var canvas = $('#myCanvas');
				var context = canvas.get(0).getContext('2d');

				context.setTransform(1, 0, 0, 1, 0, 0); //単位行列
				var xScale = Math.cos(0.7854);
				var ySkew = -Math.sin(0.7854);
				var xSkew = Math.sin(0.7854);
				var yScale = Math.cos(0.7854);
				var xTrans = 200;
				var yTrans = 200;
				context.transform(xScale, ySkew, xSkew, yScale, xTrans, yTrans);
				context.fillRect(-50, -50, 100, 100);
			});