!!!
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		title
	body
		canvas#myCanvas(width='500',height='500')
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script.
			$(function(){
				var canvas = $('#myCanvas');
				var context = canvas.get(0).getContext('2d');

				context.save();
				context.fillRect(50, 50, 100, 100);

				context.fillStyle = 'rgb(255, 0, 0)';
				context.fillRect(100, 100, 100, 100);

				context.restore();
				context.fillRect(150, 150, 100, 100);

				var dataURL = canvas.get(0).toDataURL();
				var img = $('<img>');
				img.attr('src', dataURL);

				canvas.replaceWith(img);
			});