doctype xml
colors
    color
        name 赤色
        colorname red
        colorcode #ff0000
    color
        name 青色
        colorname blue
        colorcode #0000FF
    color
        name 緑色
        colorname green
        colorcode #008000
