doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet', href='css/style1.css')
    body
        ul
            li
                a(href='#')
                    img.rollover(src='img/jquery.jpg', alt='jQuery')           
            li
                a(href='#')
                    img.rollover(src='img/javascript.jpg', alt='javascript')           
            li
                a(href='#')
                    img.rollover(src='img/css.jpg', alt='CSS')           
            li
                a(href='#')
                    img.rollover(src='img/html.jpg', alt='HTML')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/jquery.rollover.js')
        script(src='js/script1.js')
