doctype
html(lang='ja-JP')
 head
  meta(charset='UTF-8')
  title
 body
  input(type='button', name='', value='クリック')
  a(href='http://www.yahoo.co.jp/') Yahoo!
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='script.js')