#box {
	width : 320px;
	height : 240px;
	border:2px solid red;
	-webkit-transition: height 3s linear 1s;
	-moz-transition: height 3s linear 1s;
	transition: height 3s linear 1s;
}
#box:hover {
	height: 40px;
}
