doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		h1 mouseover()/mouseout()イベント
		#mouseover
			| 親
			div 子
		h1 mouseenter()/mouseleave()イベント
		#mouseenter
			| 親
			div 子
		h1 hover()イベント
		#hover
			| 親
			div 子
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
