size = 200px

#mouseover,#mouseenter,#hover
	position relative
	width  size
	height @width
	background-color #f00
	line-height @width
	text-align center
	div
		position absolute
		top 0
		left size
		width (size/2)
		height @width
		background-color #f00 + #00f
		cursor pointer
		line-height @width
		text-align center
