doctype
html(lang='ja-JP')
 head
  meta(charset='UTF-8')
  title
  link(rel='stylesheet', href='style.css')
 body
  p
   b テキスト
   i テキスト
   u テキスト
   s テキスト
  span
  input(type='button',value='click')
  script(src='http://code.jquery.com/jquery-1.11.0.min.js')
  script(src='script.js')