#box {
	width : 300px;
	border:2px solid red;
	background-color: yellow;
	-moz-animation: boxresize 4s linear 0s infinite alternate;
	-webkit-animation: boxresize 14s linear 0s infinite alternate;
	-o-animation: boxresize 14s linear 0s infinite alternate;
	animation: boxresize 4s linear 0s infinite alternate;
}
@keyframes boxresize {
	0% { width: 100px; }
	100% { width:320px; }
}
@-moz-keyframes boxresize {
	0% { width: 100px; }
	100% { width:320px; }
}
@-webkit-keyframes boxresize {
	0% { width: 100px; }
	100% { width:320px; }
}
@-o-keyframes boxresize {
	0% { width: 100px; }
	100% { width:320px; }
}
