extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Jasmine資料
                    .panel-body
                        h4 クライアントサイドテスト
                        p
                            | 公式サイト
                            br
                            a(href='http://jasmine.github.io/',target='_blank')
                                | http://jasmine.github.io/
                        p
                            | APIドキュメント
                            br
                            a(href='http://jasmine.github.io/2.0/introduction.html',target='_blank')
                                | http://jasmine.github.io/2.0/introduction.html
                        hr
                        h4 サーバーサイドテスト
                        p: u jasmine-node
                        p
                            | 公式サイト
                            br
                            a(href='https://github.com/mhevery/jasmine-node',target='_blank')
                                | https://github.com/mhevery/jasmine-node
                        h4 インストール
                        pre
                            | (sudo )npm install -g jasmine-node
                        hr
                        h4 その他のテスト・ツール
                        pre
                            :code
                                PhantomJS
                                http://phantomjs.org/

                                Qunit
                                http://qunitjs.com/