@import url(http://fonts.googleapis.com/css?family=Passion+One:400,700);

body	{font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;
	margin: 0;
	padding: 0;
	background: #f2ebdc;}



body > header	{border-bottom: solid 1px #aaa;
	background: white;
	overflow: hidden;
	box-shadow: 0px 0px 6px #aaa;}

body > header #header_inner	{width: 1000px;
	margin: auto;}

body > header h1	{margin: 5px 0 0;
	line-height: 1;
	float: left;}

body > header h1 img	{vertical-align: bottom;
	height: 42px;}

body > header ul	{margin: 21px 0 0;
	padding: 0;
	float: right;}

body > header li	{list-style-type: none;
	border-right: solid 1px #aaa;
	float: left;}

body > header li a	{display: block;
	width: 120px;
	height: 22px;
	padding: 0;
	font-size: 14px;
	color: black;
	text-align: center;
	text-decoration: none;
	border-bottom: solid 4px transparent;}

body > header li:first-child	{border-left: solid 1px #aaa;}

body > header li a:hover	{border-bottom: solid 4px red;}




#main	{width: 1000px;
	margin: 30px auto 10px;}

article	{border: solid 1px #aaa;
	background: white;
	padding: 20px;}

article h1	{font-family: 'Passion One', Verdana, Helvetica, sans-serif;
	font-size: 56px;
	margin: 0;
	background-color: white;}

article section h1	{font-size: 24px;
	margin: 34px 0 0;
	border-left: solid 18px #8e702f;
	padding: 2px 0 2px 8px;}

article h2	{font-size: 16px;
	color: #666;
	margin: 0 0 5px;}

article time	{font-family: Verdana, Helvetica, sans-serif;
	display: block;
	margin: 10px 0;}

article p	{text-align: left;
	margin: 20px auto;
	line-height: 1.4;
	background-color: white;}


aside	{border: solid 1px #aaa;
	background: white;
	margin: 0 0 20px 0;
	padding: 20px;
	font-family: 'Passion One', Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #8e702f;}

aside	{width: 960px;
	padding: 10px 20px;
	margin: 10px auto;}

aside #iconmenu	{display: inline;
	margin: 5px 0 0 5px;
	padding: 0;}

aside #iconmenu li	{display: inline;
	list-style-type: none;}

aside #iconmenu img	{border: none;}

aside img	{vertical-align: -25%;}



footer	{width: 1000px;
	margin: auto;
	padding-bottom: 20px;}


/* フォーム */
dialog	{text-align: center;}
dialog h1	{font-family: 'Passion One', Verdana, Helvetica, sans-serif;
	font-size: 36px;
	margin: 0;
	background-color: white;
	text-align: center;}

form	{width: 500px;
	margin: 30px auto;
	text-align: left;}

form p	{margin: 10px 0;
	line-height: 1.7;}

label	{border-left: solid 10px #d2bc8c;
	padding: 2px 8px;}

input, textarea	{width: 500px;}

dialog a	{border: solid 1px black;
	padding: 5px;
	font-size: smaller;}
