!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%meta(name="apple-mobile-web-app-capable" content="yes")
		%script(src="enchant.min.js")
		:javascript
			enchant();
			window.onload = function() {
				var core = new Core(320, 320);

				core.onload = function() {
					var scene = core.rootScene;

					scene.backgroundColor = "blue";
				}
				core.start();
			};
		:scss
			body {
				margin: 0;
			}
	%body

