doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p
			input(type='button', value='山')
			input(type='button', value='田')
		table(border='1')
			tr
				td 佐藤
				td 鈴木
				td 高橋
				td
					span 田中
				td 渡辺
			tr
				td 伊藤
				td 山本
				td 中村
				td 小林
				td 加藤
			tr
				td
					span 吉田
				td
					span 山田
				td 佐々木
				td 斎藤
				td 山口
			tr
				td 松本
				td 井上
				td 木村
				td 林
				td 清水
			tr
				td 山崎
				td
					span 池田
				td 阿部
				td 橋本
				td 山下
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
