doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		- var file = ['jpg','gif','png']
		p
			input(type='button',value='削除')
			input(type='button',value='リセット')
		p
			-for(var i = 0; i < 3; i++)
				img(src='img/#{file[i]}.#{file[i]}')
				img(src='images/#{file[i]}.#{file[i]}')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
