btn_w = 179px
btn_h = 48px

body
    margin 0

#container
    margin 0 auto
    width btn_w * 3

ul
    margin-top 0
    margin-bottom 0
    padding-left 0
    list-style-type none
    &.menu li
        float left
        width btn_w
        height btn_h
        background-image url("../img/btn.png")
