btn_w = 179px
btn_h = 48px

body
    margin 0

#container
    margin 0 auto
    width btn_w * 3

ul
    margin-top 0
    margin-bottom 0
    padding-left 0
    list-style-type none
    &.menu
        zoom 1
    &.menu:after
        content "."
        display block
        clear both
        visibility hidden
        height 0
    &.menu li
        position relative
        float left
        width btn_w
        height btn_h
        background-image url("../img/btn.png")
        a
            position relative
            display block
            width 100%
            height 100%
            line-height btn_h
            text-indent 30px
            font-weight bold
            color #CFDFB5
            text-decoration none
        a:hover
            background-image url("../img/btn_over.png")
    &.sub li
        float none
        ul.sub
            position absolute
            left btn_w
            top 0