!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%meta(name="apple-mobile-web-app-capable" content="yes")
		%script(src="enchant.min.js")
		:javascript
			enchant();

			var SCREEN_WIDTH = 320;
			var SCREEN_HEIGHT = 320;
			var SAMPLE_BGM = 'http://www.hmix.net/music/c/c6.mp3';

			window.onload = function() {
			    var core = new Core(SCREEN_WIDTH, SCREEN_HEIGHT);

			    core.preload(SAMPLE_BGM);
				
			    core.onload = function() {
			    	
					var scene = core.rootScene;

					scene.backgroundColor = 'black';
					
					scene.onenterframe = function(){
						core.assets[SAMPLE_BGM].play();
					};
			    };
			    core.start();
			};
		:scss
			body {
				margin: 0;
			}
	%body

