doctype
html
    head
        meta(charset='UTF-8')
        title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script
            :js
                (function(){
                    $(function(){
                        $('input').click(function(){
                            $.ajax({
                                url: 'sample.xml',
                                type: 'GET',
                                data: '',
                                success: function(data){
                                    $('div').html('<ul></ul>');
                                    $(data).find('sort[type="1"]').each(function(){
                                        $('div ul')
                                            .append('<li>' + $('text1',this).attr('data') + '</li>')
                                            .append('<li>' + $('text2',this).attr('data') + '</li>')
                                            .append('<li>' + $('text3',this).attr('data') + '</li>');
                                    });
                                }
                            });
                        });
                    });
                })()
    body
        input(type='button', value='変更')
        div
            | 変更前
