doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		ul
			-for(var i = 0; i < 2; i++)
				li <b><i>テキスト</i></b>テキスト<b><i>テキスト</i></b>テキスト
				li <i>テキスト</i>テキスト<i>テキスト</i>テキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
