!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%link(rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css")
		%script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		%script(src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js")
		%title
			スマートフォンサイト
		:javascript
			//jQuery Mobileのウィジェットが生成される前

			//StorageがないときPCサイトを表示
			if(!localStorage.access){

				//ユーザーエージェントがスマートフォンでなければPCサイトを表示
				if(navigator.userAgent.indexOf('Android') == -1 && navigator.userAgent.indexOf('iPhone') == -1 && navigator.userAgent.indexOf('iPod') == -1){
					window.location.href = 'pc.html';
				}
				//それ以外はStorageにmobileを記録
				else{
					localStorage.access = 'mobile';
				}
			}

			//StorageがpcのときPCサイトを表示
			else if(localStorage.access == 'pc'){
				window.location.href = "pc.html";
			}
			
			//jQuery Mobileのウィジェットが生成された後
			$(document).on('pageshow','#index',function(){
				//ボタンが押されたとき
				$("a").click(function(){
					localStorage.access = 'pc';
					window.location.href = 'pc.html';
				});
			});	
		:scss
	%body
		%div(data-role="page" id="index")
			%div(data-role="header")
				%h1
					スマートフォンサイト
			%div(data-role="content")
				%p
					%a(data-role="button" href="#")
						PCサイトへ
			%div(data-role="footer" data-position="fixed")
				%h4
					Copyright &copy; ナカノヨウスケ


