!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%title
			PCサイト
		%script(src="http://code.jquery.com/jquery-1.10.2.min.js")
		:javascript
			//DOMが構築される前

			//Storageがないとき
			if(!localStorage.access){

				//ユーザーエージェントがスマートフォンならスマートフォンサイトを表示
				if(navigator.userAgent.indexOf("Android") != -1 || navigator.userAgent.indexOf("iPhone") != -1 || navigator.userAgent.indexOf("iPod") != -1){
					window.location.href = "mobile.html";
				}
				//それ以外はStorageにpcを記録
				else{
					localStorage.access = 'pc';
				}
			}

			//Storageがmobileのときスマートフォンサイトサイトを表示
			else if(localStorage.access == "mobile"){
				window.location.href = "mobile.html";
			}
			
			//DOMが構築された後
			$(function(){
				//ボタンが押されたとき
				$("a").click(function(){
					localStorage.access = "mobile"
					window.location.href = "mobile.html";
				});
			});
		:scss
	%body
		%h1
			PCサイト
		%P
			%a(href="#")
				スマートフォンサイトへ

