doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet', href='style.css')
	body
		h1 変更前
		p
			input#before(type='button',value='変更前',title='img/before.png')
			input#after(type='button',value='変更後',title='img/after.png')
		p
			img(src='img/before.png')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')