doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		p#first 置換前
		p: input(type='button',value='クリック')
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='script.js')