!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%link(rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css")
		%script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		%script(src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js")
		%title
			ランダムイメージ
		:javascript
			(function(){
				$(document).on('pageshow','#index',function(){
					
					$('a').on('vclick',function(){
						var num = parseInt($('input[type="radio"]:checked').val());
						randomImage(num);
						$('form').remove();
						$(this).remove();
					});

					//画像削除
					$('#index').on('vclick','img',function(){
						$(this).remove();
					});
					
					function randomImage(num){
						for(var i = 0; i < num; i++){
							$('#canvas').append('<img src="kumamon.gif" alt="">');
							$('img:nth(' + i + ')').css({
								top: Math.floor(Math.random() * (480-64)),
								left: Math.floor(Math.random() * (innerWidth-64)),
							});
						}
					}
				});
			})();
		:scss
			$size:64px;
			[data-role="content"]{
				#canvas{
					position:relative;
					height:480px;
				}
				img{
					width:$size;
					height:$size;
					position:absolute;
				}
			}
	%body
		%div(data-role="page" id="index")
			%div(data-role="header")
				%h1
					ランダムイメージ
			%div(data-role="content")
				%form
					%fieldset(data-role="controlgroup")
						%legend
							レベル:
						%input(type="radio" name="level" id="l1" value="10" checked="checked")
						%label(for="l1")
							10体
						%input(type="radio" name="level" id="l2" value="20")
						%label(for="l2")
							20体
						%input(type="radio" name="level" id="l3" value="30")
						%label(for="l3")
							30体
				%a(data-role="button")
					スタート
				%div#canvas
			%div(data-role="footer" data-position="fixed")
				%h4
					Copyright &copy; ナカノヨウスケ
