extends ../../layout

block link
	link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../../css/style.css',rel='stylesheet',media='screen')
	link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;RequireJSの設定
					.panel-body
						p
							a.btn.btn-default(href='../demo/require/sample1/index.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
						p
							a.btn.btn-default(href='../demo/require/sample2/index.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ