doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		meta(name='viewport',content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0')
		title
		link(rel='stylesheet',href='css/style12.css')
		link(rel='stylesheet',href='css/responsive-tables.css')
	body#detail
		header#header
			h1
				span 変なTシャツ作ってます
				span T-Shirts Project
		#container
			//▼ pankuzu ▼
			.pankuzu
				ol
					li
						a(href='#')
							span.icon-right-open TOP
					li
						a(href='#')
							strong Men
			//▼ product_detail ▼
			section.product_detail
				.photos
					.main: img(src='images/photo.jpg',alt='')
					.t-shirts: img(src='images/t06.png',alt='')
				h1 PRAY T-shirts
				p.expl それぞれの祈りは重なり合いながらゆっくり時間をかけ、静かな街の希望に変わっていく。
				p.price &yen;3,800
			//▼ cart_box ▼
			.cart_box
				form(action='./',method='post')
					ul.cf
						li
							span サイズ
							select#product_size(name='size')
								option(value='S') S
								option(value='M') M
								option(value='L') L
								option(value='LL') LL
						li
							span 数量
							select#product_quantity(name='quantity')
								option(value='01') 01
								option(value='02') 02
								option(value='03') 03
								option(value='04') 04
								option(value='05') 05
					p
						button(type='submit',name='submit')
							span.icon-basket カートに入れる 
			//▼ size_table ▼
			section.size_table_section
				h1 サイズについて<span>(表部分はスクロールが可能です。)</span>
					table.size_table.responsive
						thead
							tr
								th Size(cm)
								th SS
								th S
								th M
								th L
								th XL
								th XXL
						tbody
							tr
								th 身丈
								td
									| 61.0
									td 65.0
									td 69.0
									td 72.0
									td 75.0
									td 80.0
							tr
								th 身幅
								td 40.0
								td 46.5
								td 68.0
								td 52.0
								td 70.0
								td 75.0
							tr
								th 袖丈
								td 58.0
								td 60.5
								td 62.5
								td 65.0
								td 68.0
								td 71.0
							tr
								th 肩幅
								td 38.0
								td 41.5
								td 43.0
								td 44.5
								td 46.0
								td 50.0
		footer#footer フッター
		script(src='http://code.jquery.com/jquery-2.1.0.min.js')
		script(src='js/action.js')
		script(src='js/responsive-tables.js')