doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		meta(name='viewport',content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0')
		title
		link(rel='stylesheet',href='css/style7.css')
		link(rel='stylesheet',href='css/responsive-tables.css')
	body#detail
		header#header
			h1
				span 変なTシャツ作ってます
				span T-Shirts Project
		#container
			//▼ pankuzu ▼
			.pankuzu
				ol
					li
						a(href='#')
							span.icon-right-open TOP
					li
						a(href='#')
							strong Men
		footer#footer フッター
		script(src='http://code.jquery.com/jquery-2.1.0.min.js')
		script(src='js/action.js')
		script(src='js/responsive-tables.js')