doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		div
		h1 テキストテキストテキストテキスト
		p
			| テキストテキストテキストテキスト<br>
			| テキストテキストテキストテキスト<br>
			| テキストテキストテキストテキスト<br>
			| テキストテキストテキストテキスト
		div
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
