prefix(prop, val)
    -webkit-{prop} val
    {prop} val

html,body
    height 100%
body
    margin 0

div
    position fixed
    width 100%
    height 50%
    background-color gray
    prefix('transition-property', all)  
    prefix('transition-duration', 5s)
    prefix('transition-timing-function', ease-in-out)
    &.top
        top 0
        left 0
    &.bottom
        top 50%
        left 0
    &.top.after
        top -50%
        left 0
    &.bottom.after
        top 100%
        left 0