doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style9.css')
    body
        #container
            ul.tab
                li
                    a.selected(href='data/javascript.txt') JavaScript
                li
                    a(href='data/css.txt') CSS
                li
                    a(href='data/html.txt') HTML
                li
                    a(href='data/jquery.txt') jQuery
                li
                    a(href='data/xhtml.txt') XHTML
            p.panel
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script9.js')
