div.list-group
      a.list-group-item(href='canvas35.jade')
            i.badge.badge-info
            | コア機能を準備する
      a.list-group-item(href='canvas36.jade')
            i.badge.badge-info
            | 画面を飾る
      a.list-group-item(href='canvas37.jade')
            i.badge.badge-info
            | JavaScriptの準備をする
      a.list-group-item(href='canvas38.jade')
            i.badge.badge-info
            | ユーザーインターフェースをアクティブにする
      a.list-group-item(href='canvas39.jade')
            i.badge.badge-info
            | フィールドを作る
      a.list-group-item(href='canvas40.jade')
            i.badge.badge-info
            | アステロイドをセットアップする
      a.list-group-item(href='canvas41.jade')
            i.badge.badge-info
            | プレーヤーアステロイドをセットアップする
      a.list-group-item(href='canvas42.jade')
            i.badge.badge-info
            | UIを更新する
      a.list-group-item(href='canvas43.jade')
            i.badge.badge-info
            | オブジェクトを動かす