extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;グラデーション
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index30.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre.prettyprint.linenums
                            | &lt;!DOCTYPE html&gt;
                            | &lt;html lang="ja"&gt;
                            |   &lt;head&gt;
                            |     &lt;meta charset="utf-8"&gt;
                            |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            |     &lt;title&gt;&lt;/title&gt;
                            |   &lt;/head&gt;
                            |   &lt;body&gt;
                            |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                            |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            |     &lt;script&gt;
                            |       $(function(){
                            |        var canvas = $('#myCanvas');
                            |        var context = canvas.get(0).getContext('2d');
                            |        
                            |        var gradient = context.createLinearGradient(0, 0, 0, canvas.height());
                            |        gradient.addColorStop(0, 'rgb(0, 0, 0');
                            |        gradient.addColorStop(1, 'rgb(255, 255, 255');
                            |        
                            |        context.fillStyle = gradient;
                            |        context.fillRect(0, 0, canvas.width(), canvas.height());
                            |       });
                            |     &lt;/script&gt;
                            |   &lt;/body&gt;
                            | &lt;/html&gt;
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index31.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre.prettyprint.linenums
                            | &lt;!DOCTYPE html&gt;
                            | &lt;html lang="ja"&gt;
                            |   &lt;head&gt;
                            |     &lt;meta charset="utf-8"&gt;
                            |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            |     &lt;title&gt;&lt;/title&gt;
                            |   &lt;/head&gt;
                            |   &lt;body&gt;
                            |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                            |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            |     &lt;script&gt;
                            |       $(function(){
                            |        var canvas = $('#myCanvas');
                            |        var context = canvas.get(0).getContext('2d');
                            |        
                            |        //createRadialGradient(x0, y0, r0, x1, y1, r0)
                            |        var gradient = context.createRadialGradient(300, 300, 10, 100, 100, 50);
                            |        gradient.addColorStop(0, 'rgb(0, 0, 0)');
                            |        gradient.addColorStop(1, 'rgb(150, 150, 150)');
                            |        
                            |        context.fillStyle = gradient;
                            |        context.fillRect(0, 0, canvas.width(), canvas.height());
                            |       });
                            |     &lt;/script&gt;
                            |   &lt;/body&gt;
                            | &lt;/html&gt;
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index32.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre.prettyprint.linenums
                            | &lt;!DOCTYPE html&gt;
                            | &lt;html lang="ja"&gt;
                            |   &lt;head&gt;
                            |     &lt;meta charset="utf-8"&gt;
                            |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            |     &lt;title&gt;&lt;/title&gt;
                            |   &lt;/head&gt;
                            |   &lt;body&gt;
                            |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                            |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            |     &lt;script&gt;
                            |       $(function(){
                            |        var canvas = $('#myCanvas');
                            |        var context = canvas.get(0).getContext('2d');
                            |        
                            |        var canvasCenterX = canvas.width()/2;
                            |        var canvasCenterY = canvas.height()/2;
                            |        
                            |        var gradient = context.createRadialGradient(canvasCenterX, canvasCenterY, 0, canvasCenterX, canvasCenterY, 250);
                            |        gradient.addColorStop(0, 'rgb(0, 0, 0)');
                            |        gradient.addColorStop(1, 'rgb(150, 150, 150)');
                            |        
                            |        context.fillStyle = gradient;
                            |        context.fillRect(0, 0, canvas.width(), canvas.height());
                            |       });
                            |     &lt;/script&gt;
                            |   &lt;/body&gt;
                            | &lt;/html&gt;