include ../../head2
    body
        include navbar
        .container
            .row
                .col-sm-3
                    include left
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            &nbsp;描画状態の保存／復元 
                        .panel-body
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise2/index1.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype html
                                    html(lang='ja')
                                        head
                                            meta(charset='utf-8')
                                            meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                            title
                                        body
                                            canvas#myCanvas(width='500',height='500')
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script
                                                :js
                                                    (function(){
                                                        $(function(){
                                                            var canvas = $('#myCanvas');
                                                            var context = canvas.get(0).getContext('2d');

                                                            context.fillStyle = 'rgb(255, 0, 0)';
                                                            context.save(); //キャンバスの状態を保存する
                                                            context.fillRect(50, 50, 100, 100); //赤い正方形
                                                        });
                                                    })()
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise2/index2.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype html
                                    html(lang='ja')
                                        head
                                            meta(charset='utf-8')
                                            meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                            title
                                        body
                                            canvas#myCanvas(width='500',height='500')
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script
                                                :js
                                                    (function(){
                                                        $(function(){
                                                            var canvas = $('#myCanvas');
                                                            var context = canvas.get(0).getContext('2d');

                                                            context.fillStyle = 'rgb(255, 0, 0)';
                                                            context.save(); //キャンバスの状態を保存する
                                                            context.fillRect(50, 50, 100, 100); //赤い正方形

                                                            context.fillStyle = 'rgb(0, 0, 255)';
                                                            context.fillRect(200, 50, 100, 100);
                                                        });
                                                    })()
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise2/index3.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype html
                                    html(lang='ja')
                                        head
                                            meta(charset='utf-8')
                                            meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                            title
                                        body
                                            canvas#myCanvas(width='500',height='500')
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script
                                                :js
                                                    (function(){
                                                        $(function(){
                                                            var canvas = $('#myCanvas');
                                                            var context = canvas.get(0).getContext('2d');

                                                            context.fillStyle = 'rgb(255, 0, 0)';
                                                            context.save(); //キャンバスの状態を保存する
                                                            context.fillRect(50, 50, 100, 100); //赤い正方形

                                                            context.fillStyle = 'rgb(0, 0, 255)';
                                                            context.fillRect(200, 50, 100, 100); //青い正方形

                                                            context.restore(); //描画状態を復元する
                                                            context.fillRect(350, 50, 100, 100); //赤い正方形
                                                        });
                                                    })()
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise2/index4.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype html
                                    html(lang='ja')
                                        head
                                            meta(charset='utf-8')
                                            meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                            title
                                        body
                                            canvas#myCanvas(width='500',height='500')
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script
                                                :js
                                                    (function(){
                                                        $(function(){
                                                            var canvas = $('#myCanvas');
                                                            var context = canvas.get(0).getContext('2d');

                                                            context.fillStyle = 'rgb(255, 0, 0)';
                                                            context.save(); //キャンバスの状態を保存する
                                                            context.fillRect(50, 50, 100, 100); //赤い正方形

                                                            context.fillStyle = 'rgb(0, 0, 255)';
                                                            context.save(); //キャンバスの状態を保存する
                                                            context.fillRect(200, 50, 100, 100); //青い正方形

                                                            context.restore(); //描画状態を復元する
                                                            context.fillRect(350, 50, 100, 100); //青い正方形
                                                        });
                                                    })()
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise2/index5.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype html
                                    html(lang='ja')
                                        head
                                            meta(charset='utf-8')
                                            meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                            title
                                        body
                                            canvas#myCanvas(width='500',height='500')
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script
                                                :js
                                                    (function(){
                                                        $(function(){
                                                            var canvas = $('#myCanvas');
                                                            var context = canvas.get(0).getContext('2d');

                                                            context.fillStyle = 'rgb(255, 0, 0)';
                                                            context.save(); //キャンバスの状態を保存する
                                                            context.fillRect(50, 50, 100, 100); //赤い正方形

                                                            context.fillStyle = 'rgb(0, 0, 255)';
                                                            context.save(); //キャンバスの状態を保存する
                                                            context.fillRect(200, 50, 100, 100); //青い正方形

                                                            context.restore(); //描画状態を復元する
                                                            context.fillRect(350, 50, 100, 100); //青い正方形

                                                            context.restore(); //描画状態を復元する
                                                            context.fillRect(50, 200, 100, 100); //赤い正方形
                                                        });
                                                    })()
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')