include ../../head.jade
    body
        include navbar.jade
        div.container
            div.row
                div.col-sm-3
                    div.list-group
                        a.list-group-item(href='canvas35.jade')
                              i.badge.badge-info
                              | コア機能を準備する
                div.col-sm-9
                    div.panel.panel-primary
                        div.panel-heading コア機能を準備する
                        div.panel-body
                            h4 ゲームの概要
                            p スペースボーリングゲームは、丸いフィールド（訳注：コードのなかではplatformと呼ばれています）に静止状態で配置された一連のアステロイドから構成されます。プレイヤーは、この大きなアステロイドをほかの小さなアステロイド群に向かって投げ、できるだけ多くのアステロイドをフィールドから弾き出します。すべてのアステロイドをフィールドから弾き出せばゲームに勝つことができます。スコアは、ゲームに勝つまでに何回ボールを投げたかによって決まります。昔から親しまれているボウリングやビー玉遊びがベースになっているからだと思いますが、ばかばかしく単純なわりには病みつきになります。
                            p
                                a.btn.btn-default(href='demo/canvas/exercise6/index.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            h4 要件
                            p このゲームを作るためには、この本全体で学んできたさまざまなスキルが必要です。JavaScript、キャンバスへの描画、アニメーション、物理について学んだすべてのことが使われます。また、ユーザーインターフェースの構築とかキャンバスに描かれるオブジェクトのマウス入力による制御といった、まだ詳しく説明していないテクニックも必要になります。今までに学んだすべてのことを組み合わせたときに得られる結果がいかに強力なものかが、明らかになるはずです。
                            p 早く作ってみたくてうずうずしているでしょう。早速始めます。
                            h4 コア機能を準備する
                            p 面白い部分を作るためには、しっかりとした基礎を作っておく必要があります。スペースボウリングゲームの場合、基礎とはみなさんがあとで高度な機能を支える基本的なHTML、CSS、JavaScriptのコードのことです。
        div#footer=title
        script(src='http://code.jquery.com/jquery.js')
        script(src='js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='js/bootstrap.min.js')
        script(src='js/list-counter.js')