
extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;ビデオの操作
                    .panel-body
                        h4 HTML5 Video要素を作る
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/example.mp4', download='example.mp4')
                                i.glyphicon.glyphicon-cloud-download
                                |  example.mp4
                            |  
                            a.btn.btn-default(href='../demo/canvas/exercise3/example.ogg', download='example.ogg')
                                i.glyphicon.glyphicon-cloud-download
                                |  example.ogg
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index20.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        video#myVideo(width='500',height='281',controls)
                                            source(src='example.mp4',type='video/mp4')
                                            source(src='example.ogg',type='video/ogg')
                        h4 HTML5ビデオAPIにアクセスする
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index21.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        video#myVideo(width='500',height='281',controls)
                                            source(src='example.mp4',type='video/mp4')
                                            source(src='example.ogg',type='video/ogg')
                                        div
                                            button#play Play
                                            button#stop Stop
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    var video = $('#myVideo');

                                                    $('#play').click(function(){
                                                        video.get(0).play();
                                                    });

                                                    $('#stop').click(function(){
                                                        video.get(0).pause();
                                                    });
                                                })()
                        h4 読み込んだビデオにモザイク
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index22.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='281')
                                            video#myVideo(width='500',height='281',controls)
                                                source(src='example.mp4',type='video/mp4')
                                                source(src='example.ogg',type='video/ogg')
                                        div
                                            button#play Play
                                            button#stop Stop
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function() {    
                                                        var video = $('#myVideo');

                                                        $('#play').click(function() {
                                                            video.get(0).play();
                                                        });

                                                        $('#stop').click(function() {
                                                            video.get(0).pause();
                                                        });        

                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //ビデオ再生開始時に1度、ビデオのピクセル値からモザイクを生成
                                                        video.bind('play', function() {
                                                            <mark>drawCanvas()</mark>;
                                                        });

                                                        //ビデオのピクセル値からモザイクを生成する関数
                                                        function <mark>drawCanvas()</mark> {
                                                            if (video.get(0).paused || video.get(0).ended)
                                                                return false;

                                                            //読み込んだビデオの描画
                                                            context.drawImage(video.get(0), 0, 0, 500, 281);

                                                            ///ビデオのピクセル値を取得
                                                            var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());

                                                            //ピクセル値を配列に格納
                                                            var pixels = imageData.data;

                                                            //描画したビデオを削除
                                                            context.clearRect(0, 0, canvas.width(), canvas.height());

                                                            //モザイク模様のタイルの数を決める
                                                            var numTileRows = 36; //縦方向
                                                            var numTileCols = 64; //横方向

                                                            //個々のタイルのサイズ
                                                            //1つのタイルの幅を計算
                                                            /***
                                                            ピクセルデータ全体の幅から一列のタイルの数で割る
                                                            */
                                                            var tileWidth = imageData.width/numTileCols;
                                                            //タイルの高さを計算
                                                            /***
                                                            ピクセルデータ全体の高さから一行のタイルの数で割る
                                                            */
                                                            var tileHeight = imageData.height/numTileRows;

                                                            /* 行方向のタイルの数だけループ */
                                                            for (var r = 0; r < numTileRows; r++) {

                                                                /* 列方向のタイルの数だけループ */
                                                                for (var c = 0; c < numTileCols; c++) {

                                                                    //それぞれのタイルの中央のx座標取得
                                                                    /***
                                                                    (c*tileWidth) ... 横方向何個目のタイルか
                                                                    tileWidth/2 ... タイルの幅の中心
                                                                    */
                                                                    var x = (c*tileWidth)+(tileWidth/2);

                                                                    //それぞれのタイルの中央のy座標取得
                                                                    /***
                                                                    (r*tileWidth) ... 縦方向何個目のタイルか
                                                                    tileHeight/2 ... タイルの高さの中心
                                                                    */
                                                                    var y = (r*tileHeight)+(tileHeight/2);

                                                                    //タイルのx座標、y座標のピクセルデータのインデックスを取得
                                                                    var pos = (Math.floor(y)*(imageData.width*4))+(Math.floor(x)*4);

                                                                    //取得したインデクスのピクセルデータのRGB値を格納
                                                                    var red = pixels[pos];
                                                                    var green = pixels[pos+1];
                                                                    var blue = pixels[pos+2];

                                                                    //RGB値をスタイルにセット
                                                                    context.fillStyle = 'rgb('+red+', '+green+', '+blue+')';

                                                                    //それぞれのタイルとなる矩形を描画
                                                                    context.fillRect(x-(tileWidth/2), y-(tileHeight/2), tileWidth, tileHeight);
                                                                }
                                                            }

                                                            //ビデオの1フレーム毎にモザイクを再描画1000ms / 30fps
                                                            setTimeout(<mark>drawCanvas</mark>, 33);
                                                        }
                                                    });
                                                })()

                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index23.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='281')
                                            video#myVideo(width='500',height='281',controls)
                                                source(src='example.mp4',type='video/mp4')
                                                source(src='example.ogg',type='video/ogg')
                                        div
                                            button#play Play
                                            button#stop Stop
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function() {    
                                                        var video = $('#myVideo');

                                                        $('#play').click(function() {
                                                            video.get(0).play();
                                                        });

                                                        $('#stop').click(function() {
                                                            video.get(0).pause();
                                                        });        

                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        video.bind('play', function() {
                                                            drawCanvas();
                                                        });

                                                        function drawCanvas() {
                                                            if (video.get(0).paused || video.get(0).ended)
                                                                return false;

                                                            context.drawImage(video.get(0), 0, 0, 500, 281);

                                                            var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());
                                                            var pixels = imageData.data;

                                                            context.clearRect(0, 0, canvas.width(), canvas.height());

                                                            var numTileRows = 36;
                                                            var numTileCols = 64;

                                                            var tileWidth = imageData.width/numTileCols;
                                                            var tileHeight = imageData.height/numTileRows;

                                                            for (var r = 0; r < numTileRows; r++) {
                                                                for (var c = 0; c < numTileCols; c++) {
                                                                    var x = (c*tileWidth)+(tileWidth/2);
                                                                    var y = (r*tileHeight)+(tileHeight/2);

                                                                    var pos = (Math.floor(y)*(imageData.width*4))+(Math.floor(x)*4);

                                                                    var red = pixels[pos];
                                                                    var green = pixels[pos+1];
                                                                    var blue = pixels[pos+2];

                                                                    context.fillStyle = 'rgb('+red+', '+green+', '+blue+')';

                                                                    context.beginPath();
                                                                    context.arc(x, y, tileWidth/2, 0, Math.PI*2);
                                                                    context.closePath();
                                                                    context.fill();
                                                                }
                                                            }

                                                            setTimeout(drawCanvas, 30);
                                                        }
                                                    });
                                                })()
