extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        |  イメージにエフェクト
                    .panel-body
                        h4 色を反転させる
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index16.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        var image = new Image();
                                                        image.src = 'example.jpg';

                                                        $(image).load(function(){
                                                            //画像を描画
                                                            context.drawImage(image, 0, 0, 1024, 683, 0, 0, 500, 500);

                                                            //画像のピクセル値を取得
                                                            var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());

                                                            //ピクセル値を配列に格納
                                                            var pixels = imageData.data;

                                                            //配列の要素数を取得
                                                            var numPixels = pixels.length;

                                                            //描画した画像を削除
                                                            context.clearRect(0, 0, canvas.width(), canvas.height());

                                                            //ピクセル値を255から引く
                                                            for(var i = 0; i < numPixels; i++){
                                                                pixels[i*4] = 255-pixels[i*4];
                                                                pixels[i*4+1] = 255-pixels[i*4+1];
                                                                pixels[i*4+2] = 255-pixels[i*4+2];
                                                            }

                                                            //反転させたピクセル値で描画
                                                            context.putImageData(imageData, 0, 0);
                                                        });
                                                    });
                                                })()
                        hr
                        h4 グレースケール
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index17.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){

                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        var image = new Image();
                                                        image.src = 'example.jpg';

                                                        $(image).load(function(){
                                                            //画像を描画
                                                            context.drawImage(image, 0, 0, 1024, 683, 0, 0, 500, 500);

                                                            //画像のピクセル値を取得
                                                            var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());

                                                            //ピクセル値を配列に格納
                                                            var pixels = imageData.data;

                                                            //配列の要素数を取得
                                                            var numPixels = pixels.length;

                                                            //描画した画像を削除
                                                            context.clearRect(0, 0, canvas.width(), canvas.height());

                                                            //RGB値に平均値を指定する
                                                            for(var i = 0; i < numPixels; i++){
                                                                
                                                                //RGB値の平均を算出
                                                                var average = (pixels[i*4]+pixels[i*4+1]+pixels[i*4+2])/3;

                                                                pixels[i*4] = average; //R値に平均値を指定
                                                                pixels[i*4+1] = average; //G値に平均値を指定
                                                                pixels[i*4+2] = average; //B値に平均値を指定
                                                            }

                                                            //グレースケールのピクセル値で描画
                                                            context.putImageData(imageData, 0, 0);
                                                        });
                                                    });
                                                })()
                        hr
                        h4 読み込んだ画像にモザイク
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index18.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        var image = new Image();
                                                        image.src = 'example.jpg';
                                                        $(image).load(function(){
                                                            //読み込んだイメージの描画
                                                            context.drawImage(image, 0, 0, 1024, 683, 0, 0, 500, 500);

                                                            //Canvasに描画されているピクセルデータを取得
                                                            var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());

                                                            //取得したピクセルデータを配列に格納
                                                            var pixels = imageData.data;

                                                            //Canvasをクリア
                                                            context.clearRect(0, 0, canvas.width(), canvas.height());

                                                            var numTileRows = 20; //タイル一行20個
                                                            var numTileCols = 20; //タイル一列20個

                                                            //1つのタイルの幅
                                                            //=>Canvas要素の幅をx方向のタイルの数で割る
                                                            var tileWidth = imageData.width/numTileCols;

                                                            //1つのタイルの高さ
                                                            //=>Canvas要素の高さをy方向のタイルの数で割る
                                                            var tileHeight = imageData.height/numTileRows;

                                                            //行方向にタイルの数だけループ
                                                            for(var r = 0; r < numTileRows; r++){
                                                                //列方向にタイルの数だけループ
                                                                for(var c = 0; c < numTileCols; c++){
                                                                    //それぞれのタイルの中央のx座標取得
                                                                    var x = (c*tileWidth)+(tileWidth/2);
                                                                    //それぞれのタイルの中央のy座標取得
                                                                    var y = (r*tileHeight)+(tileHeight/2);

                                                                    //タイルのx座標、y座標のピクセルデータのインデックスを取得
                                                                    var pos = (Math.floor(y)*(imageData.width*4))+(Math.floor(x)*4);

                                                                    //取得したインデクスのピクセルデータのRGB値を格納
                                                                    var red = pixels[pos];
                                                                    var green = pixels[pos+1];
                                                                    var blue = pixels[pos+2];

                                                                    //RGB値をスタイルにセット
                                                                    context.fillStyle = 'rgb(' + red + ', ' + green + ', ' + blue + ')';

                                                                    //それぞれのタイルとなる矩形を描画
                                                                    context.fillRect(x-(tileWidth/2), y-(tileHeight/2), tileWidth, tileHeight);
                                                                }
                                                            }
                                                        });
                                                    });
                                                })()
                        hr
                        h4 モザイクを円形にする
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise3/index19.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        var image = new Image();
                                                        image.src = 'example.jpg';
                                                        $(image).load(function(){
                                                            //読み込んだイメージの描画
                                                            context.drawImage(image, 0, 0, 1024, 683, 0, 0, 500, 500);

                                                            //Canvasに描画されているピクセルデータを取得
                                                            var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());

                                                            //取得したピクセルデータを配列に格納
                                                            var pixels = imageData.data;

                                                            //Canvasをクリア
                                                            context.clearRect(0, 0, canvas.width(), canvas.height());

                                                            var numTileRows = 20; //タイル一行20個
                                                            var numTileCols = 20; //タイル一列20個

                                                            //1つのタイルの幅
                                                            //=>Canvas要素の幅をx方向のタイルの数で割る
                                                            var tileWidth = imageData.width/numTileCols;

                                                            //1つのタイルの高さ
                                                            //=>Canvas要素の高さをy方向のタイルの数で割る
                                                            var tileHeight = imageData.height/numTileRows;

                                                            //行方向にタイルの数だけループ
                                                            for(var r = 0; r < numTileRows; r++){
                                                                //列方向にタイルの数だけループ
                                                                for(var c = 0; c < numTileCols; c++){
                                                                    //それぞれのタイルの中央のx座標取得
                                                                    var x = (c*tileWidth)+(tileWidth/2);
                                                                    //それぞれのタイルの中央のy座標取得
                                                                    var y = (r*tileHeight)+(tileHeight/2);

                                                                    //タイルのx座標、y座標のピクセルデータのインデックスを取得
                                                                    var pos = (Math.floor(y)*(imageData.width*4))+(Math.floor(x)*4);

                                                                    //取得したインデクスのピクセルデータのRGB値を格納
                                                                    var red = pixels[pos];
                                                                    var green = pixels[pos+1];
                                                                    var blue = pixels[pos+2];

                                                                    //RGB値をスタイルにセット
                                                                    context.fillStyle = 'rgb(' + red + ', ' + green + ', ' + blue + ')';

                                                                    //それぞれのタイルとなる円を描画
                                                                    context.beginPath();
                                                                    context.arc(x, y, tileWidth/2, 0, Math.PI*2, false);
                                                                    context.fill();
                                                                }
                                                            }
                                                        });
                                                    });
                                                })()
