!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;ビデオの操作
						div.panel-body
							h4 HTML5 Video要素を作る
							p
								a.btn.btn-default(href='demo/canvas/exercise3/index20.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;video id="myVideo" width="500" height="281" controls&gt;
								|       &lt;source src="example.mp4" type="video/mp4"&gt;
								|       &lt;source src="example.ogg" type="video/ogg"&gt;
								|     &lt;/video&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							h4 HTML5ビデオAPIにアクセスする
							p
								a.btn.btn-default(href='demo/canvas/exercise3/index21.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;video id="myVideo" width="500" height="281" controls&gt;
								|       &lt;source src="example.mp4" type="video/mp4"&gt;
								|       &lt;source src="example.ogg" type="video/ogg"&gt;
								|     &lt;/video&gt;
								|     &lt;div&gt;
								|       &lt;button id="play"&gt;Play&lt;/button&gt;
								|       &lt;button id="stop"&gt;Stop&lt;/button&gt;
								|     &lt;/div&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       var video = $('#myVideo');
								|       
								|       $('#play').click(function(){
								|        video.get(0).play();
								|       });
								|       
								|       $('#stop').click(function(){
								|        video.get(0).pause();
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							h4 キャンバスをセットアップする
							p
								a.btn.btn-default(href='demo/canvas/exercise3/index22.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise3/index23.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='js/list-counter.js')