include ../../head2
	body
		include navbar
		.container
			.row
				.col-sm-3
					include left
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;スタイルの指定
						.panel-body
							p
								a.btn.btn-default(href='demo/canvas/exercise1/index11.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        //context.fillRect(x, y, width, height);
								|        context.fillRect(40, 40, 100, 100);
								|       });
								|       
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise1/index12.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        //context.fillRect(x, y, width, height);
								|        context.fillRect(40, 40, 100, 100); //赤い正方形
								|        context.fillRect(180, 40, 100, 100); //赤い正方形
								|        
								|        context.fillStyle = 'rgb(0, 0, 0)';
								|        context.fillRect(320, 40, 100, 100); //黒い正方形
								|       });
								|       
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise1/index13.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        context.strokeStyle = 'rgb(255, 0, 0)';
								|        //context.strokeRect(x, y, width, height);
								|        context.strokeRect(40, 40, 100, 100); //赤い正方形
								|        context.strokeRect(180, 40, 100, 100); //赤い正方形
								|        
								|        context.strokeStyle = 'rgb(0, 0, 0)';
								|        context.strokeRect(320, 40, 100, 100); //黒い正方形
								|       });
								|       
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise1/index14.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        context.strokeStyle = 'rgb(255, 0, 0)';
								|        context.beginPath();
								|        context.moveTo(40, 180);
								|        context.lineTo(420, 180); //赤い線
								|        context.closePath();
								|        context.stroke();
								|        
								|        context.strokeStyle = 'rgb(0, 0, 0)';
								|        context.beginPath();
								|        context.moveTo(40, 220);
								|        context.lineTo(420, 220); //黒い線
								|        context.closePath();
								|        context.stroke();
								|       });
								|       
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise1/index15.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.lineWidth = 5; //線を太くする
								|        
								|        context.strokeStyle = 'rgb(255, 0, 0)';
								|        context.beginPath();
								|        context.moveTo(40, 180);
								|        context.lineTo(420, 180); //赤い線
								|        context.closePath();
								|        context.stroke();
								|        
								|        context.lineWidth = 20; //線を太くする
								|        
								|        context.strokeStyle = 'rgb(0, 0, 0)';
								|        context.beginPath();
								|        context.moveTo(40, 220);
								|        context.lineTo(420, 220); //黒い線
								|        context.closePath();
								|        context.stroke();
								|       });
								|       
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise1/index16.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.lineWidth = 5; //線を太くする
								|        
								|        context.strokeStyle = 'rgb(255, 0, 0)';
								|        //context.strokeRect(x, y, width, height);
								|        context.strokeRect(40, 40, 100, 100); //赤い正方形
								|        context.strokeRect(180, 40, 100, 100); //赤い正方形
								|        
								|        context.lineWidth = 20; //線を太くする
								|        
								|        context.strokeStyle = 'rgb(0, 0, 0)';
								|        context.strokeRect(320, 40, 100, 100); //黒い正方形
								|       });
								|       
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')