!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:less
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;描画状態の保存／復元 
						div.panel-body
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        context.save(); //キャンバスの状態を保存する
								|        context.fillRect(50, 50, 100, 100); //赤い正方形
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index2.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        context.save(); //キャンバスの状態を保存する
								|        context.fillRect(50, 50, 100, 100); //赤い正方形
								|        
								|        context.fillStyle = 'rgb(0, 0, 255)';
								|        context.fillRect(200, 50, 100, 100);
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index3.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        context.save(); //キャンバスの状態を保存する
								|        context.fillRect(50, 50, 100, 100); //赤い正方形
								|        
								|        context.fillStyle = 'rgb(0, 0, 255)';
								|        context.fillRect(200, 50, 100, 100); //青い正方形
								|        
								|        context.restore(); //描画状態を復元する
								|        context.fillRect(350, 50, 100, 100); //赤い正方形
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index4.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        context.save(); //キャンバスの状態を保存する
								|        context.fillRect(50, 50, 100, 100); //赤い正方形
								|        
								|        context.fillStyle = 'rgb(0, 0, 255)';
								|        context.save(); //キャンバスの状態を保存する
								|        context.fillRect(200, 50, 100, 100); //青い正方形
								|        
								|        context.restore(); //描画状態を復元する
								|        context.fillRect(350, 50, 100, 100); //青い正方形
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index5.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        context.save(); //キャンバスの状態を保存する
								|        context.fillRect(50, 50, 100, 100); //赤い正方形
								|        
								|        context.fillStyle = 'rgb(0, 0, 255)';
								|        context.save(); //キャンバスの状態を保存する
								|        context.fillRect(200, 50, 100, 100); //青い正方形
								|        
								|        context.restore(); //描画状態を復元する
								|        context.fillRect(350, 50, 100, 100); //青い正方形
								|        
								|        context.restore(); //描画状態を復元する
								|        context.fillRect(50, 200, 100, 100); //赤い正方形
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index6.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.fillRect(150, 150, 100, 100);
								|        
								|        context.translate(150, 150);
								|        
								|        context.fillStyle = 'rgb(255, 0, 0)'
								|        context.fillRect(150, 150, 100, 100);
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index7.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.fillRect(150, 150, 100, 100);
								|        
								|        context.translate(150, 150);
								|        
								|        context.fillStyle = 'rgb(255, 0, 0)';
								|        context.fillRect(0, 0, 100, 100);
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index8.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.scale(2, 2);
								|        context.fillRect(150, 150, 100, 100);
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index9.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.save();
								|        context.translate(150, 150);
								|        context.scale(2, 2);
								|        context.fillRect(0, 0, 100, 100);
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index10.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.save();
								|        context.translate(150, 150);
								|        context.scale(2, 2);
								|        context.fillRect(0, 0, 100, 100);
								|        
								|        context.restore();
								|        context.fillRect(0, 0, 100, 100);
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index11.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
								| &lt;!DOCTYPE html&gt;
								| &lt;html lang="ja"&gt;
								|   &lt;head&gt;
								|     &lt;meta charset="utf-8"&gt;
								|     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
								|     &lt;title&gt;&lt;/title&gt;
								|   &lt;/head&gt;
								|   &lt;body&gt;
								|     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
								|     &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
								|     &lt;script&gt;
								|       $(function(){
								|        var canvas = $('#myCanvas');
								|        var context = canvas.get(0).getContext('2d');
								|        
								|        context.rotate(0.7854); //45度（Math.PI/4）回転
								|        context.fillRect(150, 150, 100, 100);
								|       });
								|     &lt;/script&gt;
								|   &lt;/body&gt;
								| &lt;/html&gt;
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index12.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index13.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index14.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index15.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index16.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index17.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index18.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index19.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index20.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index21.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index22.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index23.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index24.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index25.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index26.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index27.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index28.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index29.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index30.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index31.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index32.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index33.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index34.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index35.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index36.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
							p
								a.btn.btn-default(href='demo/canvas/exercise2/index37.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre.prettyprint.linenums
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='js/list-counter.js')