extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;基本的な図形
                    .panel-body
                        .alert.alert-info ドットインストール
                        p
                            a(href='http://dotinstall.com/lessons/basic_canvas', target='_blank') HTML5 Canvas入門 
                        p
                            a(href='http://dotinstall.com/lessons/doodle_canvas', target='_blank') Canvasでお絵かきアプリ
                        p
                            a(href='http://dotinstall.com/lessons/pong_js', target='_blank') HTML5で作るピンポンゲーム
                        hr
                        h4 Canvasのひな形
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas(width='500',height='500')
                                            //ここはフォールバックコンテンツを挿入
                        h4 JavaScirptのみで矩形を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script
                                            :js
                                                (function(){
                                                    var canvas = document.getElementById('myCanvas');
                                                    //canvas要素内を2Dレンダリングコンテキストに指定
                                                    var context = canvas.getContext('2d');
                                                    //context.fillRect(x座標, y座標, 幅, 高さ);
                                                    context.fillRect(40, 40, 100, 100);
                                                })()
                        h4 jQueryを使って矩形を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        //document.getElementById('mycanvas')と同等
                                                        var canvas = $('#myCanvas').get(0);
                                                        //canvas要素内を2Dレンダリングコンテキストに指定
                                                        var context = canvas.getContext('2d');
                                                        
                                                        //矩形の描画
                                                        //context.fillRect(x座標, y座標, 幅, 高さ);
                                                        context.fillRect(40, 40, 100, 100);
                                                    });
                                                })()
                        h4 矩形のサイズを変える
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');
                                                        
                                                        context.fillRect(40, 40, <mark>200</mark>, <mark>100</mark>);
                                                    });
                                                })()
                        h4 矩形を移動する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');

                                                        context.fillRect(<mark>200</mark>, <mark>300</mark>, 200, 100);
                                                    });
                                                })()
                        h4 矩形の輪郭（ストローク）を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');
                                                        
                                                        //矩形の線の描画
                                                        //context.strokeRect(x座標, y座標, 幅, 高さ);
                                                        context.strokeRect(200, 300, 200, 100);
                                                    });
                                                })()
                        h4 線（パス）を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');
                                                        
                                                        //パスの操作を開始する
                                                        context.beginPath();

                                                        //パスの起点を設定する
                                                        context.moveTo(40, 40);

                                                        //パスの終点を設定する
                                                        context.lineTo(340, 40);

                                                        //パスの操作を終了する
                                                        context.closePath();

                                                        //パスの輪郭を描く
                                                        context.stroke();
                                                    });
                                                })()
                        h4 斜めに線を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');
                                                        
                                                        //パスの操作を開始する
                                                        context.beginPath();

                                                        //パスの起点を設定する
                                                        context.moveTo(40, 40);

                                                        //パスの終点を設定する
                                                        context.lineTo(340, 340);

                                                        //パスの操作を終了する
                                                        context.closePath();

                                                        //パスの輪郭を描く
                                                        context.stroke();
                                                    });
                                                })()
                        h4 円を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');

                                                        //パスの操作を開始する
                                                        context.beginPath();

                                                        //弧を描画する（角度はラジアン）
                                                        //context.arc(中心x座標, 中心y座標, 半径, 開始角度, 終了角度, 反時計回りかどうか)
                                                        context.arc(230, 90, 50, 0, Math.PI*2, false);

                                                        //パスの操作を終了する
                                                        context.closePath();

                                                        //パスの中を塗りつぶす
                                                        context.fill();
                                                    });
                                                })()
                        h4 半円を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');

                                                        //パスの操作を開始する
                                                        context.beginPath();
                                                        
                                                        //弧を描く
                                                        context.arc(230, 90, 50, 0, Math.PI, false);

                                                        //パスの操作を終了する
                                                        context.closePath();

                                                        //パスの中を塗りつぶす
                                                        context.fill();
                                                    });
                                                })()
                        h4 扇型を描画する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise1/index29.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas').get(0);
                                                        var context = canvas.getContext('2d');

                                                        //パスの操作を開始する
                                                        context.beginPath();

                                                        //弧を描く
                                                        context.arc(230, 90, 50, 0, Math.PI/2, false);

                                                        //中心座標に移動
                                                        context.lineTo(230, 90);

                                                        //パスの操作を終了する
                                                        context.closePath();

                                                        //パスの中を塗りつぶす
                                                        context.fill();
                                                    });
                                                })()
                        h4 角度からラジアンへの変換
                        pre(class='prettyprint linenums:1')
                            :code
                                var degrees = 1; //1度
                                var radians = degrees * (Math.PI / 180); //0.0175ラジアン