include ../../head.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include bowling.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading ユーザーの操作を検出する
                        .panel-body
                            h4 ユーザーの操作を検出する
                            p すでに説明したように、ゲームの目的はプレイヤーアステロイドをほかのアステロイドに向かって投げ、それらをすべてフィールドから弾き出すことです。
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='js/bootstrap.min.js')
        script(src='coffee/list-counter.js')