extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading ユーザーの操作を検出する
                    .panel-body
                        h4 ユーザーの操作を検出する
                        p すでに説明したように、ゲームの目的はプレイヤーアステロイドをほかのアステロイドに向かって投げ、それらをすべてフィールドから弾き出すことです。
