extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading ランダムに描画
                    .panel-body
                        p ランダムな色とサイズの円を描画しましょう。
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index38.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            |  
                            button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | 解答例
                        #demo.collapse.out
                            pre(class='prettyprint linenums:1')
                                :code