extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;パス
                    .panel-body
                        h4 パスを使って図形を描画
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index33.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //パスの開始
                                                        context.beginPath();

                                                        //パスの開始位置を移動
                                                        context.moveTo(100, 50);

                                                        //(100, 50)から(150, 150)に直線を引く
                                                        context.lineTo(150, 150);

                                                        //(150, 150)から(50, 150)に直線を引く
                                                        context.lineTo(50, 150);

                                                        //パスを閉じる
                                                        context.closePath();

                                                        //パスに沿って線を描画
                                                        context.stroke();

                                                        //パスを塗りつぶす
                                                        context.fill();
                                                    });
                                                })()
                        h4 2次ベジェ曲線を使ったパス
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index34.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //線の太さを指定
                                                        context.lineWidth = 5;

                                                        //パスの開始
                                                        context.beginPath();

                                                        //パスの開始位置を移動
                                                        context.moveTo(50, 250);

                                                        //2次ベジェ曲線をつかったパス
                                                        //context.quadraticCurveTo(制御点のx座標, 制御点のy座標, 終了位置のx座標, 終了位置のy座標);
                                                        context.quadraticCurveTo(250, 100, 450, 250);

                                                        //パスに沿って線を描画
                                                        context.stroke();
                                                    });
                                                })()
                        h4 3次ベジェ曲線を使ったパス
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index35.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //線の太さを指定
                                                        context.lineWidth = 5;

                                                        //パスの開始
                                                        context.beginPath();

                                                        //パスの開始位置を移動
                                                        context.moveTo(50, 250);

                                                        //3次ベジェ曲線を使ったパス
                                                        //context.bezierCurveTo(制御点1のx座標, 制御点1のy座標, 制御点2のx座標, 制御点2のy座標, 終了位置のx座標, 終了位置のy座標);
                                                        context.bezierCurveTo(150, 50, 350, 450, 450, 250);

                                                        //パスにそって線を描画
                                                        context.stroke();
                                                    });
                                                })()