include ../../navbar.jade
    body
        div.container
            div.row
                div.col-sm-3
                    div.list-group
                         a.list-group-item(href='canvas1.jade')
                              i.badge.badge-info
                              | aaaaaaaaaaaaaa
                div.col-sm-9
                    div.panel.panel-primary
                        div.panel-heading aaaaaaaaaa
                        div.panel-body
                            h4 aaaa
                            p
                                a.btn.btn-default(href='demo/canvas/exercise4/index9.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
        div#footer=title
        script(src='http://code.jquery.com/jquery.js')
        script(src='js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='js/bootstrap.min.js')
        script(src='js/list-counter.js')