include ../../head2
    body
        include navbar
        .container
            .row
                .col-sm-3
                    include left
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            &nbsp;テキストの表示
                        .panel-body
                            p
                                a.btn.btn-default(href='demo/canvas/exercise1/index17.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                                |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                                |     &lt;script&gt;
                                |       $(function(){
                                |        var canvas = $('#myCanvas');
                                |        var context = canvas.get(0).getContext('2d');
                                |        
                                |        var text = 'Hello, World!';
                                |        context.fillText(text, 40, 40);
                                |       });
                                |       
                                |     &lt;/script&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
                            p
                                a.btn.btn-default(href='demo/canvas/exercise1/index18.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                                |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                                |     &lt;script&gt;
                                |       $(function(){
                                |        var canvas = $('#myCanvas');
                                |        var context = canvas.get(0).getContext('2d');
                                |        
                                |        var text = 'Hello, World!';
                                |        context.font = '30px serif';
                                |        context.fillText(text, 40, 40);
                                |       });
                                |       
                                |     &lt;/script&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
                            p
                                a.btn.btn-default(href='demo/canvas/exercise1/index19.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                                |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                                |     &lt;script&gt;
                                |       $(function(){
                                |        var canvas = $('#myCanvas');
                                |        var context = canvas.get(0).getContext('2d');
                                |        
                                |        var text = 'Hello, World!';
                                |        context.font = 'italic 30px serif';
                                |        context.fillText(text, 40, 40);
                                |       });
                                |       
                                |     &lt;/script&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
                            p
                                a.btn.btn-default(href='demo/canvas/exercise1/index20.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                                |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                                |     &lt;script&gt;
                                |       $(function(){
                                |        var canvas = $('#myCanvas');
                                |        var context = canvas.get(0).getContext('2d');
                                |        
                                |        var text = 'Hello, World!';
                                |        context.font = 'italic 30px serif';
                                |        context.strokeText(text, 40, 40);
                                |       });
                                |       
                                |     &lt;/script&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')