extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;図形の合成
                    .panel-body
                        h4 透明度の指定
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index15.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //透明度の指定
                                                        context.globalAlpha = 0.5;

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（source-over）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index16.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'source-over';
                                                        
                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（destination-over）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index17.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'destination-over';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（source-atop）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index18.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'source-atop';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（destination-atop）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index19.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);

                                                        //合成
                                                        context.globalCompositeOperation = 'destination-atop';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（destination-atop）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index20.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'source-in';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（destination-in）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index21.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'destination-in';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（source-out）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index22.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'source-out';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（destination-out）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index23.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'destination-out';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（lighter）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index24.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'lighter';
                                                        
                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（copy）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index25.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'copy';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
                        h4 合成（xor）
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index26.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //青い矩形
                                                        context.fillStyle = 'rgb(63, 169, 245)';
                                                        context.fillRect(50, 50, 100, 100);
                                                        
                                                        //合成
                                                        context.globalCompositeOperation = 'xor';

                                                        //赤い矩形
                                                        context.fillStyle = 'rgb(255, 123, 172)';
                                                        context.fillRect(100, 100, 100, 100);
                                                    });
                                                })()
