include ../../head.jade
    body
        include navbar.jade
        div.container
            div.row
                div.col-sm-3
                    div.list-group
                        a.list-group-item(href='canvas35.jade')
                              i.badge.badge-info
                              | 画面を飾る
                div.col-sm-9
                    div.panel.panel-primary
                        div.panel-heading 画面を飾る
                        div.panel-body
                            h4 画面を飾る
                            p HTMLが完成したので、CSSを書いて全体をもっとゲーム風の表示に変えましょう。これから使うCSSは、比較的単純なものですが、何が起きているのかを簡単に説明しましょう。
                            p game.cssという名前で新しいファイルを作り、HTMLファイルと同じディレクトリに格納します。このCSSファイルに次のコードを挿入してください。
                            p
                                a.btn.btn-default(href='demo/canvas/exercise6/index0.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                            p CSSの最初の3行はスタイルをリセットし、
        div#footer=title
        script(src='http://code.jquery.com/jquery.js')
        script(src='js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='js/bootstrap.min.js')
        script(src='js/list-counter.js')