extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;図形の変換
                    .panel-body
                        h4 描画の開始座標を移動
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //黒い矩形
                                                        context.fillRect(<mark>150, 150</mark>, 100, 100);

                                                        //描画開始位置の移動
                                                        //context.translate(x座標の移動量, y座標の移動量);
                                                        context.translate(<mark>150, 150</mark>);

                                                        context.fillStyle = 'rgb(255, 0, 0)'

                                                        //赤い矩形
                                                        //(150, 150)の開始位置から(150, 150)の位置に描画
                                                        context.fillRect(<mark>150, 150</mark>, 100, 100);
                                                    });
                                                })()
                        h4 描画開始位置を移動して図形を上書き
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //黒い矩形
                                                        context.fillRect(<mark>150, 150</mark>, 100, 100);

                                                        //描画開始位置の移動
                                                        context.translate(<mark>150, 150</mark>);

                                                        context.fillStyle = 'rgb(255, 0, 0)';

                                                        //赤い矩形
                                                        context.fillRect(<mark>0, 0</mark>, 100, 100);
                                                    });
                                                })()
                        h4 図形を拡大して描画
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //context.scale(x方向の拡大率, y方向の拡大率);
                                                        context.scale(2, 2);

                                                        context.fillRect(150, 150, 100, 100);
                                                    });
                                                })()
                        h4 描画開始位置を移動して拡大
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //初期状態の保存
                                                        context.save();

                                                        //描画開始位置を移動
                                                        context.translate(150, 150);

                                                        //拡大して描画
                                                        context.scale(2, 2);

                                                        //移動、拡大した黒い矩形
                                                        context.fillRect(0, 0, 100, 100);
                                                    });
                                                })()
                        h4 移動、拡大のリセット
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //初期状態の保存
                                                        context.save();

                                                        //描画開始位置を移動
                                                        context.translate(150, 150);

                                                        //拡大して描画
                                                        context.scale(2, 2);

                                                        //移動、拡大した黒い矩形
                                                        context.fillRect(0, 0, 100, 100);

                                                        //初期状態の復元
                                                        context.restore();

                                                        //通常の黒い矩形
                                                        context.fillRect(0, 0, 100, 100);
                                                    });
                                                })()
                        h4 図形の回転
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //45度（Math.PI/4）回転
                                                        context.rotate(0.7854);

                                                        //回転した黒い矩形
                                                        context.fillRect(150, 150, 100, 100);
                                                    });
                                                })()
                        h4 移動して回転
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index12.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //(200, 200)平行移動
                                                        context.translate(200, 200);

                                                        //45度（Math.PI/4）回転
                                                        context.rotate(0.7854);

                                                        //矩形の中心で回転させる
                                                        context.fillRect(<mark>-50, -50, 100, 100</mark>);
                                                    });
                                                })()
                        h4 変換行列で拡大する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index13.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        // context.transform(a, b, c, d, e, f)
                                                        // a
                                                        // x方向の伸縮倍数（変形しない場合は1）
                                                        // b
                                                        // y方向の傾斜率（変形しない場合は0）
                                                        // c
                                                        // x方向の傾斜率（変形しない場合は0）
                                                        // d
                                                        // y方向の伸縮倍数（変形しない場合は1）
                                                        // e
                                                        // x方向の移動距離（変形しない場合は0）
                                                        // f
                                                        // y方向の移動距離（変形しない場合は0）
                                                        context.transform(2, 0, 0, 2, 150, 150);
                                                        context.fillRect(0, 0, 150, 150);
                                                    });
                                                })()
                        h4 変換行列で回転する
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index14.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //単位行列（変換マトリックスを初期化）
                                                        context.setTransform(1, 0, 0, 1, 0, 0);

                                                        var xScale = Math.cos(0.7854); // Math.PI/4
                                                        var ySkew = -Math.sin(0.7854); // Math.PI/4
                                                        var xSkew = Math.sin(0.7854); // Math.PI/4
                                                        var yScale = Math.cos(0.7854); // Math.PI/4
                                                        var xTrans = 200;
                                                        var yTrans = 200;

                                                        //回転
                                                        context.transform(xScale, ySkew, xSkew, yScale, xTrans, yTrans);

                                                        //黒い矩形
                                                        context.fillRect(-50, -50, 100, 100);
                                                    });
                                                })()
