!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:stylus
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;物理とは何か
						div.panel-body
							div.alert.alert-info 物理とは何か
							p 一言で言えば、物理学はものとエネルギーを探求する自然科学です。具体的には、物理学は自然世界のメカニズムに注目し、ものが実際に動いているように動く理由、仕組みを理解しようとします。みなさんが今関心を持っているのは、物理学の中でもものの動きに直接関係している分野であり、ものの動きに影響を及ぼすさまざまなものです。物理学には、ほかにも探求すべき分野が無数にありますが、お互いのために、今日のところは基礎だけを見ていくことにしましょう。
							hr
							div.alert.alert-info 物理がアニメーションで役に立つのはなぜか
							p 当たり前といえば当たり前のことですが、物理が理解できていれば、よりリアルでダイナミックなアニメーションを作れるようになります。速度や加速度の概念を応用するのであれ、あらゆるタイプの反発力を考慮に入れた本格的なシステムを作るのであれ、物理を学べば、アニメーションの可能性が大きく広がります。物理の概念が優れたアニメーションを作り出すということは、単に私が信じているというだけのことではありません。ゲームのデータや可視化からマンガ、映画に至るまで、あらゆるアニメーションで、物理概念の有用性は試され、実証されているのです。
							hr
							div.alert.alert-info いくつかの基本用語について
							p 複雑な概念のなかで使われる基本的な用語や単位を意識することは、物理を理解する上で重要です。実際にこれらの概念をすべて使うというわけではありませんが、知識を持っているだけでも、よいスタートを切れます。
							div.well.well-sm 力
							p 押したり引いたりというものへの作用のことです。ものがスピード、移動方向、形などを変える原因になります。力には度合い（大きさ）と向きがあるので、ベクトルとして可視化できます。力の単位はニュートン（N）です。
							div.well.well-sm ベクトル
							p 力のように大きさと向きを持つもののことです。ベクトルは原点からデスティネーションまでを結ぶ直線によってグラフィカルに表現できます。長さはベクトルの大きさを表します。そして、移動の向きを表すために、一般に矢印が使われます。
							div.well.well-sm 質量
							p 力によって加速がつくことに対する抵抗のことです。慣性とも呼ばれます。質量は、力がものに作用するときに生じる加速度の大きさに直接的な影響を与えます。たとえば、質量の異なる2つのものに対して同じ力を作用させると、質量が小さいものよりも質量が大きいものの方が加速度がつきません。質量の単位はキログラム（kg）です。
							div.well.well-sm 重量
							p ものの質量がほかのものの引力によって影響を受けたときに発生する力です。ものを重く感じるもとがこれです。重量は、ものの質量に引力を掛けて計算します。地球上のものが宇宙空間の同じものよりも重いのはそのためです。宇宙空間では、地球上と比べてかかってくる引力ははるかに小さくなります。地球上では、重量は質量の単位（kg）で表現されますが、本来なら力の単位（N）で表現すべきものです。
							div.well.well-sm 摩擦
							p ものが別のものの表面を移動するときにその移動を阻止しようとする力です。氷の上の方がカーペットなどのものの上より滑りやすいのは、摩擦力の差のためです。
							div.well.well-sm 速度
							p ものが移動する向きと速さです。速度はベクトルであり、通常はメートル/秒（m/s）を単位として向き（たとえば西）を付け加えた形で表現されます。平均速度は、ものの速さを経過時間で割って計算します。
							div.well.well-sm 速さ
							p 速度の大きさでもあり、ものが時間あたりどれだけの距離を移動したかを表します。速さは向きのない（スカラー）であり、通常はメートル/秒（m/s）、キロメートル/時間（km/h）、マイル/時間（mph）で表現されます。平均の速さは、ものが移動した距離を移動にかかった時間で割ると計算できます。
							div.well.well-sm 加速度
							p
								| 加速度は、時間の経過とともにものの速度（大きさと向きの両方）が変化する割合です。一般的に、加速度という言葉は速度が上がって行くときに使い、速度が下がっていくときには減速度という言葉を使います。ものには速さがあっても加速度がないという状態があり得ます。加速度は、ものの直前の速度との割合だからです。たとえば、ものが一定の速度で移動しているときには、加速している（だんだん速くなっている）わけではありませんが、速さはあります。加速度はベクトルであり、メートル/秒/秒（m/s
								span(style='vertical-align:super;') 2
								| ）によって表されます。加速度はニュートンの運動の第2法則によって計算されます。
							hr
							div.alert.alert-info ニュートンの運動法則
							p アイザック・ニュートンという天才は、3つの単純な法則でものの動きを表現できればすばらしいだろうと考えました。これらの法則を使えば、力がものの動きに与える影響を計算できます。自然でダイナミックなアニメーションを作りたいときには、この3つの法則がとても役に立ちます。ありがとう、ニュートン。
							div.well.well-sm 第1法則
							p ものに作用している力がなければ、ものは一定の速度で直線上を移動します。ものが静止している場合は、そのまま静止し続けます。つまり、ものが動くのは、外からの力が作用したときだけです。
							div.well.well-sm 第2法則
							p 質量をもつものに力を作用させると、力が同じ方向に、力に比例し、質量に反比例する大きさで加速度がつきます。これは、有名なF=maという方程式によって表現されます。力は質量と加速度の積に等しいということです。この方程式は、質量や加速度の計算にも使えます。
							div.well.well-sm 第3法則
							p すべての作用には、同じ大きさで向きが逆の反作用があります。聞いたことがありますか?おそらく、これはニュートンの3つの法則の中でももっとも有名なものでしょう。これは、ものAが別のものBに力を作用させると、ものBが同じ大きさで逆向きの力をものAに作用させるということです。だからと言って、2つのものが同じように加速していくわけではありません。ニュートンの第2法則ですでに明らかなように、同じように加速するのは、2つのものの質量が同じときだけです。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')