extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;グラデーション
                    .panel-body
                        h4 線形グラデーション
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index30.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //線形グラデーションの宣言
                                                        //context.createLinearGradient(開始点のx座標, 開始点のy座標, 終了点のx座標, 終了点のy座標);
                                                        var gradient = context.createLinearGradient(0, 0, 0, canvas.height());

                                                        //カラーストップ0%
                                                        //gradient.addColorStop(比率, 色)
                                                        gradient.addColorStop(0, 'rgb(0, 0, 0');
                                                        
                                                        //カラーストップ100%
                                                        gradient.addColorStop(1, 'rgb(255, 255, 255');

                                                        //グラデーションの適用
                                                        context.fillStyle = gradient;

                                                        context.fillRect(0, 0, canvas.width(), canvas.height());
                                                    });
                                                })()
                        h4 円形グラデーション
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index31.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        //円形グラデーションの宣言
                                                        //createRadialGradient()
                                                        //createRadialGradient(x0, y0, r0, x1, y1, r0)
                                                        var gradient = context.createRadialGradient(300, 300, 10, 100, 100, 50);
                                                        gradient.addColorStop(0, 'rgb(0, 0, 0)');
                                                        gradient.addColorStop(1, 'rgb(150, 150, 150)');

                                                        context.fillStyle = gradient;
                                                        context.fillRect(0, 0, canvas.width(), canvas.height());
                                                    });
                                                })()
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index32.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0')
                                        title
                                    body
                                        canvas#myCanvas(width='500',height='500')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        var canvas = $('#myCanvas');
                                                        var context = canvas.get(0).getContext('2d');

                                                        var canvasCenterX = canvas.width()/2;
                                                        var canvasCenterY = canvas.height()/2;

                                                        var gradient = context.createRadialGradient(canvasCenterX, canvasCenterY, 0, canvasCenterX, canvasCenterY, 250);
                                                        gradient.addColorStop(0, 'rgb(0, 0, 0)');
                                                        gradient.addColorStop(1, 'rgb(150, 150, 150)');

                                                        context.fillStyle = gradient;
                                                        context.fillRect(0, 0, canvas.width(), canvas.height());
                                                    });
                                                })()
