extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;シャドウ
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index27.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre.prettyprint.linenums
                            | &lt;!DOCTYPE html&gt;
                            | &lt;html lang="ja"&gt;
                            |   &lt;head&gt;
                            |     &lt;meta charset="utf-8"&gt;
                            |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            |     &lt;title&gt;&lt;/title&gt;
                            |   &lt;/head&gt;
                            |   &lt;body&gt;
                            |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                            |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            |     &lt;script&gt;
                            |       $(function(){
                            |        var canvas = $('#myCanvas');
                            |        var context = canvas.get(0).getContext('2d');
                            |        
                            |        context.shadowBlur = 20;
                            |        context.shadowColor = 'rgb(0, 0, 0)';
                            |        context.fillRect(50, 50, 100, 100);
                            |       });
                            |     &lt;/script&gt;
                            |   &lt;/body&gt;
                            | &lt;/html&gt;
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index28.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre.prettyprint.linenums
                            | &lt;!DOCTYPE html&gt;
                            | &lt;html lang="ja"&gt;
                            |   &lt;head&gt;
                            |     &lt;meta charset="utf-8"&gt;
                            |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            |     &lt;title&gt;&lt;/title&gt;
                            |   &lt;/head&gt;
                            |   &lt;body&gt;
                            |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                            |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            |     &lt;script&gt;
                            |       $(function(){
                            |        var canvas = $('#myCanvas');
                            |        var context = canvas.get(0).getContext('2d');
                            |        
                            |        context.shadowBlur = 0;
                            |        context.shadowOffsetX = 10;
                            |        context.shadowOffsetY = 10;
                            |        context.shadowColor = 'rgba(100, 100, 100, 0.5)';
                            |        context.fillRect(200, 50, 100, 100);
                            |       });
                            |     &lt;/script&gt;
                            |   &lt;/body&gt;
                            | &lt;/html&gt;
                        p
                            a.btn.btn-default(href='../demo/canvas/exercise2/index29.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre.prettyprint.linenums
                            | &lt;!DOCTYPE html&gt;
                            | &lt;html lang="ja"&gt;
                            |   &lt;head&gt;
                            |     &lt;meta charset="utf-8"&gt;
                            |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                            |     &lt;title&gt;&lt;/title&gt;
                            |   &lt;/head&gt;
                            |   &lt;body&gt;
                            |     &lt;canvas id="myCanvas" width="500" height="500"&gt;&lt;/canvas&gt;
                            |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            |     &lt;script&gt;
                            |       $(function(){
                            |        var canvas = $('#myCanvas');
                            |        var context = canvas.get(0).getContext('2d');
                            |        
                            |        context.shadowColor = 'rgb(255, 0, 0)';
                            |        context.shadowBlur = 50;
                            |        context.shadowOffsetX = 0;
                            |        context.shadowOffsetY = 0;
                            |        context.beginPath();
                            |        context.arc(400, 100, 50, 0, Math.PI*2, false);
                            |        context.closePath();
                            |        context.fill();
                            |       });
                            |     &lt;/script&gt;
                            |   &lt;/body&gt;
                            | &lt;/html&gt;
