!!!
html(lang='ja')
    head
        meta(name='viewport',content='width=device-width,initial-scale=1.0')
        link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
        link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
        link(href='less/common.less',rel='stylesheet',media='screen')
        link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
        title=title
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            &nbsp;ビデオの操作
                        .panel-body
                            h4 HTML5 Video要素を作る
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise3/index20.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;video id="myVideo" width="500" height="281" controls&gt;
                                |       &lt;source src="example.mp4" type="video/mp4"&gt;
                                |       &lt;source src="example.ogg" type="video/ogg"&gt;
                                |     &lt;/video&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
                            h4 HTML5ビデオAPIにアクセスする
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise3/index21.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;video id="myVideo" width="500" height="281" controls&gt;
                                |       &lt;source src="example.mp4" type="video/mp4"&gt;
                                |       &lt;source src="example.ogg" type="video/ogg"&gt;
                                |     &lt;/video&gt;
                                |     &lt;div&gt;
                                |       &lt;button id="play"&gt;Play&lt;/button&gt;
                                |       &lt;button id="stop"&gt;Stop&lt;/button&gt;
                                |     &lt;/div&gt;
                                |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                                |     &lt;script&gt;
                                |       var video = $('#myVideo');
                                |       
                                |       $('#play').click(function(){
                                |        video.get(0).play();
                                |       });
                                |       
                                |       $('#stop').click(function(){
                                |        video.get(0).pause();
                                |       });
                                |     &lt;/script&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
                            h4 キャンバスをセットアップする
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise3/index22.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;canvas id="myCanvas" width="500" height="281"&gt;
                                |       &lt;video id="myVideo" width="500" height="281" controls&gt;
                                |         &lt;source src="example.mp4" type="video/mp4"&gt;
                                |         &lt;source src="example.ogg" type="video/ogg"&gt;
                                |       &lt;/video&gt;
                                |     &lt;/canvas&gt;
                                |     &lt;div&gt;
                                |       &lt;button id="play"&gt;Play&lt;/button&gt;
                                |       &lt;button id="stop"&gt;Stop&lt;/button&gt;
                                |     &lt;/div&gt;
                                |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                                |     &lt;script&gt;
                                |       $(function() {  
                                |        var video = $('#myVideo');
                                |        
                                |        $('#play').click(function() {
                                |         video.get(0).play();
                                |        });
                                |        
                                |        $('#stop').click(function() {
                                |         video.get(0).pause();
                                |        });    
                                |        
                                |        var canvas = $('#myCanvas');
                                |        var context = canvas.get(0).getContext('2d');
                                |        
                                |        video.bind('play', function() {
                                |         drawCanvas();
                                |        });
                                |        
                                |        function drawCanvas() {
                                |         if (video.get(0).paused || video.get(0).ended)
                                |          return false;
                                |          
                                |         context.drawImage(video.get(0), 0, 0, 500, 281);
                                |         
                                |         var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());
                                |         var pixels = imageData.data;
                                |         
                                |         context.clearRect(0, 0, canvas.width(), canvas.height());
                                |         
                                |         var numTileRows = 36;
                                |         var numTileCols = 64;
                                |         
                                |         var tileWidth = imageData.width/numTileCols;
                                |         var tileHeight = imageData.height/numTileRows;
                                |         
                                |         for (var r = 0; r &lt; numTileRows; r++) {
                                |          for (var c = 0; c &lt; numTileCols; c++) {
                                |           var x = (c*tileWidth)+(tileWidth/2);
                                |           var y = (r*tileHeight)+(tileHeight/2);
                                |           
                                |           var pos = (Math.floor(y)*(imageData.width*4))+(Math.floor(x)*4);
                                |           
                                |           var red = pixels[pos];
                                |           var green = pixels[pos+1];
                                |           var blue = pixels[pos+2];
                                |           
                                |           context.fillStyle = 'rgb('+red+', '+green+', '+blue+')';
                                |           
                                |           context.fillRect(x-(tileWidth/2), y-(tileHeight/2), tileWidth, tileHeight);
                                |          }
                                |         }
                                |         
                                |         setTimeout(drawCanvas, 30);
                                |        }
                                |       });
                                |     &lt;/script&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
                            p
                                a.btn.btn-default(href='../demo/canvas/exercise3/index23.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre.prettyprint.linenums
                                | &lt;!DOCTYPE html&gt;
                                | &lt;html lang="ja"&gt;
                                |   &lt;head&gt;
                                |     &lt;meta charset="utf-8"&gt;
                                |     &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
                                |     &lt;title&gt;&lt;/title&gt;
                                |   &lt;/head&gt;
                                |   &lt;body&gt;
                                |     &lt;canvas id="myCanvas" width="500" height="281"&gt;
                                |       &lt;video id="myVideo" width="500" height="281" controls&gt;
                                |         &lt;source src="example.mp4" type="video/mp4"&gt;
                                |         &lt;source src="example.ogg" type="video/ogg"&gt;
                                |       &lt;/video&gt;
                                |     &lt;/canvas&gt;
                                |     &lt;div&gt;
                                |       &lt;button id="play"&gt;Play&lt;/button&gt;
                                |       &lt;button id="stop"&gt;Stop&lt;/button&gt;
                                |     &lt;/div&gt;
                                |     &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                                |     &lt;script&gt;
                                |       $(function() {  
                                |        var video = $('#myVideo');
                                |        
                                |        $('#play').click(function() {
                                |         video.get(0).play();
                                |        });
                                |        
                                |        $('#stop').click(function() {
                                |         video.get(0).pause();
                                |        });    
                                |        
                                |        var canvas = $('#myCanvas');
                                |        var context = canvas.get(0).getContext('2d');
                                |        
                                |        video.bind('play', function() {
                                |         drawCanvas();
                                |        });
                                |        
                                |        function drawCanvas() {
                                |         if (video.get(0).paused || video.get(0).ended)
                                |          return false;
                                |          
                                |         context.drawImage(video.get(0), 0, 0, 500, 281);
                                |         
                                |         var imageData = context.getImageData(0, 0, canvas.width(), canvas.height());
                                |         var pixels = imageData.data;
                                |         
                                |         context.clearRect(0, 0, canvas.width(), canvas.height());
                                |         
                                |         var numTileRows = 36;
                                |         var numTileCols = 64;
                                |         
                                |         var tileWidth = imageData.width/numTileCols;
                                |         var tileHeight = imageData.height/numTileRows;
                                |         
                                |         for (var r = 0; r &lt; numTileRows; r++) {
                                |          for (var c = 0; c &lt; numTileCols; c++) {
                                |           var x = (c*tileWidth)+(tileWidth/2);
                                |           var y = (r*tileHeight)+(tileHeight/2);
                                |           
                                |           var pos = (Math.floor(y)*(imageData.width*4))+(Math.floor(x)*4);
                                |           
                                |           var red = pixels[pos];
                                |           var green = pixels[pos+1];
                                |           var blue = pixels[pos+2];
                                |           
                                |           context.fillStyle = 'rgb('+red+', '+green+', '+blue+')';
                                |           
                                |           context.beginPath();
                                |           context.arc(x, y, tileWidth/2, 0, Math.PI*2);
                                |           context.closePath();
                                |           context.fill();
                                |          }
                                |         }
                                |         
                                |         setTimeout(drawCanvas, 30);
                                |        }
                                |       });
                                |     &lt;/script&gt;
                                |   &lt;/body&gt;
                                | &lt;/html&gt;
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='js/bootstrap.min.js')
        script(src='coffee/list-counter.js')