div.list-group
     a.list-group-item(href='canvas1.jade')
          i.badge.badge-info
          | 基本的な図形
     a.list-group-item(href='canvas2.jade')
          i.badge.badge-info
          | スタイル
     a.list-group-item(href='canvas3.jade')
          i.badge.badge-info
          | テキスト