.list-group
    a.list-group-item.active
        |  図形の描画
    a.list-group-item(href='../canvas/1')
        i.badge.badge-info
        |  基本的な図形
    a.list-group-item(href='../canvas/2')
        i.badge.badge-info
        |  スタイルの指定
    a.list-group-item(href='../canvas/3')
        i.badge.badge-info
        |  テキストの表示
    a.list-group-item(href='../canvas/4')
        i.badge.badge-info
        |  キャンバスの削除／リセット
    a.list-group-item(href='../canvas/5')
        i.badge.badge-info
        |  フルスクリーン
    a.list-group-item(href='../canvas/6')
        i.badge.badge-info
        |  描画状態の保存／復元
    a.list-group-item(href='../canvas/7')
        i.badge.badge-info
        |  図形の変形
    a.list-group-item(href='../canvas/8')
        i.badge.badge-info
        |  図形の合成
    a.list-group-item(href='../canvas/9')
        i.badge.badge-info
        |  シャドウ
    a.list-group-item(href='../canvas/10')
        i.badge.badge-info
        |  グラデーション
    a.list-group-item(href='../canvas/11')
        i.badge.badge-info
        |  パス
    a.list-group-item(href='../canvas/45')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：ランダムに描画
.list-group
    a.list-group-item.active
        |  画像処理
    a.list-group-item(href='../canvas/12')
        i.badge.badge-info
        |  画像に変換
    a.list-group-item(href='../canvas/19')
        i.badge.badge-info
        |  画像の読み込み
    a.list-group-item(href='../canvas/20')
        i.badge.badge-info
        |  画像にシャドウ
    a.list-group-item(href='../canvas/21')
        i.badge.badge-info
        |  画像の変形
    a.list-group-item(href='../canvas/22')
        i.badge.badge-info
        |  ピクセル値にアクセス
    a.list-group-item(href='../canvas/23')
        i.badge.badge-info
        |  画像を作る
    a.list-group-item(href='../canvas/24')
        i.badge.badge-info
        |  画像にエフェクト
    a.list-group-item(href='../canvas/25')
        i.badge.badge-info
        |  ビデオの操作
.list-group
    a.list-group-item.active
        |  アニメーション
    a.list-group-item(href='../canvas/14')
        i.badge.badge-info
        |  アニメーションループ
    a.list-group-item(href='../canvas/17')
        i.badge.badge-info
        |  複数のアニメーション
    a.list-group-item(href='../canvas/15')
        i.badge.badge-info
        |  ランダムなアニメーション
    a.list-group-item(href='../canvas/16')
        i.badge.badge-info
        |  三角関数について
    a.list-group-item(href='../canvas/26')
        i.badge.badge-info
        |  円周に沿ったアニメーション
    a.list-group-item(href='../canvas/18')
        i.badge.badge-info
        |  境界で弾ませる
    a.list-group-item(href='../demo/canvas/exercise4/index12.html',target='_blank')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：軌道
    a.list-group-item(href='../demo/canvas/exercise4/index13.html',target='_blank')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：サイン波
    a.list-group-item(href='../demo/canvas/exercise4/index11.html',target='_blank')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：怪しい球
.list-group
    a.list-group-item.active
        |  物理アニメーション
    a.list-group-item(href='../canvas/13')
        i.badge.badge-info
        |  物理とは何か
    a.list-group-item(href='../canvas/27')
          i.badge.badge-info
          | 準備
    a.list-group-item(href='../canvas/28')
          i.badge.badge-info
          | 速度
    a.list-group-item(href='../canvas/29')
          i.badge.badge-info
          | 境界
    a.list-group-item(href='../canvas/30')
          i.badge.badge-info
          | 加速度
    a.list-group-item(href='../canvas/31')
          i.badge.badge-info
          | 摩擦
    a.list-group-item(href='../canvas/32')
          i.badge.badge-info
          | 衝突
    a.list-group-item(href='../canvas/33')
          i.badge.badge-info
          | 跳ね返り
    a.list-group-item(href='../canvas/34')
          i.badge.badge-info
          | 運動量保存
.list-group
    a.list-group-item.active
        |  ゲーム
    a.list-group-item(href='../canvas/35')
        i.badge.badge-info
        |  スペースボーリングゲーム
    a.list-group-item(href='../demo/canvas/exercise7/index.html',target='_blank')
        i.badge.badge-info
        |  アステロイドアボイダンスゲーム