div.list-group
     a.list-group-item(href='canvas1.jade')
          i.badge.badge-info
          | 基本的な図形
     a.list-group-item(href='canvas2.jade')
          i.badge.badge-info
          | スタイルの指定
     a.list-group-item(href='canvas3.jade')
          i.badge.badge-info
          | テキストの表示
     a.list-group-item(href='canvas4.jade')
          i.badge.badge-info
          | キャンバスの削除／リセット
     a.list-group-item(href='canvas5.jade')
          i.badge.badge-info
          | フルスクリーン
     a.list-group-item(href='canvas6.jade')
          i.badge.badge-info
          | 描画状態の保存／復元
     a.list-group-item(href='canvas7.jade')
          i.badge.badge-info
          | 図形の変換
     a.list-group-item(href='canvas8.jade')
          i.badge.badge-info
          | 図形の合成
     a.list-group-item(href='canvas9.jade')
          i.badge.badge-info
          | シャドウ
     a.list-group-item(href='canvas10.jade')
          i.badge.badge-info
          | グラデーション
     a.list-group-item(href='canvas11.jade')
          i.badge.badge-info
          | パス
     a.list-group-item(href='canvas12.jade')
          i.badge.badge-info
          | 画像に変換
     a.list-group-item(href='canvas14.jade')
          i.badge.badge-info
          | アニメーションループ
     a.list-group-item(href='canvas15.jade')
          i.badge.badge-info
          | ランダムなアニメーション
     a.list-group-item(href='canvas16.jade')
          i.badge.badge-info
          | 円周に沿ったアニメーション
     a.list-group-item(href='#')
          i.badge.badge-info
          | 境界で弾ませる
     a.list-group-item(href='canvas13.jade')
          i.badge.badge-info
          | 物理とは何か