#container
    width 500px
    margin 50px auto

ul.tab
    padding-left 0

    li
        list-style-type none
        width 100px
        height 40px
        float left
        a
            outline none
            background url("../img/tab.jpg")
            display block
            color blue
            line-height 40px
            text-align center
            &.selected
                background url("../img/tab_selected.jpg")
                text-decoration none
                color #333
                cursor default
/*
ul.panel
    clear both
    border 1px solid #9FB7D4
    border-top none
    padding 0
    li
        list-style-type none
        padding 10px
        text-indent 1em
        color #333
*/

p.panel
     clear both
     border 1px solid #9FB7D4
     border-top none
     padding 10px
     text-indent 1em
     color #333
