!!!
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		title
		style.
			#myCanvas{
				display:block;
			}
	body
		canvas#myCanvas(width='500',height='500')
		button#startAnimation Start
		button#stopAnimation Stop
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script.
			$(function(){
				var canvas = $('#myCanvas');
				var context = canvas.get(0).getContext('2d');

				var canvasWidth = canvas.width();
				var canvasHeight = canvas.height();

				var playAnimation = true;

				var Shape = function(x, y, width, height){
					this.x = x;
					this.y = y;
					this.width = width;
					this.height = height;
				};
				
				var shapes = new Array();
				//var shapes = []; 

				function animate(){
					context.clearRect(0, 0, canvasWidth, canvasHeight);
					
					for(var i = 0; i < 10; i++){
						var x = Math.random()*250;
						var y = Math.random()*250;
						var width = height = Math.random()*50;
						shapes.push(new Shape(x, y, width, height));
						var tmpShape = shapes[i];
						tmpShape.x++;
						context.fillRect(tmpShape.x, tmpShape.y, tmpShape.width, tmpShape.height);
					}

					if(playAnimation){
						setTimeout(animate, 33);
					}
				}
				animate();

				var startButton = $('#startAnimation');
				var stopButton = $('#stopAnimation');

				startButton.hide();
				startButton.click(function(){
					$(this).hide();
					stopButton.show();

					playAnimation = true;
					animate();
				});

				stopButton.click(function(){
					$(this).hide();
					startButton.show();

					playAnimation = false;
				});
			});