doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        title
        style
            :stylus
                #myCanvas
                    display block
    body
        canvas#myCanvas(width='500',height='500')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script
            :js
                (function(){
                    $(function(){
                        //キャンバス要素　jQueryオブジェクト
                        var canvas = $('#myCanvas');

                        //2Dレンダリングコンテキスト
                        var context = canvas.get(0).getContext('2d');

                        var canvasWidth = canvas.width(); //キャンバス要素　幅
                        var canvasHeight = canvas.height(); //キャンバス要素　高さ

                        var playAnimation = true; //アニメーションフラグ　開始

                        //矩形（x座標, y座標）をまとめて管理するクラス
                        var Shape = function(x, y){
                            this.x = x;
                            this.y = y;
                        };
                        
                        //複数の矩形を格納する配列
                        var shapes = new Array();

                        //矩形の設定を3個準備
                        shapes.push(new Shape(50, 50));
                        shapes.push(new Shape(100, 100));
                        shapes.push(new Shape(150, 150));

                        //アニメーションループ
                        function animate(){
                            //矩形クリア
                            context.clearRect(0, 0, canvasWidth, canvasHeight);

                            var shapesLength = shapes.length; //矩形の個数

                            //矩形の個数だけ描画
                            for(var i = 0; i < shapesLength; i++){
                                //矩形（x座標, y座標）を管理するクラスのインスタンス
                                var tmpShape = shapes[i];

                                //矩形x座標更新
                                tmpShape.x++;

                                //矩形描画
                                context.fillRect(tmpShape.x, tmpShape.y, 10, 10);
                            }

                            //アニメーションフラグが開始のとき
                            if(playAnimation){
                                setTimeout(animate, 33);
                            }
                        }
                        //アニメーション初回スタート
                        animate();
                    });
                })()
