doctype
html(lang='ja-JP',ng-app)
    head
        meta(name='viewport',content='width=device-width,initial-scale=1.0')
        block link
            link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
            link(href='css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
            link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
            link(href='css/style.css',rel='stylesheet',media='screen')
            link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
        title=title
    body
        block content

        block footer
            .footer=title
            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
            script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js')
            script(src='../../js/google-code-prettify/prettify.js')
            script.
                prettyPrint();
            script(src='../../js/bootstrap.min.js')
            script(src='../../coffee/list-counter.js')
            