nav.navbar.navbar-default
	.navbar-header
		button.navbar-toggle(data-toggle='collapse', data-target='.target')
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/')
			=title
	.collapse.navbar-collapse.target
		ul.nav.navbar-nav
			li
				a(href='htmltag1.jade') HTML
			li
				a(href='css1.jade') CSS
			li
				a(href='jquery1') jQuery
			li
				a(href='mobile1') スマホ
			li
				a(href='jqm1') JQM
			li
				a(href='rwd1') RWD
			li
				a(href='js-39') JS
			li
				a(href='https://github.com/yoh-nak/epub3-skeleton', target='_blank') EPUB
			li
				a(href='linux-1') 開発環境
		ul.nav.navbar-nav.navbar-right
			li
				a(href='material-1') 資料
			li
				a(href='diary-3') 日誌