<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= title %></a>
  </div>

  <div class="collapse navbar-collapse target">
    <ul class="nav navbar-nav">
      <li><a href="htmltag1.jade">HTML</a></li>
      <li><a href="css1.jade">CSS</a></li>
      <li><a href="jquery1">jQuery</a></li>
      <li><a href="mobile1">スマホ</a></li>
      <li><a href="jqm1">JQM</a></li>
      <li><a href="rwd1">RWD</a></li>
      <li><a href="js-39">JS</a></li>
      <li><a href="https://github.com/yoh-nak/epub3-skeleton" target="_blank">EPUB</a></li>
      <li><a href="linux-1">開発環境</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
		<li><a href="material-1">資料</a></li>
		<li><a href="diary-2">日誌</a></li>
    </ul>
  </div>
</nav>