nav.navbar.navbar-default
	.navbar-header
		button.navbar-toggle(data-toggle='collapse', data-target='.target')
			span.icon-bar
			span.icon-bar
			span.icon-bar
		a.navbar-brand(href='/')
			=title
	.collapse.navbar-collapse.target
		ul.nav.navbar-nav
			li
				a(href='html/1') HTML
			li
				a(href='_css/3') CSS
			li
				a(href='jquery/1') jQuery
			li
				a(href='mobile/1') スマホ
			li
				a(href='jqm/1') JQM
			li
				a(href='rwd/1') RWD
			li
				a(href='js-39.ejs') JS
			li
				a(href='nodejs/1') Node.js
			//-
				li
					a(href='https://github.com/yoh-nak/epub3-skeleton', target='_blank') EPUB
			li
				a(href='others/4') 開発環境
		ul.nav.navbar-nav.navbar-right
			li
				a(href='material-1') 資料
			li
				a(href='diary/2') 日誌