<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= title %></a>
  </div>

  <div class="collapse navbar-collapse target">
    <ul class="nav navbar-nav">
      <li><a href="html5-1">HTML5</a></li>
      <li><a href="css3-1">CSS3</a></li>
      <li><a href="jquery-1">jQuery</a></li>
      <li><a href="mobile-1">スマホ</a></li>
      <li><a href="jqm-1">JQM</a></li>
      <li><a href="rwd-1">RWD</a></li>
      <li><a href="js-39">JS</a></li>
      <li><a href="linux-1">LINUX</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
		<li><a href="material-1">資料</a></li>
		<li><a href="diary-1">日誌</a></li>
    </ul>
  </div>
</nav>