prefix(prop, val)
	-webkit-{prop} val
	{prop} val

dl
	width 400px
dt
	cursor pointer
dd
	height 0
	overflow hidden
	margin-left 0
	prefix('transition-property', all)	
	prefix('transition-duration', 500ms)
	prefix('transition-timing-function', ease-in-out)