.clearfix{zoom:1}
.clearfix:before,.clearfix:after{content:"";display:table}
.clearfix:after{clear:both}
body{background-color:#fff;-webkit-background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#eee 0.1em, transparent 0.1em);-moz-background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#eee 0.1em, transparent 0.1em);-ms-background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#eee 0.1em, transparent 0.1em);-o-background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#eee 0.1em, transparent 0.1em);background-image:linear-gradient(90deg, transparent 79px, #abced4 79px, #abced4 81px, transparent 81px),linear-gradient(#eee 0.1em, transparent 0.1em);-webkit-background-size:100% 1.2em;-moz-background-size:100% 1.2em;-ms-background-size:100% 1.2em;-o-background-size:100% 1.2em;background-size:100% 1.2em}
h5{font-weight:bold !important}
table{margin-bottom:1em}
figure{margin-bottom:1em}
figcaption{font-weight:bold}
pre{-webkit-tab-size:4;-moz-tab-size:4;-ms-tab-size:4;-o-tab-size:4;tab-size:4}
.browser-support td{padding:0 1em}
.not-support{opacity:.5;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";filter:alpha(opacity=50)}
.jumbotron{background:url("http://placeimg.com/1024/800/nature/any");width:100%;-webkit-background-size:100% auto;-moz-background-size:100% auto;-ms-background-size:100% auto;-o-background-size:100% auto;background-size:100% auto;}
.jumbotron h1{color:#fff}
.jumbotron p{color:#fff}
figure .prettyprint{margin-bottom:0 !important}
.footer{background:#428bca;text-align:center;padding:.6em;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;-ms-box-sizing:border-box;-o-box-sizing:border-box;box-sizing:border-box;color:#fff}
