doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        title
        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    body
        #detail(data-role='page', data-theme='f')
            div(data-role='header', data-theme='n')
                a(href='list.html', data-theme='f', data-direction='reverse', data-icon='arrow-l') LIST
                h1
                    a(href='index.html')
                        img(src='images/logo.png', alt='WEB NEWS Professional', width='212', height='21')
            div(data-role='content')
                #newsList.newsList
                    h2.h2 西畑一馬のjQuery Mobileデザイン入門
                    .ui-shadow.ui-btn-up-g.contents
                        p
                            | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                        p
                            | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                div(data-role='footer', data-theme='n')
                    | © 2011 ASCII MEDIA WORKS All right reserved.
