doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
        title
        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    body
        #index(data-role='page', data-theme='f')
            div(data-role='header', data-theme='n')
                p Webマーケティング、トレンドなど最新情報が満載
                h1
                    img(src='images/logo.png', alt='WEB NEWS Professional', width='212', height='21')
            div(data-role='content')
                .menu
                    .ui-shadow(data-role='controlgroup', data-type='horizontal')
                        a(href='list.html', data-role='button') TOP
                        a(href='list.html', data-role='button') TECH
                        a(href='list.html', data-role='button') WEB
                        a(href='list.html', data-role='button') MAC
                .category
                    h2.h2 NEWS Category
                    ul.ui-grid-a.ui-shadow(data-role='listview')
                        li.ui-block-a(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-web.png', alt='')
                                | Webトレンド
                        li.ui-block-b(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-html5.png', alt='')
                                | HTML5
                        li.ui-block-a(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-design.png', alt='')
                                | デザイン
                        li.ui-block-b(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-epub.png', alt='')
                                | 電子書籍
                        li.ui-block-a(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-smartphone.png', alt='')
                                | スマートフォン
                        li.ui-block-b(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-markething.png', alt='')
                                | マーケティング
                #newsNavi.newsNavi
                    .navbar(data-role='navbar')
                        ul
                            li
                                a.selected(href='#news', rel='external') 新着記事
                            li
                                a(href='#trend', rel='external') 業界動向
                            li
                                a(href='#series', rel='external') 連載記事
                            li
                                a(href='#topics', rel='external') 注目記事
                #newsList.newsList
                    ul#news.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') お祭り騒ぎで終わらないためのスマホ対策
                        li(data-theme='g')
                            a(href='detail.html') HTML5のアウトラインとセクションを理解する
                        li(data-theme='g')
                            a(href='detail.html') jQuery MobileのCSSを変更してテーマをカスタマイズ
                        li(data-theme='g')
                            a(href='detail.html') Capture APIでiPhone用ビデオレコーダーを作ろう
                        li(data-theme='g')
                            a(href='detail.html') クリック課金のGoogleが「パンダ」を採用する理由
                    ul#trend.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') ad:tech tokyo 2011でルグランが無料セミナー
                        li(data-theme='g')
                            a(href='detail.html') クリック課金のGoogleが「パンダ」を採用する理由
                        li(data-theme='g')
                            a(href='detail.html') お祭り騒ぎで終わらないためのスマホ対応とは？
                        li(data-theme='g')
                            a(href='detail.html') コンバージョン改善はライティングスキルが鍵
                        li(data-theme='g')
                            a(href='detail.html') Facebookの「いいね！」で売上は増えるのか？
                    ul#series.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') 西畑一馬のjQuery Mobileデザイン入門
                        li(data-theme='g')
                            a(href='detail.html') 浜 俊太朗のHTML5マークアップ移行ガイド
                        li(data-theme='g')
                            a(href='detail.html') 古籏一浩のJavaScriptラボ
                        li(data-theme='g')
                            a(href='detail.html') 実録！HTML5でモバイルWebアプリ開発
                        li(data-theme='g')
                            a(href='detail.html') 清水 誠の「その指標がデザインを決める」
                    ul#topics.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') 「みんビズ」にかけるGoogleの思惑
                        li(data-theme='g')
                            a(href='detail.html') アマゾン、佐賀県鳥栖市に物流センターを開設 
                        li(data-theme='g')
                            a(href='detail.html') 「いいね」を押したことがある人、ネット利用者の3割
                        li(data-theme='g')
                            a(href='detail.html') マガシーク、雑誌「CanCam」連動の雑貨通販を企画
                        li(data-theme='g')
                            a(href='detail.html') SBRなど3社、「Googleショッピング商品掲載」開始
            div(data-role='footer', data-theme='n')
                | © 2011 ASCII MEDIA WORKS All right reserved.
