doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
        title
        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        style
            :stylus
                body
                    background #dbe8f6 url("images/background.png") no-repeat
                    background-image url("images/background.png"),
                    -webkit-gradient(linear, left top, left bottom, //左上から左下（上下のグラデーション）
                    from(rgba(255,255,255,0)), //開始点の背景色
                    color-stop(90%,rgba(255,255,255,0)), //0%～90%までの背景色
                    color-stop(91%,#c7daf2), //91%～100%までの背景色
                    to(#c7daf2)), //終了点の背景色
                    -webkit-gradient(linear, left top, right top, //左上から右上（左右のグラデーション）
                    from(rgba(255,255,255,0)), //開始点の背景色
                    color-stop(90%,rgba(255,255,255,0)), //0%～90%までの背景色
                    color-stop(91%,#c7daf2), //91%～100%までの背景色
                    to(#c7daf2)) //終了点の背景色
                    background-size 100% 78px,11px 11px,11px 11px
                    background-repeat no-repeat,repeat,repeat
                //.ui-btn-up-f
                .menu .ui-btn,
                .navbar .ui-btn
                    text-decoration none
                    border 1px solid  #327abf
                    background #709f9f
                    color #ffffff
                    text-shadow  0 -1px 1px #669999
                    background-image  -webkit-gradient(linear, left top, left bottom, 
                    from(#5d96cd),
                    color-stop(49%,#5d96cd),
                    color-stop(50%,#327abf),
                    to(#73a4d1))
                    background-image -webkit-linear-gradient(#5d96cd,#5d96cd 49%,#317abe 50%, #73a4d1)
                    background-image -moz-linear-gradient(#5d96cd,#5d96cd 49%,#317abe 50%, #73a4d1)
                    background-image -ms-linear-gradient(#5d96cd,#5d96cd 49%,#317abe 50%, #73a4d1)
                    background-image -o-linear-gradient(#5d96cd,#5d96cd 49%,#317abe 50%, #73a4d1)
                    background-image linear-gradient(#5d96cd,#5d96cd 49%,#317abe 50%, #73a4d1)
                //.ui-btn-hover-f,
                //.ui-btn-down-f, 
                //.ui-body-f .ui-btn-active
                .menu .ui-btn:hover,
                .navbar .ui-btn:hover
                    text-decoration none
                    font-weight normal
                    border 1px solid #327abf
                    background #709f9f
                    color #ffffff
                    text-shadow 0 -1px 1px #669999
                    background-image -webkit-gradient(linear, left top, left bottom, 
                    from(#73a4d1),
                    color-stop(49%,#317abe),
                    color-stop(50%,#5d96cd),
                    to(#5d96cd))
                    background-image -webkit-linear-gradient(#73a4d1, #317abe 49% , #5d96cd 50% , #5d96cd)
                    background-image -moz-linear-gradient(#73a4d1 , #317abe 49% , #5d96cd 50% , #5d96cd)
                    background-image -ms-linear-gradient(#73a4d1 , #317abe 49% , #5d96cd 50% , #5d96cd)
                    background-image -o-linear-gradient(#73a4d1 , #317abe 49% , #5d96cd 50% , #5d96cd)
                    background-image linear-gradient(#73a4d1 , #317abe 49% , #5d96cd 50% , #5d96cd)
                //.ui-btn-up-g,
                //.ui-btn-hover-g ,
                //.ui-btn-down-g , 
                //.ui-bar-g ,
                //.ui-btn-up-g.ui-btn-active
                .category .ui-btn,
                .newsList .ui-btn
                    text-decoration none
                    background #f0ebdf
                    color #ffffff
                    text-shadow 0 -1px 1px #ffffff
                    border none
                    background-image -webkit-gradient(linear, left top, left bottom, from(#f0ebdf) ,  to(#ffffff))
                    background-image -webkit-linear-gradient(#f0ebdf, #ffffff)
                    background-image -moz-linear-gradient(#f0ebdf, #ffffff)
                    background-image -ms-linear-gradient(#f0ebdf, #ffffff)
                    background-image -o-linear-gradient(#f0ebdf, #ffffff)
                    background-image linear-gradient(#f0ebdf, #ffffff)
                //.ui-btn-up-g a.ui-link-inherit,
                //.ui-btn-hover-g a.ui-link-inherit,
                //.ui-btn-hover-g a.ui-link-inherit
                .category .ui-btn:hover,
                .newsList .ui-btn:hover
                    color #2F3E46
                    font-weight bold
                .ui-header h1.ui-title
                    margin0
                .ui-header p
                    margin 10px 0 5px
                    font-size 12px
                    text-align center
                .menu
                    text-align center
                    margin-bottom 25px
                .menu>div
                    display inline-block
                //.menu .ui-btn-inner
                //    padding .6em 10px
                .category
                    padding-bottom 30px
                .h2
                    margin 0 -15px 15px
                    border-left 5px solid #9a6441
                    background #3e8bd4
                    background -webkit-gradient(linear, left top, left bottom, from(#3e8bd4) , to(#6ea8df))
                    color white
                    font-weight normal
                    font-size 16px
                    padding 5px 10px
                .category li
                    height 44px
                    border-top 1px solid #CCC
                .category li nth-of-type(2n)
                    border-left 1px solid #CCC
                    -webkit-box-sizing border-box
                .category li img
                    width 16px
                .category li a
                    font-size 14px
                .newsNavi
                    box-shadow 0 0  5px #CCC
                .newsNavi .navbar
                    margin 15px -15px
                .newsNavi .selected
                    background white
                    border 1px solid transparent
                .newsNavi .selected .ui-btn-text
                    color black
                #newsList 
                    margin-bottom 10px
                #newsList ul:not(#news)
                    display none
                #newsList li:not(:last-child)
                    border-bottom 1px solid #CCC
    body
        #index(data-role='page', data-theme='f')
            div(data-role='header', data-theme='n')
                p Webマーケティング、トレンドなど最新情報が満載
                h1
                    img(src='images/logo.png', alt='WEB NEWS Professional', width='212', height='21')
            div(data-role='content')
                .menu
                    .ui-shadow(data-role='controlgroup', data-type='horizontal')
                        a(href='list.html', data-role='button') TOP
                        a(href='list.html', data-role='button') TECH
                        a(href='list.html', data-role='button') WEB
                        a(href='list.html', data-role='button') MAC
                .category
                    h2.h2 NEWS Category
                    ul.ui-grid-a.ui-shadow(data-role='listview')
                        li.ui-block-a(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-web.png', alt='')
                                | Webトレンド
                        li.ui-block-b(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-html5.png', alt='')
                                | HTML5
                        li.ui-block-a(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-design.png', alt='')
                                | デザイン
                        li.ui-block-b(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-epub.png', alt='')
                                | 電子書籍
                        li.ui-block-a(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-smartphone.png', alt='')
                                | スマートフォン
                        li.ui-block-b(data-theme='g', data-icon='false')
                            a(href='list.html')
                                img.ui-li-icon(src='images/icon-markething.png', alt='')
                                | マーケティング
                #newsNavi.newsNavi
                    .navbar(data-role='navbar')
                        ul
                            li
                                a.selected(href='#news', rel='external') 新着記事
                            li
                                a(href='#trend', rel='external') 業界動向
                            li
                                a(href='#series', rel='external') 連載記事
                            li
                                a(href='#topics', rel='external') 注目記事
                #newsList.newsList
                    ul#news.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') お祭り騒ぎで終わらないためのスマホ対策
                        li(data-theme='g')
                            a(href='detail.html') HTML5のアウトラインとセクションを理解する
                        li(data-theme='g')
                            a(href='detail.html') jQuery MobileのCSSを変更してテーマをカスタマイズ
                        li(data-theme='g')
                            a(href='detail.html') Capture APIでiPhone用ビデオレコーダーを作ろう
                        li(data-theme='g')
                            a(href='detail.html') クリック課金のGoogleが「パンダ」を採用する理由
                    ul#trend.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') ad:tech tokyo 2011でルグランが無料セミナー
                        li(data-theme='g')
                            a(href='detail.html') クリック課金のGoogleが「パンダ」を採用する理由
                        li(data-theme='g')
                            a(href='detail.html') お祭り騒ぎで終わらないためのスマホ対応とは？
                        li(data-theme='g')
                            a(href='detail.html') コンバージョン改善はライティングスキルが鍵
                        li(data-theme='g')
                            a(href='detail.html') Facebookの「いいね！」で売上は増えるのか？
                    ul#series.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') 西畑一馬のjQuery Mobileデザイン入門
                        li(data-theme='g')
                            a(href='detail.html') 浜 俊太朗のHTML5マークアップ移行ガイド
                        li(data-theme='g')
                            a(href='detail.html') 古籏一浩のJavaScriptラボ
                        li(data-theme='g')
                            a(href='detail.html') 実録！HTML5でモバイルWebアプリ開発
                        li(data-theme='g')
                            a(href='detail.html') 清水 誠の「その指標がデザインを決める」
                    ul#topics.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') 「みんビズ」にかけるGoogleの思惑
                        li(data-theme='g')
                            a(href='detail.html') アマゾン、佐賀県鳥栖市に物流センターを開設 
                        li(data-theme='g')
                            a(href='detail.html') 「いいね」を押したことがある人、ネット利用者の3割
                        li(data-theme='g')
                            a(href='detail.html') マガシーク、雑誌「CanCam」連動の雑貨通販を企画
                        li(data-theme='g')
                            a(href='detail.html') SBRなど3社、「Googleショッピング商品掲載」開始
            div(data-role='footer', data-theme='n')
                | © 2011 ASCII MEDIA WORKS All right reserved.
