doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        title
        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    body
        #list(data-role='page', data-theme='f')
            div(data-role='header', data-theme='n')
                a(href='index.html', data-theme='f', data-direction='reverse', data-icon='arrow-l') TOP
                h1
                    a(href='index.html')
                        img(src='images/logo.png', alt='WEB NEWS Professional', width='212', height='21')
            div(data-role='content')
                div
                    h2.h2 Webトレンド
                    ul#news.ui-shadow(data-role='listview')
                        li(data-theme='g')
                            a(href='detail.html') ad:tech tokyo 2011でルグランが無料セミナー
                        li(data-theme='g')
                            a(href='detail.html') クリック課金のGoogleが「パンダ」を採用する理由
                        li(data-theme='g')
                            a(href='detail.html') お祭り騒ぎで終わらないためのスマホ対応とは？
                        li(data-theme='g')
                            a(href='detail.html') コンバージョン改善はライティングスキルが鍵
                        li(data-theme='g')
                            a(href='detail.html') Facebookの「いいね！」で売上は増えるのか？
                        li(data-theme='g')
                            a(href='detail.html') 西畑一馬のjQuery Mobileデザイン入門
                        li(data-theme='g')
                            a(href='detail.html') 浜 俊太朗のHTML5マークアップ移行ガイド
                        li(data-theme='g')
                            a(href='detail.html') 古籏一浩のJavaScriptラボ
                        li(data-theme='g')
                            a(href='detail.html') 実録！HTML5でモバイルWebアプリ開発
                        li(data-theme='g')
                            a(href='detail.html') 清水 誠の「その指標がデザインを決める」
            div(data-role='footer', data-theme='n')
                | © 2011 ASCII MEDIA WORKS All right reserved.
