prefix(prop, val)
    -webkit-{prop} val
    {prop} val

img
    float right
    display inline
    &.remove
        prefix('transform', rotate(0deg))  
        prefix('animation-name', myanim)    
        prefix('animation-duration', 2s)
        prefix('animation-timing-function', linear)
        prefix('animation-play-state', running)

@keyframes myanim
    0%
        prefix('transform', rotate(0deg))
    50%
        prefix('transform', rotate(360deg*5))   
    100%
        prefix('transform', rotate(360deg*10)) 
