@charset "utf-8";

// @group Reset
*
    margin 0
    padding 0
a
    text-decoration none
ul,ol
    list-style none
img
    vertical-align middle

// @group Fluid-img
img
     max-width 100%

// @group HTML
html
    font-family verdana, sans-serif
    font-size 100%
    line-height 1.5