@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
img {
  max-width: 100%;
}
html {
  font-family: verdana, sans-serif;
  font-size: 100%;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 24px;
}
h1 {
  font-size: 48px;
  line-height: 1;
}
h2 {
  font-size: 36px;
  line-height: 1.3333;
}
h3 {
  font-size: 24px;
  line-height: 1;
}
hgroup h2,
h4,
h5,
h6 {
  font-size: 16px;
  line-height: 1.5;
}
header {
  text-align: center;
  padding-top: 24px;
  background: #211f1f;
}
header h1 {
  margin-bottom: 24px;
}
header h2 {
  color: #fff;
}
nav ul li {
  width: 25%;
  float: left;
}
nav ul li a {
  display: block;
}
