@charset "utf-8";

// @group Reset
*
    margin 0
    padding 0
a
    text-decoration none
ul,ol
    list-style none
img
    vertical-align middle

// @group Fluid-img
img
     max-width 100%

// @group HTML
html
    font-family verdana, sans-serif
    font-size 100%
    line-height 1.5
    background url(http://griddle.it/960-12-10?color=pink&background=white&text=black)

// @group Heading
h1,h2,h3,h4,h5,h6
    margin-bottom 24px
h1
    font-size 48px
    line-height 1
h2
    font-size 36px
    line-height 1.3333
h3
    font-size 24px
    line-height 1
hgroup h2,h4,h5,h6
    font-size 16px
    line-height 1.5

// @group Header
header
    text-align center
    padding-top 24px
    background #211f1f
    h1
        margin-bottom 24px
    h2
        color #fff

// @group Nav
nav
    margin-bottom 24px
    background-color #7D4934
    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
    ul
        overflow hidden
        li
            width 25%
            float left
            a
                display block
                color #d8c2a4
                padding 12px 0
                &:hover
                    color white
                    background-color #7d4934

// @group Contents
#contents
    width 90%
    margin 0 auto
    text-align center
    p
        margin-bottom 24px
        text-align left
    img
        margin-bottom 24px
        box-shadow 0 0 5px #2f1f1f

// @group Foote
footer
    padding 24px 0
    color white
    text-align center
    background url(../images/footer_bg.png)

// 768px
@media screen and (min-width : 768px)
    #contents
        text-align left

// 1024px
@media screen and (min-width : 1024px)
    //