@charset "utf-8";
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
img {
  vertical-align: middle;
}
img {
  max-width: 100%;
}
html {
  font-family: verdana, sans-serif;
  font-size: 100%;
  line-height: 1.5;
  background: url("http://griddle.it/960-12-10?color=pink&background=white&text=black");
}
h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2.25em;
  line-height: 1.3333;
  margin-bottom: 0.6667em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
hgroup h2,
h4,
h5,
h6 {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 1.5em;
}
header {
  text-align: center;
  padding-top: 1.5em;
  background: #211f1f;
}
header h1 {
  margin-bottom: 0.5em;
}
header h2 {
  color: #fff;
}
nav {
  margin-bottom: 1.5em;
  background-color: #7d4934;
  background: -moz-linear-gradient(top, #7d4934 0%, #2b1512 88%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d4934), color-stop(88%, #2b1512));
  background: -webkit-linear-gradient(top, #7d4934 0%, #2b1512 88%);
  background: -o-linear-gradient(top, #7d4934 0%, #2b1512 88%);
  background: linear-gradient(to bottom, #7d4934 0%, #2b1512 88%);
}
nav ul {
  overflow: hidden;
}
nav ul li {
  width: 25%;
  float: left;
}
nav ul li a {
  display: block;
  color: #d8c2a4;
  padding: 0.75em 0;
}
nav ul li a:hover {
  color: #fff;
  background-color: #7d4934;
}
#contents {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
#contents p {
  margin-bottom: 1.5em;
  text-align: left;
}
#contents img {
  margin-bottom: 1.5em;
  box-shadow: 0 0 0.3125em #2f1f1f;
}
footer {
  padding: 24px 0;
  color: #fff;
  text-align: center;
  background: url("../images/footer_bg.png");
}
@media screen and (min-width : 768px) {
  #contents {
    text-align: left;
  }
}
@media screen and (min-width : 1024px) {
  nav ul {
    width: 93.75%;
    margin: 0 auto;
  }
  #contents {
    overflow: hidden;
    width: 93.75%;
  }
  #contents #main {
    width: 64.5833333%;
  }
  #contents #sub {
    width: 31.25%;
  }
  #contents #main,
  #contents #sub {
    float: left;
    margin: 0 1.0416667%;
  }
  footer {
    width: 91.796875%;
    margin: 0 auto;
  }
}
