doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        script
            :js
                (function(){
                    //コントロールバーを表示／非表示にする
                    $(document).on('pageshow','#index',function(){
                        var audioObj = $('#myAudio').get(0);
                        $('#ctrlON').on('vclick',function(){
                            audioObj.controls = true;
                            $('#stat').html('コントロール表示ON');
                        });
                        $('#ctrlOFF').on('vclick',function(){
                            audioObj.controls = false;
                            $('#stat').html('コントロール表示OFF');
                        });
                    });
                })()
    body
        #index(data-role='page')
            div(data-role='header')
                h1 コントロールバーを表示／非表示にする
            div(data-role='content')
                audio#myAudio(width='192', height='48', controls='controls')
                    source(src='../audio1/sample.mp3')
                    source(src='../audio1/sample.ogg')
                    p お使いのブラウザではオーディオを再生できません。
                form
                    input#ctrlON(type='button', value='コントロールバーを表示する')
                    input#ctrlOFF(type='button', value='コントロールバーを表示しない')
                #stat
            div(data-role='footer', data-position='fixed')
                h1 フッター