!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%meta(name="apple-mobile-web-app-capable" content="yes")
		%script(src="enchant.min.js")
		:javascript
			enchant();

			var SCREEN_WIDTH = 320;
			var SCREEN_HEIGHT = 320;
			var CHARA_IMAGE = 'http://enchantjs.com/images/materials/chara1.png';

			window.onload = function() {
			    var core = new Core(SCREEN_WIDTH, SCREEN_HEIGHT);

			    core.preload(CHARA_IMAGE);

			    core.keybind('Z'.charCodeAt(0), 'a');

			    core.onload = function() {
			   		var scene = core.rootScene;

			      scene.backgroundColor = 'black';

			      var sprite = new Sprite(32, 32);
			      sprite.image = core.assets[CHARA_IMAGE];
			      sprite.moveTo(50, 50);
			      scene.addChild(sprite);

			      scene.ontouchstart = function(e){
			      	sprite.x = e.x - (sprite.width/2);
			      	sprite.y = e.y - (sprite.height/2);
			      };
			    };
			    core.start();
			};
		:scss
			body {
				margin: 0;
			}
	%body

