doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		a(href='#')
			| 右クリック
			ul
				li(data-link='http://www.yahoo.co.jp/') Yahoo
				li(data-link='http://www.google.co.jp/') Google
				li(data-link='http://www.goo.ne.jp/') Goo
				li(data-link='http://jp.msn.com/') msn
				li(data-link='http://www.livedoor.com/') Livedoor
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
