<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= title %></a>
  </div>

  <div class="collapse navbar-collapse target">
    <ul class="nav navbar-nav">
      <li class="active"><a href="">HTML5</a></li>
      <li><a href="#">Emmet</a></li>
      <li><a href="#">Jade</a></li>
      <li><a href="#">Haml</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
  <li><a href="http://emmet.io/" target="_blank">Emmet</a></li>
  <li><a href="https://code.google.com/p/zen-coding/" target="_blank">Zen Coding</a></li>
  <li><a href="http://jade-lang.com/" target="_blank">Jade</a></li>
  <li><a href="http://haml.info/" target="_blank">Haml</a></li>
    </ul>
  </div>
</nav>