doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
        title
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        script
            :js
                (function(){
                    // Web Storageが使えるか調べる
                    $(document).on('pageshow','#index',function(){
                        if(window.localStorage){
                            $('#result').append('Local Storageは使用できます<br>');
                        }else{
                            $('#result').append('Local Storageは使用できません<br>');
                        }
                        if(window.sessionStorage){
                            $('#result').append('Session Storageは使用できます');
                        }else{
                            $('#result').append('Session Storageは使用できません');
                        }
                    });
                })()
    body
        #index(data-role='page')
            div(data-role='header')
                h1 Web Storageが使えるかどうか調べる
            div(data-role='content')
                #result
            div(data-role='footer', data-position='fixed')
                h1 フッター