doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet', href='style.css')
	body
		h1 変更前
		p
			a(href='img/before.png') 変更前
			| 
			a(href='img/after.png') 変更後
		p
			img(src='img/before.png')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')