doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p: img(src='img/200x200.png')
		h2 screenX、screenY（デスクトップの座標）
		p#screen
		h2 clientX、clientY（Webブラウザの座標）
		p#client
		h2 pageX、pageY（Webページの座標）
		p#page
		h2 offsetX、offsetY（img要素の座標）
		p#offset
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')