doctype htmls
html(lang='ja')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        script
            :js
                (function(){
                    //オーディオを繰り返し再生する
                    $(document).on('pageshow','#index',function(){
                        var audioObj = $('#myAudio').get(0);
                        var loopFlag = false;
                        $('#myAudio').on('ended', function(){
                            if(loopFlag == true){
                                audioObj.play();
                            }
                        });
                        /*
                        //以下の記述でも可
                        audioObj.addEventListener('ended', function(){
                            if(loopFlag == true){
                                audioObj.play();
                            }
                        }, true);
                        */
                        $('#aPlay').on('vclick',function(){
                            audioObj.play();
                        });
                        $('#aLoopON').on('vclick',function(){
                            loopFlag = true;
                            $('#stat').html('ループON');
                        });
                        $('#aLoopOFF').on('vclick',function(){
                            loopFlag = false;
                            $('#stat').html('ループOFF');
                        });
                    });
                })()
    body
        #index(data-role='page')
            div(data-role='header')
                h1 オーディオを繰り返し再生
            div(data-role='content')
                audio#myAudio(width='192', height='48', controls='controls')
                    source(src='../audio1/sample.mp3')
                    source(src='../audio1/sample.ogg')
                    p お使いのブラウザではオーディオを再生できません。
                form
                    input#aPlay(type='button', value='再生')
                    input#aLoopON(type='button', value='繰り返しON')
                    input#aLoopOFF(type='button', value='繰り返しOFF')
                #stat
            div(data-role='footer', data-position='fixed')
                h1 フッター