#container
    width 600px
    margin 0 auto
    padding 20px
    background white

h1
    margin-top 20px
    font-size large
    color #7CADB6

dl
    dt 
        border-left 5px solid #7CADB6
        border-bottom 1px solid #7CADB6
        font-size small
        margin 0
        padding 5px
        span
            color red
            font-weight bold
    dd
        font-size small
        margin 0
        padding 10px
        p.error
            margin 0
            color red
            font-weight bold
            margin-bottom 1em
        &.error input,
        &.error textarea,
        &.error label
            background #FFCCCC