!!!
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='width=device-width, initial-scale=1.0')
		title
		link(rel='stylesheet',href='style.css')
	body
		canvas#myCanvas(width='500',height='500')
		div#myButtons
			button#startAnimation Start
			button#stopAnimation Stop
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='asteroid3.js')

