doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                .my-navbar.navbar-form input[type="text"],
                .my-navbar.navbar-form input[type="password"]
                    width 180px
    body
        .container
            .navbar.navbar-default
                .navbar-header
                    a.navbar-brand(href='#') ページタイトル 
                form.navbar-form.my-navbar
                    input.form-control(type='text',name='username',placeholder='メールアドレス')
                    | 
                    input.form-control(type='password',name='password',placeholder='パスワード')
                    | 
                    button.btn.btn-primary(type='submit') ログイン
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')