doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            table.table.table-condensed
                tr
                    th ヘッダー1
                    th ヘッダー2
                    th ヘッダー3
                tr
                    th 項目1-1
                    th 項目1-2
                    th 項目1-3
                tr
                    th 項目2-1
                    th 項目2-2
                    th 項目2-3
                tr
                    th 項目3-1
                    th 項目3-2
                    th 項目3-3
                tr
                    th 項目4-1
                    th 項目4-2
                    th 項目4-3
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')