doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                .row
                    .row
                        background-color #f2dede
    body
        .row
            .col.col-md-4 左
            .col.col-md-4
                | 真ん中
                .row
                    .col.col-md-3 3
                    .col.col-md-9 9
            .col.col-md-4 右
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')