doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            ul#myTab.nav.nav-tabs
                li.active: a(href='#tab1') タブ1
                li: a(href='#tab2') タブ2
                li: a(href='#tab3') タブ3
            .tab-content
                #tab1.tab-pane.active
                    p コンテンツ1
                #tab2.tab-pane
                    p コンテンツ2
                #tab3.tab-pane
                    p コンテンツ3
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')
        script
            :js
                $(function(){
                    var $tabs = $('#myTab a');

                    $tabs.on('click',function(e){
                        e.preventDefault();
                        $(this).tab('show');
                    });

                    $tabs.on('show.bs.tab',function(e){
                        var target = e.target, relatedTarget = e.relatedTarget;
                        console.log('show', target, relatedTarget);
                    });

                    $tabs.on('shown.bs.tab',function(e){
                        var target = e.target, relatedTarget = e.relatedTarget;
                        console.log('shown', target, relatedTarget);
                    });

                });