doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .navbar.navbar-default
                .navbar-header
                    a.navbar-brand(href='#') ページタイトル 
                p.navbar-text.pull-right
                    | こんにちは
                    a.navbar-link(href='#') ユーザー
                    | さん！
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')