doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            ul.nav.nav-tabs
                li.active: a(href='#tab1',data-toggle='tab') タブ1
                li: a(href='#tab2',data-toggle='tab') タブ2
                li: a(href='#tab3',data-toggle='tab') タブ3
            .tab-content
                #tab1.tab-pane.fade.active.in
                    p コンテンツ1
                #tab2.tab-pane.fade
                    p コンテンツ2
                #tab3.tab-pane.fade
                    p コンテンツ3
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')