doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .row
                .col.col-md-4
                    .input-group
                        span.input-group-addon @
                        input.form-control(type='text',placeholder='Twitterアカウント')
                .col.col-md-4
                    .input-group
                        input.form-control(type='text')
                        span.input-group-addon .00
                .col.col-md-4
                    .input-group
                        span.input-group-btn
                            button.btn.btn-default(type='button') 検索
                        input.form-control(type='text',placeholder='キーワード')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')