doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                #my-paragraph
                    margin-top 50px
    body
        .container
            .alert.alert-warning.alert-dismissable
                a.close(data-dismiss='alert',href='#') &times;
                h4 警告
                p パスワードの有効期限が15日未満です。
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')