doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                .col-md-1
                    background-color #f2dede
                .col-md-2
                    background-color #dff0d8
                .col-md-4
                    background-color #d9edf7
    body
        .row
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
            .col.col-md-1 1
        .row
            .col.col-md-2 2
            .col.col-md-2 2
            .col.col-md-2 2
            .col.col-md-2 2
            .col.col-md-2 2
            .col.col-md-2 2
        .row
            .col.col-md-4 4
            .col.col-md-4 4
            .col.col-md-4 4
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')