doctype
html(lang='ja')
	head
		meta(charset='utf-8')
		title はじめてのBootstrap
		link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
	body
		h1 Hello, world!
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='js/bootstrap.min.js')