doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            ul.nav.nav-tabs.nav-justified
                li.active
                    a(href='#home') Home
                li
                    a(href='#search') 検索
                li
                    a(href='#register') 登録
            div(style='margin-top:30px;')
            ul.nav.nav-pills.nav-justified
                li.active
                    a(href='#home') Home
                li
                    a(href='#search') 検索
                li
                    a(href='#register') 登録
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')