doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .btn-toolbar
                .btn-group
                    button.btn.btn-default ボタン1-1
                    button.btn.btn-default ボタン1-2
                    button.btn.btn-default ボタン1-3
                .btn-group
                    button.btn.btn-primary ボタン2-1
                    button.btn.btn-primary ボタン2-2
                .btn-group
                    button.btn.btn-danger ボタン3-1
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')