doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            table.table.table-striped.table-bordered.table-condensed
                tr
                    th ヘッダー1
                    th ヘッダー2
                    th ヘッダー3
                    th ヘッダー4
                    th ヘッダー5
                    th ヘッダー6
                    th ヘッダー7
                    th ヘッダー8
                    th ヘッダー9
                tr
                    th 項目1-1
                    th 項目1-2
                    th 項目1-3
                    th 項目1-4
                    th 項目1-5
                    th 項目1-6
                    th 項目1-7
                    th 項目1-8
                    th 項目1-9
                tr
                    th 項目2-1
                    th 項目2-2
                    th 項目2-3
                    th 項目2-4
                    th 項目2-5
                    th 項目2-6
                    th 項目2-7
                    th 項目2-8
                    th 項目2-9
                tr
                    th 項目3-1
                    th 項目3-2
                    th 項目3-3
                    th 項目3-4
                    th 項目3-5
                    th 項目3-6
                    th 項目3-7
                    th 項目3-8
                    th 項目3-9
                tr
                    th 項目4-1
                    th 項目4-2
                    th 項目4-3
                    th 項目4-4
                    th 項目4-5
                    th 項目4-6
                    th 項目4-7
                    th 項目4-8
                    th 項目4-9
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')