doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .panel.panel-primary
                .panel-heading primaryタイトル
                .panel-body コンテンツ
            .panel.panel-success
                .panel-heading successタイトル
                .panel-body コンテンツ
            .panel.panel-warning
                .panel-heading warningタイトル
                .panel-body コンテンツ
            .panel.panel-danger
                .panel-heading dangerタイトル
                .panel-body コンテンツ
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')