doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            ul.list-group
                li.list-group-item
                    | コンテンツ1
                    span.badge 4
                li.list-group-item
                    | コンテンツ2
                    span.badge 8
                li.list-group-item
                    | コンテンツ3
                    span.badge 16
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')