doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .has-warning.form-group
                label.control-label(for='inputWarning') warning項目
                input#inputWarning.form-control(type='text')
            .has-error.form-group
                label.control-label(for='inputError') error項目
                input#inputErrord.form-control(type='text')
            .has-success.form-group
                label.control-label(for='inputSuccess') success項目
                input#inputSuccess.form-control(tpe='text')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')