doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .row
                .col.col-md-12
                    h1 サイト名
                    p ヘッダー
            .row
                .col.col-md-3
                    h2 サイドバー
                    ul
                        li リンク
                        li リンク
                        li リンク
                .col.col-md-9
                    h2 メインコンテンツ
                    p 本文
            .row
                .col.col-md-12
                    h3 フッター
                    p フッター
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')