doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                .col
                    background-color #f2dede
    body
        .row
            .col.col-md-3 3
            .col.col-md-3.col-md-offset-3 3 + offset 3
        .row
            .col.col-md-3 3
            .col.col-md-3.col-md-offset-6 3 + offset 6
        .row
            .col.col-md-6.col-md-offset-3 6 + offset 3
        .row
            .col.col-md-3.col-md-offset-3 3 + offset 3
            .col.col-md-3.col-md-offset-3 3 + offset 3
        .row
            .col.col-md-6.col-md-offset-6 6 + offset 6
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')