doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                body
                    padding-bottom 70px
    body
        .container
            .navbar.navbar-default.navbar-fixed-bottom
                .navbar-header
                    a.navbar-brand(href='#') ページタイトル 
                p.navbar-text.pull-right
                    | こんにちは
                    a.navbar-link(href='#') ユーザー
                    | さん！
            p Hello World 01
            p Hello World 02
            p Hello World 03
            p Hello World 04
            p Hello World 05
            p Hello World 06
            p Hello World 07
            p Hello World 08
            p Hello World 09
            p Hello World 10
            p Hello World 11
            p Hello World 12
            p Hello World 13
            p Hello World 14
            p Hello World 15
            p Hello World 16
            p Hello World 17
            p Hello World 18
            p Hello World 19
            p Hello World 20
            p Hello World 21
            p Hello World 22
            p Hello World 23
            p Hello World 24
            p Hello World 25
            p Hello World 26
            p Hello World 27
            p Hello World 28
            p Hello World 29
            p Hello World 30
            p Hello World 31
            p Hello World 32
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')