doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            a.btn.btn-primary(href='#')
                span.glyphicon.glyphicon-home  HOME 
            a.btn.btn-success(href='#')
                span.glyphicon.glyphicon-home  HOME 
            a.btn.btn-warning(href='#')
                span.glyphicon.glyphicon-home  HOME 
            a.btn.btn-info(href='#')
                span.glyphicon.glyphicon-home  HOME 
            a.btn.btn-danger(href='#')
                span.glyphicon.glyphicon-home  HOME 
            a.btn.btn-link(href='#')
                span.glyphicon.glyphicon-home  HOME 
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')