doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                #my-paragraph
                    margin-top 50px
    body
        .container
            p#my-paragraph
                | クリックで
                a(href='#',data-toggle='popover',title='ポップオーバー',data-content='ポップオーバーのコンテンツです。デフォルトで右に表示されます。') ポップオーバー
                | が表示されます。
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')
        script
            :js
                $('#my-paragraph a[data-toggle=popover]').popover();