doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                .my-inline.form-inline
                    input[type="text"],
                    input[type="password"]
                        width 180px
    body
        .container
            form.my-inline.form-inline
                .form-group
                    label.sr-only メールアドレス
                    input.form-control(type='text',name='email',placeholder='メールアドレス')
                    | 
                .form-group
                    label.sr-only パスワード
                    input.form-control(type='password',name='password',placeholder='パスワード')
                    | 
                    .checkbox
                        label
                            input(type='checkbox',name='rememberme')
                            |  ログインしたままにする　
                button.btn.btn-primary(type='submit') ログイン
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')