doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            div
                h2 btn-xs
                button.btn.btn-default.btn-xs btn-default
                button.btn.btn-primary.btn-xs btn-primary
                button.btn.btn-info.btn-xs btn-info
                button.btn.btn-success.btn-xs btn-success
                button.btn.btn-warning.btn-xs btn-warning
                button.btn.btn-danger.btn-xs btn-danger
                button.btn.btn-link.btn-xs btn-link
            div
                h2 btn-sm
                button.btn.btn-default.btn-sm btn-default
                button.btn.btn-primary.btn-sm btn-primary
                button.btn.btn-info.btn-sm btn-info
                button.btn.btn-success.btn-sm btn-success
                button.btn.btn-warning.btn-sm btn-warning
                button.btn.btn-danger.btn-sm btn-danger
                button.btn.btn-link.btn-sm btn-link
            div
                h2 default size
                button.btn.btn-default btn-default
                button.btn.btn-primary btn-primary
                button.btn.btn-info btn-info
                button.btn.btn-success btn-success
                button.btn.btn-warning btn-warning
                button.btn.btn-danger btn-danger
                button.btn.btn-link btn-link
            div
                h2 btn-lg
                button.btn.btn-default.btn-lg btn-default
                button.btn.btn-primary.btn-lg btn-primary
                button.btn.btn-info.btn-lg btn-info
                button.btn.btn-success.btn-lg btn-success
                button.btn.btn-warning.btn-lg btn-warning
                button.btn.btn-danger.btn-lg btn-danger
                button.btn.btn-link.btn-lg btn-link
            div
                h2 btn-block
                button.btn.btn-default.btn-block btn-default
                button.btn.btn-primary.btn-block btn-primary
                button.btn.btn-info.btn-block btn-info
                button.btn.btn-success.btn-block btn-success
                button.btn.btn-warning.btn-block btn-warning
                button.btn.btn-danger.btn-block btn-danger
                button.btn.btn-link.btn-block btn-link
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')