doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .btn-group
                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                    |  編 集 
                    span.caret
                ul.dropdown-menu
                    li: a(href='#') 取り消す
                    li: a(href='#') やり直す
                    li.divider
                    li: a(href='#') 切り取り
                    li: a(href='#') コピー
                    li: a(href='#') 貼り付け
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')