doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .btn-group
                button.btn.btn-default ボタン1
                button.btn.btn-default ボタン2
                button.btn.btn-default ボタン3
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')