doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        style
            :stylus
                .col:first-child
                    background-color #f2dede
                .col:first-child~.col
                    background-color #dff0d8
    body
        .container
            .row
                .col.col-xs-12.col-sm-12.col-md-3 3
                .col.col-xs-12.col-sm-4.col-md-3 3
                .col.col-xs-6.col-sm-4.col-md-3 3
                .col.col-xs-6.col-sm-4.col-md-3 3
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')