doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title はじめてのBootstrap
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            form
                fieldset
                    legend フォームサンプル
                    .form-group
                        label(for='name') 名前
                        input#name.form-control(type='text',placeholder='名前を入力してください')
                    .form-group
                        label(for='email') メールアドレス
                        input#email.form-control(type='email',placeholder='メールアドレスを入力してください')
                    button.btn.btn-default(type='submit') 送信
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')