doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p: input(type='text',value='入力してください')
		p: input(type='button',value="リセット")
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='script.js')