doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p
			input(type='button', value='クリック')
		table(border='1')
			tr
				td 11111
				td
				td
				td 77777
				td
			tr
				td
				td 33333
				td
				td
				td 99999
			tr
				td
				td 44444
				td 55555
				td
				td
			tr
				td 22222
				td
				td
				td 88888
				td
			tr
				td
				td
				td 66666
				td
				td 00000
		ul

		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
