doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		ul
			li: a(href='http://www.yahoo.co.jp/') Yahoo!
			li: a(href='http://www.google.co.jp/') Google
			li: a(href='http://jp.msn.com/') MSN
			li: a(href='http://www.goo.ne.jp/') goo
			li: a(href='http://www.livedoor.com/') Livedoor
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
