p,ul
    margin 0

#carouselWrap
    position relative
    margin 30px auto
    width 620px
    height 135px
    padding 5px
    background url("../img/background.gif")

#carouselPrev
    position absolute
    top 65px
    left -8px
    cursor pointer

#carouselNext
    position absolute
    top 65px
    right -8px
    cursor pointer

#carouselInner ul.column
    width 605px
    height 105px
    padding 15px 0 15px 15px
    list-style-type none
    float left
    li
        float left
        margin-right 10px
        img
            border none
