doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		form: fieldset
			span
				input#html(type='checkbox')
				label(for='html') HTML
			span
				input#css(type='checkbox')
				label(for='css') CSS
			span
				input#jquery(type='checkbox')
				label(for='jquery') jQuery
			span
				input#javascript(type='checkbox')
				label(for='javascript') JavaScript
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
