doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		ul
			-for(var i = 0; i < 4; i++)
				li テキストテキストテキストテキスト
		ol
			-for(var i = 0; i < 4; i++)
				li テキストテキストテキストテキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
