doctype
html(lang='ja-JP')
    head
        meta(charset='utf-8')
        title
    body
        p
            | 申し込み者：
            select
                option(value='お名前') 個人
                option(value='会社名') 法人
        p
            span お名前
            input(type='text')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='script.js')
