doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		div
			p
				img#image1(src='img/image1.png')
				img#image2(src='img/image2.png')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='jquery.easing.min.js')
		script(src='script.js')
