extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        |  配列
                    .panel-body
                        h4 空の配列の初期化
                        pre.
                            var 変数 = []; //= 配列リテラル
                            var 変数 = new Array(); //= 配列オブジェクト
                            var 変数 = new Array(要素の数); //= 配列オブジェクト
                        pre.
                            var ary = [];
                            var ary = new Array();
                            var ary = new Array(3);
                        h4 配列に初期値をセットして初期化
                        pre.
                            var 変数 = [値1, 値2, 値3, ….]; //= 配列リテラル
                            var 変数 = new Array(値1, 値2, 値3, ...); //= 配列オブジェクト
                        h4 配列の取得
                        pre.
                            変数 = 配列[添え字];
                        p ※ 添え字はインデックスとも呼ばれます。
                        h4 配列に代入
                        pre.
                            配列[添え字] = 値;

                        pre(class='prettyprint linenums:1')
                            :code
                                var greets = ['Hello', 'Welcome', 'Bye'];
                                var msg = greets[0] + '-' + arry[1];
                                greets[10] = msg;
                                console.log(greets);
                        p ※ 配列を格納した変数名は、通常の変数と区別するために複数形が使われることが多いです。
                        pre(class='prettyprint linenums:1')
                            :code
                                var points = new Array(3);
                                points[0] = 10;
                                points[1] = 20;
                                points[2] = 30;
                                for(var i = 0; i < 3; i++){
                                     console.log(points[i]);
                                }
                        pre(class='prettyprint linenums:1')
                            :code
                                var pointspoints = [10, 20, 30];
                                for(var i = 0; i < 3; i++){
                                     console.log(points[i]);
                                }
                        hr
                        h4 配列の要素数の取得
                        pre.
                            変数.length
                        pre(class='prettyprint linenums:1')
                            :code
                                var points = [98, 82, 70, 86, 53];
                                var total = 0;
                                for(var i = 0; i < points.length; i++){
                                  total += points[i];
                                }
                                console.log('合計: ' + total);
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Array', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Array