extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-bookmark
                        |  課題
                    .panel-body
                        p 関数をオブジェクト化してみましょう。
                        p
                            a.btn.btn-default(href='../demo/js/excercise37/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            |  
                            button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | 解答例
                        #demo.collapse.out
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype
                                    html(lang='ja')
                                        head
                                            meta(charset='utf-8')
                                            meta(name='viewport',content='width=device-width,initial-scale=1.0')
                                            link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                            script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                            script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                            title ランダムイメージ
                                            script
                                                :js
                                                    (function(){

                                                        var img = new Image();
                                                        img.src = 'kumamon.gif';
                                                                
                                                        $(document).on('pageshow','#index',function(){
                                                            
                                                            var num, time, timerId;

                                                            //スタートボタン
                                                            $('a').on('vclick',function(){
                                                                //画像の数
                                                                num = parseInt($('input[name="level"]:checked').val());

                                                                var game = new GameClass();
                                                                game.randomImage(num);
                                                                
                                                                //タイマーのカウント
                                                                time = parseInt($('input[name="time"]:checked').val());
                                                                game.start(time);

                                                                $('form').remove();
                                                                $(this).remove();
                                                                $('#timer').show();
                                                            });
                                                            
                                                            //画像削除
                                                            $('[data-role="content"]').on('vclick','img',function(){
                                                                $(this).remove();
                                                                
                                                                var total = 0;
                                                                $('#index').find('img').each(function(){
                                                                    total++;
                                                                });
                                                                
                                                                if(total == 0){
                                                                    $('#index').removeClass('ui-body-c').addClass('ui-body-e');
                                                                    
                                                                    clearInterval(timerId);

                                                                    alert('クリア');
                                                                    window.location.reload();
                                                                }
                                                            });

                                                            function GameClass(){

                                                                this.randomImage = function(num){

                                                                    document.images[img] = img.src;

                                                                    for(var i = 0; i < num; i++){
                                                                        $('#canvas').append('<img src="' + document.images[img] + '" alt="">');
                                                                        $('img:nth(' + i + ')').css({
                                                                            top: Math.floor(Math.random() * (480-64)),
                                                                            left: Math.floor(Math.random() * (innerWidth-64)),
                                                                        });
                                                                    }
                                                                };

                                                                this.start = function(time){
                                                                    var time = time;
                                                                    
                                                                    //タイマースタート
                                                                    (function countDown(){
                                                                        time--;
                                                                        timerId = setTimeout(function(){
                                                                            //タイム表示
                                                                            $('#timer').text(time);

                                                                            //10秒切ったら色を変える
                                                                            if(time < 10){
                                                                                $('#timer').css('color','red');
                                                                            }

                                                                            //関数再実行
                                                                            countDown();
                                                                        },1000);
                                                                        
                                                                        //タイマー解除
                                                                        if(time < 0){
                                                                            clearInterval(timerId);
                                                                            //$('#index').off('vclick');
                                                                            $('#index').removeClass('ui-body-c').addClass('ui-body-a');
                                                                            alert('ゲームオーバー');
                                                                            window.location.reload();
                                                                        }
                                                                    })();
                                                                };
                                                            }
                                                        });
                                                    })();
                                            style
                                                :stylus
                                                    [data-role='content']
                                                        position relative
                                                        #timer
                                                            position absolute
                                                            top 20px
                                                            left 20px
                                                            font-weight bold
                                                            font-size 32px
                                                            display none
                                                        #canvas
                                                            position relative
                                                            height 480px
                                                        img
                                                            width 64px
                                                            height 64px
                                                            position absolute
                                        body
                                            div(data-role='page', id='index')
                                                div(data-role='header')
                                                    h1 ランダムイメージ
                                                div(data-role='content')
                                                    div#timer
                                                    form
                                                        fieldset(data-role='controlgroup')
                                                            legend レベル:
                                                            input(type='radio',name='level', id='l1', value='10' , checked='checked')
                                                            label(for='l1') 10体
                                                            input(type='radio', name='level', id='l2', value='20')
                                                            label(for='l2') 20体
                                                            input(type='radio', name='level', id='l3', value='30')
                                                            label(for='l3') 30体
                                                        fieldset(data-role='controlgroup')
                                                            legend タイム:
                                                            input(type='radio', name='time', id='t1', value='60', checked='checked')
                                                            label(for='t1') 60秒
                                                            input(type='radio', name='time', id='t2', value='50')
                                                            label(for='t2') 50秒
                                                            input(type='radio', name='time', id='t3', value='40')
                                                            label(for='t3') 40秒
                                                    a(data-role='button') スタート
                                                    div#canvas
                                                div(data-role='footer', data-position='fixed')
                                                    h1 フッター