extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        |  Imageオブジェクト
                    .panel-body
                        h4 Imageオブジェクト
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/API/HTMLImageElement', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考: HTMLImageElement
                        p Imageオブジェクトは、先にブラウザにキャッシュしておき、配列「document.images[]」にキャッシュしておいた画像を割り当てることでブラウザに表示させることができます。
                        pre.
                            //ブラウザに画像をキャッシュする
                            var img = new Image();
                            img.src = '画像ファイルのパス';

                            //キャッシュした画像を使えるようにする
                            document.images[インデックス] = img.src;

                        p 配列「document.images[]」に割り当てた画像は、DOMスクリプティングか、jQueryを利用するなど、ブラウザのDOMツリー上に出力する必要があります。
                        pre.
                            //jQueryでappendした例
                            $('body').append('&lt;img src="' + document.images[0] + '" alt=""&gt;');
                        hr
                        p: u 参考
                        p
                            a.btn.btn-default(href='../demo/js/excercise39/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=device-width,initial-scale=1.0')
                                        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        title ランダムイメージ
                                        script
                                            :js
                                                var images = [
                                                    'kumamon0.gif',
                                                    'kumamon1.gif',
                                                    'kumamon2.gif',
                                                    'kumamon3.gif',
                                                    'kumamon4.gif'
                                                ];

                                                var teki = [];
                                                for(var i = 0; i < images.length; i++){
                                                    teki[i] = new Image();
                                                    teki[i].src = images[i];
                                                }
                                                
                                                $(document).on('pageshow','#index',function(){
                                                    for(var i = 0; i < images.length; i++){
                                                        $('#canvas').append(teki[i]);
                                                    }
                                                });

                                    body
                                        div(data-role='page', id='index')
                                            div(data-role='header')
                                                h1 ランダムイメージ
                                            div(data-role='content')
                                                #canvas
                                            div(data-role='footer', data-position='fixed')
                                                h1 フッター