extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-bookmark
                        |  課題
                    .panel-body
                        p 国語、算数、理科、社会、英語の点数をオブジェクトに格納し、グリッドに表示してみましょう。また、5課目の平均を最後の行に表示してみましょう。
                        p
                            a.btn.btn-default(href='../demo/js/excercise28/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                            |  
                            button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                |  解答例
                        p 参考：Underscore.jsを使うとオブジェクトが扱いやすくなります。
                        p
                            a.btn.btn-default(href='../demo/js/excercise29/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        #demo.collapse.out
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype
                                    html(lang='ja')
                                        head
                                            meta(charset='UTF-8')
                                            meta(content='width=device-width, user-scalable=no', name='viewport')
                                            link(href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css', rel='stylesheet')
                                            script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                            script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                            title オブジェクトの取得
                                            script
                                                :js
                                                    var test = {
                                                        '国語': 90,
                                                        '算数': 80,
                                                        '理科': 70,
                                                        '社会': 60,
                                                        '英語': 50
                                                    }
                                                    $(document).on('pageshow','#index',function(){
                                                        var sum = cnt =    0;
                                                        for(var key in test){
                                                            $('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-a">' + key + '</div></div>');
                                                            $('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-a">' + test[key] + '点</div></div>');
                                                            sum += test[key];
                                                            cnt++;
                                                        }
                                                        var average = sum / cnt;
                                                        $('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-b">平均</div></div>');
                                                        $('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-b">' + average + '点</div></div>');
                                                    });
                                        body
                                            #index(data-role='page')
                                                div(data-role='header')
                                                    h1 オブジェクトの取得
                                                div(data-role='content')
                                                    h1 テスト結果
                                                    .ui-grid-a
                                                div(data-position='fixed', data-role='footer')
                                                    h1 フッター
                            pre(class='prettyprint linenums:1')
                                :code
                                    <!DOCTYPE html>
                                    <html lang='ja'>
                                    <head>
                                    <meta charset='UTF-8'>
                                    <meta content='width=device-width, user-scalable=no' name='viewport'>
                                    <link href='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css' rel='stylesheet'>
                                    <script src='http://code.jquery.com/jquery-1.9.1.min.js'></script>
                                    <script src='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js'></script>
                                    <title>
                                    オブジェクトの取得
                                    </title>
                                    <script>
                                    var test = {
                                    '国語': 90,
                                    '算数': 80,
                                    '理科': 70,
                                    '社会': 60,
                                    '英語': 50
                                    }

                                    $(document).on('pagebeforecreate','#index',function(){

                                    var sum = cnt =  0;

                                    for(var key in test){
                                    $('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-c">' + key + '</div></div>');
                                    $('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-c">' + test[key] + '点</div></div>');  

                                    sum += test[key]; 
                                    cnt++;  
                                    }

                                    var average = sum / cnt;

                                    $('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-b">平均</div></div>');
                                    $('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-b">' + average + '点</div></div>');

                                    });
                                    </script>
                                    <style>
                                    /**/
                                    </style>
                                    </head>
                                    <body>
                                    <div data-role='page' id='index'>
                                    <div data-role='header'>
                                    <h1>
                                    オブジェクトの取得
                                    </h1>
                                    </div>
                                    <div data-role='content'>
                                    <h2>
                                    テスト結果
                                    </h2>
                                    <div class='ui-grid-a'></div>
                                    </div>
                                    <div data-position='fixed' data-role='footer'>
                                    <h4>
                                    Copyright © ナカノヨウスケ
                                    </h4>
                                    </div>
                                    </div>
                                    </body>
                                    </html>
                        #demo.collapse.out
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype
                                    html(lang='ja')
                                        head
                                            meta(charset='UTF-8')
                                            meta(content='width=device-width, user-scalable=no', name='viewport')
                                            link(href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css', rel='stylesheet')
                                            script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                            script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                            script(src='http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js')
                                            title オブジェクトの取得
                                            script
                                                :js
                                                    var test = {
                                                        '国語': 90,
                                                        '算数': 80,
                                                        '理科': 70,
                                                        '社会': 60,
                                                        '英語': 50
                                                    }
                                                    $(document).on('pageshow','#index',function(){
                                                        var sum = cnt =    0;
                                                        for(var i = 0; i < _.keys(test).length; i++){
                                                        $('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-a">' + _.keys(test)[i] + '</div></div>');
                                                        $('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-a">' + test[_.keys(test)[i]] + '点</div></div>');
                                                        sum += test[_.keys(test)[i]];
                                                        cnt++;
                                                        }
                                                        var average = sum / cnt;
                                                        $('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-b">平均</div></div>');
                                                        $('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-b">' + average + '点</div></div>');
                                                    });
                                        body
                                            #index(data-role='page')
                                                div(data-role='header')
                                                    h1 オブジェクトの取得
                                                div(data-role='content')
                                                    h1 テスト結果
                                                    .ui-grid-a
                                                div(data-position='fixed', data-role='footer')
                                                    h1 フッター