extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;JavaScript資料
                    .panel-body
                        h4 JavaScriptオンラインエディター
                        table.table
                            tr
                                td JS Bin
                                td http://jsbin.com/
                            tr
                                td Liveweave
                                td http://liveweave.com/
                            tr
                                td jsFiddle
                                td http://jsfiddle.net/
                            tr
                                td jsdo.it
                                td http://jsdo.it/
                            tr
                                td code.9leap
                                td http://code.9leap.net/
                            tr
                                td codePen
                                td http://codepen.io/
                            tr
                                td CSSDeck
                                td http://cssdeck.com/
                        hr
                        h4 JavaScriptの情報サイト
                        pre.
                            サイト名URLDailyJS
                            http://dailyjs.com/JavaScript

                            Magazine Blog for JSMag
                            http://www.jsmag.com/blog/color

                            i|o #javascript
                            http://coder.io/tag/javascript/Raddit: #javascritphttp://www.reddit.com/r/javascript/

                        hr
                        h4 JavaScriptの標準化
                        pre.
                            ECMAScript
                            http://ecmascript.org/

                            JIS X 3060
                            http://ja.wikipedia.org/wiki/ECMAScript
                        
                        hr
                        h4 JavaScript実行エンジン
                        table.table
                            tr
                                td Firefox
                                td Chrome
                                td IE
                                td Safari
                                td Opera
                            tr
                                td OdinMonkey
                                td V8
                                td JScript
                                td JavaScriptCore
                                td Charakan
                        //-
                            hr
                            h4 スマートフォン実機でデバッグ
                            pre
                                :code
                                    iPhone/iPod Touch
                                    設定                Safari                デベロッパ
                                    デバッグコンソールをオン

                                    ipad
                                    設定                Safari                詳細
                                    デバッグコンソールをオン

                                    Android
                                    ブラウザのメニュー                設定
                                    JavaScriptコンソールを表示をオン
                                    ブラウザのアドレスにabout:debugと打ち込むとJavaScriptコンソールが表示される

                                
                        hr
                        h4 JavaScriptの構成要素
                        table.table
                            tr
                                td コアJavaScript
                                td 環境に依存しないJavaScritの言語としての標準的な機能を提供する部分
                            tr
                                td ブラウザオブジェクト
                                td ブラウザの操作をJavaScriptから行うための機能
                            tr
                                td DOM（Document Object Model）
                                td JavaScriptからだけでなく、その他のプログラミング言語からも動作できる汎用的な使用
                            tr
                                td XHR（XMLHttpRequest）オブジェクト
                                td Ajaxの中核を占める重要な機能
                            tr
                                td Web API
                                td Webサービスの提供するJavaScriptの機能
                            tr
                                td HTML5 API
                                td HTML5で追加された、JavaScriptの機能
                            tr
                                td ライブラリ
                                td 用意されたプロパティやメソッドを利用して、やりたい処理を記述するもの
                            tr
                                td フレームワーク
                                td 決められたフォーマット（書式／形式）に従って、やりたい処理を指定するもの。
                        hr
                        h4 カッコの種類
                        pre
                            :code
                                大括弧     [...]
                                中括弧     {...}
                                小括弧     (...)
                                小なり                     
                        hr
                        h4 スクリプトの書き方
                        pre
                            :code
                                基本は半角文字
                                大文字と小文字は別の文字
                                スペースは半角スペースかタブで
                                文の終わりは「改行」か「セミコロン」
                                余計なことは「コメント」で

                        
                        hr
                        h4 コメントアウト
                        pre(class='prettyprint linenums:1')
                            :code
                                // これはコメントです
                                // 改行までコメントとなります // よってここもコメントです
                                /* 複数行コメントは閉じるまでがコメントです */
                                /********************************
                                * よって、このように改行して
                                * コメントを記述できます
                                ********************************/
                                /* /* 複数行コメントをネストすることはできません */ ←ここまでがコメントとみなされます */
                              
                        hr
                        h4 ドットインストール
                        pre
                            :code
                                http://dotinstall.com/lessons/basic_javascript
                                http://dotinstall.com/lessons/basic_javascript_tips