extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        |  定義済みオブジェクト
                    .panel-body
                        h4 定義済みオブジェクトの階層
                        p
                            | JavaScriptには多くの定義済みオブエジェクトがあり、コアオブジェクトとブラウザオブジェクトに分けられます。ブラウザオブジェクトはwindowオブジェクトを筆頭に、オブジェクトの階層があります。ピリオド（.）で連結されて、最後にオブジェクトの持つプロパティかメソッドが割り当てられます。

                        p ブラウザのコンソールから、定義済みオブジェクトをconsole.dir(オブジェクト)で確認できます。
                        pre
                            :code
                                {
                                    Object:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    Array:{
                                        arguments:
                                        caller:
                                        isArray:
                                        length:
                                        name:
                                        observe:
                                        <mark>prototype</mark>:{
                                            concat:
                                            <mark>constructor</mark>:
                                            entries:
                                            every:
                                            filter:
                                            find:
                                            findIndex:
                                            forEach:
                                            indexOf:
                                            join:
                                            keys:
                                            lastIndexOf:
                                            length:
                                            map:
                                            pop:
                                            push:
                                            reduce:
                                            reduceRight:
                                            reverse:
                                            shift:
                                            slice:
                                            some:
                                            sort:
                                            splice:
                                            toLocaleString:
                                            toString:
                                            unshift:
                                            values:
                                            <mark>__proto__</mark>:
                                        },
                                        unobserve:
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    Boolean:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    Date:{
                                        UTC:
                                        arguments:
                                        caller:
                                        length:
                                        name:
                                        now:
                                        parse:
                                        <mark>prototype</mark>:{
                                            <mark>constructor</mark>: function Date() { [native code] },
                                                UTC:
                                                arguments:
                                                caller:
                                                length:
                                                name:
                                                now:
                                                parse:
                                                <mark>prototype</mark>:
                                                <mark>__proto__</mark>:
                                            getDate:
                                            getDay:
                                            getFullYear:
                                            getHours:
                                            getMilliseconds:
                                            getMinutes:
                                            getMonth:
                                            getSeconds:
                                            getTime:
                                            getTimezoneOffset:
                                            getUTCDate:
                                            getUTCDay:
                                            getUTCFullYear:
                                            getUTCHours:
                                            getUTCMilliseconds:
                                            getUTCMinutes:
                                            getUTCMonth:
                                            getUTCSeconds:
                                            getYear:
                                            setDate:
                                            setFullYear:
                                            setHours:
                                            setMilliseconds:
                                            setMinutes:
                                            setMonth:
                                            setSeconds:
                                            setTime:
                                            setUTCDate:
                                            setUTCFullYear:
                                            setUTCHours:
                                            setUTCMilliseconds:
                                            setUTCMinutes:
                                            setUTCMonth:
                                            setUTCSeconds:
                                            setYear:
                                            toDateString:
                                            toGMTString:
                                            toISOString:
                                            toJSON:
                                            toLocaleDateString:
                                            toLocaleString:
                                            toLocaleTimeString:
                                            toString:
                                            toTimeString:
                                            toUTCString:
                                            valueOf:
                                            <mark>__proto__</mark>:
                                        },
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    Error:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    Function:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    ArrayBuffer:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    Math:{
                                        E: 2.718281828459045,
                                        LN2: 0.6931471805599453,
                                        LN10: 2.302585092994046,
                                        LOG2E: 1.4426950408889634,
                                        LOG10E: 0.4342944819032518,
                                        PI: 3.141592653589793,
                                        SQRT1_2: 0.7071067811865476,
                                        SQRT2: 1.4142135623730951,
                                        abs: function abs() { [native code] },
                                        acos: function acos() { [native code] },
                                        asin: function asin() { [native code] },
                                        atan: function atan() { [native code] },
                                        atan2: function atan2() { [native code] },
                                        ceil: function ceil() { [native code] },
                                        cos: function cos() { [native code] },
                                        exp: function exp() { [native code] },
                                        floor: function floor() { [native code] },
                                        imul: function imul() { [native code] },
                                        log: function log() { [native code] },
                                        max: function max() { [native code] },
                                        min: function min() { [native code] },
                                        pow: function pow() { [native code] },
                                        random: function random() { [native code] },
                                        round: function round() { [native code] },
                                        sign: function sign() { [native code] },
                                        sin: function sin() { [native code] },
                                        sqrt: function sqrt() { [native code] },
                                        tan: function tan() { [native code] },
                                        trunc: function trunc() { [native code] },
                                        <mark>__proto__</mark>: Object
                                    }
                                },
                                {
                                    Number:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    RegExp:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    String:{
                                        arguments:
                                        caller:
                                        fromCharCode:
                                        length:
                                        name:
                                        <mark>prototype</mark>:{
                                            anchor:
                                            big:
                                            blink:
                                            bold:
                                            charAt:
                                            charCodeAt:
                                            concat:
                                            <mark>constructor</mark>:
                                            contains:
                                            endsWith:
                                            fixed:
                                            fontcolor:
                                            fontsize:
                                            indexOf:
                                            italics:
                                            lastIndexOf:
                                            length:
                                            link:
                                            localeCompare:
                                            match:
                                            repeat:
                                            replace:
                                            search:
                                            slice:
                                            small:
                                            split:
                                            startsWith:
                                            strike:
                                            sub:
                                            substr:
                                            substring:
                                            sup:
                                            toLocaleLowerCase:
                                            toLocaleUpperCase:
                                            toLowerCase:
                                            toString:
                                            toUpperCase:
                                            trim:
                                            trimLeft:
                                            trimRight:
                                            valueOf:
                                            <mark>__proto__</mark>:
                                        },
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    JSON:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    window:{
                                        location:{
                                            ancestorsOrigin:
                                            assign:
                                            constructor:
                                            hasOwnProperty:
                                            hash:
                                            host:
                                            hostname:
                                            href:
                                            isPrototypeOf:
                                            origin:
                                            pathname:
                                            port:
                                            propertyIsEnumerable:
                                            protocol:
                                            reload:
                                            replace:
                                            search:
                                            toLocaleString:
                                            toString:
                                            valueOf:
                                            <mark>__proto__</mark>:
                                        },
                                        frames:{},
                                        Worker:{},
                                        localStorage:{},
                                        Audio:{},
                                        history:{},
                                        screen:{},
                                        FileReader:{},
                                        sessionStorage:{},
                                        XMLHttpRequest:{},
                                        applicationCache:{},
                                        document:{
                                            HeaderSearchForm:
                                            URL:
                                            activeElement:
                                            alinkColor:
                                            all:
                                            anchors:
                                            applets:
                                            baseURI:
                                            bgColor:
                                            body:
                                            characterSet:
                                            charset:
                                            childElementCount:
                                            childNodes:
                                            children:
                                            compatMode:
                                            cookie:
                                            currentScript:
                                            defaultCharset:
                                            defaultView:
                                            designMode:
                                            dir:
                                            doctype:
                                            documentElement:
                                            documentURI:
                                            domain:
                                            embeds:
                                            fgColor:
                                            firstChild:
                                            firstElementChild:
                                            fonts:
                                            forms:
                                            head:
                                            hidden:
                                            images:
                                            implementation:
                                            inputEncoding:
                                            jQuery18208035508764442056:
                                            lastChild:
                                            lastElementChild:
                                            lastModified:
                                            linkColor:
                                            links:
                                            localName:
                                            location:
                                            namespaceURI:
                                            newasyncwrite:
                                            nextSibling:
                                            nodeName:
                                            nodeType:
                                            nodeValue:
                                            <mark>onabort:
                                            onbeforecopy:
                                            onbeforecut:
                                            onbeforepaste:
                                            onblur:
                                            oncancel:
                                            oncanplay:
                                            oncanplaythrough:
                                            onchange:
                                            onclick:
                                            onclose:
                                            oncontextmenu:
                                            oncopy:
                                            oncuechange:
                                            oncut:
                                            ondblclick:
                                            ondrag:
                                            ondragend:
                                            ondragenter:
                                            ondragleave:
                                            ondragover:
                                            ondragstart:
                                            ondrop:
                                            ondurationchange:
                                            onemptied:
                                            onended:
                                            onerror:
                                            onfocus:
                                            oninput:
                                            oninvalid:
                                            onkeydown:
                                            onkeypress:
                                            onkeyup:
                                            onload:
                                            onloadeddata:
                                            onloadedmetadata:
                                            onloadstart:
                                            onmousedown:
                                            onmouseenter:
                                            onmouseleave:
                                            onmousemove:
                                            onmouseout:
                                            onmouseover:
                                            onmouseup:
                                            onmousewheel:
                                            onpaste:
                                            onpause:
                                            onplay:
                                            onplaying:
                                            onprogress:
                                            onratechange:
                                            onreadystatechange:
                                            onreset:
                                            onscroll:
                                            onsearch:
                                            onsecuritypolicyviolation:
                                            onseeked:
                                            onseeking:
                                            onselect:
                                            onselectionchange:
                                            onselectstart:
                                            onshow:
                                            onstalled:
                                            onsubmit:
                                            onsuspend:
                                            ontimeupdate:
                                            onvolumechange:
                                            onwaiting:
                                            onwebkitfullscreenchange:
                                            onwebkitfullscreenerror:
                                            onwebkitpointerlockchange:
                                            onwebkitpointerlockerror:
                                            onwheel:</mark>
                                            ownerDocument:
                                            parentElement:
                                            parentNode:
                                            plugins:
                                            preferredStylesheetSet
                                            prefix:
                                            previousSibling:
                                            readyState:
                                            referrer:
                                            scripts:
                                            securityPolicy:
                                            selectedStylesheetSet:
                                            styleSheets:
                                            textContent:
                                            title:
                                            visibilityState:
                                            vlinkColor:
                                            webkitCurrentFullScreenElement:
                                            webkitFullScreenKeyboardInputAllowed:
                                            webkitFullscreenElement:
                                            webkitFullscreenEnabled:
                                            webkitHidden:
                                            webkitIsFullScreen:
                                            webkitPointerLockElement:
                                            webkitVisibilityState:
                                            xmlEncoding:
                                            xmlStandalone:
                                            xmlVersion:
                                            <mark>__proto__</mark>:
                                            }
                                        <mark>__proto__</mark>:
                                    },
                                    {
                                        frames:{
                                            <mark>__proto__</mark>:
                                        }
                                    },
                                    {
                                        navigator:{
                                                appCodeName:
                                                appName:
                                                appVersion:
                                                cookieEnabled:
                                                doNotTrack:
                                                geolocation:
                                                language:
                                                maxTouchPoints:
                                                mimeTypes:
                                                onLine:
                                                platform:
                                                plugins:
                                                product:
                                                productSub:
                                                userAgent:
                                                vendor:
                                                vendorSub:
                                                webkitPersistentStorage:
                                                webkitTemporaryStorage:
                                                <mark>__proto__</mark>:
                                            }
                                        <mark>__proto__</mark>:
                                    }
                                {
                                    Event:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    frames:{
                                        <mark>__proto__</mark>:
                                    }
                                },
                                {
                                    console:{
                                        <mark>__proto__</mark>:
                                    }
                                }
                        h4 ブラウザオブジェクトの例
                        h5 windowオブジェクト
                        p windowオブジェクトのプロパティをコンソールで実行してみましょう。
                        pre(class='prettyprint linenums:1')
                            :code
                                window.innerHeight
                                window.innerWidth
                                window.outerHeight
                                window.outerWidth
                                window.scrollX
                                window.scrollY
                                window.screenX
                                window.screenY

                        p windowオブジェクトのメソッドをコンソールで実行してみましょう。
                        pre(class='prettyprint linenums:1')
                            :code
                                window.alert('予期せぬエラー');
                                window.confirm('よろしいですか');
                                window.close();
                                window.find('キーワード');
                        p
                        a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/API/Window', target='_blank')
                            i.glyphicon.glyphicon-info-sign
                            | 参考
                        hr
                        h5 documentオブジェクト
                        p documentオブジェクトのプロパティをコンソールで実行してみましょう。
                        pre(class='prettyprint linenums:1')
                            :code
                                window.document.title
                                window.document.bgColor
                                window.document.baseURI
                                window.document.doctype
                                window.document.domain
                                window.document.referrer
                                window.document.width
                                window.document.height
                        p windowオブジェクトのメソッドをコンソールで実行してみましょう。
                        pre(class='prettyprint linenums:1')
                            :code
                                window.document.write('Hello, World!');
                                window.document.clear();
                        p
                        a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/API/document', target='_blank')
                            i.glyphicon.glyphicon-info-sign
                            | 参考
                        hr
                        h5 locationオブジェクト
                        p locationオブジェクトのプロパティをコンソールで実行してみましょう。
                        pre(class='prettyprint linenums:1')
                            :code
                                window.location.protocol
                                window.location.host
                                window.location.hostname
                                window.location.port
                                window.location.pathname
                                window.location.search
                                window.location.hash
                                window.location.href

                        p locationオブジェクトのメソッドをコンソールで実行してみましょう。
                        pre(class='prettyprint linenums:1')
                            :code
                                window.location.assign('http://www.yahoo.co.jp');
                                window.location.reload();
                                window.location.replace('http://www.yahoo.co.jp');
                                window.location.toString();

                        p
                        a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/API/window.location', target='_blank')
                            i.glyphicon.glyphicon-info-sign
                            | 参考
                        hr
                        h4 コアオブジェクトの例
                        p コアオブジェクトは、クライアントサイド、サーバーサイドともにそのまま実行することができます。コアオブジェクトには以下のようなオブジェクトが存在します。
                        p
                            pre.
                                Array、Boolean、Date、Function、Math、Number、RegExp、String
                        p
                        a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Guide/Obsolete_Pages/Predefined_Core_Objects', target='_blank')
                            i.glyphicon.glyphicon-info-sign
                            | 参考：定義済みコアオブジェクト
                        hr
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Array', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Array
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Boolean', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Boolean
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Date', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Date
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Function', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Function
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Math
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Number', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Number
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/RegExp', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：RegExp
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/String', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：String
                        hr
                        h5 Mathオブジェクト
                        p Mathオブジェクトのプロパティをコンソールで実行してみましょう。
                        pre(class='prettyprint linenums:1')
                            :code
                                Math.E
                                Math.LN2
                                Math.LN10
                                Math.LOG2E
                                Math.LOG10E
                                Math.PI
                                Math.SQRT1_2
                                Math.SQRT2
                        pre(class='prettyprint linenums:1')
                            :code
                                Math.round('3.141516');
                                Math.random();
                                Math.PI;
                                Math.round(3.141592653589793);
                        p
                        a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math', target='_blank')
                            i.glyphicon.glyphicon-info-sign
                            | 参考