extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | ブラウザに組み込む
                    .panel-body
                        h4 ブラウザに組み込む
                        p head要素内のscript要素に記述すると、alertメソッドを実行してから、HTMLをレンダリングします。
                        p
                            a.btn.btn-default(href='../demo/js/excercise7/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        style
                                            :stylus
                                                h1
                                                    font-size 14pt
                                                    background-color #ccccff
                                                    padding 5px
                                                p
                                                    font-size 12pt
                                                    color #666699
                                        script
                                            :js
                                                alert('Hello, World!');
                                    body
                                        h1 Sample Page
                                        p サンプルのページ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        style
                                            :stylus
                                                h1
                                                    font-size 14pt
                                                    background-color #ccccff
                                                    padding 5px
                                                p
                                                    font-size 12pt
                                                    color #666699
                                        script
                                            :coffee
                                                alert 'Hello, World!'
                                    body
                                        h1 Sample Page
                                        p サンプルのページ
                        hr
                        p body要素の終了タグの直前にscript要素に記述すると、HTMLをレンダリングしてから、alertメソッドを実行します。
                        p
                            a.btn.btn-default(href='../demo/js/excercise8/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        style
                                            :stylus
                                                h1
                                                    font-size 14pt
                                                    background-color #ccccff
                                                    padding 5px
                                                p
                                                    font-size 12pt
                                                    color #666699
                                    body
                                        h1 Sample Page
                                        p サンプルのページ     
                                        script
                                            :js
                                                alert('Hello, World!');
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        style
                                            :stylus
                                                h1
                                                    font-size 14pt
                                                    background-color #ccccff
                                                    padding 5px
                                                p
                                                    font-size 12pt
                                                    color #666699
                                    body
                                        h1 Sample Page
                                        p サンプルのページ     
                                        script
                                            :coffee
                                                alert 'Hello, World!';
                        hr
                        h4 外部jsファイルから読み込む
                        p script要素内のsrc属性で外部jsファイルを読み込めます。実行順はhead要素内に記述した場合と、body要素の終了タグ直前に記述した場合で異なります。
                        p
                            a.btn.btn-default(href='../demo/js/excercise9/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        script(src='script.js')
                                        style
                                            :stylus
                                                h1
                                                    font-size 14pt
                                                    background-color #ccccff
                                                    padding  5px
                                                p
                                                    font-size 12pt
                                                    color #666699
                                    body
                                        h1 Sample Page
                                        p サンプルのページ     
                        pre(class='prettyprint linenums:1')
                            :code
                                alert('Hello, World!'); 
                        pre(class='prettyprint linenums:1')
                            :code
                                alert 'Hello, World!'
                        hr
                        h4 document.writeメソッド
                        p document.writeメソッドはhead要素内に記述した場合、body要素の開始タグ直後に文字列が挿入されます。
                        p
                            a.btn.btn-default(href='../demo/js/excercise3/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        script
                                            :js
                                                document.write('Hello, World!');
                                        style
                                            :stylus
                                                h1
                                                    font-size 14pt
                                                    background-color #ccccff
                                                    padding 5px
                                                p
                                                    font-size 12pt
                                                    color #666699
                                    body
                                        h1 Sample Page
                                        p サンプルのページ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        script
                                            :coffee
                                                document.write 'Hello, World!'
                                        style
                                            :stylus
                                                h1
                                                    font-size 14pt
                                                    background-color #ccccff
                                                    padding 5px
                                                p
                                                    font-size 12pt
                                                    color #666699
                                    body
                                        h1 Sample Page
                                        p サンプルのページ
                        hr
                        p docuent.writeメソッドはbody要素内に記述した場合、script要素のある位置に文字列が出力されます。
                        p
                            a.btn.btn-default(href='../demo/js/excercise4/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                     head
                                          meta(charset='UTF-8')
                                          title
                                          style
                                               :stylus
                                                    h1
                                                         font-size 14pt
                                                         background-color #ccccff
                                                         padding 5px
                                                    p
                                                         font-size 12pt
                                                         color #666699
                                     body
                                          h1 Sample Page
                                          p
                                               script
                                                    :js
                                                         document.write('Hello, World!');
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                     head
                                          meta(charset='UTF-8')
                                          title
                                          style
                                               :stylus
                                                    h1
                                                         font-size 14pt
                                                         background-color #ccccff
                                                         padding 5px
                                                    p
                                                         font-size 12pt
                                                         color #666699
                                     body
                                          h1 Sample Page
                                          p
                                               script
                                                    :coffee
                                                         document.write 'Hello, World!'