extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-bookmark
                        | 課題
                    .panel-body
                        p jQuery Mobileのボタンをタップして、カウントバブルを繰り上げてみましょう。
                        p
                            a.btn.btn-default(href='../demo/js/excercise10/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | 解答例
                        #demo.collapse.out
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype
                                    html(lang='ja')
                                        head
                                            meta(charset='UTF-8')
                                            title
                                            link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                            script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                            script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                            script
                                                :js
                                                    $(document).on('pageshow','#index',function(){
                                                        var cnt = 0;
                                                            $('a').on('vclick',function(){
                                                            $('.ui-li-count').text(++cnt);
                                                        });
                                                    });
                                        body
                                            #index(data-role='page')
                                                header(data-role='header')
                                                    h1 加算子の前置、後置
                                                div(data-role='content')
                                                    ul(data-role='listview', data-count-theme='c', data-inset='true')
                                                        li
                                                            a(href='#')
                                                                | 追加
                                                                span.ui-li-count 0
                                                footer(data-role='footer', data-position='fixed')
                                                    h1 フッター
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype
                                    html(lang='ja')
                                        head
                                            meta(charset='UTF-8')
                                            title
                                            link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                            script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                            script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                            script
                                                :coffee
                                                    $(document).on 'pageshow', '#index', ->
                                                        cnt = 0
                                                        $('a').on 'vclick', ->
                                                            $('.ui-li-count').text ++cnt
                                                            return
                                                        return
                                        body
                                            #index(data-role='page')
                                                header(data-role='header')
                                                    h1 加算子の前置、後置
                                                div(data-role='content')
                                                    ul(data-role='listview', data-count-theme='c', data-inset='true')
                                                        li
                                                            a(href='#')
                                                                | 追加
                                                                span.ui-li-count 0
                                                footer(data-role='footer', data-position='fixed')
                                                    h1 フッター
