extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        |  Mathオブジェクト
                    .panel-body
                        h4 Mathオブジェクト
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：Math
                        hr
                        h4 Mathオブジェクトのプロパティ
                        p 円周率
                        p: u PI
                        pre.
                            console.log(Math.PI); //= 3.141592653589793

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/PI', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：PI
                        hr
                        h4 自然対数の底
                        p: u E
                        pre.
                            console.log(Math.E); //= 2.718281828459045

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/E', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：E
                        hr
                        h4 Mathオブジェクトのメソッド
                        h4 切り捨て
                        p: u floor
                        pre.
                            console.log(Math.floor(1.58)); //= 1
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/floor', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：floor
                        hr
                        h4 切り上げ
                        p: u ceil
                        pre.
                            console.log(Math.ceil(1.58)); //= 2

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/ceil', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：ceil
                        hr
                        h4 四捨五入
                        p: u round
                        pre.
                            console.log(Math.round(1.58)); //= 2

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/round', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：round
                        hr
                        h4 大きい方
                        p: u max
                        pre.
                            console.log(Math.max(10, 15)); //= 15

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/max', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：max
                        hr
                        h4 小さい方
                        p: u min
                        pre.
                            console.log(Math.min(-10, 0)); //= -10

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/min', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：min
                        hr
                        h4 べき乗
                        p: u pow
                        pre.
                            console.log(Math.pow(2, 3)); //= 8（2の3乗）

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/pow', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：pow
                        hr
                        h4 平方根
                        p: u sqrt
                        pre.
                            console.log(Math.sqrt(3)); //= 1.7320508075688772
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/sqrt', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：sqrt
                        hr
                        h4 絶対値
                        p: u abs
                        pre.
                            console.log(Math.abs(-15)); //= 15
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/abs', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：abs
                        hr
                        h4 対数
                        p: u log
                        pre.
                            console.log(Math.log(Math.E)); //= 1
                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/log', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：log
                        hr
                        h4 サイン
                        p: u sin
                        pre.
                            console.log(Math.sin(1)); //= 0.8414709848078965

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/sin', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：sin
                        hr
                        h4 コサイン
                        p: u cos
                        pre.
                            console.log(Math.cos(1)); //= .5403023058681398

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/cos', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：cos
                        hr
                        h4 タンジェント
                        p: u tan
                        pre.
                            console.log(Math.tan(1)); //= 1.5574077246549023

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/tan', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：tan
                        hr
                        h4 乱数
                        p: u random
                        pre.
                            console.log(Math.random()); //= 0.5128006585873663

                        p
                            a.btn.btn-default(href='https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Global_Objects/Math/random', target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | 参考：random
                        hr
                        h4 整数値の乱数の算出
                        p 0から特定の数値までの乱数は乱数×最大値＋1の小数点を切り捨てて求められます。
                        p 0〜9までの乱数を取得する
                        pre.
                            Math.floor(Math.random() * (9 + 1));
                        p 0〜10までの乱数を取得する
                        p
                        pre.
                            Math.floor(Math.random() * (10 + 1));

                        p 特定の範囲内の数値で乱数を取得する場合は、乱数×((最大値＋1)-最小値)＋最小値の小数点を切り捨てて求められます。
                        p 2〜5までの乱数を取得する
                        pre.
                            Math.floor(Math.random()*((最大値+1)-最小値)+最小値));

                            Math.floor(Math.random() * (6 - 2) + 2);