extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | サーバーサイドでおみくじ
                    .panel-body
                        p app.js
                        pre(class='prettyprint linenums:1')
                            :code
                                /**
                                 * Module dependencies.
                                 */

                                var express = require('express');
                                var routes = require('./routes');
                                var user = require('./routes/user');
                                var http = require('http');
                                var path = require('path');

                                var app = express();

                                // all environments
                                app.set('port', process.env.PORT || 3000);
                                app.set('views', path.join(__dirname, 'views'));
                                app.set('view engine', 'jade');
                                app.use(express.favicon());
                                app.use(express.logger('dev'));
                                app.use(express.json());
                                app.use(express.urlencoded());
                                app.use(express.methodOverride());
                                app.use(app.router);
                                app.use(require('stylus').middleware(path.join(__dirname, 'public')));
                                app.use(express.static(path.join(__dirname, 'public')));

                                // development only
                                if ('development' == app.get('env')) {
                                  app.use(express.errorHandler());
                                }

                                app.get('/', routes.index);
                                <mark>app.post('/', routes.index);</mark>
                                app.get('/users', user.list);

                                http.createServer(app).listen(app.get('port'), function(){
                                  console.log('Express server listening on port ' + app.get('port'));
                                });
                        p libs/omikuji.js
                        pre(class='prettyprint linenums:1')
                            :code
                                exports.fOmikuji = function(){

                                    var result;

                                    switch(Math.floor(Math.random()*7)){
                                        case 0:
                                            result = '大吉';
                                            break;
                                        case 1:
                                        case 2:
                                            result = '中吉';
                                            break;
                                        case 3:
                                        case 4:
                                        case 5:
                                            result = '吉';
                                            break;
                                        case 6:
                                            result = '凶';
                                            break;
                                        default:
                                            result = 'エラー';
                                    }

                                    return result;
                                };
                        p routes/index.js
                        pre(class='prettyprint linenums:1')
                            :code
                                /*
                                 * GET home page.
                                 */

                                exports.index = function(req, res){

                                    var result, omikuji, result;
                                    
                                    omikuji = require('../libs/omikuji');

                                    if(req.method == 'POST'){
                                        //おみくじをふる
                                        result = omikuji.fOmikuji();

                                        res.render('index', {
                                            result: result
                                        });
                                    }
                                    else{
                                        result = '今日の運勢は？'
                                        
                                        res.render('index', {
                                            result: result
                                        });
                                    }
                                };
                        p views/index.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        meta(content='width=device-width, user-scalable=no', name='viewport')
                                        link(href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css', rel='stylesheet')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        title おみくじ
                                    body
                                        #index(data-role='page')
                                            div(data-role='header')
                                                h1 おみくじ
                                            div(data-role='content')
                                                form(method='POST',action='./')
                                                    input(type='submit',value='おみくじをふる')
                                                <mark>p= result ? result : ''</mark>
                                            div(data-position='fixed', data-role='footer')
                                                h1 フッター