.list-group
    a.list-group-item(href='39')
        i.badge.badge-info
        |  JavaScript資料
    a.list-group-item(href='44')
        i.badge.badge-info
        |  出力してみる
    a.list-group-item(href='45')
        i.badge.badge-info
        |  JavaScriptの基本形
    a.list-group-item(href='40')
        i.badge.badge-info
        |  定義済みオブジェクト
    a.list-group-item(href='46')
        i.badge.badge-info
        |  ブラウザに組み込む
    a.list-group-item(href='47')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：document.write
    a.list-group-item(href='48')
        i.badge.badge-info
        |  リテラルとデータ型
    a.list-group-item(href='50')
        i.badge.badge-info
        |  変数と数値計算
    a.list-group-item(href='52')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：円錐の体積の公式
    a.list-group-item(href='77')
        i.badge.badge-info
        |  サーバーサイドで計算
    a.list-group-item(href='53')
        i.badge.badge-info
        |  インクリメント／デクリメント
    a.list-group-item(href='51')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：加算子の前置、後置
    a.list-group-item(href='82')
        i.badge.badge-info
        |  サーバーサイドでjsファイルを読み込む<br>(exports / require)
    a.list-group-item(href='83')
        i.badge.badge-info
        |  サーバーサイドでjsonファイルを読み込む<br>(exports / require)
    a.list-group-item(href='54')
        i.badge.badge-info
        |  条件分岐構文（if文）
    a.list-group-item(href='58')
        i.badge.badge-info
        |  ユーザーエージェントの識別
    a.list-group-item(href='57')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：ブラウザでUAを取得してサイトを切り替える
    a.list-group-item(href='80')
        i.badge.badge-info
        |  サーバーサイドでUAを取得してサイトを切り替える
    a.list-group-item(href='59')
        i.badge.badge-info
        |  ブラウザでCookieを扱う
    a.list-group-item(href='78')
        i.badge.badge-info
        |  サーバーサイドでCookieを扱う
    a.list-group-item(href='81')
        i.badge.badge-info
        |  ブラウザでCookieを使ってサイトを切り替える
    a.list-group-item(href='56')
        i.badge.badge-info
        |  サーバーサイドでCookieを使ってサイトを切り替える
    a.list-group-item(href='62')
        i.badge.badge-info
        |  サーバーサイドでテンプレートを切り替える
    a.list-group-item(href='60')
        i.badge.badge-info
        |  Web Storageの使い方
    a.list-group-item(href='61')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：Local Storageを使ってサイトを切り替える
    a.list-group-item(href='68')
        i.badge.badge-info
        |  その他の条件分岐構文
    a.list-group-item(href='71')
        i.badge.badge-info
        |  三項演算子でJadeの出力を切り替える
    a.list-group-item(href='64')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：信号
    a.list-group-item(href='85')
        i.badge.badge-info
        |  サーバーサイドで信号
    a.list-group-item(href='70')
        i.badge.badge-info
        |  Mathオブジェクト
    a.list-group-item(href='69')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：おみくじ
    a.list-group-item(href='84')
        i.badge.badge-info
        |  サーバーサイドでおみくじ
    a.list-group-item(href='73')
        i.badge.badge-info
        |  繰り返し構文
    a.list-group-item(href='63')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：listviewを繰り返す
    a.list-group-item(href='86')
        i.badge.badge-info
        |  テンプレートでlistviewを繰り返す
    a.list-group-item(href='75')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：9×9一覧表
    a.list-group-item(href='87')
        i.badge.badge-info
        |  テンプレートで9×9一覧表
    a.list-group-item(href='74')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：ランダムイメージ
    a.list-group-item(href='88')
        i.badge.badge-info
        |  テンプレートでランダムイメージ
    a.list-group-item(href='1')
        i.badge.badge-info
        |  配列
    a.list-group-item(href='66')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：配列の取得
    a.list-group-item(href='89')
        i.badge.badge-info
        |  テンプレートに配列を渡す
    a.list-group-item(href='67')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：カラーテーブル
    a.list-group-item(href='91')
        i.badge.badge-info
        |  テンプレートでカラーテーブル
    a.list-group-item(href='43')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：じゃんけんゲーム
    a.list-group-item(href='90')
        i.badge.badge-info
        |  サーバーサイドでじゃんけんゲーム
    a.list-group-item(href='92')
        i.badge.badge-info
        |  二次元配列
    a.list-group-item(href='76')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：オセロ
    a.list-group-item(href='22')
        i.badge.badge-info
        |  テンプレートでオセロ
    a.list-group-item(href='3')
        i.badge.badge-info
        |  オブジェクト
    a.list-group-item(href='7')
        i.badge.badge-info
        |  jQueryで配列/オブジェクトを扱う
    a.list-group-item(href='2')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：オブジェクトの取得
    a.list-group-item(href='23')
        i.badge.badge-info
        |  テンプレートにオブジェクトを渡す
    a.list-group-item(href='24')
        i.badge.badge-info
        |  テンプレートでunderscore.js
    a.list-group-item(href='65')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：オブジェクトのネスト
    a.list-group-item(href='25')
        i.badge.badge-info
        |  テンプレートでオブジェクトのネスト
    a.list-group-item(href='6')
        i.badge.badge-info
        |  自作関数
    a.list-group-item(href='10')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：処理の関数化
    a.list-group-item(href='26')
        i.badge.badge-info
        |  サーバーにブラウザの幅を送信
    a.list-group-item(href='11')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：引数の取得
    a.list-group-item(href='27')
        i.badge.badge-info
        |  サーバーにパラメーターを送信
    a.list-group-item(href='28')
        i.badge.badge-info
        |  サーバーにリアルタイムに送信
    a.list-group-item(href='8')
        i.badge.badge-info
        |  タイマーイベント
    a.list-group-item(href='12')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：時間制限
    a.list-group-item(href='29')
        i.badge.badge-info
        |  サーバーからリアルタイムに受信
    //-
        a.list-group-item(href='13')
            i.glyphicon.glyphicon-bookmark
            i.badge.badge-info
            |  課題：ゲームクリア
        a.list-group-item(href='14')
            i.glyphicon.glyphicon-bookmark
            i.badge.badge-info
            |  課題：ゲーム初期化
    a.list-group-item(href='30')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：ゲームクリア
    a.list-group-item(href='31')
        i.badge.badge-info
        |  リアルタイムに双方向通信
    a.list-group-item(href='18')
        i.badge.badge-info
        |  Imageオブジェクト
    a.list-group-item(href='4')
        i.badge.badge-info
        |  無名（匿名）オブジェクト
    a.list-group-item(href='5')
        i.badge.badge-info
        |  コンストラクタとインスタンス
    a.list-group-item(href='15')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：関数のオブエジェクト化
    a.list-group-item(href='16')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        |  課題：コンストラクタに引数を渡す
    a.list-group-item(href='17')
        i.badge.badge-info
        |  オブジェクトの拡張とオーバーライド
    a.list-group-item(href='9')
        i.badge.badge-info
        |  プロトタイプと継承
    a.list-group-item(href='32')
        i.badge.badge-info
        |  サーバーサイドのオブジェクト化<br>(mobule.exports / require)
    a.list-group-item(href='33')
        i.badge.badge-info
        |  外部からオブジェクトを操作する
    a.list-group-item(href='34')
        i.badge.badge-info
        |  外部からオブジェクトを操作する2
    a.list-group-item(href='19')
        i.badge.badge-info
        |  高度な関数の使い方
    a.list-group-item(href='20')
        i.badge.badge-info
        |  例外処理
    a.list-group-item(href='21')
        i.badge.badge-info
        |  イベントハンドラ、イベントリスナ