doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		div
			h1 見出しレベル1
			p
				| テキストテキストテキストテキスト<br>
				| テキストテキストテキストテキスト<br>
				| テキストテキストテキストテキスト<br>
				| テキストテキストテキストテキスト
			div
				h2 見出しレベル2
				p
					| テキストテキストテキストテキスト<br>
					| テキストテキストテキストテキスト<br>
					| テキストテキストテキストテキスト<br>
					| テキストテキストテキストテキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
