<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include recipe1 %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">JavaScriptライブラリー</div>
          <div class="panel-body">

<h4>UI</h4>
<pre>
Apycom Menu
http://apycom.com/

Gmap3
http://gmap3.net/

monitter widgets
Visualize
Star Rating
Zoombox
SliderKit
SocialButton
zRSSFeed
vTicker
Snippet
Validation
TableFixedHeader
Plupload
Booklet
FormToWizard
jquery.createvideo
jMP3
Chosen
Twitter Bootstrap
bubble-tooltip
Folder tree with drag and drop
modal message
slidedown-menu2
竹取JS
FullCalendar
jpPlot
uploadify
Flot
jQuery UI
Accordion
AutoComplete
Datepicker
Dialog
Slider
Resizable
Draggable & Droppable
Selectable
Sortable
Menu
Tabs
Tooltip
Facebox
jqGrid
jquery-notice
jQuery Knob
jQuery.calendarPicker
prettyLoader
prettyPopin
Uniform
</pre>

<pre>
スマートフォン
iUI
jqMini
JqMobi
quo.js
http://quojs.tapquo.com/
Zoery
jAction
Zepto.js
glossy.js
http://www.netzgesta.de/glossy/
ResponsiveSlides.js
http://responsive-slides.viljamis.com/
</pre>

<pre>
小ネタ
jquery.cookie
CoffeeScript
enchant.js
jStorage
Raphaël
suggest.js
TaffyDB
</pre>
<pre>
フレームワーク
Angular.js
Ember.js
Express.js
Ext JS
flatiron.js
Sammy.js
YUI
qooxdoo
Backbone.js
Knockout
linq.js
linq.jquery.js
batman.js
Spine.js
RxJS
SNBinder
Underscore.js
</pre>

<pre>
テスト
Buster.JS
chai.js
JSTestDriver
Mocha
Sinon.js
TestSwarm
Jasmine
JsMockkito
QUnit
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>