extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;JavaScriptライブラリ
                    .panel-body
                        .alert.alert-info UI
                        pre.
                            Apycom Menu
                            http://apycom.com/

                            Gmap3
                            http://gmap3.net/

                            monitter widgets
                            Visualize
                            Star Rating
                            Zoombox
                            SliderKit
                            SocialButton
                            zRSSFeed
                            vTicker
                            Snippet
                            Validation
                            TableFixedHeader
                            Plupload
                            Booklet
                            FormToWizard
                            jMP3
                            Chosen
                            bubble-tooltip
                            Folder tree with drag and drop
                            modal message
                            slidedown-menu2
                            竹取JS
                            FullCalendar
                            jpPlot
                            uploadify
                            Flot
                            Accordion
                            AutoComplete
                            Datepicker
                            Dialog
                            Slider
                            Resizable
                            Draggable & Droppable
                            Selectable
                            Sortable
                            Menu
                            Tabs
                            Tooltip
                            Facebox
                            prettyLoader
                            prettyPopin
                            Uniform
                            snap.js

                        hr
                        .alert.alert-info HTML5
                        h4 htm5shiv
                        pre.
                            https://code.google.com/p/html5shiv/
                            bower install html5shiv
                        h4 pjax.js
                        pre.
                            http://sa-kusaku.sakura.ne.jp/output/pjax/

                        hr
                        .alert.alert-info CSS3
                        h4 selectivizr
                        pre.
                            http://selectivizr.com/
                            bower install selectivizr

                        hr
                        .alert.alert-info レスポンシブWebデザイン
                        h4 Respond.js
                        pre.
                            https://github.com/stottjeh/Respond
                            bower install respond
                        h4 ResponsiveSlides.js
                        pre.
                            http://responsive-slides.viljamis.com/
                        hr
                        .alert.alert-info フレームワーク
                        pre.
                            Angular.js
                            Ember.js
                            Express.js
                            Ext JS
                            flatiron.js
                            Sammy.js
                            YUI
                            qooxdoo
                            Knockout
                            linq.js
                            linq.jquery.js
                            batman.js
                            Spine.js
                            RxJS
                            SNBinder
                        hr
                        .alert.alert-info 小ネタ
                        pre.
                            enchant.js
                            jStorage
                            Raphaël
                            suggest.js
                            TaffyDB

                        hr

                        .alert.alert-info テスト
                        pre.
                            Buster.JS
                            chai.js
                            JSTestDriver
                            Mocha
                            Sinon.js
                            TestSwarm
                            Jasmine
                            JsMockkito
                            QUnit
