<div class="list-group">
     <a href="demo/js/recipe1/chapter01/002/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/003/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/004/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/005/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/006/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/007/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/008/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/008/sample2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/009/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/010/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/011/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/012/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/013/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/014/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/015/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/016/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/017/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/018/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/019/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/020/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/021/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/022/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/023/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/024/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/025/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/026/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/027/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/028/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/029/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/030/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/031/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/032/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/033/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/034/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/035/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter02/036/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
</div>