<div class="list-group">
     <a href="demo/js/recipe1/chapter01/002/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/003/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/004/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/005/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/006/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/007/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/008/sample/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
     <a href="demo/js/recipe1/chapter01/008/sample2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> サンプル
     </a>
</div>