doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		div#first
			-for(var i = 0; i < 4; i++)
				p テキストテキストテキストテキスト
		div#second
			p
				-for(var i = 0; i < 4; i++)
					| テキストテキストテキストテキスト
					-if(i != 3)
						br