@charset "utf-8";

/*------------------------------------------------------------
    リセット
------------------------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure
    margin 0
    padding 0
    background transparent
    border 0
    outline 0
    font-size 1em

body, table, input, textarea, select, option
    font-family HiraKakuProN-W3
    font-size 1em

article, aside, canvas, details,
figcaption, figure, footer, header,
hgroup, menu, nav, section, summary
    display block

ol, ul
    list-style none

blockquote, q
    quotes none

:focus
    outline 0

ins
    text-decoration none

del
    text-decoration line-through

/*------------------------------------------------------------
    クリアフィクス
------------------------------------------------------------*/
.cf
    zoom 1
    &:after
        content ""
        display block
        clear both

/*------------------------------------------------------------
    レイアウト
------------------------------------------------------------*/
body
    line-height 1.5
    -webkit-text-size-adjust none
    color #333

/*------------------------------------------------------------
    ヘッダー
------------------------------------------------------------*/
#header
    border-bottom 3px solid #374c00
    width 100%
    height 44px
    display table
.logo
    display table-cell
    vertical-align middle
    text-align center
    height 44px
    padding-right 32px

.menu_btn
    display table-cell
    vertical-align middle
    width 42px
    padding-left 10px

/*------------------------------------------------------------
    コンテナー
------------------------------------------------------------*/
#container
    padding-bottom 16px
    -webkit-box-shadow 0 5px 5px rgba(0,0,0,0.3)
    box-shadow 0 5px 5px rgba(0,0,0,.3)
    position relative

/*------------------------------------------------------------
    フッター
------------------------------------------------------------*/
#footer
    background-color #8fc700
    padding 15px 0
    text-align center