!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%link(rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css")
		%script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		%script(src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js")
		%script(src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js");
		%title
			オブジェクトの取得
		:javascript
			var othello  = [
				[-1,-1,-1,-1,-1,-1,-1,-1],
				[-1,-1,-1,-1,-1,-1,-1,-1],
				[-1,-1,-1,-1,-1,-1,-1,-1],
				[-1,-1,-1, 0, 1,-1,-1,-1],
				[-1,-1,-1, 1, 0,-1,-1,-1],
				[-1,-1,-1,-1,-1,-1,-1,-1],
				[-1,-1,-1,-1,-1,-1,-1,-1],
				[-1,-1,-1,-1,-1,-1,-1,-1]
			]

			$(document).on('pagebeforecreate','#index',function(){
				
				var table = undefined;
				
				for(var i = 0; i < othello.length; i++){

					table += '<tr>';
					for(var j = 0; j < othello[i].length; j++){
						switch(othello[i][j]){
							case -1:
								table += '<td>' + othello[i][j] + '</td>';
								break;
							case 0:
								table += '<td style="background-color:white;">' + othello[i][j] + '</td>';
								break;
							case 1:
								table += '<td style="background-color:black;">' + othello[i][j] + '</td>';
								break;
							default:

						}
					}
					table += '</tr>';
				}

				$('table').append(table)

			});
		:scss
			$size:50px;
			table{
				td{
					padding:5px;
					box-sizing:border-box;
					width:$size;
					height:$size;
					background-color:yellowgreen;
					text-align:center;
				}
			}
	%body
		%div(data-role="page" id="index")
			%div(data-role="header")
				%h1
					オセロ
			%div(data-role="content")
				%table
				%div(class="ui-grid-a")
			%div(data-role="footer" data-position="fixed")
				%h4
					Copyright &copy; ナカノヨウスケ
