doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		table(border='1')
			tr
				th(rowspan='4') th要素
				-for(var j = 0; j < 3; j++)
					td td要素
			-for(var i = 0; i < 3; i++)
				tr
					-for(var j = 0; j < 3; j++)
						td td要素
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
