extends ../../layout

block link
    include ../../link2

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;MySQL資料
                    .panel-body
                        h4 公式サイト
                        p
                            a(href='http://www-jp.mysql.com/',target='_blank') http://www-jp.mysql.com/
                        h4 MySQL Workbench
                        p
                            a(href='http://www-jp.mysql.com/products/workbench/',target='_blank') http://www-jp.mysql.com/products/workbench/
                        .alert.alert-info ドットインストール
                        pre
                            :code
                                MySQL 入門
                                http://dotinstall.com/lessons/basic_mysql_v2