extends ../../layout

block link
	include ../../link2

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;MySQLのインストール
					.panel-body
						.alert.alert-info Windowsにインストール
						a(href='http://dev.mysql.com/downloads/mysql/',target='_blank') dev.mysql.com/downloads/mysql/
						p C:\Program Files\MySQL\MySQL Server 5.6\binをパスに通す
						hr
						.alert.alert-info OSXにインストール
						a(href='http://dev.mysql.com/downloads/mysql/',target='_blank') dev.mysql.com/downloads/mysql/
						hr
						.alert.alert-info Linuxにインストール
						h4 Centos
						pre
							:code
								yum -y install mysql-server
						h4 Ubuntu
						pre
							:code
								sudo apt-get install mysql-server