doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
        title
        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    body
        section#index(data-role='page',data-theme='a')
            header(data-role='header',data-theme='b')
                h1 to-R
            div(data-role='content')
                ul(data-role='listview',data-theme='c',data-inset='true')
                    li(data-role='list-divider',data-theme='b') Menu
                    li
                        a(href='#about')
                            h3 to-Rについて
                    li
                        a(href='#seminar')
                            h3 セミナー情報
                    li
                        a(href='#access')
                            h3 アクセス
                    li
                        a(href='#contact')
                            h3 お問い合わせ
            footer(data-role='footer',data-theme='b')
                h4 © 2011 to-R

        section#about(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                h1 to-R
            div(data-role='content')
                h3 to-Rについて
                p to-Rについて
            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R

        section#seminar(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                h1 to-R
            div(data-role='content')
                h3 セミナー情報
                p セミナー情報
            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R

        section#access(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                h1 to-R
            div(data-role='content')
                h3 アクセス
                p アクセス
            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R

        section#contact(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                h1 to-R
            div(data-role='content')
                h3 お問い合わせ
                p お問い合わせ
            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R
                