doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width,initial-scale=1,maximum-scale=1')
        title
        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        link(rel='stylesheet',href='css/style17.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        script(src='http://maps.google.com/maps/api/js?sensor=false')
        script(src='js/script17.js')
    body
        section#index(data-role='page',data-theme='a')
            header(data-role='header',data-theme='b')
                h1 to-R
            div(data-role='content')
                ul(data-role='listview',data-theme='c',data-inset='true')
                    li(data-role='list-divider',data-theme='b') Menu
                    li
                        a(href='#about')
                            h3 to-Rについて
                    li
                        a(href='#seminar')
                            h3 セミナー情報
                    li
                        a(href='#access')
                            h3 アクセス
                    li
                        a(href='#contact')
                            h3 お問い合わせ
            footer(data-role='footer',data-theme='b')
                h4 © 2011 to-R

        section#about(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                a(href='#index', data-icon='arrow-l', data-direction='reverse') TOP
                h1 to-R
            div(data-role='content')
                h2.h1 to-Rについて
                p to-R(トゥーアル)は東京を中心に活動するWEB制作事務所です。
                p
                    | PHPやJavaScript/Ajaxによるシステム開発や、Movable TypeなどのCMSを利用したWEBサイト制作、SEO対策・SEM対策などのマーケティング、コンサルティングを行っております。
                h2.h1 西畑一馬について
                p 1979年生まれ
                p
                    | 主な著書に「
                    a(href='http://amazon.co.jp/o/ASIN/4048684116') Web制作の現場で使う jQueryデザイン入門
                    | 」、「
                    a(href='http://www.amazon.co.jp/o/ASIN/4839929734') 現場のプロから学ぶXHTML+CSS
                    | (毎日コミュニケーションズ/共著)」があり、セミナー/講演なども多数行う。

            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R

        section#seminar(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                a(href='#index', data-icon='arrow-l', data-direction='reverse') TOP
                h1 to-R
            div(data-role='content')
                h2.h1 セミナー情報
                ul(data-role='listview', data-inset='true')
                    li
                        a(href='http://wdf.jp/vol01/')
                            h3 WDF Vol.1
                            p 金沢市　ITビジネスプラザ武蔵 6F ホール
                            p 2011年6月11日
                    li
                        a(href='http://rd.67.org/ws/workshop/detail/091html.html')
                            h3.wordbreak 西畑一馬のCSS3でつくるスマートフォンサイト講座
                            p 原宿 ロクナナワークショップ
                            p 2011年7月14日
                    li
                        a(href='http://www.sacss.net/jquery_event/')
                            h3 SaCSS Special！
                            p 札幌市産業振興センター
                            p 2011年7月23日
            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R

        section#access(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                a(href='#index', data-icon='arrow-l', data-direction='reverse') TOP
                h1 to-R
            div(data-role='content')
                h3 アクセス
                #map.classui-shadow
            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R

        section#contact(data-role='page',data-theme='a')
            header(data-role='header', data-theme='b')
                h1 to-R
            div(data-role='content')
                h3 お問い合わせ
                p お問い合わせ
            footer(data-role='footer', data-theme='b')
                h4 © 2011 to-R