doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		p: input(type='button',value='回転')
		article
			-for(var i = 0; i < 3; i++)
				p
					| テキストテキストテキストテキスト<br>
					| テキストテキストテキストテキスト<br>
					| テキストテキストテキストテキスト<br>
					| テキストテキストテキストテキスト
			p テキストテキストテキストテキスト
			footer フッター要素フッター要素フッター要素
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
