extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;その他の便利なスタイル
                    .panel-body
                        h4 テキストの色を変える
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index35.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            p.text-success successなテキスト
                                            p.text-warning warningなテキスト
                                            p.text-danger dangerなテキスト
                                            p.text-muted mutedなテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 アイコンを使用する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index36.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            a.btn.btn-default(href='#')
                                                span.glyphicon.glyphicon-home  HOME
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index37.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            a.btn.btn-primary(href='#')
                                                span.glyphicon.glyphicon-home  HOME 
                                            a.btn.btn-success(href='#')
                                                span.glyphicon.glyphicon-home  HOME 
                                            a.btn.btn-warning(href='#')
                                                span.glyphicon.glyphicon-home  HOME 
                                            a.btn.btn-info(href='#')
                                                span.glyphicon.glyphicon-home  HOME 
                                            a.btn.btn-danger(href='#')
                                                span.glyphicon.glyphicon-home  HOME 
                                            a.btn.btn-link(href='#')
                                                span.glyphicon.glyphicon-home  HOME 
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 レスポンシブ・デザイン用のユーティリティ
                        p 「レスポンシブ・デザイン」を実現したい場合、特定の画像サイズの場合に「表示・非表示」を制御したいことがあります。
                        p 「Bootstrap」ではこのような要望を満たすために、以下のクラスが用意されています。
                        table.table
                            tr
                                td visible-xs
                                td スマートフォン（768px未満）で表示
                            tr
                                td visible-sm
                                td タブレット（768px以上、922px未満）で表示
                            tr
                                td visible-sm
                                td デスクトップ（922px以上、1200px未満）で表示
                            tr
                                td visible-lg
                                td 大きなデスクトップ（1200px以上）で表示
                            tr
                                td hidden-xs
                                td スマートフォン（768px未満）で非表示
                            tr
                                td hidden-sm
                                td タブレット（768px以上、922px未満）で非表示
                            tr
                                td hidden-sm
                                td デスクトップ（922px以上、1200px未満）で非表示
                            tr
                                td hidden-lg
                                td 大きなデスクトップ（1200px以上）で非表示
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index38.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .row
                                                .col.col-xs-6
                                                    span.visible-xs スマートフォン（768px未満）で表示
                                                .col.col-xs-6
                                                    span.hidden-xs スマートフォン（768px未満）で非表示
                                            .row
                                                .col.col-xs-6
                                                    span.visible-sm タブレット（768px以上、992px未満）で表示
                                                .col.col-xs-6
                                                    span.hidden-sm タブレット（768px以上、992px未満）で非表示
                                            .row
                                                .col.col-xs-6
                                                    span.visible-md デスクトップ（922px以上、1200px未満）で表示
                                                .col.col-xs-6
                                                    span.hidden-md デスクトップ（922px以上、1200px未満）で非表示
                                            .row
                                                .col.col-xs-6
                                                    span.visible-lg 大きなデスクトップ（1200px以上）で表示
                                                .col.col-xs-6
                                                    span.hidden-lg 大きなデスクトップ（1200px以上）で非表示
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')