extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ツールチップ
                    .panel-body
                        h4 基本的なツールチップ
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index98.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                #my-paragraph
                                                    margin-top 50px
                                    body
                                        .container
                                            p#my-paragraph
                                                | マウスオーバーで
                                                a(href='#',data-toggle='tooltip',title='ツールチップ') ツールチップ
                                                | が表示されます。
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#my-paragraph a[data-toggle=tooltip]').tooltip();
                                                });
                        hr
                        h4 ツールチップの表示位置の指定
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index99.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                #my-paragraph
                                                    margin-top 50px
                                    body
                                        .container
                                            p#my-paragraph
                                                a(href='#',data-toggle='tooltip',title='ツールチップ',data-placement='left') 左にツールチップ
                                                a(href='#',data-toggle='tooltip',title='ツールチップ',data-placement='top') 上にツールチップ
                                                a(href='#',data-toggle='tooltip',title='ツールチップ',data-placement='bottom') 下にツールチップ
                                                a(href='#',data-toggle='tooltip',title='ツールチップ',data-placement='right') 右にツールチップ
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#my-paragraph a[data-toggle=tooltip]').tooltip();
                                                });
                        p JavaScriptで位置指定
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index100.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                #my-paragraph
                                                    margin-top 50px
                                    body
                                        .container
                                            p#my-paragraph
                                                | マウスオーバーで
                                                a(href='#',data-toggle='tooltip',title='ツールチップ') ツールチップ
                                                | が表示されます。
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#my-paragraph a[data-toggle=tooltip]').tooltip({
                                                        placement: 'bottom'
                                                    });
                                                });
                        hr
                        h4 ツールチップのトリガーをクリックに変更する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index101.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                #my-paragraph
                                                    margin-top 50px
                                    body
                                        .container
                                            p#my-paragraph
                                                | クリックで
                                                a(href='#',data-toggle='tooltip',data-trigger='click',title='ツールチップ') ツールチップ
                                                | が表示されます。
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#my-paragraph a[data-toggle=tooltip]').tooltip({
                                                        placement: 'bottom'
                                                    });
                                                });