extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ナビゲーションバー
                    .panel-body
                        h4 基本的なナビゲーションバー
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index51.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') bootstrap
                                                ul.nav.navbar-nav
                                                    li.active: a(href='#') 基本的なCSS
                                                    li: a(href='#') コンポーネント
                                                    li: a(href='#') JavaScript
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p タイトル
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index52.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p メニュー
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index53.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                ul.nav.navbar-nav
                                                    li.active: a(href='#') メニュー1
                                                    li: a(href='#') メニュー2
                                                    li: a(href='#') メニュー3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p ドロップダウンメニュー
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index54.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                ul.nav.navbar-nav
                                                    li.active: a(href='#') メニュー1
                                                    li: a(href='#') メニュー2
                                                    li: a(href='#') メニュー3
                                                    li.dropdown
                                                        a.dropdown-toggle(href='#',data-toggle='dropdown')
                                                            | メニュー4 
                                                            span.caret
                                                        ul.dropdown-menu
                                                            li: a(href='#') ドロップダウン1
                                                            li: a(href='#') ドロップダウン2
                                                            li.divider
                                                            li: a(href='#') ドロップダウン3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p フォーム
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index55.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .my-navbar.navbar-form input[type="text"],
                                                .my-navbar.navbar-form input[type="password"]
                                                    width 180px
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル 
                                                form.navbar-form.my-navbar
                                                    input.form-control(type='text',name='username',placeholder='メールアドレス')
                                                    | 
                                                    input.form-control(type='password',name='password',placeholder='パスワード')
                                                    | 
                                                    button.btn.btn-primary(type='submit') ログイン
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 右寄せ
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index56.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .my-navbar.navbar-form input[type="text"],
                                                .my-navbar.navbar-form input[type="password"]
                                                    width 180px
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル 
                                                form.navbar-form.my-navbar.pull-right
                                                    input.form-control(type='text',name='username',placeholder='メールアドレス')
                                                    | 
                                                    input.form-control(type='password',name='password',placeholder='パスワード')
                                                    | 
                                                    button.btn.btn-primary(type='submit') ログイン
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p ボタン
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index57.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル 
                                                button.btn.btn-primary.navbar-btn ボタン
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p テキスト
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index58.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル 
                                                p.navbar-text
                                                    | こんにちは
                                                    a.navbar-link(href='#') ユーザー
                                                    | さん！
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 右寄せ
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index59.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル 
                                                p.navbar-text.pull-right
                                                    | こんにちは
                                                    a.navbar-link(href='#') ユーザー
                                                    | さん！
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')  
                        hr
                        h4 ナビゲーションバーを上部に固定する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index60.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                body
                                                    padding-top 70px
                                    body
                                        .container
                                            .navbar.navbar-default.navbar-fixed-top
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル 
                                                p.navbar-text.pull-right
                                                    | こんにちは
                                                    a.navbar-link(href='#') ユーザー
                                                    | さん！
                                            p Hello World 01
                                            p Hello World 02
                                            p Hello World 03
                                            p Hello World 04
                                            p Hello World 05
                                            p Hello World 06
                                            p Hello World 07
                                            p Hello World 08
                                            p Hello World 09
                                            p Hello World 10
                                            p Hello World 11
                                            p Hello World 12
                                            p Hello World 13
                                            p Hello World 14
                                            p Hello World 15
                                            p Hello World 16
                                            p Hello World 17
                                            p Hello World 18
                                            p Hello World 19
                                            p Hello World 20
                                            p Hello World 21
                                            p Hello World 22
                                            p Hello World 23
                                            p Hello World 24
                                            p Hello World 25
                                            p Hello World 26
                                            p Hello World 27
                                            p Hello World 28
                                            p Hello World 29
                                            p Hello World 30
                                            p Hello World 31
                                            p Hello World 32
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js') 
                        hr
                        h4 ナビゲーションバーを下部に固定する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index61.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1') 
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                body
                                                    padding-bottom 70px
                                    body
                                        .container
                                            .navbar.navbar-default.navbar-fixed-bottom
                                                .navbar-header
                                                    a.navbar-brand(href='#') ページタイトル 
                                                p.navbar-text.pull-right
                                                    | こんにちは
                                                    a.navbar-link(href='#') ユーザー
                                                    | さん！
                                            p Hello World 01
                                            p Hello World 02
                                            p Hello World 03
                                            p Hello World 04
                                            p Hello World 05
                                            p Hello World 06
                                            p Hello World 07
                                            p Hello World 08
                                            p Hello World 09
                                            p Hello World 10
                                            p Hello World 11
                                            p Hello World 12
                                            p Hello World 13
                                            p Hello World 14
                                            p Hello World 15
                                            p Hello World 16
                                            p Hello World 17
                                            p Hello World 18
                                            p Hello World 19
                                            p Hello World 20
                                            p Hello World 21
                                            p Hello World 22
                                            p Hello World 23
                                            p Hello World 24
                                            p Hello World 25
                                            p Hello World 26
                                            p Hello World 27
                                            p Hello World 28
                                            p Hello World 29
                                            p Hello World 30
                                            p Hello World 31
                                            p Hello World 32
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js') 
                        hr
                        h4 レスポンシブなナビゲーションバーにする
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index63.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1') 
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .navbar-header
                                                    a.navbar-brand(href='#') Bootstrap
                                                ul.nav.navbar-nav
                                                    li.active: a(href='#') 基本的なCSS
                                                    li: a(href='#') コンポーネント
                                                    li: a(href='#') JavaScript
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 幅が狭い場合はメニューを隠す
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index64.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1') 
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-default
                                                .container
                                                    .navbar-header
                                                        button.navbar-toggle(type='button',data-toggle='collapse',data-target='.navbar-collapse')
                                                            span.icon-bar
                                                            span.icon-bar
                                                            span.icon-bar
                                                        a.navbar-brand(href='#') Bootstrap
                                                    .collapse.navbar-collapse
                                                        ul.nav.navbar-nav
                                                            li.active: a(href='#') 基本的なCSS
                                                            li: a(href='#') コンポーネント
                                                            li: a(href='#') JavaScript
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ナビゲーションバーの背景色を反転させる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index62.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1') 
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .navbar.navbar-inverse
                                                .navbar-header
                                                    a.navbar-brand(href='#') Bootstrap
                                                ul.nav.navbar-nav
                                                    li.active: a(href='#') 基本的なCSS
                                                    li: a(href='#') コンポーネント
                                                    li: a(href='#') JavaScript
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')