extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;カルーセル
                    .panel-body
                        h4 基本的なカルーセル
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index108.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #my-carousel.carousel.slide
                                                .carousel-inner
                                                    .item.active
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:First slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Second slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Third slide')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script(src='js/holder.js')
                                        script
                                            :js
                                                $('#my-carousel').carousel();
                        hr
                        h4 ページめくりボタンの追加
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index109.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #my-carousel.carousel.slide
                                                .carousel-inner
                                                    .item.active
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:First slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Second slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Third slide')
                                                a.left.carousel-control(href='#my-carousel',data-slide='prev')
                                                    span.glyphicon.glyphicon-chevron-left
                                                a.right.carousel-control(href='#my-carousel',data-slide='next')
                                                    span.glyphicon.glyphicon-chevron-right
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script(src='js/holder.js')
                                        script
                                            :js
                                                $('#my-carousel').carousel();
                        p スライド切り替え間隔を変更
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index110.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #my-carousel.carousel.slide(data-interval='1000')
                                                .carousel-inner
                                                    .item.active
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:First slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Second slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Third slide')
                                                a.left.carousel-control(href='#my-carousel',data-slide='prev')
                                                    span.glyphicon.glyphicon-chevron-left
                                                a.right.carousel-control(href='#my-carousel',data-slide='next')
                                                    span.glyphicon.glyphicon-chevron-right
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script(src='js/holder.js')
                                        script
                                            :js
                                                $('#my-carousel').carousel();
                        hr
                        p ページのインジケーターを表示
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index111.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #my-carousel.carousel.slide
                                                ol.carousel-indicators
                                                    li.active(data-target='#my-carousel',data-slide-to='0')
                                                    li(data-target='#my-carousel',data-slide-to='1')
                                                    li(data-target='#my-carousel',data-slide-to='2')
                                                .carousel-inner
                                                    .item.active
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:First slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Second slide')
                                                    .item
                                                        img(data-src='js/holder.js/900x500/auto/#777:#fff/text:Third slide')
                                                a.left.carousel-control(href='#my-carousel',data-slide='prev')
                                                    span.glyphicon.glyphicon-chevron-left
                                                a.right.carousel-control(href='#my-carousel',data-slide='next')
                                                    span.glyphicon.glyphicon-chevron-right
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script(src='js/holder.js')
                                        script
                                            :js
                                                $('#my-carousel').carousel();