extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Bootstrap 資料
                    .panel-body
                        pre
                            :code
                                公式サイト
                                http://getbootstrap.com/
                        pre.

                            Twitter Bootstrapプラグインなど
                            http://coneta.jp/11220.html

                            Stylebootstrap
                            http://stylebootstrap.info/

                            Jetstrap
                            https://www.jetstrap.com/

                            Fuel UX
                            http://exacttarget.github.io/fuelux/

                            Editable for Bootstlap
                            http://vitalets.github.io/bootstrap-editable/

                            Flatstrap
                            http://www.littlesparkvt.com/flatstrap/

                            Plusstrap
                            http://xbreaker.github.io/plusstrap/

                            Golden Bootstrap
                            http://phildionne.com/golden-bootstrap/

                            テンプレート
                            http://morizyun.github.io/blog/twitter-bootstrap-templates/
                        pre
                            :code
                                CSSフレームワーク

                                960 Grid System
                                http://960.gs/
                                
                                Less Framework
                                http://lessframework.com/

                                Foundation
                                http://foundation.zurb.com/

                                UIKit
                                http://www.getuikit.com/

                                Pure
                                http://purecss.io/

                                Kube
                                http://imperavi.com/kube/

                                HTML Kickstart
                                http://www.99lime.com/

                                YAML CSS Framework
                                http://www.yaml.de/

                                IVORY Framework
                                http://weice.in/ivory/
                        pre
                            :code
                                ドットインストール
                                Bootstrap 3.0入門 
                                http://dotinstall.com/lessons/basic_twitter_bootstrap_v4
                        pre.
                            HTML5スケルトン作成

                            Initializr
                            http://www.initializr.com/

                            HTML5　Boilerplate
                            http://html5boilerplate.com/
                        pre.
                            その他

                            Blueprint
                            http://www.blueprintcss.org/

                            BlueTrip
                            http://bluetrip.org/

                            Reuze.me
                            http://reuze.me/