extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ナビゲーション
                    .panel-body
                        h4 タブ形式のナビゲーション
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index46.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.nav.nav-tabs
                                                li.active
                                                    a(href='#home') Home
                                                li
                                                    a(href='#search') 検索
                                                li
                                                    a(href='#register') 登録
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ピル形式のナビゲーション
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index47.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.nav.nav-pills
                                                li.active
                                                    a(href='#home') Home
                                                li
                                                    a(href='#search') 検索
                                                li
                                                    a(href='#register') 登録
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 縦にならべる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index48.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.nav.nav-pills.nav-stacked
                                                li.active
                                                    a(href='#home') Home
                                                li
                                                    a(href='#search') 検索
                                                li
                                                    a(href='#register') 登録
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ナビゲーションを幅いっぱいに広げる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index49.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.nav.nav-tabs.nav-justified
                                                li.active
                                                    a(href='#home') Home
                                                li
                                                    a(href='#search') 検索
                                                li
                                                    a(href='#register') 登録
                                            div(style='margin-top:30px;')
                                            ul.nav.nav-pills.nav-justified
                                                li.active
                                                    a(href='#home') Home
                                                li
                                                    a(href='#search') 検索
                                                li
                                                    a(href='#register') 登録
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ドロップ・ダウンメニューを追加する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index50.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.nav.nav-tabs
                                                li.active
                                                    a(href='#home') Home
                                                li
                                                    a(href='#search') 検索
                                                li
                                                    a(href='#register') 登録
                                                li.dropdown
                                                    a.dropdown-toggle(href='#',data-toggle='dropdown')
                                                        | 編集
                                                        span.caret
                                                    ul.dropdown-menu
                                                        li: a(href='#') 取り消す
                                                        li: a(href='#') やり直す
                                                        li.divider
                                                        li: a(href='#') 切り取り
                                                        li: a(href='#') コピー
                                                        li: a(href='#') 貼り付け
                                            div(style='margin-top:150px;')
                                            ul.nav.nav-pills
                                                li.active
                                                    a(href='#home') Home
                                                li
                                                    a(href='#search') 検索
                                                li
                                                    a(href='#register') 登録
                                                li.dropdown
                                                    a.dropdown-toggle(href='#',data-toggle='dropdown')
                                                        | 編集
                                                        span.caret
                                                    ul.dropdown-menu
                                                        li: a(href='#') 取り消す
                                                        li: a(href='#') やり直す
                                                        li.divider
                                                        li: a(href='#') 切り取り
                                                        li: a(href='#') コピー
                                                        li: a(href='#') 貼り付け
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')