extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;モーダル
                    .panel-body
                        h4 マークアップによるモーダル起動
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index86.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #myModal.modal
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                                                            h4.modal-title ヘッダー
                                                        .modal-body
                                                            p コンテンツ
                                                        .modal-footer
                                                            button.btn.btn-default(type='button',data-dismiss='modal') 閉じる
                                                            button.btn.btn-primary(type='button') 更新
                                            a.btn.btn-primary(href='#myModal',data-toggle='modal') モーダル起動
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 JavaScritpt APIによるモーダル起動
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index87.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #myModal.modal
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                                                            h4.modal-title ヘッダー
                                                        .modal-body
                                                            p コンテンツ
                                                        .modal-footer
                                                            button.btn.btn-default(type='button',data-dismiss='modal') 閉じる
                                                            button.btn.btn-primary(type='button') 更新
                                            a#click.btn.btn-primary モーダル起動
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#click').click(function(){
                                                        $('#myModal').modal();
                                                    });
                                                });
                        hr
                        h4 モーダル起動時のオプションを指定
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index88.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #myModal.modal
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                                                            h4.modal-title ヘッダー
                                                        .modal-body
                                                            p コンテンツ
                                                        .modal-footer
                                                            button.btn.btn-default(type='button',data-dismiss='modal') 閉じる
                                                            button.btn.btn-primary(type='button') 更新
                                            a#click.btn.btn-primary モーダル起動
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#click').click(function(){
                                                        $('#myModal').modal({backdrop: false});
                                                    });
                                                });
                        hr
                        h4 モーダルイベントのハンドリング
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index89.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            #myModal.modal
                                                .modal-dialog
                                                    .modal-content
                                                        .modal-header
                                                            button.close(type='button',data-dismiss='modal',aria-hidden='true') &times;
                                                            h4.modal-title ヘッダー
                                                        .modal-body
                                                            p コンテンツ
                                                        .modal-footer
                                                            button.btn.btn-default(type='button',data-dismiss='modal') 閉じる
                                                            button.btn.btn-primary(type='button') 更新
                                            a#click.btn.btn-primary モーダル起動
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                var modal = $('#myModal');
                                                $(function(){
                                                    $('#click').click(function(){
                                                        modal.modal({backdrop: false});
                                                    });
                                                });
                                                modal.on('show.bs.modal',function(e){
                                                    console.log('show',e);
                                                });
                                                modal.on('shown.bs.modal',function(e){
                                                    console.log('shown',e);
                                                });
                                                modal.on('hide.bs.modal',function(e){
                                                    console.log('hide',e);
                                                });
                                                modal.on('hidden.bs.modal',function(e){
                                                    console.log('hidden',e);
                                                });