extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ページネーション
                    .panel-body
                        h4 基本的なページネーション
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index66.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.pagenation
                                                li: a(href='#') &laquo;
                                                li: a(href='#') 1
                                                li: a(href='#') 2
                                                li: a(href='#') 3
                                                li: a(href='#') 4
                                                li: a(href='#') 5
                                                li: a(href='#') &raquo;
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 1ページ目
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index67.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.pagenation
                                                li.disabled: a(href='#') &laquo;
                                                li.active: a(href='#') 1
                                                li: a(href='#') 2
                                                li: a(href='#') 3
                                                li: a(href='#') 4
                                                li: a(href='#') 5
                                                li: a(href='#') &raquo;
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ページネーションのサイズを変える
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index68.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.pagenation.pagenation-sm
                                                li: a(href='#') &laquo;
                                                li: a(href='#') 1
                                                li: a(href='#') 2
                                                li: a(href='#') 3
                                                li: a(href='#') 4
                                                li: a(href='#') 5
                                                li: a(href='#') &raquo;
                                            div
                                            ul.pagenation
                                                li: a(href='#') &laquo;
                                                li: a(href='#') 1
                                                li: a(href='#') 2
                                                li: a(href='#') 3
                                                li: a(href='#') 4
                                                li: a(href='#') 5
                                                li: a(href='#') &raquo;
                                            div
                                            ul.pagenation.pagenation-lg
                                                li: a(href='#') &laquo;
                                                li: a(href='#') 1
                                                li: a(href='#') 2
                                                li: a(href='#') 3
                                                li: a(href='#') 4
                                                li: a(href='#') 5
                                                li: a(href='#') &raquo;
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 「前へ」、「次へ」のみのページ送りをつくる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index69.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.pager
                                                li: a(href='#') &laquo; 前へ
                                                li: a(href='#') 次へ &raquo;
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 両端に置く
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index70.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.pager
                                                li.previous: a(href='#') &laquo; 前へ
                                                li.next: a(href='#') 次へ &raquo;
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')     