extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;タブ
                    .panel-body
                        h4 マークアップによるタブの切り替え
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index93.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.nav.nav-tabs
                                                li.active: a(href='#tab1',data-toggle='tab') タブ1
                                                li: a(href='#tab2',data-toggle='tab') タブ2
                                                li: a(href='#tab3',data-toggle='tab') タブ3
                                            .tab-content
                                                #tab1.tab-pane.fade.active.in
                                                    p コンテンツ1
                                                #tab2.tab-pane.fade
                                                    p コンテンツ2
                                                #tab3.tab-pane.fade
                                                    p コンテンツ3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        h4 JavaScript APIによるタブの切り替え
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index95.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul#myTab.nav.nav-tabs
                                                li.active: a(href='#tab1') タブ1
                                                li: a(href='#tab2') タブ2
                                                li: a(href='#tab3') タブ3
                                            .tab-content
                                                #tab1.tab-pane.active
                                                    p コンテンツ1
                                                #tab2.tab-pane
                                                    p コンテンツ2
                                                #tab3.tab-pane
                                                    p コンテンツ3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#myTab a').on('click',function(e){
                                                        e.preventDefault();
                                                        $(this).tab('show');
                                                    });
                                                });
                        p 特定のコンテンツのURLがアドレスバーに入力されたとき、そのコンテンツを開く
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index95.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul#myTab.nav.nav-tabs
                                                li.active: a(href='#tab1') タブ1
                                                li: a(href='#tab2') タブ2
                                                li: a(href='#tab3') タブ3
                                            .tab-content
                                                #tab1.tab-pane.active
                                                    p コンテンツ1
                                                #tab2.tab-pane
                                                    p コンテンツ2
                                                #tab3.tab-pane
                                                    p コンテンツ3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $(function(){
                                                    $('#myTab a').on('click',function(e){
                                                        var $this = $(this);
                                                        e.preventDefault();
                                                        $this.tab('show');
                                                        location.hash = $this.attr('href');
                                                    });
                                                    if(location.hash){
                                                        $('#myTab a[href=' + location.hash +  ']').tab('show');
                                                    }
                                                });
                        hr
                        h4 ピル形式のコンテツの切り替え
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index96.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            ul.nav.nav-pills
                                                li.active
                                                    a(href='#tab1',data-toggle='pill') タブ1
                                                li
                                                    a(href='#tab2',data-toggle='pill') タブ2
                                                li
                                                    a(href='#tab3',data-toggle='pill') タブ3
                                            .tab-content
                                                #tab1.tab-pane.fade.active.in
                                                    p コンテンツ1
                                                #tab2.tab-pane.fade
                                                    p コンテンツ2
                                                #tab3.tab-pane.fade
                                                    p コンテンツ3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 タブ切り替えのイベントハンドリング
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index97.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code