extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;テーブル
                    .panel-body
                        h4 テーブルのスタイリング
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index15.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            table.table
                                                tr
                                                    th ヘッダー1
                                                    th ヘッダー2
                                                    th ヘッダー3
                                                tr
                                                    th 項目1-1
                                                    th 項目1-2
                                                    th 項目1-3
                                                tr
                                                    th 項目2-1
                                                    th 項目2-2
                                                    th 項目2-3
                                                tr
                                                    th 項目3-1
                                                    th 項目3-2
                                                    th 項目3-3
                                                tr
                                                    th 項目4-1
                                                    th 項目4-2
                                                    th 項目4-3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 テーブルを縞模様にする
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index16.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            table.table.table-striped
                                                tr
                                                    th ヘッダー1
                                                    th ヘッダー2
                                                    th ヘッダー3
                                                tr
                                                    th 項目1-1
                                                    th 項目1-2
                                                    th 項目1-3
                                                tr
                                                    th 項目2-1
                                                    th 項目2-2
                                                    th 項目2-3
                                                tr
                                                    th 項目3-1
                                                    th 項目3-2
                                                    th 項目3-3
                                                tr
                                                    th 項目4-1
                                                    th 項目4-2
                                                    th 項目4-3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 テーブルに罫線を入れる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index17.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            table.table.table-bordered
                                                tr
                                                    th ヘッダー1
                                                    th ヘッダー2
                                                    th ヘッダー3
                                                tr
                                                    th 項目1-1
                                                    th 項目1-2
                                                    th 項目1-3
                                                tr
                                                    th 項目2-1
                                                    th 項目2-2
                                                    th 項目2-3
                                                tr
                                                    th 項目3-1
                                                    th 項目3-2
                                                    th 項目3-3
                                                tr
                                                    th 項目4-1
                                                    th 項目4-2
                                                    th 項目4-3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 テーブルの余白を減らす
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index18.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            table.table.table-condensed
                                                tr
                                                    th ヘッダー1
                                                    th ヘッダー2
                                                    th ヘッダー3
                                                tr
                                                    th 項目1-1
                                                    th 項目1-2
                                                    th 項目1-3
                                                tr
                                                    th 項目2-1
                                                    th 項目2-2
                                                    th 項目2-3
                                                tr
                                                    th 項目3-1
                                                    th 項目3-2
                                                    th 項目3-3
                                                tr
                                                    th 項目4-1
                                                    th 項目4-2
                                                    th 項目4-3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p これらのテーブルの装飾クラスは、組み合わせて、以下のように利用可能です。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index19.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            table.table.table-striped.table-bordered.table-condensed
                                                tr
                                                    th ヘッダー1
                                                    th ヘッダー2
                                                    th ヘッダー3
                                                tr
                                                    th 項目1-1
                                                    th 項目1-2
                                                    th 項目1-3
                                                tr
                                                    th 項目2-1
                                                    th 項目2-2
                                                    th 項目2-3
                                                tr
                                                    th 項目3-1
                                                    th 項目3-2
                                                    th 項目3-3
                                                tr
                                                    th 項目4-1
                                                    th 項目4-2
                                                    th 項目4-3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 特定の行に背景色をつける
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index20.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            table.table
                                                tr
                                                    th ヘッダー1
                                                    th ヘッダー2
                                                    th ヘッダー3
                                                tr.success
                                                    th 項目1-1
                                                    th 項目1-2
                                                    th 項目1-3
                                                tr.danger
                                                    th 項目2-1
                                                    th 項目2-2
                                                    th 項目2-3
                                                tr.warning
                                                    th 項目3-1
                                                    th 項目3-2
                                                    th 項目3-3
                                                tr.active
                                                    th 項目4-1
                                                    th 項目4-2
                                                    th 項目4-3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 レスポンシブ・デザインの対応のテーブル
                        p 横に長いテーブルは画面が狭い端末で見ると、表示しきらなかったり、狭い間隔で内容が詰め込まれたり見づらいことが良くあります。実際にこれまで説明したBootstrapでも1行に9列詰めたテーブルを狭い幅で表示すると次のようになります。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index21.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            table.table.table-striped.table-bordered.table-condensed
                                                tr
                                                    th ヘッダー1
                                                    th ヘッダー2
                                                    th ヘッダー3
                                                    th ヘッダー4
                                                    th ヘッダー5
                                                    th ヘッダー6
                                                    th ヘッダー7
                                                    th ヘッダー8
                                                    th ヘッダー9
                                                tr
                                                    th 項目1-1
                                                    th 項目1-2
                                                    th 項目1-3
                                                    th 項目1-4
                                                    th 項目1-5
                                                    th 項目1-6
                                                    th 項目1-7
                                                    th 項目1-8
                                                    th 項目1-9
                                                tr
                                                    th 項目2-1
                                                    th 項目2-2
                                                    th 項目2-3
                                                    th 項目2-4
                                                    th 項目2-5
                                                    th 項目2-6
                                                    th 項目2-7
                                                    th 項目2-8
                                                    th 項目2-9
                                                tr
                                                    th 項目3-1
                                                    th 項目3-2
                                                    th 項目3-3
                                                    th 項目3-4
                                                    th 項目3-5
                                                    th 項目3-6
                                                    th 項目3-7
                                                    th 項目3-8
                                                    th 項目3-9
                                                tr
                                                    th 項目4-1
                                                    th 項目4-2
                                                    th 項目4-3
                                                    th 項目4-4
                                                    th 項目4-5
                                                    th 項目4-6
                                                    th 項目4-7
                                                    th 項目4-8
                                                    th 項目4-9
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 「Bootstrap」はこのような状況に対し、レスポンシブ・デザイン対応の「テーブル・クラス」を提供しています。
                        p!='「tableタグ」で、「<div class="table-responsive">」を囲むことにより、「狭い画面」（「768px」未満）では、テーブルが「横にスクロール」出来るようになります。'
                        p 以下に例を示します。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index22.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .table-responsive
                                                table.table.table-striped.table-bordered.table-condensed
                                                    tr
                                                        th ヘッダー1
                                                        th ヘッダー2
                                                        th ヘッダー3
                                                        th ヘッダー4
                                                        th ヘッダー5
                                                        th ヘッダー6
                                                        th ヘッダー7
                                                        th ヘッダー8
                                                        th ヘッダー9
                                                    tr
                                                        th 項目1-1
                                                        th 項目1-2
                                                        th 項目1-3
                                                        th 項目1-4
                                                        th 項目1-5
                                                        th 項目1-6
                                                        th 項目1-7
                                                        th 項目1-8
                                                        th 項目1-9
                                                    tr
                                                        th 項目2-1
                                                        th 項目2-2
                                                        th 項目2-3
                                                        th 項目2-4
                                                        th 項目2-5
                                                        th 項目2-6
                                                        th 項目2-7
                                                        th 項目2-8
                                                        th 項目2-9
                                                    tr
                                                        th 項目3-1
                                                        th 項目3-2
                                                        th 項目3-3
                                                        th 項目3-4
                                                        th 項目3-5
                                                        th 項目3-6
                                                        th 項目3-7
                                                        th 項目3-8
                                                        th 項目3-9
                                                    tr
                                                        th 項目4-1
                                                        th 項目4-2
                                                        th 項目4-3
                                                        th 項目4-4
                                                        th 項目4-5
                                                        th 項目4-6
                                                        th 項目4-7
                                                        th 項目4-8
                                                        th 項目4-9
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')