extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ポップオーバー
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index102.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                #my-paragraph
                                                    margin-top 50px
                                    body
                                        .container
                                            p#my-paragraph
                                                | クリックで
                                                a(href='#',data-toggle='popover',title='ポップオーバー',data-content='ポップオーバーのコンテンツです。デフォルトで右に表示されます。') ポップオーバー
                                                | が表示されます。
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                                        script
                                            :js
                                                $('#my-paragraph a[data-toggle=popover]').popover();