extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ボタングループ
                    .panel-body
                        h4 基本的なボタングループ
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index39.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .btn-group
                                                button.btn.btn-default ボタン1
                                                button.btn.btn-default ボタン2
                                                button.btn.btn-default ボタン3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 縦のボタングループ
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index40.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .btn-group-vertical
                                                button.btn.btn-default ボタン1
                                                button.btn.btn-default ボタン2
                                                button.btn.btn-default ボタン3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 複数のボタングループを並べる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index41.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .btn-toolbar
                                                .btn-group
                                                    button.btn.btn-default ボタン1-1
                                                    button.btn.btn-default ボタン1-2
                                                    button.btn.btn-default ボタン1-3
                                                .btn-group
                                                    button.btn.btn-primary ボタン2-1
                                                    button.btn.btn-primary ボタン2-2
                                                .btn-group
                                                    button.btn.btn-danger ボタン3-1
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ボタングループを横いっぱいに広げる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index42.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            div(style='width:100%')
                                                .btn-group.btn-group-justified
                                                    a.btn.btn-default(href='#') ボタン1
                                                    a.btn.btn-default(href='#') ボタン2
                                                    a.btn.btn-default(href='#') ボタン3
                                            div(style='width:50%;margin-top:30px')
                                                .btn-group.btn-group-justified
                                                    a.btn.btn-default(href='#') ボタン1
                                                    a.btn.btn-default(href='#') ボタン2
                                                    a.btn.btn-default(href='#') ボタン3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ボタン・ドロップダウン
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index43.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .btn-group
                                                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown')
                                                    |  編 集 
                                                    span.caret
                                                ul.dropdown-menu
                                                    li: a(href='#') 取り消す
                                                    li: a(href='#') やり直す
                                                    li.divider
                                                    li: a(href='#') 切り取り
                                                    li: a(href='#') コピー
                                                    li: a(href='#') 貼り付け
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p ▽印
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index44.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .btn-group
                                                button.btn.btn-default  編 集 
                                                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown'): span.caret
                                                ul.dropdown-menu
                                                    li: a(href='#') 取り消す
                                                    li: a(href='#') やり直す
                                                    li.divider
                                                    li: a(href='#') 切り取り
                                                    li: a(href='#') コピー
                                                    li: a(href='#') 貼り付け
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p dropup
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index45.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            div(style='margin-top: 200px')
                                            .btn-group.dropup
                                                button.btn.btn-default  編 集 
                                                button.btn.btn-default.dropdown-toggle(data-toggle='dropdown'): span.caret
                                                ul.dropdown-menu
                                                    li: a(href='#') 取り消す
                                                    li: a(href='#') やり直す
                                                    li.divider
                                                    li: a(href='#') 切り取り
                                                    li: a(href='#') コピー
                                                    li: a(href='#') 貼り付け
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')