extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;フォーム
                    .panel-body
                        h4 基本的なフォームのスタイリング
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index23.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            form
                                                fieldset
                                                    legend フォームのサンプル
                                                    label 名前
                                                    input.form-control(type='text',placeholder='名前を入力してください')
                                                    p.help-block 入力のためのヘルプをここに書けます。
                                                    button.btn.btn-default(type='submit') 送信
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index24.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            form
                                                fieldset
                                                    label コメント
                                                    textarea.form-control(rows='3')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index25.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            form
                                                fieldset
                                                    label 性別
                                                    select.form-control
                                                        option 男性
                                                        option 女性
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 入力フィールドをグループ化する 
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index26.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            form
                                                fieldset
                                                    legend フォームサンプル
                                                    .form-group
                                                        label(for='name') 名前
                                                        input#name.form-control(type='text',placeholder='名前を入力してください')
                                                    .form-group
                                                        label(for='email') メールアドレス
                                                        input#email.form-control(type='email',placeholder='メールアドレスを入力してください')
                                                    button.btn.btn-default(type='submit') 送信
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p グループ化しない場合
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index27.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            form
                                                fieldset
                                                    legend フォームサンプル
                                                        label(for='name') 名前
                                                        input#name.form-control(type='text',placeholder='名前を入力してください')
                                                        label(for='email') メールアドレス
                                                        input#email.form-control(type='email',placeholder='メールアドレスを入力してください')
                                                    button.btn.btn-default(type='submit') 送信
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 入力フィールドのサイズを変更する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index28.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            form
                                                fieldset
                                                    input.form-control.input-lg(type='text',placeholder='largeサイズ')
                                                    input.form-control(type='text',placeholder='デフォルトサイズ')
                                                    input.form-control.input-sm(type='text',placeholder='smallサイズ')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p 幅を変更するために、「グリッド・レイアウト」も利用できます。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index29.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .row
                                                .col.col-md-4
                                                    input.form-control(type='text',placeholder='col-md-4')
                                                .col.col-md-4
                                                    input.form-control(type='text',placeholder='col-md-4')
                                                .col.col-md-4
                                                    input.form-control(type='text',placeholder='col-md-4')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 インラインのフォームをつくる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index30.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .my-inline.form-inline
                                                    input[type="text"],
                                                    input[type="password"]
                                                        width 180px
                                    body
                                        .container
                                            form.my-inline.form-inline
                                                input.form-control(type='text',name='email',placeholder='メールアドレス')
                                                | 
                                                input.form-control(type='password',name='password',placeholder='パスワード')
                                                | 
                                                .checkbox
                                                    label
                                                        input(type='checkbox',name='rememberme')
                                                        |  ログインしたままにする　
                                                button.btn.btn-primary(type='submit') ログイン
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p ラベルが表示されないようにする
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index31.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .my-inline.form-inline
                                                    input[type="text"],
                                                    input[type="password"]
                                                        width 180px
                                    body
                                        .container
                                            form.my-inline.form-inline
                                                .form-group
                                                    label.sr-only メールアドレス
                                                    input.form-control(type='text',name='email',placeholder='メールアドレス')
                                                    | 
                                                .form-group
                                                    label.sr-only パスワード
                                                    input.form-control(type='password',name='password',placeholder='パスワード')
                                                    | 
                                                    .checkbox
                                                        label
                                                            input(type='checkbox',name='rememberme')
                                                            |  ログインしたままにする　
                                                button.btn.btn-primary(type='submit') ログイン
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 縦レイアウトのフォームをつくる
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index32.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            form.form-horizontal
                                                .form-group
                                                    label.col.col-md-2.control-label(for='email') email
                                                    .col.col-md-10
                                                        input#email.form-control(type='text',name='email',placeholder='メールアドレス')
                                                .form-group
                                                    label.col.col-md-2.control-label(for='password') パスワード
                                                    .col.col-md-10
                                                        input#password.form-control(type='password',name='password',placeholder='パスワード')
                                                        .checkbox
                                                            label
                                                                input(type='checkbox',name='rememberme')
                                                                | ログインしたままにする
                                                .form-group
                                                    .col.col-md-10.col-md-offset-2
                                                        button.btn.btn-primary(type='submit') ログイン
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 入力フィールドの状態を変更する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index33.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .has-warning.form-group
                                                label.control-label(for='inputWarning') warning項目
                                                input#inputWarning.form-control(type='text')
                                            .has-error.form-group
                                                label.control-label(for='inputError') error項目
                                                input#inputErrord.form-control(type='text')
                                            .has-success.form-group
                                                label.control-label(for='inputSuccess') success項目
                                                input#inputSuccess.form-control(tpe='text')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 入力フィールドを拡張する
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index34.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .row
                                                .col.col-md-4
                                                    .input-group
                                                        span.input-group-addon @
                                                        input.form-control(type='text',placeholder='Twitterアカウント')
                                                .col.col-md-4
                                                    .input-group
                                                        input.form-control(type='text')
                                                        span.input-group-addon .00
                                                .col.col-md-4
                                                    .input-group
                                                        span.input-group-btn
                                                            button.btn.btn-default(type='button') 検索
                                                        input.form-control(type='text',placeholder='キーワード')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')