extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;はじめてのWebページ
                    .panel-body
                        h4 「Bootstrap」のレイアウト
                        p 「Bootstrap」では、レイアウトを12分割して「グリッド・レイアウト」を構成します。
                        p 12個のブロックを自由に組み合わせることで、複雑な構成も簡単に実現できます。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .col-md-1
                                                    background-color #f2dede
                                                .col-md-2
                                                    background-color #dff0d8
                                                .col-md-4
                                                    background-color #d9edf7
                                    body
                                        .row
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                            .col.col-md-1 1
                                        .row
                                            .col.col-md-2 2
                                            .col.col-md-2 2
                                            .col.col-md-2 2
                                            .col.col-md-2 2
                                            .col.col-md-2 2
                                            .col.col-md-2 2
                                        .row
                                            .col.col-md-4 4
                                            .col.col-md-4 4
                                            .col.col-md-4 4
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 一般的なサイトのレイアウト実装例
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                    body
                                        .container
                                            .row
                                                .col.col-md-12
                                                    h1 サイト名
                                                    p ヘッダー
                                            .row
                                                .col.col-md-3
                                                    h2 サイドバー
                                                    ul
                                                        li リンク
                                                        li リンク
                                                        li リンク
                                                .col.col-md-9
                                                    h2 メインコンテンツ
                                                    p 本文
                                            .row
                                                .col.col-md-12
                                                    h3 フッター
                                                    p フッター
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 レイアウトに「オフセット」を設定する
                        p レイアウト中のブロックの「class」に「col-md-offset-数字」を追加し、数字ぶんだけ左側に空のブロックを埋めることで、「オフセット」が設定できます。
                        p なお、次のサンプルの1行目と3行目のように、「オフセット」を含む各列のサイズが12を下回るぶんは、右側に空のブロックが出来ます。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .col
                                                    background-color #f2dede
                                    body
                                        .row
                                            .col.col-md-3 3
                                            .col.col-md-3.col-md-offset-3 3 + offset 3
                                        .row
                                            .col.col-md-3 3
                                            .col.col-md-3.col-md-offset-6 3 + offset 6
                                        .row
                                            .col.col-md-6.col-md-offset-3 6 + offset 3
                                        .row
                                            .col.col-md-3.col-md-offset-3 3 + offset 3
                                            .col.col-md-3.col-md-offset-3 3 + offset 3
                                        .row
                                            .col.col-md-6.col-md-offset-6 6 + offset 6
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 ネストしたレイアウト
                        p!='各列ブロック<div id="col">の中に<div class="row">を埋め込むことでレイアウトをネストできます。'
                        p!='中に組み込むレイアウトの列のサイズも、「12」です。'
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .row
                                                    .row
                                                        background-color #f2dede
                                    body
                                        .row
                                            .col.col-md-4 左
                                            .col.col-md-4
                                                | 真ん中
                                                .row
                                                    .col.col-md-3 3
                                                    .col.col-md-9 9
                                            .col.col-md-4 右
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 「レスポンシブ・デザイン」対応のレイアウト
                        p 「Bootstrap」は、「バージョン3」からデフォルトで「レスポンシブ・デザイン」に対応しています。
                        p 「グリッド・レイアウト」では「レスポンシブ」に対応しており、「横」にブロックが並ぶ「グリッド・レイアウト」の画面幅が、992px未満の場合には、モバイル向けのレイアウトになり、「縦」に並ぶように変化します。
                        p モバイル向けの「グリッド」を制御したい場合は、「列ブロック」の「class」に、「col-xs-数字」を追加することで、各ブロックの変化後のサイズを指定できます。
                        p 次の例では、変化前のレイアウトは「4列、4列、4列」が1行に収まっていますが、変化後には「12列」で1行、「6列、6列」でもう1行できるようになります。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .col
                                                    background-color #f2dede
                                    body
                                        .container
                                            .row
                                                .col.col-xs-12.col-md-4 4
                                                .col.col-xs-6.col-md-4 4
                                                .col.col-xs-6.col-md-4 4
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        hr
                        h4 より細かな「レスポンシブ・デザイン」対応のレイアウト
                        p これまでの説明では、レイアウトは「992px未満かどうか」でしか制御できません。
                        p これでは、たとえばタブレットの幅が「800px」の場合に、「スマートフォンとタブレットでレイアウトを区別したい」というような要望には応えられません。
                        p 実は「Bootstrap」では、4段階でレイアウトを制御できるように「クラス」が用意されています。
                        ul
                            li col-xs-XX
                            li col-sm-XX
                            li col-md-XX
                            li col-lg-XX
                        p それぞれ「eXtra Small」「Small」「MeDium」「LarGe」の略です。
                        p 各クラスの特徴を次の表にまとめます。
                        table.table
                            tr
                                th クラス
                                th .col-xs-XX
                                th .col-sm-XX
                                th .col-md-XX
                                th .col-lg-XX
                            tr
                                th 対象
                                td スマートフォン<br>（768px未満）
                                td タブレット<br>（768px以上、992px未満）
                                td デスクトップ<br>（992px以上、1200px未満）
                                td 大きなデスクトップ<br>（1200px以上）
                            tr
                                th コンテナの最大幅
                                td 自動（幅一杯）
                                td 750px
                                td 970px
                                td 1170px
                            tr
                                th 列の最大幅
                                td 自動
                                td 60px
                                td 78px
                                td 95px
                        p 「.col-xs-XX」以外は、画面の幅が対象とする幅よりも小さくなった場合、グリッドを縦に積みます。
                        p 次のようなグリッドは画面の幅によってどうレイアウトが変化していくでしょうか。
                        p
                            a.btn.btn-default(href='../demo/bootstrap/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ                        
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
                                        title はじめてのBootstrap
                                        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
                                        style
                                            :stylus
                                                .col:first-child
                                                    background-color #f2dede
                                                .col:first-child~.col
                                                    background-color #dff0d8
                                    body
                                        .container
                                            .row
                                                .col.col-xs-12.col-sm-12.col-md-3 3
                                                .col.col-xs-12.col-sm-4.col-md-3 3
                                                .col.col-xs-6.col-sm-4.col-md-3 3
                                                .col.col-xs-6.col-sm-4.col-md-3 3
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/bootstrap.min.js')
                        p この例では、幅が「992px以上」の場合は、「3列、3列、3列、3列」が「1行」に収まります。
                        p 幅が「768px以上、992px未満」の場合は、「1行目は12列」「2行目は4列、、4列、4列」になります。
                        p そして幅が「768px未満」になった場合に、「1、2行目は12列」「3行目は6列、6列」になります。
                        p 先ほどオフセットを設定した際に「.col-md-offset-XX」というクラスを使いました。
                        p 勘の良い人は気づいたと思いますが、オフセット用の「クラス」も、
                        ul
                            li .col-sm-offset-XX
                            li .col-md-offset-XX
                            li .col-lg-offset-XX
                        p が用意されています。
                        p これらの「クラス」や「ネスト」を利用して自在に「レスポンシブ・デザイン」対応のレイアウトを構築できるのが、「Bootstrap」の「グリッド・レイアウト」の強みです。