.list-group
    a.list-group-item(href='1')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='3')
        i.badge.badge-info
        | はじめてのWebページ
    a.list-group-item(href='2')
        i.badge.badge-info
        | グリッドレイアウト
    a.list-group-item(href='#')
        i.badge.badge-info
        | ボタン
    a.list-group-item(href='#')
        i.badge.badge-info
        | テーブル
    a.list-group-item(href='#')
        i.badge.badge-info
        | フォーム
    a.list-group-item(href='#')
        i.badge.badge-info
        | その他の便利なスタイル
    a.list-group-item(href='#')
        i.badge.badge-info
        | ボタングループ
    a.list-group-item(href='#')
        i.badge.badge-info
        | ナビゲーション
    a.list-group-item(href='#')
        i.badge.badge-info
        | パンくずリスト
    a.list-group-item(href='#')
        i.badge.badge-info
        | ページネーション
    a.list-group-item(href='#')
        i.badge.badge-info
        | ラベル
    a.list-group-item(href='#')
        i.badge.badge-info
        | バッジ
    a.list-group-item(href='#')
        i.badge.badge-info
        | アラート
    a.list-group-item(href='#')
        i.badge.badge-info
        | リストグループ
    a.list-group-item(href='#')
        i.badge.badge-info
        | パネル
    a.list-group-item(href='#')
        i.badge.badge-info
        | モーダル
    a.list-group-item(href='#')
        i.badge.badge-info
        | スクロールスパイ
    a.list-group-item(href='#')
        i.badge.badge-info
        | タブ
    a.list-group-item(href='#')
        i.badge.badge-info
        | ツールチップ
    a.list-group-item(href='#')
        i.badge.badge-info
        | ポップオーバー
    a.list-group-item(href='#')
        i.badge.badge-info
        | アラート
    a.list-group-item(href='#')
        i.badge.badge-info
        | アコーディオン
    a.list-group-item(href='#')
        i.badge.badge-info
        | カルーセル