doctype
html
    head
        meta(charset='UTF-8')
        title data3
    body
        #content
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867988-6')
                        img(height='80', width='56', alt='', src='images/978-4-04-867988-6s.jpg')
                .info
                    h2 The Art of Multiprocessor Programming 並行プログラミングの原理から実践まで
                    ul
                        li 著者 ： Maurice Herlihy、Nir Shavit
                        li 発売日 ： 2009/09/02
                        li 定価 ： 8,190円
                        li ISBN ： 978-4-04-867988-6
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867615-1')
                        img(height='80', width='56', alt='', src='images/978-4-04-867615-1s.jpg')
                .info
                    h2 ヤマハルーター運用設定マニュアル RTX1200／SRT100のGUI&コマンドラインの実践
                    ul
                        li 発売日 ： 2009/09/24
                        li 定価 ： 2,940円
                        li ISBN ： 978-4-04-867615-1
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867796-7')
                        img(height='80', width='56', alt='', src='images/978-4-04-867796-7s.jpg')
                .info
                    h2 CERT C セキュアコーディングスタンダード
                    ul
                        li 発売日 ： 2009/09/30
                        li 定価 ： 5,040円
                        li ISBN ： 978-4-04-867796-7
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867796-7')
                        img(height='80', width='56', alt='', src='images/978-4-04-868096-7s.jpg')
                .info
                    h2 SQL Server 2008 による Office SharePoint Server ストレージ技法
                    ul
                        li 著者 ： 田中大地
                        li 発売日 ： 2009/09/30
                        li 定価 ： 3,990円
                        li ISBN ： 978-4-04-868096-7
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868114-8')
                        img(height='80', width='56', alt='', src='images/978-4-04-868114-8s.jpg')
                .info
                    h2 完全合格 ORACLE MASTER Bronze 11g SQL基礎I 直前対策暗記ノート
                    ul
                        li 著者 ： 津田竜賜、飯塚美香、伊藤尚子、中村仁、広永義実
                        li 発売日 ： 2009/09/30
                        li 定価 ： 1,554円
                        li ISBN ： 978-4-04-868114-8
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868098-1')
                        img(height='80', width='56', alt='', src='images/978-4-04-868098-1s.jpg')
                .info
                    h2 完全合格 ORACLE MASTER Bronze DBA11g 直前対策暗記ノート
                    ul
                        li 著者 ： 有里恵、沢野次男
                        li 発売日 ： 2009/09/30
                        li 定価 ： 1,554円
                        li ISBN ： 978-4-04-868098-1
