doctype
html
    head
        meta(charset='UTF-8')
        title data1
    body
        #content
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868064-6')
                        img(height='80', width='56', alt='', src='images/978-4-04-868064-6s.jpg')
                .info
                    h2 雲の世界の向こうをつかむクラウドの技術
                    ul
                        li 発売日 ： 2009/11/06
                        li 定価 ： 1,890円
                        li ISBN ： 978-4-04-868064-6
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868174-2')
                        img(height='80', width='56', alt='', src='images/978-4-04-868174-2s.jpg')
                .info
                    h2 完全合格 ORACLE MASTER Silver DBA 11g 問題集
                    ul
                        li 著者 ： 津田竜賜、有里恵、飯塚美香、伊藤尚子、ほか
                        li 発売日 ： 2009/11/10
                        li 定価 ： 3,129円
                        li ISBN    ： 978-4-04-868174-2
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868180-3')
                        img(height='80', width='56', alt='', src='images/978-4-04-868180-3s.jpg')
                .info
                    h2 すぐわかる Excel2007 Windows7／Vista／XP 全対応
                    ul
                        li 著者 ： 尾崎裕子
                        li 発売日 ： 2009/11/27
                        li 定価 ： 1,344円
                        li ISBN    ： 978-4-04-868180-3
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868181-0')
                        img(height='80', width='56', alt='', src='images/978-4-04-868181-0s.jpg')
                .info
                    h2 すぐわかる Windows7
                    ul
                        li 著者 ： 小野均
                        li 発売日 ： 2009/11/27
                        li 定価 ： 1,344円
                        li ISBN    ： 978-4-04-868181-0
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868293-0')
                        img(height='80', width='56', alt='', src='images/978-4-04-868293-0s.jpg')
                .info
                    h2 Macを買ったら最初に読む本 Mac OS X v10.6 Snow Leopard 版
                    ul
                        li 発売日 ： 2009/11/30
                        li 定価 ： 1,344円
                        li ISBN    ： 978-4-04-868293-0
            .colmun
                .img
                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868252-7')
                        img(height='80', width='56', alt='', src='images/978-4-04-868252-7s.jpg')
                .info
                    h2 Microsoftのクラウドコンピューティング Windows Azure入門
                    ul
                        li 著者 ： 砂金信一郎、遠藤大樹、酒井達明、藤田昭人
                        li 発売日 ： 2009/11/30
                        li 定価 ： 2.730円
                        li ISBN    ： 978-4-04-868252-7