doctype
html
    head
        meta(charset='UTF-8')
        title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script
        style
    body
        #container
            h1
                img(src='images/header.jpg', alt='新着書籍')
            #content
                p.loading
                    img(src='images/loading.gif', alt='')
            ul.pager
                li
                    a(href='data1.html') 1
                li
                    a(href='data2.html') 2
                li
                    a(href='data3.html') 3
