doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		h1 h1要素
		p p要素
		input(type='button', value='input要素')
		img(src='200x200.png')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')