extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ページ最下部でイベントを発生させる
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise173/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            for i in new Array(100)
                                                li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $(window).scroll(function() {
                                        if (($(document).height() - ($(window).height() + $(window).scrollTop())) / $(document).height() === 0) {
                                            alert('ページ最下部です');
                                        }
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $(window).scroll ->
                                        if ($(document).height() - ($(window).height() + $(window).scrollTop())) / $(document).height() is 0
                                            alert('ページ最下部です')
                                        return
                                    return