extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;removeClass()メソッド課題
					.panel-body
						p img要素をクリックして、要素のサイズを半分にしてみましょう。
						p
							a.btn.btn-default(href='../demo/jquery/exercise29/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
								i.glyphicon.glyphicon-question-sign
								| &nbsp;解答例
						#demo.collapse.out
								pre(class='prettyprint linenums:1')
									:code
										doctype
										html(lang='ja-JP')
											head
												meta(charset='UTF-8')
												title
												link(rel='stylesheet',href='style.css')
											body
												img.enlarge(src='img/enlarge.png')
												script(src='http://code.jquery.com/jquery-1.10.2.min.js')
												script(src='script.js')
								pre(class='prettyprint linenums:1')
									:code
										size()
											200px

										img
											width size()
											height @width
											cursor pointer

											-webkit-transition-property width, height
											transition-property width, height

											-webkit-transition-duration 500ms
											transition-duration 500ms

											-webkit-transition-timing-function ease-in-out
											transition-timing-function ease-in-out;

										.enlarge
											width size()*2
											height @width
								pre(class='prettyprint linenums:1')
									:code
										$(function() {
											$('img').click(function() {
												$('img').removeClass('enlarge');

												//以下の記述でも可
												//$(this).removeClass('enlarge');
											});
										});
								pre(class='prettyprint linenums:1')
									:code
										$ ->
											$('img').click ->
												$('img').removeClass 'enlarge'

												#以下の記述でも可
												#$(this).removeClass 'enlarge'

												return
											return