extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;コールバック関数
                    .panel-body
                        p showメソッドは第2引数に関数を代入して、show()メソッド終了時に実行される処理を定義することができます。
                        p このように、1つのメソッドが終了したときに実行される関数のことをコールバック関数といいます。
                        pre
                            :code
                                $('セレクター').show('slow',function(){
                                    //コールバック処理
                                });
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise133/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/show/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='style.css')
                                    body
                                        p: input(type='button',value='表示')
                                        p#first
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                size()
                                    200px

                                #first
                                    display none
                                    width size()
                                    height @width
                                    background-color #f00
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('input').click(function() {
                                        $('#first').show('slow', <mark>function() {
                                            $(this).css('background-color', '#00f');
                                        }</mark>);
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('input').click ->
                                        $('#first').show 'slow', ->
                                            $(this).css 'background-color', '#00f'
                                            return
                                        return
                                    return