extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;メールフォーム課題
                    .panel-body
                        p メールフォームにバリデーションを追加しましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise199/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                form(action='http://www.yahoo.co.jp/', method='POST')
                                                    dl
                                                        dt
                                                            | お名前
                                                            em 10文字以内
                                                        dd
                                                            input.validate.required.limit(type='text', name='name')
                                                        dt
                                                            | 性別
                                                            em 必須
                                                        dd
                                                            input.validate.required(type='radio', name='gender', value='男性')
                                                            label(for='gender_man') 男性
                                                            input(type='radio', name='gender', value='女性')
                                                            label(for='gender_woman') 女性
                                                        dt
                                                            | 年齢
                                                            em 必須
                                                        dd
                                                            select.validate.required(name='age')
                                                                option(value='') 選択してください
                                                                option(value='10代') 10代
                                                                option(value='20代') 20代
                                                                option(value='30代') 30代
                                                                option(value='40代以上') 40代以上
                                                        dt
                                                            | スキル
                                                            em 1つ以上
                                                        dd
                                                            input.validate(type='checkbox', name='html', value='HTML')
                                                            label(for='html') HTML
                                                            input.validate(type='checkbox', name='css', value='CSS')
                                                            label(for='css') CSS
                                                            input.validate(type='checkbox', name='javascript', value='JavaScript')
                                                            label(for='javascript') JavaScript
                                                            input.validate(type='checkbox', name='php', value='PHP')
                                                            label(for='php') PHP
                                                        dt
                                                            | コメント
                                                            em 100文字以内
                                                        dd
                                                            textarea.validate.required.limit(name='comment')
                                                        input(type='submit', value='送信')
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        em
                                            color #FF0000
                                            margin 0 5px

                                        dt
                                            margin 5px 0

                                        p.error
                                            color #FF0000
                                            font-size 14px
                                            font-weight bold
                                            margin 5px 0
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('form').submit(function() {
                                                $('p.error').remove();
                                                $(':text,textarea').filter('.validate').each(function() {
                                                    $(this).filter('.required').each(function() {
                                                        if ($(this).val() === '') {
                                                            $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                        }
                                                    });
                                                });
                                                $(':text').filter('.validate').each(function() {
                                                    $(this).filter('.limit').each(function() {
                                                        if ($(this).val().length > 10) {
                                                            $(this).parent().prepend('<p class="error">10文字以内で入力してください</p>');
                                                        }
                                                    });
                                                });
                                                $('textarea').filter('.validate').each(function() {
                                                    $(this).filter('.limit').each(function() {
                                                        if ($(this).val().length > 100) {
                                                            $(this).parent().prepend('<p class="error">100文字以内で入力してください</p>');
                                                        }
                                                    });
                                                });
                                                $(':radio').filter('.validate').each(function() {
                                                    $(this).filter('.required').each(function() {
                                                        if ($(':radio[name=' + $(this).attr('name') + ']:checked').size() === 0) {
                                                            $(this).parent().prepend('<p class="error">選択してください</p>');
                                                        }
                                                    });
                                                });
                                                $('option:selected').parent().filter('.validate').each(function() {
                                                    $(this).filter('.required').each(function() {
                                                        if ($(this).val() === '') {
                                                            $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                        }
                                                    });
                                                });
                                                $(':checkbox').parent().each(function() {
                                                    if ($(':checkbox:checked', this).size() === 0) {
                                                        $(this).prepend('<p class="error">１個以上選択してください</p>');
                                                    }
                                                });
                                                if ($('p.error').size() > 0) {
                                                    return false;
                                                }
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $('form').submit ->
                                                 
                                                #エラーの初期化
                                                $('p.error').remove()
                                                 
                                                #テキストフィールド、テキストエリア必須
                                                $(':text,textarea').filter('.validate').each ->
                                                    #必須項目
                                                    $(this).filter('.required').each ->
                                                        $(this).parent().prepend('<p class="error">必須項目です</p>') if $(this).val() == ''
                                                        return
                                                    return
                                                 
                                                #テキストフィールド10文字以内
                                                $(':text').filter('.validate').each ->
                                                    #必須項目
                                                    $(this).filter('.limit').each ->
                                                        $(this).parent().prepend '<p class="error">10文字以内で入力してください</p>' if $(this).val().length > 10
                                                        return
                                                    return
                                                 
                                                #テキストエリア100文字以内
                                                $('textarea').filter('.validate').each ->
                                                    #必須項目
                                                    $(this).filter('.limit').each ->
                                                        $(this).parent().prepend '<p class="error">100文字以内で入力してください</p>' if $(this).val().length > 100
                                                        return
                                                    return
                                                 
                                                #ラジオボタン必須
                                                $(':radio').filter('.validate').each ->
                                                    $(this).filter('.required').each ->
                                                        $(this).parent().prepend '<p class="error">選択してください</p>' if $(':radio[name='+$(this).attr('name')+']:checked').size() == 0
                                                        return
                                                    return
                                                 
                                                #セレクトボックス必須
                                                $('option:selected').parent().filter('.validate').each ->
                                                    #必須項目
                                                    $(this).filter('.required').each ->
                                                        $(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() == ''
                                                        return
                                                    return

                                                #チェックボックス必須
                                                $(':checkbox').parent().each ->
                                                    $(this).prepend '<p class="error">１個以上選択してください</p>' if $(':checkbox:checked',this).size() == 0
                                                    return
                                                return false if $('p.error').size() > 0
                                            return