extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ロールオーバー (汎用)
                    .panel-body
                        p ①
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise162/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet', href='css/style1.css')
                                    body
                                        ul
                                            li
                                                a(href='#')
                                                    img<mark>.rollover</mark>(src='img/jquery.jpg', alt='jQuery')           
                                            li
                                                a(href='#')
                                                    img<mark>.rollover</mark>(src='img/javascript.jpg', alt='javascript')           
                                            li
                                                a(href='#')
                                                    img<mark>.rollover</mark>(src='img/css.jpg', alt='CSS')           
                                            li
                                                a(href='#')
                                                    img<mark>.rollover</mark>(src='img/html.jpg', alt='HTML')
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script(src='js/script1.js')
                        hr
                        p ②
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise162/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('img.rollover').mouseover(function() {
                                        $(this).attr('src', <mark>$(this).attr('src').replace(/^(.+)(\.[a-z]+)$/, '$1_on$2')</mark>);
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('img.rollover').mouseover ->
                                        $(this).attr 'src', <mark>$(this).attr('src').replace /^(.+)(\.[a-z]+)$/, '$1_on$2'</mark>
                                        return
                                    return
                        hr
                        p ③
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise162/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('img.rollover').mouseover(function() {
                                        $(this).attr('src', $(this).attr('src').replace(/^(.+)(\.[a-z]+)$/, '$1_on$2'));
                                    })<mark>.mouseout(function() {
                                        $(this).attr('src', $(this).attr('src').replace(/^(.+)_on(\.[a-z]+)$/, '$1$2'));
                                    });</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('img.rollover').mouseover( ->
                                        $(this).attr 'src', $(this).attr('src').replace /^(.+)(\.[a-z]+)$/, '$1_on$2'
                                        return
                                    )<mark>.mouseout ->
                                        $(this).attr 'src', $(this).attr('src').replace /^(.+)_on(\.[a-z]+)$/, '$1$2'
                                        return</mark>
                                    return
                        hr
                        p ④
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise162/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('img.rollover').mouseover(function() {
                                        $(this).attr('src', $(this).attr('src').replace(/^(.+)(\.[a-z]+)$/, '$1_on$2'));
                                    }).mouseout(function() {
                                        $(this).attr('src', $(this).attr('src').replace(/^(.+)_on(\.[a-z]+)$/, '$1$2'));
                                    })<mark>.each(function() {
                                        $('<img src="' + $(this).attr('src').replace(/^(.+)(\.[a-z]+)$/, '$1_on$2') + '" alt="">');
                                    });</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('img.rollover').mouseover( ->
                                        $(this).attr 'src', $(this).attr('src').replace /^(.+)(\.[a-z]+)$/, '$1_on$2'
                                        return
                                    ).mouseout( ->
                                        $(this).attr 'src', $(this).attr('src').replace /^(.+)_on(\.[a-z]+)$/, '$1$2'
                                        return
                                    )<mark>.each ->
                                        $('<img src="' + $(this).attr('src').replace(/^(.+)(\.[a-z]+)$/, '$1_on$2') + '" alt="">')
                                        return
                                    return</mark>