extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;contextmenu()イベン課題
                    .panel-body
                        p リンクを右クリックして、メニューを表示させましょう。またメニューをクリックして別タブでリンク先に遷移させましょう。
                        p 別タブで遷移させるには以下のように記述するものとします。
                        pre
                            :code
                                window.open().location.href = '遷移先';
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise184/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                a(href='#')
                                                    | 右クリック
                                                    ul
                                                        li(data-link='http://www.yahoo.co.jp/') Yahoo
                                                        li(data-link='http://www.google.co.jp/') Google
                                                        li(data-link='http://www.goo.ne.jp/') Goo
                                                        li(data-link='http://jp.msn.com/') msn
                                                        li(data-link='http://www.livedoor.com/') Livedoor
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        a
                                            position relative
                                            text-decoration none
                                            ul
                                                display none
                                                position absolute
                                                top -20px
                                                right -100px
                                                padding 0
                                                li
                                                    width 100px
                                                    height 30px
                                                    line-height 30px
                                                    text-align center
                                                    list-style-type none
                                                    border-left 1px solid #000000
                                                    border-right 1px solid #000000
                                                    border-bottom 1px solid #000000
                                                    background-color pink
                                                    &:hover
                                                        background-color aqua

                                                    &:first-child
                                                        list-style-type none
                                                        border-top 1px solid #000000
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('a').contextmenu(function() {
                                                $('ul', this).css('display', 'block');
                                                return false;
                                            });
                                            $('a ul li').click(function() {
                                                window.open().location.href = $(this).attr('data-link');
                                            });
                                            $(document).click(function() {
                                                $('ul', this).css('display', 'none');
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $('a').contextmenu ->
                                                $('ul',this).css 'display','block'
                                                return false

                                            $('a ul li').click ->
                                                window.open().location.href = $(this).attr 'data-link'
                                                return
                                                 
                                            $(document).click ->
                                                $('ul',this).css('display','none');
                                                return
                                            return