extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$(':parentセレクター') 課題
                    .panel-body
                        p ボタンをクリックして、table要素を削除し、td要素から数字を抽出したものをリストに並べてみましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise131/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                            body
                                                p
                                                    input(type='button', value='クリック')
                                                table(border='1')
                                                    tr
                                                        td 11111
                                                        td
                                                        td
                                                        td 77777
                                                        td
                                                    tr
                                                        td
                                                        td 33333
                                                        td
                                                        td
                                                        td 99999
                                                    tr
                                                        td
                                                        td 44444
                                                        td 55555
                                                        td
                                                        td
                                                    tr
                                                        td 22222
                                                        td
                                                        td
                                                        td 88888
                                                        td
                                                    tr
                                                        td
                                                        td
                                                        td 66666
                                                        td
                                                        td 00000
                                                ul

                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $("input").click(function() {
                                                $("table").css("display", "none");
                                                $("ul").css("display", "block");
                                                $("ul").html("\
                                                    <li>" + $("tr td:nth-child(1):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(1):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(2):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(2):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(3):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(3):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(4):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(4):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(5):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(5):parent:eq(1)").html() + "</li>");

                                                /*
                                                            html = "<li>" + $("tr td:nth-child(1):parent:eq(0)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(1):parent:eq(1)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(2):parent:eq(0)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(2):parent:eq(1)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(3):parent:eq(0)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(3):parent:eq(1)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(4):parent:eq(0)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(4):parent:eq(1)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(5):parent:eq(0)").html() + "</li>"
                                                            html += "<li>" + $("tr td:nth-child(5):parent:eq(1)").html() + "</li>"
                                                
                                                            $("ul").html html
                                                 */

                                                /*
                                                            html = ""
                                                            i = 1
                                                
                                                            while i <= 5
                                                                    j = 0
                                                
                                                                    while j <= 1
                                                                            html += "<li>" + $("tr td:nth-child(" + i + "):parent:eq(" + j + ")").html() + "</li>"
                                                                            j++
                                                                    i++
                                                
                                                            $("ul").html html
                                                 */
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $("input").click ->
                                                $("table").css "display", "none"
                                                $("ul").css "display", "block"

                                                $("ul").html "\
                                                    <li>" + $("tr td:nth-child(1):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(1):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(2):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(2):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(3):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(3):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(4):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(4):parent:eq(1)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(5):parent:eq(0)").html() + "</li>\
                                                    <li>" + $("tr td:nth-child(5):parent:eq(1)").html() + "</li>"

                                                ###
                                                html = "<li>" + $("tr td:nth-child(1):parent:eq(0)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(1):parent:eq(1)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(2):parent:eq(0)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(2):parent:eq(1)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(3):parent:eq(0)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(3):parent:eq(1)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(4):parent:eq(0)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(4):parent:eq(1)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(5):parent:eq(0)").html() + "</li>"
                                                html += "<li>" + $("tr td:nth-child(5):parent:eq(1)").html() + "</li>"

                                                $("ul").html html
                                                ###

                                                ###
                                                html = ""
                                                i = 1

                                                while i <= 5
                                                    j = 0

                                                    while j <= 1
                                                        html += "<li>" + $("tr td:nth-child(" + i + "):parent:eq(" + j + ")").html() + "</li>"
                                                        j++
                                                    i++

                                                $("ul").html html
                                                ###

                                                return

                                            return