extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$(':even/:oddセレクター')
                    .panel-body
                        p :even/:oddセレクターはjQuery独自のセレクターです。指定した要素の偶数番目、奇数番目を表します。CSSのnth-of-type(:odd)/nth-of-type(:even)と異なる点は0から数え始めることです。0は偶数ですので、偶数から始まることになります。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise122/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/even-selector/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考（:even）
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/odd-selector/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考（:odd）
                        pre(class='prettyprint linenums:1')
                            :code
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')query.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            for i in new Array(4)
                                                li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('li:even').css('color', 'red');
                                    $('li:odd').css('color', 'blue');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('li:even').css 'color', 'red'
                                    $('li:odd').css 'color', 'blue'
                                    return