extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;removeAttr()メソッド
					.panel-body
						p attr()メソッドは、第1引数のみ指定した場合、$メソッドで指定した要素に設定されている、attr()メソッドの引数で指定した属性の属性値を取得することができます。
						p
							a.btn.btn-default(href='../demo/jquery/exercise19/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							| 
							a.btn.btn-default(href='http://api.jquery.com/removeAttr/',target='_blank')
								i.glyphicon.glyphicon-info-sign
								| &nbsp;参考
						pre(class='prettyprint linenums:1')
							:code
								doctype
								html(lang='ja-JP')
									head
										meta(charset='UTF-8')
										title
									body
										p: input(type='text',value='入力してください')
										p: input(type='button',value="リセット")
										script(src='http://code.jquery.com/jquery-1.10.2.min.js')
										script(src='script.js')
						pre(class='prettyprint linenums:1')
							:code
								$(function() {
									$('input[type="button"]').click(function() {
										$('input[type="text"]').removeAttr('value');
									});
								});
						pre(class='prettyprint linenums:1')
							:code
								$ ->
									$('input[type="button"]').click ->
										$('input[type="text"]').removeAttr('value');
										return
									return