extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;before()メソッド
					.panel-body
						p $()メソッドで指定した要素の1つ前の兄要素として、before()メソッドの引数で指定した要素を挿入します。
						p
							a.btn.btn-default(href='../demo/jquery/exercise43/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							| 
							a.btn.btn-default(href='http://api.jquery.com/before/',target='_blank')
								i.glyphicon.glyphicon-info-sign
								| &nbsp;参考
						pre(class='prettyprint linenums:1')
							:code
								doctype
								html(lang='ja-JP')
									head
										meta(charset='UTF-8')
										title
										link(rel='stylesheet', href='style.css')
									body
										p#first テキストテキストテキストテキスト
										p: input(type='button',value='挿入')
										script(src='http://code.jquery.com/jquery-1.11.0.min.js')
										script(src='script.js')
						pre(class='prettyprint linenums:1')
							:code
								$(function() {
									$('input').click(function() {
										$('#first').before('<mark>テキスト</mark>');
									});
								});
						pre(class='prettyprint linenums:1')
							:code
								$ ->
									$('input').click ->
										$('#first').before '<mark>テキスト</mark>'
										return
									return