extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;モーダルウィンドウ
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style.css')
                                        body
                                            h1 jQueryを利用したモーダルウィンドウの作成
                                            ul
                                                li
                                                    a.modal(href='img/photo1.jpg')
                                                        img(src='img/photo1_thum.jpg', alt='シャンデリア')
                                                li
                                                    a.modal(href='img/photo2.jpg')
                                                        img(src='img/photo2_thum.jpg', alt='バラ')
                                                li
                                                    a.modal(href='img/photo3.jpg')
                                                        img(src='img/photo3_thum.jpg', alt='海')
                                                li
                                                    a.modal(href='img/photo4.jpg')
                                                        img(src='img/photo4_thum.jpg', alt='門')
                                                li
                                                    a.modal(href='img/photo5.jpg')
                                                        img(src='img/photo5_thum.jpg', alt='海')
                                                li
                                                    a.modal(href='img/photo6.jpg')
                                                        img(src='img/photo6_thum.jpg', alt='あじさい')
                                                li
                                                    a.modal(href='img/photo7.jpg')
                                                        img(src='img/photo7_thum.jpg', alt='空')
                                                li
                                                    a.modal(href='img/photo8.jpg')
                                                        img(src='img/photo8_thum.jpg', alt='建物')
                                            #grayLayer
                                            #overLayer
                                                img(src='img/photo5.jpg')
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script(src='js/script.js')
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                w = 650px
                                h = 488px

                                body
                                    margin 0
                                #grayLayer
                                    position fixed
                                    left 0
                                    top 0
                                    height 100%
                                    width 100%
                                    background-color black
                                    opacity 0.60
                                #overLayer
                                    position  fixed
                                    top 50%
                                    left 50%
                                    margin-top -(h/2)
                                    margin-left -(w/2)
                                    img
                                        width w
                                        height h
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                w = 650px
                                h = 488px

                                body
                                    margin 0
                                <mark>h1
                                    margin 20px 50px
                                    font-size large
                                    border-left 10px solid #7BAEB5
                                    border-bottom 1px solid #7BAEB5
                                    padding 10px
                                    width 600px
                                ul
                                    width 700px
                                    li
                                        float left
                                        list-style-type none
                                        img
                                            border 0
                                            margin 10px</mark>
                                #grayLayer
                                    position fixed
                                    left 0
                                    top 0
                                    height 100%
                                    width 100%
                                    background-color black
                                    opacity 0.60
                                #overLayer
                                    position  fixed
                                    top 50%
                                    left 50%
                                    margin-top -(h/2)
                                    margin-left -(w/2)
                                    img
                                        width w
                                        height h
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                w = 650px
                                h = 488px

                                body
                                    margin 0
                                h1
                                    margin 20px 50px
                                    font-size large
                                    border-left 10px solid #7BAEB5
                                    border-bottom 1px solid #7BAEB5
                                    padding 10px
                                    width 600px
                                ul
                                    width 700px
                                    li
                                        float left
                                        list-style-type none
                                        img
                                            border 0
                                            margin 10px
                                #grayLayer
                                    <mark>display none</mark>
                                    position fixed
                                    left 0
                                    top 0
                                    height 100%
                                    width 100%
                                    background-color black
                                    opacity 0.60
                                #overLayer
                                    <mark>display none</mark>
                                    position  fixed
                                    top 50%
                                    left 50%
                                    margin-top -(h/2)
                                    margin-left -(w/2)
                                    img
                                        width w
                                        height h
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style5.css')
                                        body
                                            h1 jQueryを利用したモーダルウィンドウの作成
                                            ul
                                                li
                                                    a.modal(href='img/photo1.jpg')
                                                        img(src='img/photo1_thum.jpg', alt='シャンデリア')
                                                li
                                                    a.modal(href='img/photo2.jpg')
                                                        img(src='img/photo2_thum.jpg', alt='バラ')
                                                li
                                                    a.modal(href='img/photo3.jpg')
                                                        img(src='img/photo3_thum.jpg', alt='海')
                                                li
                                                    a.modal(href='img/photo4.jpg')
                                                        img(src='img/photo4_thum.jpg', alt='門')
                                                li
                                                    a.modal(href='img/photo5.jpg')
                                                        img(src='img/photo5_thum.jpg', alt='海')
                                                li
                                                    a.modal(href='img/photo6.jpg')
                                                        img(src='img/photo6_thum.jpg', alt='あじさい')
                                                li
                                                    a.modal(href='img/photo7.jpg')
                                                        img(src='img/photo7_thum.jpg', alt='空')
                                                li
                                                    a.modal(href='img/photo8.jpg')
                                                        img(src='img/photo8_thum.jpg', alt='建物')
                                            <mark>//-
                                                #grayLayer
                                                #overLayer
                                                    img(src='img/photo5.jpg')</mark>
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script(src='js/script5.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'
                                    return
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('a.modal').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show().html('<img src="' + $(this).attr('href') + '" alt="">');
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    <mark>$('a.modal').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show().html '<img src="' + $(this).attr('href') + '" alt="">'
                                        return</mark>
                                    return

                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('a.modal').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show().html('<img src="' + $(this).attr('href') + '" alt="">');
                                        <mark>return false;</mark>
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    $('a.modal').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show().html '<img src="' + $(this).attr('href') + '" alt="">'
                                        <mark>return false</mark>
                                    return
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise157/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('a.modal').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show().html('<img src="' + $(this).attr('href') + '" alt="">');
                                        <mark>$('#grayLayer').click(function() {
                                            $(this).hide();
                                            $('#overLayer').hide();
                                        });</mark>
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    $('a.modal').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show().html '<img src="' + $(this).attr('href') + '" alt="">'

                                        <mark>$('#grayLayer').click ->
                                            $(this).hide()
                                            $('#overLayer').hide()
                                            return</mark>
                                        return false
                                    return