extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;モーダルウィンドウ (テキストの表示)
                    .panel-body
                        p ①
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style.css')
                                        body
                                            dl
                                                dt Lorem ipsum dolor sit amet,
                                                dd
                                                    p
                                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque urna, molestie id cursus non, bibendum nec magna. Mauris consequat faucibus ante sollicitudin ullamcorper. Proin et felis orci. Nulla vitae diam sit amet felis semper ultricies. Nulla vitae mauris sit amet augue pulvinar pulvinar. Donec tincidunt viverra turpis eget suscipit. Morbi eu lacus iaculis turpis suscipit pretium. Aenean ultricies scelerisque dictum. Phasellus tincidunt, nibh lacinia facilisis aliquam, lacus quam condimentum orci, id lacinia justo odio vel purus. Mauris molestie tortor eu purus facilisis at congue sapien commodo. Sed ac eros vitae odio ultrices mollis nec a lorem. Phasellus sit amet dolor nec tellus consequat ornare sit amet ut ipsum. Vestibulum sagittis, mi sed pulvinar semper, lacus mauris lobortis eros, eu egestas est lectus nec lacus. Donec in lacus quis elit consectetur accumsan sit amet sed tortor. Etiam id vestibulum libero. Nam faucibus tincidunt felis, eu feugiat nibh fringilla vel. Donec adipiscing dictum imperdiet. Nulla ac fringilla neque. Curabitur posuere euismod est vel vehicula. Curabitur quis ligula sit amet quam tempus venenatis.
                                                dt Integer rhoncus felis mauris.
                                                dd
                                                    p
                                                        | Integer rhoncus felis mauris. Donec massa nisi, posuere vel posuere vel, suscipit sed magna. Sed congue scelerisque odio, faucibus tempor nisl posuere condimentum. In eu tellus vitae elit consequat pretium. Maecenas nec ultrices dolor. Curabitur eu pulvinar turpis. Aenean vel tortor justo, id dapibus velit. Mauris pulvinar massa sit amet erat mollis sit amet ornare tellus aliquet. Quisque ullamcorper elementum libero, ut vehicula neque placerat nec. In hac habitasse platea dictumst. In hac habitasse platea dictumst. Morbi et ante turpis, et fringilla tortor. In hac habitasse platea dictumst. Proin eros urna, sagittis vitae tristique et, ullamcorper ac leo. Donec elementum arcu tortor. Praesent tincidunt dui in est adipiscing ac lobortis lorem porttitor. Nullam et dui elit. Vivamus hendrerit vestibulum enim, quis lobortis erat viverra vitae. Donec at pellentesque mi. Mauris lobortis libero ac metus ultricies accumsan.
                                                dt Integer pretium porttitor lectus at tempor.
                                                dd
                                                    p
                                                        | Integer pretium porttitor lectus at tempor. Donec nec cursus elit. Maecenas ornare malesuada urna vitae lobortis. Sed vulputate sapien quis purus cursus consectetur. Aenean nulla neque, egestas ut accumsan nec, convallis vel enim. Vestibulum vehicula interdum diam nec condimentum. Etiam in condimentum justo. Fusce a tortor metus, id pellentesque orci. Sed facilisis, tellus quis tempus faucibus, justo elit sodales lorem, eget placerat lectus risus bibendum ipsum. Donec varius mattis quam eu consequat. Praesent ut metus nec nibh tincidunt suscipit. Nam vulputate sodales egestas. Sed orci lectus, vestibulum ac gravida eget, congue non velit. Morbi rutrum convallis orci, in hendrerit arcu vulputate a. Aliquam aliquam facilisis libero, sit amet facilisis lacus tincidunt ac. Sed viverra nulla sit amet turpis egestas nec molestie justo congue. Vivamus a lacinia sem. Aenean ut metus arcu, non ornare orci. Praesent feugiat est eu tellus dictum ac imperdiet nisi imperdiet.
                                            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                            script(src='js/script.js')
                        hr
                        p ②
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                body
                                    margin 0

                                #grayLayer
                                    display none
                                    position fixed
                                    left 0
                                    top 0
                                    height 100%
                                    width 100%
                                    background #7BAEB5
                                    opacity  0.75

                                #overLayer
                                    display none
                                    position  fixed
                                    top 50%
                                    left 50%
                                    width 400px
                                    background-color #FFFFFF     
                                    padding 10px
                        hr
                        p ③
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                body
                                    margin 0
                                <mark>dl
                                    dt
                                        margin 20px 50px
                                        font-size large
                                        border 1px solid #7BAEB5
                                        border-left 1em solid #7BAEB5
                                        padding-left 10px
                                        width 600px
                                        cursor pointer
                                    dd
                                        display none</mark>
                                #grayLayer
                                    display none
                                    position fixed
                                    left 0
                                    top 0
                                    height 100%
                                    width 100%
                                    background #7BAEB5
                                    opacity  0.75

                                #overLayer
                                    display none
                                    position  fixed
                                    top 50%
                                    left 50%
                                    width 400px
                                    background-color #FFFFFF     
                                    padding 10px

                        hr
                        p ④
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'
                                    return
                        hr
                        p ⑤
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    <mark>$('dt').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show();
                                    });</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    <mark>$('dt').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show()
                                        return</mark>
                                    return
                        hr
                        p ⑥
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('dt').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show();
                                    });
                                    <mark>$('#grayLayer').click(function() {
                                        $(this).hide();
                                        $('#overLayer').hide();
                                    });</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    $('dt').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show()
                                        return

                                    <mark>$('#grayLayer').click ->
                                        $(this).hide()
                                        $('#overLayer').hide()
                                        return</mark>
                                    return
                        hr
                        p ⑦
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('dt').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show()<mark>.html($('+dd', this).html());</mark>
                                    });
                                    $('#grayLayer').click(function() {
                                        $(this).hide();
                                        $('#overLayer').hide();
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    $('dt').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show()<mark>.html $('+dd',this).html()</mark>
                                        return

                                    $('#grayLayer').click ->
                                        $(this).hide()
                                        $('#overLayer').hide()
                                        return
                                    return
                        hr
                        p ⑧
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('dt').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show().html($('+dd', this).html())<mark>.css({
                                            marginTop: '-' + $('#overLayer').height() / 2 + 'px',
                                            marginLeft: '-' + $('#overLayer').width() / 2 + 'px'
                                        }</mark>);
                                    });
                                    $('#grayLayer').click(function() {
                                        $(this).hide();
                                        $('#overLayer').hide();
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    $('dt').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show().html($('+dd',this).html())<mark>.css
                                            marginTop: '-' + $('#overLayer').height()/2 + 'px' 
                                            marginLeft: '-' + $('#overLayer').width()/2 + 'px'</mark>
                                        return

                                    $('#grayLayer').click ->
                                        $(this).hide()
                                        $('#overLayer').hide()
                                        return
                                    return
                        hr
                        p ⑨
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('dt').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show()<mark>.html('<img src="img/close.png" class="close">' + $('+dd', this).html())</mark>.css({
                                            marginTop: '-' + $('#overLayer').height() / 2 + 'px',
                                            marginLeft: '-' + $('#overLayer').width() / 2 + 'px'
                                        });
                                    });
                                    $('#grayLayer').click(function() {
                                        $(this).hide();
                                        $('#overLayer').hide();
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    $('dt').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show()<mark>.html('<img src="img/close.png" class="close">' + $('+dd',this).html())</mark>.css
                                            marginTop: '-' + $('#overLayer').height()/2 + 'px' 
                                            marginLeft: '-' + $('#overLayer').width()/2 + 'px'
                                        return

                                    $('#grayLayer').click ->
                                        $(this).hide()
                                        $('#overLayer').hide()
                                        return
                                    return
                        hr
                        p ⑩
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('body').append('<div id="grayLayer"></div><div id="overLayer"></div>');
                                    $('dt').click(function() {
                                        $('#grayLayer').show();
                                        $('#overLayer').show().html('<img src="img/close.png" class="close">' + $('+dd', this).html()).css({
                                            marginTop: '-' + $('#overLayer').height() / 2 + 'px',
                                            marginLeft: '-' + $('#overLayer').width() / 2 + 'px'
                                        });
                                        <mark>$('#overLayer img.close').click(function() {
                                            $('#grayLayer').hide();
                                            $('#overLayer').hide();
                                        });</mark>
                                    });
                                    $('#grayLayer').click(function() {
                                        $(this).hide();
                                        $('#overLayer').hide();
                                    });

                                    <mark>/*
                                    $('#overLayer').on('click','img.close', function(){
                                        $('#grayLayer').hide();
                                        $('#overLayer').hide();                           
                                    });
                                     */</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('body').append '<div id="grayLayer"></div><div id="overLayer"></div>'

                                    $('dt').click ->
                                        $('#grayLayer').show()
                                        $('#overLayer').show().html('<img src="img/close.png" class="close">' + $('+dd',this).html()).css
                                            marginTop: '-' + $('#overLayer').height()/2 + 'px' 
                                            marginLeft: '-' + $('#overLayer').width()/2 + 'px'

                                        <mark>$('#overLayer img.close').click ->
                                            $('#grayLayer').hide()
                                            $('#overLayer').hide()
                                            return</mark>
                                        return

                                    $('#grayLayer').click ->
                                        $(this).hide()
                                        $('#overLayer').hide()
                                        return
                                    <mark>###
                                    $('#overLayer').on 'click','img.close', ->
                                        $('#grayLayer').hide()
                                        $('#overLayer').hide()
                                        return
                                    ###</mark>
                                    return

                        hr
                        p ⑪
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise158/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                body
                                    margin 0
                                dl
                                    dt
                                        margin 20px 50px
                                        font-size large
                                        border 1px solid #7BAEB5
                                        border-left 1em solid #7BAEB5
                                        padding-left 10px
                                        width 600px
                                        cursor pointer
                                    dd
                                        display none
                                #grayLayer
                                    display none
                                    position fixed
                                    left 0
                                    top 0
                                    height 100%
                                    width 100%
                                    background #7BAEB5
                                    opacity  0.75

                                #overLayer
                                    display none
                                    position  fixed
                                    top 50%
                                    left 50%
                                    width 400px
                                    background-color #FFFFFF     
                                    padding 10px
                                    <mark>img.close
                                        position absolute
                                        top -10px
                                        right -10px
                                        cursor pointer</mark>