extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;attr()メソッド①
					.panel-body
						p attr()メソッドは、$メソッドで指定した要素に対して、attr()メソッドの第1引数で指定した属性に、第2引数で指定した属性値をセットします。
						p
							a.btn.btn-default(href='../demo/jquery/exercise14/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							| 
							a.btn.btn-default(href='http://api.jquery.com/attr/',target='_blank')
								i.glyphicon.glyphicon-info-sign
								| &nbsp;参考
						figure
							pre(class='prettyprint linenums:1')
								:code
									<!DOCTYPE html>
									<html lang="ja-JP">
									<head>
									<meta charset="UTF-8">
									<title></title>
									</head>
									<body>
										<p>
											<img src="img/before.png" alt="">
										</p>
										<p>
											<input type="button" value="変更">
										</p>
										<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
										<script src="script.js"></script>
									</body>
									</html>
							figcaption （HTML）
						figure
							pre(class='prettyprint linenums:1')
								:code
									doctype
									html(lang='ja-JP')
										head
											meta(charset='UTF-8')
											title
										body
											p: img(src='img/before.png',alt='')
											p: input(type='button',value='変更')
											script(src='http://code.jquery.com/jquery-1.10.2.min.js')
											script(src='script.js')

							figcaption （Jade）
						figure
							pre(class='prettyprint linenums:1')
								:code
									$(function(){
										$('input').click(function(){
											$('img').attr('src','img/after.png');
										});
									});
							figcaption （JavaScript）
						figure
							pre(class='prettyprint linenums:1')
								:code
									$ ->
										$('input').click ->
											$('img').attr 'src', 'img/after.png'
											return
										return
							figcaption （CoffeeScript）