extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;jQueryの読み込み方
                    .panel-body
                        .alert.alert-info ダウンロードして直接ファイルを読み込む
                        figure
                            pre
                                | &lt;script src="./jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | script(src='./jquery-1.11.0.min.js')
                            figcaption （Jade）
                        hr
                        .alert.alert-info jQueryのCDNから読み込む
                        figure
                            pre
                                | &lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                            figcaption （Jade）
                        hr
                        .alert.alert-info GoogleのCDNから読み込む
                        figure
                            pre
                                | &lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"&gt;&lt;/script&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
                            figcaption （Jade）
                        hr
                        .alert.alert-info GoogleのCDNから読み込んだ後、バージョン指定
                        figure
                            pre
                                | &lt;script src="http://www.google.com/jsapi"&gt;&lt;/script&gt;
                                | &lt;script&gt;google.load("jquery","1.10.2");&lt;/script&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | script(src='http://www.google.com/jsapi')
                                | script.
                                |     google.load("jquery","1.10.2");
                            figcaption （Jade）
                        hr
                        .alert.alert-info GoogleのCDNから読み込んだ後、バージョン指定（マイナーバージョンは最新のもの）
                        figure
                            pre
                                | &lt;script src="http://www.google.com/jsapi"&gt;&lt;/script&gt;
                                | &lt;script&gt;google.load("jquery","1.10");&lt;/script&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | script(src='http://www.google.com/jsapi')
                                | script.
                                |     google.load("jquery","1.10");
                            figcaption （Jade）
                        hr
                        .alert.alert-info MicrosoftのCDNから読み込む
                        figure
                            pre
                                | &lt;script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | script(src='http://ajax.microsoft.com/ajax/jquery/jquery-1.11.0.min.js')
                            figcaption （Jade）
                        hr
                        .alert.alert-info cdnjsのCDNから読み込む
                        figure
                            pre
                                | &lt;script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"&gt;&lt;/script&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js')
                            figcaption （Jade）