extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;each()メソッド課題
                    .panel-body
                        p each()メソッドを使って、li要素をカウントしてみましょう。
                        p each()メソッドのコールバック関数に引数を渡すと、$()メソッドのセレクターにマッチした要素の連番が取得できます。
                        pre
                            :code
                                $('セレクター').each(function(i){
                                    console.log(i);
                                });
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise164/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                            body
                                                ul
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                            body
                                                ul
                                                    for i in new Array(10)
                                                        li テキストテキストテキストテキスト
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('li').each(function(i) {
                                                $(this).prepend('<span>' + i + '</span>');
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $('li').each (i) ->
                                                $(this).prepend '<span>' + i + '</span>'
                                                return
                                            return