extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;off()イベント
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise179/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/off/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        p: input(type='button',value='取り消し')
                                        p: img(src='img/before.png',alt='')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('input').click(function() {
                                        $('img').off('mouseover mouseout');
                                    });
                                    $('img').mouseover(function() {
                                        $(this).attr('src', 'img/after.png');
                                    }).mouseout(function() {
                                        $(this).attr('src', 'img/before.png');
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('input').click ->
                                        $('img').off 'mouseover mouseout'
                                        return

                                    $('img')
                                    .mouseover( ->
                                        $(this).attr 'src','img/after.png'
                                        return
                                    ).mouseout ->
                                        $(this).attr 'src','img/before.png'
                                        return
                                    return