extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;html()メソッド②課題
					.panel-body
						p ボタンをクリックして、p要素内のHTML要素をエスケープして、span要素内に表示させてみましょう。
						p
							a.btn.btn-default(href='../demo/jquery/exercise13/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
								i.glyphicon.glyphicon-question-sign
								| &nbsp;解答例
						#demo.collapse.out
							figure
								pre(class='prettyprint linenums:1')
									:code
										<!DOCTYPE html>
										<html lang="ja-JP">
										<head>
										<meta charset="UTF-8">
										<title></title>
										<link rel="stylesheet" href="style.css">
										</head>
										<body>
											<p><b>テキスト</b><i>テキスト</i><u>テキスト</u><s>テキスト</s></p>
											<span></span>
											<input type="button" value="click">
										<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
										<script src="script.js"></script>
										</body>
										</html>
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									:code
										doctype
										html(lang='ja-JP')
											head
												meta(charset='UTF-8')
												title
												link(rel='stylesheet', href='style.css')
											body
												p
													b テキスト
													i テキスト
													u テキスト
													s テキスト
												span
												input(type='button',value='click')
												script(src='http://code.jquery.com/jquery-1.10.2.min.js')
												script(src='script.js')
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									:code
										$(function(){
											$('input').click(function(){
												$('span').text($('p').html());
											});
										});
								figcaption （JavaScript）
							figure
								pre(class='prettyprint linenums:1')
									:code
										$ ->
											$('input').click ->
												$('span').text $('p').html();
												return
											return
								figcaption （CoffeeScript）