extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$(':nth-last-child擬似クラス')
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise96/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/jQuery/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            -for(var i = 0; i < 4; i++)
                                                li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('li:nth-last-child(3)').css('color', 'red');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('li:nth-last-child(3)').css 'color', 'red'
                                    return