include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;jQuery資料
						.panel-body
							p
								| jQuery公式サイト
								br
								a(href='http://jquery.com/',target='_blank')
									| http://jquery.com/
							p
								| jQuery APIドキュメント
								br
								a(href='http://api.jquery.com/',target='_blank')
									| http://api.jquery.com/
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')