extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$('関節セレクター')
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise82/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/jQuery/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            li#first テキストテキストテキストテキスト
                                            li#second テキストテキストテキストテキスト
                                            li#third テキストテキストテキストテキスト
                                            li#fourth テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        -var num = ['first','second','third','fourth']
                                        ul
                                            -for(var i = 0; i < num.length; i++)
                                                li(id='#{num[i]}') テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('~li', '#second').css('color', 'red');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('~li','#second').css 'color', 'red'
                                    return