extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$('隣接セレクター') 課題
                    .panel-body
                        p dt要素をクリックして、隣接するdd要素を表示しましょう。また、1つだけdd要素が表示されるように、隣接しないdd要素は閉じましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise75/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                dl
                                                    dt メニューメニューメニューメニュー
                                                    dd
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                    dt メニューメニューメニューメニュー
                                                    dd
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                    dt メニューメニューメニューメニュー
                                                    dd
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                    dt メニューメニューメニューメニュー
                                                    dd
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                        | 内容内容内容内容内容内容内容内容
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')

                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                dl
                                                    -for(var i = 0; i < 4; i++)
                                                        dt メニューメニューメニューメニュー
                                                        dd
                                                            | 内容内容内容内容内容内容内容内容
                                                            | 内容内容内容内容内容内容内容内容
                                                            | 内容内容内容内容内容内容内容内容
                                                            | 内容内容内容内容内容内容内容内容
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        prefix(prop, val)
                                            -webkit-{prop} val
                                            {prop} val

                                        dl
                                            width 400px
                                        dt
                                            cursor pointer
                                        dd
                                            height 0
                                            overflow hidden
                                            margin-left 0
                                            prefix('transition-property', all)    
                                            prefix('transition-duration', 500ms)
                                            prefix('transition-timing-function', ease-in-out)
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('dt').click(function() {
                                                $('dd').css('height', '0');
                                                $('+dd', this).css('height', '100px');
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $('dt').click ->
                                                $('dd').css 'height', '0'
                                                $('+dd', this).css 'height', '100px'
        return
    return
                                                return
                                            return