extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$('属性セレクターE[attr!="val"]')
                    .panel-body
                        p 要素名[属性名!="属性値"]')のセレクターはjQuery独自のものです。属性名が属性値ではない要素名を表します。<mark>CSSでは定義されておらず、要素名を省略することはできません。</mark>
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise110/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/jQuery/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            li(title='first') テキストテキストテキストテキスト
                                            li(title='second') テキストテキストテキストテキスト
                                            li(title='third') テキストテキストテキストテキスト
                                            li(title='fourth') テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('li[title!="first"]').css('color', 'red');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('li[title!="first"]').css 'color', 'red'
                                    return