extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;replaceWith()メソッド課題
					.panel-body
						p ボタンをクリックして、img要素ごと置換してみましょう。
						p
							a.btn.btn-default(href='../demo/jquery/exercise33/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
								i.glyphicon.glyphicon-question-sign
								| &nbsp;解答例
						#demo.collapse.out
								pre(class='prettyprint linenums:1')
									:code
										doctype
										html(lang='ja-JP')
											head
												meta(charset='UTF-8')
												title
												link(rel='stylesheet', href='style.css')
											body
												p: img(src='img/before.png',alt='')
												p: input(type='button',value='変更')
												script(src='http://code.jquery.com/jquery-1.11.0.min.js')
												script(src='script.js')
								pre(class='prettyprint linenums:1')
									:code
										$(function() {
											$('input').click(function() {
												$('img').replaceWith('<img src="img/after.png" alt="">');
											});
										});
								pre(class='prettyprint linenums:1')
									:code
										$ ->
											$('input').click ->
												$('img').replaceWith '<img src="img/after.png" alt="">'
												return
											return