extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;hover()イベント
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise165/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/hover/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        img(src='img/before.png',alt='変更前')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('img').hover(function() {
                                        $(this).attr('src', 'img/after.png');
                                    }, function() {
                                        $(this).attr('src', 'img/before.png');
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('img').hover( ->
                                        $(this).attr 'src', 'img/after.png'
                                        return
                                    , ->
                                        $(this).attr 'src', 'img/before.png'
                                        return
                                    )
                                    return