extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;メソッドチェーン
                    .panel-body
                        p $メソッドに続く、jQueryのメソッドは.（ドット）で連結して記述することができます。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise36/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet', href='style.css')
                                    body
                                        p: img(src='img/before.png',alt='')
                                        p: input(type='button',value='変更')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('input').click(function() {
                                        $('img').attr('src', 'img/after.png').css({
                                            border: '5px solid yellow',
                                            width: '400px',
                                            height: '400px'
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('input').click ->
                                        $('img').attr('src', 'img/after.png').css
                                            border: '5px solid yellow'
                                            width: '400px'
                                            height: '400px'
                                        return
                                    return