extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;wrap()メソッド
                    .panel-body
                        p $()メソッドで指定した要素を、wrap()メソッドの引数で指定した要素で包みます。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise49/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/wrap/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet', href='style.css')
                                    body
                                        p <span>テキスト</span>テキストテキストテキストテキスト
                                        p: input(type='button',value='包む')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('input').click(function() {
                                        $('span').wrap('\<mark\>\</mark\>');
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('input').click ->
                                        $('span').wrap '\<mark\>\</mark\>'
                                        return
                                    return