extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$('empty擬似クラス') 課題
                    .panel-body
                        p td要素をクリックして、クリックしたtd要素を空要素にし、赤色にしてみましょう。また、以前空要素にしたtd要素は青色にしてみましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise87/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                ul
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                ul
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                ul
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                ul
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                    li テキストテキストテキストテキスト
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                            body
                                                table(border='1')
                                                    -for(var i = 0; i < 4; i++)
                                                        tr
                                                            -for(var j = 0; j < 4; j++)
                                                                td td要素
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        prefix(prop, val)
                                            -webkit-{prop} val
                                            {prop} val

                                        li
                                            opacity 1.0
                                        .turn
                                            prefix('transform', rotateX(0deg))  
                                            prefix('animation-name', myanim)    
                                            prefix('animation-duration', 1s)
                                        .fade
                                            opacity 0.2
                                            prefix('transition-property', all)  
                                            prefix('transition-duration', 500ms)
                                            prefix('transition-timing-function', ease-in-out)

                                        @keyframes myanim
                                            0%
                                                prefix('transform', rotateX(0deg))
                                            50%
                                                prefix('transform', rotateX(180deg))
                                            100%
                                                prefix('transform', rotateX(360deg))
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('li').click(function() {
                                             $(this).addClass('turn').removeClass('fade');
                                                $('li').not(this).addClass('fade').removeClass('turn');
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $('li').click ->
                                                $(this).addClass('turn').removeClass('fade')
                                                $('li').not(this).addClass('fade').removeClass('turn')
                                                return
                                            return