extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;jQuery資料
                    .panel-body
                        p
                            | jQuery公式サイト
                            br
                            a(href='http://jquery.com/',target='_blank')
                                | http://jquery.com/
                        p
                            | jQuery APIドキュメント
                            br
                            a(href='http://api.jquery.com/',target='_blank')
                                | http://api.jquery.com
                        hr
                        h4 その他のライブラリ
                        pre
                            :code
                                Zepto
                                http://zeptojs.com/

                                prototype.js
                                http://prototypejs.org/

                                script.aculo.us
                                http://script.aculo.us/

                                mootools
                                http://mootools.net/
                        hr
                        h4 ライセンス
                        p
                            a(href='http://smkn.xsrv.jp/blog/2009/03/summary_for_gpl_mit_cc_etc/',target='_blank') http://smkn.xsrv.jp/blog/2009/03/summary_for_gpl_mit_cc_etc/
                        hr
                        h4 jQuery プラグイン
                        pre
                            :code
                                jquery.flickslide.js
                                http://blog.kaleido-jp.net/web/フリックスライド/

                                jQuery Corner
                                http://malsup.com/jquery/corner/

                                jqPlot

                                http://www.jqplot.com/

                                jquery.smoothScroll.js
                                http://2inc.org/blog/2012/02/14/1233/

                                jquery.tile.js
                                http://urin.github.io/jquery.tile.js/

                                jquery.rollover.js
                                http://rewish.jp/blog/releases/jquery_rollover

                                Colorbox
                                http://www.jacklmoore.com/colorbox/

                                table sorter
                                http://tablesorter.com/docs/

                                table sorter pagenation plugin
                                http://tablesorter.com/docs/example-pager.html

                                jQuery Validation
                                http://bassistance.de/jquery-plugins/jquery-plugin-validation/

                                Scroll Trigger
                                http://www.koikikukan.com/archives/2012/07/12-003333.php

                                Zoom Box
                                http://grafikart.github.io/Zoombox/index.html

                                Space Gallery
                                http://www.eyecon.ro/spacegallery/

                                jQuery Cycle Plugin
                                http://jquery.malsup.com/cycle/

                                Infinite Carousel
                                http://jqueryfordesigners.com/jquery-infinite-carousel/

                                jQuery Rotate
                                https://code.google.com/p/jqueryrotate/

                                かえラボ　slider.js
                                http://kaelab.ranadesign.com/blog/2010/10/jquery.html

                                かえラボ　floater.js
                                http://kaelab.ranadesign.com/blog/2011/06/floaterjsie6fixed.html

                                jQuery Easing Plugin
                                https://code.google.com/p/blogger-hacks-all/downloads/detail?name=jquery.easing-1.3.min.js

                                Masonry
                                http://masonry.desandro.com/



                                プラグインアーカイブ

                                http://www.skuare.net/test/jQuery.html

                                http://semooh.jp/jquery/sample/

                                http://javascript.webcreativepark.net/library/category/library/jquery

                                http://jquerylist.com/

                                http://5509.me/

                                http://kachibito.net/web-design/jquery-layout-plugins.html

                        hr
                        h4 ドットインストール
                        p
                            a(href='http://dotinstall.com/lessons/basic_jquery_v2', target='_blank') jQuery入門
                        p
                            a(href='http://dotinstall.com/lessons/char_checker_js_v2', target='_blank') JavaScirptで作る残りも字数チェッカー
                        p
                            a(href='http://dotinstall.com/lessons/scroll_js', target='_blank') 「このページの先頭へ」を実装する
                        p
                            a(href='http://dotinstall.com/lessons/pwd_generator_js', target='_blank') JavaScriptで作る「パスワードジェネレーター」
                        p
                            a(href='http://dotinstall.com/lessons/shindan_js', target='_blank') JavaScriptで作る「キャラ診断」
                        p
                            a(href='http://dotinstall.com/lessons/memo_html5', target='_blank') HTML5で作る「シンプルメモ帳」
                        p
                            a(href='http://dotinstall.com/lessons/doubt_js', target='_blank') JavaScriptで作る「間違い探しゲーム」
                        hr
                        h4 パララックスサイト
                        pre
                            :code
                                ドットインストール
                                パララックスサイトを作ろう
                                http://dotinstall.com/lessons/parallax_html


                                参考

                                HYGIA
                                http://top.lion.co.jp/products/hygia/secret/

                                マリオカートWii
                                http://www.nintendo.com.au/gamesites/mariokartwii/

                                Stronghold
                                http://zxcvbnmnbvcxz.com/

                                Sleil Noir 2012
                                http://www.soleilnoir.net/believein/#/start

                                JINS
                                http://www.jins-jp.com/jins-pc/

                                WAネットショップ
                                http://wam16.jp/

                                東京スカイツリー
                                http://www.tokyo-skytree.jp/

                                What' NEW 日産 NOTE?
                                http://www2.nissan.co.jp/SP/NOTE/SPECIAL/
                        hr
                        h4 jQuery UI
                        pre
                            :code
                                jQuery UI公式サイト

                                http://jqueryui.com/


                                jQuery UI 公式APIドキュメント

                                http://api.jqueryui.com/


                                ドットインストール
                                jQuery UI入門
                                http://dotinstall.com/lessons/basic_jquery_ui