extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;JavaScriptの記述場所
                    .panel-body
                        .alert.alert-info head要素内に記述する場合
                        figure
                            pre
                                | &lt;head&gt;
                                | &lt;meta charset="UTF-8"&gt;
                                | &lt;script&gt;
                                | JavaScriptの処理を記述
                                | &lt;/script&gt;
                                | &lt;title&gt;&lt;/title&gt;
                                | &lt;/head&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | head
                                |     meta(charset='UTF-8')
                                |     script.
                                |         JavaScriptの処理を記述
                                |     title
                            figcaption （Jade）
                        hr
                        .alert.alert-info 外部ファイルに記述する場合
                        figure
                            pre
                                | &lt;head&gt;
                                | &lt;meta charset="UTF-8"&gt;
                                | &lt;script src="jsファイルのパスを指定"&gt;&lt;/script&gt;
                                | &lt;title&gt;&lt;/title&gt;
                                | &lt;/head&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | head
                                |     meta(charset='UTF-8')
                                |     script(src='jsファイルのパスを指定')
                                |     title
                            figcaption （Jade）
                        hr
                        .alert.alert-info body要素の途中に記述する場合
                        figure
                            pre
                                | &lt;body&gt;
                                | (省略)
                                | &lt;script&gt;
                                | JavaScriptの処理を記述
                                | &lt;/script&gt;
                                | (省略)
                                | &lt;/body&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | body
                                |     | (省略)
                                |     script.
                                |         JavaScriptの処理を記述
                                |     | (省略)
                            figcaption （Jade）
                        hr
                        .alert.alert-info body要素を閉じる直前に記述する場合
                        figure
                            pre
                                | &lt;body&gt;
                                | (省略)
                                | &lt;script&gt;
                                | JavaScriptの処理を記述
                                | &lt;/script&gt;
                                | &lt;/body&gt;
                            figcaption （HTML）
                        figure
                            pre
                                | body
                                |     | (省略)
                                |     script.
                                |         JavaScriptの処理を記述
                            figcaption （Jade）