extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;addClass()メソッド
					.panel-body
						p addClass()メソッドは、$メソッドで指定した要素に、addClassメソッドの引数で指定したクラスを適用します。
						p
							a.btn.btn-default(href='../demo/jquery/exercise26/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							| 
							a.btn.btn-default(href='http://api.jquery.com/addClass/',target='_blank')
								i.glyphicon.glyphicon-info-sign
								| &nbsp;参考
						pre(class='prettyprint linenums:1')
							:code
								doctype
								html(lang='ja-JP')
									head
										meta(charset='UTF-8')
										title
										link(rel='stylesheet',href='style.css')
									body
										p テキストテキストテキストテキストテキスト
										p: input(type='button',value='クリック')
										script(src='http://code.jquery.com/jquery-1.11.0.min.js')
										script(src='script.js')
						pre(class='prettyprint linenums:1')
							:code
								.red
									color #FF0000
						pre(class='prettyprint linenums:1')
							:code
								$(function() {
									$('input').click(function() {
										$('p:first-of-type').addClass('red');
									});
								});
						pre(class='prettyprint linenums:1')
							:code
								$ ->
									$('input').click ->
										$('p:first-of-type').addClass('red');
										return
									return