extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$('empty擬似クラス') 課題
                    .panel-body
                        p td要素をクリックして、クリックしたtd要素を空要素にし、赤色にしてみましょう。また、以前空要素にしたtd要素は青色にしてみましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise87/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                            body
                                                table(border='1')
                                                    tr
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                    tr
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                    tr
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                    tr
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                        td td要素
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                            body
                                                table(border='1')
                                                    -for(var i = 0; i < 4; i++)
                                                        tr
                                                            -for(var j = 0; j < 4; j++)
                                                                td td要素
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('td').click(function() {
                                                $('td:empty').css('background-color', 'blue');
                                                $(this).text('').css('background-color', 'red');
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            
                                            $('td').click ->
                                                $('td:empty').css('background-color','blue')
                                                $(this).text('').css('background-color','red')
                                                return
                                            return