extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$メソッドのthis
                    .panel-body
                        p $メソッドに指定するthisは、現在イベント発生中のセレクターが格納されています。以下のサンプルの場合、それぞれのimg要素をクリックすると、クリックイベントを発生させたimg要素がthisに格納されます。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise38/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/jQuery/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        p
                                            img(src='img/image1.png',alt='')
                                            img(src='img/image2.png',alt='')
                                            img(src='img/image3.png',alt='')
                                            img(src='img/image4.png',alt='')
                                            img(src='img/image5.png',alt='')

                                        //-以下のように記述することもできます
                                        //-
                                            p
                                                - for(var i = 1; i <= 5; i++)
                                                    img(src='img/image' + i + '.png',alt='')
                                        p
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('img').click(function() {
                                        $('p:nth-of-type(2)').html($(this).attr('src'));
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('img').click ->
                                        $('p:nth-of-type(2)').html $(this).attr('src')
                                        return
                                    return
                                    return