include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;jQueryの読み込み方
						.panel-body
							h4 ダウンロードして直接ファイルを読み込む
							figure
								pre(class='prettyprint linenums:1')
									| &lt;script src="./jquery-1.10.2.min.js"&gt;&lt;/script&gt;
							h4 jQueryのCDNから読み込む
							figure
								pre(class='prettyprint linenums:1')
									| &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
							h4 GoogleのCDNから読み込む
							figure
								pre(class='prettyprint linenums:1')
									| &lt;script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"&gt;&lt;/script&gt;
							h4 GoogleのCDNから読み込んだ後、バージョン指定
							figure
								pre(class='prettyprint linenums:1')
									| &lt;script src="http://www.google.com/jsapi"&gt;&lt;/script&gt;
									| &lt;script&gt;google.load("jquery","1.10.2");&lt;/script&gt;
							h4 GoogleのCDNから読み込んだ後、バージョン指定（マイナーバージョンは最新のもの）
							figure
								pre(class='prettyprint linenums:1')
									| &lt;script src="http://www.google.com/jsapi"&gt;&lt;/script&gt;
									| &lt;script&gt;google.load("jquery","1.10");&lt;/script&gt;
							h4 MicrosoftのCDNから読み込む
							figure
								pre(class='prettyprint linenums:1')
									| &lt;script src="http://ajax.microsoft.com/ajax/jquery/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
							h4 cdnjsのCDNから読み込む
							figure
								pre(class='prettyprint linenums:1')
									| &lt;script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.0/jquery.min.js"&gt;&lt;/script&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')