extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;カルーセルパネル
                    .panel-body
                        p ①
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style1.css')
                                    body
                                        #carouselWrap
                                            #carouselInner
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo1_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo2_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo3_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo4_thum.jpg', alt='')
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo5_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo6_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo7_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo8_thum.jpg', alt='')
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo9_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo10_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo11_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo12_thum.jpg', alt='')
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo13_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo14_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo15_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo16_thum.jpg', alt='')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/script1.js')
                        hr
                        p ②
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                p,ul
                                    margin 0

                                #carouselInner ul.column
                                    width 605px
                                    height 105px
                                    padding 15px 0 15px 15px
                                    list-style-type none
                                    float left
                                    li
                                        float left
                                        margin-right 10px
                                        img
                                            border none
                        hr
                        p ③
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                p,ul
                                    margin 0

                                <mark>#carouselWrap
                                    margin 30px auto
                                    width 620px
                                    height 135px
                                    padding 5px
                                    background url("../img/background.gif")</mark>

                                #carouselInner ul.column
                                    width 605px
                                    height 105px
                                    padding 15px 0 15px 15px
                                    list-style-type none
                                    float left
                                    li
                                        float left
                                        margin-right 10px
                                        img
                                            border none
                        hr
                        p ④
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                p,ul
                                    margin 0

                                #carouselWrap
                                    <mark>position relative</mark>
                                    margin 30px auto
                                    width 620px
                                    height 135px
                                    padding 5px
                                    background url("../img/background.gif")

                                #carouselInner ul.column
                                    width 605px
                                    height 105px
                                    padding 15px 0 15px 15px
                                    list-style-type none
                                    float left
                                    li
                                        float left
                                        margin-right 10px
                                        img
                                            border none
                        hr
                        p ⑤
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style5.css')
                                    body
                                        #carouselWrap
                                            <mark>p#carouselPrev: img(src='img/btn_prev.png', alt='前へ')
                                            p#carouselNext: img(src='img/btn_next.png', alt='次へ')</mark>
                                            #carouselInner
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo1_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo2_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo3_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo4_thum.jpg', alt='')
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo5_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo6_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo7_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo8_thum.jpg', alt='')
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo9_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo10_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo11_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo12_thum.jpg', alt='')
                                                ul.column
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo13_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo14_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo15_thum.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo16_thum.jpg', alt='')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/script5.js')
                        hr
                        p ⑥
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                p,ul
                                    margin 0

                                #carouselWrap
                                    position relative
                                    margin 30px auto
                                    width 620px
                                    height 135px
                                    padding 5px
                                    background url("../img/background.gif")

                                <mark>#carouselPrev
                                    position absolute
                                    top 65px
                                    left -8px
                                    cursor pointer

                                #carouselNext
                                    position absolute
                                    top 65px
                                    right -8px
                                    cursor pointer</mark>

                                #carouselInner ul.column
                                    width 605px
                                    height 105px
                                    padding 15px 0 15px 15px
                                    list-style-type none
                                    float left
                                    li
                                        float left
                                        margin-right 10px
                                        img
                                            border none
                        hr
                        p ⑦
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style7.css')
                                    body
                                        #carouselWrap
                                            p#carouselPrev: img(src='img/btn_prev.png', alt='前へ')
                                            p#carouselNext: img(src='img/btn_next.png', alt='次へ')
                                            <mark>#carousel</mark>
                                                #carouselInner
                                                    ul.column
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo1_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo2_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo3_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo4_thum.jpg', alt='')
                                                    ul.column
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo5_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo6_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo7_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo8_thum.jpg', alt='')
                                                    ul.column
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo9_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo10_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo11_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo12_thum.jpg', alt='')
                                                    ul.column
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo13_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo14_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo15_thum.jpg', alt='')
                                                        li
                                                            a(href='#')
                                                                img(src='img/photo16_thum.jpg', alt='')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/script7.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                p,ul
                                    margin 0

                                #carouselWrap
                                    position relative
                                    margin 30px auto
                                    width 620px
                                    height 135px
                                    padding 5px
                                    background url("../img/background.gif")

                                #carouselPrev
                                    position absolute
                                    top 65px
                                    left -8px
                                    cursor pointer

                                #carouselNext
                                    position absolute
                                    top 65px
                                    right -8px
                                    cursor pointer

                                <mark>#carousel
                                    width 100%
                                    height 100%
                                    //overflow hidden</mark>

                                #carouselInner ul.column
                                    width 605px
                                    height 105px
                                    padding 15px 0 15px 15px
                                    list-style-type none
                                    float left
                                    li
                                        float left
                                        margin-right 10px
                                        img
                                            border none
                        hr
                        p ⑧
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#carouselInner').css('width', 620 * $('#carouselInner ul.column').size() + 'px');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css('width',620 * $('#carouselInner ul.column').size() + 'px');
                                    return
                        hr
                        p ⑨
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    return
                        hr
                        p ⑩
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                    <mark>$('#carouselPrev').click(function() {
                                        console.log('prev');
                                    });
                                    $('#carouselNext').click(function() {
                                        console.log('next');
                                    });</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    <mark>$('#carouselPrev').click ->
                                        console.log 'prev'
                                        return
                                    $('#carouselNext').click ->
                                        console.log 'next'
                                        return</mark>
                                    return
                        hr
                        p ⑪
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                    $('#carouselPrev').click(function() {
                                        <mark>$('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        }, 'slow', 'swing');</mark>
                                    });
                                    $('#carouselNext').click(function() {
                                        <mark>$('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        }, 'slow', 'swing');</mark>
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    $('#carouselPrev').click ->
                                        #console.log 'prev'
                                        <mark>$('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        },'slow','swing'</mark>
                                        return
                                    $('#carouselNext').click ->
                                        #console.log 'next'
                                        <mark>$('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        },'slow','swing'</mark>
                                        return
                                    return
                        hr
                        p ⑫
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index12.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                    $('#carouselPrev').click(function() {
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        }, 'slow', 'swing'<mark>, function() {
                                            $('#carouselInner ul.column:last').prependTo('#carouselInner');
                                        });</mark>
                                    });
                                    $('#carouselNext').click(function() {
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        }, 'slow', 'swing'<mark>, function() {
                                            $('#carouselInner ul.column:first').appendTo('#carouselInner');
                                        });</mark>
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    $('#carouselPrev').click ->
                                        #console.log 'prev'
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        },'slow','swing'<mark>, ->
                                            $('#carouselInner ul.column:last').prependTo '#carouselInner'
                                            return</mark>
                                        return
                                    $('#carouselNext').click ->
                                        #console.log 'next'
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        },'slow','swing'<mark>, ->
                                            $('#carouselInner ul.column:first').appendTo '#carouselInner'
                                            return</mark>
                                        return
                                    return
                        hr
                        p ⑬
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index13.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                    $('#carouselPrev').click(function() {
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:last').prependTo('#carouselInner');
                                            <mark>$('#carouselInner').css('margin-left', '-620px');</mark>
                                        });
                                    });
                                    $('#carouselNext').click(function() {
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:first').appendTo('#carouselInner');
                                            <mark>$('#carouselInner').css('margin-left', '-620px');</mark>
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    $('#carouselPrev').click ->
                                        #console.log 'prev'
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:last').prependTo '#carouselInner'
                                            <mark>$('#carouselInner').css 'margin-left','-620px'</mark>
                                            return
                                        return
                                    $('#carouselNext').click ->
                                        #console.log 'next'
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:first').appendTo '#carouselInner'
                                            <mark>$('#carouselInner').css 'margin-left','-620px'</mark>
                                            return
                                        return
                                    return
                        hr
                        p ⑭
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index14.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                    $('#carouselPrev').click(function() {
                                        <mark>$('#carouselNext,#carouselPrev').hide();</mark>
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:last').prependTo('#carouselInner');
                                            $('#carouselInner').css('margin-left', '-620px');
                                            <mark>$('#carouselNext,#carouselPrev').show();</mark>
                                        });
                                    });
                                    $('#carouselNext').click(function() {
                                        <mark>$('#carouselNext,#carouselPrev').hide();</mark>
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:first').appendTo('#carouselInner');
                                            $('#carouselInner').css('margin-left', '-620px');
                                            <mark>$('#carouselNext,#carouselPrev').show();</mark>
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    $('#carouselPrev').click ->
                                        #console.log 'prev'
                                        <mark>$('#carouselNext,#carouselPrev').hide()</mark>
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:last').prependTo '#carouselInner'
                                            $('#carouselInner').css 'margin-left','-620px'
                                            <mark>$('#carouselNext,#carouselPrev').show()</mark>
                                            return
                                        return
                                    $('#carouselNext').click ->
                                        #console.log 'next'
                                        <mark>$('#carouselNext,#carouselPrev').hide()</mark>
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:first').appendTo '#carouselInner'
                                            $('#carouselInner').css 'margin-left','-620px'
                                            <mark>$('#carouselNext,#carouselPrev').show()</mark>
                                            return
                                        return
                                    return
                        hr
                        p ⑮
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index15.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                p,ul
                                    margin 0

                                #carouselWrap
                                    position relative
                                    margin 30px auto
                                    width 620px
                                    height 135px
                                    padding 5px
                                    background url("../img/background.gif")

                                #carouselPrev
                                    position absolute
                                    top 65px
                                    left -8px
                                    cursor pointer

                                #carouselNext
                                    position absolute
                                    top 65px
                                    right -8px
                                    cursor pointer

                                #carousel
                                    width 100%
                                    height 100%
                                    <mark>overflow hidden</mark>

                                #carouselInner ul.column
                                    width 605px
                                    height 105px
                                    padding 15px 0 15px 15px
                                    list-style-type none
                                    float left
                                    li
                                        float left
                                        margin-right 10px
                                        img
                                            border none
                        hr
                        p ⑯
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index16.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    <mark>var timerID;</mark>
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                    $('#carouselPrev').click(function() {
                                        $('#carouselNext,#carouselPrev').hide();
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:last').prependTo('#carouselInner');
                                            $('#carouselInner').css('margin-left', '-620px');
                                            $('#carouselNext,#carouselPrev').show();
                                        });
                                    });
                                    $('#carouselNext').click(function() {
                                        $('#carouselNext,#carouselPrev').hide();
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:first').appendTo('#carouselInner');
                                            $('#carouselInner').css('margin-left', '-620px');
                                            $('#carouselNext,#carouselPrev').show();
                                        });
                                    });
                                    <mark>timerID = setInterval(function() {
                                        $('#carouselNext').click();
                                    }, 5000);</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    $('#carouselPrev').click ->
                                        #console.log 'prev'
                                        $('#carouselNext,#carouselPrev').hide()
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:last').prependTo '#carouselInner'
                                            $('#carouselInner').css 'margin-left','-620px'
                                            $('#carouselNext,#carouselPrev').show()
                                            return
                                        return
                                    $('#carouselNext').click ->
                                        #console.log 'next'
                                        $('#carouselNext,#carouselPrev').hide()
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:first').appendTo '#carouselInner'
                                            $('#carouselInner').css 'margin-left','-620px'
                                            $('#carouselNext,#carouselPrev').show()
                                            return
                                        return
                                    <mark>timerID = setInterval(->
                                        $('#carouselNext').click()
                                        return
                                    , 5000)</mark>
                                    return
                        hr
                        p ⑰
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise186/index17.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    var timerID;
                                    $('#carouselInner').css({
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px',
                                        'marginLeft': '-620px'
                                    });
                                    $('#carouselPrev').click(function() {
                                        $('#carouselNext,#carouselPrev').hide();
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:last').prependTo('#carouselInner');
                                            $('#carouselInner').css('margin-left', '-620px');
                                            $('#carouselNext,#carouselPrev').show();
                                        });
                                    });
                                    $('#carouselNext').click(function() {
                                        $('#carouselNext,#carouselPrev').hide();
                                        $('#carouselInner').animate({
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        }, 'slow', 'swing', function() {
                                            $('#carouselInner ul.column:first').appendTo('#carouselInner');
                                            $('#carouselInner').css('margin-left', '-620px');
                                            $('#carouselNext,#carouselPrev').show();
                                        });
                                    });
                                    timerID = setInterval(function() {
                                        $('#carouselNext').click();
                                    }, 5000);
                                    <mark>$('#carouselPrev img,#carouselNext img').click(function() {
                                        clearInterval(timerID);
                                    });</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#carouselInner').css
                                        'width': 620 * $('#carouselInner ul.column').size() + 'px'
                                        'marginLeft': '-620px'
                                    $('#carouselPrev').click ->
                                        #console.log 'prev'
                                        $('#carouselNext,#carouselPrev').hide()
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) + 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:last').prependTo '#carouselInner'
                                            $('#carouselInner').css 'margin-left','-620px'
                                            $('#carouselNext,#carouselPrev').show()
                                            return
                                        return
                                    $('#carouselNext').click ->
                                        #console.log 'next'
                                        $('#carouselNext,#carouselPrev').hide()
                                        $('#carouselInner').animate {
                                            marginLeft: parseInt($('#carouselInner').css('margin-left')) - 620 + 'px'
                                        },'slow','swing', ->
                                            $('#carouselInner ul.column:first').appendTo '#carouselInner'
                                            $('#carouselInner').css 'margin-left','-620px'
                                            $('#carouselNext,#carouselPrev').show()
                                            return
                                        return
                                    timerID = setInterval(->
                                        $('#carouselNext').click()
                                        return
                                    , 5000)
                                    <mark>$('#carouselPrev img,#carouselNext img').click ->
                                        clearInterval timerID
                                        return</mark>
                                    return