extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;バリデーション付きメールフォーム
                    .panel-body
                        p ①
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style.css')
                                    body
                                        #container
                                            #slideGalley
                                                ul#slide
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo01.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo02.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo03.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo04.jpg', alt='')
                                                #nav
                                                    img.prev(src='img/nav_prev.png')
                                                    img.next(src='img/nav_next.png')
                                                ul#paging
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/script.js')
                        hr
                        p ②
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                               ul
                                    list-style-type none
                                    margin-top 0
                                    margin-bottom 0
                                    padding-left 0

                                #container
                                    width 650px
                                    margin 100px auto 
                        hr
                        p ③
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                ul
                                    list-style-type none
                                    margin-top 0
                                    margin-bottom 0
                                    padding-left 0

                                #container
                                    width 650px
                                    margin 100px auto

                                <mark>#slideGalley
                                    width 650px
                                    position relative
                                    overflow hidden

                                #slide
                                    width 10000px
                                    li
                                        float left</mark>
                        hr
                        p ④
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                ul
                                    list-style-type none
                                    margin-top 0
                                    margin-bottom 0
                                    padding-left 0

                                #container
                                    width 650px
                                    margin 100px auto

                                #slideGalley
                                    width 650px
                                    position relative
                                    overflow hidden

                                #slide
                                    width 10000px
                                    li
                                        float left
                                        
                                <mark>#nav
                                    .prev
                                        position absolute
                                        left 10px
                                        top 50%
                                        margin-top -50px

                                    .next
                                        position  absolute
                                        right 10px
                                        top 50%
                                        margin-top -50px</mark>
                        hr
                        p ⑤
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                ul
                                    list-style-type none
                                    margin-top 0
                                    margin-bottom 0
                                    padding-left 0

                                #container
                                    width 650px
                                    margin 100px auto

                                #slideGalley
                                    width 650px
                                    position relative
                                    overflow hidden

                                #slide
                                    width 10000px
                                    li
                                        float left

                                <mark>#paging
                                    text-align center
                                    position absolute
                                    width 100%
                                    bottom 10px
                                    li
                                        display inline-block
                                        *display inline
                                        *zoom 1
                                        width 20px
                                        height 20px
                                        background url(../img/page.png)
                                        &.active
                                            background url(../img/page_active.png)</mark>

                                #nav
                                    .prev
                                        position absolute
                                        left 10px
                                        top 50%
                                        margin-top -50px

                                    .next
                                        position  absolute
                                        right 10px
                                        top 50%
                                        margin-top -50px
                        hr
                        p ⑥
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#nav .next').click(function() {});
                                    $('#nav .prev').click(function() {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#nav .next').click ->
                                        return
                                    $('#nav .prev').click ->
                                        return
                                    return
                        hr
                        p ⑦
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#nav .next').click(function() {
                                        <mark>$('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        });</mark>
                                    });
                                    $('#nav .prev').click(function() {
                                        <mark>$('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        });</mark>
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#nav .next').click ->
                                        <mark>$('#slide:not(:animated)').animate
                                            marginLeft : -1 * $('#slide li').width()</mark>
                                        return
                                    $('#nav .prev').click ->
                                        <mark>$('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate
                                                marginLeft : 0</mark>
                                        return
                                    return
                        hr
                        p ⑧
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#nav .next').click(function() {
                                        $('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        }<mark>, function() {
                                            $('#slide').css('margin-left', '0').append($('#slide li:first-child'));
                                        });</mark>
                                    });
                                    $('#nav .prev').click(function() {
                                        $('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        }<mark>, function() {});</mark>
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#nav .next').click ->
                                        $('#slide:not(:animated)').animate {
                                            marginLeft : -1 * $('#slide li').width()
                                        }<mark>, ->
                                            $('#slide').css('margin-left','0').append $('#slide li:first-child')
                                            return</mark>
                                        return
                                    $('#nav .prev').click ->
                                        $('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate {
                                                marginLeft : 0
                                            }<mark>, ->
                                                return</mark>
                                        return
                                    return
                        hr
                        p ⑨
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#nav .next').click(function() {
                                        $('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        }, function() {
                                            $('#slide').css('margin-left', '0').append($('#slide li:first-child'));
                                            <mark>$('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');</mark>
                                        });
                                    });
                                    $('#nav .prev').click(function() {
                                        $('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        }, function() {
                                            <mark>$('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');</mark>
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#nav .next').click ->
                                        $('#slide:not(:animated)').animate {
                                            marginLeft : -1 * $('#slide li').width()
                                        }, ->
                                            $('#slide').css('margin-left','0').append $('#slide li:first-child')
                                            <mark>$('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                            return</mark>
                                        return
                                    $('#nav .prev').click ->
                                        $('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate {
                                                marginLeft : 0
                                            }, ->
                                                <mark>$('#paging li.active').removeClass('active');
                                                $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active')</mark>
                                                return
                                        return
                                    return
                        hr
                        p ⑩
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    <mark>$('#slide li').each(function() {
                                        return $('#paging').append($('<li></li>').attr('data-img', $('img', this).attr('src')));
                                    });
                                    $('#paging li:first-child').addClass('active');</mark>
                                    $('#nav .next').click(function() {
                                        $('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        }, function() {
                                            $('#slide').css('margin-left', '0').append($('#slide li:first-child'));
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                    $('#nav .prev').click(function() {
                                        $('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        }, function() {
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    <mark>$('#slide li').each ->
                                        $('#paging').append $('<li></li>').attr 'data-img', $('img',this).attr('src')
                                    $('#paging li:first-child').addClass 'active'</mark>

                                    $('#nav .next').click ->
                                        $('#slide:not(:animated)').animate {
                                            marginLeft : -1 * $('#slide li').width()
                                        }, ->
                                            $('#slide').css('margin-left','0').append $('#slide li:first-child')
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass 'active'
                                            return
                                        return
                                    $('#nav .prev').click ->
                                        $('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate {
                                                marginLeft : 0
                                            }, ->
                                                $('#paging li.active').removeClass('active');
                                                $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active')
                                                return
                                        return
                                    return
                        hr
                        p ⑪
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    <mark>var timerId;</mark>
                                    $('#slide li').each(function() {
                                        return $('#paging').append($('<li></li>').attr('data-img', $('img', this).attr('src')));
                                    });
                                    $('#paging li:first-child').addClass('active');
                                    <mark>timerId = setInterval(function() {
                                        $("#nav .next").click();
                                    }, 5000);</mark>
                                    $('#nav .next').click(function() {
                                        $('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        }, function() {
                                            $('#slide').css('margin-left', '0').append($('#slide li:first-child'));
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                    $('#nav .prev').click(function() {
                                        $('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        }, function() {
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li').each ->
                                        $('#paging').append $('<li></li>').attr 'data-img', $('img',this).attr('src')
                                    $('#paging li:first-child').addClass 'active'

                                    <mark>timerId = setInterval(->
                                        $("#nav .next").click()
                                        return
                                    , 5000)</mark>

                                    $('#nav .next').click ->
                                        $('#slide:not(:animated)').animate {
                                            marginLeft : -1 * $('#slide li').width()
                                        }, ->
                                            $('#slide').css('margin-left','0').append $('#slide li:first-child')
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass 'active'
                                            return
                                        return
                                    $('#nav .prev').click ->
                                        $('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate {
                                                marginLeft : 0
                                            }, ->
                                                $('#paging li.active').removeClass('active');
                                                $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active')
                                                return
                                        return
                                    return
                        hr
                        p ⑫
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index12.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    var timerId;
                                    $('#slide li').each(function() {
                                        return $('#paging').append($('<li></li>').attr('data-img', $('img', this).attr('src')));
                                    });
                                    $('#paging li:first-child').addClass('active');
                                    timerId = setInterval(function() {
                                        $("#nav .next").click();
                                    }, 5000);
                                    <mark>$('#slideGalley').hover(function() {
                                        $('#nav').show();
                                    }, function() {
                                        $('#nav').hide();
                                    });</mark>
                                    $('#nav .next').click(function() {
                                        $('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        }, function() {
                                            $('#slide').css('margin-left', '0').append($('#slide li:first-child'));
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                    $('#nav .prev').click(function() {
                                        $('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        }, function() {
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li').each ->
                                        $('#paging').append $('<li></li>').attr 'data-img', $('img',this).attr('src')
                                    $('#paging li:first-child').addClass 'active'

                                    timerId = setInterval(->
                                        $("#nav .next").click()
                                        return
                                    , 5000)

                                    <mark>$('#slideGalley').hover ->
                                        $('#nav').show()
                                        return
                                    , ->
                                        $('#nav').hide()
                                        return</mark>

                                    $('#nav .next').click ->
                                        $('#slide:not(:animated)').animate {
                                            marginLeft : -1 * $('#slide li').width()
                                        }, ->
                                            $('#slide').css('margin-left','0').append $('#slide li:first-child')
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass 'active'
                                            return
                                        return
                                    $('#nav .prev').click ->
                                        $('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate {
                                                marginLeft : 0
                                            }, ->
                                                $('#paging li.active').removeClass('active');
                                                $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active')
                                                return
                                        return
                                    return
                        hr
                        p ⑬
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index13.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    var timerId;
                                    $('#slide li').each(function() {
                                        return $('#paging').append($('<li></li>').attr('data-img', $('img', this).attr('src')));
                                    });
                                    $('#paging li:first-child').addClass('active');
                                    timerId = setInterval(function() {
                                        $('#nav .next').click();
                                    }, 5000);
                                    $('#slideGalley').hover(function() {
                                        $('#nav').show();
                                        <mark>clearInterval(timerId);</mark>
                                    }, function() {
                                        $('#nav').hide();
                                        <mark>timerId = setInterval(function() {
                                            $('#nav .next').click();
                                        }, 5000);</mark>
                                    });
                                    $('#nav .next').click(function() {
                                        $('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        }, function() {
                                            $('#slide').css('margin-left', '0').append($('#slide li:first-child'));
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                    $('#nav .prev').click(function() {
                                        $('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        }, function() {
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li').each ->
                                        $('#paging').append $('<li></li>').attr 'data-img', $('img',this).attr('src')
                                    $('#paging li:first-child').addClass 'active'

                                    timerId = setInterval(->
                                        $('#nav .next').click()
                                        return
                                    , 5000)

                                    $('#slideGalley').hover ->
                                        $('#nav').show()
                                        <mark>clearInterval timerId</mark>
                                        return
                                    , ->
                                        $('#nav').hide()
                                        <mark>timerId = setInterval(->
                                            $('#nav .next').click()
                                            return
                                        , 5000)</mark>
                                        return

                                    $('#nav .next').click ->
                                        $('#slide:not(:animated)').animate {
                                            marginLeft : -1 * $('#slide li').width()
                                        }, ->
                                            $('#slide').css('margin-left','0').append $('#slide li:first-child')
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass 'active'
                                            return
                                        return
                                    $('#nav .prev').click ->
                                        $('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate {
                                                marginLeft : 0
                                            }, ->
                                                $('#paging li.active').removeClass('active');
                                                $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active')
                                                return
                                        return
                                    return
                        hr
                        p ⑭
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index14.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑮
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index15.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑯
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index16.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑰
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index17.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑱
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index18.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code