extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;contextmenu()イベント
                    .panel-body
                        p contextmenuイベントでも動作しますが、APIドキュメントに掲載されていないので、onメソッドでイベントをバインドするのがよいでしょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise183/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/contextmenu/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        p: a(href='#') 右クリック
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('a').contextmenu(function() {
                                        $(this).text('右クリックされました');
                                        return false;
                                    });

                                    /*
                                    $('a').on('contextmenu', function() {
                                        $(this).text('右クリックされました');
                                        return false;
                                    });
                                    */
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('a').contextmenu ->
                                        $(this).text('右クリックされました')
                                        return false

                                    ###
                                    $('a').on 'contextmenu', ->
                                        $(this).text('右クリックされました')
                                        return false
                                    ###
                                    return