extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$(':first/:lastフィルター')
                    .panel-body
                        p フィルターはjQuery独自のセレクターでCSSのセレクターではありません。:firstフィルターは、DOM要素のうち指定した要素の一番最初に解析されてマッチした要素になり、:lastフィルターはDOM要素のうち一番最後に解析された要素がマッチします。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise120/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/jQuery/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            for i in new Array(4)
                                                li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('li:first, li:last').css('color', 'red');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('li:first, li:last').css 'color', 'red'
                                    return