extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;バリデーション付きメールフォーム
                    .panel-body
                        p ①
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet',href='css/style1.css')
                                    body
                                        #container
                                            h1 当サイトへのお問い合わせ
                                            form(action='#', method='POST')
                                                dl
                                                    dt
                                                        | お名前
                                                        span ※
                                                    dd
                                                        input.validate.required(type='text', name='name', size='80')
                                                    dt フリガナ
                                                    dd
                                                        input(type='text', name='furi', size='80')
                                                    dt 郵便番号
                                                    dd
                                                        input.validate.number(type='text', name='zip1', size='4', maxlength='4')
                                                        | -
                                                        input.validate.number(type='text', name='zip2', size='3', maxlength='3')
                                                    dt メールアドレス
                                                    dd
                                                        input.validate.mail(type='text', value='', size='80', name='mail')
                                                    dt メールアドレス(確認)
                                                    dd
                                                        input.validate.mail.mail_check(type='text', value='', size='80', name='mail_check')
                                                    dt
                                                        | 性別
                                                        span ※
                                                    dd
                                                        input#man.validate.required(type='radio', value='男性', name='gender')
                                                        label(for='man') 男性
                                                        input#woman(type='radio', value='女性', name='gender')
                                                        label(for='woman') 女性
                                                    dt
                                                        | どこでこのサイトを知りましたか?
                                                        span ※
                                                    dd.checkboxRequired
                                                        input#search(type='checkbox', name='search', value='検索エンジン')
                                                        label(for='search') 検索エンジン
                                                        input#freiend(type='checkbox', name='freiend', value='知人の紹介')
                                                        label(for='freiend') 知人の紹介
                                                        input#mail_magazine(type='checkbox', name='mail_magazine', value='メルマガ')
                                                        label(for='mail_magazine') メルマガ
                                                        input#etc.validate.add_text(type='checkbox', name='etc', value='その他')
                                                        label(for='etc') その他
                                                        input(type='text', name='etc_text', value='')
                                                    dt
                                                        | お問い合わせ内容
                                                        span ※
                                                    dd
                                                        textarea#inquiry.validate.required(name='inquiry', rows='10', cols='60')
                                                p
                                                    input(type='submit', value='送信')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/script1.js')
                        hr
                        p ②
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                #container
                                    width 600px
                                    margin 0 auto
                                    padding 20px
                                    background white

                                h1
                                    margin-top 20px
                                    font-size large
                                    color #7CADB6

                                dl
                                    dt 
                                        border-left 5px solid #7CADB6
                                        border-bottom 1px solid #7CADB6
                                        font-size small
                                        margin 0
                                        padding 5px
                                        span
                                            color red
                                            font-weight bold
                                    dd
                                        font-size small
                                        margin 0
                                        padding 10px
                        hr
                        p ③
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->
                                        return false
                                    return
                        hr
                        p ④
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        <mark>$(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });</mark>
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        <mark>$(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'
                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return</mark>
                                        return false
                                        
                                    return
                        hr
                        p ⑤
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            <mark>$(this).filter('.required').each(function() {
                                                console.log('必須');
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                            });</mark>
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            <mark>$(this).filter('.required').each ->
                                                console.log '必須'
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'
                                                return</mark>
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'
                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑥
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            $(this).filter('.required').each(function() {
                                                console.log('必須');
                                                <mark>if ($(this).val() === '') {
                                                    $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                }</mark>
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                            });
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            $(this).filter('.required').each ->
                                                console.log '必須'

                                                <mark>$(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() is ''</mark>
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'
                                                return
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'
                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑦
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            $(this).filter('.required').each(function() {
                                                console.log('必須');
                                                if ($(this).val() === '') {
                                                    $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                }
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                                <mark>if (isNaN($(this).val())) {
                                                    $(this).parent().prepend('<p class="error">数値のみ入力可能です</p>');
                                                }</mark>
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                            });
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            $(this).filter('.required').each ->
                                                console.log '必須'

                                                $(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() is ''
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'

                                                <mark>$(this).parent().prepend '<p class="error">数値のみ入力可能です</p>' if isNaN $(this).val()</mark>
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'
                                                return
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'
                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑧
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            $(this).filter('.required').each(function() {
                                                console.log('必須');
                                                if ($(this).val() === '') {
                                                    $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                }
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                                if (isNaN($(this).val())) {
                                                    $(this).parent().prepend('<p class="error">数値のみ入力可能です</p>');
                                                }
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                                <mark>if ($(this).val() && !$(this).val().match(/.+@.+\..+/g)) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスの形式が異なります</p>');
                                                }</mark>
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                            });
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            $(this).filter('.required').each ->
                                                console.log '必須'

                                                $(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() is ''
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'

                                                $(this).parent().prepend '<p class="error">数値のみ入力可能です</p>' if isNaN $(this).val()
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'

                                                <mark>$(this).parent().prepend '<p class="error">メールアドレスの形式が異なります</p>' if $(this).val() and not $(this).val().match(/.+@.+\..+/g)</mark>
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'
                                                return
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'
                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑨
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            $(this).filter('.required').each(function() {
                                                console.log('必須');
                                                if ($(this).val() === '') {
                                                    $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                }
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                                if (isNaN($(this).val())) {
                                                    $(this).parent().prepend('<p class="error">数値のみ入力可能です</p>');
                                                }
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                                if ($(this).val() && !$(this).val().match(/.+@.+\..+/g)) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスの形式が異なります</p>');
                                                }
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                                <mark>if ($(this).val() && $(this).val() !== $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスと内容が異なります</p>');
                                                }</mark>
                                            });
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            $(this).filter('.required').each ->
                                                console.log '必須'

                                                $(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() is ''
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'

                                                $(this).parent().prepend '<p class="error">数値のみ入力可能です</p>' if isNaN $(this).val()
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'

                                                $(this).parent().prepend '<p class="error">メールアドレスの形式が異なります</p>' if $(this).val() and not $(this).val().match(/.+@.+\..+/g)
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'

                                                <mark>$(this).parent().prepend '<p class="error">メールアドレスと内容が異なります</p>' if $(this).val() and $(this).val() isnt $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()</mark>
                                                return
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'
                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑩
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            $(this).filter('.required').each(function() {
                                                console.log('必須');
                                                if ($(this).val() === '') {
                                                    $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                }
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                                if (isNaN($(this).val())) {
                                                    $(this).parent().prepend('<p class="error">数値のみ入力可能です</p>');
                                                }
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                                if ($(this).val() && !$(this).val().match(/.+@.+\..+/g)) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスの形式が異なります</p>');
                                                }
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                                if ($(this).val() && $(this).val() !== $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスと内容が異なります</p>');
                                                }
                                            });
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                            <mark>$(this).filter('.required').each(function() {
                                                if ($(':radio[name="' + $(this).attr('name') + '"]:checked').size() === 0) {
                                                    $(this).parent().prepend('<p class="error">選択してください</p>');
                                                }
                                            });</mark>
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            $(this).filter('.required').each ->
                                                console.log '必須'

                                                $(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() is ''
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'

                                                $(this).parent().prepend '<p class="error">数値のみ入力可能です</p>' if isNaN $(this).val()
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'

                                                $(this).parent().prepend '<p class="error">メールアドレスの形式が異なります</p>' if $(this).val() and not $(this).val().match(/.+@.+\..+/g)
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'

                                                $(this).parent().prepend '<p class="error">メールアドレスと内容が異なります</p>' if $(this).val() and $(this).val() isnt $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()
                                                return
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'

                                            <mark>$(this).filter('.required').each ->
                                                $(this).parent().prepend '<p class="error">選択してください</p>' if $(':radio[name="' + $(this).attr('name') + '"]:checked').size() is 0
                                                return</mark>

                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑪
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            $(this).filter('.required').each(function() {
                                                console.log('必須');
                                                if ($(this).val() === '') {
                                                    $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                }
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                                if (isNaN($(this).val())) {
                                                    $(this).parent().prepend('<p class="error">数値のみ入力可能です</p>');
                                                }
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                                if ($(this).val() && !$(this).val().match(/.+@.+\..+/g)) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスの形式が異なります</p>');
                                                }
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                                if ($(this).val() && $(this).val() !== $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスと内容が異なります</p>');
                                                }
                                            });
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                            $(this).filter('.required').each(function() {
                                                if ($(':radio[name="' + $(this).attr('name') + '"]:checked').size() === 0) {
                                                    $(this).parent().prepend('<p class="error">選択してください</p>');
                                                }
                                            });
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                            <mark>if ($(':checkbox:checked', this).size() === 0) {
                                                $(this).prepend('<p class="error">選択してください</p>');
                                            }</mark>
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            $(this).filter('.required').each ->
                                                console.log '必須'

                                                $(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() is ''
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'

                                                $(this).parent().prepend '<p class="error">数値のみ入力可能です</p>' if isNaN $(this).val()
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'

                                                $(this).parent().prepend '<p class="error">メールアドレスの形式が異なります</p>' if $(this).val() and not $(this).val().match(/.+@.+\..+/g)
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'

                                                $(this).parent().prepend '<p class="error">メールアドレスと内容が異なります</p>' if $(this).val() and $(this).val() isnt $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()
                                                return
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'

                                            $(this).filter('.required').each ->
                                                $(this).parent().prepend '<p class="error">選択してください</p>' if $(':radio[name="' + $(this).attr('name') + '"]:checked').size() is 0
                                                return

                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'

                                            <mark>$(this).prepend '<p class="error">選択してください</p>' if $(':checkbox:checked', this).size() is 0</mark>
                                            return

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑫
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index12.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('form').submit(function() {
                                        $(':text,textarea').filter('.validate').each(function() {
                                            console.log('テキストボックス、テキストエリア');
                                            $(this).filter('.required').each(function() {
                                                console.log('必須');
                                                if ($(this).val() === '') {
                                                    $(this).parent().prepend('<p class="error">必須項目です</p>');
                                                }
                                            });
                                            $(this).filter('.number').each(function() {
                                                console.log('数値');
                                                if (isNaN($(this).val())) {
                                                    $(this).parent().prepend('<p class="error">数値のみ入力可能です</p>');
                                                }
                                            });
                                            $(this).filter('.mail').each(function() {
                                                console.log('メールアドレス');
                                                if ($(this).val() && !$(this).val().match(/.+@.+\..+/g)) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスの形式が異なります</p>');
                                                }
                                            });
                                            $(this).filter('.mail_check').each(function() {
                                                console.log('メールアドレス確認');
                                                if ($(this).val() && $(this).val() !== $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()) {
                                                    $(this).parent().prepend('<p class="error">メールアドレスと内容が異なります</p>');
                                                }
                                            });
                                        });
                                        $(':radio').filter('.validate').each(function() {
                                            console.log('ラジオボタン');
                                            $(this).filter('.required').each(function() {
                                                if ($(':radio[name="' + $(this).attr('name') + '"]:checked').size() === 0) {
                                                    $(this).parent().prepend('<p class="error">選択してください</p>');
                                                }
                                            });
                                        });
                                        $('.checkboxRequired').each(function() {
                                            console.log('チェックボックス');
                                            if ($(':checkbox:checked', this).size() === 0) {
                                                return $(this).prepend('<p class="error">選択してください</p>');
                                            }
                                        });
                                        $('.validate.add_text').each(function() {
                                            console.log('その他の項目');
                                            <mark>if ($(this).prop('checked') === true && $('input[name="' + $(this).attr('name').replace(/^(.+)$/, '$1_text') + '"]').val() === '') {
                                                $(this).parent().prepend('<p class="error">その他の項目を入力してください。</p>');
                                            }</mark>
                                        });
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('form').submit ->

                                        $(':text,textarea').filter('.validate').each ->
                                            console.log 'テキストボックス、テキストエリア'

                                            $(this).filter('.required').each ->
                                                console.log '必須'

                                                $(this).parent().prepend '<p class="error">必須項目です</p>' if $(this).val() is ''
                                                return
                                             
                                            $(this).filter('.number').each ->
                                                console.log '数値'

                                                $(this).parent().prepend '<p class="error">数値のみ入力可能です</p>' if isNaN $(this).val()
                                                return
                                             
                                            $(this).filter('.mail').each ->
                                                console.log 'メールアドレス'

                                                $(this).parent().prepend '<p class="error">メールアドレスの形式が異なります</p>' if $(this).val() and not $(this).val().match(/.+@.+\..+/g)
                                                return
                                             
                                            $(this).filter('.mail_check').each ->
                                                console.log 'メールアドレス確認'

                                                $(this).parent().prepend '<p class="error">メールアドレスと内容が異なります</p>' if $(this).val() and $(this).val() isnt $('input[name="' + $(this).attr('name').replace(/^(.+)_check$/, '$1') + '"]').val()
                                                return
                                            return

                                        $(':radio').filter('.validate').each ->
                                            console.log 'ラジオボタン'

                                            $(this).filter('.required').each ->
                                                $(this).parent().prepend '<p class="error">選択してください</p>' if $(':radio[name="' + $(this).attr('name') + '"]:checked').size() is 0
                                                return

                                            return

                                        $('.checkboxRequired').each ->
                                            console.log 'チェックボックス'
                                            
                                            $(this).prepend '<p class="error">選択してください</p>' if $(':checkbox:checked', this).size() is 0

                                        $('.validate.add_text').each ->
                                            console.log 'その他の項目'

                                            <mark>$(this).parent().prepend '<p class="error">その他の項目を入力してください。</p>'  if $(this).prop('checked') is true and $('input[name="' + $(this).attr('name').replace(/^(.+)$/, '$1_text') + '"]').val() is ''</mark>
                                            return
                                        return false
                                        
                                    return
                        hr
                        p ⑬
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index13.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    var timerId;
                                    $('#slide li').each(function() {
                                        return $('#paging').append($('<li></li>').attr('data-img', $('img', this).attr('src')));
                                    });
                                    $('#paging li:first-child').addClass('active');
                                    timerId = setInterval(function() {
                                        $('#nav .next').click();
                                    }, 5000);
                                    $('#slideGalley').hover(function() {
                                        $('#nav').show();
                                        <mark>clearInterval(timerId);</mark>
                                    }, function() {
                                        $('#nav').hide();
                                        <mark>timerId = setInterval(function() {
                                            $('#nav .next').click();
                                        }, 5000);</mark>
                                    });
                                    $('#nav .next').click(function() {
                                        $('#slide:not(:animated)').animate({
                                            marginLeft: -1 * $('#slide li').width()
                                        }, function() {
                                            $('#slide').css('margin-left', '0').append($('#slide li:first-child'));
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                    $('#nav .prev').click(function() {
                                        $('#slide:not(:animated)').css('margin-left', -1 * $('#slide li').width()).prepend($('#slide li:last-child')).animate({
                                            marginLeft: 0
                                        }, function() {
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active');
                                        });
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li').each ->
                                        $('#paging').append $('<li></li>').attr 'data-img', $('img',this).attr('src')
                                    $('#paging li:first-child').addClass 'active'

                                    timerId = setInterval(->
                                        $('#nav .next').click()
                                        return
                                    , 5000)

                                    $('#slideGalley').hover ->
                                        $('#nav').show()
                                        <mark>clearInterval timerId</mark>
                                        return
                                    , ->
                                        $('#nav').hide()
                                        <mark>timerId = setInterval(->
                                            $('#nav .next').click()
                                            return
                                        , 5000)</mark>
                                        return

                                    $('#nav .next').click ->
                                        $('#slide:not(:animated)').animate {
                                            marginLeft : -1 * $('#slide li').width()
                                        }, ->
                                            $('#slide').css('margin-left','0').append $('#slide li:first-child')
                                            $('#paging li.active').removeClass('active');
                                            $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass 'active'
                                            return
                                        return
                                    $('#nav .prev').click ->
                                        $('#slide:not(:animated)')
                                            .css('margin-left',-1*$('#slide li').width())
                                            .prepend($('#slide li:last-child'))
                                            .animate {
                                                marginLeft : 0
                                            }, ->
                                                $('#paging li.active').removeClass('active');
                                                $('#paging li[data-img="' + $('#slide li:first-child img').attr('src') + '"]').addClass('active')
                                                return
                                        return
                                    return
                        hr
                        p ⑭
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index14.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑮
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index15.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑯
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index16.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑰
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index17.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                        hr
                        p ⑱
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise198/index18.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code