extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$(':eq/:lt/:gtセレクター')
                    .panel-body
                        p :eqセレクターはjQuery独自のセレクターです。:eq(2)のように()に数値を指定して、指定した要素のうち、2番目の要素にマッチします。
                        p CSSのnth-of-type(n)との違いは0番目から始まることです。:lt(n)セレクター/:gt(n)セレクターは、:eq(n)セレクターと同じ番号を指定したとすると、:lt(n)セレクターは:eq(n)セレクターの兄要素全部に、:gt(n)セレクターは:eq(n)セレクターの兄要素全部にマッチします。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise124/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/lt-selector/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考（:lt）
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/gt-selector/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考（:gt）
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/eq-selector/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考（:eq）
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                            li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        ul
                                            for i in new Array(4)
                                                li テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('li:lt(2)').css('color', '#f00');
                                    $('li:eq(2)').css('color', '#0f0');
                                    $('li:gt(2)').css('color', '#00f');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('li:lt(2)').css 'color', '#f00'
                                    $('li:eq(2)').css 'color', '#0f0'
                                    $('li:gt(2)').css 'color', '#00f'
                                    return