extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;replaceWith()メソッド
					.panel-body
						p replaceWith()メソッドは、$メソッドで指定した要素を、replaceWith()メソッドの引数で指定した要素に置換します。
						p
							a.btn.btn-default(href='../demo/jquery/exercise32/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							| 
							a.btn.btn-default(href='http://api.jquery.com/replaceWith/',target='_blank')
								i.glyphicon.glyphicon-info-sign
								| &nbsp;参考
						pre(class='prettyprint linenums:1')
							:code
								doctype
								html(lang='ja-JP')
									head
										meta(charset='UTF-8')
										title
										link(rel='stylesheet',href='style.css')
									body
										p#first 置換前
										p: input(type='button',value='クリック')
										script(src='http://code.jquery.com/jquery-1.11.0.min.js')
										script(src='script.js')
						pre(class='prettyprint linenums:1')
							:code
								$(function() {
									$('input').click(function() {
										$('#first').replaceWith('<h1>置換後</h1>');
									});
								});
						pre(class='prettyprint linenums:1')
							:code
								$ ->
									$('input').click ->
										$('#first').replaceWith('<h1>置換後</h1>');
										return
									return