extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;keyDown()イベント／keyUp()イベント課題
                    .panel-body
                        p img要素をクリックして画面中央に拡大表示させ、ESCキーを押して解除しましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise190/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                img(src='img/image1.png',alt='')
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        .enlarge
                                            position fixed
                                            top 50%
                                            left 50%
                                            width 400px
                                            height 400px
                                            margin-left -200px
                                            margin-top -200px
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('img').click(function() {
                                                $(this).addClass('enlarge');
                                            });
                                            $(window).keydown(function(e) {
                                                if (e.keyCode === 27) {
                                                    $('img').removeClass('enlarge');
                                                }
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $('img').click ->
                                                $(this).addClass 'enlarge'
                                                return
                                            $(window).keydown (e) ->
                                                if e.keyCode is 27
                                                    $('img').removeClass 'enlarge'
                                                return
                                            return