extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;スライドギャラリー
                    .panel-body
                        p ①
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctye
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1')
                                        title
                                        link(rel='stylesheet',href='css/style1.css')
                                    body
                                        #container
                                            #slideGalley
                                                ul#slide
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo1.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo2.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo3.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo4.jpg', alt='')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/script1.js')
                        hr
                        p ②
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                ul
                                     padding-left 0
                                     margin-top 0
                                     margin-bottom 0
                                     list-style-type none

                                #container
                                     width 320px
                                     margin 10px auto

                                #slideGalley
                                     width 320px
                                     overflow hidden
                                     height 240px

                                #slide
                                     width 10000px
                                     li
                                          float left
                        hr
                        p ③
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide a').click(function() {
                                        return false;
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide a').click ->
                                        return false
                                    return
                        hr
                        p ④
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide a').click(function() {
                                        return false;
                                    });
                                    <mark>$('#slide').on('touchstart', function() {}).on('touchmove', function() {}).on('touchend', function() {});</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide a').click ->
                                        return false
                                    <mark>$('#slide').on('touchstart', ->
                                        return
                                    ).on('touchmove', ->
                                        return
                                    ).on 'touchend', ->
                                        return</mark>
                                    return
                        hr
                        //-
                            p ⑤
                            p
                                a.btn.btn-default(href='../demo/jquery/exercise188/index5.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                :code
                                    $(function() {
                                        $('ul.panel li:not(' + $('ul.tab li a.selected').attr('href') + ')').hide();
                                    });
                            pre(class='prettyprint linenums:1')
                                :code
                                    $ ->
                                        $('ul.panel li:not(' + $('ul.tab li a.selected').attr('href') + ')').hide()
                                        return
                            hr
                        p ⑥
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    <mark>$('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');</mark>
                                    $('#slide a').click(function() {
                                        return false;
                                    });
                                    $('#slide').on('touchstart', function() {}).on('touchmove', function() {}).on('touchend', function() {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->

                                    <mark>$('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'</mark>

                                    $('#slide a').click ->
                                        return false
                                    $('#slide').on('touchstart', ->
                                        return
                                    ).on('touchmove', ->
                                        return
                                    ).on 'touchend', ->
                                        return
                                    return
                        hr
                        p ⑦
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function() {
                                        <mark>$('#slide').data('href', $(this).attr('href'));</mark>
                                    });
                                    $('#slide').on('touchstart', function() {}).on('touchmove', function() {}).on('touchend', function() {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->

                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on 'touchstart', ->
                                        <mark>$('#slide').data 'href',$(this).attr('href')</mark>
                                        return
                                    $('#slide').on('touchstart', ->
                                        return
                                    ).on('touchmove', ->
                                        return
                                    ).on 'touchend', ->
                                        return
                                    return
                        hr
                        p ⑧
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function() {
                                        $('#slide').data('href', $(this).attr('href'));
                                    });
                                    $('#slide').on('touchstart', function(<mark>evnet</mark>) {
                                        <mark>event.preventDefault();</mark>
                                    }).on('touchmove', function() {}).on('touchend', function() {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->

                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on 'touchstart', ->
                                        $('#slide').data 'href',$(this).attr('href')
                                        return
                                    $('#slide').on('touchstart', <mark>(evnet)</mark> ->
                                        <mark>event.preventDefault();</mark>
                                        return
                                    ).on('touchmove', ->
                                        return
                                    ).on 'touchend', ->
                                        return
                                    return
                        hr
                        p ⑨
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function() {
                                        $('#slide').data('href', $(this).attr('href'));
                                    });
                                    $('#slide').on('touchstart', function(evnet) {
                                        event.preventDefault();
                                        <mark>$(this).data('startX', event.touches[0].pageX).data('startY', event.touches[0].pageY).data('moveX', 0).data('moveY', 0);</mark>
                                    }).on('touchmove', function() {
                                        <mark>$(this).data('moveX', event.touches[0].pageX - $(this).data('startX')).data('moveY', event.touches[0].pageY - $(this).data('startY')).css('margin-left', $(this).data('moveX') - 320 + 'px');</mark>
                                    }).on('touchend', function() {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->

                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on 'touchstart', ->
                                        $('#slide').data 'href',$(this).attr('href')
                                        return
                                    $('#slide').on('touchstart', (evnet) ->
                                        event.preventDefault();
                                        <mark>$(this)
                                            .data('startX',event.touches[0].pageX)
                                            .data('startY',event.touches[0].pageY)
                                            .data('moveX',0)
                                            .data('moveY',0)</mark>
                                        return
                                    ).on('touchmove', ->
                                        <mark>$(this)
                                            .data('moveX',event.touches[0].pageX-$(this).data('startX'))
                                            .data('moveY',event.touches[0].pageY-$(this).data('startY'))
                                            .css('margin-left',$(this).data('moveX')-320+'px')</mark>
                                        return
                                    ).on 'touchend', ->
                                        return
                                    return
                        hr
                        p ⑩
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function() {
                                        $('#slide').data('href', $(this).attr('href'));
                                    });
                                    $('#slide').on('touchstart', function(evnet) {
                                        event.preventDefault();
                                        $(this).data('startX', event.touches[0].pageX).data('startY', event.touches[0].pageY).data('moveX', 0).data('moveY', 0);
                                    }).on('touchmove', function() {
                                        $(this).data('moveX', event.touches[0].pageX - $(this).data('startX')).data('moveY', event.touches[0].pageY - $(this).data('startY')).css('margin-left', $(this).data('moveX') - 320 + 'px');
                                    }).on('touchend', function() {
                                        <mark>if ($(this).data('moveX') > 10) {

                                        } else if ($(this).data('moveX') < -10) {

                                        } else if ($(this).data('moveY') > -10 && $(this).data('moveY') < 10) {

                                        } else {

                                        }</mark>
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->

                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on 'touchstart', ->
                                        $('#slide').data 'href',$(this).attr('href')
                                        return
                                    $('#slide').on('touchstart', (evnet) ->
                                        event.preventDefault();
                                        $(this)
                                            .data('startX',event.touches[0].pageX)
                                            .data('startY',event.touches[0].pageY)
                                            .data('moveX',0)
                                            .data('moveY',0)
                                        return
                                    ).on('touchmove', ->
                                        $(this)
                                            .data('moveX',event.touches[0].pageX-$(this).data('startX'))
                                            .data('moveY',event.touches[0].pageY-$(this).data('startY'))
                                            .css('margin-left',$(this).data('moveX')-320+'px')
                                        return
                                    ).on 'touchend', ->
                                        <mark>if $(this).data('moveX') > 10
                                            
                                        else if $(this).data('moveX') < -10
                                            
                                        else if $(this).data('moveY') > -10 and $(this).data('moveY') < 10
                                            
                                        else</mark>
                                            
                                        return
                                    return
                        hr
                        p ⑪
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise188/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function() {
                                        $('#slide').data('href', $(this).attr('href'));
                                    });
                                    $('#slide').on('touchstart', function(evnet) {
                                        event.preventDefault();
                                        $(this).data('startX', event.touches[0].pageX).data('startY', event.touches[0].pageY).data('moveX', 0).data('moveY', 0);
                                    }).on('touchmove', function() {
                                        $(this).data('moveX', event.touches[0].pageX - $(this).data('startX')).data('moveY', event.touches[0].pageY - $(this).data('startY')).css('margin-left', $(this).data('moveX') - 320 + 'px');
                                    }).on('touchend', function() {
                                        if ($(this).data('moveX') > 10) {
                                            <mark>$(this).animate({
                                                'margin-left': 0
                                            }, function() {
                                                $(this).css('margin-left', '-320px');
                                                $('#slide li:last-child').prependTo('#slide');
                                            });</mark>
                                        } else if ($(this).data('moveX') < -10) {
                                            <mark>$(this).animate({
                                                'margin-left': -640
                                            }, function() {
                                                $(this).css('margin-left', '-320px');
                                                return $('#slide li:first-child').appendTo('#slide');
                                            });
                                            return;</mark>
                                        } else if ($(this).data('moveY') > -10 && $(this).data('moveY') < 10) {
                                            <mark>location.href = $(this).data('href');</mark>
                                        } else {
                                            <mark>$(this).animate({
                                                'margin-left': -320
                                            });</mark>
                                        }
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->

                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on 'touchstart', ->
                                        $('#slide').data 'href',$(this).attr('href')
                                        return
                                    $('#slide').on('touchstart', (evnet) ->
                                        event.preventDefault();
                                        $(this)
                                            .data('startX',event.touches[0].pageX)
                                            .data('startY',event.touches[0].pageY)
                                            .data('moveX',0)
                                            .data('moveY',0)
                                        return
                                    ).on('touchmove', ->
                                        $(this)
                                            .data('moveX',event.touches[0].pageX-$(this).data('startX'))
                                            .data('moveY',event.touches[0].pageY-$(this).data('startY'))
                                            .css('margin-left',$(this).data('moveX')-320+'px')
                                        return
                                    ).on 'touchend', ->
                                        if $(this).data('moveX') > 10
                                            <mark>$(this).animate
                                                'margin-left': 0
                                            , ->
                                                $(this).css 'margin-left', '-320px'
                                                $('#slide li:last-child').prependTo '#slide'
                                                return</mark>

                                        else if $(this).data('moveX') < -10
                                            <mark>$(this).animate
                                                'margin-left': -640
                                            , ->
                                                    $(this).css 'margin-left', '-320px'
                                                    $('#slide li:first-child').appendTo '#slide'</mark>
                                                return
                                        else if $(this).data('moveY') > -10 and $(this).data('moveY') < 10
                                            <mark>location.href = $(this).data('href')</mark>
                                        else
                                            <mark>$(this).animate 'margin-left': -320</mark>
                                        return
                                    return