extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;パララックスサイト
                        .alert.alert-info JavaScriptライブラリ
                        pre.
                            slrollr
                            https://github.com/Prinzborn/skrollr

                            skrollr-menu
                            https://github.com/Prinzborn/skrollr-menu

                            Jarallax
                            http://www.jarallax.com/

                            Scrolly
                            http://lab.victorcoulon.fr/javascript/scrolly/

                            Parallax.js
                            http://wagerfield.github.io/parallax/
                            bower install parallax

                            stellar.js
                            http:///markdalgleish.com/projects/stellar.js

                            Plax
                            https://github.com/cameronmcefee/Plax

                            Pallax Scrolling
                            https://github.com/richardshepherd/Parallax-Scrolling

                            Boxer
                            http://formstone.it/components/Boxer

                            Sticky
                            http://stickyjs.com/

                            fullPage.js
                            http://alvarotrigo.com/fullPage/
                    .panel-body
                        pre.
                            ドットインストール
                            パララックスサイトを作ろう
                            http://dotinstall.com/lessons/parallax_html

                            Le col deClaudine
                            http://www.lecoldeclaudine.com/fr

                            Red bull -LaTablade Gisela
                            http://www.latabladegisela.com/#ganador

                            SuperBot
                            http://www.superbotentetainent.com/

                            FLATDESIGN vs REALISM
                            http://www.flatvsrealism.com/

                            I'm a runner.
                            http://adidas.jp/running/runner/

                            Nikon 1 AW 1
                            http://shop.nikon-image.com/nikon1/nikon1aw1/

                            HYGIA
                            http://top.lion.co.jp/products/hygia/secret/

                            マリオカートWii
                            http://www.nintendo.com.au/gamesites/mariokartwii/

                            Stronghold
                            http://zxcvbnmnbvcxz.com/

                            マーモンド&amp;マカダミア
                            http://www.meiji.co.jp/sweets/chocolate/almond/

                            Sleil Noir 2012
                            http://www.soleilnoir.net/believein/#/start

                            JINS
                            http://www.jins-jp.com/jins-pc/

                            WAネットショップ
                            http://wam16.jp/

                            東京スカイツリー
                            http://www.tokyo-skytree.jp/

                            What' NEW 日産 NOTE?
                            http://www2.nissan.co.jp/SP/NOTE/SPECIAL/