include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ready()メソッド
						.panel-body
							p head要素内にJavaScriptの処理を記述した場合、jQueryのready()メソッドでloadイベント発生時の処理を記述することができます。
							p ※ body要素終了タグ直前に処理を記述する場合はready()メソッドは必要ありません。
							p
								a.btn.btn-default(href='../demo/jquery/exercise2/index1.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
								| 
								a.btn.btn-default(href='http://api.jquery.com/ready/',target='_blank')
									i.glyphicon.glyphicon-info-sign
									| &nbsp;参考
							figure
								pre(class='prettyprint linenums:1')
									:code
										<!DOCTYPE html>
										<html lang="ja-JP">
										<head>
										<meta charset="utf-8">
										<title></title>
										<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
										<script src="script.js"></script>
										</head>
										<body>
										テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
										</body>
										</html>
								figcaption （HTML）
							figure
								pre(class='prettyprint linenums:1')
									:code
										doctype
										html(lang='ja-JP')
											head
												meta(charset='utf-8')
												title
												script(src='http://code.jquery.com/jquery-1.10.2.min.js')
												script(src='script.js')
											body
												| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
								figcaption （Jade）
							figure
								pre(class='prettyprint linenums:1')
									:code
										$(document).ready(function(){
											window.alert("Hello World!");
										});

										//ready()メソッドは以下のように省略して記述できます。
										/*
										$(function(){
											window.alert("Hello World!");
										})
										*/
								figcaption （JavaScript）
							figure
								pre(class='prettyprint linenums:1')
									:code
										$(document).ready ->
											window.alert "Hello World!"
											return

										#ready()メソッドは以下のように省略して記述できます。
										###
										$ ->
											window.alert "Hello World!"
											return
										###
								figcaption （CoffeeScript）
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')