extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;click()メソッド
					.panel-body
						p jQueryのclick()メソッドはclickイベント発生時の処理を記述することができます。
						p
							a.btn.btn-default(href='../demo/jquery/exercise3/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							| 
							a.btn.btn-default(href='http://api.jquery.com/click/',target='_blank')
								i.glyphicon.glyphicon-info-sign
								| &nbsp;参考
						figure
							pre(class='prettyprint linenums:1')
								:code
									<!DOCTYPE html>
									<html lang="ja-JP">
									<head>
									<meta charset="UTF-8">
									<title></title>
									<link rel="stylesheet" href="style.css">
									</head>
									<body>
									<div>
									テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
									</div>
									<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
									<script src="script.js"></script>
									</body>
									</html>
							figcaption （HTML）
						figure
							pre(class='prettyprint linenums:1')
								:code
									doctype
									html(lang='ja-JP')
										head
											meta(charset='UTF-8')
											title
											link(rel='stylesheet', href='style.css')
										body
											div
												| テキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
											script(src='http://code.jquery.com/jquery-1.11.0.min.js')
											script(src='script.js')
							figcaption （Jade）
						figure
							pre(class='prettyprint linenums:1')
								:code
									div{
										cursor:pointer;
									}
							figcaption （CSS）
						figure
							pre(class='prettyprint linenums:1')
								:code
									div
										cursor pointer
							figcaption （Stylus）
						figure
							pre(class='prettyprint linenums:1')
								:code
									$(function(){
										$('div').click(function(){
											window.alert('Hello World!');
										});
									});
							figcaption （JavaScript）
						figure
							pre(class='prettyprint linenums:1')
								:code
									$ ->
										$('div').click ->
											window.alert 'Hello World!'
											return
										return
							figcaption （CoffeeScript）