extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$(':only-of-type擬似クラス') 課題
                    .panel-body
                        p dt要素をクリックし、クリックしたdt要素に隣接するdd要素から、span要素をアニメーションつきで表示させてみましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise105/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            button.btn.btn-danger(type='button',data-toggle='collapse',data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | &nbsp;解答例
                        #demo.collapse.out
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                dl
                                                    dt dt要素dt要素dt要素dt要素dt要素
                                                    dd
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素
                                                        span span要素
                                                    dt dt要素dt要素dt要素dt要素dt要素
                                                    dd
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素
                                                        span span要素
                                                    dt dt要素dt要素dt要素dt要素dt要素
                                                    dd
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素
                                                        span span要素
                                                    dt dt要素dt要素dt要素dt要素dt要素
                                                    dd
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素<br>
                                                        | dd要素dd要素dd要素dd要素dd要素
                                                        span span要素
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        prefix(prop, val)
                                            -webkit-{prop} val
                                            {prop} val

                                        dl
                                            width 300px
                                            cursor pointer

                                        dd
                                            position relative
                                            margin-left 0
                                            margin-bottom 20px

                                        span
                                            display inline-block
                                            position absolute
                                            right 50%
                                            top 50%
                                            width 0px
                                            height 0px
                                            overflow hidden
                                            line-height 0
                                            text-align center
                                            border-radius 0%
                                            background-color pink
                                            transform rotate(0deg)
                                            prefix('transition-property', all)  
                                            prefix('transition-duration', 500ms)
                                            prefix('transition-timing-function', ease-in-out)
                                            &.show
                                                position absolute
                                                right -30%
                                                top -30%
                                                width 50px
                                                height 50px
                                                border-radius 50%
                                                line-height 50px
                                                text-align center
                                                background-color red
                                                transform rotate(0deg*10)
                                pre(class='prettyprint linenums:1')
                                    :code
                                        doctype
                                        html(lang='ja-JP')
                                            head
                                                meta(charset='UTF-8')
                                                title
                                                link(rel='stylesheet',href='style.css')
                                            body
                                                dl
                                                    -for(var i = 0; i < 4; i++)
                                                        dt dt要素dt要素dt要素dt要素dt要素
                                                        dd
                                                            | dd要素dd要素dd要素dd要素dd要素<br>
                                                            | dd要素dd要素dd要素dd要素dd要素<br>
                                                            | dd要素dd要素dd要素dd要素dd要素<br>
                                                            | dd要素dd要素dd要素dd要素dd要素
                                                            span span要素
                                                script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                                script(src='script.js')
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $(function() {
                                            $('dt').click(function() {
                                                $('+ dd > span:only-of-type', this).addClass('show');
                                            });
                                            $('span').click(function() {
                                                $(this).removeClass('show');
                                            });
                                        });
                                pre(class='prettyprint linenums:1')
                                    :code
                                        $ ->
                                            $('dt').click ->
                                                $('+ dd > span:only-of-type',this).addClass('show')
                                                return
                                            $('span').click ->
                                                $(this).removeClass 'show'
                                                return
                                            return