extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;$('タイプセレクター')
					.panel-body
						p $()メソッドはjQuery()メソッドのエイリアスであり、同じ動きをします。
						p $()メソッドは引数にコールバック関数をとると、ready()メソッドと同じ動きをします。また、引数にCSSのセレクターを記述すると、セレクターにマッチしたDOM要素が、jQueryオブジェクトとして返ります。
						p
							a.btn.btn-default(href='../demo/jquery/exercise59/index1.html',target='_blank')
								i.glyphicon.glyphicon-play
								| デモ
							| 
							a.btn.btn-default(href='http://api.jquery.com/jQuery/',target='_blank')
								i.glyphicon.glyphicon-info-sign
								| &nbsp;参考
						pre(class='prettyprint linenums:1')
							:code
								doctype
								html(lang='ja-JP')
									head
										meta(charset='UTF-8')
										title
									body
										ul
											li テキストテキストテキストテキストテキスト
											li テキストテキストテキストテキストテキスト
											li テキストテキストテキストテキストテキスト
											li テキストテキストテキストテキストテキスト
										script(src='http://code.jquery.com/jquery-1.11.0.min.js')
										script(src='script.js')
						pre(class='prettyprint linenums:1')
							:code
								doctype
								html(lang='ja-JP')
									head
										meta(charset='UTF-8')
										title
									body
										ul
											- for(var i = 0; i < 4; i++)
												li テキストテキストテキストテキストテキスト
										script(src='http://code.jquery.com/jquery-1.11.0.min.js')
										script(src='script.js')
						pre(class='prettyprint linenums:1')
							:code
								$(function() {
									$('li').css('color', '#FF0000');
								});
						pre(class='prettyprint linenums:1')
							:code
								$ ->
									$('li').css 'color', '#FF0000'
									return