extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;$(':headerセレクター')
                    .panel-body
                        p :headerセレクターはjQuery独自のセレクターです。h1〜h6までのヘディング要素にマッチします。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise126/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            | 
                            a.btn.btn-default(href='http://api.jquery.com/header-selector/',target='_blank')
                                i.glyphicon.glyphicon-info-sign
                                | &nbsp;参考（:header）
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title
                                    body
                                        div
                                            h1 見出しレベル1
                                            p
                                                | テキストテキストテキストテキスト<br>
                                                | テキストテキストテキストテキスト<br>
                                                | テキストテキストテキストテキスト<br>
                                                | テキストテキストテキストテキスト
                                            div
                                                h2 見出しレベル2
                                                p
                                                    | テキストテキストテキストテキスト<br>
                                                    | テキストテキストテキストテキスト<br>
                                                    | テキストテキストテキストテキスト<br>
                                                    | テキストテキストテキストテキスト
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $(':header').css('color', 'red');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $(':header').css 'color', 'red'
                                    return