.list-group
	a.list-group-item(href='1')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='3')
		i.badge.badge-info
		| JavaScriptの記述場所
	a.list-group-item(href='2')
		i.badge.badge-info
		| jQueryの読み込み方
	a.list-group-item(href='4')
		i.badge.badge-info
		| 実行される順番
	a.list-group-item(href='5')
		i.badge.badge-info
		| ready()メソッド
	a.list-group-item(href='6')
		i.badge.badge-info
		| click()メソッド
	a.list-group-item(href='7')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;click()メソッド課題
	a.list-group-item(href='8')
		i.badge.badge-info
		| text()メソッド