.list-group
    a.list-group-item(href='1')
        i.badge.badge-info
        | 資料
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu1')
        | 要素、属性、CSS、クラス
#menu1.list-group.collapse.out
    a.list-group-item(href='3')
        i.badge.badge-info
        | JavaScriptの記述場所
    a.list-group-item(href='2')
        i.badge.badge-info
        | jQueryの読み込み方
    a.list-group-item(href='4')
        i.badge.badge-info
        | 実行される順番
    a.list-group-item(href='5')
        i.badge.badge-info
        | ready()メソッド
    a.list-group-item(href='6')
        i.badge.badge-info
        | click()メソッド
    a.list-group-item(href='7')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;click()メソッド課題
    a.list-group-item(href='8')
        i.badge.badge-info
        | text()メソッド①
    a.list-group-item(href='9')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;text()メソッド①課題
    a.list-group-item(href='10')
        i.badge.badge-info
        | text()メソッド②
    a.list-group-item(href='11')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;text()メソッド②課題
    a.list-group-item(href='12')
        i.badge.badge-info
        | html()メソッド①
    a.list-group-item(href='13')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;html()メソッド①課題
    a.list-group-item(href='14')
        i.badge.badge-info
        | html()メソッド②
    a.list-group-item(href='15')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;html()メソッド②課題
    a.list-group-item(href='16')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;html()メソッド②課題
    a.list-group-item(href='17')
        i.badge.badge-info
        | attr()メソッド①
    a.list-group-item(href='18')
        i.badge.badge-info
        | attr()メソッド①
    a.list-group-item(href='19')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;attr()メソッド①課題
    a.list-group-item(href='20')
        i.badge.badge-info
        | attr()メソッド②
    a.list-group-item(href='21')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;attr()メソッド②課題
    a.list-group-item(href='22')
        i.badge.badge-info
        | removeAttr()メソッド
    a.list-group-item(href='23')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;removeAttr()メソッド課題
    a.list-group-item(href='24')
        i.badge.badge-info
        | css()メソッド①
    a.list-group-item(href='25')
        i.badge.badge-info
        | css()メソッド①
    a.list-group-item(href='26')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;css()メソッド①課題
    a.list-group-item(href='27')
        i.badge.badge-info
        | css()メソッド②
    a.list-group-item(href='28')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;css()メソッド②課題
    a.list-group-item(href='29')
        i.badge.badge-info
        | addClass()メソッド
    a.list-group-item(href='30')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;addClass()メソッド課題
    a.list-group-item(href='31')
        i.badge.badge-info
        | removeClass()メソッド
    a.list-group-item(href='32')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;removeClass()メソッド課題
    a.list-group-item(href='34')
        i.badge.badge-info
        | toggleClass()メソッド
    a.list-group-item(href='33')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;toggleClass()メソッド課題
    a.list-group-item(href='35')
        i.badge.badge-info
        | replaceWith()メソッド
    a.list-group-item(href='36')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;replaceWith()メソッド課題
    a.list-group-item(href='37')
        i.badge.badge-info
        | remove()メソッド
    a.list-group-item(href='38')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;remove()メソッド課題
    a.list-group-item(href='39')
        i.badge.badge-info
        | メソッドチェーン
    a.list-group-item(href='40')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;メソッドチェーン課題
    a.list-group-item(href='41')
        i.badge.badge-info
        | $(...)メソッドのthis
    a.list-group-item(href='42')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(...)メソッドのthis課題
    a.list-group-item(href='43')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(...)メソッドのthis課題
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu2')
        | 要素の挿入、移動
#menu2.list-group.collapse.out
    a.list-group-item(href='44')
        i.badge.badge-info
        | prepend()メソッド
    a.list-group-item(href='45')
        i.badge.badge-info
        | append()メソッド
    a.list-group-item(href='46')
        i.badge.badge-info
        | before()メソッド
    a.list-group-item(href='47')
        i.badge.badge-info
        | after()メソッド
    a.list-group-item(href='56')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の挿入課題
    a.list-group-item(href='57')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の挿入課題
    a.list-group-item(href='48')
        i.badge.badge-info
        | prependTo()メソッド
    a.list-group-item(href='49')
        i.badge.badge-info
        | appendTo()メソッド
    a.list-group-item(href='50')
        i.badge.badge-info
        | insertBefore()メソッド
    a.list-group-item(href='51')
        i.badge.badge-info
        | insertAfter()メソッド
    a.list-group-item(href='58')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の移動課題
    a.list-group-item(href='59')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の移動課題
    a.list-group-item(href='52')
        i.badge.badge-info
        | wrap()メソッド
    a.list-group-item(href='53')
        i.badge.badge-info
        | wrapAll()メソッド
    a.list-group-item(href='54')
        i.badge.badge-info
        | wrapInner()メソッド
    a.list-group-item(href='55')
        i.badge.badge-info
        | Traversing
    a.list-group-item(href='60')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;Traversing 課題
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu3')
        | $(...)メソッド
#menu3.list-group.collapse.out
    a.list-group-item(href='61')
        i.badge.badge-info
        | $('タイプセレクター')
    a.list-group-item(href='62')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('タイプセレクター') 課題
    a.list-group-item(href='63')
        i.badge.badge-info
        | $('IDセレクター')
    a.list-group-item(href='64')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('IDセレクター') 課題
    a.list-group-item(href='65')
        i.badge.badge-info
        | $('クラスセレクター')
    a.list-group-item(href='66')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('クラスセレクター') 課題
    a.list-group-item(href='67')
        i.badge.badge-info
        | $('子孫セレクター')
    a.list-group-item(href='68')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('子孫セレクター') 課題
    a.list-group-item(href='69')
        i.badge.badge-info
        | $('ユニバーサルセレクター')
    a.list-group-item(href='70')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('ユニバーサルセレクター') 課題
    a.list-group-item(href='71')
        i.badge.badge-info
        | $('グループセレクター')
    a.list-group-item(href='72')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('グループセレクター') 課題
    a.list-group-item(href='73')
        i.badge.badge-info
        | $('子セレクター')
    a.list-group-item(href='74')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('子セレクター') 課題
    a.list-group-item(href='75')
        i.badge.badge-info
        | $('隣接セレクター')
    a.list-group-item(href='76')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('隣接セレクター') 課題
    a.list-group-item(href='131')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('隣接セレクター') 課題
    a.list-group-item(href='77')
        i.badge.badge-info
        | $(':first-child擬似クラス')
    a.list-group-item(href='78')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':first-child擬似クラス') 課題
    a.list-group-item(href='79')
        i.badge.badge-info
        | $(':first-of-type擬似クラス')
    a.list-group-item(href='80')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':first-of-type擬似クラス') 課題
    a.list-group-item(href='81')
        i.badge.badge-info
        | ::first-line/::first-letter擬似要素
    a.list-group-item(href='82')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;::first-line/::first-letter擬似要素 課題
    a.list-group-item(href='83')
        i.badge.badge-info
        | $('関節セレクター')
    a.list-group-item(href='84')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('関節セレクター') 課題
    a.list-group-item(href='85')
        i.badge.badge-info
        | $('否定擬似クラス')
    a.list-group-item(href='86')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('否定擬似クラス') 課題
    a.list-group-item(href='87')
        i.badge.badge-info
        | $(':empty擬似クラス')
    a.list-group-item(href='88')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('empty擬似クラス') 課題
    a.list-group-item(href='89')
        i.badge.badge-info
        | $(':last-child擬似クラス')
    a.list-group-item(href='90')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':last-child擬似クラス') 課題
    a.list-group-item(href='91')
        i.badge.badge-info
        | $(':last-of-type擬似クラス')
    a.list-group-item(href='92')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':last-of-type擬似クラス') 課題
    a.list-group-item(href='93')
        i.badge.badge-info
        | $(':nth-child擬似クラス')
    a.list-group-item(href='94')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-child擬似クラス') 課題
    a.list-group-item(href='95')
        i.badge.badge-info
        | $(':nth-of-type擬似クラス')
    a.list-group-item(href='96')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-of-type擬似クラス') 課題
    a.list-group-item(href='97')
        i.badge.badge-info
        | $(':nth-last-child擬似クラス')
    a.list-group-item(href='98')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-last-child擬似クラス') 課題
    a.list-group-item(href='99')
        i.badge.badge-info
        | $(':nth-last-of-type擬似クラス')
    a.list-group-item(href='100')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-last-of-type擬似クラス') 課題
    a.list-group-item(href='101')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-last-of-type擬似クラス') 参考
    a.list-group-item(href='102')
        i.badge.badge-info
        | $(':only-child擬似クラス')
    a.list-group-item(href='103')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':only-child擬似クラス') 課題
    a.list-group-item(href='104')
        i.badge.badge-info
        | $(':only-of-type擬似クラス')
    a.list-group-item(href='105')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':only-of-type擬似クラス') 課題
    a.list-group-item(href='106')
        i.badge.badge-info
        | $('属性セレクター[attr]')
    a.list-group-item(href='107')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr]') 課題
    a.list-group-item(href='108')
        i.badge.badge-info
        | $('属性セレクター[attr="val"]')
    a.list-group-item(href='109')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr="val"]') 課題
    a.list-group-item(href='110')
        i.badge.badge-info
        | $('属性セレクターE[attr!="val"]')
    a.list-group-item(href='111')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクターE[attr!="val"]') 課題
    a.list-group-item(href='112')
        i.badge.badge-info
        | $('属性セレクター[attr^="val"]')
    a.list-group-item(href='113')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr^="val"]') 課題
    a.list-group-item(href='114')
        i.badge.badge-info
        | $('属性セレクター[attr$="val"]')
    a.list-group-item(href='115')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr$="val"]') 課題
    a.list-group-item(href='116')
        i.badge.badge-info
        | $('属性セレクター[attr*="val"]')
    a.list-group-item(href='117')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr*="val"]') 課題
    a.list-group-item(href='118')
        i.badge.badge-info
        | $('属性セレクター[attr1][attr2]')
    a.list-group-item(href='119')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr1][attr2]') 課題
    a.list-group-item(href='120')
        i.badge.badge-info
        | $(':first/:last/nth()セレクター')
    a.list-group-item(href='121')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':first/:last/:nth()セレクター') 課題
    a.list-group-item(href='122')
        i.badge.badge-info
        | $(':even/:oddセレクター')
    a.list-group-item(href='123')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':even/:oddセレクター') 課題
    a.list-group-item(href='124')
        i.badge.badge-info
        | $(':eq/:lt/:gtセレクター')
    a.list-group-item(href='125')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':eq/:lt/:gtセレクター') 課題
    a.list-group-item(href='126')
        i.badge.badge-info
        | $(':headerセレクター')
    a.list-group-item(href='127')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':headerセレクター') 課題
    a.list-group-item(href='128')
        i.badge.badge-info
        | $(':contains/:hasセレクター')
    a.list-group-item(href='129')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':contains/:hasセレクター 課題
    a.list-group-item(href='130')
        i.badge.badge-info
        | $(':parentセレクター')
    a.list-group-item(href='132')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':parentセレクター') 課題
    a.list-group-item(href='148')
        i.badge.badge-info
        | find()/filter()メソッド （参考）
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu4')
        | アニメーション効果
#menu4.list-group.collapse.out
    a.list-group-item(href='133')
        i.badge.badge-info
        | show()メソッド
    a.list-group-item(href='134')
        i.badge.badge-info
        | コールバック関数
    a.list-group-item(href='135')
        i.badge.badge-info
        | hide()メソッド
    a.list-group-item(href='136')
        i.badge.badge-info
        | :animatedセレクター
    a.list-group-item(href='137')
        i.badge.badge-info
        | toggle()メソッド
    a.list-group-item(href='138')
        i.badge.badge-info
        | slideDown()/slideUpメソッド
    a.list-group-item(href='139')
        i.badge.badge-info
        | slideToggle()メソッド
    a.list-group-item(href='140')
        i.badge.badge-info
        | fadeIn/fadeOut()メソッド
    a.list-group-item(href='141')
        i.badge.badge-info
        | fadeToggle()メソッド
    a.list-group-item(href='142')
        i.badge.badge-info
        | fadeTo()メソッド
    a.list-group-item(href='143')
        i.badge.badge-info
        | animate()メソッド
    a.list-group-item(href='144')
        i.badge.badge-info
        | delay()メソッド
    a.list-group-item(href='145')
        i.badge.badge-info
        | jQuery UI（参考）
    a.list-group-item(href='146')
        i.badge.badge-info
        | jQuery easing プラグイン
    a.list-group-item(href='../demo/jquery/exercise151/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI①（参考）
    a.list-group-item(href='../demo/jquery/exercise152/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI②（参考）
    a.list-group-item(href='../demo/jquery/exercise153/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI③（参考）
    a.list-group-item(href='../demo/jquery/exercise154/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI④（参考）
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu5')
        | イベント
#menu5.list-group.collapse.out
    a.list-group-item(href='147')
        i.badge.badge-info
        | a要素のclick()イベント
    a.list-group-item(href='149')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;a要素のclick()イベント課題
    a.list-group-item(href='150')
        i.badge.badge-info
        | dblclick()イベント
    a.list-group-item(href='151')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | dblclick()イベント課題
    a.list-group-item(href='152')
        i.badge.badge-info
        | a要素のdblclick()イベント
    a.list-group-item(href='153')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | a要素のdblclick()イベント課題
    a.list-group-item(href='154')
        i.badge.badge-info
        | モーダルウィンドウ
    a.list-group-item(href='155')
        i.badge.badge-info
        | モーダルウィンドウ (テキストの表示)
    a.list-group-item(href='156')
        i.badge.badge-info
        | mouseover()／mouseout()イベント
    a.list-group-item(href='157')
        i.badge.badge-info
        | mouseover()／mouseout()イベント (プリロード)
    a.list-group-item(href='158')
        i.badge.badge-info
        | ロールオーバー (基本)
    a.list-group-item(href='159')
        i.badge.badge-info
        | ロールオーバー (汎用)
    a.list-group-item(href='160')
        i.badge.badge-info
        | ロールオーバー (プラグイン)
    a.list-group-item(href='161')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | each()メソッド課題
    a.list-group-item(href='162')
        i.badge.badge-info
        | hover()イベント
    a.list-group-item(href='163')
        i.badge.badge-info
        | mouseover()/mouseenter()／hover()
    a.list-group-item(href='164')
        i.badge.badge-info
        | ドロップダウンメニュー
    a.list-group-item(href='165')
        i.badge.badge-info
        | mousedown()／mouseup()イベント
    a.list-group-item(href='166')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | mousedown()／mouseup()イベント課題
    a.list-group-item(href='167')
        i.badge.badge-info
        | mousemove()イベント
    a.list-group-item(href='168')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | mousemove()イベン課題
    a.list-group-item(href='169')
        i.badge.badge-info
        | フローティングウィンドウ
    a.list-group-item(href='170')
        i.badge.badge-info
        | one()イベント
    a.list-group-item(href='171')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | one()イベン課題
    a.list-group-item(href='172')
        i.badge.badge-info
        | off()イベント
    a.list-group-item(href='173')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | off()イベン課題
    a.list-group-item(href='174')
        i.badge.badge-info
        | on()イベント
    a.list-group-item(href='175')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | on()イベン課題
    a.list-group-item(href='176')
        i.badge.badge-info
        | contextmenu()イベント
    a.list-group-item(href='177')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | contextmenu()イベン課題
    a.list-group-item(href='178')
        i.badge.badge-info
        | タブパネル
    a.list-group-item(href='179')
        i.badge.badge-info
        | カルーセルパネル
    a.list-group-item(href='#')
        i.badge.badge-info
        | setInterval関数 (参考)
    a.list-group-item(href='#')
        i.badge.badge-info
        | setInterval関数② (参考)
    a.list-group-item(href='#')
        i.badge.badge-info
        | setTimeout関数 (参考)
    a.list-group-item(href='181')
        i.badge.badge-info
        | スライドギャラリー
    a.list-group-item(href='180')
        i.badge.badge-info
        | スワイプギャラリー
    a.list-group-item(href='../demo/jquery/exercise175/index1.html',target='_blank')
        i.badge.badge-info
        | scroll()イベント
    a.list-group-item(href='../demo/jquery/exercise173/index1.html',target='_blank')
        i.badge.badge-info
        | ページ最下部でイベントを発生させる (参考)
    a.list-group-item(href='../demo/jquery/exercise176/index1.html',target='_blank')
        i.badge.badge-info
        | resize()イベント (参考)
    a.list-group-item(href='../demo/jquery/exercise174/index1.html',target='_blank')
        i.badge.badge-info
        | リサイズ終了時にイベントを発生させる (参考)
    a.list-group-item(href='../demo/jquery/exercise189/index1.html',target='_blank')
        i.badge.badge-info
        | keyDown()イベント／keyUp()イベント
    a.list-group-item(href='../demo/jquery/exercise190/index1.html',target='_blank')
        i.badge.badge-info
        | keyDown()イベント／keyUp()イベント課題
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu6')
        | フォーム
#menu6.list-group.collapse.out
    a.list-group-item(href='../demo/jquery/exercise191/index1.html',target='_blank')
        i.badge.badge-info
        | val()メソッド①
    a.list-group-item(href='../demo/jquery/exercise192/index1.html',target='_blank')
        i.badge.badge-info
        | val()メソッド②
    a.list-group-item(href='../demo/jquery/exercise193/index1.html',target='_blank')
        i.badge.badge-info
        | focus()イベント
    a.list-group-item(href='#')
        i.badge.badge-info
        | blur()イベント
    a.list-group-item(href='#')
        i.badge.badge-info
        | change()イベント
    a.list-group-item(href='#')
        i.badge.badge-info
        | submit()イベント
    a.list-group-item(href='#')
        i.badge.badge-info
        | :inputセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :textセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :passwordセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :radioセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :checkboxセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :submitセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :imageセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :resetセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :buttonセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :fileセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :checkedセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | :selectedセレクター
    a.list-group-item(href='#')
        i.badge.badge-info
        | バリデーション付きメールフォーム
    a.list-group-item(href='#')
        i.badge.badge-info
        | メールフォーム課題
    a.list-group-item(href='#')
        i.badge.badge-info
        | フォーム課題
    a.list-group-item(href='#')
        i.badge.badge-info
        | フォーム課題