.list-group
	a.list-group-item(href='1')
		i.badge.badge-info
		| 資料
.list-group
	a.list-group-item.active
		| 要素、属性、CSS、クラス
	a.list-group-item(href='3')
		i.badge.badge-info
		| JavaScriptの記述場所
	a.list-group-item(href='2')
		i.badge.badge-info
		| jQueryの読み込み方
	a.list-group-item(href='4')
		i.badge.badge-info
		| 実行される順番
	a.list-group-item(href='5')
		i.badge.badge-info
		| ready()メソッド
	a.list-group-item(href='6')
		i.badge.badge-info
		| click()メソッド
	a.list-group-item(href='7')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;click()メソッド課題
	a.list-group-item(href='8')
		i.badge.badge-info
		| text()メソッド①
	a.list-group-item(href='9')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;text()メソッド①課題
	a.list-group-item(href='10')
		i.badge.badge-info
		| text()メソッド②
	a.list-group-item(href='11')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;text()メソッド②課題
	a.list-group-item(href='12')
		i.badge.badge-info
		| html()メソッド①
	a.list-group-item(href='13')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;html()メソッド①課題
	a.list-group-item(href='14')
		i.badge.badge-info
		| html()メソッド②
	a.list-group-item(href='15')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;html()メソッド②課題
	a.list-group-item(href='16')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;html()メソッド②課題
	a.list-group-item(href='17')
		i.badge.badge-info
		| attr()メソッド①
	a.list-group-item(href='18')
		i.badge.badge-info
		| attr()メソッド①
	a.list-group-item(href='19')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;attr()メソッド①課題
	a.list-group-item(href='20')
		i.badge.badge-info
		| attr()メソッド②
	a.list-group-item(href='21')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;attr()メソッド②課題
	a.list-group-item(href='22')
		i.badge.badge-info
		| removeAttr()メソッド
	a.list-group-item(href='23')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;removeAttr()メソッド課題
	a.list-group-item(href='24')
		i.badge.badge-info
		| css()メソッド①
	a.list-group-item(href='25')
		i.badge.badge-info
		| css()メソッド①
	a.list-group-item(href='26')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;css()メソッド①課題
	a.list-group-item(href='27')
		i.badge.badge-info
		| css()メソッド②
	a.list-group-item(href='28')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;css()メソッド②課題
	a.list-group-item(href='29')
		i.badge.badge-info
		| addClass()メソッド
	a.list-group-item(href='30')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;addClass()メソッド課題
	a.list-group-item(href='31')
		i.badge.badge-info
		| removeClass()メソッド
	a.list-group-item(href='32')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;removeClass()メソッド課題
	a.list-group-item(href='34')
		i.badge.badge-info
		| toggleClass()メソッド
	a.list-group-item(href='33')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;toggleClass()メソッド課題
	a.list-group-item(href='35')
		i.badge.badge-info
		| replaceWith()メソッド
	a.list-group-item(href='36')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;replaceWith()メソッド課題
	a.list-group-item(href='37')
		i.badge.badge-info
		| remove()メソッド
	a.list-group-item(href='38')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;remove()メソッド課題
	a.list-group-item(href='39')
		i.badge.badge-info
		| メソッドチェーン
	a.list-group-item(href='40')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;メソッドチェーン課題
	a.list-group-item(href='41')
		i.badge.badge-info
		| $メソッドのthis
	a.list-group-item(href='42')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;$メソッドのthis課題
	a.list-group-item(href='43')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;$(...)メソッドのthis課題
.list-group
	a.list-group-item.active
		| 要素の挿入、移動
	a.list-group-item(href='44')
		i.badge.badge-info
		| prepend()メソッド
	a.list-group-item(href='45')
		i.badge.badge-info
		| append()メソッド
	a.list-group-item(href='46')
		i.badge.badge-info
		| before()メソッド
	a.list-group-item(href='47')
		i.badge.badge-info
		| after()メソッド
	a.list-group-item(href='56')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;要素の挿入課題
	a.list-group-item(href='57')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;要素の挿入課題
	a.list-group-item(href='48')
		i.badge.badge-info
		| prependTo()メソッド
	a.list-group-item(href='49')
		i.badge.badge-info
		| appendTo()メソッド
	a.list-group-item(href='50')
		i.badge.badge-info
		| insertBefore()メソッド
	a.list-group-item(href='51')
		i.badge.badge-info
		| insertAfter()メソッド
	a.list-group-item(href='58')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;要素の移動課題
	a.list-group-item(href='59')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;要素の移動課題
	a.list-group-item(href='52')
		i.badge.badge-info
		| wrap()メソッド
	a.list-group-item(href='53')
		i.badge.badge-info
		| wrapAll()メソッド
	a.list-group-item(href='54')
		i.badge.badge-info
		| wrapInner()メソッド
	a.list-group-item(href='55')
		i.badge.badge-info
		| Traversing
	a.list-group-item(href='#')
		i.badge.badge-info
		i.glyphicon.glyphicon-bookmark
		| &nbsp;TraversingI課題
.list-group
	a.list-group-item.active
		| $()メソッド、jQuery()メソッド
.list-group
	a.list-group-item.active
		| アニメーション効果
.list-group
	a.list-group-item.active
		| イベント
.list-group
	a.list-group-item.active
		| フォーム
