.list-group
	a.list-group-item(href='1')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='3')
		i.badge.badge-info
		| JavaScriptの記述場所
	a.list-group-item(href='2')
		i.badge.badge-info
		| jQueryの読み込み方