.list-group
    a.list-group-item(href='../jquery/1')
        i.badge.badge-info
        | 資料
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu1')
        | 要素/属性/CSS/クラスの操作
#menu1.list-group.collapse.out
    a.list-group-item(href='../jquery/3')
        i.badge.badge-info
        | JavaScriptの記述場所
    a.list-group-item(href='../jquery/2')
        i.badge.badge-info
        | jQueryの読み込み方
    a.list-group-item(href='../jquery/4')
        i.badge.badge-info
        | 実行される順番
    a.list-group-item(href='../jquery/5')
        i.badge.badge-info
        | ready()メソッド
    a.list-group-item(href='../jquery/6')
        i.badge.badge-info
        | click()メソッド
    a.list-group-item(href='../jquery/7')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;click()メソッド課題
    a.list-group-item(href='../jquery/8')
        i.badge.badge-info
        | text()メソッド①
    a.list-group-item(href='../jquery/9')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;text()メソッド①課題
    a.list-group-item(href='../jquery/10')
        i.badge.badge-info
        | text()メソッド②
    a.list-group-item(href='../jquery/11')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;text()メソッド②課題
    a.list-group-item(href='../jquery/12')
        i.badge.badge-info
        | html()メソッド①
    a.list-group-item(href='../jquery/13')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;html()メソッド①課題
    a.list-group-item(href='../jquery/14')
        i.badge.badge-info
        | html()メソッド②
    a.list-group-item(href='../jquery/15')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;html()メソッド②課題
    a.list-group-item(href='../jquery/16')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;html()メソッド②課題
    a.list-group-item(href='../jquery/17')
        i.badge.badge-info
        | attr()メソッド①
    a.list-group-item(href='../jquery/18')
        i.badge.badge-info
        | attr()メソッド①
    a.list-group-item(href='../jquery/19')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;attr()メソッド①課題
    a.list-group-item(href='../jquery/20')
        i.badge.badge-info
        | attr()メソッド②
    a.list-group-item(href='../jquery/21')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;attr()メソッド②課題
    a.list-group-item(href='../jquery/22')
        i.badge.badge-info
        | removeAttr()メソッド
    a.list-group-item(href='../jquery/23')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;removeAttr()メソッド課題
    a.list-group-item(href='../jquery/24')
        i.badge.badge-info
        | css()メソッド①
    a.list-group-item(href='../jquery/25')
        i.badge.badge-info
        | css()メソッド①
    a.list-group-item(href='../jquery/26')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;css()メソッド①課題
    a.list-group-item(href='../jquery/27')
        i.badge.badge-info
        | css()メソッド②
    a.list-group-item(href='../jquery/28')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;css()メソッド②課題
    a.list-group-item(href='../jquery/29')
        i.badge.badge-info
        | addClass()メソッド
    a.list-group-item(href='../jquery/30')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;addClass()メソッド課題
    a.list-group-item(href='../jquery/31')
        i.badge.badge-info
        | removeClass()メソッド
    a.list-group-item(href='../jquery/32')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;removeClass()メソッド課題
    a.list-group-item(href='../jquery/34')
        i.badge.badge-info
        | toggleClass()メソッド
    a.list-group-item(href='../jquery/33')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;toggleClass()メソッド課題
    a.list-group-item(href='../jquery/35')
        i.badge.badge-info
        | replaceWith()メソッド
    a.list-group-item(href='../jquery/36')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;replaceWith()メソッド課題
    a.list-group-item(href='../jquery/37')
        i.badge.badge-info
        | remove()メソッド
    a.list-group-item(href='../jquery/38')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;remove()メソッド課題
    a.list-group-item(href='../jquery/39')
        i.badge.badge-info
        | メソッドチェーン
    a.list-group-item(href='../jquery/40')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;メソッドチェーン課題
    a.list-group-item(href='../jquery/41')
        i.badge.badge-info
        | $(...)メソッドのthis
    a.list-group-item(href='../jquery/42')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(...)メソッドのthis課題
    a.list-group-item(href='../jquery/43')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(...)メソッドのthis課題
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu2')
        | 要素の挿入、移動
#menu2.list-group.collapse.out
    a.list-group-item(href='../jquery/44')
        i.badge.badge-info
        | prepend()メソッド
    a.list-group-item(href='../jquery/45')
        i.badge.badge-info
        | append()メソッド
    a.list-group-item(href='../jquery/46')
        i.badge.badge-info
        | before()メソッド
    a.list-group-item(href='../jquery/47')
        i.badge.badge-info
        | after()メソッド
    a.list-group-item(href='../jquery/56')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の挿入課題
    a.list-group-item(href='../jquery/57')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の挿入課題
    a.list-group-item(href='../jquery/48')
        i.badge.badge-info
        | prependTo()メソッド
    a.list-group-item(href='../jquery/49')
        i.badge.badge-info
        | appendTo()メソッド
    a.list-group-item(href='../jquery/50')
        i.badge.badge-info
        | insertBefore()メソッド
    a.list-group-item(href='../jquery/51')
        i.badge.badge-info
        | insertAfter()メソッド
    a.list-group-item(href='../jquery/58')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の移動課題
    a.list-group-item(href='../jquery/59')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;要素の移動課題
    a.list-group-item(href='../jquery/52')
        i.badge.badge-info
        | wrap()メソッド
    a.list-group-item(href='../jquery/53')
        i.badge.badge-info
        | wrapAll()メソッド
    a.list-group-item(href='../jquery/54')
        i.badge.badge-info
        | wrapInner()メソッド
    a.list-group-item(href='../jquery/55')
        i.badge.badge-info
        | Traversing
    a.list-group-item(href='../jquery/60')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;Traversing 課題
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu3')
        | $()メソッド/セレクター
#menu3.list-group.collapse.out
    a.list-group-item(href='../jquery/61')
        i.badge.badge-info
        | $('タイプセレクター')
    a.list-group-item(href='../jquery/62')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('タイプセレクター') 課題
    a.list-group-item(href='../jquery/63')
        i.badge.badge-info
        | $('IDセレクター')
    a.list-group-item(href='../jquery/64')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('IDセレクター') 課題
    a.list-group-item(href='../jquery/65')
        i.badge.badge-info
        | $('クラスセレクター')
    a.list-group-item(href='../jquery/66')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('クラスセレクター') 課題
    a.list-group-item(href='../jquery/67')
        i.badge.badge-info
        | $('子孫セレクター')
    a.list-group-item(href='../jquery/68')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('子孫セレクター') 課題
    a.list-group-item(href='../jquery/148')
        i.badge.badge-info
        | find()/filter()メソッド （参考）
    a.list-group-item(href='../jquery/69')
        i.badge.badge-info
        | $('ユニバーサルセレクター')
    a.list-group-item(href='../jquery/70')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('ユニバーサルセレクター') 課題
    a.list-group-item(href='../jquery/71')
        i.badge.badge-info
        | $('グループセレクター')
    a.list-group-item(href='../jquery/72')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('グループセレクター') 課題
    a.list-group-item(href='../jquery/73')
        i.badge.badge-info
        | $('子セレクター')
    a.list-group-item(href='../jquery/74')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('子セレクター') 課題
    a.list-group-item(href='../jquery/75')
        i.badge.badge-info
        | $('隣接セレクター')
    a.list-group-item(href='../jquery/76')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('隣接セレクター') 課題
    a.list-group-item(href='../jquery/131')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('隣接セレクター') 課題
    a.list-group-item(href='../jquery/77')
        i.badge.badge-info
        | $(':first-child擬似クラス')
    a.list-group-item(href='../jquery/78')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':first-child擬似クラス') 課題
    a.list-group-item(href='../jquery/79')
        i.badge.badge-info
        | $(':first-of-type擬似クラス')
    a.list-group-item(href='../jquery/80')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':first-of-type擬似クラス') 課題
    a.list-group-item(href='../jquery/81')
        i.badge.badge-info
        | ::first-line/::first-letter擬似要素
    a.list-group-item(href='../jquery/82')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;::first-line/::first-letter擬似要素 課題
    a.list-group-item(href='../jquery/83')
        i.badge.badge-info
        | $('関節セレクター')
    a.list-group-item(href='../jquery/84')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('関節セレクター') 課題
    a.list-group-item(href='../jquery/85')
        i.badge.badge-info
        | $('否定擬似クラス')
    a.list-group-item(href='../jquery/86')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('否定擬似クラス') 課題
    a.list-group-item(href='../jquery/87')
        i.badge.badge-info
        | $(':empty擬似クラス')
    a.list-group-item(href='../jquery/88')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('empty擬似クラス') 課題
    a.list-group-item(href='../jquery/89')
        i.badge.badge-info
        | $(':last-child擬似クラス')
    a.list-group-item(href='../jquery/90')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':last-child擬似クラス') 課題
    a.list-group-item(href='../jquery/91')
        i.badge.badge-info
        | $(':last-of-type擬似クラス')
    a.list-group-item(href='../jquery/92')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':last-of-type擬似クラス') 課題
    a.list-group-item(href='../jquery/93')
        i.badge.badge-info
        | $(':nth-child擬似クラス')
    a.list-group-item(href='../jquery/94')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-child擬似クラス') 課題
    a.list-group-item(href='../jquery/95')
        i.badge.badge-info
        | $(':nth-of-type擬似クラス')
    a.list-group-item(href='../jquery/96')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-of-type擬似クラス') 課題
    a.list-group-item(href='../jquery/97')
        i.badge.badge-info
        | $(':nth-last-child擬似クラス')
    a.list-group-item(href='../jquery/98')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-last-child擬似クラス') 課題
    a.list-group-item(href='../jquery/99')
        i.badge.badge-info
        | $(':nth-last-of-type擬似クラス')
    a.list-group-item(href='../jquery/100')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-last-of-type擬似クラス') 課題
    a.list-group-item(href='../jquery/101')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':nth-last-of-type擬似クラス') 参考
    a.list-group-item(href='../jquery/102')
        i.badge.badge-info
        | $(':only-child擬似クラス')
    a.list-group-item(href='../jquery/103')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':only-child擬似クラス') 課題
    a.list-group-item(href='../jquery/104')
        i.badge.badge-info
        | $(':only-of-type擬似クラス')
    a.list-group-item(href='../jquery/105')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':only-of-type擬似クラス') 課題
    a.list-group-item(href='../jquery/106')
        i.badge.badge-info
        | $('属性セレクター[attr]')
    a.list-group-item(href='../jquery/107')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr]') 課題
    a.list-group-item(href='../jquery/108')
        i.badge.badge-info
        | $('属性セレクター[attr="val"]')
    a.list-group-item(href='../jquery/109')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr="val"]') 課題
    a.list-group-item(href='../jquery/110')
        i.badge.badge-info
        | $('属性セレクターE[attr!="val"]')
    a.list-group-item(href='../jquery/111')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクターE[attr!="val"]') 課題
    a.list-group-item(href='../jquery/112')
        i.badge.badge-info
        | $('属性セレクター[attr^="val"]')
    a.list-group-item(href='../jquery/113')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr^="val"]') 課題
    a.list-group-item(href='../jquery/114')
        i.badge.badge-info
        | $('属性セレクター[attr$="val"]')
    a.list-group-item(href='../jquery/115')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr$="val"]') 課題
    a.list-group-item(href='../jquery/116')
        i.badge.badge-info
        | $('属性セレクター[attr*="val"]')
    a.list-group-item(href='../jquery/117')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr*="val"]') 課題
    a.list-group-item(href='../jquery/118')
        i.badge.badge-info
        | $('属性セレクター[attr1][attr2]')
    a.list-group-item(href='../jquery/119')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$('属性セレクター[attr1][attr2]') 課題
    a.list-group-item(href='../jquery/120')
        i.badge.badge-info
        | $(':first/:last/nth()セレクター')
    a.list-group-item(href='../jquery/121')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':first/:last/:nth()セレクター') 課題
    a.list-group-item(href='../jquery/122')
        i.badge.badge-info
        | $(':even/:oddセレクター')
    a.list-group-item(href='../jquery/123')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':even/:oddセレクター') 課題
    a.list-group-item(href='../jquery/124')
        i.badge.badge-info
        | $(':eq/:lt/:gtセレクター')
    a.list-group-item(href='../jquery/125')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':eq/:lt/:gtセレクター') 課題
    a.list-group-item(href='../jquery/126')
        i.badge.badge-info
        | $(':headerセレクター')
    a.list-group-item(href='../jquery/127')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':headerセレクター') 課題
    a.list-group-item(href='../jquery/128')
        i.badge.badge-info
        | $(':contains/:hasセレクター')
    a.list-group-item(href='../jquery/129')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':contains/:hasセレクター 課題
    a.list-group-item(href='../jquery/130')
        i.badge.badge-info
        | $(':parentセレクター')
    a.list-group-item(href='../jquery/132')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;$(':parentセレクター') 課題
    a.list-group-item(href='http://api.jquery.com/input-selector/',target='_blank')
        i.badge.badge-info
        | :inputセレクター
    a.list-group-item(href='http://api.jquery.com/text-selector/',target='_blank')
        i.badge.badge-info
        | :textセレクター
    a.list-group-item(href='http://api.jquery.com/password-selector/',target='_blank')
        i.badge.badge-info
        | :passwordセレクター
    a.list-group-item(href='http://api.jquery.com/radio-selector/',target='_blank')
        i.badge.badge-info
        | :radioセレクター
    a.list-group-item(href='http://api.jquery.com/checkbox-selector/',target='_blank')
        i.badge.badge-info
        | :checkboxセレクター
    a.list-group-item(href='http://api.jquery.com/submit-selector/',target='_blank')
        i.badge.badge-info
        | :submitセレクター
    a.list-group-item(href='http://api.jquery.com/image-selector/',target='_blank')
        i.badge.badge-info
        | :imageセレクター
    a.list-group-item(href='http://api.jquery.com/reset-selector/',target='_blank')
        i.badge.badge-info
        | :resetセレクター
    a.list-group-item(href='http://api.jquery.com/button-selector/',target='_blank')
        i.badge.badge-info
        | :buttonセレクター
    a.list-group-item(href='http://api.jquery.com/file-selector/',target='_blank')
        i.badge.badge-info
        | :fileセレクター
    a.list-group-item(href='http://api.jquery.com/checked-selector/',target='_blank')
        i.badge.badge-info
        | :checkedセレクター
    a.list-group-item(href='http://api.jquery.com/selected-selector/',target='_blank')
        i.badge.badge-info
        | :selectedセレクター
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu4')
        | 表示/非表示/アニメーション
#menu4.list-group.collapse.out
    a.list-group-item(href='../jquery/133')
        i.badge.badge-info
        | show()メソッド
    a.list-group-item(href='../jquery/134')
        i.badge.badge-info
        | コールバック関数
    a.list-group-item(href='../jquery/135')
        i.badge.badge-info
        | hide()メソッド
    a.list-group-item(href='../jquery/136')
        i.badge.badge-info
        | :animatedセレクター
    a.list-group-item(href='../jquery/137')
        i.badge.badge-info
        | toggle()メソッド
    a.list-group-item(href='../jquery/138')
        i.badge.badge-info
        | slideDown()/slideUpメソッド
    a.list-group-item(href='../jquery/139')
        i.badge.badge-info
        | slideToggle()メソッド
    a.list-group-item(href='../jquery/140')
        i.badge.badge-info
        | fadeIn/fadeOut()メソッド
    a.list-group-item(href='../jquery/141')
        i.badge.badge-info
        | fadeToggle()メソッド
    a.list-group-item(href='../jquery/142')
        i.badge.badge-info
        | fadeTo()メソッド
    a.list-group-item(href='../jquery/143')
        i.badge.badge-info
        | animate()メソッド
    a.list-group-item(href='../jquery/144')
        i.badge.badge-info
        | delay()メソッド
    a.list-group-item(href='../jquery/145')
        i.badge.badge-info
        | jQuery UI（参考）
    a.list-group-item(href='../jquery/146')
        i.badge.badge-info
        | jQuery easing プラグイン
.list-group
    a.list-group-item.active(data-toggle='collapse',data-target='#menu5')
        | イベント
#menu5.list-group.collapse.out
    a.list-group-item(href='../jquery/147')
        i.badge.badge-info
        | a要素のclick()イベント
    a.list-group-item(href='../jquery/149')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | &nbsp;a要素のclick()イベント課題
    a.list-group-item(href='../jquery/150')
        i.badge.badge-info
        | dblclick()イベント
    a.list-group-item(href='../jquery/151')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | dblclick()イベント課題
    a.list-group-item(href='../jquery/152')
        i.badge.badge-info
        | a要素のdblclick()イベント
    a.list-group-item(href='../jquery/153')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | a要素のdblclick()イベント課題
    a.list-group-item(href='../jquery/154')
        i.badge.badge-info
        | モーダルウィンドウ
    a.list-group-item(href='../jquery/155')
        i.badge.badge-info
        | モーダルウィンドウ (テキストの表示)
    a.list-group-item(href='../jquery/156')
        i.badge.badge-info
        | mouseover()／mouseout()イベント
    a.list-group-item(href='../jquery/157')
        i.badge.badge-info
        | mouseover()／mouseout()イベント (プリロード)
    a.list-group-item(href='../jquery/158')
        i.badge.badge-info
        | ロールオーバー (基本)
    a.list-group-item(href='../jquery/159')
        i.badge.badge-info
        | ロールオーバー (汎用)
    a.list-group-item(href='../jquery/160')
        i.badge.badge-info
        | ロールオーバー (プラグイン)
    a.list-group-item(href='../jquery/161')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | each()メソッド課題
    a.list-group-item(href='../jquery/162')
        i.badge.badge-info
        | hover()イベント
    a.list-group-item(href='../jquery/163')
        i.badge.badge-info
        | mouseover()/mouseenter()／hover()
    a.list-group-item(href='../jquery/164')
        i.badge.badge-info
        | ドロップダウンメニュー
    a.list-group-item(href='../jquery/165')
        i.badge.badge-info
        | mousedown()／mouseup()イベント
    a.list-group-item(href='../jquery/166')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | mousedown()／mouseup()イベント課題
    a.list-group-item(href='../jquery/167')
        i.badge.badge-info
        | mousemove()イベント
    a.list-group-item(href='../jquery/168')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | mousemove()イベン課題
    a.list-group-item(href='../jquery/169')
        i.badge.badge-info
        | フローティングウィンドウ
    a.list-group-item(href='../jquery/170')
        i.badge.badge-info
        | one()イベント
    a.list-group-item(href='../jquery/171')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | one()イベン課題
    a.list-group-item(href='../jquery/172')
        i.badge.badge-info
        | off()イベント
    a.list-group-item(href='../jquery/173')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | off()イベン課題
    a.list-group-item(href='../jquery/174')
        i.badge.badge-info
        | on()イベント
    a.list-group-item(href='../jquery/175')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | on()イベン課題
    a.list-group-item(href='../jquery/176')
        i.badge.badge-info
        | contextmenu()イベント
    a.list-group-item(href='../jquery/177')
        i.badge.badge-info
        i.glyphicon.glyphicon-bookmark
        | contextmenu()イベン課題
    a.list-group-item(href='../jquery/178')
        i.badge.badge-info
        | タブパネル
    a.list-group-item(href='../jquery/179')
        i.badge.badge-info
        | カルーセルパネル
    //-
        a.list-group-item(href='#')
            i.badge.badge-info
            | setInterval関数 (参考)
        a.list-group-item(href='#')
            i.badge.badge-info
            | setTimeout関数 (参考)
    a.list-group-item(href='../jquery/183')
        i.badge.badge-info
        | scroll()イベント
    a.list-group-item(href='../jquery/184')
        i.badge.badge-info
        | ページ最下部でイベントを発生させる
    a.list-group-item(href='../jquery/185')
        i.badge.badge-info
        | resize()イベント
    a.list-group-item(href='../jquery/186')
        i.badge.badge-info
        | リサイズ終了時にイベントを発生させる
    a.list-group-item(href='../jquery/187')
        i.badge.badge-info
        | keyDown()イベント／keyUp()イベント
    a.list-group-item(href='../jquery/188')
        i.badge.badge-info
        | keyDown()イベント／keyUp()イベント課題
    a.list-group-item(href='../jquery/189')
        i.badge.badge-info
        | val()メソッド①
    a.list-group-item(href='../jquery/190')
        i.badge.badge-info
        | val()メソッド②
    a.list-group-item(href='../jquery/191')
        i.badge.badge-info
        | focus()イベント
    a.list-group-item(href='../jquery/192')
        i.badge.badge-info
        | blur()イベント
    a.list-group-item(href='../jquery/193')
        i.badge.badge-info
        | change()イベント
    a.list-group-item(href='../jquery/194')
        i.badge.badge-info
        | submit()イベント①
    a.list-group-item(href='../jquery/195')
        i.badge.badge-info
        | submit()イベント②
    a.list-group-item(href='../jquery/182')
        i.badge.badge-info
        | バリデーション付きメールフォーム
    a.list-group-item(href='../demo/jquery/exercise199/index1.html')
        i.badge.badge-info
        | メールフォーム課題