nav.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  .collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li
        a(href='1') jQuery
      li
        a(href='../jqueryui/1') jQuery UI
      li
        a(href='../jqm/1') jQuery Mobile
    ul.nav.navbar-nav.navbar-right
      li
        a(href='http://jquery.com/download/',target='_blank') DL
      li
        a(href='http://api.jquery.com/',target='_blank') API
      li
        a(href='http://semooh.jp/jquery/',target='_blank') 日本語リファレンス
