!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:less
	body
		nav.navbar.navbar-default
			div.navbar-header
				button.navbar-toggle(data-toggle='collapse',data-target='.target')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/')=title
			div.collapse.navbar-collapse.target
				ul.nav.navbar-nav
					li.active
						a(href='jqm-1') JQM
				ul.nav.navbar-nav.navbar-right
					li
						a(href="http://jquerymobile.com/",target="_blank") JQM
		div.container
			div.row
				div.col-sm-3
				div.col-sm-6
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')