!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:stylus
	body
		nav.navbar.navbar-default
			div.navbar-header
				button.navbar-toggle(data-toggle='collapse',data-target='.target')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/')=title
			div.collapse.navbar-collapse.target
				ul.nav.navbar-nav
					li.active
						a(href='jqm-1') JQM
				ul.nav.navbar-nav.navbar-right
					li
						a(href="http://jquerymobile.com/",target="_blank") JQM
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;jQuery MobileのUIをリフレッシュ
						div.panel-body
							pre.prettyprint.linenums
								| Textarea fields
								| 
								| $('body').prepend('&lt;textarea id="myTextArea"&gt;&lt;/textarea&gt;');
								| $('#myTextArea').textinput();
							pre.prettyprint.linenums
								| Text input fields
								| 
								| $('body').prepend('&lt;input type="text" id="myTextField" /&gt;');
								| $('#myTextField').textinput();
							pre.prettyprint.linenums
								| Buttons
								| 
								| $('body').append('&lt;a href="" data-theme="e" id="myNewButton"&gt;testing&lt;/a&gt;');
								| $('#myNewButton').button();
							pre.prettyprint.linenums
								| Combobox or select dropdowns
								| 
								| &lt;label for="sCountry"&gt;Country:&lt;/label&gt;
								| &lt;select name="sCountry" id="sCountry"&gt;
								| 	&lt;option value=""&gt;Where You Live:&lt;/option&gt;
								| 	&lt;option value="ad"&gt;Andorra&lt;/option&gt;
								| 	&lt;option value="ae"&gt;United Arab Emirates&lt;/option&gt;
								| &lt;/select&gt;
								| 
								| var myselect = $("#sCountry");
								| myselect[0].selectedIndex = 3;
								| myselect.selectmenu('refresh');
							pre.prettyprint.linenums
								| Listviews
								| 
								| &lt;ul id="myList" data-role="listview" data-inset="true"&gt;
								| 	&lt;li&gt;Acura&lt;/li&gt;
								| 	&lt;li&gt;Audi&lt;/li&gt;
								| 	&lt;li&gt;BMW&lt;/li&gt;
								| &lt;/ul&gt;
								|  
								| $('#mylist').listview('refresh');
							pre.prettyprint.linenums
								| Slider control
								| 
								| &lt;div data-role="fieldcontain"&gt;
								| 	&lt;label for="slider-2"&gt;Input slider:&lt;/label&gt;
								| 	&lt;input type="range" id="slider-2" value="25" min="0" max="100" /&gt;
								| &lt;/div&gt;
								| 
								| $('#slider-2').val(80).slider('refresh');
							pre.prettyprint.linenums
								| Toggle switch
								| 
								| &lt;div data-role="fieldcontain"&gt;
								| 	&lt;label for="toggle"&gt;Flip switch:&lt;/label&gt;
								| 	&lt;select name="toggle" id="toggle" data-role="slider"&gt;
								| 		&lt;option value="off"&gt;Off&lt;/option&gt;
								| 		&lt;option value="on"&gt;On&lt;/option&gt;
								| 	&lt;/select&gt; 
								| &lt;/div&gt;
								| 
								| var myswitch = $("#toggle");
								| myswitch[0].selectedIndex = 1;
								| myswitch .slider("refresh");
							pre.prettyprint.linenums
								| Radio buttons
								| 
								| &lt;div data-role="fieldcontain"&gt;
								|     &lt;fieldset data-role="controlgroup" data-type="horizontal"&gt;
								|      	&lt;legend&gt;Layout view:&lt;/legend&gt;
								|          	&lt;input type="radio" name="radio-view" value="list"  /&gt;
								|          	&lt;label for="radio-view-a"&gt;List&lt;/label&gt;
								|          	&lt;input type="radio" name="radio-view" value="grid"  /&gt;
								|          	&lt;label for="radio-view-b"&gt;Grid&lt;/label&gt;
								|          	&lt;input type="radio" name="radio-view" value="gallery"  /&gt;
								|          	&lt;label for="radio-view-c"&gt;Gallery&lt;/label&gt;
								|     &lt;/fieldset&gt;
								| &lt;/div&gt;
								| 
								| $("input[value=grid]").attr('checked',true).checkboxradio('refresh');
							pre.prettyprint.linenums
								| Checkboxes
								| 
								| &lt;div data-role="fieldcontain"&gt;
								| 	&lt;fieldset data-role="controlgroup"&gt;
								| 		&lt;legend&gt;Agree to the terms:&lt;/legend&gt;
								| 		&lt;input type="checkbox" name="checkbox-1" id="checkbox-1" class="custom" /&gt;
								| 		&lt;label for="checkbox-1"&gt;I agree&lt;/label&gt;
								| 	&lt;/fieldset&gt;
								| &lt;/div&gt;
								| 
								| $('#checkbox-1').attr('checked',true).checkboxradio('refresh');
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')