extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    body
        include ../mobile/navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            &nbsp;jQuery Mobile資料
                        .panel-body
                            pre.
                                公式サイト
                                http://jquerymobile.com/

                                デモページ
                                http://jquerymobile.com/demos/

                                ドキュメント
                                http://api.jquerymobile.com/

                            pre.
                                jQuery Mobile Gallery
                                http://www.jqmgallery.com/

                                Android/iPhone/Windows Phone対応 jQuery Mobileスマートフォンアプリ開発 
                                http://okamototk.github.io/jqmbook-sample/
                            pre.
                                テーマローラー
                                http://themeroller.jquerymobile.com/
                            pre.
                                ツール
                                Codiqa
                                https://codiqa.com/

                                Crafted
                                http://crafted.io/
                            pre.
                                モバイルフレームワーク

                                jqMobi
                                http://www.jqmobi.com/

                                Sencha Touch 2
                                http://www.extjs.co.jp/products/touch/

                                Lungo
                                http://lungo.tapquo.com/

                                jqT
                                http://jqtjs.com/

                                iScroll
                                http://cubiq.org/iscroll-4

                                Wink Toolkit
                                http://www.winktoolkit.org/

                            pre.
                                プラグイン
                                DateBox
                                http://dev.jtsage.com/jQM-DateBox/

                                mobiscroll
                                https://code.google.com/p/mobiscroll/

                                Pagenation
                                http://filamentgroup.com/lab/jquery_mobile_pagination_plugin/

                                Photo Swipe
                                http://www.photoswipe.com/

                                jquery-ui-map
                                https://code.google.com/p/jquery-ui-map/

                                Bartender
                                http://www.stokkers.mobi/valuables/bartender.html

                                iScrill4
                                http://cubiq.org/iscroll-4

                                gShake
                                https://github.com/GerManson/gShake

                                Glyphish
                                http://www.glyphish.com/

                                iOS Inspired jQuery Mobile Theme
                                http://taitems.tumblr.com/post/7240874402/ios-inspired-jquery-mobile-theme-jquery-mobile

                                http://taitems.tumblr.com/post/7240874402/ios-inspired-jquery-mobile-theme-jquery-mobileubble

                                http://taitems.github.io/iOS-Inspired-jQuery-Mobile-Theme/
                                
                                jquery-mibile-android-theme
                                https://github.com/jjoe64/jquery-mobile-android-theme

                                Bootstrap風テーマ
                                https://github.com/commadelimited/jQuery-Mobile-Bootstrap-Theme

                                jquery-mobile-bookmark-bubble
                                https://github.com/okamototk/jqm-mobile-bookmark-bubble
                                
                                Touch Gallery
                                http://neteye.github.io/touch-gallery.html

                                FlexSlider2
                                http://flexslider.woothemes.com/