.list-group
    a.list-group-item(href='1')
      i.badge.badge-info
      | 資料
    a.list-group-item(href='2')
      i.badge.badge-info
      | リフレッシュ
    a.list-group-item(href='#')
          i.badge.badge-info
          | ページイベント