doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        title
    body
        canvas#myCanvas(width='500',height='500')
        script
            :js
                (function(){
                    var canvas = document.getElementById('myCanvas');
                    var context = canvas.getContext('2d');
                    //context.fillRect(x, y, width, height);
                    context.fillRect(40, 40, 100, 100);
                })()