doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=device-width, initial-scale=1.0')
        title
    body
        canvas#myCanvas(width='500',height='500')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script
            :js
                (function(){
                    $(function(){
                        var canvas = $('#myCanvas').get(0);
                        var context = canvas.getContext('2d');

                        context.fillRect(40, 40, 100, 100);

                        context.beginPath();
                        context.arc(230, 90, 50, 0, Math.PI*2, false);
                        context.closePath();
                        context.fill();

                        context.clearRect(180, 40, 100, 100);
                    });
                })()