<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/css/common.css" rel="stylesheet" media="screen">
  </head>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
 
 
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-4">
        	<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">Android環境構築</h3>
				</div>
				<div class="panel-body">
				内容
				</div>
			</div>
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">phonegap</h3>
				</div>
				<div class="panel-body">
				<a href="material/phonegap-1">phonegapの設定</a>
				</div>
			</div>
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">HOSTINGサービス</h3>
				</div>
				<div class="panel-body">
				<a href="material/phonegap-1">内容</a>
				</div>
			</div>
        </div>
        <div class="col-sm-4">

			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">Zen Coding / Emmet</h3>
				</div>
				<div class="panel-body">
				内容
				</div>
			</div>
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">Vagrant</h3>
				</div>
				<div class="panel-body">
				<a href="material/vagrant-1">vagrantの使い方</a>
				</div>
			</div>
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">Vim</h3>
				</div>
				<div class="panel-body">
				内容
				</div>
			</div>
      </div>
        <div class="col-sm-4">
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">Git</h3>
				</div>
				<div class="panel-body">
<pre>

msysgit（Win）
https://code.google.com/p/msysgit/

Git for OSX（Mac）
https://code.google.com/p/git-osx-installer/

GitHub for Windows（Win）
http://windows.github.com

GitHub for Mac（Mac）
http://mac.github.com

</pre>
				</div>
			</div>
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">GitHub</h3>
				</div>
				<div class="panel-body">
				内容
				</div>
			</div>
			<div class="panel panel-default panel-primary">
				<div class="panel-heading">
				<h3 class="panel-title">Heroku</h3>
				</div>
				<div class="panel-body">
				内容
				</div>
			</div>
        </div>
      </div>
    </div>
    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>