doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		p
			-for(var i = 0; i < 5; i++)
				input(type='button',value='iframe#{i+1}',title='img/image#{i+1}.png')
			input(type='button',value='全部')
		p
			-for(var i = 0; i < 5; i++)
				iframe(src='img/image#{i+1}.png',width="200",height="200",)
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
