/* @override http://osscafe.site/style/screen.css */

/* @group basics */
body { margin:0; padding:0; color:#000; min-width:1002px; background:#F09B24; font:normal normal 14px "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","Meiryo","メイリオ","ＭＳ Ｐゴシック",sans-serif }
a { text-decoration:none; color:#336699 }
a:hover { text-decoration:underline }
img { border:0; }
/* @end */

/* @group header */
#header { width:100%; margin:0; padding:0; text-align:center; background:url(images/header-bg.png) repeat-x center }
#header div.center { width:1002px; height:22px; margin:0 auto; padding:0; background:url(images/header-center-bg.png) }
/* @end */

/* @group body */
#body { margin:0; padding:0; text-align:center; background:url(images/body-bg.jpg) center top }
#body div.center { width:1002px; margin:0 auto; padding:0; min-height:900px; text-align:left; background:none; position:relative; background:url(images/body-center-bg.jpg) repeat-y 0 450px }

/* @group Facebook and Tumblr */
#body h2.facebook,
#body h2.tumblr { margin:0 0 15px; padding:0; text-indent:10px; line-height:54px; background:no-repeat; color:#333; font-size:14px }
#body h2.facebook { background-image:url(images/h2-facebook.png) }
#body h2.tumblr { background-image:url(images/h2-tumblr.png) }
#body div.facebook { margin:20px 0 ; }
#body div.facebook div { padding:10px 10px 20px; margin:0 0 10px 50px; border-top:2px solid #AAA; clear:both; }
#body div.facebook div.date { padding:5px 2px 5px 0; margin:0 0 -32px -20px; color:#FFF; font-size:12px; background:#2B1917; width:68px; height:20px; line-height:20px; text-align:right; }
#body div.facebook h3 { font-size:14px; margin:0 0 5px; line-height:1.3em; border-bottom:2px dotted #999; }
#body div.facebook p { margin:0; }
#body div.facebook div.photo img { float:right; margin-bottom:10px; border:4px solid #FFF; box-shadow:0 0 2px #333; -moz-box-shadow:0 0 2px #333; -webkit-box-shadow:0 0 2px #333 }
#body div.facebook div.photo h3,
#body div.facebook div.photo p { margin-right:150px; }
#body div.tumblr { margin:0 0 20px; }
#body div.tumblr div { padding:10px 10px 20px; margin:0 0 10px; border-bottom:2px solid #AAA; }
#body div.tumblr h3 { font-size:14px; margin:0 0 5px; line-height:1.3em; border-bottom:2px dotted #999; }
#body div.tumblr p { margin:0; }
#body div.tumblr p.info { color:#999; }
/* @end */

/* @group billboard */
#body div.billboard {
margin:0; padding:0; height:470px; background:url(images/billboard-bg.png) no-repeat center top; position:relative }
#body div.billboard h1,
#body div.billboard p.description { display:none }
#body div.billboard p.twitter { position:absolute; top:290px; left:5px; width:350px; height:30px; margin:0; padding:0; text-align:center }
#body div.billboard ul.menu { position:absolute; top:364px; left:0; width:1002px; height:106px; margin:0; padding:0; background:url(images/menu-bg.png) no-repeat center top }
#body div.billboard ul.menu li { width:115px; height:68px; padding:38px 0 0 85px; float:left; list-style:none; font-size:12px; font-weight:bold; line-height:16px }
#body div.billboard ul.menu li.status,
#body div.billboard ul.menu li.counter { width:200px; height:50px; padding:50px 0 0 0; text-align:center; font-size:24px; font-family:"century gothic",verdana,arial,helvetica,sans-serif; font-weight:normal; }

/* @group picasa */
div#picasa { position:absolute; right:28px; top:21px; width:620px; height:320px }
div#picasa div.frame { width:600px; height:300px; padding:10px; }
div#picasa div.crop { position:relative; width:600px; height:300px; margin:0; padding:0; overflow:hidden }
div#picasa div.crop img { position:absolute; left:-10px; top:-10px }
div#picasa div.thumbs { position:absolute; bottom:15px; right:15px }
div#picasa div.thumbs a { margin-right:3px; padding:4px; float:left; display:inline; background:#FFF; border:1px solid #CCC; line-height:0; cursor:pointer; }
div#picasa div.thumbs a:hover { border:1px solid #439AC6; background:#C7E3F1 }
/* @end */

/* @end */

/* @group main */
#body div.main { float:left; display:inline; margin:0; padding:20px; width:560px }
/* @end */

/* @group sub */
#body div.sub {
margin:0; padding:20px; width:360px; line-height:1.5em; color:#333; float:right }
/* @end */

/* @end */

/* @group footer */
#footer { width:100%; margin:0; padding:0; text-align:center; border-top:1px dotted #301F07; }
#footer div.center { width:1002px; margin:0 auto; padding:0 0 100px; position:relative }
#footer p.cognitom { position:absolute; width:150px; height:50px; left:427px; bottom:15px; text-indent:-9999px; background:url(images/logo-cognitom.png) no-repeat center }
#footer p.copyright { position:absolute; right:0; bottom:15px; font-size:12px; color:#301F07 }
/* @end */

/* @group clearfix */
#body div.center:after,
#body div.billboard ul.menu:after,
#body div.billboard #picasa div.thumbs:after,
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; line-height:0; height:0 }
/* @end */
