doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0')
        title あなたの街の、くつろぎ空間。 | SMART CAFE
        link(rel='stylesheet',href='css/styles73.css')
    body
        //Facebook「いいね！」ボタン読み込み用コード start
        #fb-root
        script.
            (function(d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/ja_JP/all.js#xfbml=1&appId=167827773342542";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        //Facebook風表示メニュー
        nav#navigation
            ul
                li: a(href='#') メニュー
                li: a(href='#') お知らせ
                li: a(href='#') 店舗情報
                li: a(href='#') 企業情報
                li: a(href='#') 採用情報
                li: a(href='#') 豆の通販
                li: a(href='#') STAFFブログ
                li: a(href='#') お問い合わせ
        //通常のコンテンツ
        #wrapper

            //#header
            header#header
                a.menu_btn(href='#')
                    .sprite MENU
                h1.logo
                    span.sprite SMART CAFE
                    
            //#container
            #container
                //main_visual_box
                .main_visual_box
                    #main_visual.item
                        .catch_area
                            p.main_catch あなたの街の、<br>くつろぎ空間。
                            p.text 本場イタリア仕込みの料理でお腹を満たしたら、バリスタが厳選したエスプレッソで最高のひとときを
                        .vis.first
                            img.fluid_img(src='images/main_visual_01.jpg',alt='')
            
                //limited_menu start
                section#limited_menu.main_section
                    h1.heading_style01
                        | LIMITED MENU
                        span 期間限定メニュー
                    ul.cf
                        li: a(href='#')
                            .box
                                figure
                                    img.fluid_img(src='images/limited_menu_01.jpg',alt='')
                                p.name ローストビーフと<br>チェダーチーズのサンド
                        li: a(href='#')
                            .box
                                figure
                                    img.fluid_img(src='images/limited_menu_02.jpg',alt='')
                                p.name ビターチョコレートの<br>ドルチェ
                        li: a(href='#')
                            .box
                                figure
                                    img.fluid_img(src='images/limited_menu_03.jpg',alt='')
                                p.name 焼き茄子とバジルの<br>アラビアータ
                        li: a(href='#')
                            .box
                                figure
                                    img.fluid_img(src='images/limited_menu_04.jpg',alt='')
                                p.name ホワイト<br>カフェマッキアート
                    a.btn_type01(href='#')
                        div 全てのメニューを見る

                //#news start
                section#news.main_section
                    h1.heading_style02
                        | NEWS
                        span お知らせ
                    ul.box_list
                        li: a(href='#')
                            article
                                figure: img(src='images/news_01.jpg',alt='',width='70',height='70')
                                div
                                    h2 新店舗情報
                                    time(datetime='2012-12-12') 2012.12.12
                                    p.text CAFE SMARTの新店舗が吉祥寺に新オープン!!駅から3分の好アクセス!!
                        li: a(href='#')
                            article
                                figure: img(src='images/news_02.jpg',alt='',width='70',height='70')
                                div
                                    h2 コロンビア豆入荷しました
                                    time(datetime='2012-12-09') 2012.12.09
                                    p.text 深くコクのある苦味が特徴のコロンビア産豆を入荷しました!この機会に是非★
                        li: a(href='#')
                            article
                                //figure: img(src='',alt='',width='70',height='70')
                                div
                                    h2 新メニュー情報
                                    time(datetime='2012-12-01') 2012.12.01
                                    p.text 12月よりメニューが一新!新しいドリンクとケーキを是非ご賞味ください!!
                        li: a(href='#')
                            article
                                figure: img(src='images/news_03.jpg',alt='',width='70',height='70')
                                div
                                    h2 新店舗情報
                                    time(datetime='2012-12-12') 2012.12.12
                                    p.text CAFE SMARTの新店舗が吉祥寺に新オープン!!駅から3分の好アクセス!!
                        li: a(href='#')
                            article
                                figure: img(src='images/news_01.jpg',alt='',width='70',height='70')
                                div
                                    h2 コロンビア豆入荷しました
                                    time(datetime='2012-12-09') 2012.12.09
                                    p.text 深くコクのある苦味が特徴のコロンビア産豆を入荷しました!この機会に是非★
                        li: a(href='#')
                            article
                                //figure: img(src='',alt='',width='70',height='70')
                                div
                                    h2 新メニュー情報
                                    time(datetime='2012-12-01') 2012.12.01
                                    p.text 12月よりメニューが一新!新しいドリンクとケーキを是非ご賞味ください!!
                    a.btn_type02(href='#')
                        div お知らせをもっと見る

                //#main_navigation start
                nav#main_navigation.main_section
                    ul
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title メニュー
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title 採用情報
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title お知らせ
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title 豆の通販
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title 店舗情報
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title STAFFブログ
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title 企業情報
                        li: a(href='#')
                            div
                                span.icon: span.sprite &#160;
                                span.title お問い合わせ
                //#sns_link_list start
                section#sns_link_list.main_section
                    h1.heading_style03 CAFE SMART 公式
                    ul.tableview_list
                        li.twitter: a(href='')
                            div Twitter
                        li.facebook: a(href='')
                            div Facebook
                        li.mixi: a(href='')
                            div mixi
                //#sns_btn_list start
                #sns_btn_list.cf
                    .fb-like(data-href="http://www.facebook.com/mjwavecom",data-send="false",data-layout="box_count",data-width="76",data-show-faces="false")
                    .twt
                        a.twitter-share-button(href="https://twitter.com/share",data-count="vertical") Tweet
                        script.
                            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
                    .g-plusone(data-size="tall")
                    script.
                        window.___gcfg = {lang: 'ja'};
                        (function() {
                            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                            po.src = 'https://apis.google.com/js/plusone.js';
                            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                        })();
                    .line_send
                        a(href="http://line.naver.jp/R/msg/text/?%e7%bf%94%e6%b3%b3%e7%a4%be%e3%83%9b%e3%83%bc%e3%83%a0%e3%83%9a%e3%83%bc%e3%82%b8%20http%3a%2f%2fwww%2eshoeisha%2eco%2ejp")
                            img(src="images/linebutton_36x60.png",width="36",height="60",alt="LINEで送る")
                #top_of_page
                    a.btn_type03(href='')
                        div: span ページ上部へ

            //#footer
            footer#footer
                ul.device_toggle_link
                    li: a(href='#') PCサイト
                    li: a(href='#') スマホサイト
                p.copyright: small Copyright &copy; SMART CAFE
        script(src='http://code.jquery.com/jquery-2.1.0.min.js')
        script(src='js/slidenav73.js')