doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0')
        title あなたの街の、くつろぎ空間。 | SMART CAFE
        link(rel='stylesheet',href='css/styles25.css')
    body
        //#header
        header#header
            a.menu_btn(href='#')
                .sprite MENU
            h1.logo
                span.sprite SMART CAFE
                
        //#container
        #container
            //main_visual_box
            .main_visual_box
                #main_visual.item
                    .catch_area
                        p.main_catch あなたの街の、<br>くつろぎ空間。
                        p.text 本場イタリア仕込みの料理でお腹を満たしたら、バリスタが厳選したエスプレッソで最高のひとときを
                    .vis.first
                        img.fluid_img(src='images/main_visual_01.jpg',alt='')
        
            //limited_menu start
            section#limited_menu.main_section
                h1.heading_style01
                    | LIMITED MENU
                    span 期間限定メニュー
                ul.cf
                    li: a(href='#')
                        .box
                            figure
                                img.fluid_img(src='images/limited_menu_01.jpg',alt='')
                            p.name ローストビーフと<br>チェダーチーズのサンド
                    li: a(href='#')
                        .box
                            figure
                                img.fluid_img(src='images/limited_menu_02.jpg',alt='')
                            p.name ビターチョコレートの<br>ドルチェ
                    li: a(href='#')
                        .box
                            figure
                                img.fluid_img(src='images/limited_menu_03.jpg',alt='')
                            p.name 焼き茄子とバジルの<br>アラビアータ
                    li: a(href='#')
                        .box
                            figure
                                img.fluid_img(src='images/limited_menu_04.jpg',alt='')
                            p.name ホワイト<br>カフェマッキアート
                a.btn_type01(href='#')
                    div 全てのメニューを見る

        //#footer
        footer#footer フッター
        script(src='http://code.jquery.com/jquery-2.1.0.min.js')
