doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		ul
			for i in new Array(100)
				li テキストテキストテキストテキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
