prefix(prop, val)
	-webkit-{prop} val
	{prop} val
size()
	200px
img
	position fixed
	prefix('transition-property', all)	
	prefix('transition-duration', 500ms)
	prefix('transition-timing-function', ease-in-out)
	&#first
		top 0
		left 0
		width size()
		height @width
		margin-left 0
		margin-top 0
		z-index 4
		cursor pointer
	&#second
		top 0
		left size()
		width size()
		height @width
		z-index 1
	&#third
		top 0
		left size()*2
		width size()
		height @width
		z-index 2
	&#fourth
		top 0
		left size()*3
		width size()
		height @width
		z-index 3
