doctype xml
datalist
    dataset
        data_label A
        data_value 100
        data_color red
    dataset
        data_label B
        data_value 50
        data_color blue
    dataset
        data_label C
        data_value 120
        data_color yellow
    dataset
        data_label D
        data_value 80
        data_color green
    dataset
        data_label E
        data_value 150
        data_color orange
