doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		-for(var i = 0; i < 4; i++)
			p
				-for(var j = 0; j < 4; j++)
					| テキストテキストテキストテキスト
					-if(j != 3)
						br
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')