<%- include ../head %>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <ul class="nav nav-pills">
          <li><a href="diary-4">5月</a></li>
          <li><a href="diary-5">6月</a></li>
          <li><a href="diary-6">7月</a></li>
          <li><a href="diary-7">8月</a></li>
          <li><a href="diary-1">9月</a></li>
          <li><a href="diary-2">10月</a></li>
          <li class="active"><a href="diary-3">11月</a></li>
          </ul>

        </div>
        <div class="col-sm-12">
          <h3>訓練日誌11月分</h3>
          <h4><mark>※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。</mark></h4>


          <div class="panel panel-primary">
          <div class="panel-heading">11月1日（金）</div>
          <div class="panel-body">
            <h5>当番：板谷</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>里見 <i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>里見 <i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>里見 <i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>里見 <i class="badge badge-info">1</i> 日好 <i class="badge badge-info">4</i></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>里見 <i class="badge badge-info">1</i> 日好 <i class="badge badge-info">4</i></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>里見 <i class="badge badge-info">1</i> 日好 <i class="badge badge-info">4</i></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>里見 <i class="badge badge-info">1</i></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">11月5日（火）</div>
          <div class="panel-body">
            <h5>当番：山根</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>なし</td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">11月6日（水）</div>
          <div class="panel-body">
            <h5>当番：吉村</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>山根 <i class="badge badge-info">3</i> 板谷 <i class="badge badge-info">2</i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td>山根 <i class="badge badge-info">3</i> 板谷 <i class="badge badge-info">2</i></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td><山根 <i class="badge badge-info">3</i></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td><山根 <i class="badge badge-info">3</i> 水戸 <i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td><山根 <i class="badge badge-info">3</i> 水戸 <i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（アプリケーション開発）</td>
                <td>中野・時信</td>
                <td><山根 <i class="badge badge-info">3</i> 水戸 <i class="badge badge-info">1</i></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td><山根 <i class="badge badge-info">3</i></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">11月7日（木）</div>
          <div class="panel-body">
            <h5>当番：</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">11月8日（金）</div>
          <div class="panel-body">
            <h5>当番：</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">11月11日（月）</div>
          <div class="panel-body">
            <h5>当番：</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">11月12日（火）</div>
          <div class="panel-body">
            <h5>当番：</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>


          <div class="panel panel-primary">
          <div class="panel-heading">11月13日（水）</div>
          <div class="panel-body">
            <h5>当番：</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：総合演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-warning">
          <div class="panel-heading">11月14日（木）</div>
          <div class="panel-body">
            <h5>当番：</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>修了式</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>修了式</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>職業人講話⑥</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>


          <div class="panel panel-danger">
          <div class="panel-heading">11月15日（金）</div>
          <div class="panel-body">
          来所日（全17日）
          </div>
          </div>
                  
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>