include ../head2.jade
  body
    nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.target')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          =title
      .collapse.navbar-collapse.target
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://docs.google.com/forms/d/1jl3WCTjHZGvq1hkQcf0Zq9eDt_pr775Yn1qpOq4v2Zc/viewform',target='_blank') ステップアップシート
    .container
      .row
        .col-sm-12
          ul.nav.nav-pills
            li
              a(href='1') 11月
            li
              a(href='2') 12月
            li.active
              a(href='3') 1月
            li
              a(href='4') 2月
            li
              a(href='5') 3月
            li
              a(href='6') 4月
            li
              a(href='7') 5月

          h3 訓練日誌1月分
          h4
            mark ※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。
          .panel.panel-primary
            .panel-heading 1月7日（火）
            .panel-body
              h5 当番：後藤
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング応用概論①（リスト）
                  td 中野
                  td 井野
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（リスト）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（リスト）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング応用演習①（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td 井野
          .panel.panel-primary
            .panel-heading 1月8日（水）
            .panel-body
              h5 当番：村田
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング応用概論①（テーブル）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング応用演習①（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（レイアウト）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（レイアウト）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-primary
            .panel-heading 1月9日（木）
            .panel-body
              h5 当番：辻中
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング応用概論①（フロート）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フロート）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フロート）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング応用演習①（フロート）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フロート）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フロート）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-primary
            .panel-heading 1月10日（金）
            .panel-body
              h5 当番：渋武
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 職業能力基礎講習②（自分の強み、弱みの探索）
                  td 中野
                  td 井野
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（自分の強み、弱みの探索）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（聞く態度のレッスン）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（伝え方のレッスン）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（仕事の探し方）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（ホランドの六角形）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td 井野
    .footer=title
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='../js/google-code-prettify/prettify.js')
    script.
      prettyPrint();
    script(src='../js/bootstrap.min.js')
    script(src='../coffee/list-counter.js')