<%- include ../head %>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <ul class="nav nav-pills">
          <li><a href="diary-4">5月</a></li>
          <li><a href="diary-5">6月</a></li>
          <li><a href="diary-6">7月</a></li>
          <li><a href="diary-7">8月</a></li>
          <li><a href="diary-1">9月</a></li>
          <li class="active"><a href="diary-2">10月</a></li>
          <li><a href="diary-3">11月</a></li>
          </ul>

        </div>
        <div class="col-sm-12">
          <h3>訓練日誌10月分</h3>
          <h4><mark>※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。</mark></h4>

          <div class="panel panel-primary">
          <div class="panel-heading">10月1日（火）</div>
          <div class="panel-body">
            <h5>当番：宮本</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発応用演習（関数）</td>
                <td>中野・時信</td>
                <td>里見 <i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発応用演習（関数）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発応用演習（関数）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発応用演習（タイマー）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発応用演習（タイマー）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発応用演習（タイマー）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>なし</td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">10月2日（水）</div>
          <div class="panel-body">
            <h5>当番：吉松</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発応用演習（タイマー）</td>
                <td>中野・時信</td>
                <td>平松 <i class="badge badge-info">2</i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発応用演習（タイマー）</td>
                <td>中野・時信</td>
                <td>平松 <i class="badge badge-info">2</i></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発応用演習（タイマー）</td>
                <td>中野・時信</td>
                <td>平松 <i class="badge badge-info">2</i></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクト指向）</td>
                <td>中野・時信</td>
                <td>平松 <i class="badge badge-info">2</i></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクト指向）</td>
                <td>中野・時信</td>
                <td>平松 <i class="badge badge-info">2</i></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクト指向）</td>
                <td>中野・時信</td>
                <td>平松 <i class="badge badge-info">2</i></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>平松 <i class="badge badge-info">2</i></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">10月3日（木）</div>
          <div class="panel-body">
            <h5>当番：神野</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクト指向）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクト指向）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクト指向）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクトの拡張）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクトの拡張）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発応用演習（オブジェクトの拡張）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>なし</td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">10月4日（金）</div>
          <div class="panel-body">
            <h5>当番：平松</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：職業能力基礎講習⑦（SPI）</td>
                <td>中野・時信</td>
                <td>板谷・田中</td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：職業能力基礎講習⑦（SPI）</td>
                <td>中野・時信</td>
                <td>田中</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：職業能力基礎講習⑦（SPI）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：職業能力基礎講習⑦（SPI）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：職業能力基礎講習⑦（SPI）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：職業能力基礎講習⑦（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-danger">
          <div class="panel-heading">10月17日（木）</div>
          <div class="panel-body">
          来所日（全16日）
          </div>
          </div>

        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>