include ../head.jade
  body
    nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.target')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          =title
    .container
      .row
        .col-sm-12
          ul.nav.nav-pills
            li
              a(href='diary1.jade') 11月
            li
              a(href='diary2.jade') 12月
            li.active
              a(href='diary3.jade') 1月
            li
              a(href='diary4.jade') 2月
            li
              a(href='diary5.jade') 3月
            li
              a(href='diary6.jade') 4月
            li
              a(href='diary7.jade') 5月

          h3 訓練日誌1月分
          h4
            mark ※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。
    .footer=title
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/google-code-prettify/prettify.js')
    script.
      prettyPrint();
    script(src='js/bootstrap.min.js')
    script(src='coffee/list-counter.js')