<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./css/common.css" rel="stylesheet" media="screen">
  </head>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <ul class="nav nav-pills">
          <li><a href="diary-4">5月</a></li>
          <li><a href="diary-5">6月</a></li>
          <li class="active"><a href="diary-6">7月</a></li>
          <li><a href="diary-7">8月</a></li>
          <li><a href="diary-1">9月</a></li>
          <li><a href="diary-2">10月</a></li>
          <li><a href="diary-3">11月</a></li>
          </ul>

        </div>
        <div class="col-sm-12">
          <h3>訓練日誌7月分</h3>
          <h4><mark>※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。</mark></h4>
          <div class="panel panel-primary">
          <div class="panel-heading">9月17日</div>
          <div class="panel-body">
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>