include ../head2.jade
  body
    nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.target')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          =title
      .collapse.navbar-collapse.target
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://docs.google.com/forms/d/1jl3WCTjHZGvq1hkQcf0Zq9eDt_pr775Yn1qpOq4v2Zc/viewform',target='_blank') ステップアップシート
    .container
      .row
        .col-sm-12
          ul.nav.nav-pills
            li
              a(href='1') 11月
            li.active
              a(href='2') 12月
            li
              a(href='3') 1月
            li
              a(href='4') 2月
            li
              a(href='5') 3月
            li
              a(href='6') 4月
            li
              a(href='7') 5月

          h3 訓練日誌12月分
          h4
            mark ※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。
          .panel.panel-danger
            .panel-heading 12月01日（日）
            .panel-body
             | 
          .panel.panel-primary
            .panel-heading 12月02日（月）
            .panel-body
              h5 当番：渋武
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（外部コンテンツ）
                  td 中野
                  td 林
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（外部コンテンツ）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（外部コンテンツ）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td 林
          .panel.panel-primary
            .panel-heading 12月03日（火）
            .panel-body
              h5 当番：井野
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（テーブル）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-danger
            .panel-heading 12月04日（水）
            .panel-body
             | 就職活動日
          .panel.panel-primary
            .panel-heading 12月05日（木）
            .panel-body
              h5 当番：林
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（フォーム）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-primary
            .panel-heading 12月06日（金）
            .panel-body
              h5 当番：梅本
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（フォーム）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（フォーム）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（メタデータ）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（メタデータ）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（メタデータ）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-danger
            .panel-heading 12月07日（土）
            .panel-body
             | 
          .panel.panel-danger
            .panel-heading 12月08日（日）
            .panel-body
             | 
          .panel.panel-primary
            .panel-heading 12月09日（月）
            .panel-body
              h5 当番：岡崎
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（microdata）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（microdata）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（microdata）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（ogp）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（未対応ブラウザへの対応）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（Emmet）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
    .footer=title
    script(src='http://code.jquery.com/jquery.js')
    script(src='../js/google-code-prettify/prettify.js')
    script.
      prettyPrint();
    script(src='../js/bootstrap.min.js')
    script(src='../coffee/list-counter.js')