include ../head.jade
  body
    nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.target')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          =title
    .container
      .row
        .col-sm-12
          ul.nav.nav-pills
            li
              a(href='diary1.jade') 11月
            li.active
              a(href='diary2.jade') 12月
            li
              a(href='diary3.jade') 1月
            li
              a(href='diary4.jade') 2月
            li
              a(href='diary5.jade') 3月
            li
              a(href='diary6.jade') 4月
            li
              a(href='diary7.jade') 5月

          h3 訓練日誌12月分
          h4
            mark ※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。
          .panel.panel-danger
            .panel-heading 12月01日（日）
            .panel-body
             | 
          .panel.panel-primary
            .panel-heading 12月02日（月）
            .panel-body
              h5 当番：渋武
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（外部コンテンツ）
                  td 中野
                  td 林
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（外部コンテンツ）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（外部コンテンツ）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（テーブル）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td 林
    .footer=title
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/google-code-prettify/prettify.js')
    script.
      prettyPrint();
    script(src='js/bootstrap.min.js')
    script(src='coffee/list-counter.js')