<%- include ../head %>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-12">

          <ul class="nav nav-pills">
          <li><a href="diary-4">5月</a></li>
          <li><a href="diary-5">6月</a></li>
          <li><a href="diary-6">7月</a></li>
          <li><a href="diary-7">8月</a></li>
          <li class="active"><a href="diary-1">9月</a></li>
          <li><a href="diary-2">10月</a></li>
          <li><a href="diary-3">11月</a></li>
          </ul>

        </div>
        <div class="col-sm-12">
          <h3>訓練日誌9月分</h3>
          <h4><mark>※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。</mark></h4>

          <div class="panel panel-danger">
          <div class="panel-heading">9月16日（月）</div>
          <div class="panel-body">
          敬老の日
          </div>  
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">9月17日（火）</div>
          <div class="panel-body">
            <h5>当番：川上</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発基礎演習（JavaScriptのコンソール）</td>
                <td>中野・時信</td>
                <td>平松</td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発基礎演習（JavaScriptの出力）</td>
                <td>中野・時信</td>
                <td>平松</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発基礎演習（JavaScriptの出力）</td>
                <td>中野・時信</td>
                <td>平松</td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発基礎演習（JavaScriptのデータ型）</td>
                <td>中野・時信</td>
                <td>平松</td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発基礎演習（JavaScriptの変数）</td>
                <td>中野・時信</td>
                <td>平松</td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発基礎演習（計算アプリの作成）</td>
                <td>中野・時信</td>
                <td>平松</td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>平松</td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">9月18日（水）</div>
          <div class="panel-body">
            <h5>当番：西原</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発基礎演習（変数）</td>
                <td>中野・時信</td>
                <td>濱中・里見</td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発基礎演習（インクリメント／デクリメント）</td>
                <td>中野・時信</td>
                <td>濱中・里見</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発基礎演習（インクリメント／デクリメント）</td>
                <td>中野・時信</td>
                <td>濱中・里見</td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発基礎演習（条件分岐）</td>
                <td>中野・時信</td>
                <td>濱中・里見</td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発基礎演習（ユーザーエージェント）</td>
                <td>中野・時信</td>
                <td>濱中・里見</td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発基礎演習（サイトの振り分け）</td>
                <td>中野・時信</td>
                <td>濱中・里見</td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>濱中・里見</td>
              </tr>
            </table>
          </div>
        </div>

        <div class="panel panel-danger">
        <div class="panel-heading">9月19日（木）</div>
        <div class="panel-body">
        来所日（全17日）
        </div>
      </div>

        <div class="panel panel-danger">
        <div class="panel-heading">9月20日（金）</div>
        <div class="panel-body">
        就職活動日
        </div>  
        </div>

        <div class="panel panel-danger">
        <div class="panel-heading">9月23日（月）</div>
        <div class="panel-body">
        秋分の日
        </div>  
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">9月24日（火）</div>
          <div class="panel-body">
            <h5>当番：里見</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発基礎演習（条件分岐）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発基礎演習（Cookieの使い方）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発基礎演習（Cookieで振り分け）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発基礎演習（Web Storage）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発基礎演習（Switch文）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発基礎演習（三項演算子）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>なし</td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">9月25日（水）</div>
          <div class="panel-body">
            <h5>当番：日好</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発基礎演習（三項演算子）</td>
                <td>中野・時信</td>
                <td>川上　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発基礎演習（乱数の扱い）</td>
                <td>中野・時信</td>
                <td>川上　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発基礎演習（繰り返し構文）</td>
                <td>中野・時信</td>
                <td>川上　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発基礎演習（繰り返し構文）</td>
                <td>中野・時信</td>
                <td>川上　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発基礎演習（繰り返し構文）</td>
                <td>中野・時信</td>
                <td>川上　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発基礎演習（繰り返し構文）</td>
                <td>中野・時信</td>
                <td>川上　<i class="badge badge-info">1</i>　西原 <i class="badge badge-info">1</i></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>川上　<i class="badge badge-info">1</i></td>
              </tr>
            </table>
          </div>
        </div>
        
          <div class="panel panel-primary">
          <div class="panel-heading">9月26日（木）</div>
          <div class="panel-body">
            <h5>当番：西原</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発基礎演習（ランダム変数）</td>
                <td>中野・時信</td>
                <td>平松　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発基礎演習（繰り返し処理）</td>
                <td>中野・時信</td>
                <td>平松　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発基礎演習（繰り返し処理）</td>
                <td>中野・時信</td>
                <td>平松　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発基礎演習（配列）</td>
                <td>中野・時信</td>
                <td>平松　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発基礎演習（配列）</td>
                <td>中野・時信</td>
                <td>平松　<i class="badge badge-info">1</i></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発基礎演習（配列）</td>
                <td>中野・時信</td>
                <td>平松　<i class="badge badge-info">1</i></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>平松　<i class="badge badge-info">1</i></td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">9月27日（金）</div>
          <div class="panel-body">
            <h5>当番：水戸</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発基礎演習（配列）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発基礎演習（配列）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発基礎演習（）</td>
                <td>中野・時信</td>
                <td>なし</td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発基礎演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発基礎演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発基礎演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td>なし</td>
              </tr>
            </table>
          </div>
        </div>

          <div class="panel panel-primary">
          <div class="panel-heading">9月30日（月）</div>
          <div class="panel-body">
            <h5>当番：平松</h5>
            <table class="table">
              <tr>
                <th>時限</th>
                <th>内容</th>
                <th>講師名</th>
                <th>遅刻・早退・欠席者</th>
              </tr>
              <tr>
                <td>1</td>
                <td>実技：スマホアプリ開発応用演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>実技：スマホアプリ開発応用演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>実技：スマホアプリ開発応用演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>4</td>
                <td>実技：スマホアプリ開発応用演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>5</td>
                <td>実技：スマホアプリ開発応用演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
              <tr>
                <td>6</td>
                <td>実技：スマホアプリ開発応用演習（）</td>
                <td>中野・時信</td>
                <td></td>
              </tr>
            </table>
            <table class="table">
              <tr>
                <th>欠席者</th>
              </tr>
              <tr>
                <td></td>
              </tr>
            </table>
          </div>
        </div>


      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>