include ../head.jade
  body
    nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.target')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          =title
      .collapse.navbar-collapse.target
        ul.nav.navbar-nav.navbar-right
          li
            a(href='https://docs.google.com/forms/d/1jl3WCTjHZGvq1hkQcf0Zq9eDt_pr775Yn1qpOq4v2Zc/viewform',target='_blank') ステップアップシート
    .container
      .row
        .col-sm-12
          ul.nav.nav-pills
            li.active
              a(href='diary1.jade') 11月
            li
              a(href='diary2.jade') 12月
            li
              a(href='diary3.jade') 1月
            li
              a(href='diary4.jade') 2月
            li
              a(href='diary5.jade') 3月
            li
              a(href='diary6.jade') 4月
            li
              a(href='diary7.jade') 5月

          h3 訓練日誌11月分
          h4
            mark ※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。
          .panel.panel-primary
            .panel-heading 11月18日（月）
            .panel-body
              h5 当番：井野
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 入所式：職業人講話（就職についての心構え）
                  td 中野・浜渦
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（自己の現状把握）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（将来のヴィジョン）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 
                  td 
                  td 
                tr
                  td 5
                  td 
                  td 
                  td 
                tr
                  td 6
                  td 
                  td 
                  td 
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-primary
            .panel-heading 11月19日（火）
            .panel-body
              h5 当番：林
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：安全衛生（VDT症候群について）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（消火器の使い方）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（避難経路について）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 学科：インターネット基礎概論（Windowsの基本操作）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（〃）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（〃）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-primary
            .panel-heading 11月20日（水）
            .panel-body
              h5 当番：梅本
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（テキストエディターの使い方）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（HTMLの基礎）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-primary
            .panel-heading 11月21日（木）
            .panel-body
              h5 当番：岡崎
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（セクショニングコンテンツ）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（アウトラインの作り方）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-primary
            .panel-heading 11月22日（金）
            .panel-body
              h5 当番：西川
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（段落書式）
                  td 中野
                  td なし
                tr
                  td 2
                  td 〃
                  td 〃
                  td 
                tr
                  td 3
                  td 〃
                  td 〃
                  td 
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（段落書式）
                  td 〃
                  td 
                tr
                  td 5
                  td 〃（）
                  td 〃
                  td 
                tr
                  td 6
                  td 〃（）
                  td 〃
                  td 
              table.table
                tr
                  th 欠席者
                tr
                  td なし
          .panel.panel-danger
            .panel-heading 11月23日（土）
            .panel-body
             | 勤労感謝の日
          .panel.panel-danger
            .panel-heading 11月24日（日）
            .panel-body
             | 
          .panel.panel-primary
            .panel-heading 11月25日（月）
            .panel-body
              h5 当番：
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（）
                  td 中野
                  td なし
                tr
                  td 2
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td 
                tr
                  td 3
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td 
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;
                  td 
                tr
                  td 5
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td 
                tr
                  td 6
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td &nbsp;&nbsp;&nbsp;&nbsp;〃&nbsp;&nbsp;&nbsp;&nbsp;（）
                  td 
              table.table
                tr
                  th 欠席者
                tr
                  td 
          .panel.panel-primary
            .panel-heading 11月26日（火）
            .panel-body
              h5 当番：
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（）
                  td 中野
                  td なし
                tr
                  td 2
                  td 〃
                  td 〃
                  td 
                tr
                  td 3
                  td 〃
                  td 〃
                  td 
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（）
                  td 〃
                  td 
                tr
                  td 5
                  td 〃（）
                  td 〃
                  td 
                tr
                  td 6
                  td 〃（）
                  td 〃
                  td 
              table.table
                tr
                  th 欠席者
                tr
                  td 
          .panel.panel-danger
            .panel-heading 11月27日（水）
            .panel-body
             | 就職活動日
          .panel.panel-primary
            .panel-heading 11月28日（木）
            .panel-body
              h5 当番：
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（）
                  td 中野
                  td なし
                tr
                  td 2
                  td 〃
                  td 〃
                  td 
                tr
                  td 3
                  td 〃
                  td 〃
                  td 
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（）
                  td 〃
                  td 
                tr
                  td 5
                  td 〃（）
                  td 〃
                  td 
                tr
                  td 6
                  td 〃（）
                  td 〃
                  td 
              table.table
                tr
                  th 欠席者
                tr
                  td 
          .panel.panel-primary
            .panel-heading 11月29日（金）
            .panel-body
              h5 当番：
              table.table
                tr
                  th 時限
                  th 内容
                  th 講師名
                  th 遅刻・早退・欠席者
                tr
                  td 1
                  td 学科：Webプログラミング基礎概論①（）
                  td 中野
                  td なし
                tr
                  td 2
                  td 〃
                  td 〃
                  td 
                tr
                  td 3
                  td 〃
                  td 〃
                  td 
                tr
                  td 4
                  td 実技：Webプログラミング基礎演習①（）
                  td 〃
                  td 
                tr
                  td 5
                  td 〃（）
                  td 〃
                  td 
                tr
                  td 6
                  td 〃（）
                  td 〃
                  td 
              table.table
                tr
                  th 欠席者
                tr
                  td 
          .panel.panel-danger
            .panel-heading 11月30日（土）
            .panel-body
             | 
    div#footer=title
    script(src='http://code.jquery.com/jquery.js')
    script(src='js/google-code-prettify/prettify.js')
    script.
      prettyPrint();
    script(src='js/bootstrap.min.js')
    script(src='coffee/list-counter.js')