include ../head2.jade
  body
    nav.navbar.navbar-default
      .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.target')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          =title
    .container
      .row
        .col-sm-12
          ul.nav.nav-pills
            li
              a(href='1') 11月
            li
              a(href='2') 12月
            li
              a(href='3') 1月
            li
              a(href='4') 2月
            li
              a(href='5') 3月
            li.active
              a(href='6') 4月
            li
              a(href='7') 5月

          h3 訓練日誌4月分
          h4
            mark ※当番の人はゴミ捨てとゴミ袋の取り替えをお願いします。
    .footer=title
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='../js/google-code-prettify/prettify.js')
    script.
      prettyPrint();
    script(src='../js/bootstrap.min.js')
    script(src='../coffee/list-counter.js')