@import url(http://fonts.googleapis.com/css?family=Passion+One:400,700);

body	{margin: 0;
	padding: 0;
	background: #f2ebdc;}

/* ヘッダー */
body > header	{border-bottom: solid 1px #aaa;
	background: white;
	overflow: hidden;
	box-shadow: 0px 0px 6px #aaa;}

body > header #header_inner	{width: 1000px;
	margin: auto;}

body > header h1	{margin: 5px 0 0;
	line-height: 1;
	float: left;}

body > header h1 img	{vertical-align: bottom;
	height: 42px;}

/* ナビゲーション */
nav ul	{margin: 21px 0 0;
	padding: 0;
	float: right;}

nav li	{list-style-type: none;
	border-right: solid 1px #aaa;
	float: left;}

nav li a	{display: block;
	width: 120px;
	height: 22px;
	padding: 0;
	font-size: 14px;
	color: black;
	text-align: center;
	text-decoration: none;
	border-bottom: solid 4px transparent;}

nav li:first-child	{border-left: solid 1px #aaa;}

nav li a	{border-bottom: solid 4px #ffaa00;}

nav li a[href]	{border-bottom-color: transparent;}

nav li a:hover	{border-bottom: solid 4px red;}



/* メイン */
#main	{width: 1000px;
	margin: 30px auto 10px;
	overflow: hidden;}

/* コンテンツ */
#content	{width: 680px;
	float: left;}

#content > h1	{font-family: 'Passion One', Verdana, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: normal;
	margin: 0 0 5px 0;
	background-color: #f2ebdc;}


/* 記事 */
article	{border: solid 1px #aaa;
	background: white;
	margin: 0 0 20px 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;}

article a	{color: black;
	text-decoration: none;
	display: block;
	padding: 20px;}

article a:hover	{
	background: -webkit-gradient(linear,left top, left bottom, from(#ffffff), to(#d2bc8c));
	background: -webkit-linear-gradient(#ffffff 0%, #d2bc8c 100%);
	background: -moz-linear-gradient(#ffffff 0%, #d2bc8c 100%);
	background: -o-linear-gradient(#ffffff 0%, #d2bc8c 100%);
	background: -ms-linear-gradient(#ffffff 0%, #d2bc8c 100%);
	background: linear-gradient(#ffffff 0%, #d2bc8c 100%);
	}


article img	{float: left;
	margin: 0 20px 0 0;
	border: none;}

article h1	{font-size: 36px;
	font-weight: normal;
	margin: 0 0 8px;}

article time	{font-family: Verdana, Helvetica, sans-serif;}

article p	{text-align: left;
	margin: 20px auto 0;
	line-height: 1.4;}



/* サイドバー */
#sidebar	{width: 300px;
	float: right;}

aside	{border: solid 1px #aaa;
	background: white;
	margin: 0 0 20px 0;
	padding: 20px;}

aside h1	{border-bottom: solid 2px #d2bc8c;
	margin: 0;
	padding: 0 0 5px 0;
	font-family: 'Passion One', Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #8e702f;}

/* アイコンメニュー */
aside #iconmenu	{margin: 10px 0 0;
	padding: 0;}

aside #iconmenu li	{display: inline;
	list-style-type: none;}

aside #iconmenu img	{border: none;}

/* ランキングメニュー */
aside ol	{margin: 15px 0 0;
	padding: 0;}

aside ol li	{list-style-type: none;
	counter-increment: mycount;
	margin: 0 0 15px 0;}

aside ol li::before	{content: counter(mycount, decimal);
	background: #d2bc8c;
	padding: 3px 8px;
	margin: 0 8px 0 0;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: white;}

/* 最新記事メニュー */
aside ul	{margin: 15px 0 0 20px;
	padding: 0;}

aside ul li	{margin: 0 0 15px 0;
	color: #d2bc8c;}

aside a	{text-decoration: none;
	color: black;
	font-size: 14px;}


/* フッター */
footer	{width: 1000px;
	margin: auto;
	padding-bottom: 20px;
	clear: both;}
