doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		dl
			-for(var i = 0; i < 4; i++)
				dt メニューメニューメニューメニュー
				dd
					| 内容内容内容内容内容内容内容内容
					| 内容内容内容内容内容内容内容内容
					| 内容内容内容内容内容内容内容内容
					| 内容内容内容内容内容内容内容内容
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
