doctype
html(lang='ja-JP')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet',href='style.css')
    body
        input.blind(type='button', value='blind')
        p.blind
        hr
        input.clip(type='button', value='blind')
        p.clip
        hr
        input.drop(type='button', value='drop')
        p.drop
        hr
        input.explode(type='button', value='explode')
        p.explode
        hr
        input.fold(type='button', value='fold')
        p.fold
        hr
        input.puff(type='button', value='puff')
        p.puff
        hr
        input.pulsate(type='button', value='pulsate')
        p.pulsate
        hr
        input.scale(type='button', value='scale')
        p.scale
        hr
        input.slide(type='button', value='slide')
        p.slide
        hr
        input.bounce(type='button', value='bounce')
        p.bounce
        hr
        input.shake(type='button', value='shake')
        p.shake
        hr
        input.highlight(type='button', value='highlight')
        p.highlight
        hr
        input.size(type='button', value='size')
        p.size
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js')
        script(src='script.js')