prefix(prop, val)
    -webkit-{prop} val
    {prop} val

dl
    width 300px
    cursor pointer

dd
    position relative
    margin-left 0
    margin-bottom 20px

span
    display inline-block
    position absolute
    right 50%
    top 50%
    width 0px
    height 0px
    overflow hidden
    line-height 0
    text-align center
    border-radius 0%
    background-color pink
    prefix('transform', rotate(0deg))
    prefix('transition-property', all)  
    prefix('transition-duration', 500ms)
    prefix('transition-timing-function', ease-in-out)
    &.show
        right -30%
        top -30%
        width 50px
        height 50px
        border-radius 50%
        line-height 50px
        text-align center
        background-color red
        prefix('transform', rotate(360deg*10))