include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
				div.col-sm-6
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')