include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ボックスの種類
						.panel-body
							.alert.alert-info ボックスの種類
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
										| （※）
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p ※ 部分対応
							p IE7以前は部分対応
							pre
								| display: ボックスの種類
							p='ボックスの種類・・・inline／block／inline-block／list-item／run-in／inline-table／table-row-group／table-header-group／table-header-group／table-footer-group／table-row／table-column-group／table-column／table-cell／table-caption／none'
							table.table
								tr
									td 初期値
									td inline
								tr
									td 継承
									td なし
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Basic Box Model
							p='CSSでは、HTMLタグでマークアップした部分にボックスを構成します。ボックスはレイアウトをコントロールするための構造を持っていると同時に、CSSで定められたさまざまな機能をプロパティとして持っています。CSSによるページデザインは、この値をコントロールすることで実現することになります。'
							p='ただし、利用できるプロパティはボックスの種類によって決まります。ボックスの種類はdisplayプロパティの値として指定することができますが、HTML5では要素ごとのdisplayプロパティの値をデフォルトスタイルシートの形で提示しています。'
							pre(class='prettyprint linenums:1')
								| &lt;div&gt;
								| &lt;h1&gt;HAM SANDWICHES&lt;/h1&gt;
								| &lt;p&gt;焼きたての手作りパンで新鮮なハム…略…&lt;/p&gt;
								| &lt;/div&gt;
							p (jade)
							pre(class='prettyprint linenums:1')
								| div
								| 	h1 HAM SANDWICHES
								| 	p 焼きたての手作りパンで新鮮なハム…略…
							p
								a.btn.btn-default(href='demo/css/sample1/02/052-block.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')