include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;displayプロパティの特徴
						.panel-body
							.alert.alert-info displayプロパティの特徴
							pre
								:code
									block

									・幅と高さの概念がある
									・幅を指定してもfloatしないとあまった隙間に余白ができる
									・上下左右のmarginを設定できる
									・floatやpositionを指定しない限り、自動改行され上下に並ぶ
									・vertical-alignが無効で常に上揃え

									inline

									・幅と高さの概念がない
									・上下marginが無効、左右marginは有効
									・brで改行しない限り、テキストと同じように横並びになる
									・改行、タブ、半角スペースが要素の間に入っているとき、半角スペース1個分だけ表示される
									・vertical-alignが有効で隣り合うテキストやインライン要素との間で上下揃えが可能
									・パディング、罫線、マージンの大きさが行の高さに影響しない
									・パディング、罫線が親要素のボックスサイズに影響しない

									inline-block
									・inlineと同様に前後で改行されず横並びになる
									・brで改行しない限り、画像と同じように横並びになる
									・改行、タブ、半角スペースが要素の間に入っているとき、半角スペース1個分だけ表示される
									・block同様にwidth、height、上下左右のmarginが指定できる
									・vertical-alignによってボックス同士の上下揃えができる

									table-cell

									・table要素のth、td同様の表示になる
									・表組みのセル同様に一列に横並びになり高さが一番大きいものに合わせられる
									・vertical-alignが有効で要素内のコンテンツの上下揃えが可能

									その他のポイント
									・paddingはdisplayプロパティに関わらず全て有効になります。
									・上下マージンは親要素、子要素、子孫要素のうち、最大の値が有効になります。
									・左右マージンはdisplayプロパティ、親要素、子要素に関わらず全て有効になります。
									・上下マージンは上マージンは使わずに下マージンだけでデザインすると管理しやすくなります。

		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')