include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ロゴデザイン
						.panel-body
							.alert.alert-info ロゴデザイン
							p#logo1 Lightning
							style.
								#logo1{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color:#fff;
									background: #000;
									font-size: 52px;
									font-weight: bold;
									text-shadow: 0px 0px 1px #ffffff,
										0px 0px 10px #ffd700,
										0px 0px 20px #ffd700,
										0px 0px 30px #ffd700,
										0px 0px 40px #ffd700;
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color:#fff;
								| background: #000;
								| font-size: 52px;
								| font-weight: bold;
								| text-shadow: 0px 0px 1px #ffffff,
								| 	0px 0px 10px #ffd700,
								| 	0px 0px 20px #ffd700,
								| 	0px 0px 30px #ffd700,
								| 	0px 0px 40px #ffd700;
							p#logo2 Surface
							style.
								#logo2{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color:#000;
									background: #ccc;
									font-size: 45px;
									font-weight: bold;
									text-shadow: 1px 1px 0px #aaa,
									2px 2px 0px #aaa,
									3px 3px 0px #777;
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color:#000;
								| background: #ccc;
								| font-size: 45px;
								| font-weight: bold;
								| text-shadow: 1px 1px 0px #aaa,
								| 2px 2px 0px #aaa,
								| 3px 3px 0px #777;
							p#logo3 BURNING
							style.
								#logo3{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color: #fff;
									background: #000;
									font-size: 62px;
									font-weight: bold;
									text-shadow: 0 0 10px #fefcc9,
										5px  -5px 15px #feec85,
										-10px -10px 20px #ffae34,
										10px -20px 25px #ec760c,
										-10px -30px 30px #cd4606,
										0px -40px 35px #973716,
										5px -45px 40px #451b0e;
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color: #fff;
								| background: #000;
								| font-size: 62px;
								| font-weight: bold;
								| text-shadow: 0 0 10px #fefcc9,
								| 	5px  -5px 15px #feec85,
								| 	-10px -10px 20px #ffae34,
								| 	10px -20px 25px #ec760c,
								| 	-10px -30px 30px #cd4606,
								| 	0px -40px 35px #973716,
								| 	5px -45px 40px #451b0e;	
							p#logo4 Bevan
							style.
								#logo4{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color:#800000;
									background: #ffebcd;
									font-size: 52px;
									font-weight: bold;
									text-shadow: 2px 2px 0px #d2691e,
										2px 2px  0px #800000,
										2px 2px 10px #800000;
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color:#800000;
								| background: #ffebcd;
								| font-size: 52px;
								| font-weight: bold;
								| text-shadow: 2px 2px 0px #d2691e,
								| 	2px 2px  0px #800000,
								| 	2px 2px 10px #800000;
							p#logo5 3D Like
							style.
								#logo5{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color: rgba(0,255,255,.6);
									background:#000;
									font-size: 60px;
									font-weight: bold;
									text-shadow: 1px 1px rgba(0,128,255,.7),
										2px 2px rgba(0,128,255,.7),
										3px 3px rgba(0,128,255,.7),
										4px 4px rgba(0,128,255,.7),
										5px 5px rgba(0,128,255,.7),
										6px 6px rgba(0,128,255,.7),
										7px 7px rgba(0,128,255,.7),
										8px 8px rgba(0,128,255,.7),
										9px 9px rgba(0,128,255,.7),
										10px 10px rgba(0,128,255,.7);
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color: rgba(0,255,255,.6);
								| background:#000;
								| font-size: 60px;
								| font-weight: bold;
								| text-shadow: 1px 1px rgba(0,128,255,.7),
								| 	2px 2px rgba(0,128,255,.7),
								| 	3px 3px rgba(0,128,255,.7),
								| 	4px 4px rgba(0,128,255,.7),
								| 	5px 5px rgba(0,128,255,.7),
								| 	6px 6px rgba(0,128,255,.7),
								| 	7px 7px rgba(0,128,255,.7),
								| 	8px 8px rgba(0,128,255,.7),
								| 	9px 9px rgba(0,128,255,.7),
								| 	10px 10px rgba(0,128,255,.7);
							p#logo6 CLEAR
							style.
								#logo6{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color:rgba(255,0,0,.5);
									background:#fff;
									font-size: 62px;
									font-weight: bold;
									text-shadow: 5px 3px rgba(0,0,255,.5);
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color:rgba(255,0,0,.5);
								| background:#fff;
								| font-size: 62px;
								| font-weight: bold;
								| text-shadow: 5px 3px rgba(0,0,255,.5);
							p#logo7 Calligraffitti
							style.
								#logo7{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color: #bad3ed;
									background: #bad3ed;
									font-size: 52px;
									font-weight: bold;
									text-shadow: 0px 0px 1px #333,
										0px 0px  5px #333,
										0px 0px 10px #333;
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color: #bad3ed;
								| background: #bad3ed;
								| font-size: 52px;
								| font-weight: bold;
								| text-shadow: 0px 0px 1px #333,
								| 	0px 0px  5px #333,
								| 	0px 0px 10px #333;
							p#logo8 Webpak
							style.
								#logo8{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color: #ffffcc;
									background: #000;
									font-size: 60px;
									font-weight: bold;
									text-shadow: 3px 3px 0px #ff3333,
										6px  6px 0px #ff6633,
										9px  9px 0px #ff9933,
										12px 12px 0px #ffcc33,
										15px 15px 0px #ffff33;
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color: #ffffcc;
								| background: #000;
								| font-size: 60px;
								| font-weight: bold;
								| text-shadow: 3px 3px 0px #ff3333,
								| 	6px  6px 0px #ff6633,
								| 	9px  9px 0px #ff9933,
								| 	12px 12px 0px #ffcc33,
								| 	15px 15px 0px #ffff33;
							p#logo9 Emboss
							style.
								#logo9{
									text-align:center;
									height: 100px;
									line-height: 100px;
									color:#ccc;
									background:#ccc ;
									font-size: 60px;
									font-weight: bold;
									text-shadow: -1px -1px #fff,
										1px 1px #333;
								}
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| color:#ccc;
								| background:#ccc ;
								| font-size: 60px;
								| font-weight: bold;
								| text-shadow: -1px -1px #fff,
								| 	1px 1px #333;
							p#logo10 Google Font API
							style.
								@import url(http://fonts.googleapis.com/css?family=Slackey:regular);
								#logo10{
									text-align:center;
									height: 100px;
									line-height: 100px;
									font-family: 'Slackey', serif;
									color:#ffffff;
									font-size: 42px;
									font-weight: 700;
									text-shadow: 2px 2px 2px #333;
									background:-webkit-gradient(radial, 450 0, 10, 169 -257, 465, from(#fff800), to(#ff4f41));
								}
							pre
								| @import url(http://fonts.googleapis.com/css?family=Slackey:regular);
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| font-family: 'Slackey', serif;
								| color:#ffffff;
								| font-size: 42px;
								| font-weight: 700;
								| text-shadow: 2px 2px 2px #333;
								| background:-webkit-gradient(radial, 450 0, 10, 169 -257, 465, from(#fff800), to(#ff4f41));
						//-
							p#logo11 Josefin Sans
							style.
								@import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,100italic,300,300italic,400,400italic,600,600italic,700,700italic);
								#logo11{
									text-align:center;
									height: 100px;
									line-height: 100px;
									font-family: 'Josefin Sans', serif;
									color:#fff;
									font-size: 48px;
									font-weight: 400;
									text-shadow: 2px 2px 2px #fff;
									background:-webkit-gradient(radial, 540 56, 0, -202 -395, 528, from(#004b00), to(#00e700));
								}
							pre
								| @import url(http://fonts.googleapis.com/css?family=Josefin+Sans:100,100italic,300,300italic,400,400italic,600,600italic,700,700italic);
							pre
								| text-align:center;
								| height: 100px;
								| line-height: 100px;
								| font-family: 'Josefin Sans', serif;
								| color:#fff;
								| font-size: 48px;
								| font-weight: 400;
								| text-shadow: 2px 2px 2px #fff;
								| background:-webkit-gradient(radial, 540 56, 0, -202 -395, 528, from(#004b00), to(#00e700));
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')