include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;鏡像
						.panel-body
							.alert.alert-info 鏡像
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td.not-support
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							pre
								| box-reflect: 方向 オフセット マスク画像
							p
								方向・・・above ／ below ／ left ／ right
								オフセット・・・数値
								マスク画像・・・url()
							table.table
								tr
									td 初期値
									td -
								tr
									td 継承
									td なし
								tr
									td 適用先
									td ブロック要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td -
							p='box-reflectプロパティを利用すると、コンテンツを反転して鏡像を作ることができます。たとえば、<div>のbox-reflectプロパティの値を「right 10px」にすると、右方向に回転したものが10ピクセルの間隔をあけて表示されます。'
							hr
							h4 2Dトランスフォームで鏡像を表示する
							p='2Dトランスフォームの機能を利用して鏡像を表示することもできます。たとえば、横方向に反転する場合はtransformプロパティの値を「scaleX(-1)」にします。「scaleY(-1)」にすると縦方向に反転することも可能です。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')