include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;HTML要素の画像化
                        .panel-body
                            .alert.alert-info HTML要素の画像化
                            table.browser-support
                                tr
                                    td.not-support
                                        img(src='../images/ic-apple.png')
                                    td.not-support
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td.not-support
                                        img(src='../images/ic-safari.png')
                                    td.not-support
                                        img(src='../images/ic-chrome.png')
                                    td.not-support
                                        img(src='../images/ic-opera.png')
                                    td.not-support
                                        img(src='../images/ic-ie.png')
                            pre
                                | 〜: element(IDセレクタ)
                            p
                                | IDセレクタ・・・#id
                            table.table
                                tr
                                    td 初期値
                                    td -
                                tr
                                    td 継承
                                    td -
                                tr
                                    td 適用先
                                    td -
                                tr
                                    td 比率
                                    td -
                                tr
                                    td モジュール
                                    td Image Values and Replaced Content
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')