include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;インライン要素の背景画像
						.panel-body
							.alert.alert-info インライン要素の背景画像
							table.browser-support
								tr
									td.not-support
										img(src='../images/ic-apple.png')
									td.not-support
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td.not-support
										img(src='../images/ic-safari.png')
									td.not-support
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							pre
								| background-inline-policy: 表示スタイル
							p
								| 表示スタイル・・・continuous ／ each-box ／ bounding-box
							table.table
								tr
									td 初期値
									td continuous
								tr
									td 継承
									td なし
								tr
									td 適用先
									td インライン要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td -
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')