include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;OpenTypeフォントの字形
						.panel-body
							.alert.alert-info OpenTypeフォントの字形
							table.browser-support
								tr
									td.not-support
										img(src='../images/ic-apple.png')
									td.not-support
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td.not-support
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png') （※）
									td.not-support
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png') （※）
							p ※ 部分対応。
							p IE9以前は未対応。
							pre
								| font-feature-settings: 'タグ' インデックス
							pre
								| font-language-override: '言語システムタグ'
							p
								| タグ・・・dlig ／ smcp ／ fracなど<br>
								| インデックス・・・整数 ／ on ／ off<br>
								| 言語システムタグ・・・ZHS ／ ZHTなど
							table.table
								tr
									td 初期値
									td ブラウザの標準
								tr
									td 継承
									td あり
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Fonts
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')