include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;拡大処理のアルゴリズム
						.panel-body
							.alert.alert-info 拡大処理のアルゴリズム
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png') （※）
									td.not-support
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png') （※）
									td.not-support
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							p ※ 部分対応。
							p iOS5.x以前は未対応。
							pre
								| image-rendering: アルゴリズム
							p
								| アルゴリズム・・・auto ／ crisp-edges
							table.table
								tr
									td 初期値
									td auto
								tr
									td 継承
									td なし
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Image Values and Replaced Content
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')