include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ボックス内での画像の表示位置
						.panel-body
							.alert.alert-info ボックス内での画像の表示位置
							table.browser-support
								tr
									td.not-support
										img(src='../images/ic-apple.png')
									td.not-support
										img(src='../images/ic-android.png')
									td.not-support
										img(src='../images/ic-firefox.png')
									td.not-support
										img(src='../images/ic-safari.png')
									td.not-support
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							pre
								| object-position: 横方向の表示位置 縦方向の表示位置
							p
								| 横方向の表示位置・・・数値 ／ 比率 ／ left ／ center ／ right<br>
								| 縦方向の表示位置・・・数値 ／ 比率 ／ top ／ center ／ bottom
							table.table
								tr
									td 初期値
									td 50% 50%
								tr
									td 継承
									td なし
								tr
									td 適用先
									td 置換要素
								tr
									td 比率
									td ボックスの横幅と高さに対する比率
								tr
									td モジュール
									td Image Values and Replaced Content 
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')