include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;CSS資料
						.panel-body
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_css', target='_blank') CSS入門
							p
								a(href='http://dotinstall.com/lessons/basic_css3', target='_blank') CSS3入門
							p
								a(href='http://dotinstall.com/lessons/website_html', target='_blank') 実践！Webサイトを作ろう
							p
								a(href='http://dotinstall.com/lessons/responsive_html', target='_blank') レスポンシブなウエブサイトを作ろう
							//
								.alert.alert-info  HTML5
								p
									| HTML5公式ドキュメント
									br
									a(href='http://www.w3.org/TR/html5/',target='_blank')
										| http://www.w3.org/TR/html5/
								p W3Cがリリースしている規格です。W3Cの規格策定の手順に従って標準化の作業が進められており、2012年12月17日に勧告候補がリリースされました。これにより、新しい機能が追加されることはなくなり、安定した規格として実装が進められていくことになります。
								p ※HTML5の勧告候補では一部の要素が「リスクのある機能」としてリストアップされており、最終的な勧告からは除外される可能性があります。
								.alert.alert-info  HTML5.1
								p
									| HTML5.1公式ドキュメント
									br
									a(href='http://www.w3.org/TR/html51/',target='_blank')
										| http://www.w3.org/TR/html51/
									br
									a(href='http://dev.w3.org/html5/spec/Overview.html')
										| http://dev.w3.org/html5/spec/Overview.html
								p HTML5の次のバージョンとしてW3Cがリリースしている規格です。現在のところ、草案（Working Draft）とNightly（Editor's Draft）がリリースされています。
								.alert.alert-info  HTML Living Standard
								p
									| HTML5.1公式ドキュメント
									br
									a(href='http://whatwg.org/html',target='_blank')
										| http://whatwg.org/html
								p WHATWG（ワットダブルジー）がリリースしている規格です。最新の機能や提案をよりスピーディに規格に反映していくことを目指しており、頻繁に更新が行われています。なお、WHATWG（Web Hypertext Application Technology Working Group）は、AppleやMozilla、Operaによって設立されたグループです。
								table.table
									tr
										td 1989
										td WWWシステムの提案
									tr
										td 1990
										td 最初のWebサイトが登場
									tr
										td 1993
										td HTMLの草案リリース
									tr
										td 1995
										td HTML2.0 リリース
									tr
										td 1996
										td CSS1.0 リリース
									tr
										td 1997
										td
											| HTML3.2 リリース
											br
											| HTML4.0 リリース
									tr
										td 1998
										td CSS2.0 リリース
									tr
										td 1999
										td HTML4.01 リリース
									tr
										td 2000
										td XHTML1.0 リリース
									tr
										td 2002
										td XHTML1.0 (Second Edition) リリース
									tr
										td 2005
										td CSS3関連の草案 リリース
									tr
										td 2008
										td HTML5草案 リリース
									tr
										td 2011
										td CSS2.1 勧告リリース
									tr
										td 2012
										td HTML5 勧告候補リリース
								hr
								.alert.alert-info  レンダリングエンジン
								table.table
									tr
										td IE
										td Chrome
										td Firefox
										td Safari
										td Opera
									tr
										td
											| Trident
										td
											| Webkit
											br
											| Blink
										td
											| Gecko
											br
											| Servo
										td
											| Webkit
										td
											| Presto
											br
											| Webkit
											br
											| Blink
								hr
								.alert.alert-info HTML5情報サイト
								p
									| HTML5.jp
									br
									a(href='http://www.html5.jp/',target='_blank') http://www.html5.jp/
								p
									| Can I use...
									br
									a(href='http://caniuse.com/',target='_blank') http://caniuse.com/
								p
									| finemebyIP
									br
									a(href='http://fmbip.com/litmus/#html5',target='_blank') http://fmbip.com/litmus/#html5	
								hr
								.alert.alert-info HTMLバリデータ
								p
									| W3C Markup Validation Service
									br
									a(href='http://validator.w3.org/',target='_blank') http://validator.w3.org/
								p
									| Validator.nu (X)HTML5 Validator (Living Validator)
									br
									a(href='http://html5.validator.nu/',target='_blank') http://html5.validator.nu/
								p
									| Google構造化データテストツール
									br
									a(href='http://www.google.com/webmasters/tools/richsnippets?hl=ja',target='_blank')
										| http://www.google.com/webmasters/tools/richsnippets?hl=ja
								p
									| Bingマークアップバリデータ
									br
									a(href='http://www.bing.com/toolbox/markup-validator',target='_blank')
										| http://www.bing.com/toolbox/markup-validator
								hr
								.alert.alert-info アウトライン
								p
									| HTML5 Outliner
									br
									a(href='http://gsnedders.html5.org/outliner/',target='_blank')
										| http://gsnedders.html5.org/outliner/
								p
									| HTML5 OUtliner（Chromeアプリ）
									br
									a(href='https://chrome.google.com/webstore/detail/html5-outliner/afoibpobokebhgfnknfndkgemglggomo?utm_source=chrome-ntp-icon',target='_blank')
										| https://chrome.google.com/webstore/detail/html5-outliner/afoibpobokebhgfnknfndkgemglggomo?utm_source=chrome-ntp-icon
								hr
								.alert.alert-info URLエンコード／デコード
								p
									| URLエンコード・デコードフォーム
									br
									a(href='http://www.tagindex.com/tool/url.html',target='_blank')
										| http://www.tagindex.com/tool/url.html
								hr
								.alert.alert-info Flashプレイヤーの無効化（プラグインの設定画面）
								p
									| Google Chrome
									br
									a(href='chrome://plugins/',target='_blank') chrome://plugins/
								p
									| Firefox
									br
									a(href='about:plugins',target='_blank') about:plugins
								hr
								.alert.alert-info 試験運用設定画面
								p
									| Google Chrome
									br
									a(href='chrome://flags',target='_blank') chrome://flags
								p
									| Firefox
									br
									a(href='about:config',target='_blank') about:config
								.alert.alert-info FlashをCanvasに変換
								p
									| Google Swiffy
									br
									a(href='https://www.google.com/doubleclick/studio/swiffy/',target='_blank') https://www.google.com/doubleclick/studio/swiffy/
								p
									| SWF Animation Converter
									br
									a(href='http://mdlab.jp/app/sac/index.html',target='_blank') http://mdlab.jp/app/sac/index.html
								p
									| Sothink SWF Decompiler
									br
									a(href='http://www.sothink.com/product/flashdecompiler/',target='_blank') http://www.sothink.com/product/flashdecompiler/
								.alert.alert-info 軽量マークアップ言語
								p
									| Markdown
									br
									a(href='http://daringfireball.net/projects/markdown/',target='_blank')
										| http://daringfireball.net/projects/markdown/
								p
									| Jade
									br
									a(href='http://jade-lang.com/',target='_blank')
										| http://jade-lang.com/
								p
									| Haml
									br
									a(href='http://haml.info/',target='_blank')
										| http://haml.info/
								p
									| Slim
									br
									a(href='http://slim-lang.com/',target='_blank')
										| http://slim-lang.com/
								h4 ドットインストール
								p
									a(href='http://dotinstall.com/lessons/basic_haml', target='_blank') Haml入門 
								p
									a(href='http://dotinstall.com/lessons/basic_markdown', target='_blank') Markdown機能入門 
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')