include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp; 圏点の表示
						.panel-body
							.alert.alert-info  圏点の表示
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png') （※）
									td.not-support
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							p ※ 部分対応。
							p iOS4.x/Android3.x以前は未対応。Android4.xは部分対応
							pre
								| text-empahasis: スタイル 塗り 色
							pre
								| text-emphasis-style: スタイル 塗り
							pre
								| text-emphasis-color: 色
							p
								| スタイル・・・none ／ dot ／ circle ／ double-circle ／ triangle ／ sesame ／ 文字列<br>
								| 塗り・・・filled ／ open<br>
								| 色・・・色の値
							table.table
								tr
									td 初期値
									td none currentColor 
								tr
									td 継承
									td なし
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Text Decoration 
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')