include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp; 圏点の表示位置
						.panel-body
							.alert.alert-info  圏点の表示位置
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png') （※）
									td
										img(src='../images/ic-android.png') （※）
									td.not-support
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png') （※）
									td
										img(src='../images/ic-chrome.png') （※）
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							p ※ 部分対応。
							p iOS4.x/Android3.x以前は未対応。
							pre
								| text-emphasis-position: 横書きでの位置 縦書きでの位置
							table.table
								tr
									td 初期値
									td over right 
								tr
									td 継承
									td あり
								tr
									td 適用先
									td 全要素
								tr
									td 比率
									td -
								tr
									td モジュール
									td Text Decoration 
							p='text-emphasis-positionプロパティを利用すると、text-empahsisプロパティで表示した圏点の表示位置を指定することができます。横書きと縦書きでの表示位置をスペースで区切って指定しますが、省略して記述することはできません。'
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')