include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp; ルビの表示位置
						.panel-body
							.alert.alert-info  ルビの表示位置
							table.browser-support
								tr
									td.not-support
										img(src='../images/ic-apple.png')
									td.not-support
										img(src='../images/ic-android.png')
									td.not-support
										img(src='../images/ic-firefox.png')
									td.not-support
										img(src='../images/ic-safari.png')
									td.not-support
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png') （※）
							p ※ 部分対応。
							pre
								| ruby-position: 表示位置
							p
								| 表示位置・・・before ／ after ／ inline-character ／ inline
							table.table
								tr
									td 初期値
									td before 
								tr
									td 継承
									td あり
								tr
									td 適用先
									td displayの値が「ruby-text」な要素の親要
								tr
									td 比率
									td -
								tr
									td モジュール
									td Ruby
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')