include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp; カウンターの挿入
                        .panel-body
                            .alert.alert-info  カウンターの挿入
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            p IE7以前は未対応。
                            pre
                                | content: counter(カウンター名, スタイル)
                            pre
                                | content-increment: カウンター名 増減量
                            pre
                                | content-reset: カウンター名 開始番号
                            p
                                | カウンター名・・・文字列<br>
                                | 増減量・・・整数<br>
                                | 開始番号・・・整数<br>
                                | スタイル・・・none ／ disc ／ circle ／ square ／ decimal ／ lower-roman ／ upper-roman ／ lower-alpha ／ upper-alpha ／ decimal-leading-zero ／ lower-greek ／ lower-latin ／ upper-latin ／ armenian ／ georgian ／ hebrew ／ hiragana ／ katakana ／ hiragana-iroha ／ katakana-iroha
                            table.table
                                tr
                                    td 初期値
                                    td
                                        | カウンター名を指定していない場合：<br>
                                        |     content: normal<br>
                                        |     counter-increment: none<br>
                                        |     counter-reset: none<br>
                                        | カウンター名を指定した場合：<br>
                                        |     content: counter(カウンター名, decimal)<br>
                                        |     counter-increment: カウンター名 1<br>
                                        |     counter-reset: カウンター名 0
                                tr
                                    td 継承
                                    td content・・・なし　counter-increment / counter-reset・・・あり
                                tr
                                    td 適用先
                                    td 全要素
                                tr
                                    td 比率
                                    td -
                                tr
                                    td モジュール
                                    td Generated and Replaced Content
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')