.list-group
	a.list-group-item.active
		| 基本
.list-group
	a.list-group-item.active
		| レイアウト
	a.list-group-item(href='css1.jade')
		i.badge.badge-info
		| ボックスの種類
.list-group
	a.list-group-item.active
		| カラーアレンジと背景・罫線のデザイン
	a.list-group-item(href='css2.jade')
		i.badge.badge-info
		| 文字の色
.list-group
	a.list-group-item.active
		| コンテンツのデザイン
.list-group
	a.list-group-item.active
		| 特殊効果
.list-group
	a.list-group-item.active
		| インターフェース