.list-group
	a.list-group-item.active
		| 基本
	a.list-group-item(href='3')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='6')
		i.badge.badge-info
		| スタイルシートの利用
	a.list-group-item(href='5')
		i.badge.badge-info
		| セレクタ
	a.list-group-item(href='137')
		i.badge.badge-info
		| ロゴデザイン
.list-group
	a.list-group-item.active
		| レイアウト
	a.list-group-item(href='1')
		i.badge.badge-info
		| ボックスの種類
	a.list-group-item(href='111')
		i.badge.badge-info
		| マージンの挿入
	a.list-group-item(href='112')
		i.badge.badge-info
		| パディングの挿入
	a.list-group-item(href='113')
		i.badge.badge-info
		| 横幅と高さの指定
	a.list-group-item(href='114')
		i.badge.badge-info
		| 横幅と高さの最小値・最大値
	a.list-group-item(href='115')
		i.badge.badge-info
		| ボックスの配置と回り込み
	a.list-group-item(href='116')
		i.badge.badge-info
		| 回り込みの解除
	a.list-group-item(href='117')
		i.badge.badge-info
		| オーバーフローしたコンテンツの表示
	a.list-group-item(href='118')
		i.badge.badge-info
		| 構成したボックスの表示・非表示
	a.list-group-item(href='119')
		i.badge.badge-info
		| フレキシブルボックスレイアウト
	a.list-group-item(href='120')
		i.badge.badge-info
		| フレックスアイテムの可変設定
	a.list-group-item(href='121')
		i.badge.badge-info
		| フレックスアイテムの表示順
	a.list-group-item(href='122')
		i.badge.badge-info
		| フレキシブルボックスレイアウトの方向と改行
	a.list-group-item(href='123')
		i.badge.badge-info
		| フレキシブルボックスレイアウトの配置
	a.list-group-item(href='124')
		i.badge.badge-info
		| グリッドレイアウト
	a.list-group-item(href='125')
		i.badge.badge-info
		| マルチカラムレイアウト
	a.list-group-item(href='126')
		i.badge.badge-info
		| マルチカラムの段の間隔
	a.list-group-item(href='127')
		i.badge.badge-info
		| マルチカラムの段の区切り線
	a.list-group-item(href='128')
		i.badge.badge-info
		| マルチカラムの段にまたがる表示
	a.list-group-item(href='129')
		i.badge.badge-info
		| マルチカラムの段のバランス
	a.list-group-item(href='130')
		i.badge.badge-info
		| マルチカラムの改段・改ページ
	a.list-group-item(href='131')
		i.badge.badge-info
		| リージョンレイアウト
	a.list-group-item(href='132')
		i.badge.badge-info
		| ポジションレイアウト
	a.list-group-item(href='133')
		i.badge.badge-info
		| ボックスの重なり順
	a.list-group-item(href='134')
		i.badge.badge-info
		| コンテンツの表示範囲
	a.list-group-item(href='135')
		i.badge.badge-info
		| エクスクルージョン
	a.list-group-item(href='136')
		i.badge.badge-info
		| ボックス（エクスクルージョンボックス）の形状
.list-group
	a.list-group-item.active(style='font-size:0.85em;')
		| カラーアレンジと背景・罫線のデザイン
	a.list-group-item(href='2')
		i.badge.badge-info
		| 文字の色
	a.list-group-item(href='4')
		i.badge.badge-info
		| ボックスの透明度
	a.list-group-item(href='7')
		i.badge.badge-info
		| 背景色
	a.list-group-item(href='8')
		i.badge.badge-info
		| 背景画像
	a.list-group-item(href='9')
		i.badge.badge-info
		| 背景画像の表示スタイル
	a.list-group-item(href='10')
		i.badge.badge-info
		| 背景画像の表示位置
	a.list-group-item(href='11')
		i.badge.badge-info
		| 背景画像の固定対象
	a.list-group-item(href='12')
		i.badge.badge-info
		| 背景の表示エリア
	a.list-group-item(href='13')
		i.badge.badge-info
		| 背景画像の表示位置の基点
	a.list-group-item(href='14')
		i.badge.badge-info
		| 背景画像の表示サイズ
	a.list-group-item(href='15')
		i.badge.badge-info
		| 背景のデザイン
	a.list-group-item(href='16')
		i.badge.badge-info
		| 罫線の表示
	a.list-group-item(href='17')
		i.badge.badge-info
		| 角丸の表示
	a.list-group-item(href='18')
		i.badge.badge-info
		| 画像を使った罫線の表示
	a.list-group-item(href='19')
		i.badge.badge-info
		| 書字方向に合わせた罫線の表示
	a.list-group-item(href='20')
		i.badge.badge-info
		| 分断されたボックスの表示スタイル
	a.list-group-item(href='21')
		i.badge.badge-info
		| インライン要素の背景の表示
	a.list-group-item(href='22')
		i.badge.badge-info
		| ボックスのドロップシャドウ
	a.list-group-item(href='23')
		i.badge.badge-info
		| 線形グラデーションの表示
	a.list-group-item(href='24')
		i.badge.badge-info
		| 円形グラデーションの表示
	a.list-group-item(href='25')
		i.badge.badge-info
		| 線形グラデーションの繰り返し
	a.list-group-item(href='26')
		i.badge.badge-info
		| 円形グラデーションの繰り返し
	a.list-group-item(href='27')
		i.badge.badge-info
		| グラデーションの表示
	a.list-group-item(href='28')
		i.badge.badge-info
		| HTML要素の画像化
	a.list-group-item(href='29')
		i.badge.badge-info
		| 2枚の画像の合成
	a.list-group-item(href='30')
		i.badge.badge-info
		| レスポンシブイメージ
	a.list-group-item(href='31')
		i.badge.badge-info
		| 拡大処理のアルゴリズム
	a.list-group-item(href='32')
		i.badge.badge-info
		| ボックスに合わせた画像サイズの調節
	a.list-group-item(href='33')
		i.badge.badge-info
		| ボックス内での画像の表示位置
.list-group
	a.list-group-item.active
		| コンテンツのデザイン
	a.list-group-item(href='34')
		i.badge.badge-info
		| 文字サイズの指定
	a.list-group-item(href='35')
		i.badge.badge-info
		| 文字の太さ
	a.list-group-item(href='36')
		i.badge.badge-info
		| 斜体
	a.list-group-item(href='37')
		i.badge.badge-info
		| 字形
	a.list-group-item(href='38')
		i.badge.badge-info
		| OpenTypeフォントの字形
	a.list-group-item(href='39')
		i.badge.badge-info
		| フォントの指定
	a.list-group-item(href='40')
		i.badge.badge-info
		| Webフォトの利用
	a.list-group-item(href='41')
		i.badge.badge-info
		| 文字のデザイン
	a.list-group-item(href='42')
		i.badge.badge-info
		| 文字サイズの自動調節
	a.list-group-item(href='43')
		i.badge.badge-info
		| iOSの文字サイズの自動調節
	a.list-group-item(href='44')
		i.badge.badge-info
		| 字形の変換
	a.list-group-item(href='45')
		i.badge.badge-info
		| 改行コード・タブ・スペースの表示
	a.list-group-item(href='46')
		i.badge.badge-info
		| タブ幅の指定
	a.list-group-item(href='47')
		i.badge.badge-info
		| 禁則処理のルール
	a.list-group-item(href='48')
		i.badge.badge-info
		| 自動改行のルール
	a.list-group-item(href='49')
		i.badge.badge-info
		| 長い単語の改行ルール
	a.list-group-item(href='50')
		i.badge.badge-info
		| ノーブレークスペースの処理
	a.list-group-item(href='51')
		i.badge.badge-info
		| ハイフネーション
	a.list-group-item(href='52')
		i.badge.badge-info
		| ハイフネーションの制限
	a.list-group-item(href='53')
		i.badge.badge-info
		| 行揃えの指定
	a.list-group-item(href='54')
		i.badge.badge-info
		| 両端揃えの調節方法
	a.list-group-item(href='55')
		i.badge.badge-info
		| 最終行の行揃え
	a.list-group-item(href='56')
		i.badge.badge-info
		| 単語の間隔
	a.list-group-item(href='57')
		i.badge.badge-info
		| 文字の間隔
	a.list-group-item(href='58')
		i.badge.badge-info
		| １行目のインデント
	a.list-group-item(href='59')
		i.badge.badge-info
		| 下線・上線・取り消し線
	a.list-group-item(href='60')
		i.badge.badge-info
		| 下線の表示位置
	a.list-group-item(href='61')
		i.badge.badge-info
		| 圏点の表示
	a.list-group-item(href='62')
		i.badge.badge-info
		| 圏点の表示位置
	a.list-group-item(href='63')
		i.badge.badge-info
		| 文字のドロップシャドウ
	a.list-group-item(href='64')
		i.badge.badge-info
		| 文字のアウトライン
	a.list-group-item(href='65')
		i.badge.badge-info
		| 文字の色
	a.list-group-item(href='66')
		i.badge.badge-info
		| 欧文のレンダリング処理
	a.list-group-item(href='67')
		i.badge.badge-info
		| 文字のアンチエイリアス処理
	a.list-group-item(href='68')
		i.badge.badge-info
		| 行の高さの調節
	a.list-group-item(href='69')
		i.badge.badge-info
		| 垂直方向の行揃え
	a.list-group-item(href='70')
		i.badge.badge-info
		| 書字方向の指定
	a.list-group-item(href='71')
		i.badge.badge-info
		| 双方向アルゴリズムの変更
	a.list-group-item(href='72')
		i.badge.badge-info
		| 縦書き・横書きの指定
	a.list-group-item(href='73')
		i.badge.badge-info
		| 縦書きの中の文字の向き
	a.list-group-item(href='74')
		i.badge.badge-info
		| ルビの表示位置
	a.list-group-item(href='75')
		i.badge.badge-info
		| ルビの位置揃え
	a.list-group-item(href='76')
		i.badge.badge-info
		| リストマークのデザイン
	a.list-group-item(href='77')
		i.badge.badge-info
		| コンテンツの挿入・置換
	a.list-group-item(href='78')
		i.badge.badge-info
		| カウンターの挿入
	a.list-group-item(href='79')
		i.badge.badge-info
		| 引用符の種類
	a.list-group-item(href='80')
		i.badge.badge-info
		| テーブルのキャプションの表示位置
	a.list-group-item(href='81')
		i.badge.badge-info
		| テーブルのレイアウト方法
	a.list-group-item(href='82')
		i.badge.badge-info
		| テーブルの罫線の表示
	a.list-group-item(href='83')
		i.badge.badge-info
		| テーブルの罫線の間隔
	a.list-group-item(href='84')
		i.badge.badge-info
		| テーブルの空セルの表示
.list-group
	a.list-group-item.active
		| 特殊効果
	a.list-group-item(href='85')
		i.badge.badge-info
		| 2Dトランスフォーム
	a.list-group-item(href='86')
		i.badge.badge-info
		| 2Dトランスフォームの原点
	a.list-group-item(href='87')
		i.badge.badge-info
		| 3Dトランスフォーム
	a.list-group-item(href='88')
		i.badge.badge-info
		| 3Dトランスフォームの原点
	a.list-group-item(href='89')
		i.badge.badge-info
		| 子要素の3Dトランスフォーム
	a.list-group-item(href='90')
		i.badge.badge-info
		| 子要素の透視投影
	a.list-group-item(href='91')
		i.badge.badge-info
		| 投影中心のx軸・y軸方向の位置
	a.list-group-item(href='92')
		i.badge.badge-info
		| 裏面の表示
	a.list-group-item(href='93')
		i.badge.badge-info
		| トランジション
	a.list-group-item(href='94')
		i.badge.badge-info
		| アニメーション
	a.list-group-item(href='95')
		i.badge.badge-info
		| アニメーションの再生・一時停止
	a.list-group-item(href='96')
		i.badge.badge-info
		| ディレイ中と再生後の表示
	a.list-group-item(href='97')
		i.badge.badge-info
		| マスク
	a.list-group-item(href='98')
		i.badge.badge-info
		| 分割画像によるマスク
	a.list-group-item(href='99')
		i.badge.badge-info
		| 図形によるマスク
	a.list-group-item(href='100')
		i.badge.badge-info
		| フィルタ
	a.list-group-item(href='101')
		i.badge.badge-info
		| 鏡像
.list-group
	a.list-group-item.active
		| インターフェース
	a.list-group-item(href='102')
		i.badge.badge-info
		| インターフェースセレクタ
	a.list-group-item(href='104')
		i.badge.badge-info
		| アウトラインのデザイン
	a.list-group-item(href='105')
		i.badge.badge-info
		| ボックスの大きさの算出方法
	a.list-group-item(href='106')
		i.badge.badge-info
		| ボックスのリサイズ
	a.list-group-item(href='107')
		i.badge.badge-info
		| テキストがオーバーフローしたときの表示
	a.list-group-item(href='108')
		i.badge.badge-info
		| カーソルの形状
	a.list-group-item(href='109')
		i.badge.badge-info
		| iOSのポップアップメニューを隠す
	a.list-group-item(href='110')
		i.badge.badge-info
		| ハイライト表示のカスタマイズ