.list-group
	a.list-group-item.active
		| 基本
	a.list-group-item(href='3')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='6')
		i.badge.badge-info
		| スタイルシートの利用
	a.list-group-item(href='5')
		i.badge.badge-info
		| セレクタ
.list-group
	a.list-group-item.active
		| レイアウト
	a.list-group-item(href='1')
		i.badge.badge-info
		| ボックスの種類
.list-group
	a.list-group-item.active
		| カラーアレンジと背景・罫線のデザイン
	a.list-group-item(href='2')
		i.badge.badge-info
		| 文字の色
	a.list-group-item(href='4')
		i.badge.badge-info
		| ボックスの透明度
.list-group
	a.list-group-item.active
		| コンテンツのデザイン
.list-group
	a.list-group-item.active
		| 特殊効果
.list-group
	a.list-group-item.active
		| インターフェース