nav.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  .collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li.active
        a(href='1') CSS
      li
        a(href='../others/12',target='_blank') Stylus
      li
        a(href='../others/15',target='_blank') Nib