doctype
html(lang='ja-JP')
    head
        meta(charset='utf-8')
        title
    body
        form#slill-check(action='check.html', method='POST')
            dl
                dt
                    | お名前
                    em （必須）
                dd
                    input(type='text', name='name')
                dt 性別
                dd
                    input#gender-man(type='radio', name='gender', value='男性')
                    label(for='gender-man') 男性
                    input#gender-woman(type='radio', name='gender', value='女性')
                    label(for='gender-woman') 女性
                dt 年齢
                dd
                    select(name='age')
                        option 選択してください
                        option(value='10代') 10代
                        option(value='20代') 20代
                        option(value='30代')
                            | 30代
                            option(value='40代以上') 40代以上
                dt スキル
                dd
                    input#html(type='checkbox', name='html', value='HTML')
                    label(for='html') HTML
                    input#css(type='checkbox', name='css', value='CSS')
                    label(for='css') CSS
                    input#javascript(type='checkbox', name='javascript', value='JavaScript')
                    label(for='javascript') JavaScript
                    input#php(type='checkbox', name='php', value='PHP')
                    label(for='php') PHP
                dt コメント
                dd
                    textarea(name='comment')
                input(type='button', value='送信')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='script.js')