<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">HTML5 Audioが使えるか調べる</div>
          <div class="panel-body">

<p>
<a href="demo/html5api/audio-1/bgm.mp3" download="bgm.mp3" class="btn btn-default">
<i class="glyphicon glyphicon-cloud-download"></i> bgm.mp3
</a>
<a href="demo/html5api/audio-1/sample.mp3" download="sample.mp3" class="btn btn-default">
<i class="glyphicon glyphicon-cloud-download"></i> sample.mp3
</a>
<a href="demo/html5api/audio-1/sample.ogg" download="sample.ogg" class="btn btn-default">
<i class="glyphicon glyphicon-cloud-download"></i> sample.ogg
</a>
</p>

<p>
<a href="demo/html5api/audio-1/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
// HTML5 Audioが使えるか調べる
$(document).on('pageshow','#index',function(){
  //HTML5 Audioが使用可能な場合の処理
  if(window.HTMLAudioElement){
    $('#result').html('HTML5 Audioは使用できます');
  //HTML5 Audioが利用できない場合の処理
  }else{
    $('#result').html('HTML5 Audioは使用できません');
  }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;div id="index" data-role="page"&gt;
      &lt;div data-role="header"&gt;
        &lt;h1&gt;HTML5 Audioが使えるかどうか調べる&lt;/h1&gt;
      &lt;/div&gt;
      &lt;div data-role="content"&gt;
        &lt;div id="result"&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
      &lt;/div&gt;
    &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>