<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">映像を再生／停止、制御する</div>
          <div class="panel-body">

<p>
<a href="demo/html5api/video-2/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(document).on('pageshow','#index',function(){
  var videoObj = document.getElementById("myVideo");
  //映像を再生する
  $('#vPlay').on('vclick',function(){
    videoObj.play();
  });
  //映像を停止する
  $('#vStop').on('vclick',function(){
    videoObj.pause();
  });
  //映像を巻き戻す
  $('#vRewind').on('vclick',function(){
    videoObj.currentTime = 0;
    videoObj.pause();
  });
  //2秒前から再生する
  $('#vLast2').on('vclick',function(){
    videoObj.currentTime = videoObj.duration - 2;
    videoObj.play();
  });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="index" data-role="page"&gt;
  &lt;div data-role="header"&gt;
  &lt;h1&gt;映像を制御&lt;/h1&gt;
  &lt;/div&gt;
  &lt;div data-role="content"&gt;
    &lt;video id="myVideo" width="192" height="108" controls&gt;
      &lt;source src="../video-1/sample.ogv"&gt;
      &lt;source src="../video-1/sample.mov"&gt;
      &lt;source src="../video-1/sample.webm"&gt;
      &lt;p&gt;お使いのブラウザでは映像を再生できません。&lt;/p&gt;
    &lt;/video&gt;
    &lt;form&gt;
      &lt;input type="button" id="vPlay" value="再生"&gt;
      &lt;input type="button" id="vStop" value="停止"&gt;
      &lt;input type="button" id="vRewind" value="巻き戻し"&gt;
      &lt;input type="button" id="vLast2" value="終わりの2秒前から再生"&gt;
    &lt;/form&gt;
  &lt;/div&gt;
  &lt;div data-role="footer" data-position="fixed"&gt;
  &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>