extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading ワーカー側で処理を終了する
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/html5api/worker-3/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <!DOCTYPE html>
                                <html lang="ja">
                                <head>
                                <meta charset="utf-8">
                                <title></title>
                                <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
                                <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
                                <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
                                <script>
                                // ワーカー側で処理を終了する
                                $(document).on('pageshow','#index',function(){
                                var myWorker;
                                $('#countButton').on('vclick',function(){
                                var time = (new Date()).getTime();
                                myWorker = new Worker('count.js?t='+time);
                                myWorker.addEventListener('message', function(event){
                                $('#workerStatus').html(event.data);
                                }, true);
                                $('#workerStatus').html('ワーカーを作成しました');
                                myWorker.postMessage(null); // ワーカーの処理を開始
                                });
                                });
                                </script>
                                </head>
                                <body>
                                <div id="index" data-role="page">
                                <div data-role="header">
                                <h1>ワーカー側で処理を終了する</h1>
                                </div>
                                <div data-role="content">
                                <form>
                                <input type="button" value="ワーカーでカウント" id="countButton">
                                </form>
                                <div id="workerStatus"></div>
                                </div>
                                <div data-role="footer" data-position="fixed">
                                <h4>Copyright © ナカノヨウスケ</h4>
                                </div>
                                </div>
                                </body>
                                </html>

                        | count.js
                        pre(class='prettyprint linenums:1')
                            :code
                                // Workerでカウント
                                var count = 0;  // カウンタ
                                addEventListener("message", function(event){
                                var timerID = setInterval(function(){
                                count++;
                                postMessage(count);
                                if (count == 5){  // 5回で終了
                                postMessage(count+"回なので終了します");
                                clearInterval(timerID);
                                self.close(); // 処理をワーカー側で終了させる
                                }
                                }, 1000); // 1秒ごとにカウント
                                }, false);

