extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading 1つのキーに保存してある複数のデータを読み出す
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/html5api/storage5/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    meta(charset='utf-8')
                                    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
                                    title 1つのキーに保存してある複数のデータを読み出す
                                    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                    script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                    script
                                        :js
                                            (function(){
                                                // 1つのキーに保存してある複数のデータをローカルストレージから読み出す
                                                $(document).on('pageshow','#index',function(){
                                                    $('#loadButton').on('vclick',function(){
                                                        var data = window.localStorage.getItem('textData2');
                                                        if (!data){
                                                            alert('データは保存されていません');
                                                            return;
                                                        }
                                                        data = JSON.parse(data);
                                                        var name = data.user;
                                                        var txt = data.comment;
                                                        $('#userName').val(name);
                                                        $('#userComment').val(txt);
                                                    });
                                                });
                                            })()
                                    body
                                        #index(data-role='page')
                                            div(data-role='header')
                                                h1 1つのキーに保存してある複数のデータを読み出す
                                            div(data-role='content')
                                                form
                                                    input#userName(type='text', name='userName', value='')
                                                    br
                                                    textarea#userComment(cols='20', rows='5')
                                                    br
                                                    input#loadButton(type='button', value='読み出し')
                                            div(data-role='footer', data-position='fixed')
                                                h1 フッター