extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading サウンド機能の受け渡し
                    .panel-body
                        p ページを移動する際に音量、ミュートなどのデータを受け渡せるようにしましょう。
                        pre.
                            npm install -g download
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/bgm1.mp3 .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/bgm1.ogg .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/bgm2.mp3 .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/bgm2.ogg .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/se1.mp3 .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/se1.ogg .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/se2.mp3 .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/se2.ogg .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/se3.mp3 .
                            download http://jeed-training.herokuapp.com/demo/html5api/audio13/se3.ogg .
                        p
                            a.btn.btn-default(href='../demo/html5api/audio13/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                            |  
                            button.btn.btn-danger(type='button', data-toggle='collapse', data-target='#demo')
                                i.glyphicon.glyphicon-question-sign
                                | 解答例
                        #demo.collapse.out
                            pre(class='prettyprint linenums:1')
                                :code
                                    doctype html
                                    html(lang='ja')
                                        meta(charset='utf-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
                                        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        //SoundClassの読み込み
                                        script(src='sound.js')
                                        //jQueryMobileの処理
                                        script(src='main.js')
                                        head
                                        body
                                            #index(data-role='page')
                                                div(data-role='header')
                                                    h1 SCENE 1
                                                    a.ui-btn-right(href='#second', data-transition='slide') NEXT
                                                div(data-role='content')
                                                    .ui-grid-a
                                                        .ui-block-a(style='width: 70%;')
                                                            form
                                                                div(data-role='controlgroup', data-type='horizontal', style='margin-top: 0; margin-bottom: 0;')
                                                                    legend SE:
                                                                    input.se.se1(type='button', value='SE ①')
                                                                    input.se.se2(type='button', value='SE ②')
                                                                    input.se.se3(type='button', value='SE ③')
                                                        .ui-block-b(style='width: 30%;')
                                                            form
                                                                label(for='bgm1') BGM:
                                                                select#bgm1(name='bgm1', data-role='slider')
                                                                    option(value='off') Off
                                                                    option(value='on', selected='selected') On
                                                    p
                                                        form
                                                            label(for='volume1') Volume:
                                                            input#volume1.volume(type='range', name='volume1', data-highlight='true', min='0.0', max='1.0', value='0.5', step='0.1')
                                                div(data-role='footer', data-position='fixed')
                                                    h1 フッター
                                            #second(data-role='page')
                                                div(data-role='header')
                                                    a(href='#index', data-transition='slide', data-direction='reverse') BACK
                                                    h1 SCENE 2
                                                div(data-role='content')
                                                    .ui-grid-a
                                                        .ui-block-a(style='width: 70%;')
                                                            form
                                                                div(data-role='controlgroup', data-type='horizontal', style='margin-top: 0; margin-bottom: 0;')
                                                                    legend SE:
                                                                    input.se.se1(type='button', value='SE ①')
                                                                    input.se.se2(type='button', value='SE ②')
                                                                    input.se.se3(type='button', value='SE ③')
                                                        .ui-block-b(style='width: 30%;')
                                                            form
                                                                label(for='bgm2') BGM:
                                                                select#bgm2(name='bgm2', data-role='slider')
                                                                    option(value='off') Off
                                                                    option(value='on', selected='selected') On
                                                    p
                                                        form
                                                            label(for='volume2') Volume:
                                                            input#volume2.volume(type='range', name='volume2', data-highlight='true', min='0.0', max='1.0', value='0.5', step='0.1')
                                                div(data-role='footer', data-position='fixed')
                                                    h1 フッター
                            p main.js
                            pre(class='prettyprint linenums:1')
                                :code
                                    //***********************************************//
                                    //初期設定
                                    //***********************************************//

                                    //オーディオのパスを配列に用意
                                    var bgms = ['bgm1.mp3','bgm1.ogg','bgm2.mp3','bgm2.ogg'];
                                    var ses = ['se1.mp3','se1.ogg','se2.mp3','se2.ogg','se3.mp3','se3.ogg'];

                                    //SoundClassのインスタンス化
                                    var sound = new SoundClass(bgms, ses);
                                    sound.preload();

                                    //BGMセット
                                    bgmArray = sound.setBgm();

                                    //BGMのON/OFF切り替え
                                    sound.bgmFlg = true;

                                    //ボリューム初期設定
                                    sound.volumeFlg = 0.8;

                                    //***********************************************//
                                    //jQuery MObileページ遷移イベント
                                    //***********************************************//

                                    //ページ表示
                                    $(document).on('pageshow','#index',function(){
                                        //BGMセット
                                        if(sound.bgmFlg == true){
                                            //sound.playBgm(sound.bgmObjs[0]);
                                            sound.playBgm(bgmArray[0]);
                                            $('#bgm1').val('on').slider('refresh');
                                        }
                                        else{
                                            $('#bgm1').val('off').slider('refresh');
                                        }

                                        //ボリュームセット
                                        sound.setVolume(sound.volumeFlg);
                                        $('#volume1').val(sound.volumeFlg).slider('refresh');

                                        $('.volume').on('change',function(){
                                            sound.setVolume($(this).val());
                                            sound.volumeFlg = parseFloat($(this).val());
                                        });

                                        $('.se').on('vclick',function(){
                                            sound.playSe($(this).attr('class'));
                                        });

                                        $('#bgm1').on('change',function(){
                                            if($('#bgm1').val() == 'on'){
                                                //sound.playBgm(sound.bgmObjs[0]);
                                                sound.playBgm(bgmArray[0]);
                                                sound.bgmFlg = true;
                                            }
                                            else{
                                                sound.bgmObjs[0].pause();
                                                sound.bgmFlg = false;
                                            }
                                        });
                                    });
                                    $(document).on('pageshow','#second',function(){
                                        if(sound.bgmFlg == true){
                                            //sound.playBgm(sound.bgmObjs[2]);
                                            sound.playBgm(bgmArray[1]);
                                            $('#bgm2').val('on').slider('refresh');
                                        }
                                        else{
                                            $('#bgm2').val('off').slider('refresh');
                                        }

                                        //ボリュームセット
                                        sound.setVolume(sound.volumeFlg);
                                        $('#volume2').val(sound.volumeFlg).slider('refresh');

                                        $('.volume').on('change',function(){
                                            sound.setVolume($(this).val());
                                            sound.volumeFlg = parseFloat($(this).val());
                                        });

                                        $('.se').on('vclick',function(){
                                            sound.playSe($(this).attr('class'));
                                        });

                                        $('#bgm2').on('change',function(){
                                            if($('#bgm2').val() == 'on'){
                                                //sound.playBgm(sound.bgmObjs[2]);
                                                sound.playBgm(bgmArray[1]);
                                                sound.bgmFlg = true;
                                            }
                                            else{
                                                sound.bgmObjs[2].pause();
                                                sound.bgmFlg = false;
                                            }
                                        });
                                    });

                                    //ページ非表示
                                    $(document).on('pagebeforehide','#index',function(){
                                        sound.bgmObjs[0].pause();
                                        sound.bgmObjs[0].currentTime = 0;
                                    });
                                    $(document).on('pagebeforehide','#second',function(){
                                        sound.bgmObjs[2].pause();
                                        sound.bgmObjs[2].currentTime = 0;
                                    });
                            p sound.js
                            pre(class='prettyprint linenums:1')
                                :code
                                    //***********************************************//
                                    //SoundClassの定義
                                    //***********************************************//

                                    //プロパティ定義
                                    var SoundClass = function(bgms, ses){
                                        //オーディオのパスを格納
                                        this.bgms = bgms; this.ses = ses;

                                        //オーディオオブジェクト用の配列を宣言
                                        this.bgmObjs = []; this.seObjs = [];

                                        //フラグ
                                        this.bgmFlg = true; //BGMのON/OFF切り替え（初期設定ON）
                                        this.volumeFlg = 0.8; //ボリューム（初期設定0.8）

                                        //MIME設定（初期設定mp3）
                                        this.mime = 'mp3';
                                    };

                                    //メソッド定義
                                    SoundClass.prototype = {
                                        preload: function(){
                                            //オーディオオブジェクトを配列に格納
                                            for(var i = 0; i < bgms.length; i++){
                                                this.bgmObjs[i] = new Audio(this.bgms[i]);
                                            }
                                            for(var i = 0; i < ses.length; i++){
                                                this.seObjs[i] = new Audio(this.ses[i]);
                                            }

                                            //MIMEチェック（mp3非対応のときoggを使用）
                                            if(!this.bgmObjs[0].canPlayType('audio/mp3')){
                                                this.mime = 'ogg';
                                            }
                                        },
                                        playSe: function(cls){
                                            if(cls.match(/se1/)){
                                                this.mime == 'mp3' ? this.seObjs[0].play() : this.seObjs[1].play();
                                            }
                                            if(cls.match(/se2/)){
                                                //this.seObjs[2].play();
                                                this.mime == 'mp3' ? this.seObjs[2].play() : this.seObjs[3].play();
                                            }    
                                            if(cls.match(/se3/)){
                                                //this.seObjs[4].play();
                                                this.mime == 'mp3' ? this.seObjs[4].play() : this.seObjs[5].play();
                                            }    
                                        },
                                        playBgm: function(audioObj){
                                            audioObj.play();
                                            audioObj.addEventListener("ended", function(){
                                                audioObj.play();
                                            });
                                        },
                                        setBgm: function(){
                                            var bgmArray = new Array(2);
                                            bgmArray[0] = this.mime == 'mp3' ? this.bgmObjs[0] : this.bgmObjs[1];
                                            bgmArray[1] = this.mime == 'mp3' ? this.bgmObjs[2] : this.bgmObjs[3];
                                            return bgmArray;
                                        },
                                        setVolume: function(vol){
                                            for(var i = 0; i < this.bgmObjs.length; i++){
                                                this.bgmObjs[i].volume = parseFloat(vol);
                                            }
                                            for(var i = 0; i < this.seObjs.length; i++){
                                                this.seObjs[i].volume = parseFloat(vol);        
                                            }
                                            sound.volumeFlg = parseFloat(vol);
                                        }
                                    }