<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">オーディオの情報を取得する</div>
          <div class="panel-body">

<p>
<a href="demo/html5api/audio-11/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
//オーディオの情報（種類や長さ）を取得する
$(document).on('pagebeforecreate','#index',function(){
  var audioObj = document.getElementById("myAudio");
  $('#getInfo').on('vclick',function(){
    var txt = "&lt;li&gt;映像ソース："+audioObj.currentSrc+"&lt;/li&gt;";
    txt += "&lt;li&gt;映像の長さ："+audioObj.duration+"秒&lt;/li&gt;";
    txt += "&lt;li&gt;再生速度："+audioObj.playbackRate+"倍&lt;/li&gt;";
    txt += "&lt;li&gt;一時停止中："+audioObj.paused+"&lt;/li&gt;";
    txt += "&lt;li&gt;通信状態："+audioObj.networkState+"&lt;/li&gt;";
    txt += "&lt;li&gt;シーク状態："+audioObj.seeking+"&lt;/li&gt;";
    $('#result').html(txt).listview('refresh');
  });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="index" data-role="page"&gt;
  &lt;div data-role="header"&gt;
  &lt;h1&gt;オーディオの情報（種類や長さ）を取得する&lt;/h1&gt;
  &lt;/div&gt;
  &lt;div data-role="content"&gt;
    &lt;audio id="myAudio" width="192" height="48" controls&gt;
      &lt;source src="../audio-1/sample.mp3"&gt;
      &lt;source src="../audio-1/sample.ogg"&gt;
      &lt;p&gt;お使いのブラウザではオーディオを再生できません。&lt;/p&gt;
    &lt;/audio&gt;
    &lt;form&gt;
    &lt;input type="button" id="getInfo" value="情報を取得"&gt;
    &lt;/form&gt;
    &lt;br&gt;
    &lt;ul data-role="listview" id="result"&gt;&lt;/ul&gt;
  &lt;/div&gt;
  &lt;div data-role="footer" data-position="fixed"&gt;
  &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>