<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">HTML5 Videoが使えるか調べる</div>
          <div class="panel-body">

<p>
<a href="demo/html5api/video-1/sample.3gp" download="sample.3gp" class="btn btn-default">
<i class="glyphicon glyphicon-cloud-download"></i> sample.3gp
</a>
<a href="demo/html5api/video-1/sample.mov" download="sample.mov" class="btn btn-default">
<i class="glyphicon glyphicon-cloud-download"></i> sample.mov
</a>
<a href="demo/html5api/video-1/sample.ogv" download="sample.ogv" class="btn btn-default">
<i class="glyphicon glyphicon-cloud-download"></i> sample.ogv
</a>
<a href="demo/html5api/video-1/sample.webm" download="sample.webm" class="btn btn-default">
<i class="glyphicon glyphicon-cloud-download"></i> sample.webm
</a>
</p>

<p>
<a href="demo/html5api/video-1/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;title&gt;HTML5 Videoが使えるかどうか調べる&lt;/title&gt;
&lt;script&gt;
//HTML5 Videoが使えるか調べる
$(document).on('pageshow','#index',function(){
  var ele = document.getElementById("result");
  if(window.HTMLVideoElement){
    $('#result').html('HTML5 Videoは使用できます');
  }else{
    $('#result').html('HTML5 Videoは使用できません');
  }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="index" data-role="page"&gt;
  &lt;div data-role="header"&gt;
  &lt;h1&gt;HTML5 Videoが使えるかどうか調べる&lt;/h1&gt;
  &lt;/div&gt;
  &lt;div data-role="content"&gt;
    &lt;div id="result"&gt;&lt;/div&gt;
  &lt;/div&gt;
  &lt;div data-role="footer" data-position="fixed"&gt;
  &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
  &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>