extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading オーディオの情報を取得する
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/html5api/audio-11/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <!DOCTYPE html>
                                <html lang="ja">
                                <head>
                                <meta charset="utf-8">
                                <title></title>
                                <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
                                <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
                                <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
                                <script>
                                //オーディオの情報（種類や長さ）を取得する
                                $(document).on('pagebeforecreate','#index',function(){
                                var audioObj = document.getElementById("myAudio");
                                $('#getInfo').on('vclick',function(){
                                var txt = "<li>映像ソース："+audioObj.currentSrc+"</li>";
                                txt += "<li>映像の長さ："+audioObj.duration+"秒</li>";
                                txt += "<li>再生速度："+audioObj.playbackRate+"倍</li>";
                                txt += "<li>一時停止中："+audioObj.paused+"</li>";
                                txt += "<li>通信状態："+audioObj.networkState+"</li>";
                                txt += "<li>シーク状態："+audioObj.seeking+"</li>";
                                $('#result').html(txt).listview('refresh');
                                });
                                });
                                </script>
                                </head>
                                <body>
                                <div id="index" data-role="page">
                                <div data-role="header">
                                <h1>オーディオの情報（種類や長さ）を取得する</h1>
                                </div>
                                <div data-role="content">
                                <audio id="myAudio" width="192" height="48" controls>
                                <source src="../audio-1/sample.mp3">
                                <source src="../audio-1/sample.ogg">
                                <p>お使いのブラウザではオーディオを再生できません。</p>
                                </audio>
                                <form>
                                <input type="button" id="getInfo" value="情報を取得">
                                </form>
                                <br>
                                <ul data-role="listview" id="result"></ul>
                                </div>
                                <div data-role="footer" data-position="fixed">
                                <h4>Copyright © ナカノヨウスケ</h4>
                                </div>
                                </body>
                                </html>