extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading ワーカーのエラーを捕捉する
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/html5api/worker-4/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                 | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <!DOCTYPE html>
                                <html lang="ja">
                                <head>
                                <meta charset="utf-8">
                                <title></title>
                                <link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css">
                                <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
                                <script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"></script>
                                <script>
                                // ワーカーを作成／処理を終了する
                                $(document).on('pageshow','#index',function(){
                                var myWorker;
                                $('#startButton').on('vclick',function(){
                                myWorker = new Worker('calc.js');
                                myWorker.addEventListener('message', function(event){
                                $('#stat').html(event.data);
                                }, true);
                                myWorker.onerror = function(error){
                                $('[data-role="listview"] li:nth(0)').html('エラーメッセージ：' + error.message);
                                $('[data-role="listview"] li:nth(1)').html('エラー発生行：' + error.lineno);
                                $('[data-role="listview"] li:nth(2)').html('エラーファイル名：' + error.filename);
                                }
                                myWorker.postMessage(0);  // ワーカーの処理を開始
                                });
                                });
                                </script>
                                </head>
                                <body>
                                <div id="index" data-role="page">
                                <div data-role="header">
                                <h1>ワーカーのエラーを捕捉する</h1>
                                </div>
                                <div data-role="content">
                                <form>
                                <input type="button" value="ワーカーの処理を開始" id="startButton">
                                </form>
                                <div id="stat"></div>
                                <br>
                                <ul data-role="listview">
                                <li></li>
                                <li></li>
                                <li></li>
                                </ul>
                                </div>
                                <div data-role="footer" data-position="fixed">
                                <h4>Copyright © ナカノヨウスケ</h4>
                                </div>
                                </div>
                                </body>
                                </html>

                        | calc.js
                        pre(class='prettyprint linenums:1')
                            :code
                                // Workerを使った計算
                                addEventListener("message", function(event){
                                  var total = 0;
                                  var ele = document.getElementById("stat");  // Error!
                                  for(var i=0; i<10000; i++){
                                    for(var j=0; j<10000; j++){
                                      for(var k=0; k<10; k++){
                                        total++;
                                      }
                                    }
                                  }
                                  postMessage(total);
                                }, false);