.list-group
    a.list-group-item.active
        | Audio
    a.list-group-item(href='../html5/1')
        i.badge.badge-info
        | Audioが使えるか調べる
    a.list-group-item(href='../html5/2')
        i.badge.badge-info
        | オーディオを再生
    a.list-group-item(href='../html5/3')
        i.badge.badge-info
        | オーディオの停止／再生開始時間
    a.list-group-item(href='../html5/4')
        i.badge.badge-info
        | オーディオのリピート再生
    a.list-group-item(href='../html5/5')
        i.badge.badge-info
        | オーディオのコントロールバー
    a.list-group-item(href='../html5/6')
        i.badge.badge-info
        | オーディオのオートプレイ
    a.list-group-item(href='../html5/7')
        i.badge.badge-info
        | 指定したオーディオを再生
    a.list-group-item(href='../html5/8')
        i.badge.badge-info
        | 再生できるオーディオを調べる
    a.list-group-item(href='../html5/9')
        i.badge.badge-info
        | オーディオの再生時間
    a.list-group-item(href='../html5/10')
        i.badge.badge-info
        | オーディオの再生速度
    a.list-group-item(href='../html5/11')
        i.badge.badge-info
        | オーディオの情報を取得
    a.list-group-item(href='../html5/12')
        i.badge.badge-info
        | オーディオのボリューム
    a.list-group-item(href='http://jeed-training.herokuapp.com/demo/html5api/audio-13/index.html', target='_blank')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：BGMとSE
.list-group
    a.list-group-item.active
        | Video
    a.list-group-item(href='../html5/13')
        i.badge.badge-info
        | Videoが使えるか調べる
    a.list-group-item(href='../html5/14')
        i.badge.badge-info
        | ビデオのの再生／停止
    a.list-group-item(href='../html5/15')
        i.badge.badge-info
        | ビデオのリピート再生
    a.list-group-item(href='../html5/16')
        i.badge.badge-info
        | ビデオのコントロールバー
    a.list-group-item(href='../html5/17')
        i.badge.badge-info
        | ビデオのオートプレイ
    a.list-group-item(href='../html5/18')
        i.badge.badge-info
        | ビデオのフルスクリーン
    a.list-group-item(href='../html5/19')
        i.badge.badge-info
        | 再生できるビデオを調べる
    a.list-group-item(href='../html5/20')
        i.badge.badge-info
        | ポスターフレーム
    a.list-group-item(href='../html5/21')
        i.badge.badge-info
        | ビデオの再生時間
    a.list-group-item(href='../html5/22')
        i.badge.badge-info
        | ビデオの再生速度
    a.list-group-item(href='../html5/23')
        i.badge.badge-info
        | ビデオの情報を取得
    a.list-group-item(href='../html5/24')
        i.badge.badge-info
        | ビデオのボリューム
.list-group
    a.list-group-item.active
        | Web Workers
    a.list-group-item(href='../html5/25')
        i.badge.badge-info
        | Web Workerが使えるか調べる
    a.list-group-item(href='../html5/26')
        i.badge.badge-info
        | ワーカーの作成／終了
    a.list-group-item(href='../html5/27')
        i.badge.badge-info
        | ワーカー内で処理を停止
    a.list-group-item(href='../html5/28')
        i.badge.badge-info
        | ワーカー内のエラーを検出
    a.list-group-item(href='../html5/29')
        i.badge.badge-info
        | ワーカーとのやりとり
.list-group
    a.list-group-item.active
        | File
    a.list-group-item(href='../html5/30')
        i.badge.badge-info
        | File APIが使えるか調べる
    a.list-group-item(href='../html5/31')
        i.badge.badge-info
        | Fileの種類を調べる
    a.list-group-item(href='../html5/32')
        i.badge.badge-info
        | テキストファイルの読み込み
    a.list-group-item(href='../html5/33')
        i.badge.badge-info
        | バイナリファイルの読み込み
    a.list-group-item(href='../html5/34')
        i.badge.badge-info
        | 読み込みを中断する
    a.list-group-item(href='../html5/35')
        i.badge.badge-info
        | 読み込みの進捗を表示
.list-group
    a.list-group-item.active
        | Drag &amp; Drop
    a.list-group-item(href='../html5/36')
        i.badge.badge-info
        | ドラッグの有効化
    a.list-group-item(href='../html5/37')
        i.badge.badge-info
        | ドロップの有効化
    a.list-group-item(href='../html5/38')
        i.badge.badge-info
        | ドラッグ中の画像
.list-group
    a.list-group-item.active
        | WebStorage
    a.list-group-item(href='../html5/39')
        i.badge.badge-info
        | Webストレージが使えるか調べる
    a.list-group-item(href='../html5/40')
        i.badge.badge-info
        | フォームの内容を保存
    a.list-group-item(href='../html5/41')
        i.badge.badge-info
        | 複数のフォームの内容を保存
    a.list-group-item(href='../html5/42')
        i.badge.badge-info
        | ストレージからの読み込み
    a.list-group-item(href='../html5/43')
        i.badge.badge-info
        | 複数のデータの読み込み
    a.list-group-item(href='../html5/44')
        i.badge.badge-info
        | ストレージから削除
    a.list-group-item(href='../html5/45')
        i.badge.badge-info
        | ストレージの受け渡し
    a.list-group-item(href='#', target='_blank')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：ToDoリスト
//-
    .list-group
        a.list-group-item.active
            | オフラインWebアプリケーション
    .list-group
        a.list-group-item.active
            | Text Selection
    .list-group
        a.list-group-item.active
            | Text Editing
    .list-group
        a.list-group-item.active
            | Sensor
