<div class="list-group">
     <a href="html5api-1" class="list-group-item">
     <i class="badge badge-info"></i> html5apiが使えるか調べる
     </a>
     <a href="html5api-2" class="list-group-item">
     <i class="badge badge-info"></i> オーディオを再生
     </a>
     <a href="html5api-3" class="list-group-item">
     <i class="badge badge-info"></i> オーディオの停止／再生開始時間
     </a>
     <a href="html5api-4" class="list-group-item">
     <i class="badge badge-info"></i> オーディオのリピート再生
     </a>
     <a href="html5api-5" class="list-group-item">
     <i class="badge badge-info"></i> コントロールバーの非表示
     </a>
     <a href="html5api-6" class="list-group-item">
     <i class="badge badge-info"></i> オートプレイ
     </a>
</div>