<div class="list-group">
     <a class="list-group-item active">
     Audio
     </a>
     <a href="html5api-1" class="list-group-item">
     <i class="badge badge-info"></i> Audioが使えるか調べる
     </a>
     <a href="html5api-2" class="list-group-item">
     <i class="badge badge-info"></i> オーディオを再生
     </a>
     <a href="html5api-3" class="list-group-item">
     <i class="badge badge-info"></i> オーディオの停止／再生開始時間
     </a>
     <a href="html5api-4" class="list-group-item">
     <i class="badge badge-info"></i> オーディオのリピート再生
     </a>
     <a href="html5api-5" class="list-group-item">
     <i class="badge badge-info"></i> オーディオのコントロールバー
     </a>
     <a href="html5api-6" class="list-group-item">
     <i class="badge badge-info"></i> オーディオのオートプレイ
     </a>
     <a href="html5api-7" class="list-group-item">
     <i class="badge badge-info"></i> 指定したオーディオを再生
     </a>
     <a href="html5api-8" class="list-group-item">
     <i class="badge badge-info"></i> 再生できるオーディオを調べる
     </a>
     <a href="html5api-9" class="list-group-item">
     <i class="badge badge-info"></i> オーディオの再生時間
     </a>
     <a href="html5api-10" class="list-group-item">
     <i class="badge badge-info"></i> オーディオの再生速度
     </a>
     <a href="html5api-11" class="list-group-item">
     <i class="badge badge-info"></i> オーディオの情報を取得
     </a>
     <a href="html5api-12" class="list-group-item">
     <i class="badge badge-info"></i> オーディオのボリューム
     </a>
     <a href="http://jeed-training.herokuapp.com/demo/html5api/audio-13/index.html" target="_blank" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：BGMとSE
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     Video
     </a>
     <a href="html5api-13" class="list-group-item">
     <i class="badge badge-info"></i> Videoが使えるか調べる
     </a>
     <a href="html5api-14" class="list-group-item">
     <i class="badge badge-info"></i> ビデオのの再生／停止
     </a>
     <a href="html5api-15" class="list-group-item">
     <i class="badge badge-info"></i> ビデオのリピート再生
     </a>
     <a href="html5api-16" class="list-group-item">
     <i class="badge badge-info"></i> ビデオのコントロールバー
     </a>
     <a href="html5api-17" class="list-group-item">
     <i class="badge badge-info"></i> ビデオのオートプレイ
     </a>
     <a href="html5api-18" class="list-group-item">
     <i class="badge badge-info"></i> ビデオのフルスクリーン
     </a>
     <a href="html5api-19" class="list-group-item">
     <i class="badge badge-info"></i> 再生できるビデオを調べる
     </a>
     <a href="html5api-20" class="list-group-item">
     <i class="badge badge-info"></i> ポスターフレーム
     </a>
     <a href="html5api-21" class="list-group-item">
     <i class="badge badge-info"></i> ビデオの再生時間
     </a>
     <a href="html5api-22" class="list-group-item">
     <i class="badge badge-info"></i> ビデオの再生速度
     </a>
     <a href="html5api-23" class="list-group-item">
     <i class="badge badge-info"></i> ビデオの情報を取得
     </a>
     <a href="html5api-24" class="list-group-item">
     <i class="badge badge-info"></i> ビデオのボリューム
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     Web Workers
     </a>
     <a href="html5api-25" class="list-group-item">
     <i class="badge badge-info"></i> Web Workerが使えるか調べる
     </a>
     <a href="html5api-26" class="list-group-item">
     <i class="badge badge-info"></i> ワーカーの作成／終了
     </a>
     <a href="html5api-27" class="list-group-item">
     <i class="badge badge-info"></i> ワーカー内で処理を停止
     </a>
     <a href="html5api-28" class="list-group-item">
     <i class="badge badge-info"></i> ワーカー内のエラーを検出
     </a>
     <a href="html5api-29" class="list-group-item">
     <i class="badge badge-info"></i> ワーカーとのやりとり
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     File
     </a>
     <a href="html5api-30" class="list-group-item">
     <i class="badge badge-info"></i> File APIが使えるか調べる
     </a>
     <a href="html5api-31" class="list-group-item">
     <i class="badge badge-info"></i> Fileの種類を調べる
     </a>
     <a href="html5api-32" class="list-group-item">
     <i class="badge badge-info"></i> テキストファイルの読み込み
     </a>
     <a href="html5api-33" class="list-group-item">
     <i class="badge badge-info"></i> バイナリファイルの読み込み
     </a>
     <a href="html5api-34" class="list-group-item">
     <i class="badge badge-info"></i> 読み込みを中断する
     </a>
     <a href="html5api-35" class="list-group-item">
     <i class="badge badge-info"></i> 読み込みの進捗を表示
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     Drag & Drop
     </a>
     <a href="html5api-36" class="list-group-item">
     <i class="badge badge-info"></i> ドラッグの有効化
     </a>
     <a href="html5api-37" class="list-group-item">
     <i class="badge badge-info"></i> ドロップの有効化
     </a>
     <a href="html5api-38" class="list-group-item">
     <i class="badge badge-info"></i> ドラッグ中の画像
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     WebStorage
     </a>
     <a href="html5api-39" class="list-group-item">
     <i class="badge badge-info"></i> Webストレージが使えるか調べる
     </a>
      <a href="html5api-40" class="list-group-item">
     <i class="badge badge-info"></i> フォームの内容を保存
     </a>
      <a href="html5api-41" class="list-group-item">
     <i class="badge badge-info"></i> 複数のフォームの内容を保存
     </a>
      <a href="html5api-42" class="list-group-item">
     <i class="badge badge-info"></i> ストレージからの読み込み
     </a>
     <a href="html5api-43" class="list-group-item">
     <i class="badge badge-info"></i> 複数のデータの読み込み
     </a>
      <a href="html5api-44" class="list-group-item">
     <i class="badge badge-info"></i> ストレージから削除
     </a>
      <a href="html5api-45" class="list-group-item">
     <i class="badge badge-info"></i> ストレージの受け渡し
     </a>
     <a href="#" target="_blank" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：ToDoリスト
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     オフラインWebアプリケーション
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     Text Selection
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     Text Editing
     </a>
</div>
<div class="list-group">
     <a class="list-group-item active">
     Sensor
     </a>
</div>