<div class="list-group">
     <a href="audio-1" class="list-group-item">
     <i class="badge badge-info"></i> Audioが使えるか調べる
     </a>
     <a href="audio-2" class="list-group-item">
     <i class="badge badge-info"></i> オーディオを再生
     </a>
     <a href="audio-2" class="list-group-item">
     <i class="badge badge-info"></i> Ajaxとは
     </a>
     <a href="audio-3" class="list-group-item">
     <i class="badge badge-info"></i> XMLHttpRequestとは
     </a>
     <a href="audio-7" class="list-group-item">
     <i class="badge badge-info"></i> jQueryのAjax系メソッド
     </a>
     <a href="audio-8" class="list-group-item">
     <i class="badge badge-info"></i> テキストの読み込み
     </a>
     <a href="audio-9" class="list-group-item">
     <i class="badge badge-info"></i> HTMLの読み込み
     </a>
     <a href="audio-10" class="list-group-item">
     <i class="badge badge-info"></i> 特定のDOM要素の読み込み
     </a>
     <a href="audio-14" class="list-group-item">
     <i class="badge badge-info"></i> Ajaxでページング
     </a>
     <a href="audio-11" class="list-group-item">
     <i class="badge badge-info"></i> XMLの読み込み
     </a>
     <a href="audio-12" class="list-group-item">
     <i class="badge badge-info"></i> XMLの属性値の取得
     </a>
     <a href="audio-24" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：XMLデータの処理①
     </a>
     <a href="audio-25" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：XMLデータの処理②
     </a>
     <a href="audio-26" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：RSSの処理
     </a>
     <a href="audio-13" class="list-group-item">
     <i class="badge badge-info"></i> JSONの読み込み
     </a>
     <a href="audio-27" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：JSONデータの処理①
     </a>
     <a href="audio-28" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：JSONデータの処理②
     </a>
     <a href="https://github.com/yoh-nak/node-xml2json" class="list-group-item">
     <i class="badge badge-info"></i> XMLをJSONに変換する
     </a>
     <a href="https://github.com/yoh-nak/node-rss" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：RSSをサーバーから読み込む
     </a>
     <a href="https://github.com/yoh-nak/node-chat" class="list-group-item">
     <i class="badge badge-info"></i> Webソケットでチャット
     </a>
     <a href="audio-5" class="list-group-item">
     <i class="badge badge-info"></i> APIへの接続
     </a>
     <a href="audio-30" class="list-group-item">
     <i class="badge badge-info"></i> QRコードの生成
     </a>
     <a href="audio-29" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：サムネイルを生成する
     </a>
     <a href="audio-32" class="list-group-item">
     <i class="badge badge-info"></i> Google Chart Tools
     </a>
     <a href="audio-31" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：データの集計
     </a>
</div>