doctype
html
    head
        meta(charset='UTF-8')
        title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script
            :js
                $(function(){
                    $('input').click(function(){
                        $('p').load('sample.txt');
                    });
                });
        //-
            script
                :coffee
                    $ ->
                        $("input").click ->
                            $("p").load "sample.txt"
                            return

                        return
    body
        input(type='button', value='変更')
        p 変更前
