size()
    50px
div
    cursor pointer
    position relative
    margin size()
span
    cursor pointer
    display none
    width size()
    height @width()
    overflow hidden
    position absolute
    top -(size()*0.5)
    left @top
img
    margin-left -(size()+size()*0.5)
    margin-top @margin-left