doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport',content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
        title 変なTシャツ作ってます T-Shirts Project
        link(rel='apple-touch-icon-precomposed',href='images/homeicon.png')
        link(rel='stylesheet',href='css/style42.css')
    body#home
        header#header
            .inner
                //▼ title_area ▼
                .title_area
                    h1 変なTシャツ作ってます<span>T-Shirts<br>Project</span>

                //▼ t_shirts ▼ 
                .t_shirts
                    ul
                        li.t01
                            a(href='#')
                                figure.t_shirt
                                    img(src='images/t05.png',alt='',width='187',height='205')
                                .new NEW
                                .text めがね男子のための、<br>MEGANE Tシャツ登場
                        li.t02
                            a(href='#')
                                figure.t_shirt
                                    img(src='images/t04.png',alt='',width='99',height='107')
                                .new NEW
                        li.t03
                            a(href='#')
                                figure.t_shirt
                                    img(src='images/t02.png',alt='',width='99',height='107')
                        li.t04
                            a(href='#')
                                figure.t_shirt
                                    img(src='images/t01.png',alt='',width='99',height='107')
                        li.t05
                            a(href='#')
                                figure.t_shirt
                                    img(src='images/t03.png',alt='',width='99',height='107')
                        
        #container
            //▼ main_nav ▼
            .main_nav.nav
                ul
                    li
                        a(href='#')
                            span.icon-new.icon-right-open New
                    li
                        a(href='#')
                            span.icon-tshirts.icon-right-open Men
                    li
                        a(href='#')
                            span.icon-tshirts.icon-right-open Women
                ul
                    li
                        a(href='#')
                            span.icon-shop.icon-right-open Shop Info
                    li
                        a(href='#')
                            span.icon-basket.icon-right-open カートを見る

            //▼ banners ▼
            .section.banners
                div
                    a(href='#')
                        img(src='images/banner.png',alt='今なら期間限定商品が50%OFF',width='300',height='60')

            //▼ new_arrival ▼
            .section.new_arrival
                h1.heading_style01 作ってみました！新商品
                ul.box_list
                    li
                        a.icon-right-open(href='#')
                            figure
                                img(src='images/t02.png',alt='')
                            .info
                                h2 MILK BOX
                                p.price &yen;3,800
                                p.text 
                    li
                        a.icon-right-open(href='#')
                            figure
                                img(src='images/t05.png',alt='')
                            .info
                                h2 MEGANE T-Shirts
                                p.price &yen;3,800
                                p.text めがね男子のための、MEGANE Tシャツ登場
                    li
                        a.icon-right-open(href='#')
                            figure
                                img(src='images/t02.png',alt='')
                            .info
                                h2 MILK BOX
                                p.price &yen;3,800
                                p.text 牛乳パックのイラストが目を引く、キュートな逸品。
                    li
                        a.icon-right-open(href='#')
                            figure
                                img(src='images/t05.png',alt='')
                            .info
                                h2 MEGANE T-Shirts
                                p.price &yen;3,800
                                p.text めがね男子のための、MEGANE Tシャツ登場
                a.btn_style01.more(href='#')
                    div
                        span.icon-down-open もっと見る
            //▼ recommends ▼ 
            section.section.recommends
                h1.heading_style01 売れ筋のTシャツ
                .tab_list.nav
                    ul
                        li.active
                            a.small(href='#tab01') 今、売れてます
                        li
                            a(href='#tab02') 売り切れ間近
                        li
                            a(href='#tab03') 定番商品
                //▼ tab01 ▼ 
                #tab01.tab_content.active
                    ul.cf
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t01.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t02.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t03.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t04.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t05.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t01.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t02.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t03.png', alt='')
                                    p.price ¥3,800
                //▼ tab02 ▼ 
                #tab02.tab_content
                    ul.cf
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t03.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t04.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t05.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t01.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t02.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t03.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t04.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t05.png', alt='')
                                    p.price ¥3,800
                //▼ tab03 ▼ 
                #tab03.tab_content
                    ul.cf
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t05.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t04.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t03.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t02.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t01.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t05.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t04.png', alt='')
                                    p.price ¥3,800
                        li
                            a(href='#')
                                div
                                    figure
                                        img(src='images/t03.png', alt='')
                                    p.price ¥3,800


            //▼ search ▼
            section.section.search
                h1.heading_style01
                    label(for='keyword') 商品を検索
                form(action='./',method='get')
                    div
                        input#keyword(type='text',name='keyword',value='',placeholder='キーワードを入力')
                    div
                        button#submit(type='submit') 🔍
                        
        footer#footer フッター
        script(src='http://code.jquery.com/jquery-2.1.0.min.js')