doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        title 変なTシャツ作ってます T-Shirts Project
        link(rel='apple-touch-icon-precomposed',href='images/homeicon.png')
    body#home
        script(src='http://code.jquery.com/jquery-2.1.0.min.js')