extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;シェルスクリプト
                    .panel-body
                        p hello.sh
                        pre(class='prettyprint linenums:1')
                            :code
                                #!/bin/bash

                                echo "hello world"
                                exit 0
                        pre
                            :code
                                ls
                        pre
                            :code
                                chmod +x hello.sh
                        pre(class='prettyprint linenums:1')
                            :code
                                #!/bin/bash

                                echo "hello world"; exit 0

                        pre(class='prettyprint linenums:1')
                            :code
                                #!/bin/bash

                                #変数（スペースNG）
                                s="hello"

                                #1文字の出力
                                echo $s
                                echo "$s"
                                echo "${s}"

                                #文字の連結
                                echo $s$s
                                echo "$s $s"

                                #展開されない
                                echo '$s'






