extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Vim
                    .panel-body
                        .alert.alert-info インストール
                        h4 CentOS
                        pre
                            :code
                                sudo yum install vim
                        pre
                            :code
                                sudo apt-get install vim
                        hr
                        .alert.alert-info 基本
                        pre
                            :code
                                vimの起動
                                vim

                                vimの終了
                                :q

                                vimtutor
                        .alert.alert-info ノーマルモード/コマンドモード/入力モード/ビジュアルモード
                        pre
                            :code
                                vim test.html

                                ノーマルモード
                                

                                入力モード
                                i

                                ノーマルモードに戻る
                                ESC

                                ビジュアルモード（選択範囲を作る）
                                v

                                ノーマルモードに戻る
                                ESC

                                コマンドモード
                                :

                                ノーマルモードに戻る
                                ESC
                        hr
                        .alert.alert-info 保存
                        pre
                            :code
                                保存

                                :w

                                名前を付けて保存
                                :w test2.html

                                終了
                                :q

                                保存して終了
                                :wq

                                強制的に終了
                                :q!

                                他のファイルを開く
                                :e test.html

                        hr                                
                        .alert.alert-info 移動
                        pre
                            :code
                                gg　先頭にカーソルを戻す
                                G カーソルを最後に戻す

                                w　単語単位で後ろに移動
                                b 単語単位で前に移動

                                ^ 行頭に移動
                                $　行末に移動

                                Ctrl+f 1画面次に移動
                                Ctrl+b 1画面前に移動

                                f + 移動したい文字 / ; 次の移動したい文字

                                {}()<>の上で% 対応する括弧に移動
                        hr
                        .alert.alert-info 選択
                        pre
                            :code
                                v　ビジュアルモードに移動 文字単位で選択
                                V ビジュアルモードに移動　行単位で選択
                                Ctrl+v ビジュアルモードに移動 矩形で選択

                                全体を選択
                                gg -> V -> G
                        hr
                        .alert.alert-info カット・コピー・ペースト
                        pre
                            :code
                                文字単位でカット
                                ノーマルモードで x

                                行単位でカット
                                ノーマルモードで dd

                                三行カット
                                ノーマルモードで　3dd

                                ペースト
                                ノーマルモードで　p

                                1行コピー
                                yy

                                三行コピー
                                3yy

                                文字のコピーペースト
                                コピーしたい文字にカーソルを合わせビジュアルモードに移動
                                範囲選択し、ywでコピー
                                pでペースト
                        hr
                        .alert.alert-info 検索
                        pre
                            :code
                                ノーマルモードで /検索語
                                n 次の検索
                                N　前の検索

                                ノーマルモードで
                                *　今カーソルがある単語と同じものの前検索
                                #　今カーソルがある単語と同じものの後検索
                        hr
                        .alert.alert-info 置換
                        pre
                            :code
                                カーソル行の1箇所だけ置換
                                :s/検索文字/置換文字/

                                カーソル行のすべて置換
                                :s/検索文字/置換文字/g

                                ファイル全体の置換
                                :%s/検索文字/置換文字/g

                                置換する際の確認を求める
                                :%s/検索文字/置換文字/gc

                        hr
                        .alert.alert-info アンドゥー/リドゥー
                        pre
                            :code
                                アンドゥー
                                u

                                リドゥー
                                Ctrl + r
                        hr
                        .alert.alert-info ウィンドウスプリット
                        pre
                            :code
                                横方向にスプリット
                                :sp

                                ウィンドウ間の移動
                                Ctrl + w -> w

                                別のファイルを開く
                                :e ファイル名

                                縦方向にスプリット
                                :vs

                                分割したウィンドウを閉じる
                                :close

                        hr
                        .alert.alert-info タブ
                        pre
                            :code
                                新規タブの表示
                                :tabnew

                                ファイルを開いて新規タブ
                                :tabe ファイル名

                                タブの移動
                                gt

                                タブを閉じる
                                :tabclose

                                起動するときに複数タブで開く
                                vim -p ファイル1 ファイル2

                                すべてのファイルで実行
                                :tabdo コマンド

                                すべてのタブで置換
                                :tabdo %s/検索文字/置換文字/g

                        hr
                        .alert.alert-info 操作の繰り返し
                        pre
                            :code
                                3行消した
                                3dd

                                直前の操作の繰り返し
                                .

                        hr
                        .alert.alert-info インデント
                        pre
                            :code
                                1行だけインデントを揃える
                                =

                                全体のインデントを揃える
                                g V gg =

                        hr
                        .alert.alert-info 補完
                        pre
                            :code
                                以前入寮した単語の自動補完
                                数文字打った後 ctrl + n
                        hr
                        .alert.alert-info  矩形編集　
                        pre
                            :code
                                接頭語を複数行に挿入

                                ビジュアルモードに移動
                                Ctrl + v

                                複数行選択した後インサートモード
                                i

                                1行編集してESCでノーマルモードに戻る


                                複数行接頭語を削除

                                ビジュアルモードに移動
                                Ctrl + v
                                
                                複数行選択した後カット
                                x


                        hr
                        .alert.alert-info テキストオブジェクト
                        pre
                            :code
                                <title>hello</title>などの要素にカーソルを合わせて
                                cit

                                内訳
                                cかdかy -> 削除して挿入
                                iかa -> 中身か全体か
                                tか"か)か] -> タグや括弧
                        hr
                        .alert.alert-info 設定
                        pre
                            :code
                                シンタックスの表示
                                :syntax on

                                シンタックスの非表示
                                :syntax off

                                行番号表示
                                :set number

                                行番号の非表示
                                :set nonumber

                                タブサイズの調整
                                :set tabstop=4

                                大文字小文字を区別しない
                                :set ignorecase

                                大文字小文字を区別する
                                :set noignorecase

                                自動インデント有効
                                :set autoindent

                                自動インデント無効
                                :set noautoindent

