extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Vim
                    .panel-body
                        pre
                            :code
                                vimの起動
                                vim

                                vimの終了
                                :q

                                vimtutor

                                vimのモード

                                vim test.html

                                ノーマルモード（コマンドモード）
                                
                                :コマンド

                                ESCで


                                入力モード
                                i

                                ノーマルモードに戻る
                                ESC

                                ビジュアルモード（選択範囲を作る）
                                v

                                ノーマルモードに戻る
                                ESC


                                保存

                                :w

                                名前を付けて保存
                                :w test2.html

                                終了
                                :q

                                強制的に終了
                                :q!

                                他のファイルを開く
                                :e test.html

                                



                        