extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Vim
                    .panel-body
                        .alert.alert-info モード
                        pre
                            :code
                                vimの起動
                                vim

                                vimの終了
                                :q

                                vimtutor

                                vimのモード

                                vim test.html

                                ノーマルモード（コマンドモード）
                                
                                :コマンド

                                ESCで


                                入力モード
                                i

                                ノーマルモードに戻る
                                ESC

                                ビジュアルモード（選択範囲を作る）
                                v

                                ノーマルモードに戻る
                                ESC
                        hr
                        .alert.alert-info 保存
                        pre
                            :code
                                保存

                                :w

                                名前を付けて保存
                                :w test2.html

                                終了
                                :q

                                強制的に終了
                                :q!

                                他のファイルを開く
                                :e test.html

                        hr                                
                        .alert.alert-info 移動
                        pre
                            :code
                                gg　先頭にカーソルを戻す
                                G カーソルを最後に戻す

                                w　単語単位で後ろに移動
                                b 単語単位で前に移動

                                Ctrl+f 1画面次に移動
                                Ctrl+b 1画面前に移動

                                ^ 行頭に移動
                                $　行末に移動

                                f + 移動したい文字 / ; 次の移動したい文字

                                {}()<>の上で% 対応する括弧に移動
                        hr
                        .alert.alert-info 選択
                        pre
                            :code
                                v　ビジュアルモードに移動 文字単位で選択
                                V ビジュアルモードに移動　行単位で選択
                                Ctrl+v ビジュアルモードに移動 矩形で選択

                                全体を選択
                                gg -> V -> G
                        hr
                        .alert.alert-info カット・コピー・ペースト
                        pre
                            :code
                                文字単位でカット
                                ノーマルモードで x

                                行単位でカット
                                ノーマルモードで dd

                                三行カット
                                ノーマルモードで　3 dd

                                ペースト
                                ノーマルモードで　p

                                1行コピー
                                yy

                                三行コピー
                                3　yy

                                文字のコピーペースト
                                コピーしたい文字にカーソルを合わせビジュアルモードに移動
                                範囲選択し、ywでコピー
                                pでペースト
                        hr
                        .alert.alert-info 検索
                        pre
                            :code
                                ノーマルモードで /検索語
                                n 次の検索
                                N　前の検索

                                ノーマルモードで
                                *　今カーソルがある単語と同じものの前検索
                                #　今カーソルがある単語と同じものの後検索
                        hr








                        pre
                            :code
                                :syntax on
                                :set number

