doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		article
			h1 テキストテキストテキストテキスト
			-for(var i = 0; i < 4; i++)
				p テキストテキストテキストテキスト
			address テキストテキストテキストテキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
