doctype
html(lang='ja')
 head
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.2.9/angular.min.js')
  script(src='app.js')
 body(ng-app='Hello')
  div(ng-controller='HelloCtrl')
   p {{hello.text}}, World!!