div.list-group
     a.list-group-item(href='#')
          i.badge.badge-info
          | Vimの使い方
     a.list-group-item(href='#')
          i.badge.badge-info
          | Rubyのインストール
     a.list-group-item(href='#')
          i.badge.badge-info
          | Gitの使い方
     a.list-group-item(href='#')
          i.badge.badge-info
          | GitHubの使い方
     a.list-group-item(href='#')
          i.badge.badge-info
          | Hostingサービス
     a.list-group-item(href='#')
          i.badge.badge-info
          | Herokuへデプロイ
     a.list-group-item(href='material/vagrant-1')
          i.badge.badge-info
          | Vagrantの使い方
     a.list-group-item(href='material/phonegap-1')
          i.badge.badge-info
          | phonegapの環境構築