!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:stylus
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Vimの使い方
						div.panel-body
							pre
								| Windows に MongoDB をインストールする
								| 
								| Windows に MongoDB をサービスとしてインストールしてみます。
								| 
								| MongoDB のサイトにアクセスし、環境にあったファイルをダウンロードして展開します。
								| http://www.mongodb.org/downloads　（ダウンロード）
								| ※今回はWindows 64-bit版のバージョン2.0.2をダウンロード
								| 
								|  
								| 今回はプログラムもデータも「c:\mongodb」フォルダ以下に配置します。mongodbフォルダを作成し、先ほど展開した中にあるbinフォルダ以下をコピーします。
								|
								| C:\mongodb\dataディレクトリを作成します。
								| C:\mongodb\logsディレクトリを作成します。
								| 
								| サービスとして実行したいので、サービスへ登録します。コマンドプロンプトを管理者として実行し、下記のコマンドを実行します。
								| 
								| cd c:\mongodb\bin
								| 
								| mongod --install --logpath C:\mongodb\log.txt --dbpath C:\mongodb\db
								| log.txtを見ると下記のような感じで結果が確認できます。
								| 
								| 
								| Creating service MongoDB.
								| 
								| Service creation successful.
								| 
								| Service can be started from the command line via 'net start "MongoDB"'.
								| 
								| -- 省略 --
								|  
								| 
								| 後は、上記ログに書かれているように下記コマンドでサービスを開始すれば完了です。
								| 
								| net start "MongoDB"
								| 
								| 
								|  
								| 
								| 念のため、コマンドラインクライアントから接続を確認しておきます。上記の流れだとカレントがc:\mongodb\binになっていますので、そのまま「mongo」と入力して実行すれば接続の確認ができます
								| 
								| 
								|  
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')