nav.navbar.navbar-default
  div.navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  div.collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li.active
        a(href='linux1.jade') 開発環境
    ul.nav.navbar-nav.navbar-right
      li
       a(href="http://www.vagrantup.com/",target="_blank") VirtualBox
      li
        a(href="http://www.vagrantup.com/",target="_blank") Vagrant
      li
        a(href="http://www.vagrantbox.es/",target="_blank") Vagrantbox