ul
    list-style-type none
    margin-top 0
    margin-bottom 0
    padding-left 0

#container
    width 650px
    margin 100px auto

#slideGalley
    width 650px
    position relative
    overflow hidden

#slide
    width 10000px
    overflow hidden
	li
	    float left
        
#nav
    .prev
        position absolute
        left 10px
        top 50%
        margin-top -50px

    .next
        position  absolute
        right 10px
        top 50%
        margin-top -50px

