@charset "UTF-8";
#area-search { position: absolute; right: 0; top: 35px; font: 12px/1.5em sans-serif; }

/* STEP 2 */
/* 標準装備を非表示 */
.gsc-search-box { display: none; }

.gsc-tabsArea { display: none; }

.gsc-resultsHeader { display: none; }

.gs-visibleUrl { display: none; }

/* STEP 2 */
/* レイアウト調整 */
#area-search .txt { width: 180px; }

b { font-weight: bold; }

#searchControl { margin-top: 30px; border-top: 1px dotted #036; }
#searchControl .gs-title { color: #080; text-decoration: none; }
#searchControl .gs-title:hover { text-decoration: underline; }
#searchControl .gs-title b { color: #080; text-decoration: none; zoom: 1; }
#searchControl .gs-webResult { padding: 10px 0; border-bottom: 1px dotted #036; }
#searchControl .gsc-result { margin: 0; }
#searchControl .gsc-cursor { display: block; width: 100%; margin: 10px auto; font-size: 14px; text-align: right; }
#searchControl .gsc-cursor .gsc-cursor-page { padding: 0 3px; text-decoration: none; }
#searchControl .gsc-cursor .gsc-cursor-page:hover { background: yellow; }

/* STEP 3 */
.gsc-tabsArea { display: block; }

.gsc-resultsHeader { display: block; }

#searchControl { border-top: 0; }
