doctype
html
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style13.css')
    body
        #container
            ul.menu
                li
                    a(href='#') メニューA
                    ul.sub
                        li
                            a(href='#') サブメニューA
                        li
                            a(href='#') サブメニューA
                        li
                            a(href='#') サブメニューA
                            ul.sub
                                li
                                    a(href='#') サブメニューA2
                                li
                                    a(href='#') サブメニューA2
                                li
                                    a(href='#') サブメニューA2

                li
                    a(href='#') メニューB
                    ul.sub
                        li
                            a(href='#') サブメニューB
                        li
                            a(href='#') サブメニューB
                            ul.sub
                                li
                                    a(href='#') サブメニューB2
                                li
                                    a(href='#') サブメニューB2
                                li
                                    a(href='#') サブメニューB2
                                    ul.sub
                                        li
                                            a(href='#') サブメニューB3
                                        li
                                            a(href='#') サブメニューB3
                                        li
                                            a(href='#') サブメニューB3
                        li
                            a(href='#') サブメニューB
                li
                    a(href='#') メニューC
                    ul.sub
                        li
                            a(href='#') サブメニューC
                            ul.sub
                                li
                                    a(href='#') サブメニューC2
                                li
                                    a(href='#') サブメニューC2
                                li
                                    a(href='#') サブメニューC2
                        li
                            a(href='#') サブメニューC
                        li
                            a(href='#') サブメニューC
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script13.js')
