doctype
html
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style8.css')
    body
        #container
            ul.menu
                li
                    a(href='#') メニューA
                    ul.sub
                        li
                            a(href='#') サブメニューA
                        li
                            a(href='#') サブメニューA
                        li
                            a(href='#') サブメニューA

                li
                    a(href='#') メニューB
                    ul.sub
                        li
                            a(href='#') サブメニューB
                        li
                            a(href='#') サブメニューB
                        li
                            a(href='#') サブメニューB
                li
                    a(href='#') メニューC
                    ul.sub
                        li
                            a(href='#') サブメニューC
                        li
                            a(href='#') サブメニューC
                        li
                            a(href='#') サブメニューC
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script8.js')
