doctype
html
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style1.css')
    body
        #container
            ul.menu
                li
                    a(href='#') メニューA
                li
                    a(href='#') メニューB
                li
                    a(href='#') メニューC
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script1.js')
