doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		div div要素
		hr
		span span要素
		hr
		img(src='img/img.png',alt='')
		hr
		table
			tr
				td td要素
		hr
		ul
			li li要素
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')