doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		table(border='1')
			- for(var i = 0; i < 3; i++)
				tr.even
					td テキスト
					td テキスト
					td テキスト
					td テキスト
				tr.odd
					td テキスト
					td テキスト
					td テキスト
					td テキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
