doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		ul: li メニューメニューメニュー
		p: input(type='button',value='追加')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
