!!!
html(lang='ja')
	head
		meta(charset='utf-8')
		meta(name='viewport',content='initial-scale=1.0,user-scalable=no')
		link(rel='stylesheet',href='style.css')
		script(src='http://maps.googleapis.com/maps/api/js?sensor=false&v=3')
		script.

		:less
	body.code2-3-2
		div#map_canvas
		div#side_bar
			label
				ipnut#marker_visible(type='checkbox',value='1',checked='checked') 表示／非表示
				ul#marker_list