doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		div 祖先
			div 親
				.border 兄1
				div 兄2
				#iam ぼく
					div 子供1
					div 子供2
				.border 弟1
				div 弟2
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
