doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		p
			input(type='button',value='表示')
			input(type='button',value='非表示')
		p#first
		ul
			for i in new Array(4)
				li テキストテキストテキストテキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
