.list-group
    a.list-group-item(href='1')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='4')
        i.badge.badge-info
        | レスポンシブWebデザインとは
    a.list-group-item(href='3')
        i.badge.badge-info
        | レイアウトパターン
    a.list-group-item(href='#')
        i.badge.badge-info
        | Cafeサイト
    a.list-group-item(href='2')
        i.badge.badge-info
        | emを割り出す
