.list-group
    a.list-group-item(href='../rwd/1')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../rwd/4')
        i.badge.badge-info
        | レスポンシブWebデザインとは
    a.list-group-item(href='../rwd/5')
        i.badge.badge-info
        | 三大要素
    a.list-group-item(href='../rwd/3')
        i.badge.badge-info
        | レイアウトパターン
    a.list-group-item(href='../rwd/6')
        i.badge.badge-info
        | ワークフロー
    a.list-group-item(href='../rwd/#')
        i.badge.badge-info
        | Cafeサイト
    a.list-group-item(href='../rwd/7')
        i.badge.badge-info
        | フルードグリッド
    a.list-group-item(href='../rwd/2')
        i.badge.badge-info
        | emを割り出す
