<%- include ../head %>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
 
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li class="active"><a href="">文法</a></li>
          <li><a href="">Bootstrap</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
			<li><a href="getbootstrap.com" target="_blank">Bootstrap</a></li>
			<li><a href="http://lessframework.com/" target="_blank">Less Fw</a></li>
        </ul>
      </div>
    </nav>

    </div>
    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>