include ../head2.jade
	body
		nav.navbar.navbar-default
			.navbar-header
				button.navbar-toggle(data-toggle='collapse',data-target='.target')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.navbar-brand(href='/')=title
			.collapse.navbar-collapse.target
				ul.nav.navbar-nav
					li
						a(href='#') RWD
					li
						a(href='../bootstrap/1') Bootstrap
		.container
			.row
				.col-sm-3
				.col-sm-6
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='js/bootstrap.min.js')