extends ../layout

block link
    include ../link1

block content
    include ../mobile/navbar.jade
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Cafeサイト⑩
                    .panel-body
                        p ブレイクポイントの決定
                        table.table
                            tr
                                th 対象デバイスのイメージ
                                th ブレークポイント
                                th 備考
                            tr
                                td iPhoneのポートレート（縦向き）
                                td 320px
                                td デフォルトのCSS
                            tr
                                td iPhoneのランドスケープ（縦向き）
                                td 480px
                                td 
                            tr
                                td iPadのポートレート
                                td 768px
                                td 
                            tr
                                td デスクトップPC
                                td 1024px
                                td
                        hr
                        p ⑱ 画面幅758px、1024px以上の指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index18.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";
                                * {
                                  margin: 0;
                                  padding: 0;
                                }
                                a {
                                  text-decoration: none;
                                }
                                ul,
                                ol {
                                  list-style: none;
                                }
                                img {
                                  vertical-align: middle;
                                }
                                img {
                                  max-width: 100%;
                                }
                                html {
                                  font-family: verdana, sans-serif;
                                  font-size: 100%;
                                  line-height: 1.5;
                                  background: url("http://griddle.it/960-12-10?color=pink&background=white&text=black");
                                }
                                h1,
                                h2,
                                h3,
                                h4,
                                h5,
                                h6 {
                                  margin-bottom: 24px;
                                }
                                h1 {
                                  font-size: 48px;
                                  line-height: 1;
                                }
                                h2 {
                                  font-size: 36px;
                                  line-height: 1.3333;
                                }
                                h3 {
                                  font-size: 24px;
                                  line-height: 1;
                                }
                                hgroup h2,
                                h4,
                                h5,
                                h6 {
                                  font-size: 16px;
                                  line-height: 1.5;
                                }
                                header {
                                  text-align: center;
                                  padding-top: 24px;
                                  background: #211f1f;
                                }
                                header h1 {
                                  margin-bottom: 24px;
                                }
                                header h2 {
                                  color: #fff;
                                }
                                nav {
                                  margin-bottom: 24px;
                                  background-color: #7d4934;
                                  background: -moz-linear-gradient(top, #7d4934 0%, #2b1512 88%);
                                  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d4934), color-stop(88%, #2b1512));
                                  background: -webkit-linear-gradient(top, #7d4934 0%, #2b1512 88%);
                                  background: -o-linear-gradient(top, #7d4934 0%, #2b1512 88%);
                                  background: linear-gradient(to bottom, #7d4934 0%, #2b1512 88%);
                                }
                                nav ul {
                                  overflow: hidden;
                                }
                                nav ul li {
                                  width: 25%;
                                  float: left;
                                }
                                nav ul li a {
                                  display: block;
                                  color: #d8c2a4;
                                  padding: 12px 0;
                                }
                                nav ul li a:hover {
                                  color: #fff;
                                  background-color: #7d4934;
                                }
                                #contents {
                                  width: 90%;
                                  margin: 0 auto;
                                  text-align: center;
                                }
                                #contents p {
                                  margin-bottom: 24px;
                                  text-align: left;
                                }
                                #contents img {
                                  margin-bottom: 24px;
                                  box-shadow: 0 0 5px #2f1f1f;
                                }
                                footer {
                                  padding: 24px 0;
                                  color: #fff;
                                  text-align: center;
                                  background: url("../images/footer_bg.png");
                                }
                                <mark>@media screen and (min-width : 768px) {
                                  #contents {
                                    text-align: left;
                                  }
                                }
                                @media screen and (min-width : 1024px) {
                                }</mark>
                        hr
                        p ⑲ グリッド画像の配置
                        p 960 Grid System<br>http://960.gs/
                        p gridle.it<br>http://griddle.it
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index19.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934

                                // @group Contents
                                #contents
                                    width 90%
                                    margin 0 auto
                                    text-align center
                                    <mark>background url(http://griddle.it/960-12-10?color=pink&background=white&text=black)</mark>
                                    p
                                        margin-bottom 24px
                                        text-align left
                                    img
                                        margin-bottom 24px
                                        box-shadow 0 0 5px #2f1f1f

                                // @group Foote
                                footer
                                    padding 24px 0
                                    color white
                                    text-align center
                                    background url(../images/footer_bg.png)

                                // 768px
                                @media screen and (min-width : 768px)
                                    #contents
                                        text-align left

                                // 1024px
                                @media screen and (min-width : 1024px)
                                    //
                        hr
                        p ⑳ 2段組の作成<br>viewport 1024px
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index20.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934

                                // @group Contents
                                #contents
                                    width 90%
                                    margin 0 auto
                                    text-align center
                                    background url(http://griddle.it/960-12-10?color=pink&background=white&text=black)
                                    p
                                        margin-bottom 24px
                                        text-align left
                                    img
                                        margin-bottom 24px
                                        box-shadow 0 0 5px #2f1f1f

                                // @group Foote
                                footer
                                    padding 24px 0
                                    color white
                                    text-align center
                                    background url(../images/footer_bg.png)

                                // 768px
                                @media screen and (min-width : 768px)
                                    #contents
                                        text-align left

                                // 1024px
                                @media screen and (min-width : 1024px)
                                    <mark>// @group Contents 
                                    #contents
                                        overflow hidden
                                        width 960px
                                        #main
                                            width 620px
                                        #sub
                                            width 300px
                                    #contents #main,
                                    #contents #sub
                                        float left
                                        margin 0 10px</mark>
                        hr
                        p ㉑ ナビゲーションパネルの調整
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index21.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934

                                // @group Contents
                                #contents
                                    width 90%
                                    margin 0 auto
                                    text-align center
                                    background url(http://griddle.it/960-12-10?color=pink&background=white&text=black)
                                    p
                                        margin-bottom 24px
                                        text-align left
                                    img
                                        margin-bottom 24px
                                        box-shadow 0 0 5px #2f1f1f

                                // @group Foote
                                footer
                                    padding 24px 0
                                    color white
                                    text-align center
                                    background url(../images/footer_bg.png)

                                // 768px
                                @media screen and (min-width : 768px)
                                    #contents
                                        text-align left

                                // 1024px
                                @media screen and (min-width : 1024px)
                                    <mark>// @group Nav
                                    nav ul
                                        width 960px
                                        margin 0 auto</mark>

                                    // @group Contents 
                                    #contents
                                        overflow hidden
                                        width 960px
                                        #main
                                            width 620px
                                        #sub
                                            width 300px
                                    #contents #main,
                                    #contents #sub
                                        float left
                                        margin 0 10px

                                    // @group Footer
                                    footer
                                        width 940px
                                        margin 0 auto
                        hr
                        p ㉒ footerの幅の変更
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index22.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934

                                // @group Contents
                                #contents
                                    width 90%
                                    margin 0 auto
                                    text-align center
                                    background url(http://griddle.it/960-12-10?color=pink&background=white&text=black)
                                    p
                                        margin-bottom 24px
                                        text-align left
                                    img
                                        margin-bottom 24px
                                        box-shadow 0 0 5px #2f1f1f

                                // @group Foote
                                footer
                                    padding 24px 0
                                    color white
                                    text-align center
                                    background url(../images/footer_bg.png)

                                // 768px
                                @media screen and (min-width : 768px)
                                    #contents
                                        text-align left

                                // 1024px
                                @media screen and (min-width : 1024px)
                                    // @group Nav
                                    nav ul
                                        width 960px
                                        margin 0 auto

                                    // @group Contents 
                                    #contents
                                        overflow hidden
                                        width 960px
                                        #main
                                            width 64.5833333%
                                        #sub
                                            width 31.25%
                                    #contents #main,
                                    #contents #sub
                                        float left
                                        margin 0 1.0416667%

                                    <mark>// @group Footer
                                    footer
                                        width 940px
                                        margin 0 auto</mark>