extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ナビゲーションパターンとレイアウト設計
                    .panel-body
                        pre.
                            コンテンツファースト、ナビゲーションセカンド

                            http://alistapart.com/article/organizing-mobile/#section6
                        pre.
                            基本となるレイアウトパターン

                            http://nowhere.co.jp/blog/archives/20120925-041441.html

                            Mostly Fluid（フルード型）
                            Column Drop（カラム落ち型）
                            Layout Shifter（レイアウト変更型）
                            Tiny Tweaks（微調整型）
                            Off Canvas（オフキャンバス型）
                        pre.
                            タッチデバイスの操作を考慮したナビゲーション

                            http://coliss.com/articles/build-websites/operation/work/responsive-navigation-system-for-touch-across-device-by-lukew.html