extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;レスポンシブWebデザインの三大要素
                    .panel-body
                        pre.
                            レスポンシブWebデザインでは、「フルードグリッド（Fruid Grid）」「フルードイメージ（Fruid Image）」「メディアクエリー（Media Query）」の3つの技術的な要素で構成されます。
                        pre.
                            フルードグリッド

                            フルードグリッドは、Webページの要素を罫線や升目にそって配置する「グリッドデザイン（Grid Design）」と、ブラウザの横幅が変わってもレイアウトを維持したまま要素のサイズを調整する「フルードデザイン（Fruid Design）」を合わせたものです。レスポンシブWebデザインでは、最初にグリッドデザインによって部品や表示領域をpx単位で配置していき、レイアウトが整った後に、値を%に変換してフルードデザインに変更します。
                        pre.
                            フルードイメージ

                            フルードイメージは、レイアウトの大きさに追随して画像のサイズを拡大・縮小する手法で、CSSのみで実装できます。イギリスのコンサルティングファーム「ClearLeft」のリチャード・ルター（Richard Rutter）氏によって提唱されました。
                        pre.
                            メディアクエリー

                            メディアクエリーは、画面の解像度、ウィンドウの幅、デバイスの向きなどの指定条件にあわせて別々のCSSを適用する技術です。レスポンシブWebデザインではメディアクエリーを使ってスクリーンサイズに応じたCSSに切り替えます
                        pre.
                            このほかにも、文字レイアウトの大きさに追随して伸縮する「レスポンシブタイプセッティング（Respoinsive Typesetting）」や、テーブル（表組）のサイズを調整する「レスポンシブテーブル（Responsive Table）」などの技術があり、必要に応じて利用していきます。