extends ../layout

block link
    include ../link1

block content
    include ../mobile/navbar.jade
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Cafeサイト①
                    .panel-body
                        p デザインイニングインブラウザー
                        p: u コンテンツの洗い出しと画面設計
                        pre.
                            サイトロゴ・・・1点
                            文章・・・ウェルカムメッセージ、コーヒーへのこだわり、スタッフ紹介
                            写真・・・コーヒーの写真2点、スタッフの写真1点
                            ナビゲーション・・・ホーム、コーヒー、メニュー、アクセス
                        p: u ラフスケッチの作成
                        p: u コンテンツ素材の準備
                        pre
                            :code
                                コーヒーの写真
                                images/cafe01.jpg
                                images/cafe02.jpg
                                images/cafe03.jpg

                                サイトロゴ
                                images/logo.png

                                グリッド
                                http://griddle.it/960-12-10?color=pink&background=white&text=black
                        hr
                        p ① HTMLの記述
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title トップ｜カフェビーン
                                    body
                        hr
                        p ② Vierportの指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        <mark>meta(name='viewport', content='width=device-width,initial-scale=1.0')</mark>
                                        title トップ｜カフェビーン
                                    body
                        hr
                        p ③ ヘッダー
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        <mark>header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス</mark>
                        hr
                        p ④ コンテンツ/フッター
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        <mark>#contents 
                                        footer
                                            p
                                                small ©2013 CAFE BEAN</mark>
                        hr
                        p ⑤ メインコンテンツ
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        #contents
                                            <mark>#main
                                                section#vitamin
                                                    h3 カフェ ビーンへようこそ
                                                    p
                                                    | 飯田橋駅から徒歩5分。閑静な都心の住宅街の中にカフェ ビーンはあります。
                                                    a(href='http://www.allianceforcoffeeexcellence.org/en/') カップオブエクセレンス
                                                    | の入賞作品をはじめ、オーナー自らが世界中から直接買い付けてきたこだわりのコーヒーと、くつろぎの空間をご用意してお待ちしています。
                                                section#reciept
                                                    h3 おいしい一杯へのこだわり
                                                    h4 1.旬なコーヒー豆を毎日お店で焙煎
                                                    img(src='images/cafe01.jpg', alt='写真　コーヒー豆')
                                                    p カフェ・ビーンのコーヒー豆はいつも新鮮。世界中から毎週入荷するニュークロップを直火式の小型ロースターで毎日少しずつお店で焙煎しています。
                                                    h4 2.注文ごとに1杯ずつドリップ
                                                    img(src='images/cafe02.jpg', alt='写真　コーヒードリップ')
                                                    p 新鮮なのは豆だけではありません。コーヒードリンクはすべて、注文をいただいてから1杯ずつ丁寧にハンドドリップで提供します。</mark>
                                        footer
                                            p
                                                small ©2013 CAFE BEAN
                        hr
                        p ⑥ サブコンテンツ
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        #contents
                                            #main
                                                section#vitamin
                                                    h3 カフェ ビーンへようこそ
                                                    p
                                                    | 飯田橋駅から徒歩5分。閑静な都心の住宅街の中にカフェ ビーンはあります。
                                                    a(href='http://www.allianceforcoffeeexcellence.org/en/') カップオブエクセレンス
                                                    | の入賞作品をはじめ、オーナー自らが世界中から直接買い付けてきたこだわりのコーヒーと、くつろぎの空間をご用意してお待ちしています。
                                                section#reciept
                                                    h3 おいしい一杯へのこだわり
                                                    h4 1.旬なコーヒー豆を毎日お店で焙煎
                                                    img(src='images/cafe01.jpg', alt='写真　コーヒー豆')
                                                    p カフェ・ビーンのコーヒー豆はいつも新鮮。世界中から毎週入荷するニュークロップを直火式の小型ロースターで毎日少しずつお店で焙煎しています。
                                                    h4 2.注文ごとに1杯ずつドリップ
                                                    img(src='images/cafe02.jpg', alt='写真　コーヒードリップ')
                                                    p 新鮮なのは豆だけではありません。コーヒードリンクはすべて、注文をいただいてから1杯ずつ丁寧にハンドドリップで提供します。
                                            <mark>#sub
                                                aside
                                                    h4 私たちがお迎えします
                                                    img(src='images/cafe03.jpg', alt='写真　スタッフ')
                                                    p 老舗喫茶店で10年間経験を積んだオーナーと接客経験豊富なホールスタッフが笑顔でお出迎えします。</mark>
                                        footer
                                            p
                                                small ©2013 CAFE BEAN
                        hr
                        p ⑦ 文字コードの指定、margin、paddingのリセット
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                        <mark>link(rel='stylesheet', href='css/style.css', media='all')</mark>
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        #contents
                                            #main
                                                section#vitamin
                                                    h3 カフェ ビーンへようこそ
                                                    p
                                                    | 飯田橋駅から徒歩5分。閑静な都心の住宅街の中にカフェ ビーンはあります。
                                                    a(href='http://www.allianceforcoffeeexcellence.org/en/') カップオブエクセレンス
                                                    | の入賞作品をはじめ、オーナー自らが世界中から直接買い付けてきたこだわりのコーヒーと、くつろぎの空間をご用意してお待ちしています。
                                                section#reciept
                                                    h3 おいしい一杯へのこだわり
                                                    h4 1.旬なコーヒー豆を毎日お店で焙煎
                                                    img(src='images/cafe01.jpg', alt='写真　コーヒー豆')
                                                    p カフェ・ビーンのコーヒー豆はいつも新鮮。世界中から毎週入荷するニュークロップを直火式の小型ロースターで毎日少しずつお店で焙煎しています。
                                                    h4 2.注文ごとに1杯ずつドリップ
                                                    img(src='images/cafe02.jpg', alt='写真　コーヒードリップ')
                                                    p 新鮮なのは豆だけではありません。コーヒードリンクはすべて、注文をいただいてから1杯ずつ丁寧にハンドドリップで提供します。
                                            #sub
                                                aside
                                                    h4 私たちがお迎えします
                                                    img(src='images/cafe03.jpg', alt='写真　スタッフ')
                                                    p 老舗喫茶店で10年間経験を積んだオーナーと接客経験豊富なホールスタッフが笑顔でお出迎えします。
                                        footer
                                            p
                                                small ©2013 CAFE BEAN
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle
                        hr
                        p ⑧ a要素の下線、ul/ol要素のビュレットの非表示
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                <mark>a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%</mark>

                        hr
                        p ⑨ img要素のディセンダーを削除/フルートイメージによる画像の伸縮
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5
                        hr
                        p ⑩ タイポグラフィーの基本設定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                <mark>// @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5</mark>
                        hr
                        p ⑪ 見出しの指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                <mark>// @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff</mark>
                        hr
                        p ⑫ ナビゲーションバーの設定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index12.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                <mark>// @group Nav
                                nav
                                    ul
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block</mark>
                        hr
                        p ⑬ グラーデーションの指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index13.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.html
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    <mark>margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)</mark>
                                    ul
                                        <mark>overflow hidden</mark>
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                padding 12px 0
                        hr
                        p ⑭ グラーデーションの指定、a:hoverの指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index14.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.html
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                <mark>color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934</mark>
                        hr
                        p ⑮ メインコンテンツの指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index15.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.html
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934

                                <mark>// @group Contents
                                #contents
                                    width 90%
                                    margin 0 auto</mark>
                        hr
                        p ⑯
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index16.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.html
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934

                                // @group Contents
                                #contents
                                    width 90%
                                    margin 0 auto
                                    <mark>text-align center
                                    p
                                        margin-bottom 24px
                                        text-align left
                                    img
                                        margin-bottom 24px
                                        box-shadow 0 0 5px #2f1f1f</mark>
                        hr
                        p ⑰ フッターの指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index17.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.html
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5

                                // @group Header
                                header
                                    text-align center
                                    padding-top 24px
                                    background #211f1f
                                    h1
                                        margin-bottom 24px
                                    h2
                                        color #fff

                                // @group Nav
                                nav
                                    margin-bottom 24px
                                    background-color #7D4934
                                    background -moz-linear-gradient(top, rgba(125,73,52,1) 0%, rgba(43,21,18,1) 88%)
                                    background -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,73,52,1)), color-stop(88%,rgba(43,21,18,1)))
                                    background -webkit-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background -o-linear-gradient(top, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    background linear-gradient(to bottom, rgba(125,73,52,1) 0%,rgba(43,21,18,1) 88%)
                                    ul
                                        overflow hidden
                                        li
                                            width 25%
                                            float left
                                            a
                                                display block
                                                color #d8c2a4
                                                padding 12px 0
                                                &:hover
                                                    color white
                                                    background-color #7d4934

                                // @group Contents
                                #contents
                                    width 90%
                                    margin 0 auto
                                    text-align center
                                    p
                                        margin-bottom 24px
                                        text-align left
                                    img
                                        margin-bottom 24px
                                        box-shadow 0 0 5px #2f1f1f

                                <mark>// @group Foote
                                footer
                                    padding 24px 0
                                    color white
                                    text-align center
                                    background url(../images/footer_bg.png)</mark>