extends ../layout

block link
    include ../link1

block content
    include ../mobile/navbar.jade
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Cafeサイト
                    .panel-body
                        p デザインイニングインブラウザー
                        p: u コンテンツの洗い出しと画面設計
                        pre.
                            サイトロゴ・・・1点
                            文章・・・ウェルカムメッセージ、コーヒーへのこだわり、スタッフ紹介
                            写真・・・コーヒーの写真2点、スタッフの写真1点
                            ナビゲーション・・・ホーム、コーヒー、メニュー、アクセス
                        p: u ラフスケッチの作成
                        p: u コンテンツ素材の準備
                        pre
                            :code
                                コーヒーの写真
                                images/cafe01.jpg
                                images/cafe02.jpg
                                images/cafe03.jpg

                                サイトロゴ
                                images/logo.png

                                グリッド
                                http://griddle.it/960-12-10?color=pink&background=white&text=black
                        hr
                        p ① HTMLの記述
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title トップ｜カフェビーン
                                    body
                        hr
                        p ② Vierportの指定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        <mark>meta(name='viewport', content='width=device-width,initial-scale=1.0')</mark>
                                        title トップ｜カフェビーン
                                    body
                        hr
                        p ③ ヘッダー
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        <mark>header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス</mark>
                        hr
                        p ④ コンテンツ/フッター
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        <mark>#contents 
                                        footer
                                            p
                                                small ©2013 CAFE BEAN</mark>
                        hr
                        p ⑤ メインコンテンツ
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        #contents
                                            <mark>#main
                                                section#vitamin
                                                    h3 カフェ ビーンへようこそ
                                                    p
                                                    | 飯田橋駅から徒歩5分。閑静な都心の住宅街の中にカフェ ビーンはあります。
                                                    a(href='http://www.allianceforcoffeeexcellence.org/en/') カップオブエクセレンス
                                                    | の入賞作品をはじめ、オーナー自らが世界中から直接買い付けてきたこだわりのコーヒーと、くつろぎの空間をご用意してお待ちしています。
                                                section#reciept
                                                    h3 おいしい一杯へのこだわり
                                                    h4 1.旬なコーヒー豆を毎日お店で焙煎
                                                    img(src='images/cafe01.jpg', alt='写真　コーヒー豆')
                                                    p カフェ・ビーンのコーヒー豆はいつも新鮮。世界中から毎週入荷するニュークロップを直火式の小型ロースターで毎日少しずつお店で焙煎しています。
                                                    h4 2.注文ごとに1杯ずつドリップ
                                                    img(src='images/cafe02.jpg', alt='写真　コーヒードリップ')
                                                    p 新鮮なのは豆だけではありません。コーヒードリンクはすべて、注文をいただいてから1杯ずつ丁寧にハンドドリップで提供します。</mark>
                                        footer
                                            p
                                                small ©2013 CAFE BEAN
                        hr
                        p ⑥ サブコンテンツ
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        #contents
                                            #main
                                                section#vitamin
                                                    h3 カフェ ビーンへようこそ
                                                    p
                                                    | 飯田橋駅から徒歩5分。閑静な都心の住宅街の中にカフェ ビーンはあります。
                                                    a(href='http://www.allianceforcoffeeexcellence.org/en/') カップオブエクセレンス
                                                    | の入賞作品をはじめ、オーナー自らが世界中から直接買い付けてきたこだわりのコーヒーと、くつろぎの空間をご用意してお待ちしています。
                                                section#reciept
                                                    h3 おいしい一杯へのこだわり
                                                    h4 1.旬なコーヒー豆を毎日お店で焙煎
                                                    img(src='images/cafe01.jpg', alt='写真　コーヒー豆')
                                                    p カフェ・ビーンのコーヒー豆はいつも新鮮。世界中から毎週入荷するニュークロップを直火式の小型ロースターで毎日少しずつお店で焙煎しています。
                                                    h4 2.注文ごとに1杯ずつドリップ
                                                    img(src='images/cafe02.jpg', alt='写真　コーヒードリップ')
                                                    p 新鮮なのは豆だけではありません。コーヒードリンクはすべて、注文をいただいてから1杯ずつ丁寧にハンドドリップで提供します。
                                            <mark>#sub
                                                aside
                                                    h4 私たちがお迎えします
                                                    img(src='images/cafe03.jpg', alt='写真　スタッフ')
                                                    p 老舗喫茶店で10年間経験を積んだオーナーと接客経験豊富なホールスタッフが笑顔でお出迎えします。</mark>
                                        footer
                                            p
                                                small ©2013 CAFE BEAN
                        hr
                        p ⑦ 文字コードの指定、margin、paddingのリセット
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1.0')
                                        title トップ｜カフェビーン
                                        <mark>link(rel='stylesheet', href='css/style.css', media='all')</mark>
                                    body
                                        header
                                            hgroup
                                                h1
                                                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                                                h2 季節のコーヒーとくつろぎの空間
                                            nav
                                                ul
                                                    li
                                                        a(href='#') ホーム
                                                    li
                                                        a(href='#') コーヒー
                                                    li
                                                        a(href='#') メニュー
                                                    li
                                                        a(href='#') アクセス
                                        #contents
                                            #main
                                                section#vitamin
                                                    h3 カフェ ビーンへようこそ
                                                    p
                                                    | 飯田橋駅から徒歩5分。閑静な都心の住宅街の中にカフェ ビーンはあります。
                                                    a(href='http://www.allianceforcoffeeexcellence.org/en/') カップオブエクセレンス
                                                    | の入賞作品をはじめ、オーナー自らが世界中から直接買い付けてきたこだわりのコーヒーと、くつろぎの空間をご用意してお待ちしています。
                                                section#reciept
                                                    h3 おいしい一杯へのこだわり
                                                    h4 1.旬なコーヒー豆を毎日お店で焙煎
                                                    img(src='images/cafe01.jpg', alt='写真　コーヒー豆')
                                                    p カフェ・ビーンのコーヒー豆はいつも新鮮。世界中から毎週入荷するニュークロップを直火式の小型ロースターで毎日少しずつお店で焙煎しています。
                                                    h4 2.注文ごとに1杯ずつドリップ
                                                    img(src='images/cafe02.jpg', alt='写真　コーヒードリップ')
                                                    p 新鮮なのは豆だけではありません。コーヒードリンクはすべて、注文をいただいてから1杯ずつ丁寧にハンドドリップで提供します。
                                            #sub
                                                aside
                                                    h4 私たちがお迎えします
                                                    img(src='images/cafe03.jpg', alt='写真　スタッフ')
                                                    p 老舗喫茶店で10年間経験を積んだオーナーと接客経験豊富なホールスタッフが笑顔でお出迎えします。
                                        footer
                                            p
                                                small ©2013 CAFE BEAN
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle
                        hr
                        p ⑧ a要素の下線、ul/ol要素のビュレットの非表示
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                <mark>a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%</mark>

                        hr
                        p ⑨ img要素のディセンダーを削除/フルートイメージによる画像の伸縮
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                // @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5
                        hr
                        p ⑩ タイポグラフィーの基本設定
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                // @group Reset
                                *
                                    margin 0
                                    padding 0
                                a
                                    text-decoration none
                                ul,ol
                                    list-style none
                                img
                                    vertical-align middle

                                // @group Fluid-img
                                img
                                     max-width 100%

                                <mark>// @group HTML
                                html
                                    font-family verdana, sans-serif
                                    font-size 100%
                                    line-height 1.5

                                // @group Heading
                                h1,h2,h3,h4,h5,h6
                                    margin-bottom 24px
                                h1
                                    font-size 48px
                                    line-height 1
                                h2
                                    font-size 36px
                                    line-height 1.3333
                                h3
                                    font-size 24px
                                    line-height 1
                                hgroup h2,h4,h5,h6
                                    font-size 16px
                                    line-height 1.5</mark>
                        hr
                        p ⑪
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index11.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
                                        title
                                        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        style
                                            :stylus
                                                body
                                                    background-image url("images/background.jpg")
                                                    background-size 100%
                                                    font-family sans-serif
                                                //.ui-body-z
                                                .ui-overlay-z
                                                    .ui-header
                                                        background-image url("images/header-background.jpg")
                                                        -webkit-background-size 100% 104px
                                                        background-size 100% 104px
                                                        position relative
                                                        height 104px
                                                        z-index 1
                                                        &:before
                                                            content url("images/header-flag.png")
                                                            position absolute
                                                            left 5px
                                                            top 0
                                                        &:after
                                                            content url("images/header-reef-s.png")
                                                            position absolute
                                                            right 0px
                                                            bottom 15px
                                                        h1
                                                            text-indent -9999px
                                                            background-image url("images/logo.png")
                                                            width 192px
                                                            height 15px
                                                            min-height 15px
                                                            padding 0
                                                            margin 23px auto 4px
                                                        a
                                                            display block
                                                            width 100%
                                                            height 100%
                                                        h2
                                                            color #6f5b00
                                                            font-weight normal
                                                            font-size 12px
                                                            text-align left
                                                            margin 0 auto
                                                            width 192px
                                                        p
                                                            font-size 12px
                                                            color #4c8d00
                                                            margin 0 125px 0 15px
                                                    .ui-content
                                                        position relative
                                                        margin-top -40px
                                                        z-index 2
                                                        .recommend
                                                            text-align center
                                                            img
                                                                border solid 3px #ae9f59
                                                            a
                                                                position relative
                                                                display inline-block
                                                                padding-top 5px
                                                                text-decoration none
                                                                &.new
                                                                    &:before
                                                                        content "new"
                                                                        display block
                                                                        font-size 11px
                                                                        color white
                                                                        background #a06d24
                                                                        padding 2px 5px
                                                                        position absolute
                                                                        top -3px
                                                                        left 10px
                                                                    &:after
                                                                        content ""
                                                                        display block
                                                                        width 0
                                                                        border-bottom 3px solid #7e4d06
                                                                        border-left 3px solid #7e4d06
                                                                        border-top 3px solid transparent
                                                                        border-right 3px solid transparent
                                                                        position absolute
                                                                        top -1px
                                                                        left 39px


                                                #index
                                                    //&.ui-body-z
                                                    &.ui-page-theme-z
                                                        .ui-header
                                                            background-image url("images/header-background-top.jpg")
                                                            -webkit-background-size 100% 170px
                                                            background-size 100% 170px
                                                            height 170px
                                                            &:after
                                                                content url("images/header-reef.png")
                                                                bottom 20px
                                                            h1
                                                                margin-bottom 18px
                                                            h2
                                                                width auto
                                                                margin 0 auto 5px 15px
                                                        .ui-content
                                                            margin-top -50px
                                                //.ui-body-z
                                                .ui-page-theme-z
                                                    .ui-content
                                                        h2
                                                            font-size 14px
                                                            font-weight bold
                                                            color #5b9a12
                                                        p
                                                            font-size 12px
                                                            color #665400
                                                            img
                                                                border solid 3px #ae9f59
                                                                margin 5px
                                                    .ui-collapsible-set
                                                        margin-top 20px
                                                        .ui-collapsible
                                                            margin-top -5px
                                                            h3
                                                                border-radius 8px 8px 0 0
                                                                margin 0 8px
                                                                font-weight normal
                                                            &:last-of-type
                                                                h3
                                                                    border-radius 8px
                                                                a
                                                                    padding-bottom 8px
                                                                .ui-collapsible-content
                                                                    border-bottom 1px solid #ccc49a
                                                                    border-radius 0 0 8px 8px
                                                            &:nth-of-type(1)
                                                                h3
                                                                    background #95be66
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#95be66),to(#649f1f))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #95be66 solid
                                                            &:nth-of-type(2)
                                                                h3
                                                                    background #b0ba63
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#b0ba63),to(#8c9a1b))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #b0ba63 solid
                                                                .ui-icon
                                                                    background-color #849212
                                                            &:nth-of-type(3)
                                                                h3
                                                                    background #bfa65c
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#bfa65c),to(#a07d10))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #bfa65c solid
                                                                .ui-icon
                                                                    background-color #9a780f
                                                            &:nth-of-type(4)
                                                                h3
                                                                    background #bf8a5c
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#bf8a5c),to(#a15411))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-radius 8px 8px 0 0
                                                                        border-bottom 4px #bf8a5c solid
                                                                .ui-icon
                                                                    background-color #a15411
                                                            a
                                                                font-size 14px
                                                                color white
                                                                text-shadow 1px 0 1px rgba(0,0,0,0.3)
                                                                text-decoration none
                                                                padding 8px 0 10px
                                                                border none
                                                            //.ui-btn-inner
                                                            //    border none
                                                            .ui-collapsible-content
                                                                background-color #edf3e4
                                                                margin 0 8px
                                                                padding 8px
                                                                border-left 1px solid #ccc49a
                                                                border-right 1px solid #ccc49a
                                                                -webkit-box-shadow 0 0 10px #c7ad77 inset
                                                                box-shadow 0 0 10px #c7ad77 inset
                                                                p
                                                                    margin 5px
                                                                    color #665400
                                                                    font-size 12px
                                                            //.ui-icon
                                                            .ui-icon-plus
                                                            .ui-icon-minus
                                                                border 3px solid #e6edc5
                                                                background #5f9c17 url("images/icon-check.png") no-repeat 1px 5px
                                                                width 15px
                                                                height 15px
                                                                border-radius 15px
                                                            //.ui-btn-hover-z
                                                            .ui-btn:hover
                                                                .ui-icon
                                                                    background-color rgba(255,255,255,.1)
                                                    <mark>.ui-footer
                                                        background-image url("images/footer-background.jpg")
                                                        background-size 100% 64px
                                                        height 64px
                                                        small
                                                            margin-top 40px
                                                            font-size 10px
                                                            color #504510
                                                            text-align center
                                                            display block
                                                            &:before
                                                                content url("images/footer-reef.png")
                                                                padding-right 1em</mark>

                                    body
                                        #index(data-role='page', data-theme='z')
                                            div(data-role='header', data-theme='z')
                                                h1 HOUSEPLANT STORE
                                                h2 I LOVE HOUSEPLANT
                                                p sample text sample text  sampletext sample text sample text sample text
                                            div(data-role='content')
                                                h2 RECOMMEND
                                                .ui-grid-b.recommend
                                                    .ui-block-a
                                                        a.new(href='detail.html', rel='external')
                                                            img(src='images/thumbnail01.jpg', width='82', height='70', alt='')
                                                    .ui-block-b
                                                        a(href='detail.html', rel='external')
                                                            img(src='images/thumbnail02.jpg', width='82', height='70', alt='')
                                                    .ui-block-c
                                                        a(href='detail.html', rel='external')
                                                            img(src='images/thumbnail03.jpg', width='82', height='70', alt='')
                                                div(data-role='collapsible-set')
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 1
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 2
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 3
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 4
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                            div(data-role='footer', data-theme='z')
                                                small Copyright © 2011 ASCII MEDIA WORKS. All rights reserved.

                        hr
                        p ⑫
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index12.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
                                        title
                                        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        style
                                            :stylus
                                                body
                                                    background-image url("images/background.jpg")
                                                    background-size 100%
                                                    font-family sans-serif
                                                //.ui-body-z
                                                .ui-overlay-z
                                                    .ui-header
                                                        background-image url("images/header-background.jpg")
                                                        -webkit-background-size 100% 104px
                                                        background-size 100% 104px
                                                        position relative
                                                        height 104px
                                                        z-index 1
                                                        &:before
                                                            content url("images/header-flag.png")
                                                            position absolute
                                                            left 5px
                                                            top 0
                                                        &:after
                                                            content url("images/header-reef-s.png")
                                                            position absolute
                                                            right 0px
                                                            bottom 15px
                                                        h1
                                                            text-indent -9999px
                                                            background-image url("images/logo.png")
                                                            width 192px
                                                            height 15px
                                                            min-height 15px
                                                            padding 0
                                                            margin 23px auto 4px
                                                        a
                                                            display block
                                                            width 100%
                                                            height 100%
                                                        h2
                                                            color #6f5b00
                                                            font-weight normal
                                                            font-size 12px
                                                            text-align left
                                                            margin 0 auto
                                                            width 192px
                                                        p
                                                            font-size 12px
                                                            color #4c8d00
                                                            margin 0 125px 0 15px
                                                    .ui-content
                                                        position relative
                                                        margin-top -40px
                                                        z-index 2
                                                        .recommend
                                                            text-align center
                                                            img
                                                                border solid 3px #ae9f59
                                                            a
                                                                position relative
                                                                display inline-block
                                                                padding-top 5px
                                                                text-decoration none
                                                                &.new
                                                                    &:before
                                                                        content "new"
                                                                        display block
                                                                        font-size 11px
                                                                        color white
                                                                        background #a06d24
                                                                        padding 2px 5px
                                                                        position absolute
                                                                        top -3px
                                                                        left 10px
                                                                    &:after
                                                                        content ""
                                                                        display block
                                                                        width 0
                                                                        border-bottom 3px solid #7e4d06
                                                                        border-left 3px solid #7e4d06
                                                                        border-top 3px solid transparent
                                                                        border-right 3px solid transparent
                                                                        position absolute
                                                                        top -1px
                                                                        left 39px


                                                #index
                                                    //&.ui-body-z
                                                    &.ui-page-theme-z
                                                        .ui-header
                                                            background-image url("images/header-background-top.jpg")
                                                            -webkit-background-size 100% 170px
                                                            background-size 100% 170px
                                                            height 170px
                                                            &:after
                                                                content url("images/header-reef.png")
                                                                bottom 20px
                                                            h1
                                                                margin-bottom 18px
                                                            h2
                                                                width auto
                                                                margin 0 auto 5px 15px
                                                        .ui-content
                                                            margin-top -50px
                                                //.ui-body-z
                                                .ui-page-theme-z
                                                    .ui-content
                                                        h2
                                                            font-size 14px
                                                            font-weight bold
                                                            color #5b9a12
                                                        p
                                                            font-size 12px
                                                            color #665400
                                                            img
                                                                border solid 3px #ae9f59
                                                                margin 5px
                                                    .ui-collapsible-set
                                                        margin-top 20px
                                                        .ui-collapsible
                                                            margin-top -5px
                                                            h3
                                                                border-radius 8px 8px 0 0
                                                                margin 0 8px
                                                                font-weight normal
                                                            &:last-of-type
                                                                h3
                                                                    border-radius 8px
                                                                a
                                                                    padding-bottom 8px
                                                                .ui-collapsible-content
                                                                    border-bottom 1px solid #ccc49a
                                                                    border-radius 0 0 8px 8px
                                                            &:nth-of-type(1)
                                                                h3
                                                                    background #95be66
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#95be66),to(#649f1f))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #95be66 solid
                                                            &:nth-of-type(2)
                                                                h3
                                                                    background #b0ba63
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#b0ba63),to(#8c9a1b))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #b0ba63 solid
                                                                .ui-icon
                                                                    background-color #849212
                                                            &:nth-of-type(3)
                                                                h3
                                                                    background #bfa65c
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#bfa65c),to(#a07d10))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #bfa65c solid
                                                                .ui-icon
                                                                    background-color #9a780f
                                                            &:nth-of-type(4)
                                                                h3
                                                                    background #bf8a5c
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#bf8a5c),to(#a15411))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-radius 8px 8px 0 0
                                                                        border-bottom 4px #bf8a5c solid
                                                                .ui-icon
                                                                    background-color #a15411
                                                            a
                                                                font-size 14px
                                                                color white
                                                                text-shadow 1px 0 1px rgba(0,0,0,0.3)
                                                                text-decoration none
                                                                padding 8px 0 10px
                                                                border none
                                                            //.ui-btn-inner
                                                            //    border none
                                                            .ui-collapsible-content
                                                                background-color #edf3e4
                                                                margin 0 8px
                                                                padding 8px
                                                                border-left 1px solid #ccc49a
                                                                border-right 1px solid #ccc49a
                                                                -webkit-box-shadow 0 0 10px #c7ad77 inset
                                                                box-shadow 0 0 10px #c7ad77 inset
                                                                p
                                                                    margin 5px
                                                                    color #665400
                                                                    font-size 12px
                                                            //.ui-icon
                                                            .ui-icon-plus
                                                            .ui-icon-minus
                                                                border 3px solid #e6edc5
                                                                background #5f9c17 url("images/icon-check.png") no-repeat 1px 5px
                                                                width 15px
                                                                height 15px
                                                                border-radius 15px
                                                            //.ui-btn-hover-z
                                                            .ui-btn:hover
                                                                .ui-icon
                                                                    background-color rgba(255,255,255,.1)

                                                    .ui-footer
                                                        background-image url("images/footer-background.jpg")
                                                        background-size 100% 64px
                                                        height 64px
                                                        small
                                                            margin-top 40px
                                                            font-size 10px
                                                            color #504510
                                                            text-align center
                                                            display block
                                                            &:before
                                                                content url("images/footer-reef.png")
                                                                padding-right 1em

                                                    <mark>&.modal
                                                        background-image url("images/background.jpg")
                                                        a
                                                            display block
                                                            position absolute
                                                            top 0
                                                            bottom 0
                                                            left 0
                                                            right 0
                                                            text-align center
                                                            img
                                                                margin-top 50%
                                                                max-width 100%
                                                                max-height 100%</mark>

                                    body
                                        #index(data-role='page', data-theme='z')
                                            div(data-role='header', data-theme='z')
                                                h1 HOUSEPLANT STORE
                                                h2 I LOVE HOUSEPLANT
                                                p sample text sample text  sampletext sample text sample text sample text
                                            div(data-role='content')
                                                h2 RECOMMEND
                                                .ui-grid-b.recommend
                                                    .ui-block-a
                                                        a.new(href='detail.html', rel='external')
                                                            img(src='images/thumbnail01.jpg', width='82', height='70', alt='')
                                                    .ui-block-b
                                                        a(href='detail.html', rel='external')
                                                            img(src='images/thumbnail02.jpg', width='82', height='70', alt='')
                                                    .ui-block-c
                                                        a(href='detail.html', rel='external')
                                                            img(src='images/thumbnail03.jpg', width='82', height='70', alt='')
                                                div(data-role='collapsible-set')
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 1
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 2
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 3
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 4
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                            div(data-role='footer', data-theme='z')
                                                small Copyright © 2011 ASCII MEDIA WORKS. All rights reserved.
                        hr
                        p ⑬
                        p
                            a.btn.btn-default(href='../demo/rwd/cafebean/index13.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        p: u detail.html
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width, initial-scale=1,maximum-scale=1')
                                        title
                                        link(rel='stylesheet',href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        <mark>style
                                            :stylus
                                                body
                                                    background-image url("images/background.jpg")
                                                    background-size 100%
                                                    font-family sans-serif
                                                //.ui-body-z
                                                .ui-overlay-z
                                                    .ui-header
                                                        background-image url("images/header-background.jpg")
                                                        -webkit-background-size 100% 104px
                                                        background-size 100% 104px
                                                        position relative
                                                        height 104px
                                                        z-index 1
                                                        &:before
                                                            content url("images/header-flag.png")
                                                            position absolute
                                                            left 5px
                                                            top 0
                                                        &:after
                                                            content url("images/header-reef-s.png")
                                                            position absolute
                                                            right 0px
                                                            bottom 15px
                                                        h1
                                                            text-indent -9999px
                                                            background-image url("images/logo.png")
                                                            width 192px
                                                            height 15px
                                                            min-height 15px
                                                            padding 0
                                                            margin 23px auto 4px
                                                        a
                                                            display block
                                                            width 100%
                                                            height 100%
                                                        h2
                                                            color #6f5b00
                                                            font-weight normal
                                                            font-size 12px
                                                            text-align left
                                                            margin 0 auto
                                                            width 192px
                                                        p
                                                            font-size 12px
                                                            color #4c8d00
                                                            margin 0 125px 0 15px
                                                    .ui-content
                                                        position relative
                                                        margin-top -40px
                                                        z-index 2
                                                        .recommend
                                                            text-align center
                                                            img
                                                                border solid 3px #ae9f59
                                                            a
                                                                position relative
                                                                display inline-block
                                                                padding-top 5px
                                                                text-decoration none
                                                                &.new
                                                                    &:before
                                                                        content "new"
                                                                        display block
                                                                        font-size 11px
                                                                        color white
                                                                        background #a06d24
                                                                        padding 2px 5px
                                                                        position absolute
                                                                        top -3px
                                                                        left 10px
                                                                    &:after
                                                                        content ""
                                                                        display block
                                                                        width 0
                                                                        border-bottom 3px solid #7e4d06
                                                                        border-left 3px solid #7e4d06
                                                                        border-top 3px solid transparent
                                                                        border-right 3px solid transparent
                                                                        position absolute
                                                                        top -1px
                                                                        left 39px


                                                #index
                                                    //&.ui-body-z
                                                    &.ui-page-theme-z
                                                        .ui-header
                                                            background-image url("images/header-background-top.jpg")
                                                            -webkit-background-size 100% 170px
                                                            background-size 100% 170px
                                                            height 170px
                                                            &:after
                                                                content url("images/header-reef.png")
                                                                bottom 20px
                                                            h1
                                                                margin-bottom 18px
                                                            h2
                                                                width auto
                                                                margin 0 auto 5px 15px
                                                        .ui-content
                                                            margin-top -50px
                                                //.ui-body-z
                                                .ui-page-theme-z
                                                    .ui-content
                                                        h2
                                                            font-size 14px
                                                            font-weight bold
                                                            color #5b9a12
                                                        p
                                                            font-size 12px
                                                            color #665400
                                                            img
                                                                border solid 3px #ae9f59
                                                                margin 5px
                                                    .ui-collapsible-set
                                                        margin-top 20px
                                                        .ui-collapsible
                                                            margin-top -5px
                                                            h3
                                                                border-radius 8px 8px 0 0
                                                                margin 0 8px
                                                                font-weight normal
                                                            &:last-of-type
                                                                h3
                                                                    border-radius 8px
                                                                a
                                                                    padding-bottom 8px
                                                                .ui-collapsible-content
                                                                    border-bottom 1px solid #ccc49a
                                                                    border-radius 0 0 8px 8px
                                                            &:nth-of-type(1)
                                                                h3
                                                                    background #95be66
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#95be66),to(#649f1f))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #95be66 solid
                                                            &:nth-of-type(2)
                                                                h3
                                                                    background #b0ba63
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#b0ba63),to(#8c9a1b))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #b0ba63 solid
                                                                .ui-icon
                                                                    background-color #849212
                                                            &:nth-of-type(3)
                                                                h3
                                                                    background #bfa65c
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#bfa65c),to(#a07d10))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-bottom 4px #bfa65c solid
                                                                .ui-icon
                                                                    background-color #9a780f
                                                            &:nth-of-type(4)
                                                                h3
                                                                    background #bf8a5c
                                                                    background -webkit-gradient(linear, left top, left bottom,from(#bf8a5c),to(#a15411))
                                                                    &:not(.ui-collapsible-heading-collapsed)
                                                                        border-radius 8px 8px 0 0
                                                                        border-bottom 4px #bf8a5c solid
                                                                .ui-icon
                                                                    background-color #a15411
                                                            a
                                                                font-size 14px
                                                                color white
                                                                text-shadow 1px 0 1px rgba(0,0,0,0.3)
                                                                text-decoration none
                                                                padding 8px 0 10px
                                                                border none
                                                            //.ui-btn-inner
                                                            //    border none
                                                            .ui-collapsible-content
                                                                background-color #edf3e4
                                                                margin 0 8px
                                                                padding 8px
                                                                border-left 1px solid #ccc49a
                                                                border-right 1px solid #ccc49a
                                                                -webkit-box-shadow 0 0 10px #c7ad77 inset
                                                                box-shadow 0 0 10px #c7ad77 inset
                                                                p
                                                                    margin 5px
                                                                    color #665400
                                                                    font-size 12px
                                                            //.ui-icon
                                                            .ui-icon-plus
                                                            .ui-icon-minus
                                                                border 3px solid #e6edc5
                                                                background #5f9c17 url("images/icon-check.png") no-repeat 1px 5px
                                                                width 15px
                                                                height 15px
                                                                border-radius 15px
                                                            //.ui-btn-hover-z
                                                            .ui-btn:hover
                                                                .ui-icon
                                                                    background-color rgba(255,255,255,.1)
                                                    .ui-footer
                                                        background-image url("images/footer-background.jpg")
                                                        background-size 100% 64px
                                                        height 64px
                                                        small
                                                            margin-top 40px
                                                            font-size 10px
                                                            color #504510
                                                            text-align center
                                                            display block
                                                            &:before
                                                                content url("images/footer-reef.png")
                                                                padding-right 1em

                                                    &.modal
                                                        background-image url("images/background.jpg")
                                                        a
                                                            display block
                                                            position absolute
                                                            top 0
                                                            bottom 0
                                                            left 0
                                                            right 0
                                                            text-align center
                                                            img
                                                                margin-top 50%
                                                                max-width 100%
                                                                max-height 100%</mark>


                                    body
                                        #index(data-role='page', data-theme='z')
                                            div(data-role='header', data-theme='z')
                                                h1 HOUSEPLANT STORE
                                                h2 I LOVE HOUSEPLANT
                                                p sample text sample text  sampletext sample text sample text sample text
                                            div(data-role='content')
                                                h2 RECOMMEND
                                                .ui-grid-b.recommend
                                                    .ui-block-a
                                                        a.new(href='detail.html', rel='external')
                                                            img(src='images/thumbnail01.jpg', width='82', height='70', alt='')
                                                    .ui-block-b
                                                        a(href='detail.html', rel='external')
                                                            img(src='images/thumbnail02.jpg', width='82', height='70', alt='')
                                                    .ui-block-c
                                                        a(href='detail.html', rel='external')
                                                            img(src='images/thumbnail03.jpg', width='82', height='70', alt='')
                                                div(data-role='collapsible-set')
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 1
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 2
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 3
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                    div(data-role='collapsible')
                                                        h3 SITE MENU 4
                                                        p sample text sample text    sampletext sample text sample text sample text
                                                        p sample text sample text    sampletext sample text sample text sample text
                                            div(data-role='footer', data-theme='z')
                                                small Copyright © 2011 ASCII MEDIA WORKS. All rights reserved.
