!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%link(rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css")
		%script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		%script(src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js")
		%title
			ランダムイメージ
		:javascript
			$(document).on('pageshow','#index',function(){
				var num = Math.floor(Math.random() * (10));
				for(var i = 0; i < 20; i++){
					$('[data-role="content"]').append('<img src="kumamon.gif" alt="">');
					$('img:nth(' + i + ')').css({
						top: Math.floor(Math.random() * (480-64)),
						left: Math.floor(Math.random() * (innerWidth-64)),
					});

				}
			});
		:scss
			$size:64px;
			[data-role="content"]{
				position:relative;
				height:480px;
				img{
					width:$size;
					height:$size;
					position:absolute;
				}
			}
	%body
		%div(data-role="page" id="index")
			%div(data-role="header")
				%h1
					ランダムイメージ
			%div(data-role="content")
			%div(data-role="footer" data-position="fixed")
				%h4
					Copyright &copy; ナカノヨウスケ
