prefix(prop, val)
    -webkit-{prop} val
    {prop} val

body
	margin 0
nav
	ul
		position relative
		display table
		width 100%
		margin-top 0
		margin-bottom 0
		padding-left 0
	li
		cursor pointer
		width 33.33%
		display table-cell
		vertical-align middle
		height 100px
		text-align center
		background-color navy
		color white
	li:not(:first-of-type)
		border-left 1px solid white
	div
		position absolute
		top 75px
		width 40px
		height 40px
		background-color white
		-webkit-transform rotate(45deg)
		transform rotate(45deg)
		-webkit-transform-origin top left
		transform-origin top left
		prefix('transition-property', all)    
		prefix('transition-duration', 500ms)
		prefix('transition-timing-function', ease-in-out)
		&.first
			left (100%/6)*1
		&.second
			left (100%/6)*3
		&.third
			left (100%/6)*5
