include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ページタイトル
						.panel-body
							.alert.alert-info ページタイトル
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;title&gt;...&lt;/title&gt;
							table.table
								tr
									td カテゴリー
									td メタデータコンテンツ
								tr
									td 記述可能な場所
									td
										| &lt;head&gt;の子要素として1つのみ記述可能
										br
										| ※省略不可
										br
										| （&lt;iframe&gt;のsrcdoc属性に記述できる場合や上位プロトコルからタイトルが得られる場合は省略可）
								tr
									td コンテンツモデル
									td テキスト
								tr
									td 構成するボックス
									td none
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| title {
											| 	display: none;
											| }
							p &lt;title&gt;はページのタイトルを示す要素で、&lt;head&gt;の中に1つのみ記述することができます。
							p ページのタイトルはブラウザのウィンドウやタブに表示されるほか、アクセス履歴やブックマーク、検索結果などでも利用されるため、ページを特定できるタイトルを指定することが推奨されています。
							p
								a.btn.btn-default(href='../demo/html/sample1/04/092.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;!DOCTYPE html&gt; 
								| &lt;html lang="ja"&gt;
								| &lt;head&gt; 
								| &lt;meta charset="UTF-8"&gt; 
								| &lt;title&gt;ちょっとしたお茶の時間 - SUN DIARY&lt;/title&gt;
								| &lt;meta name="viewport" content="width=1024"&gt;
								| &lt;link rel="stylesheet" href="style.css"&gt;
								| &lt;/head&gt;
								| &lt;body&gt;
								| 
								| &lt;header&gt;
								| &lt;.id="header_inner"&gt;
								| &lt;h1&gt;&lt;img src="img/logo.png" alt="SUN DIARY"&gt;&lt;/h1&gt;
								| &lt;nav&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="column.html"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/nav&gt;
								| &lt;/.gt;
								| &lt;/header&gt;
							.alert.alert-warning NOTES: 
							p &lt;title&gt;は基本的に省略することは認められていません。しかし、HTMLソースを&lt;iframe&gt;のsrcdoc属性で記述した場合や、HTMLベースのメールでタイトルに代わる情報が「件名（Subject）」として得られる場合などには、省略することが可能です。
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')