include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| ナビゲーション
						.panel-body
							.alert.alert-info ナビゲーション
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;nav&gt;...&lt;/nav&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| nav {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| }
							p &lt;nav&gt;を利用すると、ナビゲーションであることを示すことができます。ページ内のすべてのリンクをナビゲーションとして示す必要はなく、主要なナビゲーションのみを示すことが求められています。
							p たとえば、サンプルではサイト内の主要なページにアクセスするためのグローバルナビゲーションメニューを&lt;nav&gt;でマークアップし、「ナビゲーション」であることを明示しています。
							p
								a.btn.btn-default(href='demo/html/sample1/03/074.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;body&gt;
								| 
								| &lt;header&gt;
								| &lt;.id="header_inner"&gt;
								| &lt;h1&gt;&lt;img src="img/logo.png" alt="SUN DIARY"&gt;&lt;/h1&gt;
								| &lt;nav&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="column.html"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/nav&gt;
								| &lt;/.gt;
								| &lt;/header&gt;
								| 
								| &lt;.id="main"&gt;
								| 
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| ...
							.alert.alert-warning NOTES: 
							p サイドバーに表示したメニューも、主要なナビゲーションとして明示したい場合には&lt;nav&gt;でマークアップすることができます。
							.alert.alert-success IE NOTES:
							p IE8以前のバージョンは&lt;nav&gt;に未対応です。
							p 同じページ内のコンテンツへのリンクも、主要なナビゲーションとして明示したい場合には&lt;nav&gt;でマークアップすることができます。
							p たとえば、下のサンプルでは記事の小見出し部分へのリンクを&lt;nav&gt;でマークアップするようにしています。
							p
								a.btn.btn-default(href='demo/html/sample1/03/075.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint lang-html linenums:1')
								| ...
								| &lt;article&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| 
								| &lt;nav&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="#tea"&gt;紅茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="#oolong"&gt;ウーロン茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="#green"&gt;緑茶&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/nav&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section id="tea"&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section id="oolong"&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section id="green"&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| 
								| &lt;/article&gt;
							.alert.alert-warning NOTES: 多彩なナビゲーション
							p ナビゲーションとして明示したい場合には、さまざまなリンクを&lt;nav&gt;でマークアップすることができます。たとえば、Appleの以下のページではビデオコンテンツへのリンクや、表示サンプルを切り替えるサムネイルメニューが&lt;nav&gt;でマークアップしてあります。
							p
								| Apple - MacBook Pro
								br
								a(href='http://www.apple.com/jp/macbook-pro/',target='_blank') http://www.apple.com/jp/macbook-pro/
							p
								| Apple - HTML5 Showcase - Transitions
								br
								a(href='http://www.apple.com/html5/showcase/transitions/',target='_blank') http://www.apple.com/html5/showcase/transitions/
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')