include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| コンテンツ
						div.panel-body
							.alert.alert-info コンテンツ
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;body&gt;...&lt;/body&gt;
							table.table
								tr
									td カテゴリー
									td セクショニングルート
								tr
									td 記述可能な場所
									td &lt;html&gt;内の2つ目の子要素として記述可能
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| body {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| }
							p &lt;body&gt;はWebページのコンテンツを示す要素で、&lt;head&gt;に続けて&lt;html&gt;の2つ目の子要素として記述します。
							p
								a.btn.btn-default(href='demo/html/sample1/02/052.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							figure
								pre(class='prettyprint linenums:1')
									| &lt;!DOCTYPE html&gt; 
									| &lt;html lang="ja"&gt;
									| &lt;head&gt; 
									| &lt;meta charset="UTF-8"&gt; 
									| &lt;title&gt;SAMPLE&lt;/title&gt;
									| &lt;/head&gt;
									| &lt;body&gt;
									| 
									| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
									| 
									| &lt;img src="img/tea.jpg" alt=""&gt;
									| 
									| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
									| 
									| &lt;/body&gt;
									| &lt;/html&gt;
								figcaption &lt;body&gt;を追加し、コンテンツデータを記述したもの。
							p &lt;body&gt;の中には「フロー・コンテンツ」カテゴリーに属する要素を記述することができます。そこで、サンプルでは簡単なコンテンツを記述し、見出しを&lt;h1&gt;でマークアップし、&lt;img&gt;で画像を挿入しています。記述したコンテンツはブラウザ画面に表示されます。
							p なお、&lt;body&gt;は「セクショニング・ルート」カテゴリーに属することから、アウトラインではルート階層を構成します。
							.alert.alert-warning NOTES: 
							p &lt;body&gt;にはJavaScriptで使用する以下のイベントハンドラ属性も指定することができます。
							p onafterprint／onbeforeprint／onbeforeunload／onblur／onerror／onfocus／onhashchange／onload／onmessage／onoffline／ononline／onpagehide／onpageshow／onpopstate／onresize／onscroll／onstorage／onunload
							div.alert.alert-success DIFFERENCES: 
							p HTML4.01やXHTML1.0のStrict版では、&lt;body&gt;が内包できるのは「ブロック要素」と定義されていたため、&lt;body&gt;要素の中にインライン要素である&lt;img&gt;を直接記述することは文法違反となっていました。
							p HTML5では「フロー・コンテンツ」を内包できるため、&lt;img&gt;を記述しても文法違反となりません。
							p また、非推奨となっていた&lt;body&gt;以下の属性はHTML5では廃止されています。これらはページの背景色などを指定するもので、スタイルシートの指定に置き換えることが可能です。
							p alink、background、bgcolor、link、text、vlink
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')