include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 補足・関連情報
						.panel-body
							.alert.alert-info 補足・関連情報
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;aside&gt;...&lt;/aside&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| aside {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| }
							p &lt;aside&gt;を利用すると、周囲のコンテンツと関連した情報や、補足的な情報であることを示すことができます。たとえば、関連記事へのリンクや各種ブログパーツ、広告などを補足・関連情報として明示することが可能です。
							p 記事一覧を&lt;aside&gt;でマークアップし、補足・関連情報であることを示しています。
							p
								a.btn.btn-default(href='../demo/html/sample1/03/076.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| ...
								| &lt;/article&gt;
								| 
								| 
								| &lt;.id="sidebar"&gt;
								| 
								| &lt;aside&gt;
								| &lt;h1&gt;SUBSCRIBE & FOLLOW&lt;/h1&gt;
								| &lt;ul id="iconmenu"&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/twitter.png" alt="Twitter"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/facebook.png" alt="Facebook"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/googleplus.png" alt="Google Plus"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/rss.png" alt="RSS Feed"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/aside&gt;
								| 
								| &lt;aside&gt;
								| &lt;h1&gt;ACCESS RANKING&lt;/h1&gt;
								| &lt;ol&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;映画に出てくるお茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;砂糖の種類と味わい方&lt;/a&gt;&lt;/li&gt;
								| &lt;/ol&gt;
								| &lt;/aside&gt;
								| 
								| &lt;aside&gt;
								| &lt;h1&gt;RECENT POSTS&lt;/h1&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ほんのり甘い…&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;年越しにぴったりなお菓子&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;あったか飲み物&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/aside&gt;
								| 
								| &lt;/.gt;
							.alert.alert-success IE NOTES:
							p IE8以前のバージョンは&lt;aside&gt;に未対応です。
							p &lt;article&gt;の中で&lt;aside&gt;を利用すると、親要素の&lt;article&gt;に関連した情報であることを示すことができます。たとえば、下のサンプルでは関連記事の一覧を&lt;article&gt;の中に記述し、&lt;aside&gt;でマークアップしています。これにより、関連記事の一覧が&lt;article&gt;でマークアップした記事に関連した情報であることを明示しています。
							p
								a.btn.btn-default(href='../demo/html/sample1/03/077.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;aside&gt;
								| &lt;h1&gt;関連記事&lt;/h1&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;おすすめの緑茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;紅茶の秘密&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;中国茶めぐり&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/aside&gt;
								| 
								| &lt;/article&gt;
							.alert.alert-warning NOTES: &lt;nav&gt;と&lt;aside&gt;の活用
							p ベンダー系サイトでは、次のように&lt;nav&gt;や&lt;aside&gt;が活用されています。いずれのページにおいても、ページ最上部のメニューは&lt;nav&gt;でマークアップされ、ナビゲーションであることが明示されています。
							p
								| Mozilla Japan ブログ
								br
								| a(href='http://www.mozilla.jp/blog/entry/10115/',target='_blank') http://www.mozilla.jp/blog/entry/10115/
								br
								| サイドバーの情報は全体が&lt;aside&gt;で、個々のメニューが&lt;section&gt;でマークアップされています。
							p
								| Adobe Web Platform Team Blog
								br
								| a(href='http://blogs.adobe.com/webplatform/2012/12/05/web-to-print-and-seeing-your-work-live-on-paper/',target='_blank') http://blogs.adobe.com/webplatform/2012/12/05/web-to-print-and-seeing-your-work-live-on-paper/
								br
								| サイドバーの情報は全体が&lt;.gt;でマークアップされ、セクションは明示されていません。ただし、個々のメニューは見出し&lt;h3&gt;によって暗黙のセクションを構成します。
							p
								| Dev.Opera
								br
								| a(href='http://dev.opera.com/articles/view/robohydra-advanced-techniques/',target='_blank') http://dev.opera.com/articles/view/robohydra-advanced-techniques/
								br
								| 著作情報や投稿日などの情報が&lt;aside&gt;でマークアップされています。
							p
								| HTML5 Rocksチュートリアル
								br
								| a(href='http://www.html5rocks.com/ja/tutorials/forms/html5forms/',target='_blank') http://www.html5rocks.com/ja/tutorials/forms/html5forms/
								br
								| 著作情報やサポートブラウザなどの情報のうち、HTML5 Badgeが&lt;aside&gt;でマークアップされています。
								br
								| ※HTML5 Badgeは使用しているHTML5の機能を示すものです。ここではセマンティクスとCSSの使用が示されています。
							p
								| Apple
								br
								| a(href='http://www.apple.com/jp/',target='_blank') http://www.apple.com/jp/
								br
								| トップページではプロモーション情報が&lt;aside&gt;でマークアップされています。
							p
								| a(href='http://www.apple.com/jp/iphone/',target='_blank') http://www.apple.com/jp/iphone/
								br
								| iPhoneのページではAppleストアへのリンクなどが&lt;aside&gt;でマークアップされています。
							p
								| a(href='http://www.apple.com/jp/ipad-mini/',target='_blank') http://www.apple.com/jp/ipad-mini/
								br
								| iPad miniのページではRetinaディスプレイモデルのiPadへのリンクが&lt;aside&gt;でマークアップされています。
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')