include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 定義
						.panel-body
							.alert.alert-info 定義
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;dfn&gt;...&lt;/dfn&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ※&lt;dfn&gt;は除く
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル／（特別なセマンティクスを持つ属性：title）
								tr
									td 標準的なスタイル
									td
										pre
											| dfn {
											|     font-style: italic;
											| }
							p='語句の定義を記述する場合、語句を<dfn>でマークアップし、<dfn>を含む段落やセクションに語句についての定義を記述します。たとえば、下のサンプルでは「紅茶」についての定義を記述しています。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/188.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;Tips and Tricks&lt;/h1&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;&lt;dfn&gt;紅茶&lt;/dfn&gt;は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
							pre(class='prettyprint linenums:1')
								| dfn	{color: red;}
							p='定義する語句は<dfn>のtitle属性で指定することもできます。たとえば、下のようにtitle属性を指定すると、「Tea」についての定義を記述したことになります。'
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;&lt;dfn title="Tea"&gt;紅茶&lt;/dfn&gt;は、茶の葉を全発酵させて製造したお茶です。タージリンやアッサム、ジャワ、ウヴァ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
							p='略語の定義を記述する場合、略語を<dfn>と<abbr>でマークアップし、<abbr>のtitle属性で元の語句を指定します。これにより、元の語句についての定義を記述したものとして扱われます。たとえば、下のサンプルの場合、「Portable Document Format」についての定義を記述したことになります。'
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;&lt;dfn&gt;&lt;abbr title="Portable Document Format"&gt;PDF&lt;/abbr&gt;&lt;/dfn&gt;は、Adobe Systemsが開発した電子文書フォーマットです。&lt;/p&gt;		
							p なお、関連リストを利用して語句の定義を記述することもできます。
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')