include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;スクリプト
                        .panel-body
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            .alert.alert-info スクリプト
                            pre
                                | &lt;script&gt;...&lt;/script&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td メタデータコンテンツ／フローコンテンツ／フレージングコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | メタデータコンテンツまたはフレージングコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td
                                        | src属性がない場合：
                                        br
                                        | ・スクリプトの設定
                                        br
                                        | src属性がある場合：
                                        br
                                        | ・空またはスクリプトについての説明
                                tr
                                    td 構成するボックス
                                    td none
                                tr
                                    td 属性
                                    td src／async／defer／type／charset／グローバル 
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | meta {
                                            |     display: none;
                                            | }
                            .alert.alert-info スクリプトが動作しない環境用のコンテンツ
                            pre
                                | &lt;noscript&gt;...&lt;/noscript&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td メタデータコンテンツ／フローコンテンツ／フレージングコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | ・&lt;head&gt;の中
                                        br
                                        | ・フレージングコンテンツを記述できる場所
                                        br
                                        | ※いずれも他の&lt;noscript&gt;の中には記述不可
                                tr
                                    td コンテンツモデル
                                    td
                                        | &lt;head&gt;の中の場合：
                                        br
                                        | ・ゼロまたは1つ以上の&lt;link&gt;、&lt;style&gt;、&lt;meta&gt;
                                        br
                                        | &lt;head>の中以外の場合：
                                        br
                                        | ・トランスペアレント
                                tr
                                    td 構成するボックス
                                    td none
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        | スクリプトが動作する環境では
                                        br
                                        pre
                                            | meta {
                                            |     display: none;
                                            | }
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')