include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 改行
						.panel-body
							.alert.alert-info 改行
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;br&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td 空
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| br {
											| 	content: "\A";
											| 	white-space: pre;
											| }
							p='<br>は改行を示す要素です。住所や詩の表記のように、改行が必要な場合に使用することができます。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/216.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;h1&gt;ADDRESS&lt;/h1&gt;
								| 
								| &lt;p&gt;〒000-0000&lt;br&gt;
								| 東京都中央区２丁目１ー１５&lt;br&gt;
								| 山田ビル２F&lt;/p&gt;
							.alert.alert-warning NOTES: 
							p='段落内で内容が変わる箇所を示すのに<br>を使用するのは推奨されていません。このような場合、<p>で段落を分けて記述することが求められます。たとえば、フォームの項目の区切りを示す場合、下のように段落を分けて記述します。'
							.row
								.col-sm-1 ☓
								.col-sm-11
									pre
										| &lt;p&gt;
										| &lt;label&gt;名前：
										| &lt;input type="text" name="namae" size="40"&gt;
										| &lt;/label&gt;
										| &lt;br&gt;
										| &lt;label&gt;メールアドレス：
										| &lt;input type="email" name="mail" size="40"&gt;
										| &lt;/label&gt;
										| &lt;/p&gt;
								.col-sm-1 ◯
								.col-sm-11
									pre
										| &lt;p&gt;
										| &lt;label&gt;名前：
										| &lt;input type="text" name="namae" size="40"&gt;
										| &lt;/label&gt;
										| &lt;/p&gt;
										| &lt;p&gt;
										| &lt;label&gt;メールアドレス：
										| &lt;input type="email" name="mail" size="40"&gt;
										| &lt;/label&gt;
										| &lt;/p&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')