include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| コンピュータ関連
						div.panel-body
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							.alert.alert-info コンピュータコード
							pre
								| &lt;code&gt;…&lt;/code&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| code {
											| 	font-family; monospace;
											| }
							.alert.alert-info 変数
							pre
								| &lt;var&gt;…&lt;/var&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| var {
											| 	font-style: italic;
											| }
							.alert.alert-info コンピュータからの出力内容
							pre
								| &lt;samp&gt;…&lt;/samp&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| code {
											| 	font-family; monospace;
											| }
							.alert.alert-info コンピュータからの入力内容
							pre
								| &lt;kbd&gt;…&lt;/kbd&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| code {
											| 	font-family; monospace;
											| }
							.alert.alert-info コンピュータコード
							p
								a.btn.btn-default(href='demo/html/sample1/07/193.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;jQueryの&lt;code&gt;slideToggle()&lt;/code&gt;メソッドを利用すると、要素の表示・非表示を切り替えるスライドアニメーションを設定することができます。
								| 
								| &lt;pre&gt;&lt;code&gt;$(function(){
								|     $('h1').click(function() {
								| 		$(this).next().slideToggle();
								| 	}).next().hide();
								| });
								| &lt;/code&gt;&lt;/pre&gt;
							p='<code>は、コンピュータ・コードを示す要素です。サンプルでは本文中で言及したalideToggle()や、<pre>でマークアップしたコンテンツがコンピュータ・コードであることを示しています。'
							p なお、コードの種類を示したい場合には、「language-*」という形のクラス名で明示する方法が提案されています。たとえば、JavaScriptであることを示すには、下のように「language-javascript」と記述します。
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;jQueryの&lt;code class="language-javascript"&gt;slideToggle()&lt;/code&gt;メソッドを利用すると、要素の表示・非表示を切り替えるスライドアニメーションを設定することができます。
								| 
								| &lt;pre&gt;&lt;code class="language-javascript"&gt;$(function(){
								|     $('h1').click(function() {
								|           $(this).next().slideToggle();
								|      }).next().hide();
								| });
								| &lt;/code&gt;&lt;/pre&gt;
							.alert.alert-info 変数
							.alert.alert-info コンピュータからの出力内容
							.alert.alert-info コンピュータへの入力内容
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')