include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| メタデータ
						div.panel-body
							div.alert.alert-info メタデータ
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;meta&gt;
							table.table
								tr
									td カテゴリー
									td メタデータコンテンツ／フローコンテンツ（itemprop属性を指定した場合）／フレージングコンテンツ（itemprop属性を指定した場合）
								tr
									td 記述可能な場所
									td
										| ・&lt;head&gt;の子要素として記述可能（charsetまたはhttp-equiv属性でエンコードの種類を示した場合）
										br
										| ・&lt;head&gt;または&lt;head&gt;&lt;noscript&gt;の子要素として記述可能（http-equiv属性でエンコードの種類以外を示した場合）
										br
										| ・メタデータコンテンツが記述できる場所（name属性またはitemprop属性を指定した場合）
										br
										| ・フレージングコンテンツが記述できる場所（itemprop属性を示した場合）
								tr
									td コンテンツモデル
									td 空
								tr
									td 構成するボックス
									td none
								tr
									td 属性
									td charset／name／http-equiv／content／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| meta {
											| 	display: none;
											| }
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')