include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;HTML5のコンテンツモデル
						div.panel-body
							p HTML5では、セマンティクスの導入に加えて、まったく新たな「コンテンツ・モデル（Content Models）」が導入されていることも重要なポイントです。
							p コンテンツ・モデルは要素の相互関係のルールを定義したもので、要素ごとに子要素として内包できるコンテンツの種類が決められています。コンテンツの種類は以下の7つのカテゴリーで示されており、カテゴリーごとに特徴の共通した要素が分類されています。
							p='たとえば、<p>は「フロー・コンテンツに属し、フレージング・コンテンツを内包できる」と定義されていますので、このルールに従ってマークアップを行う必要があります。'
							p 一見、複雑なルールに思えるかもしれませんが、こうしたルールの形成に影響を与えているのがセマンティクスで、さまざまなコンテンツを柔軟にマークアップできる仕組みとなっています。
							figure
								img(src='http://blog-imgs-33-origin.fc2.com/h/o/n/honttoni/120208model_1.gif',alt='')
								br
								img(src='http://blog-imgs-33-origin.fc2.com/h/o/n/honttoni/120208model_2.gif',alt='')
								br
								img(src='http://blog-imgs-33-origin.fc2.com/h/o/n/honttoni/120208model_3.gif',alt='')
								br
								img(src='http://blog-imgs-33-origin.fc2.com/h/o/n/honttoni/120208model_4.gif',alt='')
							h4 フロー・コンテンツ（Flow content）
							p='「フロー・コンテンツ」には<body>内でコンテンツのマークアップに使用できる	要素が属しています。'
							h4 ヘディング・コンテンツ（Heading content）
							p 「ヘディング・コンテンツ」には、見出しを示す要素が属しています。
							h4 セクショニング・コンテンツ（Sectioning content）
							p 「セクショニング・コンテンツ」には、アウトライン（コンテンツの階層構造）を構成する役割を持つ要素が属しています。
							h4 フレージング・コンテンツ（Phrasing content）
							p 「フレージング・コンテンツ」には短いフレーズのセマンティクスを示す要素が属しています。
							h4 エンベデッド・コンテンツ（Embeded content）
							p 「エンベデッド・コンテンツ」には画像や動画など、外部リソースを利用する要素が属しています。
							h4 インタラクティブ・コンテンツ
							p 「インタラクティブ・コンテンツ」には、ユーザーの操作を必要とするリンクやフォームなどを構成する要素が属しています。
							h4 メタデータ・コンテンツ（Metadata content）
							p='「メタデータ・コンテンツ」には、付加情報（メタデータ）を示すための要素が属しています。基本的に<head>内に記述しますが、条件によっては<body>ないに記述できるものもあります。'
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')