include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 文字コード・改行コード
						div.panel-body
							div.alert.alert-info 文字コード
							p
								| 文字コード
								br
								a(href='http://ja.wikipedia.org/wiki/文字コード',target='_blank')
									| http://ja.wikipedia.org/wiki/文字コード
							p
								| ISO-2022-JP
								br
								a(href='http://ja.wikipedia.org/wiki/ISO-2022-JP',target='_blank')
									| http://ja.wikipedia.org/wiki/ISO-2022-JP
							p
								| EUC-JP
								br
								a(href='http://ja.wikipedia.org/wiki/EUC-JP',target='_blank')
									| http://ja.wikipedia.org/wiki/EUC-JP
							p
								| Shift_JIS
								br
								a(href='https://ja.wikipedia.org/wiki/Shift_JIS',target='_blank')
									| https://ja.wikipedia.org/wiki/Shift_JIS
							p
								| Unicode（UTF-8／UTF-16）
								br
								a(href='http://ja.wikipedia.org/wiki/Unicode',target='_blank')
									| http://ja.wikipedia.org/wiki/Unicode
							p
								| UnicodeとUTF-8、UTF-16違い
								br
								a(href='http://una.soragoto.net/topics/9.html',target='_blank')
									| http://una.soragoto.net/topics/9.html
							p
								| UnicodeのBOM（Byte Order Mark）
								br
								a(href='http://ja.wikipedia.org/wiki/バイトオーダーマーク',target='_blank')
									| http://ja.wikipedia.org/wiki/バイトオーダーマーク
							div.alert.alert-info 改行コード
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')