include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;HTMLタグの基礎
						.panel-body
							.alert.alert-info 開始タグ・終了タグ
							pre
								| &lt;開始タグ&gt;...&lt;/終了タグ&gt;
								| 
								| &lt;開始タグ 属性名="属性値"&gt;...&lt;/終了タグ&gt;
								| 
								| &lt;開始タグ 属性名1="属性値1" 属性名2="属性値2"&gt;...&lt;/終了タグ&gt;
							hr
							.alert.alert-info 親子・兄弟・子孫関係
							p 親子関係
							pre='<p>夏季は<strong>取扱いを中止</strong>しております。</p>'
							p 親要素：p<br>子要素：strong
							p 祖先、子孫関係
							pre
								| &lt;.gt;
								|      &lt;p&gt;焼きチョコレートケーキは気温に敏感です。&lt;/p&gt;
								|      &lt;p&gt;夏季は&lt;strong&gt;取扱いを中止&lt;/strong&gt;しております。&lt;/p&gt;
								| &lt;/.gt;
							p 祖先要素：.br>子孫要素：strong
							p 兄弟関係
							pre
								| &lt;.gt;
								|      &lt;h1&gt;ラテ・アートとは&lt;/h1&gt;
								|      &lt;p&gt;バリスタがコーヒーのミルクで作る図柄のことです。&lt;/p&gt;
								| &lt;/.gt;
							p 兄要素：h1<br>弟要素：p
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')