include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;文字コード・改行コード
						.panel-body
							.alert.alert-info 文字コード
							p
								| 文字コード
								br
								a(href='http://ja.wikipedia.org/wiki/文字コード',target='_blank')
									| http://ja.wikipedia.org/wiki/文字コード
							p
								| ISO-2022-JP
								br
								a(href='http://ja.wikipedia.org/wiki/ISO-2022-JP',target='_blank')
									| http://ja.wikipedia.org/wiki/ISO-2022-JP
							p
								| EUC-JP
								br
								a(href='http://ja.wikipedia.org/wiki/EUC-JP',target='_blank')
									| http://ja.wikipedia.org/wiki/EUC-JP
							p
								| Shift_JIS
								br
								a(href='https://ja.wikipedia.org/wiki/Shift_JIS',target='_blank')
									| https://ja.wikipedia.org/wiki/Shift_JIS
							p
								| Unicode（UTF-8／UTF-16）
								br
								a(href='http://ja.wikipedia.org/wiki/Unicode',target='_blank')
									| http://ja.wikipedia.org/wiki/Unicode
							p
								| UnicodeとUTF-8、UTF-16違い
								br
								a(href='http://una.soragoto.net/topics/9.html',target='_blank')
									| http://una.soragoto.net/topics/9.html
							p
								| UnicodeのBOM（Byte Order Mark）
								br
								a(href='http://ja.wikipedia.org/wiki/バイトオーダーマーク',target='_blank')
									| http://ja.wikipedia.org/wiki/バイトオーダーマーク
							.alert.alert-info 改行コード
							p
								| 改行コード
								br
								a(href='http://ja.wikipedia.org/wiki/改行コード',target='_blank')
									| http://ja.wikipedia.org/wiki/改行コード
							p
								| CR：キャリッジリターン
								br
								| LF：ラインフィード
							table.table
								tr
									td CRLF
									td \r\n
									td Windows
								tr
									td CR
									td \r
									td MacOS（MacOS9以前）
								tr
									td LF
									td \n
									td Unix・Linux・OSX
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')