include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;基本的なコマンドと相対パス
						div.panel-body
							.alert.alert-info 基本的なコマンド
								h4 現在のパスを調べる
								p 
									| windows
									| chdir = change directory
									| cd = current directory
								p
									| unix
									| pwd = print working directory
								h4 パスを移動する
								p
									| windows
									| cd パス
								p
									| unix
									| cd パス
								h4 パスのデータを表示する
								p
									| windows
									| dir = directory
								p
									| unix
									| ls = list segments
								p
									| ドットインストール
									| UNIXコマンド入門（一般ユーザー編）
									a(href='http://dotinstall.com/lessons/basic_unix',target='_blank') http://dotinstall.com/lessons/basic_unix
							.alert.alert-info 相対パス
							p
								| 現在のディレクトリ
								br
								| .
								br
								| ./
							p
								| 現在のディレクトリにある特定のファイル
								br
								| ./ファイル名
							p
								| 現在のディレクトリにある特定のディレクトリ
								br
								| ./ディレクトリ名
							p
								| 一階層下のディレクトリにあるファイル
								br
								| ./ディレクトリ名/ファイル名
							p
								| 一階層下のディレクトリにあるディレクトリ
								br
								| ./ディレクトリ名/ディレクトリ名
							p
								| 一階層上のディレクトリ
								br
								| ..
								br
								| ../
							p
								| 一階層上にある特定のファイル
								br
								| ../ファイル名
							p
								| 一階層上にある特定のディレクトリ
								br
								| ../ディレクトリ名
							p
								| 二階層上のディレクトリ
								br
								| ../..
								br
								| ../../
							p
								| 二階層上にある特定のファイル
								br
								| ../../ファイル名
							p
								| 二階層上にある特定のディレクトリ
								br
								| ../../ディレクトリ名
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')