include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;スキーム
						.panel-body
							pre
								| http://ja.wikipedia.org/wiki/%E3%82%B9%E3%82%AD%E3%83%BC%E3%83%A0
								| 
								| 
								| File Protocol（ファイルプロトコル）
								| 異なるプラットフォームでも共通の表記でディレクトリ階層を表現する表記法？
								| ファイルプロトコルで示されるURIはローカルFS上でのディレクトリ／ファイルの絶対パスを表す
								| 
								| スキーム
								| file://
								| 
								| ルートディレクトリ
								| file:///
								| 
								| Hypertext Transfer Protocol（ハイパーテキストトランスファープロトコル）
								| ポート番号80
								| 
								| httpで示されるURIはローカル/リモート関わらずhttp経由でアクセスされるディレクトリ／ファイルの絶対パスを表す
								| 
								| 
								| スキーム
								| http://
								| 
								| ルートディレクトリ
								| http://ドメイン名:80/
								| http://ホスト名:80/
								| http://IPアドレス:80/
								| 
								| SSL（http on secure socket layer）
								| ポート番号443
								| 
								| スキーム
								| https://
								| 
								| ルートディレクトリ
								| https://ドメイン名:443/
								| https://ホスト名:443/
								| https://IPアドレス:443/
								| 
								| 
								| SMTP（Simple Mail Transfer Trotocol）
								| ポート番号25
								| 
								| スキーム
								| mailto://メールアドレス
								| 
								| 
								| FTP（File Transfer Protocol）
								| ポート番号20, 21
								| 
								| スキーム
								| ftp://ftpホスト名:21
								| 
								| 
								| 参考
								| URIとファイルディレクトリ
								| http://www.kanzaki.com/docs/html/htminfo-uri.html
								| 
								| スキームとスキーマって勘違いし易い！
								| http://d.hatena.ne.jp/chaichanPaPa/20090118/1232272273

		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')