include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 日時
						div.panel-body
							.alert.alert-info 日時
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;time&gt;...&lt;/time&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td datetime／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p='<time>は日時の情報をマークアップし、datetime属性を利用してソフトウェアが認識できる形式で日時を明示するための要素です。たとえば「January 15, 2013」や「2013年1月15日」をマークアップした場合、datetime属性の値は「2013-01-15」と指定します。'
							p='datetime属性を省略することも可能ですが、その場合は<time>の中身をソフトウェアが認識できる形式で記述する必要があります。'
							p='なお、microdataを利用すると<time>でマークアップしたのが何の日時なのかを示すことができます。たとえば、下のサンプルではブログ記事の投稿日であることを明示しています。'
							.alert.alert-info 日時に記述形式
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')