include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;作品のタイトル
                        .panel-body
                            .alert.alert-info 作品のタイトル
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            pre
                                | &lt;cite&gt;...&lt;/cite&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | フレージングコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td フレージングコンテンツ
                                tr
                                    td 構成するボックス
                                    td inline
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | cite {
                                            |     font-style: italic;
                                            | }
                            p='<cite>は作品のタイトルを示す要素です。作品から内容を引用したり、作品について言及した場合に、タイトルを示すのに使用します。たとえば、書籍やエッセイ、詩、映画、テレビ番組、ゲーム、彫刻、絵画、演劇、オペラ、ミュージカル、展示会など、さまざまな作品のタイトルを示すことができます。'
                            p='サンプルでは本文中で言及した書籍のタイトルを<cite>でマークアップしています。'
                            p
                                a.btn.btn-default(href='../demo/html/sample1/07/189.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;h1&gt;Book & Tea&lt;/h1&gt;
                                | 
                                | &lt;p&gt;お茶について書かれた本では、岡倉天心の「&lt;cite&gt;茶の本&lt;/cite&gt;」がおすすめです。ニューヨークで刊行された英文著作で、茶の歴史や哲学が説かれています。&lt;/p&gt;
                            pre(class='prettyprint linenums:1')
                                | cite    {color: red;}
                            .alert.alert-warning NOTES:
                            p='<cite>では、タイトル以外の情報をマークアップすることはできません。たとえば、Wikipediaの項目の場合、項目名のみをタイトルとして<cite>でマークアップすることが求められています。'
                            .row
                                .col-sm-1 ◯
                                .col-sm-11
                                    pre
                                        | Wikipediaの『&lt;cite&gt;緑茶&lt;/cite&gt;』
                                .col-sm-1 ☓
                                .col-sm-11
                                    pre
                                        | &lt;cite&gt;Wikipediaの『緑茶』&lt;/cite&gt;
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')