include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| ビデオ／オーディオ
						div.panel-body
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
										| （※）
									td
										img(src='images/ic-android.png')
										| （※）
									td
										img(src='images/ic-firefox.png')
										| （※）
									td
										img(src='images/ic-safari.png')
										| （※）
									td
										img(src='images/ic-chrome.png')
										| （※）
									td
										img(src='images/ic-opera.png')
										| （※）
									td
										img(src='images/ic-ie.png')
										| （※）
							p ※ 一部非対応
							.alert.alert-info ビデオ
							pre
								| &lt;video&gt;...&lt;/video&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／エンベッディッドコンテンツ／インタラクティブコンテンツ（controls属性を指定した場合）／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| エンベッディッドコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| ・src属性を指定した場合：
										br
										| ゼロまたは1つ以上の&lt;track&gt;とそれに続くトランスペアレント（メディア要素を除く）
										br
										| ・src属性を指定していない場合：
										br
										| ゼロまたは1つ以上の&lt;source&gt;と、ゼロまたは1つ以上の&lt;track&gt;、それらに続くトランスペアレント（メディア要素を除く）
								tr
									td 構成するボックス
									td - （置換要素として扱われることが期待される）
								tr
									td 属性
									td src／crossorigin／poster／preload／autoplay／mediagroup／loop／muted／controls／width／height／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							.alert.alert-info オーディオ
							pre
								| &lt;audio&gt;...&lt;/audio&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／エンベッディッドコンテンツ／インタラクティブコンテンツ（controls属性を指定した場合）／パルパブルコンテンツ（controls属性を指定した場合）
								tr
									td 記述可能な場所
									td
										| エンベッディッドコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| ・src属性を指定した場合：
										br
										| ゼロまたは1つ以上の&lt;track&gt;とそれに続くトランスペアレント（メディア要素を除く）
										br
										| ・src属性を指定していない場合：
										br
										| ゼロまたは1つ以上の&lt;source&gt;と、ゼロまたは1つ以上の&lt;track&gt;
										br、それらに続くトランスペアレント（メディア要素を除く）
								tr
									td 構成するボックス
									td - （置換要素として扱われることが期待される）
								tr
									td 属性
									td src／crossorigin／poster／preload／autoplay／mediagroup／loop／muted／controls／width／height／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							.alert.alert-info 複数のコンテンツの指定
							pre
								| &lt;source&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| メディア要素の子要素として、フローコンテンツや&lt;track&gt;の前に記述可能
								tr
									td コンテンツモデル
									td 空
								tr
									td 構成するボックス
									td none
								tr
									td 属性
									td src／type／media／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| source {
											| 	display: none;
											| }
							p='<video>と<audio>はメディア要素と呼ばれ、<video>はビデオコンテンツを、<audio>はオーディをコンテンツを示します。'
							p
								| たとえば、次のサンプルは!{"<video>"}を利用してビデオコンテンツを
								| 表示したものです。ビデオコンテンツはsrc属性で指定し、
								| conterols属性でコントローラーを表示するようにしています。
								| また、autoplay属性で自動再生を、loop属性でループ再生を
								| 行うように指定しています。
							p
								| ただし、サンプルで用意したsun.mp4はH.264というコーデックで
								| 作成したもので、このコーデックに未対応なブラウザでは
								| ビデオが表示されません。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')