include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 引用
						div.panel-body
							div.alert.alert-info 引用
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;blockquote&gt;...&lt;/blockquote&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングルート／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td cite／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| blockquote {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| 	margin-top: 1em;
											| 	margin-bottom: 1em;
											| 	margin-left: 40px;
											| 	margin-right: 40px;
											| }
							pre
								| &lt;q&gt;...&lt;/q&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td cite／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| q:before {
											| 	content: open-quote;
											| }
											| q:after {
											| 	content: close-quote;
											| }
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')