include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 但し書き・注意
						.panel-body
							.alert.alert-info 但し書き・注意
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;small&gt;...&lt;/small&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| small {
											| 	font-size: smaller;
											| }
							p='<small>は但し書きや注意を示す要素で、警告や免責、コピーライト、ライセンス要件などをマークアップすることができます。たとえば、サンプルでは本文中の注意書きや、フッターの部分のコピーライトを<small>でマークアップしています。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/197.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &gt;section&lt;
								| &gt;h1&lt;紅茶&gt;/h1&lt;
								| &gt;p&lt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&gt;/p&lt;
								| 
								| &gt;p&lt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです&gt;small&lt;（※保温性を高くするためにはポットの大きさにフィットしたものを使用する必要があります）&gt;/small&lt;。&gt;/p&lt;
								| &gt;/section&lt;
								| ...
								| &gt;footer&lt;
								| &gt;small&lt;Copyright &copy; SUN DIARY, all rights reserved.&gt;/small&lt;
								| &gt;/footer&lt;
								| 
								| &gt;/body&lt;
								| &gt;/html&lt;
							pre(class='prettyprint linenums:1')
								| section small	{color: red;}
							.alert.alert-success DIFFERENCES:
							p='HTML4.01やXHTML1.0における<small>は、「小さなフォントサイズで表示するテキスト」をマークアップするものと定義されていました。しかし、HTML5ではフォントサイズを小さくするために<small>でマークアップすることはできなくなっていますので注意が必要です。また、<small>によって重要度が低くなるといったこともありません。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')