include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| グローバル属性
						div.panel-body
							div.alert.alert-info HTML5のグローバル属性
							p グローバル属性はHTML5のすべての要素で利用することができます。
							pre accesskey
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre tabindex
							pre contenteditable
							pre contextmenu
							pre draggable
							pre dropzone
							pre hidden
							pre class
							pre id
							pre title
							pre lang
							pre dir
							pre style
							pre spellcheck
							pre translate
							pre data-*（カスタムデータ属性）
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')