include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;独立したコンテンツ
                        .panel-body
                            .alert.alert-info 独立したコンテンツ
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            pre
                                | &lt;article&gt;...&lt;/article&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td フローコンテンツ／セクショニングコンテンツ／パルパブルコンテンツ
                                tr
                                    td 記述可能な場所
                                    td フローコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td フローコンテンツ
                                tr
                                    td 構成するボックス
                                    td block
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | article {
                                            |     display: block;
                                            |     unicode-bidi: isolate;
                                            | }
                            p &lt;article&gt;を利用すると、単体で完結した、独立したコンテンツであることを示すことができます。たとえば、ニュースやブログの記事、ユーザーからのコメントや掲示板の投稿、インタラクティブなウィジェットやガジェットなど、その部分だけを取り出してもコンテンツとして完結していることを明示したい場合に利用することができます。
                            p サンプルでは、メイン記事の部分が独立したコンテンツであることを明示するため、&lt;article&gt;でマークアップしています。
                            p
                                a.btn.btn-default(href='../demo/html/sample1/03/066.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;article&gt;
                                | &lt;header&gt;
                                | &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
                                | &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
                                | &lt;/header&gt;
                                | 
                                | &lt;img src="img/tea.jpg" alt=""&gt;
                                | 
                                | &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
                                | 
                                | &lt;section&gt;
                                | &lt;h1&gt;紅茶&lt;/h1&gt;
                                | &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
                                | 
                                | &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
                                | &lt;/section&gt;
                                | 
                                | &lt;section&gt;
                                | &lt;h1&gt;ウーロン茶&lt;/h1&gt;
                                | &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
                                | &lt;/section&gt;
                                | 
                                | &lt;section&gt;
                                | &lt;h1&gt;緑茶&lt;/h1&gt;
                                | &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
                                | &lt;/section&gt;
                                | 
                                | &lt;/article&gt;
                            p &lt;article&gt;の中で&lt;article&gt;を使うと、独立したコンテンツであり、なおかつ親要素の&lt;article&gt;に関連したものであることを示すことができます。
                            p たとえば、ブログ記事に対して投稿された個々のコメントを独立したコンテンツとして明示したい場合、下のように&lt;article&gt;でマークアップします。このとき、&lt;article&gt;は&lt;article&gt;の中に記述していますので、各コメントが記事に関連したものであることも明示することができます。
                            p
                                a.btn.btn-default(href='../demo/html/sample1/03/067.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;article&gt;
                                | &lt;header&gt;
                                | &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
                                | &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
                                | &lt;/header&gt;
                                | 
                                | &lt;img src="img/tea.jpg" alt=""&gt;
                                | 
                                | &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
                                | 
                                | &lt;section&gt;
                                | &lt;h1&gt;紅茶&lt;/h1&gt;
                                | &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
                                | 
                                | &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
                                | &lt;/section&gt;
                                | 
                                | &lt;section&gt;
                                | &lt;h1&gt;ウーロン茶&lt;/h1&gt;
                                | &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
                                | &lt;/section&gt;
                                | 
                                | &lt;section&gt;
                                | &lt;h1&gt;緑茶&lt;/h1&gt;
                                | &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
                                | &lt;/section&gt;
                                | 
                                | 
                                | &lt;section id="comments"&gt;
                                | &lt;h1&gt;Comments&lt;/h1&gt;
                                | 
                                | &lt;article id="comment-01"&gt;
                                | &lt;p&gt;こんにちは。先日のお茶会でいただいたダージリンティ―がとても気に入りました。アイスティーにするのもオススメとのことでしたので、今度試してみたいと思います。&lt;/p&gt;
                                | &lt;footer&gt;
                                | Posted by: 匿名希望 &lt;time datetime="2013-01-16T20:12"&gt;2013年1月16日 20:12&lt;/time&gt;
                                | &lt;/footer&gt;
                                | &lt;/article&gt;
                                | 
                                | &lt;article id="comment-02"&gt;
                                | &lt;p&gt;次のお茶会も楽しみにしています。&lt;/p&gt;
                                | &lt;footer&gt;
                                | Posted by: にゃん &lt;time datetime="2013-01-20T18:35"&gt;2013年1月20日 18:35&lt;/time&gt;
                                | &lt;/footer&gt;
                                | &lt;/article&gt;
                                | 
                                | &lt;form action="query.php" method="post"&gt;
                                | &lt;p&gt;
                                | &lt;label&gt;名前：
                                | &lt;input type="text" name="name" size="40"&gt;
                                | &lt;/label&gt;
                                | &lt;/p&gt;
                                | 
                                | &lt;p&gt;
                                | &lt;label&gt;メールアドレス：
                                | &lt;input type="email" name="email" size="40"&gt;
                                | &lt;/label&gt;
                                | &lt;/p&gt;
                                | 
                                | &lt;p&gt;
                                | &lt;label&gt;コメント：
                                | &lt;textarea name="comment" rows="8"&gt;&lt;/textarea&gt;
                                | &lt;/label&gt;
                                | &lt;/p&gt;
                                | 
                                | &lt;p&gt;
                                | &lt;input type="submit" value="送信"&gt;
                                | &lt;/p&gt;
                                | &lt;/form&gt;
                                | &lt;/section&gt;
                                | 
                                | &lt;/article&gt;
                            .alert.alert-warning NOTES: 
                            p iOSやSafariのリーダー機能を使うと、&lt;article&gt;でマークアップしたコンテンツを抽出して閲覧することができます。
                            .alert.alert-success IE NOTES:
                            p IE8以前のバージョンは&lt;article&gt;に未対応です。
                            .alert.alert-warning NOTES: メインコンテンツを明示する
                            p &lt;article&gt;は独立したコンテンツを示す要素であり、ページのメインコンテンツを示す要素ではありません。HTML5にはメインコンテンツを示すための要素は用意されていませんが、次のように記述することにより、どこがメインコンテンツであるかを示す方法が提示されています。
                            p HTML5 Nightlyでは、メインコンテンツを示す&lt;main&gt;という要素が提案されています。
                            h5 ①メインコンテンツ以外のセマンティクスを明示する
                            p
                                a.btn.btn-default(href='../demo/html/sample1/03/068-1.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;body&gt;
                                | 
                                | &lt;header&gt;
                                | &lt;.id="header_inner"&gt;
                                | &lt;h1&gt;&lt;img src="img/logo.png" alt="SUN DIARY"&gt;&lt;/h1&gt;
                                | &lt;nav&gt;
                                | &lt;ul&gt;
                                | &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="column.html"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
                                | &lt;/ul&gt;
                                | &lt;/nav&gt;
                                | &lt;/.gt;
                                | &lt;/header&gt;
                                | 
                                | &lt;.gt;
                                | &lt;img src="img/tea.jpg" alt=""&gt;
                                | 
                                | &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
                                | &lt;/.gt;
                                | 
                                | &lt;aside&gt;
                                | &lt;ul id="iconmenu"&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/twitter.png" alt="Twitter"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/facebook.png" alt="Facebook"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/googleplus.png" alt="Google Plus"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/rss.png" alt="RSS Feed"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;/ul&gt;
                                | &lt;/aside&gt;
                                | 
                                | &lt;footer&gt;
                                | &lt;small&gt;Copyright &copy; SUN DIARY, all rights reserved.&lt;/small&gt;
                                | &lt;/footer&gt;
                                | 
                                | &lt;/body&gt;
                            p メインコンテンツはページのヘッダーやフッター、ナビゲーションメニューや広告などを取り除いた部分であると考えることができます。そのため、メインコンテンツ以外の部分を&lt;header&gt;や&lt;nav&gt;などでマークアップすることにより、残った部分がメインコンテンツであると示すことができます。
                            p たとえば、サンプルではページのヘッダーおよびフッターを&lt;header&gt;と&lt;footer&gt;で、補足情報を&lt;aside&gt;で明示することにより、残った部分をメインコンテンツとして示しています。
                            h5 ②メインコンテンツを&lt;article&gt;で明示する
                            p
                                a.btn.btn-default(href='../demo/html/sample1/03/068-2.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;body&gt;
                                | 
                                | &lt;header&gt;
                                | &lt;.id="header_inner"&gt;
                                | &lt;h1&gt;&lt;img src="img/logo.png" alt="SUN DIARY"&gt;&lt;/h1&gt;
                                | &lt;nav&gt;
                                | &lt;ul&gt;
                                | &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="column.html"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
                                | &lt;/ul&gt;
                                | &lt;/nav&gt;
                                | &lt;/.gt;
                                | &lt;/header&gt;
                                | 
                                | &lt;article&gt;
                                | &lt;img src="img/tea.jpg" alt=""&gt;
                                | 
                                | &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
                                | &lt;/article&gt;
                                | 
                                | &lt;aside&gt;
                                | &lt;ul id="iconmenu"&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/twitter.png" alt="Twitter"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/facebook.png" alt="Facebook"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/googleplus.png" alt="Google Plus"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/rss.png" alt="RSS Feed"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;/ul&gt;
                                | &lt;/aside&gt;
                                | 
                                | &lt;footer&gt;
                                | &lt;small&gt;Copyright &copy; SUN DIARY, all rights reserved.&lt;/small&gt;
                                | &lt;/footer&gt;
                                | 
                                | &lt;/body&gt;
                            p ①のようにメインコンテンツ以外のセマンティクスを明示した上で、メインコンテンツを&lt;article&gt;でマークアップすると、どこがメインコンテンツであるかをより明確に示すことができます。また、メインコンテンツは「独立したコンテンツ」であることも明示したことになります。
                            h5 ③メインコンテンツを&lt;section&gt;で明示する
                            p
                                a.btn.btn-default(href='../demo/html/sample1/03/068-3.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;body&gt;
                                | 
                                | &lt;header&gt;
                                | &lt;.id="header_inner"&gt;
                                | &lt;h1&gt;&lt;img src="img/logo.png" alt="SUN DIARY"&gt;&lt;/h1&gt;
                                | &lt;nav&gt;
                                | &lt;ul&gt;
                                | &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="column.html"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
                                | &lt;/ul&gt;
                                | &lt;/nav&gt;
                                | &lt;/.gt;
                                | &lt;/header&gt;
                                | 
                                | &lt;section&gt;
                                | &lt;img src="img/tea.jpg" alt=""&gt;
                                | 
                                | &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
                                | &lt;/section&gt;
                                | 
                                | &lt;aside&gt;
                                | &lt;ul id="iconmenu"&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/twitter.png" alt="Twitter"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/facebook.png" alt="Facebook"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/googleplus.png" alt="Google Plus"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/rss.png" alt="RSS Feed"&gt;&lt;/a&gt;&lt;/li&gt;
                                | &lt;/ul&gt;
                                | &lt;/aside&gt;
                                | 
                                | &lt;footer&gt;
                                | &lt;small&gt;Copyright &copy; SUN DIARY, all rights reserved.&lt;/small&gt;
                                | &lt;/footer&gt;
                                | 
                                | &lt;/body&gt;
                            p 「独立したコンテンツ」と示す必要がない場合には、&lt;article&gt;ではなく、&lt;section&gt;でマークアップしてメインコンテンツを明示することもできます。
                            .alert.alert-warning NOTES: トップページにリストアップした記事
                            p トップページにリストアップした個々の記事をどのようにマークアップするかは製作者の考え方次第ですが、「独立したコンテンツ」であると明示したい場合には&lt;article&gt;でマークアップすることができます。
                            p
                                a.btn.btn-default(href='../demo/html/sample1/03/070.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            pre(class='prettyprint linenums:1')
                                | &lt;section id="content"&gt;
                                | &lt;h1&gt;COLUMNS&lt;/h1&gt;
                                | 
                                | &lt;article&gt;
                                | &lt;a href="teatime.html"&gt;
                                | &lt;img src="img/teapot.jpg" alt=""&gt;
                                | &lt;h1&gt;ちょっとしたお茶の時間&lt;/h1&gt;
                                | &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
                                | &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。…&lt;/p&gt;
                                | &lt;/a&gt;
                                | &lt;/article&gt;
                                | 
                                | &lt;article&gt;
                                | &lt;a href="secret.html"&gt;
                                | &lt;img src="img/teacup.jpg" alt=""&gt;
                                | &lt;h1&gt;紅茶の秘密&lt;/h1&gt;
                                | &lt;time datetime="2013-01-10"&gt;January 10, 2013&lt;/time&gt;
                                | &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名で…&lt;/p&gt;
                                | &lt;/a&gt;
                                | &lt;/article&gt;
                                | 
                                | &lt;article&gt;
                                | &lt;a href="sweet.html"&gt;
                                | &lt;img src="img/cake.jpg" alt=""&gt;
                                | &lt;h1&gt;ほんのり甘い…&lt;/h1&gt;
                                | &lt;time datetime="2013-01-06"&gt;January 06, 2013&lt;/time&gt;
                                | &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし…&lt;/p&gt;
                                | &lt;/a&gt;
                                | &lt;/article&gt;
                                | 
                                | &lt;/section&gt;
                            p また、ブログツールやCMSを利用している場合、すべてのページが共通のテンプレートで生成されているケースが多くなっています。そのため、個々の記事は常に&lt;article&gt;でマークアップして出力する形にしたほうが制作効率が高くなるという側面もあります。たとえば、WordPressの標準テーマ「TwentyTwelve」ではcontent.phpテンプレートを使用し、トップページや個別ページに&lt;article&gt;でマークアップした記事のデータを出力する設定になっています。
                            figure
                                pre(class='prettyprint linenums:1')
                                    | &lt;article id="post-&lt;?php the_ID(); ?&gt;"&gt;
                                    | &lt;?php post_class(); ?&gt;
                                    | ...
                                    | &lt;?php if ( is_search() ) :
                                    |   // Only display Excerpts for Search ?&gt;
                                    | &lt;.class="entry-summary"&gt;
                                    | &lt;?php the_excerpts(); ?&gt;
                                    | &lt;/.gt;&lt;!-- .entry-summary --&gt;
                                    | &lt;?php else : ?&gt;
                                    | &lt;.class="entry-content"&gt;
                                    | &lt;?php the_content( __( 'Continue reading &lt;span class="meta-nav"&gt;&rarr;&lt;/span&gt;', 'twentytwelve' ) ); ?&gt;
                                    | &lt;?php wp_link_pages( array( 'before' =&gt; '&lt;.class="page-links"&gt;' . __( 'Pages:', 'twentytwelve' ), 'after' =&gt; '&lt;/.gt;' ) ); ?&gt;
                                    | &lt;/.gt;&lt;!-- .entry-content --&gt;
                                    | &lt;?php endif; ?&gt;
                                    | ...
                                    | &lt;/article&gt;&lt;!-- #post --&gt;
                                figcaption WordPressの標準テーマ「TwentyTwelve」のcontent.php
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')