include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 重要
						.panel-body
							.alert.alert-info 重要
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;strong&gt;...&lt;/strong&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| strong {
											| 	font-weight: bold;
											| }
							p='<strong>は重要な内容であることを示す要素です。ここでは、「全発酵」や「半発酵」といった語句が重要であることを示しています。'
							p='また、<strong>を入れ子にすることにより、重要性の度合いを示すことができます。ここでは、お茶の入れ方に関する文章を<strong>で2重にマークアップし、より重要な内容であることを示しています。'
							p='なお、<strong>でマークアップした部分はデフォルトスタイルシートによって太字で表示されます。'
							p
								a.btn.btn-default(href='demo/html/sample1/07/198.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を&lt;strong&gt;全発酵&lt;/strong&gt;させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に&lt;strong&gt;&lt;strong&gt;熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります&lt;/strong&gt;&lt;/strong&gt;。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を&lt;strong&gt;半発酵&lt;/strong&gt;させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、&lt;strong&gt;不発酵茶&lt;/strong&gt;とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')