include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| グローバル属性
						div.panel-body
							div.alert.alert-info HTML5のグローバル属性
							p グローバル属性はHTML5のすべての要素で利用することができます。
							pre accesskey
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p accesskey属性を利用すると、要素を選択・実行するためのキーボードショートカットの値を示すことができます。たとえば、下のように指定した場合、Chromeでは「Alt ＋ 1」で「NEWS」のリンク先にアクセスすることができます。
							p なお、ショートカットキーの組み合わせはブラウザごとに以下のようになっています。
							table.table
								tr
									th ブラウザ
									th ショートカットキー
								tr
									td Firefox
									td Shift + Alt + accesskeyの値
								tr
									td Safari
									td Ctrl + Alt + accesskeyの値
								tr
									td Chrome
									td Alt + accesskeyの値
								tr
									td Opera
									td Shift + Esc + accesskeyの値
								tr
									td Internet Explorer
									td Alt + accesskeyの値
							pre(class='prettyprint linenums:1')
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="news.html" accesskey="1"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="column.html" accesskey="2"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="gift.html" accesskey="3"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="contact.html" accesskey="4"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
							div.alert.alert-warning NOTES: 
							p accesskeyの値には数字だけでなく、アルファベットを指定することもできます。このとき、大文字と小文字が区別されますので注意が必要です。
							pre(class='prettyprint linenums:1')
								| &lt;li&gt;&lt;a href="news.html" accesskey="N"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
							pre tabindex
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td.not-support
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p tabindex属性を利用すると、Tabキーを使って要素を選択していくときの順番を指定することができます。たとえば、下のように指定した場合、Tabキーで「CONTACT」、「GIFT」、「COLUMN」、「NEWS」の順にリンクを選択できるようになります。
							p なお、tabindexで指定できるのは整数値のみとなっています。
							pre(class='prettyprint linenums:1')
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="news.html" tabindex="4"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="column.html" tabindex="3"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="gift.html" tabindex="2"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="contact.html" tabindex="1"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
							pre contenteditable
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p contenteditable属性はコンテンツの編集の可否を示します。値を「true」と指定すると、ブラウザ画面上でコンテンツを編集できるようになります。ただし、編集後の処理についてはJavaScriptで設定する必要があります。
							pre(class='prettyprint linenums:1')
								| &lt;header&gt;
								| &lt;h1 contenteditable="true"&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
							table.table
								tr
									th contenteditable属性の値
									th 機能
								tr
									td true
									td 編集できるようにする
								tr
									td false
									td 編集できないようにする
							pre contextmenu
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td.not-support
										img(src='images/ic-safari.png')
									td.not-support
										img(src='images/ic-chrome.png')
									td.not-support
										img(src='images/ic-opera.png')
									td.not-support
										img(src='images/ic-ie.png')
							p 要素を右クリックしたときに表示されるコンテキストメニューに項目を追加したい場合、contextmenu属性で&lt;menu&gt;のIDを指定します。&lt;menu&gt;にはコンテキストメニューに追加する項目についての設定を記述しておきます。
							pre(class='prettyprint linenums:1')
								| &lt;img id="photo" contextmenu="mymenu" src="img/tea.jpg" alt="…"&gt;
								| 
								| &lt;menu type="context" id="mymenu"&gt;
								|     &lt;menuitem label="水平方向へ回転" onclick="fliph()" icon="img/fliph.png"&gt;&lt;/menuitem&gt;
								|     &lt;menuitem label="垂直方向へ回転" onclick="flipv()" icon="img/flipv.png"&gt;&lt;/menuitem&gt;
								| &lt;/menu&gt;
							pre draggable
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p draggable属性では、要素のドラッグの可否を示します。値を「true」と指定すると、要素をドラッグすることが可能になります。ただし、ドラッグ後の処理についてはJavaScriptで設定する必要があります。
							p なお、&lt;a&gt;で設定したリンクや&lt;img&gt;で表示した画像は標準でドラッグできるようになっています。
							pre(class='prettyprint linenums:1')
								| &lt;aside draggable="true"&gt;
								| &lt;h1&gt;SUBSCRIBE & FOLLOW&lt;/h1&gt;
								| &lt;ul id="iconmenu"&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/twitter.png" alt="Twitter"&gt;&lt;/a&gt;&lt;/li&gt;
								| ...
								| &lt;/ul&gt;
								| &lt;/aside&gt;
							table.table
								tr
									th draggable属性の値
									th 機能
								tr
									td true
									td ドラッグできるようにする
								tr
									td false
									td ドラッグできないようにする
							div.alert.alert-success IE NOTES:
							p IE9以前のバージョンはdraggable属性に未対応です。
							pre dropzone
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td.not-support
										img(src='images/ic-firefox.png')
									td.not-support
										img(src='images/ic-safari.png')
									td.not-support
										img(src='images/ic-chrome.png')
									td.not-support
										img(src='images/ic-opera.png')
									td.not-support
										img(src='images/ic-ie.png')
							p ドラッグ＆ドロップでドロップ先の要素にdropzone属性を指定すると、ドロップ時の処理を指定することができます。たとえば、「copy」と指定すると、ドラッグしてきたデータのコピーが行われることになっています。
							p また、下のように半角スペースで区切り、ドロップを許可するデータの種類を指定することも可能です。
							pre(class='prettyprint linenums:1')
								| &lt;div dropzone="copy file:image/png file:image/gif file:image/jpeg"&gt;
								| …
								| &lt;/div&gt;
							table.table
								tr
									th dropzone属性の値
									th 処理
								tr
									td copy
									td ドラッグ元のデータをコピーする
								tr
									td move
									td ドラッグ元のデータを移動する
								tr
									td link
									td ドラッグ元のデータへリンクする
							pre hidden
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td.not-support
										img(src='images/ic-ie.png')
							p ※ iOS4.x/Android3.x以前は未対応
							p hidden属性を指定すると、現在の状態のページとは関連がないことを示すことができます。また、ブラウザ画面にも表示されなくなります。
							p たとえば、ユーザーがログインしていない状態の場合、会員向けの情報にはhidden属性を指定しておくといった使い方が可能です。
							pre(class='prettyprint linenums:1')
								| &lt;section id="member" hidden&gt;
								| &lt;h1&gt;会員の皆様へ&lt;/h1&gt;
								| ...
								| &lt;/section&gt;
							pre class
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p class属性は要素が属するクラスを示します。半角スペースで区切ることで、複数のクラスを示すことが可能です。たとえば、下のサンプルでは2つの画像の両方が「illustration」というクラスに属し、個別には「graph」および「map」というクラスに属していることを示します。
							pre(class='prettyprint linenums:1')
								| &lt;img src="figure01.jpg" alt="…" class="illustration graph"&gt;
								| &lt;img src="figure02.jpg" alt="…" class="illustration map"&gt;
							pre id
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p id属性は要素を個別に区別するのにIDを示します。そのため、ページ内で同じIDを複数の要素に指定することはできません。IDは特定の参照先を明示したり、JavaScriptの処理対象を示すのに利用することができます。たとえば、下のサンプルでは&lt;figure&gt;で示した図版に「sample01」というIDを指定し、本文からIDで参照できるようにしています。
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;&lt;a href="#sample01"&gt;サンプル01&lt;/a&gt;の設定ではjQueryを利用しています。&lt;/p&gt;
								| 
								| &lt;figure id="sample01"&gt;
								| &lt;figcaption&gt;サンプル01&lt;/figcaption&gt;
								| &lt;pre&gt;&lt;code&gt;…&lt;/code&gt;&lt;/pre&gt;
								| &lt;/figure&gt;
							pre title
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p title属性では補助的な情報を示すことができ、カーソルを重ねるとツールチップとして表示されるようになっています。ただし、マウスを使用しないキーボードブラウジングやスマートフォンなどでは表示することができないため、現状ではtitle属性を積極的に利用することは推奨されていません。なお、&lt;link&gt;や&lt;abbr&gt;など、title属性が特別な背マンティクスを持つ要素もあります。たとえば、略語を示す&lt;abbr&gt;では、title属性で元の語句を示すように定義されています。
							figure
								pre(class='prettyprint linenums:1')
									| &lt;header&gt;
									| &lt;h1 title="ちょっとしたお茶の時間"&gt;Short Tea Breaks&lt;/h1&gt;
									| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
									| &lt;/header&gt;
								figcaption 補助的な情報を示したもの。
							figure
								pre(class='prettyprint linenums:1')
									&lt;abbr title="World Wide Web Consortium"&gt;W3C&lt;/abbr&gt;ではさまざまな標準規格の策定が行われています。
								figcaption 略語の元の語句を示したもの。
							pre lang
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p lang属性を利用すると、マークアップしたコンテンツや属性値として示したテキストの言語の種類を示すことができます。たとえば、下のサンプルでは&lt;h1&gt;でマークアップした見出しが英語（en）で記述したものであることを示しています。
							p 言語の種類はBCP47で標準化されたタグで示します。なお、指定できるのは自然言語のみで、スクリプト言語などを指定することはできません。たとえば、日本語は「ja」、フランス語は「fr」、ドイツ語は「de」と指定します。
							pre dir
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p dir属性では、以下の値で書字方向を示すことができます。「auto」では自動判別となるため、書字方向がわからない場合にのみ指定することが推奨されています。
							pre style
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p style属性を利用すると、スタイルシートの設定を記述することができます。この設定は「インラインスタイルシート」と呼ばれ、style属性を指定した要素に適用されます。
							p なお、style属性の値として記述するスタイルシートの構文規則については、下の「CSS Style Attributes」で策定作業が行われています。
							pre spellcheck
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
										| （※）
									td
										img(src='images/ic-safari.png')
										| （※）
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
										| （※）
							p ブラウザは、&lt;input&gt;や&lt;textarea&gt;で構成した入力欄や、contenteditable属性で指定した編集可能なコンテンツに対してスペルチェックを行います。これに対し、spellcheck属性を利用するとスペルチェックの機能を無効化することができます。
							p たとえば、下のサンプルの場合、「名前」や「メールアドレス」の欄ではスペルチェックを行う必要がありません。そこで、&lt;form&gt;にspellcheck="false"を追加し、スペルチェックの機能をフォーム全体でまとめて無効化しています。ただし、コメントの欄ではスペルチェックを行うため、&lt;textarea&gt;にはspellcheck="true"と指定するようにしています。
							p なお、ブラウザの設定ではユーザがスペルチェックの機能を無効にしている場合、spellcheck属性の指定は無視されます。また、FirefoxとSafariは編集可能なコンテンツ、IE10は&lt;input&gt;と編集可能なコンテンツのスペルチェックに未対応です。
							pre translate
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td.not-support
										img(src='images/ic-firefox.png')
									td.not-support
										img(src='images/ic-safari.png')
									td.not-support
										img(src='images/ic-chrome.png')
									td.not-support
										img(src='images/ic-opera.png')
									td.not-support
										img(src='images/ic-ie.png')
							p translate属性では翻訳の可否を指定することができます。たとえば、翻訳すると内容が分からなくなってしまうサイト名やコピーライトなどには、translate属性を「no」と指定しておくことにより、翻訳されるのを回避することができます。
							p 現在のところ、Google翻訳やMicrosoft Translator（Bing Translator）が対応していますが、Chromeに内蔵された翻訳機能では未対応となっています。
							pre data-*（カスタムデータ属性）
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p 「data-*」はカスタムデータ属性と呼ばれるもので、情報を付加するのに適切な要素や属性がない場合に利用することができます。属性名も、「*」に1文字以上の語句を入れて独自に設定します。1つの要素に複数のカスタムデータ属性を指定することも可能です。
							p たとえば、jQuery MobileではWebページをスマートフォンに合わせて最適化するため、data-role属性やdata-position属性で設定を記述し、それに応じてカスタマイズの処理を適用する仕組みとなっています。この他にも、カスタムデータ属性を利用して処理に必要な設定を記述するライブラリが増えてきています。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')