include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 独立したコンテンツ
						div.panel-body
							div.alert.alert-info 独立したコンテンツ
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;article&gt;...&lt;/article&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| article {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| }
							p &lt;article&gt;を利用すると、単体で完結した、独立したコンテンツであることを示すことができます。たとえば、ニュースやブログの記事、ユーザーからのコメントや掲示板の投稿、インタラクティブなウィジェットやガジェットなど、その部分だけを取り出してもコンテンツとして完結していることを明示したい場合に利用することができます。
							p サンプルでは、メイン記事の部分が独立したコンテンツであることを明示するため、&lt;article&gt;でマークアップしています。
							p
								a.btn.btn-default(href='demo/html/sample1/03/066.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;/article&gt;
							p &lt;article&gt;の中でlt;article&gt;を使うと、独立したコンテンツであり、なおかつ親要素のlt;article&gt;に関連したものであることを示すことができます。
							p たとえば、ブログ記事に対して投稿された個々のコメントを独立したコンテンツとして明示したい場合、下のように&lt;article&gt;でマークアップします。このとき、&lt;article&gt;は&lt;article&gt;の中に記述していますので、各コメントが記事に関連したものであることも明示することができます。
							p
								a.btn.btn-default(href='demo/html/sample1/03/067.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| 
								| &lt;section id="comments"&gt;
								| &lt;h1&gt;Comments&lt;/h1&gt;
								| 
								| &lt;article id="comment-01"&gt;
								| &lt;p&gt;こんにちは。先日のお茶会でいただいたダージリンティ―がとても気に入りました。アイスティーにするのもオススメとのことでしたので、今度試してみたいと思います。&lt;/p&gt;
								| &lt;footer&gt;
								| Posted by: 匿名希望 &lt;time datetime="2013-01-16T20:12"&gt;2013年1月16日 20:12&lt;/time&gt;
								| &lt;/footer&gt;
								| &lt;/article&gt;
								| 
								| &lt;article id="comment-02"&gt;
								| &lt;p&gt;次のお茶会も楽しみにしています。&lt;/p&gt;
								| &lt;footer&gt;
								| Posted by: にゃん &lt;time datetime="2013-01-20T18:35"&gt;2013年1月20日 18:35&lt;/time&gt;
								| &lt;/footer&gt;
								| &lt;/article&gt;
								| 
								| &lt;form action="query.php" method="post"&gt;
								| &lt;p&gt;
								| &lt;label&gt;名前：
								| &lt;input type="text" name="name" size="40"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email" size="40"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;label&gt;コメント：
								| &lt;textarea name="comment" rows="8"&gt;&lt;/textarea&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;
								| &lt;input type="submit" value="送信"&gt;
								| &lt;/p&gt;
								| &lt;/form&gt;
								| &lt;/section&gt;
								| 
								| &lt;/article&gt;
							div.alert.alert-warning Notes: 
							p iOSやSafariのリーダー機能を使うと、&lt;article&gt;でマークアップしたコンテンツを抽出して閲覧することができます。
							div.alert.alert-success IE Notes:
							p IE8以前のバージョンは&lt;article&gt;に未対応です。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')