include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| データの入力・送信
						.panel-body
							.alert.alert-info データの入力・送信
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
										| （※）
									td
										img(src='images/ic-android.png')
										| （※）
									td
										img(src='images/ic-firefox.png')
										| （※）
									td
										img(src='images/ic-safari.png')
										| （※）
									td
										img(src='images/ic-chrome.png')
										| （※）
									td
										img(src='images/ic-opera.png')
										| （※）
									td
										img(src='images/ic-ie.png')
										| （※）
							p ※ 一部非対応
							pre
								| &lt;input&gt;
							table.table
								tr
									td(style='width:150px;') カテゴリー
									td
										| フローコンテンツ／ フレージングコンテンツ／ リスティッド要素／ サブミッタブル要素／ リセッタブル要素／ フォームアソシエイティッド要素
										br
										| 
										br
										| type属性の値が「hidden」以外の場合は上記に加えて以下のカテゴリーにも属する：
										br
										| インタラクティブコンテンツ／ラベラブル要素／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| 空
								tr
									td 構成するボックス
									td - （インラインブロックボックスを構成することが期待される）
								tr
									td 属性
									td accept／ alt／ autocomplete／ autofocus／ checked／ dirname／ disabled／ form／ formaction／ formenctype／ formmethod／ formnovalidate／ formtarget／ height／ list／ max／ maxlength／ min／ multiple／ name／ pattern／ placeholder／ readonly／ required／ size／ src／ step／ type／ value／ width／ グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p
								a.btn.btn-default(href='demo/html/sample1/09/244.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;form action="query.php" method="post"&gt;
								| &lt;p&gt;
								| &lt;label&gt;メールアドレス：
								| &lt;input type="email" name="email"&gt;
								| &lt;/label&gt;
								| &lt;/p&gt;
								| 
								| &lt;p&gt;&lt;input type="submit" value="送信"&gt;&lt;/p&gt;
								| &lt;/form&gt;
							p='<input>はtype属性によってデータの種類を指定し、さまざまなデータの入力や送信を可能にするコントロールを作成します。'
							p='たとえば、サンプルではメールアドレスを入力するためのテキストフィールドと送信ボタンを作成しています。'
							.alert.alert-success IE NOTES: 
							p='IE9以前のバージョンはHTML5で追加されたtype属性の値に未対応で、type="text"と指定したときと同じ形で扱われます。'
							.row
								.col-sm-6
									table.table
										tr
											th type属性の値
											th データの種類
										tr
											td text
											td テキスト
										tr
											td search
											td 検索
										tr
											td url
											td URL
										tr
											td tel
											td 電話番号
										tr
											td email
											td メールアドレス
										tr
											td password
											td パスワード
										tr
											td datetime
											td 日時（UTC）
										tr
											td datetime-local
											td 日時（ローカル）
										tr
											td date
											td 年月日
										tr
											td month
											td 年月
										tr
											td week
											td 週
										tr
											td time
											td 時刻
								.col-sm-6
									table.table
										tr
											th type属性の値
											th データの種類
										tr
											td number
											td 数値
										tr
											td range
											td 大まかな数値
										tr
											td color
											td カラーピッカー
										tr
											td checkbox
											td チェックボックス
										tr
											td radio
											td ラジオボタン
										tr
											td file
											td 選択したファイルのリスト
										tr
											td hidden
											td 隠しフィールド
										tr
											td submit
											td 送信ボタン
										tr
											td image
											td 画像ボタン
										tr
											td reset
											td リセットボタン
										tr
											td button
											td ボタン
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')