include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| ダイアログボックス
						div.panel-body
							div.alert.alert-info ダイアログボックス
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td.not-support
										img(src='images/ic-firefox.png')
									td.not-support
										img(src='images/ic-safari.png')
									td.not-support
										img(src='images/ic-chrome.png')
									td.not-support
										img(src='images/ic-opera.png')
									td.not-support
										img(src='images/ic-ie.png')
							p ※ 一部非対応
							pre
								| &lt;dialog&gt;…&lt;/dialog&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングルート
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所。
										br
										| <dt>や<th>の子要素
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td none（open属性がない場合）
								tr
									td 属性
									td open／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| dialog {
											| 	display: none;
											| } 
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')