include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| HTMLタグの基礎
						div.panel-body
							div.alert.alert-info 開始タグ・終了タグ
							pre
								| &lt;開始タグ&gt;...&lt;/終了タグ&gt;
								| 
								| &lt;開始タグ 属性名="属性値"&gt;...&lt;/終了タグ&gt;
								| 
								| &lt;開始タグ 属性名1="属性値1" 属性名2="属性値2"&gt;...&lt;/終了タグ&gt;
							div.alert.alert-info 親子・兄弟・子孫関係
							p 親子関係
							pre='<p>夏季は<strong>取扱いを中止</strong>しております。</p>'
							p 親要素：p<br>子要素：strong
							p 祖先、子孫関係
							pre
								='<div>
								<p>焼きチョコレートケーキは気温に敏感です。</p>
								<p>夏季は<strong>取扱いを中止</strong>しております。</p>
								</div>'
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')