include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;ダイアログボックス
						.panel-body
							.alert.alert-info ダイアログボックス
							table.browser-support
								tr
									td.not-support
										img(src='../images/ic-apple.png')
									td.not-support
										img(src='../images/ic-android.png')
									td.not-support
										img(src='../images/ic-firefox.png')
									td.not-support
										img(src='../images/ic-safari.png')
									td.not-support
										img(src='../images/ic-chrome.png')
									td.not-support
										img(src='../images/ic-opera.png')
									td.not-support
										img(src='../images/ic-ie.png')
							pre
								| &lt;dialog&gt;…&lt;/dialog&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングルート
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所。
										br
										| &lt;dt&gt;や&lt;th&gt;の子要素
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td none（open属性がない場合）
								tr
									td 属性
									td open／グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| dialog {
											| 	display: none;
											| } 
							p
								a.btn.btn-default(href='../demo/html/sample1/10/295.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;nav&gt;
								| &lt;ul&gt;
								| 
								| ...
								| 
								| &lt;li&gt;&lt;a onclick="document.querySelector('dialog').setAttribute('open','open')"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/nav&gt;
								| 
								| &lt;dialog&gt;
								| &lt;h1&gt;CONTACT&lt;/h1&gt;
								| 
								| ...
								| 
								| &lt;p&gt;
								| &lt;input type="submit" value="送信"&gt;
								| &lt;/p&gt;
								| &lt;/form&gt;
								| 
								| &lt;a onclick="document.querySelector('dialog').removeAttribute('open')"&gt;閉じる&lt;/a&gt;
								| 
								| &lt;/dialog&gt;
							pre(class='prettyprint linenums:1')
								| dialog[open]	{position: absolute;
								| 	top: 60px;
								| 	left: 0px;
								| 	width: 540px;}
							p='<dialog>はユーザーによる操作や入力が必要な内容であることを示し、ダイアログボックスやウィンドウなどの形で表示を行う要素です。標準では非表示となり、open属性の指定によって表示することができます。'
							p='サンプルでは問い合わせフォームを<dialog>でマークアップし、「CONTACT」というリンクをクリックすると表示されるようにしています。Chromeではダイアログボックスの形で、他のコンテンツよりも手前に重ねて表示されます。'
							.alert.alert-warning NOTES: 
							p
								| WHATWG Wiki「Dialogs」
								br
								a(href='http://wiki.whatwg.org/wiki/dialogs',taregt='_blank') http://wiki.whatwg.org/wiki/dialogs
							p='WHATWG Wikiの「Dialogs」のページでは、<dialog>の活用が可能と考えられるケースの実例が提示されています。'
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')