include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;コンディショナルコメント
						.panel-body
							.alert.alert-info IE8より前のIE
							pre
								| &lt;!--[if lt IE 8]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE8以前のIE
							pre
								| &lt;!--[if lte IE 8]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE8のみ
							pre
								| &lt;!--[if IE 8]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE8より後のIE
							pre
								| &lt;!--[if gt IE 8]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE8以後のIE
							pre
								| &lt;!--[if gte IE 8]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE9より前のIE
							pre
								| &lt;!--[if lt IE 9]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE9以前のIE
							pre
								| &lt;!--[if lte IE 9]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE9のみ
							pre
								| &lt;!--[if IE 9]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE9より後のIE
							pre
								| &lt;!--[if gt IE 9]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE9以後のIE
							pre
								| &lt;!--[if gte IE 9]&gt;
								| ...
								| &lt;![endif]--&gt;
							.alert.alert-info IE以外
							pre
								| &lt;!--[if !(IE)]&gt;&lt;!--&gt;
								| ...
								| &lt;!--&lt;![endif]--&gt;
							.alert.alert-info IE9以下か、IE以外
							pre
								| &lt;!--[if IE (gt IE 9) | !(IE)]&gt;&lt;!--&gt;
								| ...
								| &lt;!--&lt;![endif]--&gt;
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')