!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:stylus
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| HTML5資料
						div.panel-body
							h4 HTML5
							p
								| HTML5公式ドキュメント
								br
								a(href='http://www.w3.org/TR/html5/')
									| http://www.w3.org/TR/html5/
							p W3Cがリリースしている規格です。W3Cの規格策定の手順に従って標準化の作業が進められており、2012年12月17日に勧告候補がリリースされました。これにより、新しい機能が追加されることはなくなり、安定した規格として実装が進められていくことになります。
							p ※HTML5の勧告候補では一部の要素が「リスクのある機能」としてリストアップされており、最終的な勧告からは除外される可能性があります。
							h4 HTML5.1
							p
								| HTML5.1公式ドキュメント
								br
								a(href='http://www.w3.org/TR/html51/')
									| http://www.w3.org/TR/html51/
								br
								a(href='http://dev.w3.org/html5/spec/Overview.html')
									| http://dev.w3.org/html5/spec/Overview.html
							p HTML5の次のバージョンとしてW3Cがリリースしている規格です。現在のところ、草案（Working Draft）とNightly（Editor's Draft）がリリースされています。
							h4 HTML Living Standard
							p
								| HTML5.1公式ドキュメント
								br
								a(href='http://whatwg.org/html')
									| http://whatwg.org/html
							p WHATWG（ワットダブルジー）がリリースしている規格です。最新の機能や提案をよりスピーディに規格に反映していくことを目指しており、頻繁に更新が行われています。なお、WHATWG（Web Hypertext Application Technology Working Group）は、AppleやMozilla、Operaによって設立されたグループです。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')