include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| スタイルシート
						.panel-body
							.alert.alert-info スタイルシート
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;style&gt;...&lt;/style&gt;
							table.table
								tr
									td カテゴリー
									td メタデータコンテンツ
								tr
									td 記述可能な場所
									td
										| 記述可能な場所 scoped属性がない場合：
										br
										| ・メタデータコンテンツの記述が可能な場所
										br
										| ・&lt;head&gt;内の&lt;noscript&gt;の中
										br
										| scoped属性がある場合：
										br
										| ・フローコンテンツの記述が可能な場所 
								tr
									td コンテンツモデル
									td スタイルシートの設定
								tr
									td 構成するボックス
									td none
								tr
									td 属性
									td media／type／scoped／グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| meta {
											| 	display: none;
											| }
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')