include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| グローバル属性
						div.panel-body
							h4 HTML5のグローバル属性
							p グローバル属性はHTML5のすべての要素で利用することができます。
							div.alert.alert-info accesskey
							table.browser-support
								tr
									td.not-support
										img(src='images/ic-apple.png')
									td.not-support
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							div.alert.alert-info tabindex
							div.alert.alert-info contenteditable
							div.alert.alert-info contextmenu
							div.alert.alert-info draggable
							div.alert.alert-info dropzone
							div.alert.alert-info hidden
							div.alert.alert-info class
							div.alert.alert-info id
							div.alert.alert-info title
							div.alert.alert-info lang
							div.alert.alert-info dir
							div.alert.alert-info style
							div.alert.alert-info spellcheck
							div.alert.alert-info translate
							div.alert.alert-info data-*（カスタムデータ属性）
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')