include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 行のグループ
						div.panel-body
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							.alert.alert-info 行のグループ
							pre
								| &lt;thead&gt;...&lt;/thead&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;の後、&lt;tbody&gt;、&lt;tfoot&gt;、&lt;tr&gt;の前に記述可能
										| ※ &lt;thead&gt;は&lt;table&gt;内に1つのみ記述可
								tr
									td コンテンツモデル
									td
										| ゼロまたはそれ以上の&lt;tr&gt;
								tr
									td 構成するボックス
									td table-header-group
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| thead {
											| 	display: table-header-group;
											| 	unicode-bidi: isolate;
											| 	vertical-align: middle;
											| 	border-color: inherit;
											| }
							.alert.alert-info メインデータ
							pre
								| &lt;tbody&gt;...&lt;/tbody&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;、&lt;thead&gt;の後に記述可能
										br
										| ※ &lt;table&gt;内の子要素に&lt;tr&gt;がない場合のみ記述可能
								tr
									td コンテンツモデル
									td ゼロまたはそれ以上の&lt;tr&gt;
								tr
									td 構成するボックス
									td table-row-group
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| tbody {
											| 	display: table-row-group;
											| 	unicode-bidi: isolate;
											| 	vertical-align: middle;
											| 	border-color: inherit;
											| }
							.alert.alert-info フッター
							pre
								| &lt;tfoot&gt;...&lt;/tfoot&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| 以下のいずれか
										br
										| ・&lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;、&lt;thead&gt;の後、&lt;tbody&gt;、&lt;tr&gt;の前に記述可能
										br
										| ・&lt;table&gt;内の子要素として&lt;caption&gt;、&lt;colgroup&gt;、&lt;thead&gt;、&lt;tbody&gt;、&lt;tr&gt;の後に記述可能
										br
										| ※ いずれの場合も&lt;tfoot&gt;は&lt;table&gt;内に1つのみ記述可
								tr
									td コンテンツモデル
									td ゼロまたはそれ以上の&lt;tr&gt;
								tr
									td 構成するボックス
									td table-footer-group
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| tfoot {
											| 	display: table-footer-group;
											| 	unicode-bidi: isolate;
											| 	vertical-align: middle;
											| 	border-color: inherit;
											| }
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')