include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;MathML
						.panel-body
							.alert.alert-info MathML
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							p iOS4.xは未対応
							pre
								| &lt;math&gt;...&lt;/math&gt;
							p='MathML（Mathmatical Markup Language）'
							p=''
							p=''
							table.table
								tr
									th 要素
									th 機能
							p
								a.btn.btn-default(href='demo/html/sample1/05/157.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;p&gt;アインシュタインのエネルギーと質量の関係式：
								| &lt;math&gt;
								|      &lt;mrow&gt;
								|           &lt;mi&gt;E&lt;/mi&gt;
								|           &lt;mo&gt;=&lt;/mo&gt;
								|           &lt;mrow&gt;
								|                &lt;mi&gt;m&lt;/mi&gt;
								|                &lt;mo&gt;&#x2062;&lt;/mo&gt;
								|                &lt;msup&gt;&lt;mi&gt;c&lt;/mi&gt;&lt;mn&gt;2&lt;/mn&gt;&lt;/msup&gt;
								|           &lt;/mrow&gt;
								|      &lt;/mrow&gt;
								| &lt;/math&gt;
								| 
								| &lt;/p&gt;
								| 
								| &lt;p&gt;2Dトランスフォームの変換マトリクス：
								| &lt;math&gt;
								|      &lt;mrow&gt;
								|      &lt;mo&gt; [ &lt;/mo&gt;
								|      &lt;mtable&gt;
								|           &lt;mtr&gt;
								|                &lt;mtd&gt;&lt;mi&gt;a&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;c&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;e&lt;/mi&gt;&lt;/mtd&gt;
								|           &lt;/mtr&gt;
								|           &lt;mtr&gt;
								|                &lt;mtd&gt;&lt;mi&gt;b&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;d&lt;/mi&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mi&gt;f&lt;/mi&gt;&lt;/mtd&gt;
								|           &lt;/mtr&gt;
								|           &lt;mtr&gt;
								|                &lt;mtd&gt;&lt;mn&gt;0&lt;/mn&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mn&gt;0&lt;/mn&gt;&lt;/mtd&gt;
								|                &lt;mtd&gt;&lt;mn&gt;1&lt;/mn&gt;&lt;/mtd&gt;
								|           &lt;/mtr&gt;
								|      &lt;/mtable&gt;
								|      &lt;mo&gt; ] &lt;/mo&gt;
								|      &lt;/mrow&gt;
								| &lt;/math&gt;
								| &lt;/p&gt;
		#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')