include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| 連絡先・問い合わせ先
						.panel-body
							.alert.alert-info 連絡先・問い合わせ先
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;address&gt;...&lt;/address&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td
										| フローコンテンツ
										br
										| ※ヘディングコンテンツ、セクショニングコンテンツ、&lt;header&gt;、&lt;footer&gt;、&lt;address&gt;は除く
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| address {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| 	font-style: italic;
											| }
							p='<address>は連絡先・問い合わせ先に関する情報を示す要素です。<address>を<body>内に記述した場合はページ全体についての、<article>内に記述した場合はそのコンテンツについての連絡先・お問い合わせ先を示します。サンプルの場合、<article>内に<address>を記述していますので、記事についての問い合わせ先を明示しています。'
							p
								a.btn.btn-default(href='demo/html/sample1/06/162.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;hgroup&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;h2&gt;ちょっとしたお茶の時間&lt;/h2&gt;
								| &lt;/hgroup&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;address&gt;Posted by &lt;a href="http://www.web/hanako/"&gt;HANAKO&lt;/a&gt;&lt;/address&gt;
								| 
								| &lt;/article&gt;
							p='なお、<address>で示した情報は、必要に応じてユーザーに提示したり、コンテンツの分類に活用したりすることが考えられています。'
							.alert.alert-success DIFFERENCES:
							p='<address>はHTML4.01やXHTML1.0においても連絡先・問い合わせ先に関する情報を示すものとして定義されていましたが、コンテンツに含まれる住所やコピーライトなどのマークアップに広く使用されていました。'
							p これに対し、HTML5ではセマンティクスが厳格化され、ページまたはコンテンツについての連絡先・問い合わせ先に関する情報のみに使用することが求められるようになっています。なお、それ以外の住所やコピーライトに関しては、microdataやmicroformats、<small>で示すことができるようになっています。
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')