include ../head2.jade
    body
        include navbar.jade
        .container
            .row
                .col-sm-3
                    include left.jade
                .col-sm-9
                    .panel.panel-primary
                        .panel-heading
                            i.glyphicon.glyphicon-book
                            | &nbsp;上付き・下付き
                        .panel-body
                            table.browser-support
                                tr
                                    td
                                        img(src='../images/ic-apple.png')
                                    td
                                        img(src='../images/ic-android.png')
                                    td
                                        img(src='../images/ic-firefox.png')
                                    td
                                        img(src='../images/ic-safari.png')
                                    td
                                        img(src='../images/ic-chrome.png')
                                    td
                                        img(src='../images/ic-opera.png')
                                    td
                                        img(src='../images/ic-ie.png')
                            .alert.alert-info 上付き
                            pre
                                | &lt;sup&gt;…&lt;/sup&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | フレージングコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td フレージングコンテンツ
                                tr
                                    td 構成するボックス
                                    td inline
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | sub {
                                            |     vertical-align: sub;
                                            |     font-size: smaller;
                                            |     line-height: normal;
                                            | }
                            .alert.alert-info 下付き
                            pre
                                | &lt;sub&gt;…&lt;/sub&gt;
                            table.table
                                tr
                                    td カテゴリー
                                    td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
                                tr
                                    td 記述可能な場所
                                    td
                                        | フレージングコンテンツが記述できる場所
                                tr
                                    td コンテンツモデル
                                    td フレージングコンテンツ
                                tr
                                    td 構成するボックス
                                    td inline
                                tr
                                    td 属性
                                    td グローバル
                                tr
                                    td 標準的なスタイル
                                    td
                                        pre
                                            | sup {
                                            |     vertical-align: super;
                                            |     font-size: smaller;
                                            |     line-height: normal;
                                            | }
                            p='<sup>は上付き文字を、<sub>は下付き文字を示します。化学式や数式など、上付きや下付きの書式で表記するのが一般的で、特別な意味を持つような場合にのみ利用することができます。'
                            p
                                a.btn.btn-default(href='../demo/html/sample1/07/196-1.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            figure
                                pre(class='prettyprint linenums:1')
                                    | &lt;h1&gt;Tips and Tricks&lt;/h1&gt;
                                    | 
                                    | &lt;p&gt;水素と酸素から水ができます：
                                    | 2H&lt;sub&gt;2&lt;/sub&gt; + O&lt;sub&gt;2&lt;/sub&gt; &rarr; 2H&lt;sub&gt;2&lt;/sub&gt;O&lt;/p&gt;
                                figcaption 化学式の「2」を下付き文字としてマークアップしたもの。
                            p
                                a.btn.btn-default(href='../demo/html/sample1/07/196-2.html',target='_blank')
                                    i.glyphicon.glyphicon-play
                                    | デモ
                            figure
                                pre(class='prettyprint linenums:1')
                                    | &lt;h1&gt;Tips and Tricks&lt;/h1&gt;
                                    |
                                    | &lt;p&gt;アインシュタインのエネルギーと質量の関係式：
                                    | &lt;var&gt;E&lt;/var&gt;=&lt;var&gt;m&lt;/var&gt;&lt;var&gt;c&lt;/var&gt;&lt;sup&gt;2&lt;/sup&gt;&lt;/p&gt;
                                figcaption='関係式の「2」を上付き文字としてマークアップしたもの。他の「E」、「m」、「c」については変数として<var>でマークアップしています。'
                            p='なお、数式については、MathMLで記述することが推奨されています。ただし、MathMLほど詳細なマークアップを必要としない場合は<sup>や<sub>で記述することが認められています。'
        .footer=title
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='../js/google-code-prettify/prettify.js')
        script.
            prettyPrint();
        script(src='../js/bootstrap.min.js')
        script(src='../coffee/list-counter.js')