include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| テーブルのキャプション
						div.panel-body
							div.alert.alert-info テーブルのキャプション
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;caption&gt;...&lt;/caption&gt;
							table.table
								tr
									td カテゴリー
									td なし
								tr
									td 記述可能な場所
									td
										| &lt;table&gt;の1つ目の子要素として記述可能
								tr
									td コンテンツモデル
									td
										| フローコンテンツ（&lt;table&gt;は除く）
								tr
									td 構成するボックス
									td table
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| caption {
											| 	display: table-caption;
											| 	unicode-bidi: isolate;
											| } 
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')