include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;汎用要素
						.panel-body
							.alert.alert-info 汎用要素
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;.gt;...&lt;/.gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| .{
											| 	display: block;
											| }
							pre
								| &lt;span&gt;...&lt;/span&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／フレージングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フレージングコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フレージングコンテンツ
								tr
									td 構成するボックス
									td inline
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| -
							p &lt;.gt;と&lt;span&gt;はセマンティクスの上では何も示さない汎用要素です。セクションを構成することもなく、アウトラインにも影響を与えません。そのため、スタイルシートやスクリプトを適用する目的の場合など、セマンティクスを示す必要がない場合に利用することができます。&lt;.gt;は「フロー・コンテンツ」カテゴリーに属する一連のコンテンツのグループを、&lt;span&gt;は「フレージング・コンテンツ」カテゴリーに属するコンテンツをマークアップすることが可能です。
							p
								a.btn.btn-default(href='../demo/html/sample1/03/089.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;.id="main"&gt;
								| 
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;&lt;span class="month"&gt;January&lt;/span&gt; 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| 
								| &lt;/article&gt;
								| 
								| 
								| &lt;.id="sidebar"&gt;
								| 
								| &lt;aside&gt;
								| &lt;h1&gt;SUBSCRIBE & FOLLOW&lt;/h1&gt;
								| &lt;ul id="iconmenu"&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/twitter.png" alt="Twitter"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/facebook.png" alt="Facebook"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/googleplus.png" alt="Google Plus"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="url"&gt;&lt;img src="img/rss.png" alt="RSS Feed"&gt;&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/aside&gt;
								| 
								| &lt;aside&gt;
								| &lt;h1&gt;ACCESS RANKING&lt;/h1&gt;
								| &lt;ol&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;映画に出てくるお茶&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;砂糖の種類と味わい方&lt;/a&gt;&lt;/li&gt;
								| &lt;/ol&gt;
								| &lt;/aside&gt;
								| 
								| &lt;aside&gt;
								| &lt;h1&gt;RECENT POSTS&lt;/h1&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ちょっとしたお茶の時間&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;ほんのり甘い…&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;年越しにぴったりなお菓子&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;茶道具の秘密&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;あったか飲み物&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="post.html"&gt;こだわりのスプーン&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/aside&gt;
								| 
								| &lt;/.gt;
								| 
								| &lt;/.gt;
								| 
								| 
								| &lt;footer&gt;
								| &lt;small&gt;Copyright &copy; SUN DIARY, all rights reserved.&lt;/small&gt;
								| &lt;/footer&gt;
							p たとえば、サンプルでは2段組みのレイアウトを行うため、サイドバーに配置するコンテンツを&lt;.id="sidebar"&gt;でマークアップし、サイドバーと記事とを&lt;.id="main"&gt;でグループ化して、スタイルシートの設定を適用するようにしています。
							p また、投稿年月日のうち、月のみを&lt;span class="month"&gt;でマークアップし、スタイルシートで文字の色や大きさをカスタマイズしています。
							figure
								pre(class='prettyprint lang-css linenums:1')
									| #main {
									| 	width: 1000px;
									| 	margin: 30px auto 10px;
									| 	overflow: hidden;
									| }
									| article {
									| 	width: 680px;
									| 	float: left;
									| }
									| #sidebar {
									| 	width: 300px;
									| 	float: right;
									| }
									| .month {
									| 	color: red;
									| 	font-weight: bold;
									| 	font-size: larger;
									| }
									| ...
								figcaption &lt;.gt;や&lt;span&gt;に適用したスタイルシートの例
							.alert.alert-warning NOTES: &lt;main&gt;によるメインコンテンツの明示
							p HTML5.1 Nightlyでは、&lt;main&gt;を利用してページ内のメインコンテンツを示すことができるようになっています。&lt;main&gt;は下のように定義されており、「セクショニング・コンテンツ」カテゴリーには属していません。アウトラインには影響を与えない要素であることに注意してください。
							p なお、メインコンテンツは、複数のページに共通したヘッダーやサイドバー、フッターなどを除いたユニークな部分と定義され、&lt;main&gt;でマークアップできるのはページごとに1か所のみとされています。
							pre
								| &lt;main&gt;...&lt;/main&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所（親要素に&lt;article&gt;、&lt;aside&gt;、&lt;footer&gt;、&lt;header&gt;、&lt;nav&gt;がないこと）
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| .{
											| 	display: block;
											| }
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')