include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| ヘッダーとフッター
						div.panel-body
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							.alert.alert-info ヘッダー
							pre
								| &lt;header&gt;...&lt;/header&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ（&lt;header&gt;と&lt;footer&gt;を除く）
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| header {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| }
							.alert.alert-info フッター
							pre
								| &lt;footer&gt;...&lt;/footer&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ（&lt;header&gt;と&lt;footer&gt;を除く）
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| footer {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| }
							p &lt;header&gt;と&lt;footer&gt;は、セクションのヘッダーとフッターを示します。たとえば、&lt;body&gt;の構成するルートセクション（ページ全体）のヘッダーとフッターであることを示したい場合は、&lt;body&gt;の中に&lt;header&gt;と&lt;footer&gt;を記述します。ここでは、サイト名とグローバルナビゲーションをヘッダー、コピーライトをフッターとして明示しています。
							p
								a.btn.btn-default(href='demo/html/sample1/03/087.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;body&gt;
								| 
								| &lt;header&gt;
								| &lt;div id="header_inner"&gt;
								| &lt;h1&gt;&lt;img src="img/logo.png" alt="SUN DIARY"&gt;&lt;/h1&gt;
								| &lt;nav&gt;
								| &lt;ul&gt;
								| &lt;li&gt;&lt;a href="news.html"&gt;NEWS&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="column.html"&gt;COLUMN&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="gift.html"&gt;GIFT&lt;/a&gt;&lt;/li&gt;
								| &lt;li&gt;&lt;a href="contact.html"&gt;CONTACT&lt;/a&gt;&lt;/li&gt;
								| &lt;/ul&gt;
								| &lt;/nav&gt;
								| &lt;/div&gt;
								| &lt;/header&gt;
								| 
								| &lt;div id="main"&gt;
								| ...
								| &lt;/div&gt;
								| 
								| 
								| &lt;footer&gt;
								| &lt;small&gt;Copyright &copy; SUN DIARY, all rights reserved.&lt;/small&gt;
								| &lt;/footer&gt;
								| 
								| &lt;/body&gt;
							p &lt;body&gt;以外のセクションでもヘッダーとフッターを示すことができます。たとえば、&lt;article&gt;でマークアップした記事のヘッダーとフッターを示したい場合、&lt;article&gt;でマークアップした記事のヘッダーとフッターを示したい場合、&lt;article&gt;の中に&lt;header&gt;と&lt;footer&gt;を記述します。ここでは、記事のタイトルと投稿日をヘッダー、著作情報をフッターとして明示しています。
							p なお、&lt;header&gt;と&lt;footer&gt;はアウトラインには影響を与えません。
							p
								a.btn.btn-default(href='demo/html/sample1/03/088.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;hgroup&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;h2&gt;ちょっとしたお茶の時間&lt;/h2&gt;
								| &lt;/hgroup&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;footer&gt;
								| &lt;address&gt;Posted by &lt;a href="http://www.web/hanako/"&gt;HANAKO&lt;/a&gt;&lt;/address&gt;
								| &lt;/footer&gt;
								| &lt;/article&gt;
							div.alert.alert-success IE NOTES:
							p IE8以前のバージョンは&lt;header&gt;と&lt;footer&gt;に未対応です。
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')