include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							| 段落レベルの区切り
						div.panel-body
							div.alert.alert-info 段落レベルの区切り
							table.browser-support
								tr
									td
										img(src='images/ic-apple.png')
									td
										img(src='images/ic-android.png')
									td
										img(src='images/ic-firefox.png')
									td
										img(src='images/ic-safari.png')
									td
										img(src='images/ic-chrome.png')
									td
										img(src='images/ic-opera.png')
									td
										img(src='images/ic-ie.png')
							pre
								| &lt;hr&gt;
							table.table
								tr
									td カテゴリー
									td フロー
								tr
									td 記述可能な場所
									td
										| フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td 空
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル 
								tr
									td 標準的なスタイル
									td
										pre
											| hr {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| 	color: gray;
											| 	border-style: inset;
											| 	border-width: 1px;
											| 	margin: 0.5em auto;
											| }
							p='<hr>は話の変わり目や場面転換といった、段落レベルの内容的な区切りを示します。<hr>で区切りを明示した箇所には、サンプルのようにグレーの区切り線が表示されます。'
							p='なお、セクションレベルの区切りは<section>といったセクショニング・コンテンツに属する要素によって示されます。これはアウトラインにも出力されるレベルの明確な区切りとなっていますので、セマンティクスの上では<hr>で区切りを示す必要はありません。ただし、
							<hr>を記述しても文法違反とはならないようです。'
							pre
								| <p>...</p>
								| <hr>
								| <p>...</p>
							pre
								| <section>...</section>
								| <hr>
								| <section>...</section>
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')