include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| &nbsp;セクション
						.panel-body
							.alert.alert-info セクション
							table.browser-support
								tr
									td
										img(src='../images/ic-apple.png')
									td
										img(src='../images/ic-android.png')
									td
										img(src='../images/ic-firefox.png')
									td
										img(src='../images/ic-safari.png')
									td
										img(src='../images/ic-chrome.png')
									td
										img(src='../images/ic-opera.png')
									td
										img(src='../images/ic-ie.png')
							pre
								| &lt;section&gt;...&lt;/section&gt;
							table.table
								tr
									td カテゴリー
									td フローコンテンツ／セクショニングコンテンツ／パルパブルコンテンツ
								tr
									td 記述可能な場所
									td フローコンテンツが記述できる場所
								tr
									td コンテンツモデル
									td フローコンテンツ
								tr
									td 構成するボックス
									td block
								tr
									td 属性
									td グローバル
								tr
									td 標準的なスタイル
									td
										pre
											| section {
											| 	display: block;
											| 	unicode-bidi: isolate;
											| }
							p &lt;section&gt;を利用すると、セマンティクスの上でのコンテンツのグループ（セクション）を示すことができます。
							p たとえば、サンプルでは&lt;article&gt;でマークアップした記事の構造をより詳細に示すため、小見出しをつけて記述した部分を&lt;section&gt;でマークアップしています。
							p
								a.btn.btn-default(href='../demo/html/sample1/03/071.html',target='_blank')
									i.glyphicon.glyphicon-play
									| デモ
							pre(class='prettyprint linenums:1')
								| &lt;article&gt;
								| &lt;header&gt;
								| &lt;h1&gt;Short Tea Breaks&lt;/h1&gt;
								| &lt;time datetime="2013-01-15"&gt;January 15, 2013&lt;/time&gt;
								| &lt;/header&gt;
								| 
								| &lt;img src="img/tea.jpg" alt=""&gt;
								| 
								| &lt;p&gt;世界中にはたくさんのお茶があります。緑茶に紅茶、ウーロン茶など、その製法や味わいもさまざまですが、リラックスしたり、ちょっと休憩したいときなどには欠かすことができません。お茶のお供に、おいしいお菓子もあると幸せな気分になってしまいます。&lt;/p&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;紅茶&lt;/h1&gt;
								| &lt;p&gt;紅茶は、茶の葉を全発酵させて製造したお茶です。ダージリンやアッサム、ジャワ、ウバ、ニルギリなど、たくさんの銘柄があります。アールグレイといったフレーバーティーも有名です。&lt;/p&gt;
								| 
								| &lt;p&gt;基本的に熱湯で入れ、茶葉に合わせて抽出時間を十分に取ります。そのため、保温性の高いポットや温めた茶器を使って入れるのがポイントとなります。ティーコジーでポットをカバーし、温度が下がるのを防ぐのもおすすめです。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;ウーロン茶&lt;/h1&gt;
								| &lt;p&gt;ウーロン茶は、茶の葉を半発酵させて製造したお茶です。中国茶では「青茶」に分類されるもので、凍頂烏龍茶、東方美人、鉄観音、武夷岩茶、水仙など、さまざまな銘柄があります。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;section&gt;
								| &lt;h1&gt;緑茶&lt;/h1&gt;
								| &lt;p&gt;緑茶は、茶の葉を発酵させずに製造したお茶で、不発酵茶とも呼ばれます。煎茶やほうじ茶、玄米茶、玉露、抹茶など、日本茶の多くは緑茶に分類されるお茶となっています。&lt;/p&gt;
								| &lt;/section&gt;
								| 
								| &lt;/article&gt;
							.alert.alert-warning NOTES: 
							p
								| デザインやスクリプトの適用先を用意することのみが目的の場合、&lt;section&gt;を使用することはできません。そのような目的の場合は&lt;.gt;を使用することが求められます。
							.alert.alert-success IE NOTES: 
							p
								| IE8以前のバージョンは&lt;section&gt;には未対応です。
							.alert.alert-warning NOTES: トップページにおける&lt;section&gt;と&lt;article&gt;の活用
							p ベンダー系のサイトのトップページでは、次のようにコンテンツのグループを明示したり、タブやスライダーで切り替えるコンテンツを示すのに&lt;section&gt;が活用されています。
							p
								| Mozilla Japan
								br
								a(href='http://www.mozilla.jp/') Mozilla Japan
							p
								| Adobe & HTML
								br
								a(href='http://html.adobe.com/jp/') Adobe & HTML
							p 独立したコンテンツであることを明示したい場合、&lt;section&gt;ではなく&lt;article&gt;を利用します。たとえば、GoogleのHTML5 ROCKSのサイトでは&lt;section&gt;と&lt;article&gt;が併用されています。また、Appleのトップページのように、&lt;section&gt;を使用していないケースもあります。
							p
								| HTML5 ROCKS
								br
								a(href='http://www.html5rocks.com/ja/') HTML5 ROCKS
							p
								| HTML5 ROCKS: 投稿とチュートリアル
								br
								a(href='http://www.html5rocks.com/ja/tutorials/') HTML5 ROCKS: 投稿とチュートリアル
							p
								| Apple
								br
								a(href='http://www.apple.com/jp/') Apple
		.footer=title
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')