.list-group
	a.list-group-item.active
		| HTMLの基礎
	a.list-group-item(href='htmltag1.jade')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='htmltag2.jade')
		i.badge.badge-info
		| 文字コード・改行コード
	a.list-group-item(href='htmltag74.jade')
		i.badge.badge-info
		| HTMLタグの基礎
	a.list-group-item(href='htmltag80.jade')
		i.badge.badge-info
		| 絶対パス
	a.list-group-item(href='htmltag81.jade')
		i.badge.badge-info
		| スキーム
	a.list-group-item(href='htmltag82.jade')
		i.badge.badge-info
		| 相対パス
	a.list-group-item(href='htmltag78.jade')
		i.badge.badge-info
		| HTML5の構文規則
	a.list-group-item(href='htmltag79.jade')
		i.badge.badge-info
		| HTML5のコンテンツモデル
	a.list-group-item(href='htmltag77.jade')
		i.badge.badge-info
		| 未対応ブラウザへの対応
	a.list-group-item(href='htmltag76.jade')
		i.badge.badge-info
		| グローバル属性
.list-group
	a.list-group-item.active
		| Webページの基本
	a.list-group-item(href='htmltag11.jade')
		i.badge.badge-info
		| DOCTYPE宣言
	a.list-group-item(href='htmltag12.jade')
		i.badge.badge-info
		| ルート要素
	a.list-group-item(href='htmltag13.jade')
		i.badge.badge-info
		| メタデータの設定
	a.list-group-item(href='htmltag9.jade')
		i.badge.badge-info
		| コンテンツ
	a.list-group-item(href='htmltag20.jade')
		i.badge.badge-info
		| スタイルシート
	a.list-group-item(href='htmltag21.jade')
		i.badge.badge-info
		| スクリプト
.list-group
	a.list-group-item.active
		| セクション
	a.list-group-item(href='htmltag75.jade')
		i.badge.badge-info
		| セクションとアウトライン
	a.list-group-item(href='htmltag5.jade')
		i.badge.badge-info
		| 独立したコンテンツ
	a.list-group-item(href='htmltag4.jade')
		i.badge.badge-info
		| セクション
	a.list-group-item(href='htmltag6.jade')
		i.badge.badge-info
		| ナビゲーション
	a.list-group-item(href='htmltag7.jade')
		i.badge.badge-info
		| 補足･関連情報
	a.list-group-item(href='htmltag3.jade')
		i.badge.badge-info
		| 見出し
	a.list-group-item(href='htmltag8.jade')
		i.badge.badge-info
		| ヘッダーとフッター
	a.list-group-item(href='htmltag25.jade')
		i.badge.badge-info
		| 汎用要素
.list-group
	a.list-group-item.active
		| メタデータ
	a.list-group-item(href='htmltag14.jade')
		i.badge.badge-info
		| ページタイトル
	a.list-group-item(href='htmltag15.jade')
		i.badge.badge-info
		| リンクに関する設定
	a.list-group-item(href='htmltag18.jade')
		i.badge.badge-info
		| 関連URL
	a.list-group-item(href='htmltag19.jade')
		i.badge.badge-info
		| メタデータ
.list-group
	a.list-group-item.active
		| 外部コンテンツ
	a.list-group-item(href='htmltag50.jade')
		i.badge.badge-info
		| 画像
	a.list-group-item(href='htmltag51.jade')
		i.badge.badge-info
		| インラインフレーム
	a.list-group-item(href='htmltag52.jade')
		i.badge.badge-info
		| 外部コンテンツ
	a.list-group-item(href='htmltag53.jade')
		i.badge.badge-info
		| 外部コンテンツの組み込みポイント
	a.list-group-item(href='htmltag54.jade')
		i.badge.badge-info
		| ビデオ／オーディオ
	a.list-group-item(href='htmltag55.jade')
		i.badge.badge-info
		| テキストトラック
	a.list-group-item(href='htmltag57.jade')
		i.badge.badge-info
		| イメージマップ
	a.list-group-item(href='htmltag56.jade')
		i.badge.badge-info
		| Canvas
	a.list-group-item(href='#')
		i.badge.badge-info
		| SVG
	a.list-group-item(href='#')
		i.badge.badge-info
		| MathML
.list-group
	a.list-group-item.active
		| 段落書式
	a.list-group-item(href='htmltag16.jade')
		i.badge.badge-info
		| 段落
	a.list-group-item(href='htmltag17.jade')
		i.badge.badge-info
		| 段落レベルの区切り
	a.list-group-item(href='htmltag10.jade')
		i.badge.badge-info
		| 連絡先・問い合わせ先
	a.list-group-item(href='htmltag23.jade')
		i.badge.badge-info
		| 引用
	a.list-group-item(href='htmltag22.jade')
		i.badge.badge-info
		| 整形済みテキスト
	a.list-group-item(href='htmltag24.jade')
		i.badge.badge-info
		| リスト
	a.list-group-item(href='htmltag27.jade')
		i.badge.badge-info
		| 関連リスト
	a.list-group-item(href='htmltag26.jade')
		i.badge.badge-info
		| 図版とキャプション
.list-group
	a.list-group-item.active
		| 文字書式
	a.list-group-item(href='htmltag28.jade')
		i.badge.badge-info
		| リンク
	a.list-group-item(href='htmltag29.jade')
		i.badge.badge-info
		| 略語
	a.list-group-item(href='htmltag30.jade')
		i.badge.badge-info
		| 定義
	a.list-group-item(href='htmltag31.jade')
		i.badge.badge-info
		| 作品のタイトル
	a.list-group-item(href='htmltag32.jade')
		i.badge.badge-info
		| 日時
	a.list-group-item(href='htmltag46.jade')
		i.badge.badge-info
		| コンピュータ関連
	a.list-group-item(href='htmltag48.jade')
		i.badge.badge-info
		| 上付き・下付き
	a.list-group-item(href='htmltag33.jade')
		i.badge.badge-info
		| 但し書き・注意
	a.list-group-item(href='htmltag34.jade')
		i.badge.badge-info
		| 重要
	a.list-group-item(href='htmltag35.jade')
		i.badge.badge-info
		| 強調・強勢
	a.list-group-item(href='htmltag36.jade')
		i.badge.badge-info
		| 変更・更新した情報
	a.list-group-item(href='htmltag47.jade')
		i.badge.badge-info
		| 語句の区別
	a.list-group-item(href='htmltag37.jade')
		i.badge.badge-info
		| ハイライト
	a.list-group-item(href='htmltag49.jade')
		i.badge.badge-info
		| ルビ（ふりがな）
	a.list-group-item(href='htmltag40.jade')
		i.badge.badge-info
		| 双方向アルゴリズムの変更
	a.list-group-item(href='htmltag41.jade')
		i.badge.badge-info
		| 双方向アルゴリズムの隔離
	a.list-group-item(href='htmltag45.jade')
		i.badge.badge-info
		| 追加・削除
	a.list-group-item(href='htmltag38.jade')
		i.badge.badge-info
		| 改行
	a.list-group-item(href='htmltag39.jade')
		i.badge.badge-info
		| 改行を認める箇所
.list-group
	a.list-group-item.active
		| テーブル
	a.list-group-item(href='htmltag58.jade')
		i.badge.badge-info
		| テーブル
	a.list-group-item(href='htmltag59.jade')
		i.badge.badge-info
		| テーブルのキャプション
	a.list-group-item(href='htmltag60.jade')
		i.badge.badge-info
		| 列のグループ
	a.list-group-item(href='htmltag61.jade')
		i.badge.badge-info
		| 行のグループ
.list-group
	a.list-group-item.active
		| フォーム
	a.list-group-item(href='htmltag62.jade')
		i.badge.badge-info
		| フォーム
	a.list-group-item(href='htmltag63.jade')
		i.badge.badge-info
		| ラベル
	a.list-group-item(href='htmltag64.jade')
		i.badge.badge-info
		| フォームコントロールのグループ
	a.list-group-item(href='htmltag65.jade')
		i.badge.badge-info
		| データの入力・送信
	a.list-group-item(href='htmltag66.jade')
		i.badge.badge-info
		| ボタン
	a.list-group-item(href='htmltag67.jade')
		i.badge.badge-info
		| 選択肢
	a.list-group-item(href='htmltag68.jade')
		i.badge.badge-info
		| 入力候補
	a.list-group-item(href='htmltag69.jade')
		i.badge.badge-info
		| 複数行のテキスト
	a.list-group-item(href='htmltag70.jade')
		i.badge.badge-info
		| 暗号鍵
	a.list-group-item(href='htmltag71.jade')
		i.badge.badge-info
		| 計算結果
	a.list-group-item(href='htmltag72.jade')
		i.badge.badge-info
		| 進捗状況
	a.list-group-item(href='htmltag73.jade')
		i.badge.badge-info
		| メーター
.list-group
	a.list-group-item.active
		| インタラクティブ
	a.list-group-item(href='htmltag42.jade')
		i.badge.badge-info
		| 付加的な情報
	a.list-group-item(href='htmltag43.jade')
		i.badge.badge-info
		| コマンドリスト
	a.list-group-item(href='htmltag44.jade')
		i.badge.badge-info
		| ダイアログボックス