.list-group
	a.list-group-item.active
		| HTMLの基礎
	a.list-group-item(href='1')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='2')
		i.badge.badge-info
		| 文字コード・改行コード
	a.list-group-item(href='74')
		i.badge.badge-info
		| HTMLタグの基礎
	a.list-group-item(href='80')
		i.badge.badge-info
		| 絶対パス
	a.list-group-item(href='81')
		i.badge.badge-info
		| スキーム
	a.list-group-item(href='82')
		i.badge.badge-info
		| 相対パス
	a.list-group-item(href='78')
		i.badge.badge-info
		| HTML5の構文規則
	a.list-group-item(href='79')
		i.badge.badge-info
		| HTML5のコンテンツモデル
	a.list-group-item(href='89')
		i.badge.badge-info
		| コンディショナルコメント
	a.list-group-item(href='77')
		i.badge.badge-info
		| 未対応ブラウザへの対応
	a.list-group-item(href='76')
		i.badge.badge-info
		| グローバル属性
.list-group
	a.list-group-item.active
		| Webページの基本
	a.list-group-item(href='11')
		i.badge.badge-info
		| DOCTYPE宣言
	a.list-group-item(href='12')
		i.badge.badge-info
		| ルート要素
	a.list-group-item(href='13')
		i.badge.badge-info
		| メタデータの設定
	a.list-group-item(href='9')
		i.badge.badge-info
		| コンテンツ
	a.list-group-item(href='20')
		i.badge.badge-info
		| スタイルシート
	a.list-group-item(href='21')
		i.badge.badge-info
		| スクリプト
.list-group
	a.list-group-item.active
		| セクション
	a.list-group-item(href='75')
		i.badge.badge-info
		| セクションとアウトライン
	a.list-group-item(href='5')
		i.badge.badge-info
		| 独立したコンテンツ
	a.list-group-item(href='4')
		i.badge.badge-info
		| セクション
	a.list-group-item(href='6')
		i.badge.badge-info
		| ナビゲーション
	a.list-group-item(href='7')
		i.badge.badge-info
		| 補足･関連情報
	a.list-group-item(href='3')
		i.badge.badge-info
		| 見出し
	a.list-group-item(href='8')
		i.badge.badge-info
		| ヘッダーとフッター
	a.list-group-item(href='25')
		i.badge.badge-info
		| 汎用要素
.list-group
	a.list-group-item.active
		| メタデータ
	a.list-group-item(href='14')
		i.badge.badge-info
		| ページタイトル
	a.list-group-item(href='15')
		i.badge.badge-info
		| リンクに関する設定
	a.list-group-item(href='18')
		i.badge.badge-info
		| 関連URL
	a.list-group-item(href='19')
		i.badge.badge-info
		| メタデータ
	a.list-group-item(href='85')
		i.badge.badge-info
		| コンテンツの内容をより詳細に明示する
	a.list-group-item(href='86')
		i.badge.badge-info
		| microdata
	a.list-group-item(href='87')
		i.badge.badge-info
		| RDFa
	a.list-group-item(href='88')
		i.badge.badge-info
		| microformats
.list-group
	a.list-group-item.active
		| 外部コンテンツ
	a.list-group-item(href='50')
		i.badge.badge-info
		| 画像
	a.list-group-item(href='51')
		i.badge.badge-info
		| インラインフレーム
	a.list-group-item(href='52')
		i.badge.badge-info
		| 外部コンテンツ
	a.list-group-item(href='53')
		i.badge.badge-info
		| 外部コンテンツの組み込みポイント
	a.list-group-item(href='54')
		i.badge.badge-info
		| ビデオ／オーディオ
	a.list-group-item(href='55')
		i.badge.badge-info
		| テキストトラック
	a.list-group-item(href='57')
		i.badge.badge-info
		| イメージマップ
	a.list-group-item(href='56')
		i.badge.badge-info
		| Canvas
	a.list-group-item(href='83')
		i.badge.badge-info
		| SVG
	a.list-group-item(href='84')
		i.badge.badge-info
		| MathML
.list-group
	a.list-group-item.active
		| 段落書式
	a.list-group-item(href='16')
		i.badge.badge-info
		| 段落
	a.list-group-item(href='17')
		i.badge.badge-info
		| 段落レベルの区切り
	a.list-group-item(href='10')
		i.badge.badge-info
		| 連絡先・問い合わせ先
	a.list-group-item(href='23')
		i.badge.badge-info
		| 引用
	a.list-group-item(href='22')
		i.badge.badge-info
		| 整形済みテキスト
	a.list-group-item(href='24')
		i.badge.badge-info
		| リスト
	a.list-group-item(href='27')
		i.badge.badge-info
		| 関連リスト
	a.list-group-item(href='26')
		i.badge.badge-info
		| 図版とキャプション
.list-group
	a.list-group-item.active
		| 文字書式
	a.list-group-item(href='28')
		i.badge.badge-info
		| リンク
	a.list-group-item(href='29')
		i.badge.badge-info
		| 略語
	a.list-group-item(href='30')
		i.badge.badge-info
		| 定義
	a.list-group-item(href='31')
		i.badge.badge-info
		| 作品のタイトル
	a.list-group-item(href='32')
		i.badge.badge-info
		| 日時
	a.list-group-item(href='46')
		i.badge.badge-info
		| コンピュータ関連
	a.list-group-item(href='48')
		i.badge.badge-info
		| 上付き・下付き
	a.list-group-item(href='33')
		i.badge.badge-info
		| 但し書き・注意
	a.list-group-item(href='34')
		i.badge.badge-info
		| 重要
	a.list-group-item(href='35')
		i.badge.badge-info
		| 強調・強勢
	a.list-group-item(href='36')
		i.badge.badge-info
		| 変更・更新した情報
	a.list-group-item(href='47')
		i.badge.badge-info
		| 語句の区別
	a.list-group-item(href='37')
		i.badge.badge-info
		| ハイライト
	a.list-group-item(href='49')
		i.badge.badge-info
		| ルビ（ふりがな）
	a.list-group-item(href='40')
		i.badge.badge-info
		| 双方向アルゴリズムの変更
	a.list-group-item(href='41')
		i.badge.badge-info
		| 双方向アルゴリズムの隔離
	a.list-group-item(href='45')
		i.badge.badge-info
		| 追加・削除
	a.list-group-item(href='38')
		i.badge.badge-info
		| 改行
	a.list-group-item(href='39')
		i.badge.badge-info
		| 改行を認める箇所
.list-group
	a.list-group-item.active
		| テーブル
	a.list-group-item(href='58')
		i.badge.badge-info
		| テーブル
	a.list-group-item(href='59')
		i.badge.badge-info
		| テーブルのキャプション
	a.list-group-item(href='60')
		i.badge.badge-info
		| 列のグループ
	a.list-group-item(href='61')
		i.badge.badge-info
		| 行のグループ
.list-group
	a.list-group-item.active
		| フォーム
	a.list-group-item(href='62')
		i.badge.badge-info
		| フォーム
	a.list-group-item(href='63')
		i.badge.badge-info
		| ラベル
	a.list-group-item(href='64')
		i.badge.badge-info
		| フォームコントロールのグループ
	a.list-group-item(href='65')
		i.badge.badge-info
		| データの入力・送信
	a.list-group-item(href='66')
		i.badge.badge-info
		| ボタン
	a.list-group-item(href='67')
		i.badge.badge-info
		| 選択肢
	a.list-group-item(href='68')
		i.badge.badge-info
		| 入力候補
	a.list-group-item(href='69')
		i.badge.badge-info
		| 複数行のテキスト
	a.list-group-item(href='70')
		i.badge.badge-info
		| 暗号鍵
	a.list-group-item(href='71')
		i.badge.badge-info
		| 計算結果
	a.list-group-item(href='72')
		i.badge.badge-info
		| 進捗状況
	a.list-group-item(href='73')
		i.badge.badge-info
		| メーター
.list-group
	a.list-group-item.active
		| インタラクティブ
	a.list-group-item(href='42')
		i.badge.badge-info
		| 付加的な情報
	a.list-group-item(href='43')
		i.badge.badge-info
		| コマンドリスト
	a.list-group-item(href='44')
		i.badge.badge-info
		| ダイアログボックス