div.list-group
	a.list-group-item(href='htmltag1.jade')
		i.badge.badge-info
		| HTML資料
	a.list-group-item(href='htmltag2.jade')
		i.badge.badge-info
		| 文字コード・改行コード
	a.list-group-item(href='htmltag11.jade')
		i.badge.badge-info
		| DOCTYPE宣言
	a.list-group-item(href='htmltag12.jade')
		i.badge.badge-info
		| ルート要素
	a.list-group-item(href='htmltag9.jade')
		i.badge.badge-info
		| コンテンツ
	a.list-group-item(href='htmltag5.jade')
		i.badge.badge-info
		| 独立したコンテンツ
	a.list-group-item(href='htmltag4.jade')
		i.badge.badge-info
		| セクション
	a.list-group-item(href='htmltag6.jade')
		i.badge.badge-info
		| ナビゲーション
	a.list-group-item(href='htmltag7.jade')
		i.badge.badge-info
		| 補足･関連情報
	a.list-group-item(href='htmltag3.jade')
		i.badge.badge-info
		| 見出し
	a.list-group-item(href='htmltag8.jade')
		i.badge.badge-info
		| ヘッダーとフッター
	a.list-group-item(href='htmltag10.jade')
		i.badge.badge-info
		| 連絡先・問い合わせ先