div.list-group
	a.list-group-item(href='htmltag1.jade')
		i.badge.badge-info
		| HTML資料
	a.list-group-item(href='htmltag2.jade')
		i.badge.badge-info
		| 文字コード・改行コード
	a.list-group-item(href='htmltag3.jade')
		i.badge.badge-info
		| 見出し（ヘッディング）