nav.navbar.navbar-default
  div.navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  div.collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li.active
        a(href='htmltag1.jade') HTML
      li
        a(href='#') Jade
    ul.nav.navbar-nav.navbar-right
      li
        a(href="http://jade-lang.com/",target="_blank") Jade
      li
        a(href="https://github.com/elmerbulthuis/jshtml",target="_blank") JsHtml
      li
        a(href="http://twitter.github.io/hogan.js/",target="_blank") Hogan.js