nav.navbar.navbar-default
  .navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  .collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li.active
        a(href='1') HTML
      li
        a(href='../others/5',target='_blank') Emmet
      li
        a(href='../others/6',target='_blank') Jade
      li
        a(href='../others/7',target='_blank') Markdown
    ul.nav.navbar-nav.navbar-right
      li
        a(href='http://validator.w3.org/',target='_blank') Validator
      li
        a(href='http://gsnedders.html5.org/outliner/',target='_blank') Outliner