extends ../../layout

block link
	link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../../css/style.css',rel='stylesheet',media='screen')
	link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;資料
					.panel-body
						p
							| Git 公式サイト
							br
							a(href='http://git-scm.com/',target='_blank')
								| http://git-scm.com/
						p
							| Git ドキュメント
							br
							a(href='http://git-scm.com/book/ja/',target='_blank')
								| http://git-scm.com/book/ja/
						hr
						pre
							:code
								GitHub for Windows
								http://windows.github.com/
								Windows

								GitHub for Mac
								http://mac.github.com/
								Mac

								GitX-dev
								http://rowanj.github.io/gitx/
								Mac

								Git Extensions
								http://code.google.com/p/gitextensions/
								Windows

								SourceTree
								http://www.sourcetreeapp.com/
								Windows, Mac

								git-cola
								http://git-cola.github.com/
								Windows, Mac, Linux

								SmartGit
								http://www.syntevo.com/smartgit/index.html
								Windows, Mac, Linux

								GitEye
								http://www.giteyeapp.com/
								Windows, Mac, Linux
						pre
							:code
								ドットインストール
									
								git入門
								http://dotinstall.com/lessons/basic_git

