nav.navbar.navbar-default
  div.navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  div.collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li
        a(href='others4.jade') 開発ツール