doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p: input(type='button',value='クリック')
		ul
			-for(var i = 0; i < 4; i++)
				li ul要素 ul要素 ul要素 ul要素
		ol
			-for(var i = 0; i < 4; i++)
				li ol要素 ol要素 ol要素 ol要素
		div
			| div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素
			-for(var i = 0; i < 4; i++)
				span span要素 span要素 span要素
			| div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素 div要素
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
