doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p
			input#html(type='checkbox',value='1',checked)
			label(for='html') HTML
			input#css(type='checkbox',value='1',checked)
			label(for='css') CSS
			input#jquery(type='checkbox',value='1',checked)
			label(for='jquery') jQuery
			input#javascript(type='checkbox',value='1',checked)
			label(for='javascript') JavaScript
			input(type='button',value='リセット')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')