doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		#first
			p: a(href='javascript:void(0)') 画像を変更
			p: img(src='img/before.png', alt='変更前')
		#second
			p: a(href='img/after.png') 画像を変更
			p: img(src='img/before.png', alt='変更前')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
