@import url(http://fonts.googleapis.com/css?family=Passion+One:400,700);

body	{margin: 0;
	padding: 0;
	background: #f2ebdc;}

/* ヘッダー */
body > header	{border-bottom: solid 1px #aaa;
	background: white;
	overflow: hidden;
	box-shadow: 0px 0px 6px #aaa;}

body > header #header_inner	{width: 1000px;
	margin: auto;}

body > header h1	{margin: 5px 0 0;
	line-height: 1;
	float: left;}

body > header h1 img	{vertical-align: bottom;
	height: 42px;}


/* ナビゲーション */
nav ul	{margin: 21px 0 0;
	padding: 0;
	float: right;}

nav li	{list-style-type: none;
	border-right: solid 1px #aaa;
	float: left;}

nav li a	{display: block;
	width: 120px;
	height: 22px;
	padding: 0;
	font-size: 14px;
	color: black;
	text-align: center;
	text-decoration: none;
	border-bottom: solid 4px transparent;}

nav li:first-child	{border-left: solid 1px #aaa;}

nav li a:hover	{border-bottom: solid 4px red;}


/* メイン */
#main	{width: 1000px;
	margin: 30px auto 10px;
	overflow: hidden;}

#jump	{margin: 0 0 20px 0;
	padding: 0;
	list-style-type: none;}

#jump li	{margin: 0 10px 0px 0;
	display: inline-block;}

#jump a	{text-decoration: none;
	display: inline-block;
	width: 150px;
	background: #8e702f;
	color: white;
	text-align: center;
	line-height: 24px;}

/* 記事 */
article	{width: 680px;
	float: left;
	border: solid 1px #aaa;
	background: white;
	padding: 20px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;}

article h1	{font-family: 'Passion One', Verdana, Helvetica, sans-serif;
	font-size: 56px;
	margin: 0;
	background-color: white;}

article section h1	{font-size: 24px;
	margin: 34px 0 0;
	border-left: solid 18px #8e702f;
	padding: 2px 0 2px 8px;}

article h2	{font-size: 16px;
	color: #666;
	margin: 0 0 5px;}

article time	{font-family: Verdana, Helvetica, sans-serif;
	display: block;
	margin: 10px 0;}

article p	{text-align: left;
	margin: 20px auto;
	line-height: 1.4;
	background-color: white;}

article img	{width: 640px;
	height: auto;}


/* コメント */
#comments	{border: solid 1px #d2bc8c;
	margin-top: 70px;
	padding: 20px;}

#comments h1	{border-left: none;
	color: #d2bc8c;
	margin: 0;
	padding: 0;}

article article	{width: auto;
	float: none;
	border: none;
	border-bottom: dotted 1px #d2bc8c;
	padding: 0;}

article article footer	{font-size: smaller;
	text-align: right;
	width: auto;
	color: #666666;}

article article time	{display: inline;
	padding-left: 20px;}


/* フォーム */
form	{width: 500px;
	margin: 30px auto;}

form p	{margin: 20px 0;
	line-height: 1.7;}

label	{border-left: solid 10px #d2bc8c;
	padding: 2px 8px;}

input, textarea	{width: 500px;}

input[type="submit"]	{width: 300px;}


/* サイドバー */
#sidebar	{width: 300px;
	float: right;}

aside	{border: solid 1px #aaa;
	background: white;
	margin: 0 0 20px 0;
	padding: 20px;}

aside h1	{border-bottom: solid 2px #d2bc8c;
	margin: 0;
	padding: 0 0 5px 0;
	font-family: 'Passion One', Verdana, Helvetica, sans-serif;
	font-size: 24px;
	color: #8e702f;}

/* アイコンメニュー */
aside #iconmenu	{margin: 10px 0 0;
	padding: 0;}

aside #iconmenu li	{display: inline;
	list-style-type: none;}

aside #iconmenu img	{border: none;}

/* ランキングメニュー */
aside ol	{margin: 15px 0 0;
	padding: 0;}

aside ol li	{list-style-type: none;
	counter-increment: mycount;
	margin: 0 0 15px 0;}

aside ol li::before	{content: counter(mycount, decimal);
	background: #d2bc8c;
	padding: 3px 8px;
	margin: 0 8px 0 0;
	font-family: Verdana, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: white;}

/* 最新記事メニュー */
aside ul	{margin: 15px 0 0 20px;
	padding: 0;}

aside ul li	{margin: 0 0 15px 0;
	color: #d2bc8c;}

aside a	{text-decoration: none;
	color: black;
	font-size: 14px;}


/* フッター */
footer	{width: 1000px;
	margin: auto;
	padding-bottom: 20px;
	clear: both;}
