doctype
html(lang='ja-JP')
 head
  meta(charset='UTF-8')
  title
 body
  p#first 変更前
  p: input(type='button', value='取得')
  script(src='http://code.jquery.com/jquery-1.10.2.min.js')
  script(src='script.js')