doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style4.css')
    body
        a.open(href='#floatWindow') フローティングウィンドウの表示
        #floatWindow
            a.close(href='#')
                img(src='img/close2.png',alt='閉じる')
            dl
                dt jQueryによるフローティングウィンドウの作成
                dd 今回はjQueryでフローティングウィンドウを作成する方法を解説します。フローティングウィンドウとはWebページ上にドラッグ可能な別の子ウィンドウを表示するUIのことです。ポップアップなどで表示されるウィンドウとは異なりブラウザのポップアップブロックなどの影響を受けず、また、元のサイトにレイアウトなどに影響を与えずにウィンドウを表示することが可能になっています。
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script4.js')