extends ../../layout

block link
    include ../../link2

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;MongoDBのインストール
                    .panel-body
                        .alert.alert-info Windowsにインストール
                        p
                            | ① MongoDBをダウンロードする<br>
                            a(href='http://www.mongodb.org/downloads',target='_blank') http://www.mongodb.org/downloads
                        p ② C:\ にダウンロードしてきたzipを展開する
                        p ③ 展開したフォルダ名を mongodb に変更する
                        p ④　以下のフォルダを作成する
                        pre
                            :code
                                mkdir C:\mongodb\data C:\mongodb\logs
                        p ⑤ C:\mongod\binにパスを通す
                        p ⑥ mongodbを起動
                        pre
                            :code
                                mongod --dbpath=..\data --logpath --\logs
                        p ⑦ 別のコマンドプロンプトからmongoシェルを扱う
                        hr
                        .alert.alert-info OSXにインストール
                        p: u MacPorts（長時間）
                            pre
                                :code
                                    sudo port install mongodb
                        p: u Homebrew（短時間）
                            pre
                                :code
                                    brew install mongodb
                        p /var/lib/mongodbを作成
                            pre
                                :code
                                    sudo mkdir /var/lib/mongodb
                        p /var/log/mongodb.logを作成
                            pre
                                :code
                                    sudo touch /var/log/mongodb.log
                        p mongodbの起動
                            pre
                                :code
                                    mongod --dbpath /var/lib/mongodb --logpath /var/log/mongodb.log

                        p 別のターミナルからmongoシェルを扱う
                        hr
                        .alert.alert-info Linuxにインストール