extends ../../layout

block link
    include ../../link2

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;NoSQLとは
                    .panel-body
                        table.table
                            tr
                                th(colspan='2',rowspan='3') 
                                th(colspan='4') アーキテクチャ
                            tr
                                th(rowspan='2') マスタ型
                                th(rowspan='2') P2P型
                                th イネーブラ型
                            tr
                                th オンメモリ
                                th オンディスク
                            tr
                                th(rowspan='4',style='width:18px') データモデル
                                th キー・バリュー型（KVS）
                                td Hibari
                                td Dynamo<br>Voldemort<br>Riak
                                td Memcached<br>Redis<br>Scalaris
                                td TokyoCabinet<br>TokyoTyrant
                            tr
                                th カラム列指向型
                                td Bigtable<br>Hbase<br>Hypertable
                                td Cassandra
                                td 
                                td 
                            tr
                                th グラフ型
                                td Neo4j
                                td InfiniteGraph
                                td 
                                td 
                            tr
                                th ドキュメント指向型
                                td MongoDB<br>CouchDB
                                td 
                                td 
                                td 
