.list-group
    a.list-group-item(href='../webapi/40')
        i.badge.badge-info
        | ひな形
    a.list-group-item(href='../webapi/41')
        i.badge.badge-info
        | 基本的なコード
    a.list-group-item(href='../webapi/42')
        i.badge.badge-info
        | 地図の種類
    a.list-group-item(href='../webapi/43')
        i.badge.badge-info
        | 機能の無効化
    a.list-group-item(href='../webapi/44')
        i.badge.badge-info
        | マーカーを表示する
    a.list-group-item(href='../webapi/45')
        i.badge.badge-info
        | クリックしてマーカーを表示する
    a.list-group-item(href='../webapi/46')
        i.badge.badge-info
        | マーカーにオプションを設定
    a.list-group-item(href='../webapi/47')
        i.badge.badge-info
        | 情報ウィンドウの表示
    a.list-group-item(href='../webapi/48')
        i.badge.badge-info
        | マーカーをクリックして情報の表示
    a.list-group-item(href='../webapi/56')
        i.badge.badge-info
        | jQueryのプラグインで表示
    a.list-group-item(href='../webapi/53')
        i.badge.badge-info
        | 複数のマーカーを表示する
    a.list-group-item(href='../webapi/54')
        i.badge.badge-info
        | 大量のマーカーを読み込む
    a.list-group-item(href='../webapi/55')
        i.badge.badge-info
        | 大量のマーカーをまとめる
    a.list-group-item(href='../webapi/49')
        i.badge.badge-info
        | 住所から緯度経度を算出
    a.list-group-item(href='../webapi/50')
        i.badge.badge-info
        | クリックした位置の住所を取得
    a.list-group-item(href='../webapi/51')
        i.badge.badge-info
        | フォームで入力した場所に移動
    a.list-group-item(href='../webapi/63')
        i.badge.badge-info
        | ポリラインを表示する
    a.list-group-item(href='../webapi/62')
        i.badge.badge-info
        | ポリゴンを表示する
    a.list-group-item(href='../webapi/61')
        i.badge.badge-info
        | 矩形を表示する
    a.list-group-item(href='../webapi/60')
        i.badge.badge-info
        | 円を表示する
    a.list-group-item(href='../webapi/52')
        i.badge.badge-info
        | 現在地を表示する
    a.list-group-item(href='../webapi/58')
        i.badge.badge-info
        | 現在の位置情報を表示
    a.list-group-item(href='../webapi/59')
        i.badge.badge-info
        | 位置情報の取得に失敗したとき
    a.list-group-item(href='../webapi/57')
        i.badge.badge-info
        | 地図の色味を変更する