<div class="list-group">
     <a href="demo/webapi/googlemap-1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 基本的なコード
     </a>
     <a href="demo/webapi/googlemap-2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> マーカーと情報ウィンドウを表示する
     </a>
</div>