<div class="list-group">
     <a href="webapi-40" class="list-group-item">
     <i class="badge badge-info"></i> ひな形
     </a>
     <a href="webapi-41" class="list-group-item">
     <i class="badge badge-info"></i> 基本的なコード
     </a>
     <a href="webapi-42" class="list-group-item">
     <i class="badge badge-info"></i> 地図の種類
     </a>
     <a href="webapi-43" class="list-group-item">
     <i class="badge badge-info"></i> 機能の無効化
     </a>
     <a href="webapi-44" class="list-group-item">
     <i class="badge badge-info"></i> マーカーを表示する
     </a>
     <a href="webapi-45" class="list-group-item">
     <i class="badge badge-info"></i> クリックしてマーカーを表示する
     </a>
</div>