<div class="list-group">
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> DOMスクリティング
     </a>
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> Ajax/XMLHttpRequest
     </a>
     <a href="demo/webapi/googlemap-1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 基本的なコード
     </a>
     <a href="demo/webapi/googlemap-2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> マーカーと情報ウィンドウを表示する
     </a>
     <a href="demo/webapi/googlemap-4/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 大量のマーカーを表示するプログラム
     </a>
     <a href="demo/webapi/googlemap-5/index.html" class="list-group-item">
     <i class="badge badge-info"></i> Fluster2でマーカーをまとめる
     </a>
</div>