<div class="list-group">
     <a href="webapi-40" class="list-group-item">
     <i class="badge badge-info"></i> ひな形
     </a>
     <a href="webapi-41" class="list-group-item">
     <i class="badge badge-info"></i> 基本的なコード
     </a>
     <a href="webapi-42" class="list-group-item">
     <i class="badge badge-info"></i> 地図の種類
     </a>
     <a href="webapi-43" class="list-group-item">
     <i class="badge badge-info"></i> 機能の無効化
     </a>
     <a href="webapi-44" class="list-group-item">
     <i class="badge badge-info"></i> マーカーを表示する
     </a>
     <a href="webapi-45" class="list-group-item">
     <i class="badge badge-info"></i> クリックしてマーカーを表示する
     </a>
     <a href="webapi-46" class="list-group-item">
     <i class="badge badge-info"></i> マーカーにオプションを設定
     </a>
     <a href="webapi-47" class="list-group-item">
     <i class="badge badge-info"></i> 情報ウィンドウの表示
     </a>
     <a href="webapi-48" class="list-group-item">
     <i class="badge badge-info"></i> マーカーをクリックして情報の表示
     </a>
     <a href="webapi-49" class="list-group-item">
     <i class="badge badge-info"></i> 住所から緯度経度を算出
     </a>
     <a href="webapi-50" class="list-group-item">
     <i class="badge badge-info"></i> クリックした位置の住所を取得
     </a>
     <a href="webapi-51" class="list-group-item">
     <i class="badge badge-info"></i> フォームで入力した場所に移動
     </a>
</div>