.list-group
    a.list-group-item(href='../webapi/1')
        i.badge.badge-info
        | Ajax資料
    a.list-group-item(href='../webapi/6')
        i.badge.badge-info
        | HTTP通信の概要
    a.list-group-item(href='../webapi/2')
        i.badge.badge-info
        | Ajaxとは
    a.list-group-item(href='../webapi/3')
        i.badge.badge-info
        | XMLHttpRequestとは
    a.list-group-item(href='../webapi/7')
        i.badge.badge-info
        | jQueryのAjax系メソッド
    a.list-group-item(href='../webapi/8')
        i.badge.badge-info
        | テキストの読み込み
    a.list-group-item(href='../webapi/9')
        i.badge.badge-info
        | HTMLの読み込み
    a.list-group-item(href='../webapi/10')
        i.badge.badge-info
        | 特定のDOM要素の読み込み
    a.list-group-item(href='../webapi/14')
        i.badge.badge-info
        | Ajaxでページング
    a.list-group-item(href='../webapi/11')
        i.badge.badge-info
        | XMLの読み込み
    a.list-group-item(href='../webapi/12')
        i.badge.badge-info
        | XMLの属性値の取得
    a.list-group-item(href='../webapi/24')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：XMLデータの処理①
    a.list-group-item(href='../webapi/25')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：XMLデータの処理②
    a.list-group-item(href='../webapi/26')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：RSSの処理
    a.list-group-item(href='../webapi/13')
        i.badge.badge-info
        | JSONの読み込み
    a.list-group-item(href='../webapi/27')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：JSONデータの処理①
    a.list-group-item(href='../webapi/28')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：JSONデータの処理②
    a.list-group-item(href='https://github.com/yoh-nak/node-xml2json')
        i.badge.badge-info
        | XMLをJSONに変換する
    a.list-group-item(href='https://github.com/yoh-nak/node-rss')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：RSSをサーバーから読み込む
    //-a.list-group-item(href='https://github.com/yoh-nak/node-chat')
        i.badge.badge-info
        | Webソケットでチャット
    a.list-group-item(href='../webapi/5')
        i.badge.badge-info
        | APIへの接続
    a.list-group-item(href='../webapi/30')
        i.badge.badge-info
        | QRコードの生成
    a.list-group-item(href='../webapi/29')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：サムネイルを生成する
    a.list-group-item(href='../webapi/32')
        i.badge.badge-info
        | Google Chart Tools
    a.list-group-item(href='../webapi/31')
        i.glyphicon.glyphicon-bookmark
        i.badge.badge-info
        | 課題：データの集計
    a.list-group-item(href='../webapi/4')
        i.badge.badge-info
        | JSONPの概要
    a.list-group-item(href='https://github.com/yoh-nak/node-xml2jsonp')
        i.badge.badge-info
        | XMLをJSONPに変換する
    a.list-group-item(href='../webapi/33')
        i.badge.badge-info
        | Twitter API（ログイン後のツイート）
    a.list-group-item(href='../webapi/34')
        i.badge.badge-info
        | Twitter API（サムネイルの取得）
    a.list-group-item(href='../webapi/35')
        i.badge.badge-info
        | Twitter API（URLにリンクを付加）
    a.list-group-item(href='../webapi/36')
        i.badge.badge-info
        | Twitter API（ツイート検索）
    a.list-group-item(href='../webapi/37')
        i.badge.badge-info
        | Twitter API（検索ボックス）
    a.list-group-item(href='../webapi/38')
        i.badge.badge-info
        | Twitter API（音声入力）
    a.list-group-item(href='../webapi/39')
        i.badge.badge-info
        | YouTube動画検索
    a.list-group-item(href='demo/webapi/exercise26/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（JavaScript）
    a.list-group-item(href='demo/webapi/exercise28/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（jQuery）
    a.list-group-item(href='demo/webapi/exercise29/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（再生の制御）
    a.list-group-item(href='demo/webapi/exercise30/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（音量の制御）
    a.list-group-item(href='demo/webapi/exercise31/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（ステータスの制御）
    a.list-group-item(href='demo/webapi/exercise32/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（画質の制御）
    a.list-group-item(href='demo/webapi/exercise33/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（情報の取得）
    a.list-group-item(href='demo/webapi/exercise34/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（イベントの取得）
    a.list-group-item(href='demo/webapi/exercise35/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（プレイヤーのサイズ）
    a.list-group-item(href='demo/webapi/exercise36/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（動画を切り替えて自動再生）
    a.list-group-item(href='demo/webapi/exercise36/index2.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（動画を切り替えて手動再生）
    a.list-group-item(href='demo/webapi/exercise37/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（プレイヤーの複数配置）
    a.list-group-item(href='demo/webapi/exercise38/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（字幕のフォントサイズ）
    a.list-group-item(href='demo/webapi/exercise39/index.html', target='_blank')
        i.badge.badge-info
        | YouTube Player API（iframeの削除）
