<div class="list-group">
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> DOMスクリティング
     </a>
     <a href="webapi-6" class="list-group-item">
     <i class="badge badge-info"></i> HTTP通信の概要
     </a>
     <a href="webapi-2" class="list-group-item">
     <i class="badge badge-info"></i> Ajaxとは
     </a>
     <a href="webapi-3" class="list-group-item">
     <i class="badge badge-info"></i> XMLHttpRequestとは
     </a>
     <a href="webapi-8" class="list-group-item">
     <i class="badge badge-info"></i> テキストの読み込み
     </a>
     <a href="webapi-4" class="list-group-item">
     <i class="badge badge-info"></i> JSONPの概要
     </a>
     <a href="webapi-5" class="list-group-item">
     <i class="badge badge-info"></i> APIへの接続
     </a>
     <a href="webapi-7" class="list-group-item">
     <i class="badge badge-info"></i> jQueryのAjax系メソッド
     </a>
</div>