<div class="list-group">
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> DOMスクリティング
     </a>
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> Ajax/XMLHttpRequest
     </a>
</div>