<div class="list-group">
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> DOMスクリティング
     </a>
     <a href="webapi-2" class="list-group-item">
     <i class="badge badge-info"></i> Ajaxとは
     </a>
     <a href="webapi-3" class="list-group-item">
     <i class="badge badge-info"></i> XMLHttpRequestとは
     </a>
     <a href="webapi-4" class="list-group-item">
     <i class="badge badge-info"></i> JSONPの概要
     </a>
</div>