<div class="list-group">
     <a href="webapi-1" class="list-group-item">
     <i class="badge badge-info"></i> Ajax資料
     </a>
     <a href="webapi-6" class="list-group-item">
     <i class="badge badge-info"></i> HTTP通信の概要
     </a>
     <a href="webapi-2" class="list-group-item">
     <i class="badge badge-info"></i> Ajaxとは
     </a>
     <a href="webapi-3" class="list-group-item">
     <i class="badge badge-info"></i> XMLHttpRequestとは
     </a>
     <a href="webapi-7" class="list-group-item">
     <i class="badge badge-info"></i> jQueryのAjax系メソッド
     </a>
     <a href="webapi-8" class="list-group-item">
     <i class="badge badge-info"></i> テキストの読み込み
     </a>
     <a href="webapi-9" class="list-group-item">
     <i class="badge badge-info"></i> HTMLの読み込み
     </a>
     <a href="webapi-10" class="list-group-item">
     <i class="badge badge-info"></i> 特定のDOM要素の読み込み
     </a>
     <a href="webapi-14" class="list-group-item">
     <i class="badge badge-info"></i> Ajaxでページング
     </a>
     <a href="webapi-11" class="list-group-item">
     <i class="badge badge-info"></i> XMLの読み込み
     </a>
     <a href="webapi-12" class="list-group-item">
     <i class="badge badge-info"></i> XMLの属性値の取得
     </a>
     <a href="webapi-13" class="list-group-item">
     <i class="badge badge-info"></i> JSONの読み込み
     </a>
     <a href="webapi-4" class="list-group-item">
     <i class="badge badge-info"></i> JSONPの概要
     </a>
     <a href="webapi-5" class="list-group-item">
     <i class="badge badge-info"></i> APIへの接続
     </a>
</div>