.list-group
    a.list-group-item(href='../webapi/14')
        i.badge.badge-info
        | Ajaxでページング①
    a.list-group-item(href='../webapi/15')
        i.badge.badge-info
        | Ajaxでページング②
    a.list-group-item(href='../webapi/16')
        i.badge.badge-info
        | Ajaxでページング③
    a.list-group-item(href='../webapi/17')
        i.badge.badge-info
        | Ajaxでページング④
    a.list-group-item(href='../webapi/18')
        i.badge.badge-info
        | Ajaxでページング⑤
    a.list-group-item(href='../webapi/19')
        i.badge.badge-info
        | Ajaxでページング⑥
    a.list-group-item(href='../webapi/20')
        i.badge.badge-info
        | Ajaxでページング⑦
    a.list-group-item(href='../webapi/21')
        i.badge.badge-info
        | Ajaxでページング⑧
    a.list-group-item(href='../webapi/22')
        i.badge.badge-info
        | Ajaxでページング⑨
    a.list-group-item(href='../webapi/23')
        i.badge.badge-info
        | Ajaxでページング⑩