<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Google Chart Tools</div>
          <div class="panel-body">

<h4>円グラフ</h4>

<p>
<a href="demo/webapi/exercise15/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        
        // 円グラフ
        // データを用意する
        // 列    列
        // label n
        // label n
        // label n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '活動');
        data.addColumn('number', '時間');
        data.addRows([
            ['睡眠', 8],
            ['仕事', 12],
            ['ネット', 4]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '1日の内訳',
            width: 500,
            height: 500,
            pieSliceText: 'label',
            is3D: true
        }
 
        // 描画する
        var chart = new google.visualization.PieChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;円グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

<h4>横棒グラフ</h4>
<p>
<a href="demo/webapi/exercise16/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        // 棒グラフ
        // データを用意する
        // 列    列  列
        // label n   n
        // label n   n
        // label n   n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '年');
        data.addColumn('number', '売上');
        data.addColumn('number', '利益');
        data.addRows([
            ['2000', 500, 300],
            ['2001', 600, 320],
            ['2002', 800, 200],
            ['2003', 400, 200],
            ['2004', 200, 100]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '業績推移',
            width: 500,
            height: 500,
            isStacked: true
        }
 
        // 描画する
        var chart = new google.visualization.BarChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;横棒グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

<h4>縦棒グラフ</h4>
<p>
<a href="demo/webapi/exercise17/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        // 棒グラフ
        // データを用意する
        // 列    列  列
        // label n   n
        // label n   n
        // label n   n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '年');
        data.addColumn('number', '売上');
        data.addColumn('number', '利益');
        data.addRows([
            ['2000', 500, 300],
            ['2001', 600, 320],
            ['2002', 800, 200],
            ['2003', 400, 200],
            ['2004', 200, 100]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '業績推移',
            width: 500,
            height: 500
        }
 
        // 描画する
        var chart = new google.visualization.ColumnChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;縦棒グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

<h4>折れ線グラフ</h4>
<p>
<a href="demo/webapi/exercise18/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(drawChart);

    function drawChart() {
        // 折れ線グラフ
        // データを用意する
        // 列    列  列
        // label n   n
        // label n   n
        // label n   n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '年');
        data.addColumn('number', '売上');
        data.addColumn('number', '利益');
        data.addRows([
            ['2000', 500, 300],
            ['2001', 600, 320],
            ['2002', 800, 200],
            ['2003', 400, 200],
            ['2004', 200, 100]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '業績推移',
            width: 500,
            height: 500
        }
 
        // 描画する
        var chart = new google.visualization.LineChart(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;縦棒グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>