extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include googlemap
            .col-sm-9
                .panel.panel-primary
                    .panel-heading 住所から緯度経度を算出
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/webapi/googlemap-15/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype html
                                html(lang='ja')
                                    head
                                        meta(charset='utf-8')
                                        title
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src!='http://maps.google.com/maps/api/js?sensor=true&language=ja')
                                        style
                                            :stylus
                                                html,body
                                                    width 100%
                                                    height 100%
                                                    margin 0
                                                #map
                                                    width 100%
                                                    height 100%
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        //ジオコーディングAPI（住所から緯度経度を算出）
                                                        var geocoder = new google.maps.Geocoder();
                                                        //住所をから緯度経度を算出し結果をコールバック関数で取得
                                                        geocoder.geocode({
                                                            'address': '大阪府大阪市淀川区西中島五丁目'
                                                        }, function(result, status) {
                                                            //取得成功
                                                            if (status == google.maps.GeocoderStatus.OK) {
                                                                //地図を表示する処理
                                                                var latlng = result[0].geometry.location;
                                                                var options = {
                                                                zoom: 15,
                                                                center: latlng,
                                                                mapTypeId: google.maps.MapTypeId.ROADMAP
                                                                };
                                                                var map = new google.maps.Map($('#map').get(0), options);
                                                            //取得失敗
                                                            } else {
                                                                alert('エラーです！');
                                                            }
                                                        });
                                                    });
                                                })()
                                    body
                                        #map