extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        |  RSSをJSONに置換（サーバーでパース）
                    .panel-body
                        pre
                            :code
                                npm install xml2json --save
                        p app.js
                        pre(class='prettyprint linenums:1')
                            :code
                                /**
                                 * Module dependencies.
                                 */

                                var express = require('express');
                                var routes = require('./routes');
                                var user = require('./routes/user');
                                var http = require('http');
                                var path = require('path');

                                var app = express();

                                // all environments
                                app.set('port', process.env.PORT || 3000);
                                app.set('views', path.join(__dirname, 'views'));
                                app.set('view engine', 'jade');
                                app.use(express.favicon());
                                app.use(express.logger('dev'));
                                app.use(express.json());
                                app.use(express.urlencoded());
                                app.use(express.methodOverride());
                                app.use(app.router);
                                app.use(require('stylus').middleware(path.join(__dirname, 'public')));
                                app.use(express.static(path.join(__dirname, 'public')));

                                // development only
                                if ('development' == app.get('env')) {
                                  app.use(express.errorHandler());
                                }

                                app.get('/', routes.index);
                                app.get('/users', user.list);

                                http.createServer(app).listen(app.get('port'), function(){
                                  console.log('Express server listening on port ' + app.get('port'));
                                });

                        p /routes/index.js
                        pre(class='prettyprint linenums:1')
                            :code
                                /*
                                 * GET home page.
                                 */

                                exports.index = function(req, res){
                                    var rss = require('../libs/rss');
                                    rss.fParseRss(req, res, 'index');
                                };
                        p /libs/rss.js
                        pre(class='prettyprint linenums:1')
                            :code
                                //モジュール読み込み
                                var http = require('http');
                                var xml2json = require('xml2json');

                                //メソッド定義
                                exports.fParseRss = function(req, res, template){

                                    var xml = '';
                                    http.get('http://rss.allabout.co.jp/aa/latest/ch/computer/', function(httpRes) {

                                        httpRes.setEncoding('utf8');
                                        httpRes.on('data', function(str) {
                                            xml += str;
                                        });
                                                
                                        httpRes.on('end',function(){

                                            var options = {
                                                object: false,
                                                reversible: false,
                                                coerce: false,
                                                sanitize: false,
                                                trim: false,
                                                arrayNotation: false
                                            };
                                            
                                            var json = xml2json.toJson(xml, options);
                                            var parse = JSON.parse(json);

                                            var html = '';
                                            for(var i = 0; i < parse.rss.channel.item.length; i++){
                                                html += '<li>';
                                                html += '<a href="' + parse.rss.channel.item[i].link + '">';
                                                html += '<img src="#" alt="">';
                                                html += '<h2>' + parse.rss.channel.item[i].title + '</h2>';
                                                html += '<p>' + parse.rss.channel.item[i].description + '</p>';
                                                html += '</a>';
                                                html += '</li>';
                                            }
                                            
                                            res.render(template, {
                                                rss: html
                                            });
                                            
                                        });
                                        
                                    }).on('error', function(e){
                                        console.log(e.message);
                                    }); 
                                }
                        p /views/index.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        script
                                            :js
                                                $(document).on('pageshow','#index',function(){
                                                    //本文の画像をサムネイルの画像に置換
                                                    $('.ui-li-has-thumb').each(function(){
                                                        $('img',this).attr('src',$('.mr10',this).attr('src'));
                                                    });
                                                    //本文の画像除去
                                                    $('.mr10').remove();
                                                });
                                    body
                                        #index(data-role='page')
                                            div(data-role='header')
                                                h1 RSSの取得
                                            div(data-role='content')
                                                ul(data-role='listview', data-inset='true')!= rss
                                            div(data-role='footer')
                                                h1 フッター