extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading APIへの接続
                    .panel-body
                        h4 APIとは
                        p Ajaxによる利用を許可しているWebサービスでは、プログラミングを容易にするため、接続やデータ利用の方法をAPI（Application Program Interface）として公開しています。

                        p APIとは、OSやミドルウェアの機能をアプリケーションから利用する際の入り口となるものです。APIには基本的な命令や関数、それらの利用方法等が規定されています。

                        p APIを利用することで、アプリケーションの開発の手間が大幅に低減されます。たとえばウィンドウやメニュー、アイコンなどは多くのアプリケーションで共通する機能ですが、APIを利用すればこれらを一から開発する必要はなくなります。その結果、開発者はアプリケーション独自の機能の開発に注力できるようになり、開発の効率も完全されます。
                        hr
                        h4 WebサービスAPIとは
                        p 近年、Webサービスを運営する企業から、そのサービスを利用するためのAPIが無償で公開される例が増え、これらを利用したマッシュアップが盛んに行われています。よく利用されるWebサービスAPIには、以下のようなものがあります。

                        p: u Google Web APIs
                        p Google Ajax Search、Google Maps、Google Calenderなど、Googleが提供する各種Webサービスを利用するためのAPI群です。

                        p: u Yahoo! Webサービス
                        p Yahoo!の検索、地図、オークション、ショッピング、テキスト解析などの各種Webサービスを利用するためのAPI群です。

                        p: u Amaozn Webサービス
                        p Amazonの商品情報を利用して、独自のeコーマーすサイトを構築できます。

                        p: u はてなWebサービス
                        p はてなのダイアリー、キーワード、ブックマーク、フォトライフなどの各種Webサービスを利用するためのAPI群。

                        p: u 価格.com Webサービス
                        p 価格.comだけでなく、食べログ.com、yoyaQ.comなどの検索情報を取得して利用することができます。

                        p: u Flickr API
                        p Flickrの写真検索やアップロードなどを外部から実行することができます。