<%- include ../../head %>
  <body>
  
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        
        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-bookmark"></i> 課題</div>
          <div class="panel-body">
            <p>数値のデータがあります。Aは100、Bは50、Cは120、Dは80、Eは150とします。XMLデータを作成てAjaxで取得し、色分けしての全体の配分を表示してみましょう。</p>
            <p>
              <a href="demo/webapi/exercise10/index.html" target="_blank" class="btn btn-default">
              <i class="glyphicon glyphicon-play"></i> デモ
              </a>
              <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
              <i class="glyphicon glyphicon-question-sign"></i> 解答例
              </button>
            </p>

<div id="demo" class="collapse out">

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $('input').click(function(){
        $.ajax({
            url: 'data.xml',
            dataType: 'xml',
            success: function(data){
                //全体の合計を格納
                var total = 0;
                //個別の値を格納
                var kobetsu = [];
                var label = [];
                var color = [];

                $("dataset",data).each(function(){
                    label.push($('data_label',this).text());
                    kobetsu.push($('data_value',this).text());
                    color.push($('data_color',this).text());

                    total += parseInt($(this).text());
                });

                //個別の割合
                var rate = [];
                for(var i = 0; i &lt; kobetsu.length; i++){
                    rate.push( Math.floor((kobetsu[i] / total) * 100));

                    $('div:nth(' + i + ')').css({
                        backgroundColor: color[i],
                        width: rate[i]*2
                    }).text(label[i]);
                }
            },
            error:function(e){
                console.log(e.message);
            }
        });
    });
});
&lt;/script&gt;
&lt;style type="text/css"&gt;
div{
    float:left;
    width:40px;
    height:25px;
    background-color:#808080;
    text-align:center;
    line-height:25px;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="click"&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;div&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

data.xml
<pre class="prettyprint linenums">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;datalist&gt;
    &lt;dataset&gt;
        &lt;data_label&gt;A&lt;/data_label&gt;
        &lt;data_value&gt;100&lt;/data_value&gt;
        &lt;data_color&gt;red&lt;/data_color&gt;
    &lt;/dataset&gt;
    &lt;dataset&gt;
        &lt;data_label&gt;B&lt;/data_label&gt;
        &lt;data_value&gt;50&lt;/data_value&gt;
        &lt;data_color&gt;blue&lt;/data_color&gt;
    &lt;/dataset&gt;
    &lt;dataset&gt;
        &lt;data_label&gt;C&lt;/data_label&gt;
        &lt;data_value&gt;120&lt;/data_value&gt;
        &lt;data_color&gt;yellow&lt;/data_color&gt;
    &lt;/dataset&gt;
    &lt;dataset&gt;
        &lt;data_label&gt;D&lt;/data_label&gt;
        &lt;data_value&gt;80&lt;/data_value&gt;
        &lt;data_color&gt;green&lt;/data_color&gt;
    &lt;/dataset&gt;
    &lt;dataset&gt;
        &lt;data_label&gt;E&lt;/data_label&gt;
        &lt;data_value&gt;150&lt;/data_value&gt;
        &lt;data_color&gt;orange&lt;/data_color&gt;
    &lt;/dataset&gt;
&lt;/datalist&gt;
</pre>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>