<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Ajax資料</div>
          <div class="panel-body">

<h4>HTTPリクエスト</h4>
<pre>
Chromeの機能でHTTPヘッダーを見る方法
chrome://net-internals/#events

HTTP Headers - Chromeアプリ
https://chrome.google.com/webstore/detail/http-headers/mhbpoeinkhpajikalhfpjjafpfgjnmgk
</pre>
<h4>Ajax</h4>
<pre>
JSONLint - JSON Validator
http://jsonlint.com/

JSON-P/JSONP Validator
http://json-p.org/validator.html

JSONView - Chromeアプリ
https://chrome.google.com/webstore/detail/jsonview/chklaanhfefbnpoihckbnefhakgolnmc
</pre>

<h4>Googleが提供するAPI</h4>
<pre>
Google Chart Tools
http://code.google.com/intl/ja/apis/chart/index.html

Google Maps JavaScript API V3 デモギャラリー
http://code.google.com/intl/ja/apis/maps/documentation/javascript/demogallery.html

Google App Script

Google Web Fonts

Googleカレンダー API

Google URL短縮 API

Google Feed API

YouTube API
https://developers.google.com/youtube/?hl=ja

Google Ajax Search API
http://code.google.com/intl/ja/apis/ajaxsearch/wizards.html
</pre>

<h4>リクルートが提供するAPI</h4>

<pre>
リクルートWEBサービス
http://webservice.recruit.co.jp/

じゃらんWebサービス
http://www.jalan.net/jw/jwp0000/jww0001.do

ホットペッパーWEBサービス
http://api.hotpepper.jp/

カーセンターラボ
http://www.carsensorlab.net/webservice/
</pre>

<h4>価格.comが提供するAPI</h4>

<pre>
価格.com
http://apiblog.kakaku.com/api/

yoyaQ.com API
http://yoyaq.com/help/webservice/
</pre>

<h4>Webサービス一覧</h4>
<pre>
東京電力電力供給状況API
http://denki.cuppat.net/data/20110323.json?callback=?

ぐるなびAPI
http://api.gnavi.co.jp/api/service.htm

食べログAPI
http://tabelog.com/help/api/

郵便番号検索API
http://zip.cgis.biz/

郵便番号検索API
http://groovetechnology.jp/webservice/index.html


livedoor天気予報
http://weather.livedoor.com/weather_hacks/webservice.html

Web ad Fortune
http://jugemkey.jp/api/waf/api_free.php

イースト辞書WEBサービス
http://www.btonic.com/ws/

Yahoo地図
http://developer.yahoo.co.jp/webapi/map/

Yahoo検索
http://developer.yahoo.co.jp/webapi/search/

Yahooカテゴリ
http://developer.yahoo.co.jp/webapi/dir/

Yahooオークション
http://developer.yahoo.co.jp/webapi/auctions/

simpleapi
http://www.simpleapi.net/

HeartRailsExpress
http://express.heartrails.com/api.html

kizAPI
http://kizasi.jp/tool/kizapi.html

reflexa Web API
http://labs.preferred.jp/reflexa/about_api.html

Flickr
http://www.flickr.com/services/api/

はてなWEBサービス
http://www.hatena.ne.jp/info/webservices/

RSSナビ
http://www.rssnavi.jp/rsetapi.html

ECナビ
http://labs.ecnavi.jp/developer/

Amazon Web Service
http://aws.amazon.com/jp/

楽天WEBサービス
http://webservice.rakuten.co.jp/

バリューコマースAPI
http://www.valuecommerce.ne.jp/support/ptn/feature/api/

ビッダーズWEBサービス
http://www.bidders.co.jp/affiliate/bws.html

Wikipedia API
http://wikipedia.simpleapi.net/

loglyカレンダー
http://logly.jp/api.html
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>