<%- include ../../head %>
  <body>
  
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        
        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-bookmark"></i> 課題</div>
          <div class="panel-body">
            <p>XMLデータを作成てAjaxで取得し、CSSの背景色を変更してみましょう。</p>
            <p>
              <a href="demo/webapi/exercise8/index.html" target="_blank" class="btn btn-default">
              <i class="glyphicon glyphicon-play"></i> デモ
              </a>
              <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
              <i class="glyphicon glyphicon-question-sign"></i> 解答例
              </button>
            </p>

<div id="demo" class="collapse out">

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.ajax({
            url: 'color.xml',
            dataType: 'xml',
            success: function(data){
                var i = 0;
                $("colors &gt; color",data).each(function(){
                    $("div:eq(" + i + ")")
                        .text($("colorName",this).text())
                        .css("background-color",$("colorCode",this).text())
                    i++
                });
            }
        });
    });
});
&lt;/script&gt;
&lt;style&gt;
div{
    width:200px;
    height:200px;
    background-color:#808080;
    text-align:center;
    line-height:200px;
    margin:10px;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="click"&gt;
&lt;div&gt;grey&lt;/div&gt;
&lt;div&gt;grey&lt;/div&gt;
&lt;div&gt;grey&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

color.xml
<pre class="prettyprint linenums">
&lt;?xml version="1.0" encoding="UTF-8"?&gt;
&lt;colors&gt;
    &lt;color&gt;
        &lt;name&gt;赤色&lt;/name&gt;
        &lt;colorName&gt;red&lt;/colorName&gt;
        &lt;colorCode&gt;#ff0000&lt;/colorCode&gt;
    &lt;/color&gt;
    &lt;color&gt;
        &lt;name&gt;青色&lt;/name&gt;
        &lt;colorName&gt;blue&lt;/colorName&gt;
        &lt;colorCode&gt;#0000FF&lt;/colorCode&gt;
    &lt;/color&gt;
    &lt;color&gt;
        &lt;name&gt;緑色&lt;/name&gt;
        &lt;colorName&gt;green&lt;/colorName&gt;
        &lt;colorCode&gt;#008000&lt;/colorCode&gt;
    &lt;/color&gt;
&lt;/colors&gt;
</pre>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>
  </body>
</html>