extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading テキストの読み込み
                    .panel-body
                        h4 XMLHttpRequest
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise1/index5.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        script
                                            :js
                                                window.onload = function(){

                                                    document.getElementsByTagName('input')[0].onclick = function(){

                                                    //HTML5 Query Selector API
                                                    //document.querySelectorAll('input')[0].onclick = function(){
                                                        
                                                        var req;

                                                        if(XMLHttpRequest){
                                                            req = new XMLHttpRequest();
                                                        }
                                                        else{
                                                            //IE6
                                                            try{
                                                                req = new ActiveXObject('Msxml12.XMLHTTP');
                                                            }
                                                            catch(e){
                                                                //IE5.5
                                                                try{
                                                                    req = new ActiveXObject('Microsoft.XMLHTTP');
                                                                }
                                                                catch(e){
                                                                    alert('ActiveXを有効にしてください');
                                                                }
                                                            }
                                                        }

                                                        req.open('GET', 'sample.txt', true);

                                                        req.setRequestHeader('If-Modified-Since', 'Sun, 6 Oct 2013 00:00:00 GMT');
                                                        req.send(null);

                                                        req.onreadystatechange = function(){
                                                            if(req.readyState == 4 && req.status == 200){
                                                                document.getElementsByTagName('p')[0].innerText = req.responseText;

                                                                //HTML5 Query Selector API
                                                                //document.querySelectorAll("p")[0].innerText = httpObj.responseText;
                                                            }
                                                        };
                                                    };
                                                };
                                        //-
                                            script
                                                :coffee
                                                    window.onload = ->
                                                      document.getElementsByTagName("input")[0].onclick = ->
                                                        req = undefined
                                                        if XMLHttpRequest
                                                          req = new XMLHttpRequest()
                                                        else
                                                          
                                                          #IE6
                                                          try
                                                            req = new ActiveXObject("Msxml12.XMLHTTP")
                                                          catch e
                                                            
                                                            #IE5.5
                                                            try
                                                              req = new ActiveXObject("Microsoft.XMLHTTP")
                                                            catch e
                                                              alert "ActiveXを有効にしてください"
                                                        req.open "GET", "sample.txt", true
                                                        req.setRequestHeader "If-Modified-Since", "Sun, 6 Oct 2013 00:00:00 GMT"
                                                        req.send null
                                                        req.onreadystatechange = ->
                                                          document.getElementsByTagName("p")[0].innerText = req.responseText  if req.readyState is 4 and req.status is 200
                                                          return
                                                        return
                                                      return
                                    body
                                          input(type='button', value='変更')
                                          p 変更前
                        | sample.txt
                        pre(class='prettyprint linenums:1')
                            :code
                                変更後
                        hr
                        h4 $.load
                            p
                                a.btn.btn-default(href='demo/webapi/exercise1/index.html', target='_blank')
                                    i.glyphicon.glyphicon-play
                                    |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <!DOCTYPE html>
                                <html>
                                <head>
                                <meta charset="UTF-8">
                                <title></title>
                                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
                                <script>
                                $(function(){
                                $("input").click(function(){
                                $("p").load("sample.txt");
                                });
                                });
                                </script>
                                </head>
                                <body>
                                <input type="button" value="変更" />
                                <p>変更前</p>
                                </body>
                                </html>

                        hr
                        h4 $.get
                        p
                            a.btn.btn-default(href='demo/webapi/exercise1/index2.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <!DOCTYPE html>
                                <html>
                                <head>
                                <meta charset="UTF-8">
                                <title></title>
                                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
                                <script>
                                $(function(){
                                $("input").click(function(){
                                $.get("sample.txt",function(data){
                                $("p").text(data);
                                });
                                });
                                });
                                </script>
                                </head>
                                <body>
                                <input type="button" value="変更">
                                <p>変更前</p>
                                </body>
                                </html>

                        hr
                        h4 $.post
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise1/index3.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <!DOCTYPE html>
                                <html>
                                <head>
                                <meta charset="UTF-8">
                                <title></title>
                                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
                                <script>
                                $(function(){
                                $("input").click(function(){
                                $.post("sample.txt",function(data){
                                $("p").text(data);
                                });
                                });
                                });
                                </script>
                                </head>
                                <body>
                                <input type="button" value="変更">
                                <p>変更前</p>
                                </body>
                                </html>
                        hr
                        h4 $.ajax
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise1/index4.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <!DOCTYPE html>
                                <html>
                                <head>
                                <meta charset="UTF-8">
                                <title></title>
                                <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
                                <script>
                                $(function(){
                                $("input").click(function(){
                                $.ajax({
                                type:"GET",
                                url:"sample.txt",
                                success:function(data){
                                $("p").text(data);
                                }
                                });
                                });
                                });
                                </script>
                                </head>
                                <body>
                                <input type="button" value="変更">
                                <p>変更前</p>
                                </body>
                                </html>