<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Ajax資料</div>
          <div class="panel-body">

<h4>HTTPリクエスト</h4>
<pre>
Chromeの機能でHTTPヘッダーを見る方法
chrome://net-internals/#events

HTTP Headers - Chromeアプリ
https://chrome.google.com/webstore/detail/http-headers/mhbpoeinkhpajikalhfpjjafpfgjnmgk
</pre>
<h4>Ajax</h4>
<pre>
JSONLint - JSON Validator
http://jsonlint.com/

JSON-P/JSONP Validator
http://json-p.org/validator.html
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>