<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">テキストの読み込み</div>
          <div class="panel-body">
          <h4>$.load</h4>

<p>
<a href="demo/webapi/exercise1/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $("p").load("chapter663.txt");
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更" /&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.get</h4>

<p>
<a href="demo/webapi/exercise1/index2.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.get("sample.txt",function(data){
            $("p").text(data);
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.post</h4>

<p>
<a href="demo/webapi/exercise1/index3.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.post("sample.txt",function(data){
            $("p").text(data);
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.ajax</h4>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.ajax({
        type:"GET",
        url:"sample.txt",
            success:function(data){
                $("p").text(data);
            }
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>