extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include paging
            .col-sm-9
                .panel.panel-primary
                    .panel-heading Ajaxでページング①
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise7/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        h4 data1.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title data1
                                    body
                                        #content
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868064-6')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868064-6s.jpg')
                                                .info
                                                    h2 雲の世界の向こうをつかむクラウドの技術
                                                    ul
                                                        li 発売日 ： 2009/11/06
                                                        li 定価 ： 1,890円
                                                        li ISBN ： 978-4-04-868064-6
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868174-2')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868174-2s.jpg')
                                                .info
                                                    h2 完全合格 ORACLE MASTER Silver DBA 11g 問題集
                                                    ul
                                                        li 著者 ： 津田竜賜、有里恵、飯塚美香、伊藤尚子、ほか
                                                        li 発売日 ： 2009/11/10
                                                        li 定価 ： 3,129円
                                                        li ISBN    ： 978-4-04-868174-2
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868180-3')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868180-3s.jpg')
                                                .info
                                                    h2 すぐわかる Excel2007 Windows7／Vista／XP 全対応
                                                    ul
                                                        li 著者 ： 尾崎裕子
                                                        li 発売日 ： 2009/11/27
                                                        li 定価 ： 1,344円
                                                        li ISBN    ： 978-4-04-868180-3
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868181-0')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868181-0s.jpg')
                                                .info
                                                    h2 すぐわかる Windows7
                                                    ul
                                                        li 著者 ： 小野均
                                                        li 発売日 ： 2009/11/27
                                                        li 定価 ： 1,344円
                                                        li ISBN    ： 978-4-04-868181-0
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868293-0')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868293-0s.jpg')
                                                .info
                                                    h2 Macを買ったら最初に読む本 Mac OS X v10.6 Snow Leopard 版
                                                    ul
                                                        li 発売日 ： 2009/11/30
                                                        li 定価 ： 1,344円
                                                        li ISBN    ： 978-4-04-868293-0
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868252-7')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868252-7s.jpg')
                                                .info
                                                    h2 Microsoftのクラウドコンピューティング Windows Azure入門
                                                    ul
                                                        li 著者 ： 砂金信一郎、遠藤大樹、酒井達明、藤田昭人
                                                        li 発売日 ： 2009/11/30
                                                        li 定価 ： 2.730円
                                                        li ISBN    ： 978-4-04-868252-7
                        h4 data2.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title data2
                                    body
                                        #content
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868176-6')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868176-6s.jpg')
                                                .info
                                                    h2 Mac OS X 10.6 Snow Leopardパーフェクトガイド
                                                    ul
                                                        li 発売日 ： 2009/10/19
                                                        li 定価 ： 1,764円
                                                        li ISBN ： 978-4-04-868176-6
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867881-0')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-867881-0s.jpg')
                                                .info
                                                    h2
                                                        | The Art of Computer Programming Volume 4, Fascicle 0　Introduction to Combinatorial Algorithms and Boolean Functions 日本語版
                                                    ul
                                                        li 発売日 ： 2009/10/23
                                                        li 定価 ： 5,040円
                                                        li ISBN ： 978-4-04-867881-0
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868254-1')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868254-1s.jpg')
                                                .info
                                                    h2 iPodパーフェクトガイド2010
                                                    ul
                                                        li 発売日 ： 2009/10/26
                                                        li 定価 ： 1,029円
                                                        li ISBN ： 978-4-04-868254-1
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868255-8')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868255-8s.jpg')
                                                .info
                                                    h2 iPod touchパーフェクトガイド2010
                                                    ul
                                                        li 発売日 ： 2009/10/26
                                                        li 定価 ： 1,029円
                                                        li ISBN ： 978-4-04-868255-8
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868165-0')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868165-0s.jpg')
                                                .info
                                                    h2 インターネットでお店やろうよ！大全 作る！売れる！儲かる！ネットショップ
                                                    ul
                                                        li 発売日 ： 2009/10/26
                                                        li 定価 ： 1,785円
                                                        li ISBN ： 978-4-04-868165-0
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868164-3')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868164-3s.jpg')
                                                .info
                                                    h2 ネットウォーカー Guide Book
                                                    ul
                                                        li 発売日 ： 2009/10/29
                                                        li 定価 ： 1,029円
                                                        li ISBN ： 978-4-04-868164-3

                        h4 data3.jade
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title data3
                                    body
                                        #content
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867988-6')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-867988-6s.jpg')
                                                .info
                                                    h2 The Art of Multiprocessor Programming 並行プログラミングの原理から実践まで
                                                    ul
                                                        li 著者 ： Maurice Herlihy、Nir Shavit
                                                        li 発売日 ： 2009/09/02
                                                        li 定価 ： 8,190円
                                                        li ISBN ： 978-4-04-867988-6
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867615-1')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-867615-1s.jpg')
                                                .info
                                                    h2 ヤマハルーター運用設定マニュアル RTX1200／SRT100のGUI&コマンドラインの実践
                                                    ul
                                                        li 発売日 ： 2009/09/24
                                                        li 定価 ： 2,940円
                                                        li ISBN ： 978-4-04-867615-1
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867796-7')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-867796-7s.jpg')
                                                .info
                                                    h2 CERT C セキュアコーディングスタンダード
                                                    ul
                                                        li 発売日 ： 2009/09/30
                                                        li 定価 ： 5,040円
                                                        li ISBN ： 978-4-04-867796-7
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-867796-7')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868096-7s.jpg')
                                                .info
                                                    h2 SQL Server 2008 による Office SharePoint Server ストレージ技法
                                                    ul
                                                        li 著者 ： 田中大地
                                                        li 発売日 ： 2009/09/30
                                                        li 定価 ： 3,990円
                                                        li ISBN ： 978-4-04-868096-7
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868114-8')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868114-8s.jpg')
                                                .info
                                                    h2 完全合格 ORACLE MASTER Bronze 11g SQL基礎I 直前対策暗記ノート
                                                    ul
                                                        li 著者 ： 津田竜賜、飯塚美香、伊藤尚子、中村仁、広永義実
                                                        li 発売日 ： 2009/09/30
                                                        li 定価 ： 1,554円
                                                        li ISBN ： 978-4-04-868114-8
                                            .colmun
                                                .img
                                                    a(href='http://asciimw.jp/search/?isbn=978-4-04-868098-1')
                                                        img(height='80', width='56', alt='', src='images/978-4-04-868098-1s.jpg')
                                                .info
                                                    h2 完全合格 ORACLE MASTER Bronze DBA11g 直前対策暗記ノート
                                                    ul
                                                        li 著者 ： 有里恵、沢野次男
                                                        li 発売日 ： 2009/09/30
                                                        li 定価 ： 1,554円
                                                        li ISBN ： 978-4-04-868098-1
