<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include googlemap %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">大量のマーカーを読み込む</div>
          <div class="panel-body">

<p>
<a href="demo/webapi/googlemap-4/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css"&gt;
    &lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
    &lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
    &lt;script src="http://maps.google.com/maps/api/js?sensor=true&language=ja"&gt;&lt;/script&gt;
    &lt;script&gt;
      $(document).on('pageshow','#index',function(){
       var map = new google.maps.Map(document.getElementById('map'));
       map.setOptions({
        zoom: 5,
        center: new google.maps.LatLng(36.681382, 138.766084),
        mapTypeId: google.maps.MapTypeId.ROADMAP
       });
       
       $('#setMarker').on('vclick',function(){
        $.getJSON('./data.txt', function(data){
         $.each(data, function(key, val){
          var marker = new google.maps.Marker({
           position: new google.maps.LatLng(val.lat, val.lon),
           map: map
          });
         });
        });
       });
      });
    &lt;/script&gt;
    &lt;style&gt;
      #map{
       width:100%;
       height:400px;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="index" data-role="page"&gt;
      &lt;div data-role="header"&gt;
        &lt;h1&gt;大量のマーカー表示&lt;/h1&gt;
      &lt;/div&gt;
      &lt;div data-role="content"&gt;
        &lt;form&gt;
          &lt;input id="setMarker" type="button" value="マーカーデータ読み込み"&gt;
        &lt;/form&gt;
        &lt;div id="map"&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

data.txt

<pre>
[
  { "lat" : 35.681382, "lon" : 139.766084 },
  { "lat" : 35.689583, "lon" : 139.796585 },
  { "lat" : 35.683384, "lon" : 139.786886 },
  { "lat" : 35.684385, "lon" : 139.796987 },
  { "lat" : 35.685386, "lon" : 139.776288 },
  { "lat" : 35.686387, "lon" : 139.786489 },
  { "lat" : 35.687388, "lon" : 139.797280 },
  { "lat" : 35.688389, "lon" : 139.715581 },
  { "lat" : 35.689380, "lon" : 139.725382 },
  { "lat" : 35.680382, "lon" : 139.707190 },

  { "lat" : 35.681382, "lon" : 139.763084 },
  { "lat" : 35.682383, "lon" : 139.763585 },
  { "lat" : 35.683384, "lon" : 139.763886 },
  { "lat" : 35.684385, "lon" : 139.763987 },
  { "lat" : 35.685386, "lon" : 139.763288 },
  { "lat" : 35.686387, "lon" : 139.763489 },
  { "lat" : 35.687388, "lon" : 139.764280 },
  { "lat" : 35.688389, "lon" : 139.762581 },
  { "lat" : 35.689380, "lon" : 139.762382 },
  { "lat" : 35.680382, "lon" : 139.762190 },

  { "lat" : 35.681382, "lon" : 139.783084 },
  { "lat" : 35.672383, "lon" : 139.783585 },
  { "lat" : 35.673384, "lon" : 139.783886 },
  { "lat" : 35.684385, "lon" : 139.783987 },
  { "lat" : 35.685386, "lon" : 139.783288 },
  { "lat" : 35.676387, "lon" : 139.785489 },
  { "lat" : 35.687388, "lon" : 139.780280 },
  { "lat" : 35.678389, "lon" : 139.774581 },
  { "lat" : 35.689380, "lon" : 139.770382 },
  { "lat" : 35.680382, "lon" : 139.773190 },

  { "lat" : 35.781382, "lon" : 139.763084 },
  { "lat" : 35.782383, "lon" : 139.763585 },
  { "lat" : 35.783384, "lon" : 139.763886 },
  { "lat" : 35.784385, "lon" : 139.763987 },
  { "lat" : 35.785386, "lon" : 139.763288 },
  { "lat" : 35.786387, "lon" : 139.763489 },
  { "lat" : 35.787388, "lon" : 139.764280 },
  { "lat" : 35.788389, "lon" : 139.762581 },
  { "lat" : 35.789380, "lon" : 139.762382 },
  { "lat" : 35.780382, "lon" : 139.762190 },

  { "lat" : 35.581382, "lon" : 139.663084 },
  { "lat" : 35.582383, "lon" : 139.663585 },
  { "lat" : 35.583384, "lon" : 139.663886 },
  { "lat" : 35.584385, "lon" : 139.663987 },
  { "lat" : 35.585386, "lon" : 139.663288 },
  { "lat" : 35.586387, "lon" : 139.663489 },
  { "lat" : 35.587388, "lon" : 139.664280 },
  { "lat" : 35.588389, "lon" : 139.662581 },
  { "lat" : 35.589380, "lon" : 139.682382 },
  { "lat" : 35.580382, "lon" : 139.662190 },

  { "lat" : 35.581382, "lon" : 139.463084 },
  { "lat" : 35.582383, "lon" : 139.463585 },
  { "lat" : 35.583000, "lon" : 139.463886 },
  { "lat" : 35.584385, "lon" : 139.463987 },
  { "lat" : 35.587386, "lon" : 139.463288 },
  { "lat" : 35.586387, "lon" : 139.463489 },
  { "lat" : 35.587388, "lon" : 139.464280 },
  { "lat" : 35.588389, "lon" : 139.462581 },
  { "lat" : 35.589380, "lon" : 139.482382 },
  { "lat" : 35.582382, "lon" : 139.462190 },

  { "lat" : 35.481382, "lon" : 139.563084 },
  { "lat" : 35.482383, "lon" : 139.563585 },
  { "lat" : 35.483000, "lon" : 139.563886 },
  { "lat" : 35.484385, "lon" : 139.563987 },
  { "lat" : 35.487386, "lon" : 139.563288 },
  { "lat" : 35.486387, "lon" : 139.563489 },
  { "lat" : 35.487388, "lon" : 139.564280 },
  { "lat" : 35.488389, "lon" : 139.562581 },
  { "lat" : 35.489380, "lon" : 139.582382 },
  { "lat" : 35.482382, "lon" : 139.562190 },

  { "lat" : 36.481382, "lon" : 139.563084 },
  { "lat" : 36.482383, "lon" : 139.563585 },
  { "lat" : 36.483000, "lon" : 139.563886 },
  { "lat" : 36.484385, "lon" : 139.563987 },
  { "lat" : 36.487386, "lon" : 139.563288 },
  { "lat" : 36.486387, "lon" : 139.563489 },
  { "lat" : 36.487388, "lon" : 139.564280 },
  { "lat" : 36.488389, "lon" : 139.562581 },
  { "lat" : 36.489380, "lon" : 139.582382 },
  { "lat" : 36.482382, "lon" : 139.562190 },

  { "lat" : 36.581382, "lon" : 139.463084 },
  { "lat" : 36.582383, "lon" : 139.563585 },
  { "lat" : 36.583000, "lon" : 139.663886 },
  { "lat" : 36.584385, "lon" : 139.763987 },
  { "lat" : 36.587386, "lon" : 139.863288 },
  { "lat" : 36.586387, "lon" : 139.963489 },
  { "lat" : 36.587388, "lon" : 139.064280 },
  { "lat" : 36.588389, "lon" : 139.162581 },
  { "lat" : 36.589380, "lon" : 139.282382 },
  { "lat" : 36.582382, "lon" : 139.362190 },

  { "lat" : 35.481382, "lon" : 138.563084 },
  { "lat" : 35.482383, "lon" : 138.563585 },
  { "lat" : 35.483000, "lon" : 138.563886 },
  { "lat" : 35.484385, "lon" : 138.563987 },
  { "lat" : 35.487386, "lon" : 138.563288 },
  { "lat" : 35.486387, "lon" : 138.563489 },
  { "lat" : 35.487388, "lon" : 138.564280 },
  { "lat" : 35.488389, "lon" : 138.562581 },
  { "lat" : 35.489380, "lon" : 138.582382 },
  { "lat" : 35.482382, "lon" : 138.562190 },

  { "lat" : 36.481382, "lon" : 138.563084 },
  { "lat" : 36.482383, "lon" : 138.563585 },
  { "lat" : 36.483000, "lon" : 138.563886 },
  { "lat" : 36.484385, "lon" : 138.563987 },
  { "lat" : 36.487386, "lon" : 138.563288 },
  { "lat" : 36.486387, "lon" : 138.563489 },
  { "lat" : 36.487388, "lon" : 138.564280 },
  { "lat" : 36.488389, "lon" : 138.562581 },
  { "lat" : 36.489380, "lon" : 138.582382 },
  { "lat" : 36.482382, "lon" : 138.562190 },

  { "lat" : 36.581382, "lon" : 138.463084 },
  { "lat" : 36.582383, "lon" : 138.563585 },
  { "lat" : 36.583000, "lon" : 138.663886 },
  { "lat" : 36.584385, "lon" : 138.763987 },
  { "lat" : 36.587386, "lon" : 138.863288 },
  { "lat" : 36.586387, "lon" : 138.963489 },
  { "lat" : 36.587388, "lon" : 138.064280 },
  { "lat" : 36.588389, "lon" : 138.162581 },
  { "lat" : 36.589380, "lon" : 138.282382 },
  { "lat" : 36.582382, "lon" : 138.362190 },

  { "lat" : 34.481382, "lon" : 137.563084 },
  { "lat" : 34.482383, "lon" : 137.563585 },
  { "lat" : 34.483000, "lon" : 137.563886 },
  { "lat" : 34.484385, "lon" : 137.563987 },
  { "lat" : 34.487386, "lon" : 137.563288 },
  { "lat" : 34.486387, "lon" : 137.563489 },
  { "lat" : 34.487388, "lon" : 137.564280 },
  { "lat" : 34.488389, "lon" : 137.562581 },
  { "lat" : 34.489380, "lon" : 137.582382 },
  { "lat" : 34.482382, "lon" : 137.562190 },

  { "lat" : 34.481382, "lon" : 137.563084 },
  { "lat" : 34.482383, "lon" : 137.563585 },
  { "lat" : 34.483000, "lon" : 137.563886 },
  { "lat" : 34.484385, "lon" : 137.563987 },
  { "lat" : 34.487386, "lon" : 137.563288 },
  { "lat" : 34.486387, "lon" : 137.563489 },
  { "lat" : 34.487388, "lon" : 137.564280 },
  { "lat" : 34.488389, "lon" : 137.562581 },
  { "lat" : 34.489380, "lon" : 137.582382 },
  { "lat" : 34.482382, "lon" : 137.562190 },

  { "lat" : 34.581382, "lon" : 137.463084 },
  { "lat" : 34.582383, "lon" : 137.563585 },
  { "lat" : 34.583000, "lon" : 137.663886 },
  { "lat" : 34.584385, "lon" : 137.763987 },
  { "lat" : 34.587386, "lon" : 137.863288 },
  { "lat" : 34.586387, "lon" : 137.963489 },
  { "lat" : 34.587388, "lon" : 137.064280 },
  { "lat" : 34.588389, "lon" : 137.162581 },
  { "lat" : 34.589380, "lon" : 137.282382 },
  { "lat" : 34.582382, "lon" : 137.362190 },

  { "lat" : 33.481382, "lon" : 135.563084 },
  { "lat" : 33.482383, "lon" : 135.563585 },
  { "lat" : 33.483000, "lon" : 135.563886 },
  { "lat" : 33.484385, "lon" : 135.563987 },
  { "lat" : 33.487386, "lon" : 135.563288 },
  { "lat" : 33.486387, "lon" : 135.563489 },
  { "lat" : 33.487388, "lon" : 135.564280 },
  { "lat" : 33.488389, "lon" : 135.562581 },
  { "lat" : 33.489380, "lon" : 135.582382 },
  { "lat" : 33.482382, "lon" : 135.562190 },

  { "lat" : 33.481382, "lon" : 135.563084 },
  { "lat" : 33.482383, "lon" : 135.563585 },
  { "lat" : 33.483000, "lon" : 135.563886 },
  { "lat" : 33.484385, "lon" : 135.563987 },
  { "lat" : 33.487386, "lon" : 135.563288 },
  { "lat" : 33.486387, "lon" : 135.563489 },
  { "lat" : 33.487388, "lon" : 135.564280 },
  { "lat" : 33.488389, "lon" : 135.562581 },
  { "lat" : 33.489380, "lon" : 135.582382 },
  { "lat" : 33.482382, "lon" : 135.562190 },

  { "lat" : 33.581382, "lon" : 135.463084 },
  { "lat" : 33.582383, "lon" : 135.563585 },
  { "lat" : 33.583000, "lon" : 135.663886 },
  { "lat" : 33.584385, "lon" : 135.763987 },
  { "lat" : 33.587386, "lon" : 135.863288 },
  { "lat" : 33.586387, "lon" : 135.963489 },
  { "lat" : 33.587388, "lon" : 135.064280 },
  { "lat" : 33.588389, "lon" : 135.162581 },
  { "lat" : 33.589380, "lon" : 135.282382 },
  { "lat" : 33.582382, "lon" : 135.362190 },

  { "lat" : 34.481382, "lon" : 135.563084 },
  { "lat" : 34.482383, "lon" : 135.563585 },
  { "lat" : 34.483000, "lon" : 135.563886 },
  { "lat" : 34.484385, "lon" : 135.563987 },
  { "lat" : 34.487386, "lon" : 135.563288 },
  { "lat" : 34.486387, "lon" : 135.563489 },
  { "lat" : 34.487388, "lon" : 135.564280 },
  { "lat" : 34.488389, "lon" : 135.562581 },
  { "lat" : 34.489380, "lon" : 135.582382 },
  { "lat" : 34.482382, "lon" : 135.562190 },

  { "lat" : 34.481382, "lon" : 135.563084 },
  { "lat" : 34.482383, "lon" : 135.563585 },
  { "lat" : 34.483000, "lon" : 135.563886 },
  { "lat" : 34.484385, "lon" : 135.563987 },
  { "lat" : 34.487386, "lon" : 135.563288 },
  { "lat" : 34.486387, "lon" : 135.563489 },
  { "lat" : 34.487388, "lon" : 135.564280 },
  { "lat" : 34.488389, "lon" : 135.562581 },
  { "lat" : 34.489380, "lon" : 135.582382 },
  { "lat" : 34.482382, "lon" : 135.562190 },

  { "lat" : 34.581382, "lon" : 135.463084 },
  { "lat" : 34.582383, "lon" : 135.563585 },
  { "lat" : 34.583000, "lon" : 135.663886 },
  { "lat" : 34.584385, "lon" : 135.763987 },
  { "lat" : 34.587386, "lon" : 135.863288 },
  { "lat" : 34.586387, "lon" : 135.963489 },
  { "lat" : 34.587388, "lon" : 135.064280 },
  { "lat" : 34.588389, "lon" : 135.162581 },
  { "lat" : 34.589380, "lon" : 135.282382 },
  { "lat" : 34.582382, "lon" : 135.362190 },

  { "lat" : 34.781382, "lon" : 134.563084 },
  { "lat" : 34.782383, "lon" : 134.563585 },
  { "lat" : 34.783000, "lon" : 134.563886 },
  { "lat" : 34.784385, "lon" : 134.563987 },
  { "lat" : 34.787386, "lon" : 134.563288 },
  { "lat" : 34.786387, "lon" : 134.563489 },
  { "lat" : 34.787388, "lon" : 134.564280 },
  { "lat" : 34.788389, "lon" : 134.562581 },
  { "lat" : 34.789380, "lon" : 134.582382 },
  { "lat" : 34.782382, "lon" : 134.562190 },

  { "lat" : 34.781382, "lon" : 134.563084 },
  { "lat" : 34.782383, "lon" : 134.563585 },
  { "lat" : 34.783000, "lon" : 134.563886 },
  { "lat" : 34.784385, "lon" : 134.563987 },
  { "lat" : 34.487386, "lon" : 134.563288 },
  { "lat" : 34.786387, "lon" : 134.563489 },
  { "lat" : 34.787388, "lon" : 134.564280 },
  { "lat" : 34.788389, "lon" : 134.562581 },
  { "lat" : 34.789380, "lon" : 134.582382 },
  { "lat" : 34.482382, "lon" : 134.562190 },

  { "lat" : 34.881382, "lon" : 134.463084 },
  { "lat" : 34.982383, "lon" : 134.563585 },
  { "lat" : 34.883000, "lon" : 134.663886 },
  { "lat" : 34.784385, "lon" : 134.763987 },
  { "lat" : 34.987386, "lon" : 134.863288 },
  { "lat" : 34.786387, "lon" : 134.963489 },
  { "lat" : 34.987388, "lon" : 134.064280 },
  { "lat" : 34.788389, "lon" : 134.162581 },
  { "lat" : 34.889380, "lon" : 134.282382 },
  { "lat" : 34.982382, "lon" : 134.362190 },

  { "lat" : 38.781382, "lon" : 140.563084 },
  { "lat" : 38.782383, "lon" : 140.563585 },
  { "lat" : 38.783000, "lon" : 140.563886 },
  { "lat" : 38.784385, "lon" : 140.563987 },
  { "lat" : 38.787386, "lon" : 140.563288 },
  { "lat" : 38.786387, "lon" : 140.563489 },
  { "lat" : 38.787388, "lon" : 140.564280 },
  { "lat" : 38.788389, "lon" : 140.562581 },
  { "lat" : 38.789380, "lon" : 140.582382 },
  { "lat" : 38.782382, "lon" : 140.562190 },

  { "lat" : 38.781382, "lon" : 140.563084 },
  { "lat" : 38.782383, "lon" : 140.563585 },
  { "lat" : 38.783000, "lon" : 140.563886 },
  { "lat" : 38.784385, "lon" : 140.563987 },
  { "lat" : 38.487386, "lon" : 140.563288 },
  { "lat" : 38.786387, "lon" : 140.563489 },
  { "lat" : 38.787388, "lon" : 140.564280 },
  { "lat" : 38.788389, "lon" : 140.562581 },
  { "lat" : 38.789380, "lon" : 140.582382 },
  { "lat" : 38.482382, "lon" : 140.562190 },

  { "lat" : 38.881382, "lon" : 140.463084 },
  { "lat" : 38.982383, "lon" : 140.563585 },
  { "lat" : 38.883000, "lon" : 140.663886 },
  { "lat" : 38.784385, "lon" : 140.763987 },
  { "lat" : 38.987386, "lon" : 140.863288 },
  { "lat" : 38.786387, "lon" : 140.963489 },
  { "lat" : 38.987388, "lon" : 140.064280 },
  { "lat" : 38.788389, "lon" : 140.162581 },
  { "lat" : 38.889380, "lon" : 140.282382 },
  { "lat" : 38.982382, "lon" : 140.362190 },

  { "lat" : 43.781382, "lon" : 142.563084 },
  { "lat" : 43.782383, "lon" : 142.563585 },
  { "lat" : 43.783000, "lon" : 142.563886 },
  { "lat" : 43.784385, "lon" : 142.563987 },
  { "lat" : 43.787386, "lon" : 142.563288 },
  { "lat" : 43.786387, "lon" : 142.563489 },
  { "lat" : 43.787388, "lon" : 142.564280 },
  { "lat" : 43.788389, "lon" : 142.562581 },
  { "lat" : 43.789380, "lon" : 142.582382 },
  { "lat" : 43.782382, "lon" : 142.562190 },

  { "lat" : 43.781382, "lon" : 142.563084 },
  { "lat" : 43.782383, "lon" : 142.563585 },
  { "lat" : 43.783000, "lon" : 142.563886 },
  { "lat" : 43.784385, "lon" : 142.563987 },
  { "lat" : 43.487386, "lon" : 142.563288 },
  { "lat" : 43.786387, "lon" : 142.563489 },
  { "lat" : 43.787388, "lon" : 142.564280 },
  { "lat" : 43.788389, "lon" : 142.562581 },
  { "lat" : 43.789380, "lon" : 142.582382 },
  { "lat" : 43.482382, "lon" : 142.562190 },

  { "lat" : 43.881382, "lon" : 142.463084 },
  { "lat" : 43.982383, "lon" : 142.563585 },
  { "lat" : 43.883000, "lon" : 142.663886 },
  { "lat" : 43.784385, "lon" : 142.763987 },
  { "lat" : 43.987386, "lon" : 142.863288 },
  { "lat" : 43.786387, "lon" : 142.963489 },
  { "lat" : 43.987388, "lon" : 142.064280 },
  { "lat" : 43.788389, "lon" : 142.162581 },
  { "lat" : 43.889380, "lon" : 142.282382 },
  { "lat" : 43.982382, "lon" : 142.362190 },

  { "lat" : 32.781382, "lon" : 130.563084 },
  { "lat" : 32.782383, "lon" : 130.563585 },
  { "lat" : 32.783000, "lon" : 130.563886 },
  { "lat" : 32.784385, "lon" : 130.563987 },
  { "lat" : 32.787386, "lon" : 130.563288 },
  { "lat" : 32.786387, "lon" : 130.563489 },
  { "lat" : 32.787388, "lon" : 130.564280 },
  { "lat" : 32.788389, "lon" : 130.562581 },
  { "lat" : 32.789380, "lon" : 130.582382 },
  { "lat" : 32.782382, "lon" : 130.562190 },

  { "lat" : 32.781382, "lon" : 130.563084 },
  { "lat" : 32.782383, "lon" : 130.563585 },
  { "lat" : 32.783000, "lon" : 130.563886 },
  { "lat" : 32.784385, "lon" : 130.563987 },
  { "lat" : 32.487386, "lon" : 130.563288 },
  { "lat" : 32.786387, "lon" : 130.563489 },
  { "lat" : 32.787388, "lon" : 130.564280 },
  { "lat" : 32.788389, "lon" : 130.562581 },
  { "lat" : 32.789380, "lon" : 130.582382 },
  { "lat" : 32.482382, "lon" : 130.562190 },

  { "lat" : 32.881382, "lon" : 130.463084 },
  { "lat" : 32.982383, "lon" : 130.563585 },
  { "lat" : 32.883000, "lon" : 130.663886 },
  { "lat" : 32.784385, "lon" : 130.763987 },
  { "lat" : 32.987386, "lon" : 130.863288 },
  { "lat" : 32.786387, "lon" : 130.963489 },
  { "lat" : 32.987388, "lon" : 130.064280 },
  { "lat" : 32.788389, "lon" : 130.162581 },
  { "lat" : 32.889380, "lon" : 130.282382 },
  { "lat" : 32.982382, "lon" : 130.362190 },

  { "lat" : 36.781382, "lon" : 137.563084 },
  { "lat" : 36.782383, "lon" : 137.563585 },
  { "lat" : 36.783000, "lon" : 137.563886 },
  { "lat" : 36.784385, "lon" : 137.563987 },
  { "lat" : 36.787386, "lon" : 137.563288 },
  { "lat" : 36.786387, "lon" : 137.563489 },
  { "lat" : 36.787388, "lon" : 137.564280 },
  { "lat" : 36.788389, "lon" : 137.562581 },
  { "lat" : 36.789380, "lon" : 137.582382 },
  { "lat" : 36.782382, "lon" : 137.562190 },

  { "lat" : 36.781382, "lon" : 137.563084 },
  { "lat" : 36.782383, "lon" : 137.563585 },
  { "lat" : 36.783000, "lon" : 137.563886 },
  { "lat" : 36.784385, "lon" : 137.563987 },
  { "lat" : 36.427386, "lon" : 137.523288 },
  { "lat" : 36.786387, "lon" : 137.563489 },
  { "lat" : 36.787388, "lon" : 137.564280 },
  { "lat" : 36.748389, "lon" : 137.562581 },
  { "lat" : 36.789380, "lon" : 137.582382 },
  { "lat" : 36.482382, "lon" : 137.562190 },

  { "lat" : 36.881382, "lon" : 137.463084 },
  { "lat" : 36.952383, "lon" : 137.563585 },
  { "lat" : 36.883000, "lon" : 137.623886 },
  { "lat" : 36.744385, "lon" : 137.763987 },
  { "lat" : 36.987386, "lon" : 137.863288 },
  { "lat" : 36.786387, "lon" : 137.963489 },
  { "lat" : 36.987388, "lon" : 137.064280 },
  { "lat" : 36.788389, "lon" : 137.162581 },
  { "lat" : 36.889380, "lon" : 137.282382 },
  { "lat" : 36.982382, "lon" : 137.362190 }

]
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>