<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">QRコードの生成</div>
          <div class="panel-body">

<p>
<a href="demo/webapi/exercise14/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(document).on('pageshow','#index',function(){

    var qr = {
        size: 250,
        title: 'Yahoo!',
        url: 'http://www.yahoo.co.jp/',
        api:function(){
            return 'http://chart.apis.google.com/chart?chs=' + this.size + 'x' + this.size + '&cht=qr&chl=' + this.url
        }
    };
         
    $("&lt;img&gt;")
        .attr({src: qr.api(), title: qr.url})
        .appendTo('[data-role="content"]');

});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;QRコード生成&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>