<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">テキストの読み込み</div>
          <div class="panel-body">

<h4>XMLHttpRequest</h4>

<p>
<a href="demo/webapi/exercise2/index5.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script&gt;
window.onload = function(){
  var req;

  if(XMLHttpRequest){
    req = new XMLHttpRequest();
  }
  else{
    //IE6
    try{
      req = new ActiveXObject('Msxml12.XMLHTTP');
    }
    catch(e){
      //IE5.5
      try{
        req = new ActiveXObject('Microsoft.XMLHTTP');
      }
      catch(e){
        alert('ActiveXを有効にしてください');
      }
    }
  }

  req.open('GET', 'sample.html', true);

  req.setRequestHeader('If-Modified-Since', 'Sun, 6 Oct 2013 00:00:00 GMT');
  req.send(null);

  req.onreadystatechange = function(){
    if(req.readyState == 4 && req.status == 200){
      document.getElementsByTagName('p')[0].innerHTML = req.responseText;
      
      //HTML5 Query Selector API
      //document.querySelectorAll("p")[0].innerHTML = req.responseText;
    }
  };
};
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

sample.html
<pre>
&lt;div&gt;変更後&lt;/div&gt;
</pre>

<h4>$.load</h4>

<p>
<a href="demo/webapi/exercise2/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $("p").load("sample.html");
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更" /&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.get</h4>

<p>
<a href="demo/webapi/exercise2/index2.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.get("sample.html",function(data){
            $("p").html(data);
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.post</h4>

<p>
<a href="demo/webapi/exercise2/index3.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.post("sample.html",function(data){
            $("p").html(data);
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.ajax</h4>

<p>
<a href="demo/webapi/exercise2/index4.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.ajax({
        type:"GET",
        url:"sample.html",
            success:function(data){
                $("p").html(data);
            }
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>