<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Google Chart Tools</div>
          <div class="panel-body">
<p>Google Chartsは、JavaScriptでインタラクティブかつ綺麗なグラフを描画するためのGoogleの提供するAPI群です。</p>

<p>
<a href="https://developers.google.com/chart/?hl=ja" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考：Google Charts
  </a>

  <a href="https://developers.google.com/chart/interactive/docs/gallery?hl=ja" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考：Chart Gallery
  </a>

  <a href="https://developers.google.com/chart/interactive/docs/reference?hl=ja" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考：API Reference
  </a>
</p>

<p>参考：ブラウザにグラフを描画したり、データの可視化をするには他に、Canvas APIでプログラムを組むこともできますが、jQPlotやD3.js、CreateJS、Prosessing.jsなどのライブラリを使う方法もあります。</p>

<pre>
HTML5 Canvas入門
http://dotinstall.com/lessons/basic_canvas

SVG入門
http://dotinstall.com/lessons/basic_svg

Google Chart Tools入門
http://dotinstall.com/lessons/basic_chart_tools

D3.js入門
http://dotinstall.com/lessons/basic_d3js

Processing入門
http://dotinstall.com/lessons/basic_processing
</pre>

</p>
    <a href="http://www.jqplot.com/" target="_blank" class="btn btn-default">
    <i class="glyphicon glyphicon-info-sign"></i> 参考：jqPlot
    </a>
  <a href="http://d3js.org/" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考：D3.js
  </a>

  <a href="http://www.createjs.com/#!/CreateJS" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考：CreateJS
  </a>

  <a href="http://processingjs.org/" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考：Processing.js
  </a>
</p>

<hr>

<h4>円グラフ</h4>

<p>
<a href="demo/webapi/exercise15/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
<mark>&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;</mark>
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(<mark>drawChart</mark>);

    <mark>function drawChart()</mark> {
        
        // 円グラフ
        // データを用意する
        // 列    列
        // label n
        // label n
        // label n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '活動');
        data.addColumn('number', '時間');
        data.addRows([
            ['睡眠', 8],
            ['仕事', 12],
            ['ネット', 4]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '1日の内訳',
            width: 500,
            height: 500,
            pieSliceText: 'label',
            is3D: true
        }
 
        // 描画する
        var chart = new google.visualization.<mark>PieChart</mark>(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;円グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

<hr>

<h4>横棒グラフ</h4>
<p>
<a href="demo/webapi/exercise16/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
<mark>&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;</mark>
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(<mark>drawChart</mark>);

    <mark>function drawChart()</mark> {
        // 棒グラフ
        // データを用意する
        // 列    列  列
        // label n   n
        // label n   n
        // label n   n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '年');
        data.addColumn('number', '売上');
        data.addColumn('number', '利益');
        data.addRows([
            ['2000', 500, 300],
            ['2001', 600, 320],
            ['2002', 800, 200],
            ['2003', 400, 200],
            ['2004', 200, 100]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '業績推移',
            width: 500,
            height: 500,
            isStacked: true
        }
 
        // 描画する
        var chart = new google.visualization.<mark>BarChart</mark>(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;横棒グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

<hr>

<h4>縦棒グラフ</h4>
<p>
<a href="demo/webapi/exercise17/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
<mark>&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;</mark>
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(<mark>drawChart</mark>);

    <mark>function drawChart()</mark> {
        // 棒グラフ
        // データを用意する
        // 列    列  列
        // label n   n
        // label n   n
        // label n   n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '年');
        data.addColumn('number', '売上');
        data.addColumn('number', '利益');
        data.addRows([
            ['2000', 500, 300],
            ['2001', 600, 320],
            ['2002', 800, 200],
            ['2003', 400, 200],
            ['2004', 200, 100]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '業績推移',
            width: 500,
            height: 500
        }
 
        // 描画する
        var chart = new google.visualization.<mark>ColumnChart</mark>(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;縦棒グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

<hr>

<h4>折れ線グラフ</h4>
<p>
<a href="demo/webapi/exercise18/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
<mark>&lt;script src="https://www.google.com/jsapi"&gt;&lt;/script&gt;</mark>
&lt;script&gt;
<mark>google.load('visualization', '1.0', {'packages':['corechart']});</mark>

$(document).on('pagebeforecreate','#index',function(){
    
    google.setOnLoadCallback(<mark>drawChart</mark>);

    <mark>function drawChart()</mark> {
        // 折れ線グラフ
        // データを用意する
        // 列    列  列
        // label n   n
        // label n   n
        // label n   n
        var data = new google.visualization.DataTable();
        data.addColumn('string', '年');
        data.addColumn('number', '売上');
        data.addColumn('number', '利益');
        data.addRows([
            ['2000', 500, 300],
            ['2001', 600, 320],
            ['2002', 800, 200],
            ['2003', 400, 200],
            ['2004', 200, 100]
        ]);
        
        // グラフのオプションを指定する
        var options = {
            title: '業績推移',
            width: 500,
            height: 500
        }
 
        // 描画する
        var chart = new google.visualization.<mark>LineChart</mark>(document.getElementById('chart'));
        chart.draw(data, options);
    }
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;縦棒グラフ&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
         &lt;div id="chart"&gt;&lt;/div&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>