<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">JSONの読み込み</div>
          <div class="panel-body">

          <h4>JSONとは</h4>

<pre>
XMLHttpRequestのクロスドメイン制限を回避するため考案された方法の1つにJSONP（JSON with padding）があります。これはJSON（JavaScript Object Notation）形式で記述したデータをJavaScriptの外部ファイルとして読み込むことで、クロスドメインの通信を行うものです。

JSONとは、JavaScriptに準拠したデータ記述言語です。データ記述言語とは、複雑なデータ構造を持つデータをテキスト形式で格納するもので、データ記述方法を統一することにより、個々のデータに共通の方法でのアクセスを可能にする働きがあります。

JSONでは、以下のデータ型を表現することができます。
</pre>

<pre>
数値（10進数のみ）
文字列
真偽値（「true」または「false」。小文字で記述）
配列
[1, "two", "三", true]
オブジェクト（連想配列）
[{"site":"Yahoo!", "url":"www.yahoo.com"},
{"site":"Google", "url":"www.google.com"}]
null（小文字で記述）
</pre>

<pre>
Ajaxでは、主にXML形式のデータを利用して送受信が行われますが、それ以外のデータ形式を利用することもできます。JSON形式は記述がシンプルで軽量なデータを作成できることから、XML形式に代わって利用される場面が増えてきています。
</pre>

<h4>$.getJSON</h4>

<p>
<a href="demo/webapi/exercise6/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        var con = $.getJSON("sample.json",
        function(data){
            $("div").html("&lt;ul&gt;&lt;/ul&gt;");
            $.each(data.root.type1, function(key,val){
                $("div ul")
                    .append("&lt;li&gt;" + val + "&lt;/li&gt;")
            });
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;div&gt;
変更前
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.ajax（GET）</h4>
<p>
<a href="demo/webapi/exercise6/index2.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.ajax({
            url: 'sample.json',
            dataType: 'json',
            type: 'GET',
            data: '',
            success:function(data){
                $("div").html("&lt;ul&gt;&lt;/ul&gt;");
                $.each(data.root.type1, function(key,val){
                    $("div ul").append("&lt;li&gt;" + val + "&lt;/li&gt;")
                });
            }
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;div&gt;
変更前
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

<h4>$.ajax（POST）</h4>

<p>
<a href="demo/webapi/exercise6/index3.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.11.0.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $.ajax({
            url: 'sample.json',
            dataType: 'json',
            type: 'POST',
            data: '',
            success:function(data){
                $("div").html("&lt;ul&gt;&lt;/ul&gt;");
                $.each(data.root.type1, function(key,val){
                    $("div ul").append("&lt;li&gt;" + val + "&lt;/li&gt;")
                });
            }
        });
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;div&gt;
変更前
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<hr>

sample.json
<pre class="prettyprint">
{
    "root": {
        "type1": {
            "data1": "テキスト1",
            "data2": "テキスト2",
            "data3": "テキスト3"
        },
        "type2": {
            "data1": "テキスト1",
            "data2": "テキスト2",
            "data3": "テキスト3"
        },
        "type3": {
            "data1": "テキスト1",
            "data2": "テキスト2",
            "data3": "テキスト3"
        }
    }
}
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>