<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">APIへの接続</div>
          <div class="panel-body">
          <h4>APIとは</h4>

<pre>
Ajaxによる利用を許可しているWebサービスでは、プログラミングを容易にするため、接続やデータ利用の方法をAPI（Application Program Interface）として公開しています。

APIとは、OSやミドルウェアの機能をアプリケーションから利用する際の入り口となるものです。APIには基本的な命令や関数、それらの利用方法等が規定されています。

APIを利用することで、アプリケーションの開発の手間が大幅に低減されます。たとえばウィンドウやメニュー、アイコンなどは多くのアプリケーションで共通する機能ですが、APIを利用すればこれらを一から開発する必要はなくなります。その結果、開発者はアプリケーション独自の機能の開発に注力できるようになり、開発の効率も完全されます。
</pre>

<h4>WebサービスAPIとは</h4>

<pre>
近年、Webサービスを運営する企業から、そのサービスを利用するためのAPIが無償で公開される例が増え、これらを利用したマッシュアップが盛んに行われています。よく利用されるWebサービスAPIには、以下のようなものがあります。

Google Web APIs
Google Ajax Search、Google Maps、Google Calenderなど、Googleが提供する各種Webサービスを利用するためのAPI群です。

Yahoo! Webサービス
Yahoo!の検索、地図、オークション、ショッピング、テキスト解析などの各種Webサービスを利用するためのAPI群です。

Amaozn Webサービス
Amazonの商品情報を利用して、独自のeコーマーすサイトを構築できます。

はてなWebサービス
はてなのダイアリー、キーワード、ブックマーク、フォトライフなどの各種Webサービスを利用するためのAPI群。

価格.com Webサービス
価格.comだけでなく、食べログ.com、yoyaQ.comなどの検索情報を取得して利用することができます。

Flickr API
Flickrの写真検索やアップロードなどを外部から実行することができます。
</pre>


          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>