<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include googlemap %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Google Mapの基本的なコード</div>
          <div class="panel-body">

<h4>JavaScriptで記述</h4>

<p>
<a href="demo/webapi/googlemap-7/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;script src="http://maps.google.com/maps/api/js?sensor=true&language=ja"&gt;&lt;/script&gt;
    &lt;style&gt;
      html,body{
       width:100%;
       height:100%;
       margin:0;
      }
      #map{
       width:100%;
       height:100%;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="map"&gt;&lt;/div&gt;
    &lt;script&gt;
      var latlng = new google.maps.LatLng(34.701912,135.494961);
      var options = {
       zoom: 15, //必須
       center: latlng, //必須
       mapTypeId: google.maps.MapTypeId.ROADMAP //必須
      };
      var map = new google.maps.Map(document.getElementById('map'), options);
      
    &lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>

<p>
<a href="demo/webapi/googlemap-1/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang='ja'&gt;
  &lt;head&gt;
    &lt;meta charset='UTF-8'&gt;
    &lt;meta content='initial-scale=1.0, user-scalable=no' name='viewport'&gt;
    &lt;script src='http://maps.googleapis.com/maps/api/js?sensor=false&amp;v=3'&gt;&lt;/script&gt;
    &lt;script&gt;
      function initialize(){
        //地図を表示
        var latlng = new google.maps.LatLng(34.701912,135.494961);
        var mapOpts = {
          zoom: 15,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var mapDiv = document.getElementById('map');
        var mapCanvas = new google.maps.Map(mapDiv, mapOpts);
      }
      window.onload = initialize;
    &lt;/script&gt;
    &lt;style&gt;
      html, body {
        width: 100%;
        height: 100%;
        margin: 0; }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id='map' style='width:100%;height:100%;'&gt;&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;

</pre>


<hr>

<h4>jQueryを使った記述</h4>

<p>
<a href="demo/webapi/googlemap-7/index2.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;&lt;/title&gt;
    &lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
    &lt;script src="http://maps.google.com/maps/api/js?sensor=true&language=ja"&gt;&lt;/script&gt;
    &lt;script&gt;
      $(function(){
       var latlng = new google.maps.LatLng(34.701912,135.494961);
       var options = {
        zoom: 15, //必須
        center: latlng, //必須
        mapTypeId: google.maps.MapTypeId.ROADMAP
       };
       var map = new google.maps.Map(document.getElementById('map'), options);  
      })
    &lt;/script&gt;
    &lt;style&gt;
      html,body{
       width:100%;
       height:100%;
       margin:0;
      }
      #map{
       width:100%;
       height:100%;
      }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div id="map"&gt;&lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>


          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>