<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">特定のDOM要素の読み込み</div>
          <div class="panel-body">

<p>
<a href="demo/webapi/exercise3/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $("input").click(function(){
        $("p").load("sample.html div");
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;input type="button" value="変更"&gt;
&lt;p&gt;変更前&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

sample.html
<pre class="prettyprint">
&lt;html&gt;
&lt;head&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;
  &lt;div&gt;変更後&lt;/div&gt;
&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>


          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>