extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading XMLの読み込み
                    .panel-body
                        h4 $.get
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise4/index1.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        $('input').click(function(){
                                                            $.get('sample.xml',function(data){
                                                                $('div').html('<ul></ul>');
                                                                $(data).find('data1').each(function(){
                                                                    $('div ul')
                                                                    .append('<li>' + $('text1',this).text() + '</li>')
                                                                    .append('<li>' + $('text2',this).text() + '</li>')
                                                                    .append('<li>' + $('text3',this).text() + '</li>');
                                                                });
                                                            },'xml');
                                                        });
                                                    });
                                                })()
                                    body
                                        input(type='button', value='変更')
                                        div
                                            | 変更前
                        hr
                        h4 $.post
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise4/index2.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        $('input').click(function(){
                                                            $.post('./sample.xml',function(data){
                                                                $('div').html('<ul></ul>');
                                                                $(data).find('data1').each(function(){
                                                                    $('div ul')
                                                                        .append('<li>' + $('text1',this).text() + '</li>')
                                                                        .append('<li>' + $('text2',this).text() + '</li>')
                                                                        .append('<li>' + $('text3',this).text() + '</li>');
                                                                    });
                                                            },'xml');
                                                        });
                                                    });
                                                })()
                                    body
                                        input(type='button', value='変更')
                                        div
                                            | 変更前
                        hr
                        h4 $.ajax
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise4/index3.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(function(){
                                                        $('input').click(function(){
                                                            $.ajax({
                                                                url: 'sample.xml',
                                                                type: 'GET',
                                                                data: '',
                                                                dataType: 'xml',
                                                                success: function(data){
                                                                    $('div').html('<ul></ul>');
                                                                    $(data).find('data1').each(function(){
                                                                        $('div ul')
                                                                            .append('<li>' + $('text1',this).text() + '</li>')
                                                                            .append('<li>' + $('text2',this).text() + '</li>')
                                                                            .append('<li>' + $('text3',this).text() + '</li>');
                                                                    });
                                                                }
                                                            });
                                                        });
                                                    });
                                                })()
                                    body
                                        input(type='button', value='変更')
                                        div
                                            | 変更前
                        hr
                        | sample.jade
                        p 以下のようにコンパイル
                        pre
                            :code
                                jade <sample.jade> sample.xml
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype xml
                                root
                                    data1
                                        text1 テキスト1
                                        text2 テキスト2
                                        text3 テキスト3
                                      data2
                                        text1 テキスト1
                                        text2 テキスト2
                                        text3 テキスト3
                                      data3
                                        text1 テキスト1
                                        text2 テキスト2
                                        text3 テキスト3