<%- include ../../head %>
  <body>
  
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        
        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-bookmark"></i> 課題</div>
          <div class="panel-body">
            <p>RSSのデータを読み込み、Listviewに表示してみましょう。</p>
            <p>*RSSのXMLデータはSame Origin（Cross Domain）ポリシーが影響するため、本来はサーバーサイド技術で取得する必要があります。</p>

            <p>
              <a href="demo/webapi/exercise9/index.html" target="_blank" class="btn btn-default">
              <i class="glyphicon glyphicon-play"></i> デモ
              </a>
              <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
              <i class="glyphicon glyphicon-question-sign"></i> 解答例
              </button>
            </p>

<div id="demo" class="collapse out">

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){
    $.ajax({
        url: 'rss.xml',
        dataType: 'xml',
        success: function(data){
            var html = '';
            $("item",data).each(function(){

                html += '&lt;li&gt;';
                html += '&lt;a href="' + $("link",this).text() + '"&gt;';
                html += '&lt;img src="#" alt=""&gt;';
                html += '&lt;h2&gt;' + $("title",this).text() + '&lt;/h2&gt;';
                html += '&lt;p&gt;' + $("description",this).text() + '&lt;/p&gt;';
                html += '&lt;/a&gt;';
                html += '&lt;/li&gt;';

            });

            //listviewリフレッシュ
            $('[data-role="listview"]').append(html).listview('refresh');

            //本文の画像をサムネイルの画像に置換
            $('.ui-btn-text').each(function(){
                $('.ui-li-thumb',this).attr('src',$('.mr10',this).attr('src'));
            });

            //本文の画像除去
            $('.mr10').remove();
        }
    });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;RSSの取得&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
        &lt;ul data-role="listview" data-inset="true"&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div data-role="footer"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
            </div>

<p>
RSS.xml
<pre class="prettyprint linenums">
&lt;?xml version="1.0" encoding="UTF-8" ?&gt; 
&lt;rss version="2.0"&gt;
&lt;channel&gt;
&lt;title&gt;All About [パソコン本体・周辺機器]&lt;/title&gt; 
&lt;link&gt;http://allabout.co.jp/computer/?FM=rss_computer&lt;/link&gt; 
&lt;language&gt;ja-jp&lt;/language&gt; 
&lt;copyright&gt;Copyright(c) All About, Inc. All rights reserved.&lt;/copyright&gt; 
&lt;pubDate&gt;Tue, 11 Jan 2011 18:07:59 +0900&lt;/pubDate&gt; 
&lt;image&gt;
&lt;url&gt;http://img.allabout.co.jp/pts/logo/2005/allabout_logo_03.gif&lt;/url&gt; 
&lt;link&gt;http://allabout.co.jp/?FM=rss_computer&lt;/link&gt; 
&lt;title&gt;All About [パソコン本体・周辺機器]&lt;/title&gt; 
&lt;/image&gt;
&lt;item&gt;
    &lt;title&gt;iPadの価格と購入時の注意 [iPad]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/gc/178964/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/gc/178964/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/178964/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;iPadは大きく分けてWi-Fi版と3G版の2種類がある。3G回線で接続するには、当然のことながら通信料を支払わなくてはいけない。ソフトバンクモバイルでは2つの料金プランを用意している。どのプランがあなたにぴったりなのか、解説しよう。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;iPad&lt;/category&gt; 
    &lt;pubDate&gt;Wed, 05 Jan 2011 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;はがきの宛名印刷・住所録管理用無料ソフト [フリーソフト・シェアウェア]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/gc/374264/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/gc/374264/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/374264/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;はがきの宛名面印刷はパソコンを使う大きな理由の一つ。ここではフリーソフトで使いやすい物をピックアップして紹介するとともに、有料ソフトとの違いについても説明します。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;フリーソフト・シェアウェア&lt;/category&gt; 
    &lt;pubDate&gt;Mon, 27 Dec 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;富士通 FMV ESPRIMO FH900/5BM [デスクトップパソコン]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/review/373166/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/review/373166/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/373166/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;富士通FMV ESPRIMOの一体型、FHシリーズの3D機能がアップしました。3D放送の視聴・録画・再生に対応したほか、画面も、以前のモデルより見やすくなっています。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;デスクトップパソコン&lt;/category&gt; 
    &lt;pubDate&gt;Thu, 09 Dec 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;ソニー VAIO Jシリーズ（VPCJ128FJ） [デスクトップパソコン]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/review/373145/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/review/373145/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/373145/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;スタイリッシュな一体型ボディで人気がある、ソニーのVAIO Jシリーズから、VPCJ128FJをレビューする。コストパフォーマンスを求める、パーソナルユーザー向けの製品だ。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;デスクトップパソコン&lt;/category&gt; 
    &lt;pubDate&gt;Thu, 09 Dec 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;エプソン カラリオ EP-903A [プリンタ・スキャナ]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/review/372862/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/review/372862/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/372862/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;エプソン「カラリオ EP-903A」は、AV機器のようなスタイリッシュデザインと、前面2段給紙による設置のしやすさが魅力のA4インクジェット複合機。染料系6色独立インクを採用し、写真画質には定評がある。ADF（自動給紙装置）やCD/DVDトレイ内蔵など、使い勝手の良さが魅力のモデルだ。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;プリンタ・スキャナ&lt;/category&gt; 
    &lt;pubDate&gt;Thu, 09 Dec 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;キヤノンPIXUS MG8130 [プリンタ・スキャナ]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/review/312814/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/review/312814/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/312814/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;キヤノンのA4インクジェット複合機「PIXUS」シリーズの新機種が登場した。写真印刷も文書印刷も強い“W黒”6色独立インクを継承しながら、光で操作をナビする「インテリジェントタッチシステム」を採用し、使い勝手を大幅に向上した。CCDスキャナを搭載しており、業界随一の高画質モデルだ。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;プリンタ・スキャナ&lt;/category&gt; 
    &lt;pubDate&gt;Thu, 09 Dec 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;MacBook Air 11インチ [Mac]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/review/371558/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/review/371558/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/371558/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;MacBook Airはただ薄いだけではなく、素速い起動とスリープ復帰を始め、スペック以上の体感速度はハードとOSを一社で作り上げているからこそ実現できたもので、使いやすさで定評のあるMac OS Xは初めての人でも安心して利用できます。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;Mac&lt;/category&gt; 
    &lt;pubDate&gt;Thu, 09 Dec 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;バッファロー WZR-HP-AG300H [LAN・無線LAN]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/review/324385/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/review/324385/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/324385/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;バッファローの無線LANルータ「WZR-AG300H」の性能や使い勝手をチェックしてみました。バッファローでも実力派ということもあって、速度も速く、機能も充実していて、おすすめの製品です。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;LAN・無線LAN&lt;/category&gt; 
    &lt;pubDate&gt;Tue, 30 Nov 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;ソニーのデスクトップパソコン：VAIO [デスクトップパソコン]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/gc/4561/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/gc/4561/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/4561/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;ソニーの最新トレンドとおすすめ機種をご紹介します。すべてが一体型で、ソニーらしいスタイリッシュなデザインになっています。ソフトウェアはソニー独自のものが多数付属し、手軽に映像やデジカメ画像の編集が楽しめます。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;デスクトップパソコン&lt;/category&gt; 
    &lt;pubDate&gt;Sat, 06 Nov 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;
&lt;item&gt;
    &lt;title&gt;A4インクジェット複合機・プリンタのメーカー別情報 [プリンタ・スキャナ]&lt;/title&gt; 
    &lt;link&gt;http://allabout.co.jp/gm/gc/19886/?FM=rss_computer&lt;/link&gt; 
    &lt;description&gt;
    &lt;![CDATA[ 
    &lt;div class="list-l"&gt;&lt;a href="http://allabout.co.jp/gm/gc/19886/?FM=rss_computer"&gt;&lt;img src="http://img.allabout.co.jp/gm/article/19886/topimg.jpg" width="120" height="90" border="0" align="left" class="mr10"&gt;&lt;/a&gt;&lt;/div&gt;
    &lt;div class="list-r"&gt;
    &lt;p class="vari22"&gt;A4インクジェット複合機・プリンタの2010年末モデルは、多くのメーカーがネットワーク機能をより充実させた。各メーカーの特徴やラインアップを紹介していこう。&lt;/p&gt;
    &lt;/div&gt;
    ]]&gt; 
    &lt;/description&gt;
    &lt;category&gt;プリンタ・スキャナ&lt;/category&gt; 
    &lt;pubDate&gt;Sun, 31 Oct 2010 00:00:00 +0900&lt;/pubDate&gt; 
&lt;/item&gt;

&lt;/channel&gt;
&lt;/rss&gt;
</pre>
</p>


          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>