<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">XMLHttpRequestとは</div>
          <div class="panel-body">
          <h4>XMLHttpRequestとは</h4>
<pre>
Ajaxの特徴は、非同期通信を利用してWebページの動的な更新を行うことにあります。これを可能にしているのは、XMLHttpRequest（XHR）というJavaScriptの組み込みオブジェクト（API）です。

XMLHttpRequestオブジェクトは、元々はMicrosoft社によってActiveXオブジェクトとして開発され、Internet Explorer 5に実装された独自拡張です。その後、他のブラウザでもXMLHttpRequestオブジェクトが実装されるようになり、Internet Explorer 7で改めてMozillaの実装に合わせた再実装が行われました。こうしてXMLHttpRequestオブジェクトは事実上の標準機能となったため、W3Cでも正式に標準化が進められています。

XMLHttpRequestオブジェクトを利用すると、すでに読み込んだWebページからさらにHTTPリクエストを送信して、ページ遷移を行うことなくコンテンツを更新できます。

XMLHttpRequestという名称ではあるものの、XML以外のデータ形式にも対応しており、またHTTP以外のプロトコルで利用することもできます。
</pre>

<hr>

<h4>XMLHttpRequestオブジェクトの生成</h4>

<pre>
var req = new XMLHttpRequest();
</pre>

<pre>
Internet Explorer 6の場合
var req = new ActiveXObject('Msxml12.XMLHTTP');
</pre>

<pre>
Internet Explorer 5/5.5の場合
var req = new ActiveXObject('Microsoft.XMLHTTP');
</pre>

<pre class="prettyprint">
var req;

if(XMLHttpRequest){
  req = new XMLHttpRequest();
}
else{
  try{
    req = new ActiveXObject('Msxml12.XMLHTTP');
  }
  catch(e){
    try{
      req = new ActiveXObject('Microsoft.XMLHTTP');
    }
    catch(e){
      alert('ActiveXを有効にしてください');
    }
  }
}

</pre>

<hr>

<h4>XMLHttpRequestオブジェクトのプロパティとメソッド</h4>

    <p>
    <a href="https://developer.mozilla.org/ja/docs/Web/API/XMLHttpRequest" target="_blank" class="btn btn-default">
    <i class="glyphicon glyphicon-info-sign"></i> 参考
    </a>
    </p>

<pre class="prettyprint">
var req = new XMLHttpRequest();

req.open('GET', 'cgi-bin/search.cgi?keyword=Ajax', true);

req.setRequestHeader('If-Modified-Since', 'Sat, 1 Oct 2011 00:00:00 GMT');
req.send(null);

req.onreadystatechange = function(){
  if(req.readyState == 4 && req.status == 200){
    var str = req.responseText;
    alert(str);
  }
};
</pre>




          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>