extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading QRコードの生成
                    .panel-body
                        p
                            a.btn.btn-default(href='../demo/webapi/exercise14/index.html', target='_blank')
                                i.glyphicon.glyphicon-play
                                |  デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html
                                    head
                                        meta(charset='UTF-8')
                                        title
                                        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
                                        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
                                        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
                                        script
                                            :js
                                                (function(){
                                                    $(document).on('pageshow','#index',function(){
                                                        var qr = {
                                                            size: 250,
                                                            title: 'Yahoo!',
                                                            url: 'http://www.yahoo.co.jp/',
                                                            api:function(){
                                                                return 'http://chart.apis.google.com/chart?chs=' + this.size + 'x' + this.size + '&cht=qr&chl=' + this.url
                                                            }
                                                        };
                                                        $('<img>')
                                                            .attr({src: qr.api(), title: qr.url})
                                                            .appendTo('[data-role="content"]');
                                                    });
                                                })()
                                    body
                                        #index(data-role='page')
                                            div(data-role='header')
                                                h1 QRコード生成
                                            div(data-role='content')
                                            div(data-role='footer', data-position='fixed')
                                                h1 フッター