<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

            <div class="list-group">
                 <a href="webapi-14" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング①
                 </a>
                 <a href="webapi-15" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング②
                 </a>
                 <a href="webapi-16" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング③
                 </a>
                 <a href="webapi-17" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング④
                 </a>
                 <a href="webapi-18" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑤
                 </a>
                 <a href="webapi-19" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑥
                 </a>
                 <a href="webapi-20" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑦
                 </a>
                 <a href="webapi-21" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑧
                 </a>
                 <a href="webapi-22" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑨
                 </a>
                 <a href="webapi-23" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑩
                 </a>
            </div>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Ajaxでページング①</div>
          <div class="panel-body">

    <p>
    <a href="demo/webapi/exercise7/index.html" target="_blank" class="btn btn-default">
    <i class="glyphicon glyphicon-play"></i> デモ
    </a>
    </p>

<h4>data1.html</h4>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt; 
&lt;title&gt;data1&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="content"&gt;
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868064-6"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868064-6s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;雲の世界の向こうをつかむクラウドの技術&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/11/06&lt;/li&gt;
                &lt;li&gt;定価 ： 1,890円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868064-6&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868174-2"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868174-2s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;完全合格 ORACLE MASTER Silver DBA 11g 問題集&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： 津田竜賜、有里恵、飯塚美香、伊藤尚子、ほか&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/11/10&lt;/li&gt;
                &lt;li&gt;定価 ： 3,129円&lt;/li&gt;
                &lt;li&gt;ISBN  ： 978-4-04-868174-2&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868180-3"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868180-3s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;すぐわかる Excel2007 Windows7／Vista／XP 全対応&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： 尾崎裕子&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/11/27&lt;/li&gt;
                &lt;li&gt;定価 ： 1,344円&lt;/li&gt;
                &lt;li&gt;ISBN  ： 978-4-04-868180-3&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868181-0"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868181-0s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;すぐわかる Windows7&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： 小野均&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/11/27&lt;/li&gt;
                &lt;li&gt;定価 ： 1,344円&lt;/li&gt;
                &lt;li&gt;ISBN  ： 978-4-04-868181-0&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868293-0"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868293-0s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;Macを買ったら最初に読む本 Mac OS X v10.6 Snow Leopard 版&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/11/30&lt;/li&gt;
                &lt;li&gt;定価 ： 1,344円&lt;/li&gt;
                &lt;li&gt;ISBN  ： 978-4-04-868293-0&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868252-7"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868252-7s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;Microsoftのクラウドコンピューティング Windows Azure入門&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： 砂金信一郎、遠藤大樹、酒井達明、藤田昭人&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/11/30&lt;/li&gt;
                &lt;li&gt;定価 ： 2.730円&lt;/li&gt;
                &lt;li&gt;ISBN  ： 978-4-04-868252-7&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<h4>data2.html</h4>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt; 
&lt;title&gt;data2&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="content"&gt;
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868176-6"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868176-6s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;Mac OS X 10.6 Snow Leopardパーフェクトガイド&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/10/19&lt;/li&gt;
                &lt;li&gt;定価 ： 1,764円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868176-6&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-867881-0"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-867881-0s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;The Art of Computer Programming Volume 4, Fascicle 0　Introduction to Combinatorial Algorithms and Boolean Functions 日本語版&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/10/23&lt;/li&gt;
                &lt;li&gt;定価 ： 5,040円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-867881-0&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868254-1"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868254-1s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;iPodパーフェクトガイド2010&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/10/26&lt;/li&gt;
                &lt;li&gt;定価 ： 1,029円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868254-1&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868255-8"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868255-8s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;iPod touchパーフェクトガイド2010&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/10/26&lt;/li&gt;
                &lt;li&gt;定価 ： 1,029円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868255-8&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868165-0"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868165-0s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;インターネットでお店やろうよ！大全 作る！売れる！儲かる！ネットショップ&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/10/26&lt;/li&gt;
                &lt;li&gt;定価 ： 1,785円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868165-0&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868164-3"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868164-3s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;ネットウォーカー Guide Book&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/10/29&lt;/li&gt;
                &lt;li&gt;定価 ： 1,029円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868164-3&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>


<h4>data3.html</h4>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt; 
&lt;title&gt;data3&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="content"&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-867988-6"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-867988-6s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;The Art of Multiprocessor Programming 並行プログラミングの原理から実践まで&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： Maurice Herlihy、Nir Shavit&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/09/02&lt;/li&gt;
                &lt;li&gt;定価 ： 8,190円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-867988-6&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-867615-1"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-867615-1s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;ヤマハルーター運用設定マニュアル RTX1200／SRT100のGUI&コマンドラインの実践&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/09/24&lt;/li&gt;
                &lt;li&gt;定価 ： 2,940円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-867615-1&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-867796-7"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-867796-7s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;CERT C セキュアコーディングスタンダード&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;発売日 ： 2009/09/30&lt;/li&gt;
                &lt;li&gt;定価 ： 5,040円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-867796-7&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-867796-7"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868096-7s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;SQL Server 2008 による Office SharePoint Server ストレージ技法&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： 田中大地&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/09/30&lt;/li&gt;
                &lt;li&gt;定価 ： 3,990円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868096-7&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868114-8"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868114-8s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;完全合格 ORACLE MASTER Bronze 11g SQL基礎I 直前対策暗記ノート&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： 津田竜賜、飯塚美香、伊藤尚子、中村仁、広永義実&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/09/30&lt;/li&gt;
                &lt;li&gt;定価 ： 1,554円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868114-8&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
     
    &lt;div class="colmun"&gt;
        &lt;div class="img"&gt;
            &lt;a href="http://asciimw.jp/search/?isbn=978-4-04-868098-1"&gt;
                &lt;img height="80" width="56" alt="" src="images/978-4-04-868098-1s.jpg"/&gt;
            &lt;/a&gt;
        &lt;/div&gt;
        &lt;div class="info"&gt;
            &lt;h2&gt;完全合格 ORACLE MASTER Bronze DBA11g 直前対策暗記ノート&lt;/h2&gt;
            &lt;ul&gt;
                &lt;li&gt;著者 ： 有里恵、沢野次男&lt;/li&gt;
                &lt;li&gt;発売日 ： 2009/09/30&lt;/li&gt;
                &lt;li&gt;定価 ： 1,554円&lt;/li&gt;
                &lt;li&gt;ISBN ： 978-4-04-868098-1&lt;/li&gt;
            &lt;/ul&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>