<%- include ../../head %>
  <body>
  
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        
        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-bookmark"></i> 課題</div>
          <div class="panel-body">
            <p>jsonデータを読み込み、ラジオボタンで大阪府内のラーメン屋を表示してみましょう。</p>

            <p>
              <a href="demo/webapi/exercise12/index.html" target="_blank" class="btn btn-default">
              <i class="glyphicon glyphicon-play"></i> デモ
              </a>

                <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
              <i class="glyphicon glyphicon-question-sign"></i> 解答例
              </button>
            </p>

<div id="demo" class="collapse out">

<pre class="prettyprint linenums">
$(function(){
    
    var ramen = new RamenClass();

    //ラジオボタンの生成
    ramen.init();
    //東淀川区で初期表示
    ramen.show("東淀川区");
     
    $("form").on("change","input:radio",function(){
        ramen.show($(this).val());
    });
});

var RamenClass = function(){};

RamenClass.prototype = {
    init: function(){
        $.getJSON("ramen.json",
            function(data){
                $.each(data["ラーメン"]["地域"], function(key,val){
                    $("fieldset:first").append("<input type=\"radio\" name=\"ramen\" value=\""+ key +"\">" + key);
                });
        });
    },
    show: function(area){
    $.getJSON("ramen.json",
        function(data){
            var html = "";
             
            $.each(data["ラーメン"]["地域"][area],function(key,val){
                html += "<tr>";
                html += "<td>店名</td>";
                html += "<td>" + key + "</td>";
                html += "</tr>";
                html += "<tr>";
                html += "<td>住所</td>";
                html += "<td>" + val["住所"] + "</td>";
                html += "</tr>";
                html += "<tr>";
                html += "<td>電話番号</td>";
                html += "<td>" + val["電話"] + "</td>";
                html += "</tr>";
                html += "<tr>";
                html += "<td>画像</td>";
                html += "<td><img src=\"" + val["画像"] + "\"></td>";
                html += "</tr>";
            });
            $("tbody").html(html);
        });
    }
};
&lt;/script&gt;
&lt;style&gt;
form{
    width:600px;
}
table{
    width:100%;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;form&gt;
    &lt;fieldset&gt;
    &lt;/fieldset&gt;
    &lt;fieldset&gt;
        &lt;table border="1"&gt;
        &lt;tbody&gt;
        &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/fieldset&gt;
&lt;/form&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>
            </div>

<p>
ramen.json
<pre class="prettyprint linenums">
{
    "ラーメン": {
        "地域":{
            "東淀川区":{
                "博多とんこつ天神旗":{
                    "住所":"大阪市東淀川区上新庄3-19-87",
                    "電話":"06-6324-0104",
                    "画像":"higashiyodogawa001.jpg"
                },
                "麺や「輝」":{
                    "住所":"大阪市東淀川区菅原4-1-32",
                    "電話":"06-6326-4048",
                    "画像":"higashiyodogawa002.jpg"
                },
                "とっかり２":{
                    "住所":"大阪市東淀川区瑞光2-2-21",
                    "電話":"06-6324-8182",
                    "画像":"higashiyodogawa003.jpg"
                },
                "吉田本舗ラーメン 麺一":{
                    "住所":"大阪市東淀川区大隅1-5-18",
                    "電話":"06-6370-7172",
                    "画像":"higashiyodogawa004.jpg"
                },
                "釜練とんこつ野望天":{
                    "住所":"大阪市東淀川区瑞光2-10-24",
                    "電話":"06-6320-5232",
                    "画像":"higashiyodogawa005.jpg"
                },
                "ラーメン賓龍":{
                    "住所":"大阪市東淀川区豊新3-22-15",
                    "電話":"06-6370-2951",
                    "画像":"higashiyodogawa006.jpg"
                },
                "ラーメン家族":{
                    "住所":"大阪市東淀川区瑞光1-5-37",
                    "電話":"06-6320-4059",
                    "画像":"higashiyodogawa007.jpg"
                },
                "ラーメン大統領":{
                    "住所":"大阪市東淀川区小松1-4-27",
                    "電話":"06-6370-2714",
                    "画像":"higashiyodogawa008.jpg"
                },
                "孫悟空 坦々麺":{
                    "住所":"大阪市東淀川区上新庄3-7-15",
                    "電話":"06-6325-2770",
                    "画像":"higashiyodogawa009.jpg"
                }
            },
            "淀川区":{
                "昇龍ラーメン":{
                    "住所":"大阪市淀川区木川東2-11-4",
                    "電話":"06-5305-2382",
                    "画像":"yodogawa001.jpg"
                },
                "麺匠はなみち":{
                    "住所":"大阪市淀川区西中島4-4-25フルーレ新大阪1F",
                    "電話":"06-6305-2738",
                    "画像":"yodogawa002.jpg"
                },
                "次男坊ラーメン":{
                    "住所":"大阪市東淀川区東中島1丁目12-30",
                    "電話":"06-6324-7717",
                    "画像":""
                }
            },
            "浪速区":{
                "無鉄砲大阪本店":{
                    "住所":"大阪市浪速区戎本町1-5-21米田ビル1F",
                    "電話":"06-6645-0522",
                    "画像":"naniwa001.jpg"
                },
                "くじら軒浪速麺だらけ店":{
                    "住所":"大阪市浪速区難波中2-10-70",
                    "電話":"06-6646-0765",
                    "画像":"naniwa002.jpg"
                },
                "博多ラーメンしばらく":{
                    "住所":"大阪市浪速区難波中2-10-70",
                    "電話":"06-6646-0765",
                    "画像":"naniwa003.jpg"
                }
            },
            "北区":{
                "一風堂梅田店":{
                    "住所":"大阪市北区角田町6-7角田町ビル1F",
                    "電話":"06-6363-3777",
                    "画像":"kita001.jpg"
                },
                "洛二神":{
                    "住所":"大阪市北区浪花町4-22 藤ビル1F西",
                    "電話":"06-6371-1088",
                    "画像":"kita002.jpg"
                },
                "げん家ラーメン":{
                    "住所":"大阪市北区国分寺1-2-20",
                    "電話":"06-6355-1414",
                    "画像":"kita003.jpg"
                },
                "手打ちラーメン本伝":{
                    "住所":"大阪市北区同心2-7-21",
                    "電話":"06-6357-3729",
                    "画像":"kita004.jpg"
                },
                "豚一":{
                    "住所":"大阪市北区中崎2-1-1",
                    "電話":"",
                    "画像":"kita005.jpg"
                },
                "揚子江":{
                    "住所":"大阪市北区角田町7-17東宝OSMビル1F",
                    "電話":"06-6321-6700",
                    "画像":"kita006.jpg"
                },
                "にぼしらーめん玉五郎":{
                    "住所":"大阪市北区天神橋5-6-33",
                    "電話":"06-6136-1313",
                    "画像":"kita007.jpg"
                },
                "らーめん弥七":{
                    "住所":"大阪市北区豊崎3-4-8",
                    "電話":"06-6373-0035",
                    "画像":"kita008.jpg"
                },
                "総大醤":{
                    "住所":"大阪市北区浮田2-4-16",
                    "電話":"06-6375-8260",
                    "画像":"kita009.jpg"
                },
                "麺家じゃんぷ亭":{
                    "住所":"大阪市北区天神橋3-1-4",
                    "電話":"06-6354-3221",
                    "画像":"kita010.jpg"
                },
                "大阪大勝軒":{
                    "住所":"大阪市北区神山町2-10",
                    "電話":"06-6363-7277",
                    "画像":"kita011.jpg"
                },
                "らーめん専門店はまや本店":{
                    "住所":"大阪市北区兎我野町10-20 藤田ビル1F",
                    "電話":"06-6365-6759",
                    "画像":"kita012.jpg"
                },
                "大吾郎商店":{
                    "住所":"大阪市北区大淀中4-15-15",
                    "電話":"06-6458-5236",
                    "画像":"kita013.jpg"
                },
                "麺屋桜蘭":{
                    "住所":"大阪市北区梅田1-2-2大阪駅前第2ビルB2F",
                    "電話":"06-6345-6636",
                    "画像":"kita014.jpg"
                },
                "私的湯麺ねび":{
                    "住所":"大阪市北区天神橋2-2-8",
                    "電話":"06-6353-6699",
                    "画像":"kita015.jpg"
                },
                "ラーメン壷":{
                    "住所":"大阪市北区天神橋4-7-11",
                    "電話":"06-6352-3833",
                    "画像":"kita016.jpg"
                },
                "おちゃらん屋":{
                    "住所":"大阪市北区梅田3-1-1JR大阪駅フロートコート内",
                    "電話":"06-6341-9056",
                    "画像":"kita017.jpg"
                },
                "あらうま堂":{
                    "住所":"大阪市北区梅田3-1-1",
                    "電話":"06-4799-9056",
                    "画像":"kita018.jpg"
                },
                "宇部ラーメン一久天満宮店":{
                    "住所":"大阪市北区天神橋2-5-17",
                    "電話":"06-6356-1915",
                    "画像":"kita019.jpg"
                },
                "上方段七":{
                    "住所":"大阪市北区梅田3-1-1大阪駅北ビル2階",
                    "電話":"",
                    "画像":"kita020.jpg"
                }
            },
            "中央区":{
                "神座道頓堀店":{
                    "住所":"大阪市中央区道頓堀1-7-25",
                    "電話":"06-6211-3790",
                    "画像":"chuo001.jpg"
                },
                "麺乃屋":{
                    "住所":"大阪市中央区上本町西５－１－６",
                    "電話":"06-6761-9117",
                    "画像":"chuo002.jpg"
                }
            },
            "旭区":{
                "らー麺大勝":{
                    "住所":"大阪市旭区清水2-21-9",
                    "電話":"06-6956-0009",
                    "画像":"asahi001.jpg"
                },
                "第一旭関目店":{
                    "住所":"大阪市城東区関目2-12-24",
                    "電話":"06-6934-2647",
                    "画像":"asahi002.jpg"
                }
            },
            "港区":{
                "九州ラーメン博多っ娘":{
                    "住所":"大阪市港区波除3-1-21",
                    "電話":"06-6583-1567",
                    "画像":"minato001.jpg"
                }
            },
            "鶴見区":{
                "カドヤ食堂":{
                    "住所":"大阪市鶴見区鶴見4-1-18",
                    "電話":"06-6933-9323",
                    "画像":"tsurumi001.jpg"
                },
                "博多長浜ﾗｰﾒﾝまる長":{
                    "住所":"大阪市鶴見区緑1-1-11",
                    "電話":"06-6930-3606",
                    "画像":"tsurumi002.jpg"
                }
            },
            "城東区":{
                "拉麺きはる":{
                    "住所":"大阪市城東区蒲生4-16-10",
                    "電話":"06-6786-3399",
                    "画像":"joto001.jpg"
                },
                "豚吉本店":{
                    "住所":"大阪市城東区中央1-12-17",
                    "電話":"06-6939-5751",
                    "画像":"joto002.jpg"
                },
                "らーめん龍野城東古市店":{
                    "住所":"大阪市城東区古市1-22-16",
                    "電話":"06-6936-7701",
                    "画像":"joto003.jpg"
                }
            },
            "福島区":{
                "旭屋":{
                    "住所":"大阪市福島区野田3-6-17",
                    "電話":"06-6462-1218",
                    "画像":"fukushima001.jpg"
                },
                "天日塩らーめんべらしお":{
                    "住所":"大阪市福島区福島5-13-18",
                    "電話":"06-6453-0100",
                    "画像":"fukushima002.jpg"
                },
                "彩華ラーメン":{
                    "住所":"大阪市福島区吉野2-15-20",
                    "電話":"06-6444-1171",
                    "画像":"fukushima003.jpg"
                },
                "上方屋五郎ヱ門":{
                    "住所":"大阪市福島区福島7-6-23",
                    "電話":"06-6455-9056",
                    "画像":"fukushima004.jpg"
                }
            },
            "都島区":{
                "力雅":{
                    "住所":"大阪市都島区東野田町3-10-4",
                    "電話":"06-6353-8110",
                    "画像":"miyakojima001.jpg"
                },
                "まいど商店都島店":{
                    "住所":"大阪市都島区都島北通2-3-9 ワットハイム都島1F",
                    "電話":"06-6922-4129",
                    "画像":"miyakojima002.jpg"
                },
                "花丸軒都島店":{
                    "住所":"大阪市都島区毛馬市バス毛馬停留所前",
                    "電話":"",
                    "画像":"miyakojima003.jpg"
                },
                "花京":{
                    "住所":"大阪市都島区東野田町3-10-4",
                    "電話":"06-6353-6620",
                    "画像":"miyakojima004.jpg"
                },
                "和歌山ラーメンたかし":{
                    "住所":"大阪市都島区中野2-1-18",
                    "電話":"06-6354-7454",
                    "画像":"miyakojima005.jpg"
                },
                "麺工房じゃんじゃこ家":{
                    "住所":"大阪市旭区中宮4-9-7ジュネス城北1F",
                    "電話":"06-6956-1881",
                    "画像":"miyakojima006.jpg"
                },
                "光龍益":{
                    "住所":"大阪市都島区中野町5-9-5",
                    "電話":"06-6923-5604",
                    "画像":"miyakojima007.jpg"
                }
            },
            "西区":{
                "五味八珍":{
                    "住所":"大阪市西区阿波座1-15-15",
                    "電話":"06-6538-3488",
                    "画像":"nishi001.jpg"
                },
                "信濃路":{
                    "住所":"大阪市西区靭本町3-7-1",
                    "電話":"06-6441-9751",
                    "画像":"nishi002.jpg"
                },
                "九州ラーメン博多":{
                    "住所":"大阪市西区新町1-12-4",
                    "電話":"06-6533-1828",
                    "画像":"nishi003.jpg"
                },
                "キッチン一歩":{
                    "住所":"大阪市西区土佐堀3-2-10",
                    "電話":"06-6445-5518",
                    "画像":"nishi004.jpg"
                },
                "尾道ラーメン十六番":{
                    "住所":"大阪市西区新町4-3-4日宝新町ビル1F",
                    "電話":"06-6543-0915",
                    "画像":"nishi005.jpg"
                },
                "竜馬亭":{
                    "住所":"大阪市西区新町4-16-13",
                    "電話":"06-6536-3306",
                    "画像":"nishi006.jpg"
                }
            },
            "生野区":{
                "らーめん一勢":{
                    "住所":"大阪市生野区中川西1-8-6",
                    "電話":"06-6741 -5466",
                    "画像":"ikuno001.jpg"
                },
                "福福ﾗｰﾒﾝ北巽店":{
                    "住所":"大阪市生野区巽北3-15-15",
                    "電話":"06-6753-3717",
                    "画像":"ikuno002.jpg"
                }
            },
            "此花区":{
                "醤油そば一信":{
                    "住所":"大阪市此花区春日出中2-14-23",
                    "電話":"06-6460-8566",
                    "画像":"konohana001.jpg"
                }
            },
            "西成区":{
                "かじわ屋":{
                    "住所":"大阪市西成区深江南２－１２－２０",
                    "電話":"06-6977-4888",
                    "画像":"nishinari001.jpg"
                }
            },
            "東成区":{
                "麺屋7.5Hz東成店":{
                    "住所":"大阪市東成区東今里1-5-27",
                    "電話":"06-6972-5574",
                    "画像":"higashinari001.jpg"
                },
                "二両半":{
                    "住所":"大阪市東成区東小橋3-9-21",
                    "電話":"06-6974-9238",
                    "画像":"higashinari002.jpg"
                }
            },
            "吹田市":{
                "要ん！修行坊":{
                    "住所":"大阪府吹田市岸部北5-18-7",
                    "電話":"06-6190-3914",
                    "画像":"suita001.jpg"
                },
                "秀一らあめん":{
                    "住所":"大阪市浪速区難波中2-10-70",
                    "電話":"06-6646-0765",
                    "画像":"suita002.jpg"
                },
                "台湾ラーメン海":{
                    "住所":"吹田市五月が丘北２－５２",
                    "電話":"06-6878-9550",
                    "画像":"suita003.jpg"
                },
                "中華そば専門店風龍本店":{
                    "住所":"吹田市垂水町1-8-3",
                    "電話":"06-6385-1189",
                    "画像":"suita004.jpg"
                },
                "吹田とっかり":{
                    "住所":"大阪府吹田市寿町1-3-3",
                    "電話":"06-6319-7553",
                    "画像":"suita005.jpg"
                },
                "南州屋":{
                    "住所":"大阪府吹田市天道町13-7",
                    "電話":"06-6385-7008",
                    "画像":"suita006.jpg"
                },
                "麺匠和":{
                    "住所":"大阪府吹田市泉町5-1-38",
                    "電話":"06-6378-0008",
                    "画像":"suita007.jpg"
                },
                "開運丸":{
                    "住所":"大阪府吹田市竹見台3-6-1アベニュー竹見台ビル1F",
                    "電話":"06-6834-8499",
                    "画像":"suita008.jpg"
                },
                "麺屋五大力":{
                    "住所":"大阪府吹田市岸部北5-39-17-102",
                    "電話":"06-6877-9155",
                    "画像":"suita009.jpg"
                },
                "熊きち":{
                    "住所":"大阪府吹田市新芦屋下9-6",
                    "電話":"06-6875-1430",
                    "画像":"suita010.jpg"
                },
                "麺之介":{
                    "住所":"大阪府吹田市内本町2-1-11",
                    "電話":"06-6382-5535",
                    "画像":"suita011.jpg"
                },
                "麺屋柊助":{
                    "住所":"大阪府吹田市片山町1-3-5",
                    "電話":"06-6380-3711",
                    "画像":"suita012.jpg"
                }
            },
            "高槻市":{
                "長浜ラーメン鷹":{
                    "住所":"大阪府高槻市西町12-1",
                    "電話":"072-690-0500",
                    "画像":"takatsuki001.jpg"
                },
                "彩色ラーメンきんせい":{
                    "住所":"高槻市栄町2-19-7 サカエ第5ビル",
                    "電話":"072-696-2448",
                    "画像":"takatsuki002.jpg"
                },
                "一発屋":{
                    "住所":"高槻市城北町2-14-23",
                    "電話":"072-661-6061",
                    "画像":"takatsuki003.jpg"
                },
                "ラーメン横綱":{
                    "住所":"大阪府高槻市南芥川町16-6",
                    "電話":"072-682-4554",
                    "画像":"takatsuki004.jpg"
                }
            },
            "茨木市":{
                "一作茨木店":{
                    "住所":"大阪府茨木市野々宮2-9-18",
                    "電話":"072-635-1241",
                    "画像":"ibaraki001.jpg"
                },
                "幸楽苑":{
                    "住所":"大阪府茨木市島3-4-16",
                    "電話":"072-632-5120",
                    "画像":"ibaraki002.jpg"
                }
            },
            "摂津市":{
                "ふくふく丸":{
                    "住所":"大阪府摂津市千里丘7-10-24",
                    "電話":"06-6389-9929",
                    "画像":"settsu001.jpg"
                },
                "とっかり":{
                    "住所":"大阪府摂津市正雀本町1-25-10",
                    "電話":"06-6382-9454",
                    "画像":"settsu002.jpg"
                },
                "九州ラーメンどんたく屋":{
                    "住所":"大阪府摂津市鳥飼上3-19-16",
                    "電話":"072-654-3733",
                    "画像":"settsu003.jpg"
                }
            },
            "守口市":{
                "風神ラーメン":{
                    "住所":"大阪府守口市大宮通4-12-19",
                    "電話":"06-6998-1986",
                    "画像":"moriguchi001.jpg"
                },
                "新福菜館守口店":{
                    "住所":"大阪府守口市京阪本通1-2-12",
                    "電話":"06-6991-1755",
                    "画像":"moriguchi002.jpg"
                },
                "四神伝":{
                    "住所":"大阪府守口市藤田町3-20-12",
                    "電話":"06-6904-0888",
                    "画像":"moriguchi003.jpg"
                },
                "秀楽":{
                    "住所":"大阪府守口市西郷通2-9-13",
                    "電話":"06-6991-4446",
                    "画像":"moriguchi004.jpg"
                },
                "白馬童子":{
                    "住所":"大阪府守口市佐太中町7-20-6",
                    "電話":"06-6903-0141",
                    "画像":"moriguchi005.jpg"
                },
                "らぁめん夢屋台":{
                    "住所":"大阪府守口市佐太中町3-1-1",
                    "電話":"06-6900-8250",
                    "画像":"moriguchi006.jpg"
                }
            },
            "寝屋川市":{
                "丸福ラーメン":{
                    "住所":"大阪府寝屋川市石津元町1-12",
                    "電話":"072-829-5979",
                    "画像":"neyagawa001.jpg"
                }
            },
            "門真市":{
                "太陽軒らあめん":{
                    "住所":"大阪府門真市打越町1-5",
                    "電話":"072-884-6778",
                    "画像":"kadoma001.jpg"
                }
            },
            "枚方市":{
                "赤玉ラーメン":{
                    "住所":"大阪府枚方市山之上北町70-32",
                    "電話":"072-843-2469",
                    "画像":"hirakata001.jpg"
                }
            },
            "堺市":{
                "龍旗信":{
                    "住所":"大阪府堺市西区浜寺石津町西4-1-19-1F",
                    "電話":"072-245-2040",
                    "画像":"sakai001.jpg"
                }
            }
        }
    }
}
</pre>
</p>


          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>