<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include googlemap %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">jQueryのプラグインで表示</div>
          <div class="panel-body">

<p>
<a href="demo/webapi/googlemap-19/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
<a href="http://blog.bumberboom.net/archives/monthly/2010_09/google-maps-api-v3-jquery.php" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-info-sign"></i> 参考：Google Maps API V3 jQuery プラグイン
</a>
</p>

</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
&lt;head&gt;
&lt;meta charset="utf-8"&gt;
&lt;meta name="viewport" content="initial-scale=1.0,user-scalable=no"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script src="http://maps.google.com/maps/api/js?sensor=true&language=ja"&gt;&lt;/script&gt;
&lt;script src="jquery.gmap3.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(function(){

    // Googleマップの埋め込み
    var gmap = $("#map").gmap3({
         
        //初期表示位置の指定
        latitude:   34.701912, // 緯度
        longitude: 135.494961, // 経度
        zoom: 15,              // ズームレベル
         
        //各コントロールの表示／非表示
        navigationControl: true,
        mapTypeControl: false,
        scaleControl: true,
         
        //マーカーの設置
        markers: [
            {
                address: '〒530-0001 大阪府大阪市北区梅田３丁目',
                title: 'JR大阪駅',
                content: '&lt;div class="popup"&gt;&lt;h4&gt;JR大阪駅&lt;/h4&gt;&lt;p&gt;〒530-0001&lt;br&gt;大阪府大阪市北区梅田３丁目&lt;/p&gt;&lt;/div&gt;',
                icon: 'kumamon.gif',
                openInfo: true
            },
            {
                //2つ目のマーカー
            },
            {
                //3つ目のマーカー
            }
        ]
         
    }).data('gmap');
});
&lt;/script&gt;
&lt;style&gt;
html,body{
  width:100%;
  height:100%;
  margin:0;
}
#map{
    width:100%;
    height:100%;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div id="map"&gt;&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>