<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Youtube動画検索</div>
          <div class="panel-body">

<p>Youtubeの動画を検索します。</p>

<p>まずGoogle apisからAPI Keyを取得する必要があります。Servicesメニューから「YouTube Data API v3」を「ON」にします。</p>

<p>
<a href="demo/webapi/exercise27/index.html" target="_blank" class="btn btn-default">
<i class="glyphicon glyphicon-play"></i> デモ
</a>
</p>

<pre class="prettyprint linenums">
&lt;!DOCTYPE HTML&gt;
&lt;html lang="ja"&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(document).on('pageshow','#index',function(){

    show('阪神タイガース');

    //検索ボックス
    $('#index').on('keypress','#search',function(e){
        show($('#search').val());
    });
});

function show(keyword){
    $.ajax({
        url: 'https://www.googleapis.com/youtube/v3/search',
        dataType: 'jsonp',
        type: 'GET',
        data: 'part=snippet&maxResults=50&q=' + keyword + '&max-result=50&key=AIzaSyCLpk_z1gbA423gb9CtUVAW3NmXO65Si2Q',
        success:function(data){
            console.log(data);

            var html = '';
            for(var i = 0; i &lt; data.items.length; i++){
                console.log(data.items[i].id.videoId);
                html += '&lt;li&gt;&lt;a href="http://www.youtube.com/watch?v=' + data.items[i].id.videoId  + '" target="_blank"&gt;\
                &lt;img src="' + data.items[i].snippet.thumbnails.high.url + '"&gt;\
                &lt;h2&gt;' + data.items[i].snippet.title + '&lt;/h2&gt;\
                &lt;p&gt;' + data.items[i].snippet.description + '&lt;/p&gt;\
                &lt;p class="ui-li-aside"&gt;' + data.items[i].snippet.publishedAt + '&lt;/p&gt;\
                &lt;/a&gt;&lt;/li&gt;'
            }

            $('[data-role="listview"]').html(html).listview('refresh');
        }
    });
}
&lt;/script&gt;
&lt;style&gt;
.ui-li-thumb{
    width:300px;
    height:300px;
}
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div data-role="page" id="index"&gt;
    &lt;div data-role="header"&gt;
        &lt;h1&gt;Youtube Data API v3&lt;/h1&gt;
    &lt;/div&gt;
    &lt;div data-role="content"&gt;
        &lt;input type="search" id="search"&gt;
        &lt;ul data-role="listview" data-inset="true"&gt;
        &lt;/ul&gt;
    &lt;/div&gt;
    &lt;div data-role="footer" data-position="fixed"&gt;
        &lt;h4&gt;Copyright &copy; ナカノヨウスケ&lt;/h4&gt;
    &lt;/div&gt;
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>