<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

            <div class="list-group">
                 <a href="webapi-14" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング①
                 </a>
                 <a href="webapi-15" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング②
                 </a>
                 <a href="webapi-16" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング③
                 </a>
                 <a href="webapi-17" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング④
                 </a>
                 <a href="webapi-18" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑤
                 </a>
                 <a href="webapi-19" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑥
                 </a>
                 <a href="webapi-20" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑦
                 </a>
                 <a href="webapi-21" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑧
                 </a>
                 <a href="webapi-22" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑨
                 </a>
                 <a href="webapi-23" class="list-group-item">
                 <i class="badge badge-info"></i> Ajaxでページング⑩
                 </a>
            </div>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">Ajaxでページング②</div>
          <div class="panel-body">

<h4>index.html</h4>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt; 
&lt;title&gt;&lt;/title&gt;
&lt;script src="http://code.jquery.com/jquery-1.10.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
 
&lt;/script&gt;
&lt;style&gt;
 
&lt;/style&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;div id="container"&gt;
     
    &lt;h1&gt;&lt;img src="images/header.jpg" alt="新着書籍" /&gt;&lt;/h1&gt;
     
    &lt;div id="content"&gt;
        &lt;p class="loading"&gt;&lt;img src="images/loading.gif" alt="" /&gt;&lt;/p&gt;
    &lt;/div&gt;
     
    &lt;ul class="pager"&gt;
        &lt;li&gt;&lt;a href="data1.html"&gt;1&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="data2.html"&gt;2&lt;/a&gt;&lt;/li&gt;
        &lt;li&gt;&lt;a href="data3.html"&gt;3&lt;/a&gt;&lt;/li&gt;
    &lt;/ul&gt;
     
&lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>

  </body>
</html>