extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include ../framework/navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;AngularJSの設定
                    .panel-body
                        p 「AngularJS」では直接、htmlに「モジュール」や「コントローラ」の設定情報を記入していきます。
                        p 書き方は、以下の2つがあります。
                        table.table
                            tr
                                th 方法
                                th 書き方
                            tr
                                td 「Attribute」に書く
                                td 「class」に書く
                            tr
                                td ng-app="AngularModule"
                                td clas="ng-app: AngularModule"
                        p 今回は『Attribute」に書く』方法を採用します。
                        p 「AngularJS」は、「IE」の「6」以降のバージョンに対応しています。
                        p ただし、「IE8」以前のバージョンで使う場合は、「ng-app」を指定しているエレメントに「id="ng-app"」を指定してください。
                        p また、「ng-app」の書き方は、以下のものが用意されています。
                        table.table
                            tr
                                th="<<「ng-app」の書き方>>"
                            tr
                                td
                                    | (a) ng-app<br>
                                    | (b) ng:app<br>
                                    | (c) data-ng-app<br>
                                    | (d) x-ng-app
                        p 今回は、(a)の「ng-app形式」で書いていきます。