extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include ../framework/navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;AngularJS資料
                    .panel-body
                        p
                            | AngulaurJS
                            br
                            a(href='http://angularjs.org/',target='_blank')
                                | http://angularjs.org/
                        p
                            | Angular APIドキュメント
                            br
                            a(href='http://docs.angularjs.org/api/',target='_blank')
                                | http://docs.angularjs.org/api/
                        hr
                        h4 その他のクライアントMVCフレームワーク
                        pre
                            :code
                                Backbone.js
                                http://backbonejs.org/

                                Knockout
                                http://knockoutjs.com/

                                Sails
                                http://sailsjs.org/

                        pre
                            :code
                                ドットインストール
                                    
                                AngularJS入門
                                http://dotinstall.com/lessons/basic_angularjs

                                AngularJSで作るToDoアプリ
                                http://dotinstall.com/lessons/todo_angularjs

                                AngularJSで作るYouTube検索
                                http://dotinstall.com/lessons/youtube_search_angularjs

