@charset "utf-8";
@import url("http://fonts.googleapis.com/css?family=Dosis:400,500,700");
/*------------------------------------------------------------
     リセット
------------------------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
figure {
  margin: 0;
  padding: 0;
  background: transparent;
  border: 0;
  outline: 0;
  font-size: 1em;
}
body,
table,
input,
textarea,
select,
option {
  font-family: HiraKakuProN-W3;
  font-size: 1em;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:focus {
  outline: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*------------------------------------------------------------
     クリアフィクス
------------------------------------------------------------*/
.cf {
  zoom: 1;
}
.cf:after {
  content: "";
  display: block;
  clear: both;
}
/*------------------------------------------------------------
     リンク
------------------------------------------------------------*/
a:link {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(255,0,0,0.2);
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #fff;
  text-decoration: none;
}
/*------------------------------------------------------------
     レイアウト
------------------------------------------------------------*/
body {
  line-height: 1.5;
  font-size: 16px;
  color: #fff;
  -webkit-text-size-adjust: none;
  font-family: 'Dosis', sans-serif;
  background: -webkit-radial-gradient(#000 15%, transparent 16%) 0 0, -webkit-radial-gradient(#000 15%, transparent 16%) 8px 8px, -webkit-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, -webkit-radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background: radial-gradient(#000 15%, transparent 16%) 0 0, radial-gradient(#000 15%, transparent 16%) 8px 8px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 0 1px, radial-gradient(rgba(255,255,255,0.1) 15%, transparent 20%) 8px 9px;
  background-size: 16px 16px;
  background-color: #282828;
}
/*------------------------------------------------------------
     ヘッダー
------------------------------------------------------------*/
#home #header {
  background: url("../images/header_bg.png") no-repeat center bottom;
  -webkit-background-size: 100%;
  background-size: 100%;
  height: 320px;
}
#header .inner {
  width: 320px;
  margin: 0 auto;
  position: relative;
}
#header li {
  position: absolute;
}
#header .new {
  position: absolute;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff7503), to(#2e1605));
  background: -webkit-linear-gradient(top, #ffa140 0%, #ff7503 100%);
  background: linear-gradient(top, #ffa140 0%, #ff7503 100%);
  width: 40px;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  text-align: center;
  -webkit-border-radius: 20px;
  text-shadow: -1px -1px 1px rgba(0,0,0,0.4);
  font-weight: 700;
}
.title_area {
  position: absolute;
  width: 116px;
  height: 115px;
  position: absolute;
  right: 15px;
  top: 0;
  background: url("../images/header_title_bg.png") no-repeat right top;
  -webkit-background-size: 116px 115px;
  background-size: 116px 115px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px 12px;
  font-size: 8px;
  text-align: center;
}
.title_area span {
  display: block;
  margin-top: 6px;
  line-height: 1.1;
  font-size: 26px;
}
.t01 {
  left: 5px;
  top: 5px;
}
.t01 .new {
  left: 10px;
  top: 130px;
}
.t01 .text {
  font-size: 67.5%;
  position: absolute;
  left: 58px;
  top: 135px;
}
.t02 {
  left: 213px;
  top: 97px;
}
.t02 .new {
  left: -10px;
  top: 42px;
}
.t03 {
  left: 10px;
  top: 200px;
}
.t04 {
  left: 117px;
  top: 200px;
}
.t05 {
  left: 213px;
  top: 200px;
}
/*------------------------------------------------------------
     フッター
------------------------------------------------------------*/
#footer {
  border-top: 1px solid #525252;
  padding: 20px 0;
  text-align: center;
  font-size: 75%;
}
