.list-group
	a.list-group-item.active
		| ライブラリ
	a.list-group-item(href='../library/1')
		i.badge.badge-info
		| 資料
.list-group
	a.list-group-item.active
		| underscore.js
	a.list-group-item(href='../underscore/1')
		i.badge.badge-info
		| 資料
.list-group
	a.list-group-item.active
		| RequireJS
	a.list-group-item(href='../requirejs/1')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='../requirejs/2')
		i.badge.badge-info
		| RequireJSの設定

