extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;JavaScriptライブラリ
                    .panel-body
                        h4 ライブラリ
                        pre
                            :code
                                UI

                                Apycom Menu
                                http://apycom.com/

                                Gmap3
                                http://gmap3.net/

                                monitter widgets
                                Visualize
                                Star Rating
                                Zoombox
                                SliderKit
                                SocialButton
                                zRSSFeed
                                vTicker
                                Snippet
                                Validation
                                TableFixedHeader
                                Plupload
                                Booklet
                                FormToWizard
                                jquery.createvideo
                                jMP3
                                Chosen
                                Twitter Bootstrap
                                bubble-tooltip
                                Folder tree with drag and drop
                                modal message
                                slidedown-menu2
                                竹取JS
                                FullCalendar
                                jpPlot
                                uploadify
                                Flot
                                jQuery UI
                                Accordion
                                AutoComplete
                                Datepicker
                                Dialog
                                Slider
                                Resizable
                                Draggable & Droppable
                                Selectable
                                Sortable
                                Menu
                                Tabs
                                Tooltip
                                Facebox
                                jqGrid
                                jquery-notice
                                jQuery Knob
                                jQuery.calendarPicker
                                prettyLoader
                                prettyPopin
                                Uniform


                        pre
                            :code
                                スマートフォン
                                iUI
                                jqMini
                                JqMobi
                                quo.js
                                http://quojs.tapquo.com/
                                Zoery
                                jAction
                                Zepto.js
                                glossy.js
                                http://www.netzgesta.de/glossy/
                                ResponsiveSlides.js
                                http://responsive-slides.viljamis.com/

                        pre
                            :code
                                パララックスサイト

                                slrollr
                                https://github.com/Prinzborn/skrollr

                                skrollr-menu
                                https://github.com/Prinzborn/skrollr-menu

                                Jarallax
                                http://www.jarallax.com/

                                Scrolly
                                http://lab.victorcoulon.fr/javascript/scrolly/

                                Parallax.js
                                http://wagerfield.github.io/parallax/

                                stellar.js
                                http:///markdalgleish.com/projects/stellar.js

                                Plax
                                https://github.com/cameronmcefee/Plax

                                Pallax Scrolling
                                https://github.com/richardshepherd/Parallax-Scrolling

                                Boxer
                                http://formstone.it/components/Boxer

                                Sticky
                                http://stickyjs.com/

                                fullPage.js
                                http://alvarotrigo.com/fullPage/

                        pre
                            :code
                                HTML5対応

                        pre
                            :code
                                CSS3対応
                        pre
                            :code
                                レスポンシブWebデザイン

                                Respond.js
                                https://github.com/stottjeh/Respond
                        pre
                            :code

                                小ネタ
                                jquery.cookie
                                CoffeeScript
                                enchant.js
                                jStorage
                                Raphaël
                                suggest.js
                                TaffyDB

                        pre
                            :code
                                フレームワーク
                                Angular.js
                                Ember.js
                                Express.js
                                Ext JS
                                flatiron.js
                                Sammy.js
                                YUI
                                qooxdoo
                                Backbone.js
                                Knockout
                                linq.js
                                linq.jquery.js
                                batman.js
                                Spine.js
                                RxJS
                                SNBinder
                                Underscore.js

                        pre
                            :code

                                テスト
                                Buster.JS
                                chai.js
                                JSTestDriver
                                Mocha
                                Sinon.js
                                TestSwarm
                                Jasmine
                                JsMockkito
                                QUnit
