nav.navbar.navbar-default
    .navbar-header
        button.navbar-toggle(data-toggle='collapse', data-target='.target')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/')
          =title
      .collapse.navbar-collapse.target
        ul.nav.navbar-nav
          li
            a(href='../js-39.ejs') 文法
          li
            a(href='../library/1') ライブラリ
          li
            a(href='../jsdoc/1') JSDoc
          li
            a(href='../jasmine/1') テスト駆動
          li
            a(href='../jsrecipe-1.ejs') レシピ
        ul.nav.navbar-nav.navbar-right
          li
            a(href='http://jasmine.github.io/2.0/introduction.html', target='_blank') API
