doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		a(href='http://www.yahoo.co.jp/')
			| Yahoo!
			span: img(src='img/ic_yahoo.png')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
