doctype html
html(lang='ja')
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width,initial-scale=1.0,user-scalable=no')
    title
    link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
    script(src='http://code.jquery.com/jquery-1.9.1.min.js')
    script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
    script
        :js
            (function(){
                // ローカルストレージから読み出す
                $(document).on('pageshow','#index',function(){
                    var data = window.localStorage.getItem('textData');
                    $('#userComment').val(data);
                });
            })()
    body
        #index(data-role='page')
            div(data-role='header')
                h1 ローカルストレージから読み出し
            div(data-role='content')
                form
                    textarea#userComment(cols='20', rows='5')
            div(data-role='footer', data-position='fixed')
                h1 フッター