doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		for i in new Array(2)
			ul
				for j in new Array(4)
					li テキストテキストテキストテキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
