doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        title トップ｜カフェビーン
        link(rel='stylesheet', href='css/style26.css', media='all')
    body
        header
            hgroup
                h1
                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                h2 季節のコーヒーとくつろぎの空間
            nav
                ul
                    li
                        a(href='#') ホーム
                    li
                        a(href='#') コーヒー
                    li
                        a(href='#') メニュー
                    li
                        a(href='#') アクセス
        #contents
            #main
                section#vitamin
                    h3 カフェ ビーンへようこそ
                    p
                    | 飯田橋駅から徒歩5分。閑静な都心の住宅街の中にカフェ ビーンはあります。
                    a(href='http://www.allianceforcoffeeexcellence.org/en/') カップオブエクセレンス
                    | の入賞作品をはじめ、オーナー自らが世界中から直接買い付けてきたこだわりのコーヒーと、くつろぎの空間をご用意してお待ちしています。
                section#reciept
                    h3 おいしい一杯へのこだわり
                    h4 1.旬なコーヒー豆を毎日お店で焙煎
                    img(src='images/cafe01.jpg', alt='写真　コーヒー豆')
                    p カフェ・ビーンのコーヒー豆はいつも新鮮。世界中から毎週入荷するニュークロップを直火式の小型ロースターで毎日少しずつお店で焙煎しています。
                    h4 2.注文ごとに1杯ずつドリップ
                    img(src='images/cafe02.jpg', alt='写真　コーヒードリップ')
                    p 新鮮なのは豆だけではありません。コーヒードリンクはすべて、注文をいただいてから1杯ずつ丁寧にハンドドリップで提供します。
            #sub
                aside
                    h4 私たちがお迎えします
                    img(src='images/cafe03.jpg', alt='写真　スタッフ')
                    p 老舗喫茶店で10年間経験を積んだオーナーと接客経験豊富なホールスタッフが笑顔でお出迎えします。
        footer
            p
                small ©2013 CAFE BEAN