doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1.0')
        title トップ｜カフェビーン
    body
        header
            hgroup
                h1
                    img(src='images/logo.png', alt='ロゴ　カフェ　ビーン')
                h2 季節のコーヒーとくつろぎの空間
            nav
                ul
                    li
                        a(href='#') ホーム
                    li
                        a(href='#') コーヒー
                    li
                        a(href='#') メニュー
                    li
                        a(href='#') アクセス

