extends ../../layout

block link
	link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../../css/style.css',rel='stylesheet',media='screen')
	link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;Node.jsデプロイ環境構築
					.panel-body
						.alert.alert-info Node.jsのインストール
						p OSのアップデート
						h4 CentOS 64bit
						pre
							:code
								sudo yum -y update
						h4 Ubuntu 32bit
						pre
							:code
								sudo apt-get update
						p 依存パッケージのダウンロード
						pre
							:code
								sudo yum -y install git-core git scons build-essential scons libpcre++-dev xulrunner-dev libboost-dev libboost-program-options-dev libboost-thread-dev libboost-filesystem-dev
						pre
							:code
								sudo apt-get install git-core git scons build-essential scons libpcre++-dev xulrunner-dev libboost-dev libboost-program-options-dev libboost-thread-dev libboost-filesystem-dev
						pre
							:code
								gcc、g++必要
								sudo apt-get install gcc g++
						p Node.jsのソースをダウンロード
						pre
							:code
								wget http://nodejs.org/dist/v0.10.25/node-v0.10.25.tar.gz
						p Node.jsのソースの解凍
						pre
							:code
								tar -zxf node-v0.10.25.tar.gz
						p Node.jsのソースのビルド
						pre
							:code
								cd node-v0.10.25
								./configure
								make
						p Node.jsのインストール
						pre
							:code
								sudo make install
						p foreverとhttp-proxyのインストール
						h4 CentOS 64bit
						pre
							:code
								su
								パスワード: vagrant
								npm install -g forever http-proxy
						h4 Ubuntu 32bit
						pre
							:code
								sudo npm install -g forever http-proxy
						hr
						.alert.alert-info ベアリポジトリの作成
						pre
							:code
								cd ~
								mkdir myapp.git
								cd myapp.git
								git --bare init --shared

								#git --bare init
								#git init --bare --shared=0640 myapp.git
								#git init --bare --shared=true myapp.git


								/*
								sudo vim ~/myapp.git/hooks/pre-receive

								#!/bin/sh
								echo "Stop myapp service"
								service myapp stop

								sudo chmod +x /home/vagrant/myapp.git/hooks/pre-receive
								*/
								sudo yum install -y vim

								sudo vim /home/vagrant/myapp.git/hooks/post-receive

								/*
								#!/bin/sh
								echo "Checkout the Files"
								GIT_WORK_TREE=/home/vagrant/myapp.git git checkout -f
								echo "start service"
								service nsmag start
								*/

								#!/bin/sh
								GIT_WORK_TREE=/home/vagrant/myapp
								export GIT_WORK_TREE
								git checkout -f


								sudo chmod +x /home/vagrant/myapp.git/hooks/post-receive



								ローカルリポジトリ
								gitの設定
								git config --global user.name "Yohsuke Nakano"
								git config --global user.email hoge@sample.com

								.gitignoreに記述
								.DS_Store
								node_modules

								git init
								git add .
								git commit -m "first commit"

								=============================

						.alert.alert-info リモートリポジトリへのプッシュ
						pre
							:code
								git remote add origin vagrant@192.168.33.10:/home/vagrant/myapp.git
								git push -u origin master
								password: vagrant

						pre
							:code
								マニュアル
								http://www.saturngod.net/deploy-node-js-website-with-git
								http://stackoverflow.com/questions/9132144/how-can-i-automatically-deploy-my-app-after-a-git-push-github-and-node-js

								http://futuremix.org/2007/08/openssh-warning
