extends ../../layout

block link
	link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../../css/style.css',rel='stylesheet',media='screen')
	link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include ../navbar
	.container
		.row
			.col-sm-3
				include ../left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;Node.jsデプロイ環境構築
					.panel-body
						.alert.alert-info OSのアップデート
						p: u CentOS
						pre
							:code
								sudo yum -y update
						p: u  Ubuntu
						pre
							:code
								sudo apt-get update
						hr
						.alert.alert-info Node.jsのインストールに必要な依存パッケージのダウンロード
						p: u CentOS
						pre
							:code
								sudo yum -y install git-core git scons build-essential scons libpcre++-dev xulrunner-dev libboost-dev libboost-program-options-dev libboost-thread-dev libboost-filesystem-dev
						p: u  Ubuntu
						pre
							:code
								sudo apt-get install git-core git scons build-essential scons libpcre++-dev xulrunner-dev libboost-dev libboost-program-options-dev libboost-thread-dev libboost-filesystem-dev
						p ついでにインストールされていなかったときのためにvim gcc、g++
						pre
							:code
								sudo yum install -y wget vim gcc g++		
						pre
							:code
								sudo apt-get install wget vim gcc g++
						hr
						.alert.alert-info Node.jsのインストール
						p Node.jsのソースのダウンロード
						pre
							:code
								wget http://nodejs.org/dist/v0.10.25/node-v0.10.25.tar.gz
						p Node.jsのソースの解凍
						pre
							:code
								tar -zxf node-v0.10.25.tar.gz
						p Node.jsのソースのビルド
						pre
							:code
								cd node-v0.10.25
								./configure
								make
						p Node.jsのインストール
						pre
							:code
								sudo make install
						hr
						.alert.alert-info 必要なnpmグローバルパッケージのインストール
						p foreverとhttp-proxyのインストール
						h4 CentOS
						p CentOSの場合、「sudo npm install -g」ができないので、ルートユーザにログインしなおす。
						pre
							:code
								su
								password: vagrant
								npm install -g forever http-proxy
								su vagrant
								password: vagrant
						h4 Ubuntu
						pre
							:code
								sudo npm install -g forever http-proxy hotnode
						hr
						.alert.alert-info ベアリポジトリの作成
						pre
							:code
								cd ~
								mkdir myapp.git
								cd myapp.git
								git init --bare --shared

								post-receiveにhook
								sudo vim /home/vagrant/myapp.git/hooks/post-receive

								#!/bin/sh
								GIT_WORK_TREE=/home/vagrant/myapp
								export GIT_WORK_TREE
								git checkout -f

								//パーミッションの変更
								sudo chmod +x /home/vagrant/myapp.git/hooks/post-receive
						pre
							:code
								ローカルリポジトリ
								gitの設定
								git config --global user.name "Yohsuke Nakano"
								git config --global user.email hoge@sample.com

								.gitignoreに記述
								.DS_Store
								node_modules

								git init
								git add .
								git commit -m "first commit"
						hr
						.alert.alert-info リモートリポジトリへのプッシュ
						p デプロイして公開するリポジトリになるため、「origin」ではなく、明示的に「deploy」としておくとよい。
						pre
							:code
								git remote add deploy vagrant@192.168.33.10:/home/vagrant/myapp.git

								git push -u deploy master
								password: vagrant

						pre
							:code
								資料
								http://www.saturngod.net/deploy-node-js-website-with-git
								http://stackoverflow.com/questions/9132144/how-can-i-automatically-deploy-my-app-after-a-git-push-github-and-node-js

								http://futuremix.org/2007/08/openssh-warning
