doctype
html
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style1.css')
    body
        #carouselWrap
            #carouselInner
                ul.column
                    li
                        a(href='#')
                            img(src='img/photo1_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo2_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo3_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo4_thum.jpg', alt='')
                ul.column
                    li
                        a(href='#')
                            img(src='img/photo5_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo6_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo7_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo8_thum.jpg', alt='')
                ul.column
                    li
                        a(href='#')
                            img(src='img/photo9_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo10_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo11_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo12_thum.jpg', alt='')
                ul.column
                    li
                        a(href='#')
                            img(src='img/photo13_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo14_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo15_thum.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo16_thum.jpg', alt='')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script1.js')