<%- include ../head %>
  <body>
  
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        
        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-bookmark"></i> 課題</div>
          <div class="panel-body">
            <p>関数に引数を用意して、ラジオボタンによって画像の表示数を切り替えられるようにしましょう。またボタンを押した後は、ボタンを消してみましょう。早く終わったらPhonegapでアプリに変換してみましょう。</p>
            <p>
              <a href="demo/js/excercise32/index.html" target="_blank" class="btn btn-default">
              <i class="glyphicon glyphicon-play"></i> デモ
              </a>
              <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
              <i class="glyphicon glyphicon-question-sign"></i> 解答例
              </button>
            </p>

<div id="demo" class="collapse out">

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang='ja'&gt;
  &lt;head&gt;
    &lt;meta charset='UTF-8'&gt;
    &lt;meta content='width=device-width, user-scalable=no' name='viewport'&gt;
    &lt;link href='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css' rel='stylesheet'&gt;
    &lt;script src='http://code.jquery.com/jquery-1.9.1.min.js'&gt;&lt;/script&gt;
    &lt;script src='http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js'&gt;&lt;/script&gt;
    &lt;title&gt;
      ランダムイメージ
    &lt;/title&gt;
    &lt;script&gt;
      (function(){
        $(document).on('pageshow','#index',function(){
          
          $('a').on('vclick',function(){
            var num = parseInt($('input[type="radio"]:checked').val());
            randomImage(num);
            $('form').remove();
            $(this).remove();
          });
      
          //画像削除
          $('#index').on('vclick','img',function(){
            $(this).remove();
          });
          
          function randomImage(num){
            for(var i = 0; i &lt; num; i++){
              $('#canvas').append('&lt;img src="kumamon.gif" alt=""&gt;');
              $('img:nth(' + i + ')').css({
                top: Math.floor(Math.random() * (480-64)),
                left: Math.floor(Math.random() * (innerWidth-64)),
              });
            }
          }
        });
      })();
    &lt;/script&gt;
    &lt;style&gt;
      [data-role="content"] #canvas {
        position: relative;
        height: 480px; }
      [data-role="content"] img {
        width: 64px;
        height: 64px;
        position: absolute; }
    &lt;/style&gt;
  &lt;/head&gt;
  &lt;body&gt;
    &lt;div data-role='page' id='index'&gt;
      &lt;div data-role='header'&gt;
        &lt;h1&gt;
          ランダムイメージ
        &lt;/h1&gt;
      &lt;/div&gt;
      &lt;div data-role='content'&gt;
        &lt;form&gt;
          &lt;fieldset data-role='controlgroup'&gt;
            &lt;legend&gt;
              レベル:
            &lt;/legend&gt;
            &lt;input checked='checked' id='l1' name='level' type='radio' value='10'&gt;
            &lt;label for='l1'&gt;
              10体
            &lt;/label&gt;
            &lt;input id='l2' name='level' type='radio' value='20'&gt;
            &lt;label for='l2'&gt;
              20体
            &lt;/label&gt;
            &lt;input id='l3' name='level' type='radio' value='30'&gt;
            &lt;label for='l3'&gt;
              30体
            &lt;/label&gt;
          &lt;/fieldset&gt;
        &lt;/form&gt;
        &lt;a data-role='button'&gt;
          スタート
        &lt;/a&gt;
        &lt;div id='canvas'&gt;&lt;/div&gt;
      &lt;/div&gt;
      &lt;div data-position='fixed' data-role='footer'&gt;
        &lt;h4&gt;
          Copyright &copy; ナカノヨウスケ
        &lt;/h4&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>
  </body>
</html>