<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>WEB・スマホ・アプリ開発科</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WEB・スマホ・アプリ開発科</a>
      </div>
 
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li><a href="js-39">文法</a></li>
          <li><a href="js-1">リファレンス</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <div class="list-group">
          <a href="js-1" class="list-group-item active">
          コアリファレンス[A]
          </a>
          <a href="js-2" class="list-group-item">
          コアリファレンス[B]
          </a>
          <a href="js-3" class="list-group-item">
          コアリファレンス[D]
          </a>
          <a href="js-4" class="list-group-item">
          コアリファレンス[E]
          </a>
          <a href="js-5" class="list-group-item">
          コアリファレンス[F]
          </a>
          <a href="js-6" class="list-group-item">
          コアリファレンス[G]
          </a>
          <a href="js-7" class="list-group-item">
          コアリファレンス[I]
          </a>
          <a href="js-8" class="list-group-item">
          コアリファレンス[J]
          </a>
          <a href="js-9" class="list-group-item">
          コアリファレンス[M]
          </a>
          <a href="js-10" class="list-group-item">
          コアリファレンス[N]
          </a>
          <a href="js-11" class="list-group-item">
          コアリファレンス[O]
          </a>
          <a href="js-12" class="list-group-item">
          コアリファレンス[P]
          </a>
          <a href="js-13" class="list-group-item">
          コアリファレンス[R]
          </a>
          <a href="js-14" class="list-group-item">
          コアリファレンス[S]
          </a>
          <a href="js-15" class="list-group-item">
          コアリファレンス[T]
          </a>
          <a href="js-16" class="list-group-item">
          コアリファレンス[U]
          </a>
        </div>
        <div class="list-group">
        <a href="js-17" class="list-group-item">
        クライアントリファレンス[A]
        </a>
        <a href="js-18" class="list-group-item">
        クライアントリファレンス[B]
        </a>
        <a href="js-19" class="list-group-item">
        クライアントリファレンス[C]
        </a>
        <a href="js-20" class="list-group-item">
        クライアントリファレンス[D]
        </a>
        <a href="js-21" class="list-group-item">
        クライアントリファレンス[E]
        </a>
        <a href="js-22" class="list-group-item">
        クライアントリファレンス[F]
        </a>
        <a href="js-23" class="list-group-item">
        クライアントリファレンス[G]
        </a>
        <a href="js-24" class="list-group-item">
        クライアントリファレンス[H]
        </a>
        <a href="js-25" class="list-group-item">
        クライアントリファレンス[I]
        </a>
        <a href="js-26" class="list-group-item">
        クライアントリファレンス[J]
        </a>
        <a href="js-27" class="list-group-item">
        クライアントリファレンス[K]
        </a>
        <a href="js-28" class="list-group-item">
        クライアントリファレンス[L]
        </a>
        <a href="js-29" class="list-group-item">
        クライアントリファレンス[M]
        </a>
        <a href="js-30" class="list-group-item">
        クライアントリファレンス[N]
        </a>
        <a href="js-31" class="list-group-item">
        クライアントリファレンス[O]
        </a>
        <a href="js-32" class="list-group-item">
        クライアントリファレンス[P]
        </a>
        <a href="js-33" class="list-group-item">
        クライアントリファレンス[S]
        </a>
        <a href="js-34" class="list-group-item">
        クライアントリファレンス[T]
        </a>
        <a href="js-35" class="list-group-item">
        クライアントリファレンス[U]
        </a>
        <a href="js-36" class="list-group-item">
        クライアントリファレンス[V]
        </a>
        <a href="js-37" class="list-group-item">
        クライアントリファレンス[W]
        </a>
        <a href="js-38" class="list-group-item">
        クライアントリファレンス[X]
        </a>
        </div>


        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">JavaScriptコアリファレンス[A]</div>
          <div class="panel-body">
<pre>
arguments[]
関数の引数の配列

コーディング形式

     arguments


解説

     arguments[]配列は、関数本体の中でのみ定義されます。関数本体の中では、argumentsは関数のArgumentsオブジェクトを参照します。このオブジェクトは番号付けされたプロパティを持ち、関数に渡されたすべての引数を含む配列として働きます。基本的にarguments識別子は、すべての関数内で自動的に宣言され初期化されたローカル変数です。arguments識別子は関数本体の中でのみArgumentsオブジェクトを参照し、グローバルコード内では未定義になります。


関連項目

     Arguments、『JavaScript第６版』（オライリー）の８章


Arguments
関数の引数と他のプロパティ

コーディング形式

     arguments
     arguments[n]


要素

     Argumentsオブジェクトは関数本体の中でのみ定義されます。Argumentsオブジェクトは厳密には配列ではありませんが、配列要素として機能する番号付けされたプロパティと配列要素の数を指定するlengthプロパティを持ちます。Argumentsオブジェクトの要素は、関数に引数として渡された値です。要素0が最初の引数で、要素1が2番目の引数というようになります。関数宣言で引数に名前が付けられているかどうかにかかわらず、引数として渡されたすべての値がArgumentsオブジェクトの配列要素となります。


プロパティ

     callee

          現在実行中の関数への参照。

     length

          関数に渡された引数の数。つまり、Argumentsオブジェクトの配列要素の数。


解説

     関数が呼び出されるとArgumentsオブジェクトが生成され、ローカル変数argumentsがそのArgumentsオブジェクトを参照するように自動的に初期化されます。Argumentsオブジェクトは主に、関数に渡された引数の数を調べたり、名前のない引数を参照したりするために使います。しかし、配列の要素とlengthプロパティに加え、calleeプロパティによる名前のない関数がそれ自信を参照できます。
     ほとんどの目的に対しては、Argumentsオブジェクトはcalleeプロパティが追加された配列と考えることができます。しかし、ArgumentsオブジェクトはArrayのインスタンスではなく、Arguments.lengthプロパティはArray.lengthプロパティのような特別な振る舞いをすることもないので、配列のサイズを変更するために使うことはできません。
     非strictモードでは、Argumentsオブジェクトには1つの非常の独特の機能があります。関数が名前付きの引数を持つと、Argumentsオブジェクトの配列要素は関数の引数を保持するローカル変数と同義になります。Argumentsオブジェクトと引数名は同じ変数を参照する2つの異なる方法を提供することになります。引数名を持つ引数の値を変更すると、Argumentsオブジェクトから取得する値を変更することになり、Argumentsオブジェクトで引数の値を変更すると、引数名で取得する値を変更することになります。
     

関連項目

     Function、『JavaScript 第６版』（オライリー）の８章



Arguments.callee


コーディング形式



解説


使用例



Arguments.length


コーディング形式

解説


使用例


関連項目




Array


コンストラクタ


引数



リターン値



例外



リテラル構文


プロパティ


メソッド





解説


関連項目





Array.concat()


コーディング形式



Array.every()




Array.filter()




Array.forEach()



Array.indexOf()



Array.join()



Array.lastIndexOf()



Array.length


Array.map()




Array.pop()




Array.push()



Array.reduce()




Array.reduceRight()



Array.reverse()


Array.shift()



Array.slice()



Array.some()



Array.sort()




Array.splice()




Array.toLocaleString()



Array.toString()



Array.unshift()



</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer" style="background:rgb(66, 139, 202);text-align:center;padding:0.6em;box-sizing:border-box;color:white;">WEB・スマホ・アプリ開発科</div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>