<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>WEB・スマホ・アプリ開発科</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">WEB・スマホ・アプリ開発科</a>
      </div>
 
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li><a href="">文法</a></li>
          <li><a href="">リファレンス</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <div class="list-group">
          <a href="js-1" class="list-group-item">
          コアリファレンス[A]
          </a>
          <a href="js-2" class="list-group-item">
          コアリファレンス[B]
          </a>
          <a href="js-3" class="list-group-item">
          コアリファレンス[D]
          </a>
          <a href="js-4" class="list-group-item">
          コアリファレンス[E]
          </a>
          <a href="js-5" class="list-group-item">
          コアリファレンス[F]
          </a>
          <a href="js-6" class="list-group-item">
          コアリファレンス[G]
          </a>
          <a href="js-7" class="list-group-item">
          コアリファレンス[I]
          </a>
          <a href="js-8" class="list-group-item">
          コアリファレンス[J]
          </a>
          <a href="js-9" class="list-group-item">
          コアリファレンス[M]
          </a>
          <a href="js-10" class="list-group-item">
          コアリファレンス[N]
          </a>
          <a href="js-11" class="list-group-item">
          コアリファレンス[O]
          </a>
          <a href="js-12" class="list-group-item">
          コアリファレンス[P]
          </a>
          <a href="js-13" class="list-group-item">
          コアリファレンス[R]
          </a>
          <a href="js-14" class="list-group-item">
          コアリファレンス[S]
          </a>
          <a href="js-15" class="list-group-item active">
          コアリファレンス[T]
          </a>
          <a href="js-16" class="list-group-item">
          コアリファレンス[U]
          </a>
        </div>
        <div class="list-group">
        <a href="js-17" class="list-group-item">
        クライアントリファレンス[A]
        </a>
        <a href="js-18" class="list-group-item">
        クライアントリファレンス[B]
        </a>
        <a href="js-19" class="list-group-item">
        クライアントリファレンス[C]
        </a>
        <a href="js-20" class="list-group-item">
        クライアントリファレンス[D]
        </a>
        <a href="js-21" class="list-group-item">
        クライアントリファレンス[E]
        </a>
        <a href="js-22" class="list-group-item">
        クライアントリファレンス[F]
        </a>
        <a href="js-23" class="list-group-item">
        クライアントリファレンス[G]
        </a>
        <a href="js-24" class="list-group-item">
        クライアントリファレンス[H]
        </a>
        <a href="js-25" class="list-group-item">
        クライアントリファレンス[I]
        </a>
        <a href="js-26" class="list-group-item">
        クライアントリファレンス[J]
        </a>
        <a href="js-27" class="list-group-item">
        クライアントリファレンス[K]
        </a>
        <a href="js-28" class="list-group-item">
        クライアントリファレンス[L]
        </a>
        <a href="js-29" class="list-group-item">
        クライアントリファレンス[M]
        </a>
        <a href="js-30" class="list-group-item">
        クライアントリファレンス[N]
        </a>
        <a href="js-31" class="list-group-item">
        クライアントリファレンス[O]
        </a>
        <a href="js-32" class="list-group-item">
        クライアントリファレンス[P]
        </a>
        <a href="js-33" class="list-group-item">
        クライアントリファレンス[S]
        </a>
        <a href="js-34" class="list-group-item">
        クライアントリファレンス[T]
        </a>
        <a href="js-35" class="list-group-item">
        クライアントリファレンス[U]
        </a>
        <a href="js-36" class="list-group-item">
        クライアントリファレンス[V]
        </a>
        <a href="js-37" class="list-group-item">
        クライアントリファレンス[W]
        </a>
        <a href="js-38" class="list-group-item">
        クライアントリファレンス[X]
        </a>
        </div>


        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">JavaScriptコアリファレンス[T]</div>
          <div class="panel-body">
<pre>
TypeError





</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer" style="background:rgb(66, 139, 202);text-align:center;padding:0.6em;box-sizing:border-box;color:white;">WEB・スマホ・アプリ開発科</div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>