<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> イベントハンドラ</div>
          <div class="panel-body">
<h4>イベントハンドラ</h4>

  <p>
  <a href="https://developer.mozilla.org/ja/docs/Web/API/GlobalEventHandlers" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考: GlobalEventHandlers
  </a>
  </p>
<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;
&lt;input type="button" id="disp1" value="表示" onclick="alert('テスト1');return true;"&gt;
&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;
&lt;input type="button" id~"disp2" value="表示2"&gt;
&lt;script&gt;
document.getElementById('disp2').onclick = function(){
  alert('テスト2');
  return true;  
};
&lt;/script&gt;
&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>


<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;
&lt;input type="button" id~"disp3" value="表示2"&gt;
&lt;script&gt;
document.getElementById('disp3').addEventListener('click',function(){
  alert('テスト3');
  return true;
},false);
&lt;/script&gt;
&lt;/p&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>