<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> 例外処理</div>
          <div class="panel-body">
<h4>例外が発生するかもしれない処理</h4>
<pre>
try {
  例外が発生するかもしれない命令（群）
} catch(例外情報を受け取る変数) {
  例外が発生した時の命令（群）
} [finally {
  例外の有無にかかわらず、最終的に実行される命令（群】
}]
</pre>

<pre class="prettyprint">
var i = 1;
try {
  i = i * j;
} catch(e) {
  document.writeln('e.message');
} finally {
  document.writeln('処理は完了しました。');
}
</pre>
<h4>例外を意図的に発生させる</h4>
<pre>
throw new Error(エラーメッセージ)
</pre>
<pre class="prettyprint">
var x = 1;
var y = 0;
try{
  if(y == 0){ throw new Error('0で除算しようとしました。');}
  var z = x / y;
}catch(e){
  document.writeln(e.message);
}
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>
  </body>
</html>