<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="./css/common.css" rel="stylesheet" media="screen">
    <link href="js/google-code-prettify/prettify.css" rel="stylesheet" media="screen">
    <style>
.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }
 
.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}
 
/* Specify class=linenums on a pre to get line numbering 
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
} 
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}*/
    </style>
  </head>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">JavaScript資料</div>
          <div class="panel-body">
            <h4>JavaScriptオンラインエディター</h4>
<table class="table">
  <tr>
    <td>JS Bin</td>
    <td>http://jsbin.com/</td>
  </tr>
  <tr>
    <td>Liveweave</td>
    <td>http://liveweave.com/</td>
  </tr>
  <tr>
    <td>jsFiddle</td>
    <td>http://jsfiddle.net/</td>
  </tr>
  <tr>
    <td>jsdo.it</td>
    <td>http://jsdo.it/</td>
  </tr>
  <tr>
    <td>code.9leap</td>
    <td>http://code.9leap.net/</td>
  </tr>
</table>

<hr>
<h4>JavaScriptの情報サイト</h4>

<pre>
サイト名URLDailyJS
http://dailyjs.com/JavaScript

Magazine Blog for JSMag
http://www.jsmag.com/blog/color

i|o #javascript
http://coder.io/tag/javascript/Raddit: #javascritphttp://www.reddit.com/r/javascript/

</pre>
<hr>
<h4>JavaScriptの標準化</h4>
<pre>
ECMAScript
http://ecmascript.org/

JIS X 3060
http://ja.wikipedia.org/wiki/ECMAScript
</pre>
<hr>
<h4>JavaScript実行エンジン</h4>

<table class="table">
    <tr>
        <td>Firefox</td>
        <td>Chrome</td>
        <td>IE</td>
        <td>Safari</td>
        <td>Opera</td>
    </tr>
    <tr>
        <td>OdinMonkey</td>
        <td>V8</td>
        <td>JScript</td>
        <td>JavaScriptCore</td>
        <td>Charakan</td>
    </tr>
</table>

<hr>
<h4>スマートフォン実機でデバッグ</h4>
<pre>
iPhone/iPod Touch
設定>Safari>デベロッパ
デバッグコンソールをオン

ipad
設定>Safari>詳細
デバッグコンソールをオン

Android
ブラウザのメニュー>設定
JavaScriptコンソールを表示をオン
ブラウザのアドレスにabout:debugと打ち込むとJavaScriptコンソールが表示される

</pre>

<hr>

<h4>JavaScriptの構成要素</h4>

<table class="table">
  <tr>
    <td>コアJavaScript</td><td>環境に依存しないJavaScritの言語としての標準的な機能を提供する部分</td>
  </tr>
  <tr>
    <td>ブラウザオブジェクト</td><td>ブラウザの操作をJavaScriptから行うための機能</td>
  </tr>
  <tr>
    <td>DOM（Document Object Model）</td><td>JavaScriptからだけでなく、その他のプログラミング言語からも動作できる汎用的な使用</td>
  </tr>
  <tr>
    <td>XHR（XMLHttpRequest）オブジェクト</td><td>Ajaxの中核を占める重要な機能</td>
  </tr>
  <tr>
    <td>Web API</td><td>Webサービスの提供するJavaScriptの機能</td>
  </tr>
  <tr>
    <td>HTML5 API</td><td>HTML5で追加された、JavaScriptの機能</td>
  </tr>
  <tr>
    <td>ライブラリ</td><td>用意されたプロパティやメソッドを利用して、やりたい処理を記述するもの</td>
  </tr>
  <tr>
    <td>フレームワーク</td><td>決められたフォーマット（書式／形式）に従って、やりたい処理を指定するもの。</td>
  </tr>
</table>
<hr>
<h4>カッコの種類</h4>

<pre>
大括弧     [...]
中括弧     {...}
小括弧     (...)
小なり     <
大なり     >
小なりイコール     <=
大なりイコール     >=
タグ     <...>

</pre>
<hr>
<h4>スクリプトの書き方</h4>
<pre>
基本は半角文字
大文字と小文字は別の文字
スペースは半角スペースかタブで
文の終わりは「改行」か「セミコロン」
余計なことは「コメント」で

</pre>
<hr>
<h4>コメントアウト</h4>

<pre class="prettyprint">
// これはコメントです
// 改行までコメントとなります // よってここもコメントです
/* 複数行コメントは閉じるまでがコメントです */
/********************************
 * よって、このように改行して
 * コメントを記述できます
********************************/
/* /* 複数行コメントをネストすることはできません */ ←ここまでがコメントとみなされます */
</pre>
<hr>
<h4>スマホ向けJavaScriptライブラリ</h4>
<pre>
quo.js
http://quojs.tapquo.com/

glossy.js
http://www.netzgesta.de/glossy/

ResponsiveSlides.js
http://responsive-slides.viljamis.com/

</pre>
<hr>
<h4>ドットインストール<h4>
<pre>
http://dotinstall.com/lessons/basic_javascript

http://dotinstall.com/lessons/basic_javascript_tips

</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>

  </body>
</html>