<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="js/google-code-prettify/prettify.css" rel="stylesheet" media="screen">
  </head>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">JavaScriptの基本形</div>
          <div class="panel-body">
            <h4>オブジェクトのプロパティ</h4>

<pre class="prettyprint">
//オブジェクト.プロパティ名
document.bgColor = '#ff0000';
</pre>
<table class="table">
  <tr>
    <td>オブジェクト</td><td>document</td>
  </tr>
  <tr>
    <td>プロパティ</td><td>bgColor</td>
  </tr>
  <tr>
    <td>代入演算子</td><td>=</td>
  </tr>
  <tr>
    <td>値</td><td>'#ff0000'</td>
  </tr>
  <tr>
    <td>行の終わり</td><td>;</td>
  </tr>
</table>

<hr>
            <h4>オブジェクトのメソッド</h4>
<pre class="prettyprint">
//オブジェクト.メソッド名
document.writeln('こんにちは');
</pre>
<table class="table">
  <tr>
    <td>オブジェクト</td><td>document</td>
  </tr>
  <tr>
    <td>メソッド</td><td>writeln</td>
  </tr>
  <tr>
    <td>引数</td><td>('こんにちは')</td>
  </tr>
  <tr>
    <td>行の終わり</td><td>;</td>
  </tr>
</table>
<hr>
<h4>トークン</h4>

<p>トークンとはそれ以上分解できない単位のことです。原則的に1つのトークンは改行できません。</p>

<table class="table">
  <tr>
    <td>識別子（Identifier）</td><td>関数名や変数名</td>
  </tr>
  <tr>
    <td>予約語（ReservedWord）</td><td>後述</td>
  </tr>
  <tr>
    <td>識別子、予約語（Token）</td><td>それ以上分割できない単位</td>
  </tr>
</table>

<pre class="prettyprint">
alert('Hello, World!');
</pre>

<table class="table">
    <tr>
      <th>字句（Token）</th><th>種類</th>
    </tr>
    <tr>
      <td>alert</td><td>識別子（Identifier）</td>
    </tr>
    <tr>
      <td>(</td><td>(区切り子（Punctuator）</td>
    </tr>
    <tr>
      <td>"Hello, World!"</td><td>文字列リテラル（StringLiteral）</td>
    </tr>
    <tr>
      <td>)</td><td>区切り子（Punctuator）</td>
    </tr>
    <tr>
      <td>;</td><td>区切り子（Punctuator）</td>
    </tr>
</table>


          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer" style="background:rgb(66, 139, 202);text-align:center;padding:0.6em;box-sizing:border-box;color:white;"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>