<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> JavaScript資料</div>
          <div class="panel-body">

<pre>

繰り返し



for(初期化の式;繰り返し条件の式;加算の式){
     繰り返す処理
}


var a = 0;
for(var i = 1; i <= 10; i++){
     a = a + i;
}
document.writeln(a);


while(繰り返し条件の式){
     繰り返す処理
}

var a = 3;
while(a < 10){
     a = a + 3;
}


do{
     繰り返す処理
}while(繰り返し条件の式);


var a = 10;
do{
     a = a + 3;
}while(a < 10);
document.writeln(a);



var a = 0;
for(var i = 0; i , 10; i++){
     if(a >= 10) break;
     if(i % 2 == 0) continue;
     a = a + i;
}
document.writeln(a);




配列

var 配列名 = [初期値, 初期値, 初期値, ….];

配列名[添え字]


var a = [10, 20, 30];
for(var i = 0; i < 3; i++){
     document.writeln(a[i]);
}



var 配列名 = new Array(要素の数);


var a = new Array(3);
a[0] = 10;
a[1] = 20;
a[2] = 30;
for(var i = 0; i < 3; i++){
     document.writeln(a[i]);
}




連想配列



var 連想配列名 = {添え字:初期値, 添え字:初期値, 添え字:初期値, …};



var a = {"dragon":"りゅう", "sword":"つるぎ", "egg":"たまご"}
document.writeln(a["dragon"]);
document.writeln(a["sword"]);
document.writeln(a["egg"]);


var 連想配列名  = new Object();


var a = new Object(3);
a["dragon"] = "りゅう";
a["sword"] = "つるぎ";
a["egg"] = "たまご";
document.writeln(a["dragon"]);
document.writeln(a["sword"]);
document.writeln(a["egg"]);




関数



function 関数名(引数1, ….) {
     関数内で実行したい処理
     return 返り値;
}


返り値を返さない関数

function writeStar(num){
     for(var i = 0; i < num; i++){
          document.writeln('☆');
     }
}
document.writeln('星が1個');
writeStar(1);
document.writeln('星が3個');
writeStar(3);


返り値を返す関数

function writeStar(num){
     var str = '';
     for(var i = 0; i < num; i++) str += '☆');
     return str;
}
document.writeln('星が1個' + writeStar(1));
document.writeln('星が3個' + writeStar(3));

</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>
  </body>
</html>