<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> オブジェクト</div>
          <div class="panel-body">

<pre class="prettyprint">
var arr = {'国語':98, '算数':82, '理科':70, '社会':86, '英語':53, <mark>'合計':function(){
  var total = 0;
  total += this['国語'];
  total += this['算数'];
  total += this['理科'];
  total += this['社会'];
  total += this['英語'];
  return total; 
}</mark>, <mark>function(){
  var total = this['合計']() + '\n';
  return total/5; 
}</mark>};

var total = 0;
var msg += '合計' + <mark>arr['合計']()</mark> + '\n';
msg += '平均' + <mark>arr['平均']()</mark>;
alert(msg);
</pre>

<pre class="prettyprint">
var arr = {'国語':98, '算数':82, '理科':70, '社会':86, '英語':53};
arr['合計'] = function(){
  var total = 0;
  total += this['国語'];
  total += this['算数'];
  total += this['理科'];
  total += this['社会'];
  total += this['英語'];
  return total;
}
arr['平均'] = function(){
  var total = this['合計']() + '\n';
  return total/5;
}

var total = 0;
var msg = '合計' + arr['合計']() + '\n';
msg += '平均' + arr['平均']();
alert(msg);
</pre>

<pre class="prettyprint">
var arr = {'国語':98, '算数':82, '理科':70, '社会':86, '英語':53};
arr.goukei = function(){
  var total = 0;
  total += this['国語'];
  total += this['算数'];
  total += this['理科'];
  total += this['社会'];
  total += this['英語'];
  return total;
}
arr.heikin = function(){
  var total = this.goukei() + '\n';
  return total/5;
}

var total = 0;
var msg = '合計' + arr.goukei() + '\n';
msg += '平均' + arr.heikin();
alert(msg);
</pre>

<pre class="prettyprint">
var obj = new Object();
obj.kokugo = 98;
obj.sansu = 82;
obj.rika = 70;
obj.syakai = 86;
obj.eigo = 53;

obj.goukei = function(){
  var total = 0;
  total += this.kokugo;
  total += this.sansu;
  total += this.rika;
  total += this.syakai;
  total += this.eigo;
  return total;
};

obj.heikin = function(){
  var total = this.goukei();
  return total/5;
};

var msg = '合計：' + obj.goukei() + '\n';
msg += '平均：' + obj.heikin();
alert(msg);
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>