<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> リテラルとデータ型</div>
          <div class="panel-body">

<h4>JavaScriptのリテラル</h4>

<p>リテラルとは、訳すと変化しない数という意味で、プログラムでは直接書き込んだデータ、数字や文字のことを表します。</p>
<p>下の表にあるリテラルをalertメソッドやdocument.writelnメソッドを使って、コンソールで実行してみましょう。</p>
<pre  class="prettyprint">
document.writeln('Hello, World!')
document.writeln(123)
document.writeln(3.14)
document.writeln(3.14e5)
document.writeln(NaN)
document.writeln(['JavaScript','Ajax','ASP.NET'])
document.writeln(function(){alert('hello')})
</pre>

<table class="table">
    <tr>
        <th>種類</th><th>書式</th><th>例</th>
    </tr>
    <tr>
      <td>10進数リテラル（数値リテラル）</td><td>整数を指定する</td><td>100、3、0</td>
    </tr>
    <tr>
      <td>8進数リテラル（数値リテラル）</td><td>8進数を指定する</td><td>0600、0644、0777</td>
    </tr>
    <tr>
      <td>16進数リテラル（数値リテラル）</td><td>16進数を指定する</td><td>0xFFFFFF、0xCC55CC</td>
    </tr>
    <tr>
      <td>浮動小数点数リテラル（数値リテラル）</td><td>少数を指定する</td><td>1.5、3.14e5</td>
    </tr>
    <tr>
      <td>文字列リテラル</td><td>ダブルクォート（"）か、シングルクォート（'）で囲む</td><td>"Hello, World!"</td>
    </tr>
      <td>論理値リテラル</td><td>trueまたはfalseを指定する</td><td>true</td>
    </tr>
    <tr>
      <td>nullリテラル</td><td>nullを指定する</td><td>null</td>
    </tr>
    <tr>
      <td>undefinedリテラル</td><td>undefinedを指定する</td><td>undefined</td>
    </tr>
    <tr>
      <td>NaNリテラル</td><td>NaN（Not a Number）を指定する</td><td>NaN</td>
    </tr>
    <tr>
      <td>正規表現リテラル</td><td>スラッシュ（/）で囲む</td><td>/I love Java.*/</td>
    </tr>
    <tr>
      <td>配列リテラル</td><td>大括弧（[]）で配列を指定する</td><td>['JavaScript','Ajax','ASP.NET']</td>
    </tr>
    <tr>
      <td>オブジェクトリテラル</td><td>中括弧（{}）でオブジェクトを指定する</td><td>{x:1, y:2, z:3}}</td>
    </tr>
    <tr>
      <td>関数リテラル</td><td>関数を指定する</td><td>function(){...}</td>
    </tr>
</table>

  <a href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Guide/Values,_variables,_and_literals#Literals" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考
  </a>

  <hr>

<h4>JavaScriptのデータ型</h4>

<p>データ型とは、プログラミング言語において、数値や文字列などのデータの型、または分類のことです。上記のリテラルのデータ型をコンソールで調べてみましょう。</p>
<p>JavaScriptではtypeof演算子*で、値のデータ型を取得することができます。</p>

<p>
<a href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Reference/Operators/typeof" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考：typeof演算子
  </a>
</p>
<pre  class="prettyprint">
typeof 'Hello, World!'
typeof 123
typeof 3.14
typeof 3.14e5
typeof NaN
typeof ['JavaScript','Ajax','ASP.NET']
typeof function(){alert('hello')}
</pre>

<p>参考：typeof演算子はnullや配列もobjectで返されます。nullを検証するには「data === null」、配列を検証するには「['a','b','c'] instanceof Array」などのように検証できます。</p>
<table class="table">
    <tr>
        <th>分類</th><th>データ型</th><th>概要</th>
    </tr>
    <tr>
        <td rowspan="4">基本型</td><td>数値型（Number）</td><td>1.7976931348623157e+308〜5e-324</td>
    </tr>
    <tr>
        <td>文字列型（String）</td><td>シングル／ダブルクォートで囲まれた0個以上の文字の集合</td>
    </tr>
    <tr>
        <td>真偽型（Boolean）</td><td>true（真）／false（偽）</td>
    </tr>
    <tr>
        <td>特殊型（Undefined）</td><td>値が未定義であることを表す</td>
    </tr>
    <tr>
        <td rowspan="3">参照型</td><td>配列型（Array） </td><td>データの集合（各要素にはインデックス番号でアクセス可能）</td>
    </tr>
    <tr>
        <td>オブジェクト型（Object）</td><td>データの集合（各要素には名前でアクセス可能）</td>
    </tr>
    <tr>
        <td>関数型（Function）</td><td>一連の処理（手続き）の集合</td>
    </tr>
</table>
<p>参考：数値型の最大値は、Number.MAX_VALUE、最小値は、Number.MIN_VALUEで取得できます。</p>

  <a href="https://developer.mozilla.org/ja/docs/Web/JavaScript/Data_structures" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考
  </a>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>