<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="./css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="js/google-code-prettify/prettify.css" rel="stylesheet" media="screen">
  </head>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">基本的な定義済みオブジェクト</div>
          <div class="panel-body">

<h4>定義済みオブジェクトの階層</h4>
<p>JavaScriptには多くの定義済みオブエジェクトがあり、コアオブジェクトとブラウザオブジェクトに分けられます。ブラウザオブジェクトはwindowオブジェクトを筆頭に、オブジェクトの階層があります。ピリオド（.）で連結されて、最後にオブジェクトの持つプロパティかメソッドが割り当てられます。
<figure>
  <img src="" alt="">
</figure>

<h4>ブラウザオブジェクトの例</h4>
<h5>windowオブジェクト</h5>

<p>windowオブジェクトのプロパティをコンソールで実行してみましょう。</p>
<pre class="prettyprint">
window.innerHeight
window.innerWidth
window.outerHeight
window.outerWidth
window.scrollX
window.scrollY
window.screenX
window.screenY
</pre>

<p>windowオブジェクトのメソッドをコンソールで実行してみましょう。</p>
<pre  class="prettyprint">
window.alert('予期せぬエラー');
window.confirm('よろしいですか');
window.close();
window.find('キーワード');
</pre>
  <p>
  <a href="https://developer.mozilla.org/en-US/docs/Web/API/Window" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考
  </a>
  </p>

<hr>

<h5>documentオブジェクト</h5>

window.document.write('hello, world'); //=> document.write('hello, world');
window.document.clear(); //document.clear();
window.document.title = 'タイトル'; //=> document.title = 'タイトル';
window.document.bgColor = '#ff0000'; //=> document.bgColor = '#ff0000';



  <p>
  <a href="https://developer.mozilla.org/en-US/docs/Web/API/document" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考
  </a>
  </p>

<hr>

<h5>locationオブジェクト</h5>

<p>locationオブジェクトのプロパティをコンソールで実行してみましょう。</p>
<pre  class="prettyprint">
window.location.protocol
window.location.host
window.location.hostname
window.location.port
window.location.pathname
window.location.search
window.location.hash
window.location.href
</pre>
<p>locationオブジェクトのメソッドをコンソールで実行してみましょう。</p>
<pre  class="prettyprint">
window.location.assign('http://www.yahoo.co.jp');
window.location.reload();
window.location.replace('http://www.yahoo.co.jp');
window.location.toString();
</pre>
<p>
  <a href="https://developer.mozilla.org/ja/docs/Web/API/window.location" target="_blank" class="btn btn-default">
  <i class="glyphicon glyphicon-info-sign"></i> 参考
  </a>
  </p>

<hr>

<h4>コアオブジェクトの例</h4>
<h5>Mathオブジェクト</h5>
<pre>
Math.round('3.141516');
Math.random();
Math.PI;
Math.round(3.141592653589793)
</pre>

          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer" style="background:rgb(66, 139, 202);text-align:center;padding:0.6em;box-sizing:border-box;color:white;"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>