<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/common.css" rel="stylesheet" media="screen">
    <link href="js/google-code-prettify/prettify.css" rel="stylesheet" media="screen">
  </head>
  <body>
  
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">
        
        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-bookmark"></i> 課題</div>
          <div class="panel-body">
            <p>円錐の体積を計算してみましょう。公式は以下の通りです。早く終わったらPhonegapでアプリに変換してみましょう。</p>
            <p>
            <figure>
            <figcaption>円錐の体積の公式</figcaption>
            <img src="http://w3e.kanazawa-it.ac.jp/math/cgi-bin/mimetex1/mimetex.cgi?3$%5cdisplaystyle{V=%5cfrac{%5chspace{2}1%5chspace{2}}{%5chspace{2}3%5chspace{2}}{%5cpi}{r}^{2}h}" alt="">
            </figure>
          </p>
            <p>
            円錐率は「Math.PI」プロパティ、べき乗は「Math.pow(基数, 指数)」メソッドで取得できます。
            <p>
              <a href="demo/js/excercise11/index.html" target="_blank" class="btn btn-default">
              <i class="glyphicon glyphicon-play"></i> デモ
              </a>

              <button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
              <i class="glyphicon glyphicon-question-sign"></i> 解答例
              </button>
            </p>

<div id="demo" class="collapse out">

<pre class="prettyprint linenums">
&lt;!DOCTYPE html&gt;
&lt;html lang="ja"&gt;
&lt;head&gt;
&lt;meta charset="UTF-8"&gt;
&lt;title&gt;&lt;/title&gt;
&lt;link rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css" /&gt;
&lt;script src="http://code.jquery.com/jquery-1.9.1.min.js"&gt;&lt;/script&gt;
&lt;script src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js"&gt;&lt;/script&gt;
&lt;script&gt;
$(document).on('pageshow','#index',function(){
  $('a').on('vclick',function(){
    var r = $('#r').val();
    var h = $('#h').val();
    var result = (Math.PI * Math.pow(r, 2) * h) / 3;
    $('#result').text(result);
  });
});
&lt;/script&gt;
&lt;/head&gt;
&lt;body&gt;
  &lt;div data-role="page" id="index"&gt;
    &lt;header data-role="header"&gt;
      &lt;h1&gt;円錐の体積&lt;/h1&gt;
    &lt;/header&gt;
    &lt;div data-role="content"&gt;
      &lt;label for="text-basic"&gt;円の半径r:&lt;/label&gt;
      &lt;input type="number" name="text-basic" id="r" value=""&gt;

      &lt;label for="text-basic"&gt;円錐の高さh:&lt;/label&gt;
      &lt;input type="number" name="text-basic" id="h" value=""&gt;

      &lt;a data-role="button"&gt;計算&lt;/a&gt;
      &lt;p id="result"&gt;&lt;/p&gt;
    &lt;/div&gt;
    &lt;footer data-role="footer" data-position="fixed"&gt;
      &lt;h4&gt;2013 &copy; なかのようすけ&lt;/h4&gt;
    &lt;/footer&gt;
  &lt;/div&gt;
&lt;/body&gt;
&lt;/html&gt;
</pre>

              </p>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>