<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> オブジェクト</div>
          <div class="panel-body">
<h4>コンストラクタ</h4>

<pre>
function オブジェクトの名前(引数){
  this.プロパティ = 値;
  this.メソッド = function(){ ... }
  ...以下略...
}
</pre>
<pre>
var 変数  = function(引数){
  this.プロパティ = 値;
  this.メソッド = function(){ ... }
  ...以下略...
}
</pre>
<pre>
function Seiseki(name){
  this.name = name;

  this.setTensu = function(a, b, c, d, e){
    this.kokugo = a;
    this.sansu = b;
    this.rika = c;
    this.syakai = d;
    this.eigo = e;
  }

  this.goukei = function(){
    var total = 0;
    total += this.kokugo;
    total += this.sansu;
    total += this.rika;
    total += this.syakai;
    total += this.eigo;
    return total;
  }

  this.heikin = function(){
    var total = this.goukei();
    return total / 5;
  }

  this.showMsg = function(){
    var msg = this.name + 'さんの成績\n';
    msg += '合計：' + this.goukei() + '\n';
    msg += '平均：' + this.heikin();
    alert(msg);
  }
}

var taro = new Seiseki('太郎');
taro.setTensu(75, 58, 69, 81, 47);
taro.showMsg();

var hanako = new Seiseki('花子');
hanako.setTensu(98, 79, 81, 93, 85);
hanako.showMsg();
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>