<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> 変数と数値計算</div>
          <div class="panel-body">

<h4>四則演算</h4>
<p>以下の計算をコンソールで実行してみましょう。</p>
<pre class="prettyprint">
document.writeln(3 + 2); //=> 3＋2＝5
document.writeln(3 - 1); //=> 3－2＝1
document.writeln(3 * 2); //=> 3×2＝6
document.writeln(3 / 2); //=> 3÷2＝1.5
document.writeln(3 % 2); //=> 3÷2のあまり＝1
</pre>
<hr>
<h4>算術（代数）演算子</h4>
<table class="table">
  <tr>
    <td>演算子</td><td>名前</td><td>式名</td><td>例と結果</td>
  </tr>
  <tr>
    <td>+</td><td>加算演算子</td><td>加減式</td><td>1 + 2; //=>3</td>
  </tr>
  <tr>
    <td>-</td><td>減算演算子</td><td>同上</td><td>1 - 2; //=>-1</td>
  </tr>
  <tr>
    <td>*</td><td>*演算子</td><td>剰余式</td><td>2 * 3; //=> 6</td>
  </tr>
  <tr>
    <td>/</td><td>/演算子</td><td>同上</td><td>5 / 2; //=> 2</td>
  </tr>
  <tr>
    <td>%</td><td>%演算子</td><td>同上</td><td>5 % 2; //=> 1</td>
  </tr>
</table>
<hr>
<h4>変数の使い方</h4>
<pre class="prettyprint">
var a; //変数の宣言
a = 1; //変数への代入
a = a + 2; //変数を使った計算
document.writeln('答えは' + a + 'です'); //結果の表示
</pre>
<p>参考：JavaScriptではvarで変数を宣言しなくても、代入できますが、グローバル変数という特別な扱いになります（後述）。特別な理由がなければvarで変数宣言して値を代入するようにしましょう。
<hr>
<h4>変数を宣言したあと値を代入</h4>
<pre class="prettyprint">
var a;
a = 1;
</pre>
<hr>
<h4>変数を宣言するときに初期値をセット</h4>
<pre class="prettyprint">
var a = 1;
</pre>
<hr>
<h4>変数をまとめてセットする</h4>
<pre class="prettyprint">
var a; //変数aを宣言
var b, c; //変数bとcを宣言
var aa = 1; //変数aaを宣言して1で初期化
var bb = 22, cc = 33; //変数bbとccを宣言し、それぞれ22と33で初期化
var bbb, ccc = 333; //変数bbbとcccを宣言し、後者のみ333で初期化
</pre>

<hr>

<h4>演算子</h4>
<p>演算子（オペレータ）とは、与えられた変数／リテラルに対して、あらかじめ決められたなんらかの処理を行う記号のことです。また、演算子によって処理される変数／リテラルのことを被演算子（オペランド）と呼びます。
<pre class="prettyprint">
x = a + b;
</pre>
<table class="table">
  <tr>
      <td>x</td><td>オペランド（演算対象の変数／リテラル）</td>
  </tr>
  <tr>
      <td>=</td><td>オペレータ（演算子）</td>
  </tr>
  <tr>
      <td>a</td><td>オペランド（演算対象の変数／リテラル）</td>
  </tr>
  <tr>
      <td>+</td><td>オペレータ（演算子）</td>
  </tr>
  <tr>
      <td>b</td><td>オペランド（演算対象の変数／リテラル）</td>
  </tr>
</table>

<hr>

<h4>変数名につかえる文字</h4>

<pre>
半角アルファベット（a～zとA～Z）
数字（0～9）
_（アンダーバー）
$（ドルマーク）

以下の変数名は不可
数字で始まる名前
予約語は不可
</pre>

<hr>

<h4>予約語</h4>
<p>予約語とは、プログラミング言語において字句的には識別子（変数名、関数名、クラス名など）としてのルールを満たしているにもかかわらず、識別子にならない字句要素のことです。 </p>
<table class="table">
  <tr>
      <td>break</td><td>case</td><td>catch</td><td>continue</td>
  </tr>
  <tr>
      <td>debugger</td><td>default</td><td>delete</td><td>do</td>
  </tr>
  <tr>
      <td>else</td><td>finally</td><td>for</td><td>function</td>
  </tr>
  <tr>
      <td>if</td><td>in</td><td>instanceof</td><td>new</td>
  </tr>
  <tr>
      <td>return</td><td>switch</td><td>this</td><td>throw</td>
  </tr>
  <tr>
      <td>try</td><td>typeof</td><td>var</td><td>void</td>
  </tr>
  <tr>
      <td>while</td><td>width</td><td></td><td></td>
  </tr>
</table>
<p>参考：※undefined、null、NaNは予約語ではないが変数名にするべきではない。</p>

<hr>

<h4>変数名に使うべきではないキーワード</h4>
<p>以下のキーワードを変数名にしてもエラーになりませんが、予期しないバグが発生する可能性が高いので避けたほうがよいでしょう。</p>
<table class="table">
  <tr>
      <td>abstract</td><td>boolean</td><td>byte</td><td>char</td>
  </tr>
  <tr>
      <td>class</td><td>const</td><td>debugger</td><td>double</td>
  </tr>
  <tr>
      <td>enum</td><td>export</td><td>extends</td><td>final</td>
  </tr>
  <tr>
      <td>float</td><td>goto</td><td>implements</td><td>import</td>
  </tr>
  <tr>
      <td>int</td><td>interface</td><td>long</td><td>native</td>
  </tr>
  <tr>
      <td>package</td><td>private</td><td>protected</td><td>public</td>
  </tr>
  <tr>
      <td>short</td><td>static</td><td>super</td><td>synchronied</td>
  </tr>
  <tr>
      <td>throws</td><td>transient</td><td>volatile</td><td></td>
  </tr>
</table>

<hr>

<h4>代入演算子</h4>
<p>あらかじめ用意された変数に、追加計算させる場合は、複合演算子によって省略して記述できます。</p>
<table class="table">
  <tr>
    <td>代入演算子</td><td>複合代入演算子</td><td>説明</td>
  </tr>
  <tr>
    <td>a = a + 10</td><td> a += 10</td><td>変数の値に10を足す</td>
  </tr>
  <tr>
    <td>a = a - 10</td><td>a -= 10</td><td>変数の値から10を引く</td>
  </tr>
  <tr>
    <td>a = a * 10</td><td>a *= 10</td><td>変数の値に10を掛ける</td>
  </tr>
  <tr>
    <td>a = a / 10</td><td>a /= 10</td><td>変数の値を10で割る</td>
  </tr>
</table>
<hr>
<h4>テキストの連結</h4>
<p>テキストは加算演算子（+）を使って連結することができます。</p>
<pre class="prettyprint">
'ABC' + 'あいう'; //=> 'ABCあいう'
'xyz' + 123; //=> 'xyz123'
</pre>
<p>ただし、どちらか一方がテキストで一方が数値の場合はテキストとして連結されます。
<pre class="prettyprint">
var result = '123' + 45; //=> '12345'
</pre>
<p>参考：テキストに1をかけるとテキストは数値に変換されます。</p>
<pre class="prettyprint">
var result = ('123' * 1) + 45; //=> 168
</pre>
<p>テキストも複合演算子を使って、省略して記述できます。</p>
<pre class="prettyprint">
var a = 'Hello'; //=> 'Hello'
a += ' World'; //=> 'Hello World'
</pre>
              
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer">WEB・スマホ・アプリ開発科</div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>