<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> 条件分岐</div>
          <div class="panel-body">
<h4>条件分岐</h4>

<pre>
if(条件式){
  条件を満たしたときに実行する処理
}
</pre>

<p>条件式を評価した結果がtrueのときに、if文内の処理が実行されます。</p>

<pre class="prettyprint">
var a = 12;
if(a > 10){
  document.writeln('でっかいぞ');
}
</pre>

<pre class="prettyprint">
var a = 8;
if(a > 10){
  document.writeln('でっかいぞ');
}
else {
  document.writeln('ちっちゃいぞ');
}
</pre>


<pre class="prettyprint">
var a = 8;
if(a > 10){
  document.writeln('でっかいぞ');
}
else if(a < 10) {
  document.writeln('ちっちゃいぞ');
}
else if(a == 8){
  document.writeln('ぴったりなのに？');
}
else{
  document.writeln('なんでだろう？');
}
</pre>

<pre class="prettyprint">
var a = 8;
if(a > 10){
  document.writeln('でっかいぞ');
}
if(a < 10) {
  document.writeln('ちっちゃいぞ');
}
if(a == 8){
  document.writeln('ぴったりだ');
}
</pre>

<pre class="prettyprint">
if(条件式A){
     if(条件式B){
          条件式Bを満たしたときに実行する処理
     }
     条件式Aを満たしたときに実行する処理
}
</pre>

<pre class="prettyprint">
var a = 12;
if(a > 10){
     if(a % 2 == 0){
          document.writeln('でっかい偶数');
     }
     else{
          document.writeln('でっかい奇数');
     }
}
</pre>


比較（関係）演算子
<table class="table">
  <tr>
    <th>演算子</th><th>名前</th><th>式名</th><th>例と結果</th>
  </tr>
  <tr>
    <td>&lt;</td><td>小なり演算子</td><td>関係式</td><td>1 < 2; //=>true</td>
  </tr>
  <tr>
    <td>&gt;</td><td>大なり演算子</td><td>同上</td><td>1 > 2; //=>false</td>
  </tr>
  <tr>
    <td>&lt;=</td><td>小なりイコール演算子</td><td>同上</td><td>1 >= 1; //=> true</td>
  </tr>
  <tr>
    <td>&gt;=</td><td>大なりイコール演算子</td><td>同上</td><td>1 <= 1 //=> true</td>
  </tr>
  <tr>
    <td>==</td><td>等価演算子</td><td>等価式</td><td>1 == 1; //=> true</td>
  </tr>
  <tr>
    <td>===</td><td>厳密等価演算子</td><td>同上</td><td>1 === "1"; //=> false</td>
  </tr>
  <tr>
    <td>!=</td><td>不等価演算子</td><td>同上</td><td>1 != 2; //=>true</td>
  </tr>
  <tr>
    <td>!==</td><td>厳密不等価演算子</td><td>同上</td><td>1 !== "1"; //=>true</td>
  </tr>
</table>




論理値の演算子
<table class="table">
  <tr>
    <th>演算子</th><th>名前</th><th>式名</th><th>例と結果</th>
  </tr>
  <tr>
    <td>!</td><td>論理否定演算子</td><td>単項式</td><td>!false: //==> true</td>
  </tr>
  <tr>
    <td>&&</td><td>&&演算子</td><td>論理積式</td><td>true && true; //=> true</td>
  </tr>
  <tr>
    <td>||</td><td>||演算子</td><td>論理和式</td><td>true || false; //=> true</td>
  </tr>
  <tr>
    <td>?:</td><td>不等価演算子（三項演算子）</td><td>条件式</td><td>true ? 1: 2; //=> 1</td>
  </tr>
</table>

<pre class="prettyprint">
var a = 7;
if(a>=5 && a <= 10){
     document.writeln('ほどほど');
}
</pre>

<pre class="prettyprint">
var a = 1;
if(a <= 5 || a >= 10){
     document.writeln('両極端');
}
</pre>

<pre class="prettyprint">
var a = 7;
if(!(a <= 5)){
     document.writeln('ちっちゃくない');
}
</pre>


          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>