<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> Web Storageの使い方</div>
          <div class="panel-body">
          <p>Webアプリケーションのデータを保存したい場合、今まではCookieを利用したり、サーバー側でセッションを利用したりしましたが、 Web Storageを使うことで、簡単に大容量で安全に情報を保存できるように設計されています。
          </p>
          <p>Web Storageには2種類のストレージがあり、1つはLocal Storageで、ブラウザ側でデータが保存され、、localStorageオブジェクトの、プロパティやメソッドでアクセスできます。Local Storageは、セキュリティ上の理由によって削除されるか、明示的に削除しない限りデータが保持されるため、ブラウザのウィンドウを閉じても、再度立ち上げるとデータにアクセスすることができます。もう1つはSession Storageで、一連のページのやりとりの間データが保持され、sessionStorageオブジェクトのプロパティやメソッドでアクセスできます。ブラウザを閉じるとSession Storageのデータは破棄されます。</p>
          <p>Local StorageもSession StorageもWebサイトごとに割り当てられるため、同じサイト内ではデータを共有できますが、他のサイトからデータを参照することはできません。</p>
          <p>
          <a href="https://developer.mozilla.org/ja/docs/DOM/Storage" target="_blank" class="btn btn-default">
          <i class="glyphicon glyphicon-info-sign"></i> 参考</a>
          </p>
<h3>Local Storage</h3>
<p>コンソールからLocal Storageを扱ってみましょう。データはChrome Developer ToolsのResourcesタブのLocal Storageから確認できます。</p>
<h4>Local Storageに格納する</h4>

<pre class="prettyprint">
//メソッドで格納する
localStorage.setItem("MYDATA","hoge");

//オブジェクトに代入する
localStorage.MYDATA = "hoge";
localStorage["MYDATA"] = "hoge";
</pre>

<h4>Local Storageからデータをを取得する</h4>

<pre class="prettyprint">
//メソッドで取得する
var data = localStorage.getItem("MYDATA");

//オブジェクトで取得する
var data = localStorage.MYDATA;
var data = localStorage["MYDATA"];
</pre>

<h4>Local Storageからデータを削除する</h4>

<pre class="prettyprint">
//メソッドで削除する
localStorage.removeItem("MYDATA");

//delete演算子で削除する
delete localStorage.MYDATA;
delete localStorage["MYDATA"];
</pre>

<h4>Local Storageに格納されたデータ数を取得する</h4>

<pre class="prettyprint">
localStorage.length
</pre>

<h4>Local Storageに保存されているデータをすべて削除する</h4>

<pre class="prettyprint">
localStorage.clear();
</pre>

<hr>

<h3>Session Storage</h3>
<p>コンソールからSession Storageを扱ってみましょう。データはChrome Developer ToolsのResourcesタブのSession Storageから確認できます。</p>
<h4>Session Storageに格納する</h4>

<pre class="prettyprint">
//メソッドで格納する
sessionStorage.setItem("MYDATA","hoge");

//オブジェクトに格納する
sessionStorage.MYDATA = "hoge";
sessionStorage["MYDATA"] = "hoge";
</pre>

<h4>Session Storageからデータをを取得する</h4>

<pre class="prettyprint">
//メソッドで取得する
var data = sessionStorage.getItem("MYDATA");

//オブジェクトで取得する
var data = sessionStorage.MYDATA;
var data = sessionStorage["MYDATA"];
</pre>

<h4>Session Storageに格納されたデータ数を取得する</h4>

<pre class="prettyprint">
sessionStorage.length
</pre>

<h4>Session Storageに保存されているデータをすべて削除する</h4>

<pre class="prettyprint">
sessionStorage.clear();
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>