<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> 繰り返し構文</div>
          <div class="panel-body">
<h4>while文</h4>
<p>小括弧内の条件式「(条件式)」を評価した結果がtrueである限り、繰り返し処理を実行し続けます。while文中の処理で、条件式の評価がfalseになるようにしなければ、無限ループが発生し、ブラウザもしくはパソコンがフリーズするので注意しましょう。</p>
<pre>
while(繰り返し条件の式){
     繰り返す処理
}
</pre>
<p>以下の処理は、変数aが10より小さい限り処理を続けることになります。while文中の繰り返し処理で変数aを加算し続け、変数aの値が10以上になると、while文を抜けます。</p>
<pre class="prettyprint">
var a = 3;
while(a < 10){
     a = a + 3;
}
</pre>

<hr>

<h4>do while文</h4>
<pre>
do{
     繰り返す処理
}while(繰り返し条件の式);
</pre>

<pre class="prettyprint">
var a = 10;
do{
     a = a + 3;
}while(a < 10);
document.writeln(a);
</pre>

<hr>

<h4>for文</h4>

<pre>
for(初期化の式;繰り返し条件の式;加算の式){
     繰り返す処理
}
</pre>

<pre class="prettyprint">
var a = 0;
var i = 1;

for( i; i <= 10; i++ ){
     a = a + i;
}
document.writeln(a);
</pre>
<p>繰り返し構文で使われる、カウントするための変数は、一般的には「i」が使われることが多いです。for文が入れ子になった場合、変数iを再度使ってしまうと、誤作動してしまうので、iからアルファベット順にi, j, k, ...という変数名が使われることが多いです。</p>

<pre class="prettyprint">
var a = 0;
for(var i = 1; i <= 10; i++){
     a = a + i;
}
document.writeln(a);
</pre>

<pre class="prettyprint">
for(var i = 0; i < 3; i++){
  for(var j = 0; j < 3; j++){
    console.log(1 + j);
  }
}
</pre>

<pre class="prettyprint">
for(var i = 1, j = 2; i < 3; i++, j=j+2){
  console.log(i + j);
}
</pre>
<hr>
<h4>break</h4>
<p>繰り返し構文の中でbreakを実行すると、無理やり繰り返し処理を抜けることができます。</p>
<pre class="prettyprint">
var a = 0;
var a = 0;
for(var i = 0; i < 20; i++){
     if(i > 10) break;
     a = a + i;
}
document.writeln(a);
</pre>
<hr>
<h4>continue</h4>
<p>繰り返し構文の中でcontinueを実行すると、繰り返し処理内のcontinue以下の処理をせず、次の繰り返し処理に進みます。</p>
<pre class="prettyprint">
var a = 0;
for(var i = 0; i < 10; i++){
     if(i % 2 == 0) continue;
     a = a + i;
}
document.writeln(a);
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>
  </body>
</html>