<div class="list-group">
     <a href="js-1" class="list-group-item">
     <i class="badge badge-info"></i> コアリファレンス
     </a>
     <a href="js-17" class="list-group-item">
     <i class="badge badge-info"></i> クライアントリファレンス
     </a>
</div>

<div class="list-group">
     <a href="js-39" class="list-group-item">
     <i class="badge badge-info"></i> JavaScript資料
     </a>
     <a href="js-44" class="list-group-item">
     <i class="badge badge-info"></i> 出力してみる
     </a>
     <a href="js-45" class="list-group-item">
     <i class="badge badge-info"></i> JavaScriptの基本形
     </a>
     <a href="js-40" class="list-group-item">
     <i class="badge badge-info"></i> 定義済みオブジェクト
     </a>
     <a href="js-46" class="list-group-item">
     <i class="badge badge-info"></i> ブラウザに組み込む
     </a>
     <a href="js-47" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：document.write
     </a>
     <a href="js-48" class="list-group-item">
     <i class="badge badge-info"></i> リテラルとデータ型
     </a>
     <a href="js-51" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：加算子の前置、後置
     </a>
     <a href="js-43" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：じゃんけんゲーム
     </a>
     <a href="js-49" class="list-group-item">
     <i class="badge badge-info"></i> 正規表現を理解する
     </a>
</div>