<div class="list-group">
     <a href="js-39" class="list-group-item">
     <i class="badge badge-info"></i> JavaScript資料
     </a>
     <a href="js-44" class="list-group-item">
     <i class="badge badge-info"></i> 出力してみる
     </a>
     <a href="js-45" class="list-group-item">
     <i class="badge badge-info"></i> JavaScriptの基本形
     </a>
     <a href="js-40" class="list-group-item">
     <i class="badge badge-info"></i> 定義済みオブジェクト
     </a>
     <a href="js-46" class="list-group-item">
     <i class="badge badge-info"></i> ブラウザに組み込む
     </a>
     <a href="js-47" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：document.write
     </a>
     <a href="js-48" class="list-group-item">
     <i class="badge badge-info"></i> リテラルとデータ型
     </a>
     <a href="js-50" class="list-group-item">
     <i class="badge badge-info"></i> 変数と数値計算
     </a>
     <a href="js-52" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：円錐の体積の公式
     </a>
     <a href="js-53" class="list-group-item">
     <i class="badge badge-info"></i> インクリメント／デクリメント
     </a>
     <a href="js-51" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：加算子の前置、後置
     </a>

     <a href="js-54" class="list-group-item">
     <i class="badge badge-info"></i> 条件分岐構文（if文）
     </a>
     <a href="js-58" class="list-group-item">
     <i class="badge badge-info"></i> ユーザーエージェントの識別
     </a>
     <a href="js-57" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：UAを取得してサイトを切り替え
     </a>
     <a href="js-59" class="list-group-item">
     <i class="badge badge-info"></i> ブラウザでCookieを扱う
     </a>
     <a href="js-56" class="list-group-item">
     <i class="badge badge-info"></i> ブラウザでCookieを使ってサイトを切り替える
     </a>
     <a href="js-60" class="list-group-item">
     <i class="badge badge-info"></i> Web Storageの使い方
     </a>
     <a href="js-61" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：Local Storageを使ってサイトを切り替える
     </a>
     <a href="js-62" class="list-group-item">
     <i class="badge badge-info"></i> Node.jsでテンプレートを切り替える
     </a>
     <a href="js-68" class="list-group-item">
     <i class="badge badge-info"></i> その他の条件分岐構文
     </a>
     <a href="js-64" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：信号
     </a>
     <a href="js-71" class="list-group-item">
     <i class="badge badge-info"></i> 三項演算子でEJSの出力を切り替える
     </a>
     <a href="js-70" class="list-group-item">
     <i class="badge badge-info"></i> Mathオブジェクト
     </a>
     <a href="js-69" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：おみくじ
     </a>
     <a href="js-73" class="list-group-item">
     <i class="badge badge-info"></i> 繰り返し構文
     </a>
     <a href="js-63" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：listviewを繰り返す
     </a>
     <a href="js-75" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：9×9一覧表
     </a>
     <a href="js-74" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：ランダムイメージ
     </a>
     <a href="js-1" class="list-group-item">
     <i class="badge badge-info"></i> 配列
     </a>
     <a href="js-66" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：配列の取得
     </a>
     <a href="js-67" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：カラーテーブル
     </a>
     <a href="js-43" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：じゃんけんゲーム
     </a>
     <a href="js-76" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：オセロの盤
     </a>
     <a href="js-1" class="list-group-item">
     <i class="badge badge-info"></i> オブジェクト
     </a>
     <a href="js-2" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：オブジェクトの取得
     </a>
     <a href="js-65" class="list-group-item">
     <i class="glyphicon glyphicon-bookmark"></i> <i class="badge badge-info"></i> 課題：オブジェクトの入れ子
     </a>
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> 関数とオブジェクト
     </a>
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> プロトタイプ
     </a>
     <a href="js-72" class="list-group-item">
     <i class="badge badge-info"></i> Node.jsでメールフォーム
     </a>
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> イベントハンドラ
     </a>
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> イベントリスナ
     </a>
     <a href="#" class="list-group-item">
     <i class="badge badge-info"></i> 正規表現を理解する
     </a>
</div>