.list-group
	a.list-group-item(href='js-39.ejs')
		i.badge.badge-info
		| JavaScript資料
	a.list-group-item(href='js-44.ejs')
		i.badge.badge-info
		| 出力してみる
	a.list-group-item(href='js-45.ejs')
		i.badge.badge-info
		| JavaScriptの基本形
	a.list-group-item(href='js-40.ejs')
		i.badge.badge-info
		| 定義済みオブジェクト
	a.list-group-item(href='js-46.ejs')
		i.badge.badge-info
		| ブラウザに組み込む
	a.list-group-item(href='js-47.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：document.write
	a.list-group-item(href='js-48.ejs')
		i.badge.badge-info
		| リテラルとデータ型
	a.list-group-item(href='js-50.ejs')
		i.badge.badge-info
		| 変数と数値計算
	a.list-group-item(href='js-52.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：円錐の体積の公式
	a.list-group-item(href='js-53.ejs')
		i.badge.badge-info
		| インクリメント／デクリメント
	a.list-group-item(href='js-51.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：加算子の前置、後置
	a.list-group-item(href='js-54.ejs')
		i.badge.badge-info
		| 条件分岐構文（if文）
	a.list-group-item(href='js-58.ejs')
		i.badge.badge-info
		| ユーザーエージェントの識別
	a.list-group-item(href='js-57.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：UAを取得してサイトを切り替え
	a.list-group-item(href='js-59.ejs')
		i.badge.badge-info
		| ブラウザでCookieを扱う
	a.list-group-item(href='js-56.ejs')
		i.badge.badge-info
		| ブラウザでCookieを使ってサイトを切り替える
	a.list-group-item(href='js-60.ejs')
		i.badge.badge-info
		| Web Storageの使い方
	a.list-group-item(href='js-61.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：Local Storageを使ってサイトを切り替える
	a.list-group-item(href='js-62.ejs')
		i.badge.badge-info
		| Node.jsでテンプレートを切り替える
	a.list-group-item(href='js-68.ejs')
		i.badge.badge-info
		| その他の条件分岐構文
	a.list-group-item(href='js-64.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：信号
	a.list-group-item(href='js-71.ejs')
		i.badge.badge-info
		| 三項演算子でEJSの出力を切り替える
	a.list-group-item(href='js-70.ejs')
		i.badge.badge-info
		| Mathオブジェクト
	a.list-group-item(href='js-69.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：おみくじ
	a.list-group-item(href='js-73.ejs')
		i.badge.badge-info
		| 繰り返し構文
	a.list-group-item(href='js-63.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：listviewを繰り返す
	a.list-group-item(href='js-75.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：9×9一覧表
	a.list-group-item(href='js-74.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：ランダムイメージ
	a.list-group-item(href='js-1.ejs')
		i.badge.badge-info
		| 配列
	a.list-group-item(href='js-66.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：配列の取得
	a.list-group-item(href='js-67.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：カラーテーブル
	a.list-group-item(href='js-43.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：じゃんけんゲーム
	a.list-group-item(href='js-76.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：オセロの盤
	a.list-group-item(href='js-3.ejs')
		i.badge.badge-info
		| オブジェクト
	a.list-group-item(href='js-7.ejs')
		i.badge.badge-info
		| jQueryで配列/オブジェクトを扱う
	a.list-group-item(href='js-2.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：オブジェクトの取得
	a.list-group-item(href='js-65.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：オブジェクトのネスト
	a.list-group-item(href='js-6.ejs')
		i.badge.badge-info
		| 自作関数
	a.list-group-item(href='js-10.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：処理の関数化
	a.list-group-item(href='js-11.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：引数の取得
	a.list-group-item(href='js-8.ejs')
		i.badge.badge-info
		| タイマーイベント
	a.list-group-item(href='js-12.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：時間制限
	a.list-group-item(href='js-13.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：ゲームクリア
	a.list-group-item(href='js-14.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：ゲーム初期化
	a.list-group-item(href='js-18.ejs')
		i.badge.badge-info
		| Imageオブジェクト
	a.list-group-item(href='js-4.ejs')
		i.badge.badge-info
		| 無名（匿名）オブジェクト
	a.list-group-item(href='js-5.ejs')
		i.badge.badge-info
		| コンストラクタとインスタンス
	a.list-group-item(href='js-15.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：関数のオブエジェクト化
	a.list-group-item(href='js-16.ejs')
	  i.glyphicon.glyphicon-bookmark
		i.badge.badge-info
		| 課題：コンストラクタに引数を渡す
	a.list-group-item(href='js-17.ejs')
		i.badge.badge-info
		| オブジェクトの拡張とオーバーライド
	a.list-group-item(href='js-9.ejs')
		i.badge.badge-info
		| プロトタイプと継承
	a.list-group-item(href='js-19.ejs')
		i.badge.badge-info
		| 高度な関数の使い方
	a.list-group-item(href='js-20.ejs')
		i.badge.badge-info
		| 例外処理
	a.list-group-item(href='js-21.ejs')
		i.badge.badge-info
		| イベントハンドラ、イベントリスナ
	a.list-group-item(href='#')
		i.badge.badge-info
		| Stringオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Numberオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Arrayオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Dateオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| RegExpオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Windowオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Documentオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Formオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Locationオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Historyオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Screenオブジェクト
	a.list-group-item(href='#')
		i.badge.badge-info
		| Navigatorオブジェクト
