<nav class="navbar navbar-default">
  <div class="navbar-header">
    <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/"><%= title %></a>
  </div>

  <div class="collapse navbar-collapse target">
    <ul class="nav navbar-nav">
      <li><a href="js-39">文法</a></li>
      <li><a href="js-1">リファレンス</a></li>
      <li><a href="#">Web API</a></li>
      <li><a href="nodejs-1">Node.js</a></li>
      <li><a href="js/enchant-1">enchant.js</a></li>
      <li><a href="">CoffeeScript</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="https://developer.mozilla.org/ja/" target="_blank">MDN</a></li>
      <li><a href="http://underscorejs.org/" target="_blank">underscore.js</a></li>
      <li><a href="http://backbonejs.org/" target="_blank">backbone.js</a></li>
      <li><a href="http://coffeescript.org/" target="_blank">CoffeeScript</a></li>
    </ul>
  </div>
</nav>