<div class="list-group">
     <a href="js-1" class="list-group-item">
     <i class="badge badge-info"></i> コアリファレンス
     </a>
     <a href="js-17" class="list-group-item">
     <i class="badge badge-info"></i> クライアントリファレンス
     </a>
</div>

<div class="list-group">
     <a href="nodejs-1" class="list-group-item">
     <i class="badge badge-info"></i> Node.js資料
     </a>
     <a href="nodejs-2" class="list-group-item">
     <i class="badge badge-info"></i> Expressでパーシャルを使う
     </a>
     <a href="nodejs-3" class="list-group-item">
     <i class="badge badge-info"></i> ExpressでBASIC認証を使う
     </a>
     <a href="http://node-mail-form.herokuapp.com/" class="list-group-item">
     <i class="badge badge-info"></i> メールフォームを作る
     </a>
</div>