.list-group
	a.list-group-item.active
		| Node.js
	a.list-group-item(href='1')
		i.badge.badge-info
		| Node.js資料
	a.list-group-item(href='12')
		i.badge.badge-info
		| npmコマンド
	a.list-group-item(href='6')
		i.badge.badge-info
		| 便利なパッケージ
.list-group
	a.list-group-item.active
		| Express
	a.list-group-item(href='13')
		i.badge.badge-info
		| Express資料
	a.list-group-item(href='5')
		i.badge.badge-info
		| インストール
	a.list-group-item(href='7')
		i.badge.badge-info
		| Stylusを使う
	a.list-group-item(href='8')
		i.badge.badge-info
		| nibを使う
	a.list-group-item(href='9')
		i.badge.badge-info
		| 静的ページを追加する
	a.list-group-item(href='10')
		i.badge.badge-info
		| 動的ページを追加する
	a.list-group-item(href='11')
		i.badge.badge-info
		| ID番号でテンプレートを使う
	a.list-group-item(href='#')
		i.badge.badge-info
		| ルーティング
	a.list-group-item(href='#')
		i.badge.badge-info
		| exports
	a.list-group-item(href='#')
		i.badge.badge-info
		| module.exports
	a.list-group-item(href='#')
		i.badge.badge-info
		| CoffeeScriptで記述する
	a.list-group-item(href='2')
		i.badge.badge-info
		| EJSでパーシャルを使う
	a.list-group-item(href='3')
		i.badge.badge-info
		| BASIC認証を使う
	a.list-group-item(href='4')
		i.badge.badge-info
		| Node.jsでメールフォーム
	a.list-group-item(href='#')
		i.badge.badge-info
		| Herokuへデプロイ