div.list-group
	a.list-group-item(href='nodejs1.jade')
		i.badge.badge-info
		| Node.js資料
	a.list-group-item(href='nodejs2.jade')
		i.badge.badge-info
		| Expressでパーシャルを使う
	a.list-group-item(href='nodejs3.jade')
		i.badge.badge-info
		| ExpressでBASIC認証を使う
	a.list-group-item(href='nodejs4.jade')
		i.badge.badge-info
		| Node.jsでメールフォーム
