nav.navbar.navbar-default
  div.navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  div.collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li
        a(href='../nodejs/1') Node.js
      li
        a(href='../webapi-1.ejs') Ajax
      li
        a(href='../mongodb/1') Database
      li
        a(href='../framework/1') Framework
      li
        a(href='#') Socket.IO
      li
        a(href='http://keystonejs.com/',target='_blank') KeystoneJS
      li
        a(href='https://ghost.org/',target='_blank') Gohst
