nav.navbar.navbar-default
  div.navbar-header
    button.navbar-toggle(data-toggle='collapse',data-target='.target')
      span.icon-bar
      span.icon-bar
      span.icon-bar
    a.navbar-brand(href='/')=title
  div.collapse.navbar-collapse.target
    ul.nav.navbar-nav
      li
        a(href='1') Node.js
      li
        a(href='#') MongoDB
      li
        a(href='#') AngularJS
      li
        a(href='#') Socket.IO
  //-
    ul.nav.navbar-nav.navbar-right
      li
        a(href="http://nodejs.org/",target="_blank") Node.js
      li
        a(href="http://expressjs.com/",target="_blank") Express
      li
        a(href="http://jade-lang.com/",target="_blank") Jade
      li
        a(href="http://learnboost.github.io/stylus//",target="_blank") Stylus
      li
        a(href="http://coffeescript.org/",target="_blank") CoffeeScript
      li
        a(href="http://www.mongodb.org/",target="_blank") MongoDB
      li
        a(href="http://keystonejs.com/",target="_blank") KeystoneJS