extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        |  PostgreSQLと連携する⑥
                    .panel-body
                        .alert.alert-info データベースを切断する
                        p routes/index.js
                        pre(class='prettyprint linenums:1')
                            :code
                                /*
                                 * GET home page.
                                 */

                                exports.index = function(req, res){

                                    var pg = require('pg');

                                    var conf = 'tcp://postgres:admin@localhost:5433/mydb';
                                    var result = null;

                                    pg.connect(conf,function(err, client){
                                        if(err){
                                            //例外処理
                                            console.log(err);
                                        }
                                        else{
                                            <mark>client.on('drain',function(){
                                                client.end.bind(client);
                                            });</mark>

                                            //データベースアクセスの処理
                                            client.query('SELECT * from mydata', function(err, result){
                                                res.render('index',{
                                                    title: 'Express',
                                                    msg: 'MyDataの一覧リスト',
                                                    datas: result.rows
                                                });
                                            });
                                        }
                                    });
                                };
                        p routes/create.js
                        pre(class='prettyprint linenums:1')
                            :code
                                var pg = require('pg');

                                exports.create = function(req, res){
                                    var conf = 'tcp://postgres:admin@localhost:5433/mydb';
                                    var result = null;

                                    pg.connect(conf, function(err, client){
                                        if(err){
                                            console.log(err);
                                            res.redirect('/');
                                        }
                                        else{
                                            <mark>client.on('drain',function(){
                                                client.end.bind(client);
                                            });</mark>
                                            
                                            var sql = "INSERT INTO mydata (name, mail, tel) values('";
                                            sql += req.body.name + "','" + req.body.mail + "','" + req.body.tel + "')";
                                            console.log(sql);

                                            client.query(sql, function(err, result){
                                                console.log(err);
                                                res.redirect('/');
                                            });
                                        }
                                    });
                                };
                        p routes/edit.js
                        pre(class='prettyprint linenums:1')
                            :code
                                var pg = require('pg');

                                exports.edit = function(req, res){

                                    var id = req.params.id;

                                    var conf = 'tcp://postgres:admin@localhost:5433/mydb';
                                    var result = null;

                                    pg.connect(conf, function(err, client){
                                        if(err){
                                            console.log(err);
                                            res.redirect('/');
                                        }
                                        else{
                                            var sql = "SELECT * FROM mydata WHERE id = " + id;
                                            console.log(sql);

                                            <mark>client.on('drain',function(){
                                                client.end.bind(client);
                                            });</mark>

                                            client.query(sql, function(err, result){
                                                if(err){
                                                    console.log(err);
                                                    res.redirect('/');
                                                }
                                                else{
                                                    res.render('edit',{
                                                        title: 'Express',
                                                        msg: '送信してください',
                                                        data: result.rows[0]
                                                    })
                                                }
                                            });
                                        }
                                    });
                                };
                        p routes/update.js
                        pre(class='prettyprint linenums:1')
                            :code
                                var pg = require('pg');

                                exports.update = function(req, res){
                                    var conf = 'tcp://postgres:admin@localhost:5433/mydb';
                                    var result = null;

                                    console.log(req.body);

                                    pg.connect(conf, function(err, client){
                                        if(err){
                                            console.log(err);
                                            res.redirect('/');
                                        }
                                        else{
                                            var sql = "UPDATE mydata SET name = $1, mail = $2, tel = $3 WHERE id = $4";

                                            console.log(sql);

                                            <mark>client.on('drain',function(){
                                                client.end.bind(client);
                                            });</mark>

                                            client.query(sql, [req.body.name, req.body.name, req.body.tel, req.body.id], function(err, result){
                                                console.log(err);
                                                res.redirect('/');
                                            })
                                        }
                                    });
                                };
                        p routes/delete.js
                        pre(class='prettyprint linenums:1')
                            :code
                                var pg = require('pg');

                                exports.del = function(req, res){
                                    
                                    var id = req.params.id;

                                    var conf = 'tcp://postgres:admin@localhost:5433/mydb';
                                    var result = null;

                                    pg.connect(conf, function(err, client){
                                        var sql = "SELECT * FROM mydata WHERE id = " + id;
                                        
                                        <mark>client.on('drain',function(){
                                            client.end.bind(client);
                                        });</mark>

                                        client.query(sql, function(err, result){
                                            if(err){
                                                console.log(err);
                                                res.redirect('/');
                                            }
                                            else{
                                                res.render('delete',{
                                                    title: 'Express',
                                                    msg: 'このレコードを削除しますか',
                                                    data: result.rows[0]
                                                });
                                            }
                                        });
                                    });
                                };
                        p routes/remove.js
                        pre(class='prettyprint linenums:1')
                            :code
                                var pg = require('pg');

                                exports.remove = function(req, res){

                                    var conf = 'tcp://postgres:admin@localhost:5433/mydb';
                                    var result = null;

                                    pg.connect(conf, function(err, client){
                                        if(err){
                                            console.log(err);
                                            res.redirect('/');
                                        }
                                        else{
                                            var sql = "DELETE from mydata where id = $1";

                                            <mark>client.on('drain',function(){
                                                client.end.bind(client);
                                            });</mark>
                                            
                                            client.query(sql, [req.body.id], function(err, result){
                                                console.log(err);
                                                res.redirect('/');
                                            });
                                        }
                                    });
                                };
                        p routes/find.js
                        pre(class='prettyprint linenums:1')
                            :code
                                var pg = require('pg');

                                exports.find = function(req, res){
                                    res.render('find', {
                                        title: 'Express',
                                        msg: '検索文字を入力してください',
                                        find: '',
                                        datas: []
                                    });
                                };

                                exports.find_post = function(req, res){

                                    var conf = 'tcp://postgres:admin@localhost:5433/mydb';
                                    var result = null;

                                    pg.connect(conf, function(err, client){
                                        if(err){
                                            console.log(err);
                                            res.redirect('/find');
                                        }
                                        else{
                                            var sql = "SELECT * FROM mydata WHERE name like '%" + req.body.find + "%'";

                                            console.log(sql);

                                            client.on('drain',function(){
                                                client.end.bind(client);
                                            });

                                            client.query(sql, function(err, result){
                                                if(err){
                                                    console.log(err);
                                                    res.redirect('/find');
                                                }
                                                else{
                                                    res.render('find',{
                                                        title: 'Express',
                                                        msg: '[' + req.body.find + ']の検索結果',
                                                        find: req.body.find,
                                                        datas: result.rows
                                                    })
                                                }
                                            });
                                        }
                                    });
                                };
