extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Express資料
                    .panel-body
                        .alert.alert-info 公式サイト
                        p: a(href='http://expressjs.com/',target='_blank') http://expressjs.com/
                        hr
                        .alert.alert-info APIドキュメント
                        p: a(href='http://expressjs.com/api.html',target='_blank') http://expressjs.com/api.html
                        hr
                        .alert.alert-info ドットインストール
                        p: a(href='http://dotinstall.com/lessons/basic_expressjs',target='_blank') Express入門






