extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Node.js資料
                    .panel-body
                        h4 Node.js
                        p
                            | Node.js公式サイト
                            br
                            a(href='http://nodejs.org/',target='_blank')
                                | http://nodejs.org/
                        p
                            | Node.js API ドキュメント
                            br
                            a(href='http://nodejs.org/api/',target='_blank')
                                | http://nodejs.org/api/
                        p
                            | Node.jsのインストール
                        pre 
                            | wget http://nodejs.org/dist/v0.10.24/node-v0.10.24.tar.gz
                            | tar -zxf node-v0.10.24.tar.gz
                            | cd node-v0.10.24
                            | ./configure
                            | make
                            | sudo make install
                        hr
                        h4 npm（node package manager）
                        p
                            | npm公式サイト
                            br
                            a(href='https://npmjs.org/',target='_blank')
                                | https://npmjs.org/
                        p
                            | npm API ドキュメント
                            br
                            a(href='https://npmjs.org/doc/',target='_blank')
                                | https://npmjs.org/doc/
                        hr
                        h4 ドットインストール
                        p
                            a(href='http://dotinstall.com/lessons/basic_nodejs', target='_blank') Node.js入門
                        h4 ビギナーのためのNode.js入門
                        p
                            a(href='http://libro.tuyano.com/index2?id=1115003', target='_blank') ビギナーのためのNode.js入門
                        hr
                        pre
                            :code
                                Webサーバー
                                
                                Apache/IIS（Internet Information services）/Nginx
                                

                                XAMPP（Win/Mac/Linux）ザンプ
                                http://www.apachefriends.org/jp/xampp-windows.html


                                MAMP（Mac）

                                Apache（Win/Mac/Linux）
                                http://httpd.apache.org/

                                Nginx（Win/Linux）
                                http://nginx.org/ja/

                                Node.js（Win/Mac/Linux）
                                http://nodejs.org/




                                仮想化ソフト

                                Virtual Box
                                https://www.virtualbox.org/

                                Vmware Player
                                http://www.vmware.com/jp/products/desktop_virtualization/player/overview


                                Linux

                                CentOS
                                http://www.centos.org/

                                Fedora
                                https://fedoraproject.org/ja/

                                Ubuntu Server
                                http://www.ubuntu.com/download/server



                                ホストエディター
                                
                                hostsファイル
                                場所：C:\Windows\System32\drivers\etc\
                                

                                Hosts File Manager（Win）
                                http://softwarefactory.jp/ja/products/hostsfilemanager/

                                HostsEdit（Win）
                                http://www.vector.co.jp/soft/win95/net/se248258.html

                                Hoster（Mac）
                                http://www.redwinder.com/macapp/hoster/


                                SSHクライアント

                                TeraTerm（Win）
                                http://www.forest.impress.co.jp/library/software/utf8teraterm/

                                Win SCP

                                Poderosa

                                Putty


                                ドットインストール

                                ローカル開発環境の構築
                                http://dotinstall.com/lessons/basic_local_development

                                MVCとは何か
                                http://dotinstall.com/lessons/basic_rails/6503

                                Ruby on Rails入門
                                http://dotinstall.com/lessons/basic_rails

                                Cake PHP入門
                                http://dotinstall.com/lessons/basic_cakephp






