<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>

        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">
            <i class="glyphicon glyphicon-book"></i> Node.jsでメールフォーム</div>
          <div class="panel-body">
            <p>
            Node.js、Express、nodemailerでメールフォームを作成してみましょう。
            </p>
          <p>
          <a href="http://node-mail.herokuapp.com/" target="_blank" class="btn btn-default">
          <i class="glyphicon glyphicon-play"></i> デモ
          </a>
          <a href="https://github.com/yoh-nak/node-mail" target="_blank" type="button" class="btn btn-default btn-warning">
          <span class="glyphicon glyphicon-cloud-download"></span>
          GitHub
          </a>
          </p>
<p class="dtree">
    <script src="js/dtree/dtree.js"></script>
    <p>
      <a href="javascript: treeObj.openAll();">全て開く</a> | 
      <a href="javascript: treeObj.closeAll();">全て閉じる</a>
      <!--<a href="javascript: treeObj.openTo(4, true);">open to: Node 4</a>-->
    </p>
    <script type="text/javascript">
      var treeObj = new dTree('treeObj');
      treeObj.add(0,-1,'TOP');
      treeObj.add(1,0,'node_modules','#');
      treeObj.add(2,1,'ejs','javascript:void(0)');
      treeObj.add(3,2,'..','javascript:void(0)');
      treeObj.add(4,1,'express','javascript:void(0)');
      treeObj.add(5,4,'..','javascript:void(0)');
      treeObj.add(6,0,'public','javascript:void(0)');
      treeObj.add(7,6,'..','javascript:void(0)');
      treeObj.add(8,0,'routes','javascript:void(0)');
      treeObj.add(9,8,'index.js','javascript:void(0)');
      treeObj.add(10,0,'views','#');
      treeObj.add(11,10,'index.ejs','javascript:void(0)');
      treeObj.add(12,0,'app.js','#');
      treeObj.add(13,0,'package.json','#');
      document.write(treeObj); 
    </script>
</p>

app.js
<pre class="prettyprint linenums">

</pre>

routes/index.js
<pre class="prettyprint linenums">

</pre>

views/index.ejs
<pre class="prettyprint linenums">

</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/list-counter.js"></script>
  </body>
</html>