extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;メールを送る
                    .panel-body
                        p
                            | nodemailer npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/nodemailer',target='_blank')
                                | https://npmjs.org/package/nodemailer
                        p
                            | nodemailer GitHubサイト
                            br
                            a(href='https://github.com/andris9/nodemailer',target='_blank')
                                | https://github.com/andris9/nodemailer
                        hr
                        p 下のサンプルを実行すると、メールデータのセットの箇所で設定しているtato@example.comを差出人として、piyo@hogehoge.comへメールが送信されます。
                        p subjectは件名、htmlはHTMLメールの場合のボディとなります。
                        p SMTPサーバー接続のためのsettingオプションではhostにSMTPサーバー、auth内のuser、pass、portへそれぞれユーザ名、パスワード、SMTPポートを指定します。ポートは省略すれば25となります。
                        p hostの代わりにservice: 'Gmail' などのようにHotmail、Yahoo Mailといった有名なメールサービスを指定することもできます。
                        p 他にも多彩な機能が提供されています。詳細は上記URLまたは、nodemailer-helpでヘルプを見ることができます。
                        hr
                        h4 インストール
                        pre
                            :code
                                npm install -g nodemailer
                        pre
                            :code
                                npm install nodemailer
                        hr
                        h4 サンプルコード
                        pre(class='prettyprint linenums:1')
                            :code
                                var mailer = require('nodemailer');
                                 
                                //SMTPの設定
                                var setting = {
                                    //SMTPサーバーを使う場合
                                    host: 'SMTPホスト',
                                    auth: {
                                        user: 'ユーザ名',
                                        pass: 'パスワード',
                                        port: 'SMTPポート番号'
                                    }

                                    /*
                                    //Webサービスを使う場合
                                    service: 'サービス名', //'Gmail'、'Hotmail'、'Yahoo Mail'など
                                    auth: {
                                        user: 'アカンと名',
                                        pass: 'パスワード',
                                        port: 'ポート番号' //'25'など
                                    }
                                    */
                                };

                                //メールの内容
                                var mailOptions = {
                                    from: '送信者のメールアドレス',
                                    to: '送信先メールアドレス',
                                    subject: 'メールの件名',
                                    html: 'メールの内容' //HTMLタグが使えます
                                };

                                //SMTPの接続
                                var smtp = mailer.createTransport('SMTP', setting);

                                //メールの送信
                                smtp.sendMail(mailOptions, function(err, res){
                                    //送信に失敗したとき
                                    if(err){
                                        console.log(err);
                                    //送信に成功したとき
                                    }else{
                                        console.log('Message sent: ' + res.message);
                                    }
                                    //SMTPの切断
                                    smtp.close();
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                mailer = require("nodemailer")

                                #SMTPの設定
                                setting =
                                
                                    #SMTPサーバーを使う場合
                                    host: "SMTPホスト"
                                    auth:
                                        user: "ユーザ名"
                                        pass: "パスワード"
                                        port: "SMTPポート番号"


                                    ###
                                    #Webサービスを使う場合
                                    service: "サービス名" #'Gmail'、'Hotmail'、'Yahoo Mail'など
                                        auth:
                                        user: "アカンと名"
                                        pass: "パスワード"
                                        port: "ポート番号" #'25'など
                                    ###

                                #メールの内容
                                mailOptions =
                                    from: "送信者のメールアドレス"
                                    to: "送信先メールアドレス"
                                    subject: "メールの件名"
                                    html: "メールの内容" #HTMLタグが使えます


                                #SMTPの接続
                                smtp = mailer.createTransport("SMTP", setting)

                                #メールの送信
                                smtp.sendMail mailOptions, (err, res) ->
                                
                                    #送信に失敗したとき
                                    if err
                                        console.log err
                                    
                                    #送信に成功したとき
                                    else
                                        console.log "Message sent: " + res.message
                                    
                                    #SMTPの切断
                                    smtp.close()
                                    return
