extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Expressで静的ページを追加する
                    .panel-body
                        p ① publicディレクトリ以下のディレクトリは、public以下のディレクトリを「http://ドメイン名/」以下のURLの階層として、そのままクライアントにレスポンスが返されます。
                        hr
                        p ② デフォルトでは以下のようなディレクトリになっていますが、ディレクトリ名は任意に変更することができます。
                        pre
                            :code
                                public
                                    images（画像を格納）
                                    javascripts（jsファイルを格納）
                                    stylesheets（cssファイルを格納）