extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;hotnode
                    .panel-body
                        .alert.alert-info hotnode
                        p
                            | nodemailer npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/hotnode',target='_blank')
                                | https://npmjs.org/package/hotnode
                        p
                            | nodemailer GitHubサイト
                            br
                            a(href='https://github.com/saschagehlich/hotnode',target='_blank')
                                | https://github.com/saschagehlich/hotnode
                        hr
                        p Node.jsのソースが編集されたら自動的にサーバーを再起動します。
                        p 似たようなパッケージにnodeamonというパッケージもあります。
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g hotnode
                        p: u 使い方
                        p サーバーを起動する際に、「node サーバー」の代わりに「hotnode サーバー」で起動します。
                        pre
                            :code
                                hotnode サーバー
                        hr
                        .alert.alert-info pulldown
                        p
                            | nodemailer npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/pulldown',target='_blank')
                                | https://npmjs.org/package/pulldown
                        p
                            | nodemailer GitHubサイト
                            br
                            a(href='https://github.com/jackfranklin/pulldown',target='_blank')
                                | https://github.com/jackfranklin/pulldown
                        hr
                        p コマンドからJavaScriptのライブラリをダウンロードできます。
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g pulldown
                        p: u 使い方
                        p pulldownコマンドの後に使いたいJavaScriptのライブラリを指定します。
                        pre
                            :code
                                pulldown jquery
                        p バージョンの指定もできます。
                        pre
                            :code
                                pulldown jquery@1.8.3
                        p ダウンロードできるライブラリは以下のサイトで確認できます。
                        p
                            a(href='http://cdnjs.com/',target='_blank') http://cdnjs.com/
                        hr
                        .alert.alert-info uglifyjs
                        p
                            | uglifyjs npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/uglifyjs',target='_blank')
                                | https://npmjs.org/package/uglifyjs
                        p
                            | uglifyjs GitHubサイト
                            br
                            a(href='https://github.com/ForbesLindesay/uglifyjs',target='_blank')
                                | https://github.com/ForbesLindesay/uglifyjs
                        hr
                        p jsファイルの圧縮と結合を行います。
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g uglifyjs
                        p: u 使い方
                        p uglifyjsコマンドに続けてjsファイルを指定します。
                        pre
                            :code
                                uglifyjs hoge.js foo.js
                        hr
                        .alert.alert-info qrcode
                        p
                            | qrcode npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/qrcode',target='_blank')
                                | https://npmjs.org/package/qrcode
                        p
                            | qrcode GitHubサイト
                            br
                            a(href='https://github.com/soldair/node-qrcode',target='_blank')
                                | https://github.com/soldair/node-qrcode
                        hr
                        p 指定したアドレスのQRコードを生成できます。
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g qrcode
                        p: u 使い方
                        p qrcodeコマンドの後にアドレスと、保存する画像のファイル名を指定します。
                        pre
                            :code
                                qrcode "http://monaca.mobi" qrcode.png
                        hr
                        .alert.alert-info static
                        p
                            | static npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/static',target='_blank')
                                | https://npmjs.org/package/static
                        p
                            | static GitHubサイト
                            br
                            a(href='https://github.com/walmartlabs/static',target='_blank')
                                | https://github.com/walmartlabs/static
                        p 簡易Webサーバーをたてて指定したディレクトリにhttpアクセスできます。
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g static
                        p: u 使い方
                        p 以下のコマンドを実行します。
                        pre
                            :code
                                static ディレクトリパス
                        p カレントディレクトリにいる場合は
                        pre
                            :code
                                static .
                        p 以下のように出力されるのでブラウザでアクセスします。
                        pre
                            :code
                                serving "." at http://127.0.0.1:8080
                        p qrcodeと合わせて使うと、スマートフォンサイトに実機でアクセスするときに便利です。
                        hr
                        .alert.alert-info karma
                        p
                            | static npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/karma',target='_blank')
                                | https://npmjs.org/package/karma
                        p
                            | karma 公式サイト
                            br
                            a(href='http://karma-runner.github.io/0.10/index.html',target='_blank')
                                | http://karma-runner.github.io/0.10/index.html
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g karma
                        p: u 使い方
                        hr
                        .alert.alert-info weinre
                        p
                            | qrcode npmパッケージサイト
                            br
                            a(href='https://npmjs.org/package/weinre',target='_blank')
                                | https://npmjs.org/package/weinre
                        p
                            | qrcode 公式サイト
                            br
                            a(href='http://people.apache.org/~pmuellr/weinre/',target='_blank')
                                | http://people.apache.org/~pmuellr/weinre/
                        p スマートフォンの実機で閲覧しているWebサイトのデバッグをPCで行うことができます。
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g weinre
                        p: u 使い方