extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;hotnode
                    .panel-body
                        .alert.alert-info hotnode
                        p Node.jsのソースが編集されたら自動的にサーバーを再起動します。
                        p 似たようなパッケージにnodeamonというパッケージもあります。
                        p: u インストール
                        pre
                            :code
                                (sudo )npm install -g hotnode
                        p: u 使い方
                        p サーバーを起動する際に、「node サーバー」の代わりに「hotnode サーバー」で起動します。
                        pre
                            :code
                                hotnode サーバー
                    hr
                    .alert.alert-info pulldown
                    hr
                    .alert.alert-info qrcode
                    hr
                    .alert.alert-info ugrify-js
                    hr
                    .alert.alert-info static
                    hr
                    .alert.alert-info karma
                    hr
                    .alert.alert-info weinre
                    hr
                    .alert.alert-info hotnode
                    hr
                    .alert.alert-info hotnode