include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							| Node.js資料
						.panel-body
							.alert.alert-info ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_nodejs', target='_blank') Node.js入門
							hr
							pre
								| テンプレートエンジン比較
								| http://paularmstrong.github.io/node-templates/
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')