.list-group
    a.list-group-item(href='../mobile/1')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../mobile/9')
        i.badge.badge-info
        | スマートフォンシミュレーター
    a.list-group-item(href='../mobile/7')
        i.badge.badge-info
        | スマートフォンサイト
    a.list-group-item(href='../mobile/8')
        i.badge.badge-info
        | ユーザーエージェント
    a.list-group-item(href='../mobile/2')
        i.badge.badge-info
        | リモートデバッグ
    a.list-group-item(href='../mobile/3')
        i.badge.badge-info
        | ワイヤーフレーム
    a.list-group-item(href='../mobile/4')
        i.badge.badge-info
        | ガイドライン
    a.list-group-item(href='#')
        i.badge.badge-info
        | オリエンテーション
    a.list-group-item(href='#')
        i.badge.badge-info
        | CSSスプライト
    a.list-group-item(href='#')
        i.badge.badge-info
        | DataURI
    a.list-group-item(href='../mobile/6')
        i.badge.badge-info
        | スライドギャラリー
    a.list-group-item(href='../mobile/5')
        i.badge.badge-info
        | スワイプギャラリー
    a.list-group-item(href='../demo/jquery/exercise151/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI①（参考）
    a.list-group-item(href='../demo/jquery/exercise152/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI②（参考）
    a.list-group-item(href='../demo/jquery/exercise153/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI③（参考）
    a.list-group-item(href='../demo/jquery/exercise154/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI④（参考）
