.list-group
    a.list-group-item(href='../mobile/1')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../mobile/9')
        i.badge.badge-info
        | スマートフォンシミュレーター
    a.list-group-item(href='../mobile/7')
        i.badge.badge-info
        | スマートフォンサイト
    a.list-group-item(href='../mobile/8')
        i.badge.badge-info
        | ユーザーエージェント
    a.list-group-item(href='../mobile/2')
        i.badge.badge-info
        | リモートデバッグ
    a.list-group-item(href='../mobile/33')
        i.badge.badge-info
        | 簡易Webサーバー
    a.list-group-item(href='../mobile/23')
        i.badge.badge-info
        | タッチイベント
    a.list-group-item(href='../mobile/10')
        i.badge.badge-info
        | ジェスチャー
    a.list-group-item(href='../mobile/13')
        i.badge.badge-info
        | Quo.js
    a.list-group-item(href='../mobile/14')
        i.badge.badge-info
        | オリエンテーション
    a.list-group-item(href='../mobile/12')
        i.badge.badge-info
        | スマートフォンのブラウザ
    a.list-group-item(href='../mobile/16')
        i.badge.badge-info
        | Mobile Safariの制限
    a.list-group-item(href='../mobile/17')
        i.badge.badge-info
        | CSS3の不具合
    a.list-group-item(href='../mobile/11')
        i.badge.badge-info
        | 画面サイズ
    a.list-group-item(href='../mobile/15')
        i.badge.badge-info
        | Viewport
    a.list-group-item(href='../mobile/19')
        i.badge.badge-info
        | device-pixel-ratio
    a.list-group-item(href='../mobile/4')
        i.badge.badge-info
        | ガイドライン
    a.list-group-item(href='../mobile/3')
        i.badge.badge-info
        | ワイヤーフレーム
    a.list-group-item(href='http://matome.naver.jp/odai/2133549333441763901',target='_blank')
        i.badge.badge-info
        | UI/UXデザイン
    a.list-group-item(href='../mobile/36')
        i.badge.badge-info
        | ショートカットアイコン
    a.list-group-item(href='http://jeed-training.herokuapp.com/_css/39',target='_blank')
        i.badge.badge-info
        | デバイスフォント
    a.list-group-item(href='../mobile/18')
        i.badge.badge-info
        | 配色
    a.list-group-item(href='../mobile/34')
        i.badge.badge-info
        | メールアドレス・電話番号リンク
    a.list-group-item(href='../mobile/35')
        i.badge.badge-info
        | アプリの起動リンク
    a.list-group-item(href='../mobile/43')
        i.badge.badge-info
        | フロントエンド開発の自動化
    a.list-group-item(href='../mobile/21')
        i.badge.badge-info
        | Cafeサイト①
    a.list-group-item(href='../mobile/32')
        i.badge.badge-info
        | Cafeサイト②
    a.list-group-item(href='../mobile/39')
        i.badge.badge-info
        | Cafeサイト③
    a.list-group-item(href='../mobile/40')
        i.badge.badge-info
        | Cafeサイト④
    a.list-group-item(href='../mobile/41')
        i.badge.badge-info
        | Cafeサイト⑤
    a.list-group-item(href='../mobile/42')
        i.badge.badge-info
        | Cafeサイト⑥
    a.list-group-item(href='../mobile/44')
        i.badge.badge-info
        | Cafeサイト⑦
    a.list-group-item(href='../mobile/45')
        i.badge.badge-info
        | Cafeサイト⑧
    a.list-group-item(href='../mobile/46')
        i.badge.badge-info
        | Cafeサイト⑨ SNSボタン
    a.list-group-item(href='#')
        i.badge.badge-info
        | Cafeサイト⑩ トランジション
    a.list-group-item(href='#')
        i.badge.badge-info
        | Cafeサイト⑪ カルーセル
    a.list-group-item(href='#')
        i.badge.badge-info
        | Tシャツサイト①
    a.list-group-item(href='#')
        i.badge.badge-info
        | Tシャツサイト②
    a.list-group-item(href='../mobile/20')
        i.badge.badge-info
        | CSSスプライト
    a.list-group-item(href='../mobile/37')
        i.badge.badge-info
        | grunt-spritesmith
    a.list-group-item(href='../mobile/22')
        i.badge.badge-info
        | DataURI
    a.list-group-item(href='../mobile/38')
        i.badge.badge-info
        | grunt-datauri
    a.list-group-item(href='../mobile/25')
        i.badge.badge-info
        | 画像の最適化
    a.list-group-item(href='../mobile/24')
        i.badge.badge-info
        | Webフォントアイコン
    a.list-group-item(href='../mobile/30')
        i.badge.badge-info
        | キャッシュの活用
    a.list-group-item(href='../mobile/28')
        i.badge.badge-info
        | ソースコードの圧縮
    a.list-group-item(href='../mobile/27')
        i.badge.badge-info
        | セレクターの最適化
    a.list-group-item(href='../mobile/29')
        i.badge.badge-info
        | SNSボタンの最適化
    a.list-group-item(href='../mobile/26')
        i.badge.badge-info
        | パフォーマンス計測
    a.list-group-item(href='../mobile/6')
        i.badge.badge-info
        | スライドギャラリー
    a.list-group-item(href='../mobile/5')
        i.badge.badge-info
        | スワイプギャラリー
    a.list-group-item(href='../demo/jquery/exercise151/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI①（参考）
    a.list-group-item(href='../demo/jquery/exercise152/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI②（参考）
    a.list-group-item(href='../demo/jquery/exercise153/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI③（参考）
    a.list-group-item(href='../demo/jquery/exercise154/index1.html',target='_blank')
        i.badge.badge-info
        | スマートフォンのUI④（参考）
