extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;資料
                    .panel-body
                        pre
                            :code


                                各ブラウザユーザーエージェントの偽装



                                http://4th-life.com/web-site/browser-user-agent/

                        pre
                            :code
                                ユーザーエージェント一覧
                                http://www.openspc2.org/userAgent/

                        pre
                            :code

                                エミュレーター

                                Androidエミュレーター
                                     Android Developers
                                     http://developer.android.com/intl/ja/sdk/index.html 

                                iOSシミュレーター（Macのみ）
                                     iOS Devcenter
                                     http://developer.apple.com/devcenter/ios/

                                    iOS-Simulator Cropper
                                    iOSシミュレーターにキャプチャ機能を追加
                                    http://www.curioustimes.de/iphonesimulatorcropper/  

                                Windows Phoneエミュレーター
                                     APP HUB（DEVELOPER FOR WINDOWS PHONE & XBOX360）
                                     http://create.msdn.com/ja-JP

                                Tizen Emulator
                                     Tizen Developers
                                     https://developer.tizen.org/ 



                                シミュレーター

                                ibbdemo2
                                https://code.google.com/p/ibbdemo2/

                                ibbdemo3
                                https://code.google.com/p/ibbdemo3/

                                AIR iPhone
                                http://www.merhl.com/?page_id=3

                                Air iPad
                                http://www.merhl.com/?page_id=50

                                Mobilizer
                                http://www.springbox.com/about/tools/

                                iphoney
                                http://www.marketcircle.com/iphoney/



                                IDE

                                MobiOne
                                http://www.genuitec.com/mobile/




                                Chromeアプリ

                                iPSim
                                http://chrome.google.com/webstore/detail/gcligifbhamdimemnemmlkffkpmflehh#

                                Ripple Emulator
                                https://chrome.google.com/webstore/detail/ripple-emulator-beta/geelfhphabnejjhdalkjhgipohgpdnoc




                                Firefoxアドオン

                                Firefox os simulator
                                https://addons.mozilla.org/ja/firefox/addon/firefox-os-simulator/

                                FireMobileSimulator
                                http://firemobilesimulator.org/


                                Webサイト

                                TestiPhone.com
                                http://www.testiphone.com/

                        pre
                            :code
                                CSS3の不具合

                                Android2系の場合、メタ要素のviewportに「user-scalable=yes」の状態（ピンチによる拡大縮小が可能な状態）では、「position:fixed」の動きがおかしくなる。
                                Android2系の場合、「translate3d」の挙動がおかしい。たとえば、「transform」を組み合わせて使用すると、transformの指定が無効になるなど。
                                Android2系の場合、「text-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                                Android2系の場合、「box-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                                「z-index」の順序を無視して、下のレイヤーのリンクなどタップが反応してしまう。
                                Androis2.2では、「background-size:cover」や「rotate3d」などに対応していない。



                                AndroidやiPhoneのHTML,CSS,JavaScriptのバグまとめ 
                                http://blog.webcreativepark.net/2012/03/13-093853.html

                                スマートフォンとposition:fixedのバグ 
                                http://blog.webcreativepark.net/2011/12/07-052517.html 


                                スマートフォンサイト制作で役立つ便利な小技とか 
                                http://webamb.com/smartphone/1205.html

                        pre
                            :code

                                スマートフォンUIギャラリーサイト


                                Antroid Interaction Design Pattern
                                http://www.androidpatterns.com/

                                iPhoneデザインボックス
                                http://design.web-hon.com/


                                Patterns of Design
                                http://www.patternsofdesign.co.uk/

                                Mobile Patterns
                                http://www.mobile-patterns.com/

                                PTTRNS
                                http://pttrns.com/

                                mobile AWESOMENESS
                                http://www.mobileawesomeness.com

                                Mobile Design Inspiration
                                http://m.cssiphone.com/

                                Lovely UI
                                http://www.lovelyui.com/

                                Cocoa
                                https://www.cocoacontrols.com/

                                Android Patterns
                                http://www.androidpatterns.com/

                                TapFancy
                                http://tapfancy.com/

                                TapGala
                                http://www.tappgala.com/


                        pre
                            :code

                                スマートフォンUIライブラリ

                                iScroll
                                http://cubiq.org/iscroll

                                jQuery Mobile
                                http://jquerymobile.com/

                                jQT
                                http://jqtjs.com/

                                App Framework
                                http://app-framework-software.intel.com/

                                Sencha Touch
                                http://www.sencha.com/products/touch

                                Wink Toolkit
                                http://www.winktoolkit.org/ 

                        pre
                            :code
                                電話、メールリンク
                                =================
                                <meta name="format-detection" content="telephone=no"></meta> 電話番号自動リンク無効（iOSのみ）
                                <meta name="format-detection" content="telephone=yes"></meta> 電話番号自動リンク有効（iOSのみ）
                                <a href="tel:0311111111">TEL:03-1111-1111</a>
                                <a href="mailto:contact@example.com?subject=URLエンコード;body=URLエンコード">メール送信</a>

                        pre
                            :code

                                配色

                                Adobe Kuler
                                https://kuler.adobe.com/

                                Colour Lovers
                                http://www.colourlovers.com

                                Color Scheme Designer
                                http://colorschemedesigner.com/

                                Peppermint Color Express
                                https://itunes.apple.com/jp/app/peppermint-color-express/id340119405?mt=8

                                Colorpedia
                                https://itunes.apple.com/jp/app/peppermint-color-express/id340119405?mt=8

