extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Tシャツサイト⑧
                    .panel-body
                        p ㊾
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index49.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport',content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0')
                                        title 変なTシャツ作ってます T-Shirts Project
                                        link(rel='apple-touch-icon-precomposed',href='images/homeicon.png')
                                        link(rel='stylesheet',href='css/style.css')
                                    body#home
                                        header#header
                                            .inner
                                                //▼ title_area ▼
                                                .title_area
                                                    h1 変なTシャツ作ってます<span>T-Shirts<br>Project</span>

                                                //▼ t_shirts ▼ 
                                                .t_shirts
                                                    ul
                                                        li.t01
                                                            a(href='#')
                                                                figure.t_shirt
                                                                    img(src='images/t05.png',alt='',width='187',height='205')
                                                                .new NEW
                                                                .text めがね男子のための、<br>MEGANE Tシャツ登場
                                                        li.t02
                                                            a(href='#')
                                                                figure.t_shirt
                                                                    img(src='images/t04.png',alt='',width='99',height='107')
                                                                .new NEW
                                                        li.t03
                                                            a(href='#')
                                                                figure.t_shirt
                                                                    img(src='images/t02.png',alt='',width='99',height='107')
                                                        li.t04
                                                            a(href='#')
                                                                figure.t_shirt
                                                                    img(src='images/t01.png',alt='',width='99',height='107')
                                                        li.t05
                                                            a(href='#')
                                                                figure.t_shirt
                                                                    img(src='images/t03.png',alt='',width='99',height='107')
                                                        
                                        #container
                                            //▼ main_nav ▼
                                            .main_nav.nav
                                                ul
                                                    li
                                                        a(href='#')
                                                            span.icon-new.icon-right-open New
                                                    li
                                                        a(href='#')
                                                            span.icon-tshirts.icon-right-open Men
                                                    li
                                                        a(href='#')
                                                            span.icon-tshirts.icon-right-open Women
                                                ul
                                                    li
                                                        a(href='#')
                                                            span.icon-shop.icon-right-open Shop Info
                                                    li
                                                        a(href='#')
                                                            span.icon-basket.icon-right-open カートを見る

                                            //▼ banners ▼
                                            .section.banners
                                                div
                                                    a(href='#')
                                                        img(src='images/banner.png',alt='今なら期間限定商品が50%OFF',width='300',height='60')

                                            //▼ new_arrival ▼
                                            .section.new_arrival
                                                h1.heading_style01 作ってみました！新商品
                                                ul.box_list
                                                    li
                                                        a.icon-right-open(href='#')
                                                            figure
                                                                img(src='images/t02.png',alt='')
                                                            .info
                                                                h2 MILK BOX
                                                                p.price &yen;3,800
                                                                p.text 
                                                    li
                                                        a.icon-right-open(href='#')
                                                            figure
                                                                img(src='images/t05.png',alt='')
                                                            .info
                                                                h2 MEGANE T-Shirts
                                                                p.price &yen;3,800
                                                                p.text めがね男子のための、MEGANE Tシャツ登場
                                                    li
                                                        a.icon-right-open(href='#')
                                                            figure
                                                                img(src='images/t02.png',alt='')
                                                            .info
                                                                h2 MILK BOX
                                                                p.price &yen;3,800
                                                                p.text 牛乳パックのイラストが目を引く、キュートな逸品。
                                                    li
                                                        a.icon-right-open(href='#')
                                                            figure
                                                                img(src='images/t05.png',alt='')
                                                            .info
                                                                h2 MEGANE T-Shirts
                                                                p.price &yen;3,800
                                                                p.text めがね男子のための、MEGANE Tシャツ登場
                                                a.btn_style01.more(href='#')
                                                    div
                                                        span.icon-down-open もっと見る
                                            //▼ recommends ▼ 
                                            section.section.recommends
                                                h1.heading_style01 売れ筋のTシャツ
                                                .tab_list.nav
                                                    ul
                                                        li.active
                                                            a.small(href='#tab01') 今、売れてます
                                                        li
                                                            a(href='#tab02') 売り切れ間近
                                                        li
                                                            a(href='#tab03') 定番商品
                                                //▼ tab01 ▼ 
                                                #tab01.tab_content.active
                                                    ul.cf
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t01.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t02.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t03.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t04.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t05.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t01.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t02.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t03.png', alt='')
                                                                    p.price ¥3,800
                                                //▼ tab02 ▼ 
                                                #tab02.tab_content
                                                    ul.cf
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t03.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t04.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t05.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t01.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t02.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t03.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t04.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t05.png', alt='')
                                                                    p.price ¥3,800
                                                //▼ tab03 ▼ 
                                                #tab03.tab_content
                                                    ul.cf
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t05.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t04.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t03.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t02.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t01.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t05.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t04.png', alt='')
                                                                    p.price ¥3,800
                                                        li
                                                            a(href='#')
                                                                div
                                                                    figure
                                                                        img(src='images/t03.png', alt='')
                                                                    p.price ¥3,800


                                            //▼ search ▼
                                            section.section.search
                                                h1.heading_style01
                                                    label(for='keyword') 商品を検索
                                                form(action='./',method='get')
                                                    div
                                                        input#keyword(type='text',name='keyword',value='',placeholder='キーワードを入力')
                                                    div
                                                        button#submit(type='submit') 🔍

                                            //▼ news ▼
                                            section.news
                                                h1.heading_style01 お知らせ
                                                ul.tableview_list
                                                    li
                                                        a(href='#')
                                                            div
                                                                time(datetime='2012-12-12') 2012.12.12
                                                                p めがね男子のための、MEGANE Tシャツ登場
                                                    li
                                                        a(href='#')
                                                            div
                                                                time(datetime='2012-12-12') 2012.12.12
                                                                p めがね男子のための、MEGANE Tシャツ登場
                                                    li
                                                        a(href='#')
                                                            div
                                                                time(datetime='2012-12-12') 2012.12.12
                                                                p めがね男子のための、MEGANE Tシャツ登場

                                            //▼ bottom_nav ▼
                                            nav.bottom_nav.nav
                                                .select_menu.icon-tshirts.icon-down-open
                                                    select#select_menu(name='cat')
                                                        option(value='',selected='selected') カテゴリから探す
                                                        option(value='カテゴリ1') カテゴリ1
                                                        option(value='カテゴリ2') カテゴリ2
                                                        option(value='カテゴリ3') カテゴリ3
                                                        option(value='カテゴリ4') カテゴリ4
                                                        option(value='カテゴリ5') カテゴリ5
                                                ul
                                                    li
                                                        a(href='#')
                                                            span.icon-shop.icon-right-open Shop Info
                                                    li
                                                        a(href='#')
                                                            span.icon-basket.icon-right-open カートを見る
                                                ul.no_icon
                                                    li
                                                        a.small(href='#')
                                                            span.icon-right-open 送料・返品について
                                                    li
                                                        a(href='#')
                                                            span.icon-right-open お問い合わせ
                                                ul.no_icon
                                                    li
                                                        a(href='#')
                                                            span.icon-right-open よくある質問
                                                    li
                                                        a(href='#')
                                                            span.icon-right-open 会社概要
                                            a.top_of_page(href='#header')
                                                div トップページへ
                                                        
                                        footer#footer
                                            p
                                                small &copy;T-shirts Project
                                        script(src='http://code.jquery.com/jquery-2.1.0.min.js')
                                        <mark>script(src='js/action.js')</mark>
                        hr
                        p ㊿
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index50.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){

                                });
                        hr
                        p 51.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index51.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                     <mark>$('.more').on('touchstart click', function(e){
                                          alert('.more');
                                          e.preventDefault();       
                                     });</mark>
                                });
                        hr
                        p 52.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index52.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                     $('.more').on('touchstart click', function(e){
                                          <mark>$(this).parent().find('li').fadeIn();
                                          $(this).hide();
                                          e.preventDefault();</mark>     
                                     });
                                });
                        hr
                        p 53.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index53.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <mark>function more(){</mark>
                                     $('.more').on('touchstart click',function(e){
                                          $(this).parent().find('li').fadeIn();
                                          $(this).hide();
                                          e.preventDefault();          
                                     });
                                <mark>}

                                $(function(){
                                     more();
                                });</mark>
                        hr
                        p 54.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index54.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <mark>function tab(){
                                     alert('tab');
                                }</mark>

                                function more(){
                                     $('.more').on('touchstart click',function(e){
                                          $(this).parent().find('li').fadeIn();
                                          $(this).hide();
                                          e.preventDefault();          
                                     });
                                }

                                $(function(){
                                     <mark>tab();</mark>
                                     more();
                                });
                        hr
                        p 55.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index55.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                function tab(){
                                     <mark>$('.tab_list a').on('touchstart click',function(e){
                                          alert('tab');
                                          e.preventDefault();  
                                     });</mark>
                                }
                                function more(){
                                     $('.more').on('touchstart click',function(e){
                                          $(this).parent().find('li').fadeIn();
                                          $(this).hide();
                                          e.preventDefault();          
                                     });
                                }

                                $(function(){
                                     tab();
                                     more();
                                });
                        hr
                        p 56.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index56.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                function tab(){
                                     $('.tab_list a').on('touchstart click',function(e){
                                          <mark>$('.tab_list .active').removeClass('active');
                                          $(this).parent().addClass('active');
                                          $('.tab_content.active').removeClass('active');
                                          $(this.hash).addClass('active');</mark>
                                          e.preventDefault();  
                                     });
                                }
                                function more(){
                                     $('.more').on('touchstart click',function(e){
                                          $(this).parent().find('li').fadeIn();
                                          $(this).hide();
                                          e.preventDefault();          
                                     });
                                }

                                $(function(){
                                     tab();
                                     more();
                                });
                        hr
                        p 57.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index57.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                function tab(){
                                     $('.tab_list a').on('touchstart click',function(e){
                                          $('.tab_list .active').removeClass('active');
                                          $(this).parent().addClass('active');
                                          $('.tab_content.active').removeClass('active');
                                          $(this.hash).addClass('active');
                                          e.preventDefault();  
                                     });
                                }
                                function more(){
                                     $('.more').on('touchstart click',function(e){
                                          $(this).parent().find('li').fadeIn();
                                          $(this).hide();
                                          e.preventDefault();          
                                     });
                                }

                                <mark>function selectMenu(){
                                     $('#select_menu').change(function(){
                                          location.href = '#'+$(this).val();
                                     });
                                }</mark>

                                $(function(){
                                     tab();
                                     more();
                                     <mark>selectMenu();</mark>
                                });
                        hr
                        p 58.
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index58.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <mark>function init(){
                                     tab();
                                     more();
                                     selectMenu();
                                }</mark>

                                function tab(){
                                     $('.tab_list a').on('touchstart click',function(e){
                                          $('.tab_list .active').removeClass('active');
                                          $(this).parent().addClass('active');
                                          $('.tab_content.active').removeClass('active');
                                          $(this.hash).addClass('active');
                                          e.preventDefault();  
                                     });
                                }
                                function more(){
                                     $('.more').on('touchstart click',function(e){
                                          $(this).parent().find('li').fadeIn();
                                          $(this).hide();
                                          e.preventDefault();          
                                     });
                                }

                                function selectMenu(){
                                     $('#select_menu').change(function(){
                                          location.href = '#'+$(this).val();
                                     });
                                }

                                $(function(){
                                     <mark>init();</mark>
                                });