extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Quo.js
                    .panel-body
                        h4 公式サイト
                        p
                            a(href='http://quojs.tapquo.com/',target='_blank') http://quojs.tapquo.com/
                        hr
                        p スマートフォン特有のジェスチャーイベントをjQueryのように実装できます。名前空間は$$となっているのでjQueryと併用できます。
                        p
                            a.btn.btn-default(href='../demo/mobile/quojs1/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                    html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport',content='width=device-width,initial-scale=1.0')
                                        title
                                        link(rel='stylesheet', href='style.css')
                                    body
                                        #index(data-role='page')
                                            p 以下のジェスチャーを検証します。
                                            pre.
                                                tap
                                                hold
                                                singleTap
                                                doubleTap
                                                swipe
                                                swiping
                                                swipeLeft
                                                swipeRight
                                                swipeDown
                                                swipeUp
                                                pinch
                                                pinching
                                                pinchIn
                                                pinchOut
                                                rotate
                                                rotating
                                                rotateRight
                                                rotateLeft
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='quo.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                html,body
                                    width 100%
                                    height 100%
                                #index
                                    width 100%
                                    height 100%
                        pre(class='prettyprint linenums:1')
                            :code
                                $$(document).ready(function() {
                                    $$('#index').tap(function() {
                                        alert('tap');
                                    });
                                    $$('#index').hold(function() {
                                        alert('hold');
                                    });
                                    $$('#index').singleTap(function() {
                                        alert('singleTap');
                                    });
                                    $$('#index').doubleTap(function() {
                                        alert('doubleTap');
                                    });
                                    $$('#index').swipe(function() {
                                        alert('swipe');
                                    });
                                    $$('#index').swiping(function() {
                                        alert('swiping');
                                    });
                                    $$('#index').swipeLeft(function() {
                                        alert('swipeLeft');
                                    });
                                    $$('#index').swipeRight(function() {
                                        alert('swipeRight');
                                    });
                                    $$('#index').swipeDown(function() {
                                        alert('swipeDown');
                                    });
                                    $$('#index').swipeUp(function() {
                                        alert('swipeUp');
                                    });
                                    $$('#index').pinch(function() {
                                        alert('pinch');
                                    });
                                    $$('#index').pinching(function() {
                                        alert('pinching');
                                    });
                                    $$('#index').pinchIn(function() {
                                        alert('pinchIn');
                                    });
                                    $$('#index').pinchOut(function() {
                                        alert('pinchOut');
                                    });
                                    $$('#index').rotate(function() {
                                        alert('rotate');
                                    });
                                    $$('#index').rotating(function() {
                                        alert('rotating');
                                    });
                                    $$('#index').rotateRight(function() {
                                        alert('rotateRight');
                                    });
                                    $$('#index').rotateLeft(function() {
                                        alert('rotateLeft');
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $$(document).ready ->
                                    $$('#index').tap ->
                                        alert 'tap'
                                        return
                                    $$('#index').hold ->
                                        alert 'hold'
                                        return
                                    $$('#index').singleTap ->
                                        alert 'singleTap'
                                        return
                                    $$('#index').doubleTap ->
                                        alert 'doubleTap'
                                        return
                                    $$('#index').swipe ->
                                        alert 'swipe'
                                        return
                                    $$('#index').swiping ->
                                        alert 'swiping'
                                        return
                                    $$('#index').swipeLeft ->
                                        alert 'swipeLeft'
                                        return
                                    $$('#index').swipeRight ->
                                        alert 'swipeRight'
                                        return
                                    $$('#index').swipeDown ->
                                        alert 'swipeDown'
                                        return
                                    $$('#index').swipeUp ->
                                        alert 'swipeUp'
                                        return
                                    $$('#index').pinch ->
                                        alert 'pinch'
                                        return
                                    $$('#index').pinching ->
                                        alert 'pinching'
                                        return
                                    $$('#index').pinchIn ->
                                        alert 'pinchIn'
                                        return
                                    $$('#index').pinchOut ->
                                        alert 'pinchOut'
                                        return
                                    $$('#index').rotate ->
                                        alert 'rotate'
                                        return
                                    $$('#index').rotating ->
                                        alert 'rotating'
                                        return
                                    $$('#index').rotateRight ->
                                        alert 'rotateRight'
                                        return
                                    $$('#index').rotateLeft ->
                                        alert 'rotateLeft'
                                        return
                                    return
                        hr
                        p また、Quo.jsでは、ブラウザの種類、デスクトップかモバイルか、OS名、OSのバージョン、画面の解像度を取得できます。
                        p
                            a.btn.btn-default(href='../demo/mobile/quojs2/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport',content='width=device-width,initial-scale=1.0')
                                        title
                                        link(rel='stylesheet', href='style.css')
                                    body
                                        #index(data-role='page').
                                            デバイスの情報を検証します。
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='quo.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                html,body
                                    width 100%
                                    height 100%
                                #index
                                    width 100%
                                    height 100%
                        pre(class='prettyprint linenums:1')
                            :code
                                $$(function() {
                                    alert($$.environment().browser);
                                    alert($$.environment().isMobile);
                                    alert($$.environment().screen.width);
                                    alert($$.environment().screen.height);
                                    alert($$.environment().os.name);
                                    alert($$.environment().os.version);
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $$ ->
                                    alert $$.environment().browser
                                    alert $$.environment().isMobile
                                    alert $$.environment().screen.width
                                    alert $$.environment().screen.height
                                    alert $$.environment().os.name
                                    alert $$.environment().os.version
                                    return
                        hr
                        p 他、Ajax系のメソッドも用意されています。