extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;grunt-img
                    .panel-body
                        p あらかじめお使いの環境にoptipngとjpegtranをインストールしておく必要があります。
                        p: u optipngのインストール
                        p windows
                        p
                            | 以下のサイトからOptiPNG（安定版）をダウンロードしてインストールします。
                            br
                            a(href='http://optipng.sourceforge.net/',target='_blank') http://optipng.sourceforge.net/
                        p Mac
                        p MacPortsでインストール
                        pre
                            :code
                                sudo port install optipng
                        p Homebrewでインストール
                        pre
                            :code
                                sudo brew install optipng
                        p: u jpegtranのインストール
                        p windows
                        p
                            | 以下のサイトからjpegtran.exeをダウンロードしてインストールします。
                            br
                            a(href='http://jpegclub.org/jpegtran/',target='_blank') http://jpegclub.org/jpegtran/
                        p Mac
                        p MacPortsでインストール
                        pre
                            :code
                                sudo port install jpeg
                        p Homebrewでインストール
                        pre
                            :code
                                sudo brew install jpeg
                        p Linux
                        pre
                            :code
                                yum install libjpeg
                        hr
                        p gruntのインストール
                        pre.
                            npm install -g grunt-cli
                        p プロジェクトの作成
                        pre.
                            cd path/to/myapp
                        p package.jsonの作成
                        pre.
                            npm init
                        p タスクのインストール
                        pre.
                            npm install grunt-img --save-dev
                        p Gruntfileの作成
                        pre(class='prettyprint lang-js linenums:1')
                            :code
                                module.exports = (grunt) ->
                                  grunt.initConfig
                                    img:
                                      dist:
                                        src: ['src/img/*']
                                        dest: 'htdocs/img'
                                    watch:
                                      img:
                                        files: '<%= img.dist.src %>'
                                        tasks: 'img:dist'
                                  
                                  grunt.loadNpmTasks 'grunt-img'
                                  grunt.registerTask 'default', 'watch'
                                  grunt.loadNpmTasks 'grunt-contrib-watch'
                        p タスクの実行
                        pre.
                            grunt
