extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;リモートデバッグ
                    .panel-body
                        .alert.alert-info Chromeのリモートデバッグ
                        pre.
                            http://d.hatena.ne.jp/itog/20120213/1329102426
                        hr
                        .alert.alert-info Adobe Edge Inspect
                        hr
                        pre.
                            http://html.adobe.com/jp/edge/inspect/
                        hr
                        .alert.alert-info Weinre
                        h4 公式サイト
                        p
                            a(href='http://people.apache.org/~pmuellr/weinre/docs/latest/',target='_blank') http://people.apache.org/~pmuellr/weinre/docs/latest/

                        h4 インストール
                        pre.
                            sudo npm -g install weinre


