extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;資料
                    .panel-body
                        pre
                            :code

                                エミュレーター

                                Androidエミュレーター
                                     Android Developers
                                     http://developer.android.com/intl/ja/sdk/index.html 

                                iOSシミュレーター（Macのみ）
                                     iOS Devcenter
                                     http://developer.apple.com/devcenter/ios/

                                    iOS-Simulator Cropper
                                    iOSシミュレーターにキャプチャ機能を追加
                                    http://www.curioustimes.de/iphonesimulatorcropper/  

                                Windows Phoneエミュレーター
                                     APP HUB（DEVELOPER FOR WINDOWS PHONE & XBOX360）
                                     http://create.msdn.com/ja-JP

                                Tizen Emulator
                                     Tizen Developers
                                     https://developer.tizen.org/ 



                                シミュレーター

                                ibbdemo2
                                https://code.google.com/p/ibbdemo2/

                                ibbdemo3
                                https://code.google.com/p/ibbdemo3/

                                AIR iPhone
                                http://www.merhl.com/?page_id=3

                                Air iPad
                                http://www.merhl.com/?page_id=50

                                Mobilizer
                                http://www.springbox.com/about/tools/

                                iphoney
                                http://www.marketcircle.com/iphoney/



                                IDE

                                MobiOne
                                http://www.genuitec.com/mobile/




                                Chromeアプリ

                                iPSim
                                http://chrome.google.com/webstore/detail/gcligifbhamdimemnemmlkffkpmflehh#

                                Ripple Emulator
                                https://chrome.google.com/webstore/detail/ripple-emulator-beta/geelfhphabnejjhdalkjhgipohgpdnoc




                                Firefoxアドオン

                                Firefox os simulator
                                https://addons.mozilla.org/ja/firefox/addon/firefox-os-simulator/

                                FireMobileSimulator
                                http://firemobilesimulator.org/


                                Webサイト

                                TestiPhone.com
                                http://www.testiphone.com/

                        pre
                            :code
                                CSS3の不具合

                                Android2系の場合、メタ要素のviewportに「user-scalable=yes」の状態（ピンチによる拡大縮小が可能な状態）では、「position:fixed」の動きがおかしくなる。
                                Android2系の場合、「translate3d」の挙動がおかしい。たとえば、「transform」を組み合わせて使用すると、transformの指定が無効になるなど。
                                Android2系の場合、「text-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                                Android2系の場合、「box-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                                「z-index」の順序を無視して、下のレイヤーのリンクなどタップが反応してしまう。
                                Androis2.2では、「background-size:cover」や「rotate3d」などに対応していない。



                                AndroidやiPhoneのHTML,CSS,JavaScriptのバグまとめ 
                                http://blog.webcreativepark.net/2012/03/13-093853.html

                                スマートフォンとposition:fixedのバグ 
                                http://blog.webcreativepark.net/2011/12/07-052517.html 


                                スマートフォンサイト制作で役立つ便利な小技とか 
                                http://webamb.com/smartphone/1205.html

                        pre
                            :code

                                スマートフォンUIギャラリーサイト


                                Antroid Interaction Design Pattern
                                http://www.androidpatterns.com/

                                iPhoneデザインボックス
                                http://design.web-hon.com/


                                Patterns of Design
                                http://www.patternsofdesign.co.uk/

                                Mobile Patterns
                                http://www.mobile-patterns.com/

                                PTTRNS
                                http://pttrns.com/

                                mobile AWESOMENESS
                                http://www.mobileawesomeness.com

                                Mobile Design Inspiration
                                http://m.cssiphone.com/

                                Lovely UI
                                http://www.lovelyui.com/

                                Cocoa
                                https://www.cocoacontrols.com/

                                Android Patterns
                                http://www.androidpatterns.com/

                                TapFancy
                                http://tapfancy.com/

                                TapGala
                                http://www.tappgala.com/


                        pre
                            :code

                                スマートフォンUIライブラリ

                                iScroll
                                http://cubiq.org/iscroll

                                jQuery Mobile
                                http://jquerymobile.com/

                                jQT
                                http://jqtjs.com/

                                App Framework
                                http://app-framework-software.intel.com/

                                Sencha Touch
                                http://www.sencha.com/products/touch

                                Wink Toolkit
                                http://www.winktoolkit.org/ 

                        pre
                            :code
                                電話、メールリンク
                                =================
                                <meta name="format-detection" content="telephone=no"></meta> 電話番号自動リンク無効（iOSのみ）
                                <meta name="format-detection" content="telephone=yes"></meta> 電話番号自動リンク有効（iOSのみ）
                                <a href="tel:0311111111">TEL:03-1111-1111</a>
                                <a href="mailto:contact@example.com?subject=URLエンコード;body=URLエンコード">メール送信</a>

                        pre
                            :code

                                配色

                                Adobe Kuler
                                https://kuler.adobe.com/

                                Colour Lovers
                                http://www.colourlovers.com

                                Color Scheme Designer
                                http://colorschemedesigner.com/

                                Peppermint Color Express
                                https://itunes.apple.com/jp/app/peppermint-color-express/id340119405?mt=8

                                Colorpedia
                                https://itunes.apple.com/jp/app/peppermint-color-express/id340119405?mt=8
                        pre
                            :code
                                ジェスチャー系ライブラリ

                                QUO.js
                                http://quojs.tapquo.com/
                        pre
                            :code
                                フリック系ライブラリ

                                flickGal

                                flickGal jQueryプラグイン
                                stakamura
                                http://stakam.net/jquery/



                                flipsnap.js
                                http://pxgrid.github.com/js-flipsnap/

                                touchSlider
                                http://www.mobilizetoday.com/freebies/touchslider/
                        pre
                            :code

                                ショートカットアイコン
                                ====================
                                114x114が万能
                                iOSテカリあり
                                <link rel="apple-touch-icon" href="images/siteicon.png">
                                iOSテカリなし
                                <link rel="apple-touch-icon-precomposed" href="images/siteicon.png">

                                サイズ別
                                <link rel="apple-touch-icon" href="images/siteicon.png">
                                <link rel="apple-touch-icon" size="72x72" href="images/siteicon.png">
                                <link rel="apple-touch-icon" size="114x114" href="images/siteicon.png">
                                iphone 3G 57x57
                                iphone 4 114x114
                                iPad 72x72
                                iPad Retina 144x144







                                スタートアップイメージ　（iOSのみ）
                                =============================
                                320x360が万能
                                iphone4、5では640x920も可


                                <link rel="apple-touch-startup-image" href="images/startup.png">





                                スタンドアローンモード（iOSのみ）
                                ===========================
                                アプリと同じように起動しアドレスバーが出ない。
                                ただし、aタグはブラウザが立ち上がるので、リンクはajax処理が必要


                                <meta name="apple-mobile-web-app-capable" content="yes">






                                アドレスバー消し（Safari、Android標準ブラウザ、Opera）
                                ===========================================
                                window.onload = function(){
                                     window.scrollTo(0,1);
                                };








                                ランドスケープモードでのテキストサイズ拡大を防ぐ（iOSのみ）
                                ================================================
                                body{
                                -webkit-text-size-adjust:none;
                                }


                                Android2.3未満、iOS5未満でposition:fixedが効かない
                                ========================================
                                iScrollを使う
                                http://cubiq.org/iscroll




                                Android3未満、iOS5未満でth,tdにposition:relativeが効かない
                                =================================
                                th/tdの子要素にdivを用意しdivにposition:relative




                                Androidでfont-weight:boldが効かない
                                ============================
                                テキストシャドウを使う
                                text-shadow:0 0 1px #000




                                Androidで背面要素がタップできてしまう
                                ==============================
                                クリックできなくする
                                $('E').click(function(){
                                return false;
                                });




                                iOSで200万px以上の画像が圧縮されてぼける
                                =================================
                                画像を2枚に分けて対応




                                一部のAndroid端末でinput要素にフォーカスするとlandscape用のCSSを読み込んでしまう
                                =================================
                                JavaSCriptでフォーカスしたときlandscape用のCSSを無効にする
                                <link rel="stylesheet" media="all and (orientation:portrait)" href="style.css">
                                <link rel="stylesheet" media="all and (orientation:landscape)" href="style.css">


                        pre
                            :code
                                アプリの起動スキーマ

                                アプリの起動
                                ===========
                                Twitter
                                twitter://
                                twitter://timeline
                                twitter://mention
                                twitter://messages
                                twitter://post?message=内容（URLエンコード）
                                twitter://search?query=検索語句（URLエンコード）
                                メッセージ
                                sms:
                                電話
                                tel:
                                メール
                                mailto:
                                地図
                                maps:
                                App Store
                                itms-apps://
                                itunes
                                http://itunes.apple.com/jp/genre
                                iBooks
                                itms-bookss:
                                Facebook
                                fb://
                                Twitter
                                twitter:
                                Evernote
                                Evernote:
                                GoodReader
                                ghttp:、ghttps:、grhttp:、ghttps、giwhttps:、gropen:
                                マップアプリの起動
                                Android、iOS5以下
                                <a href="https://maps.google.com/maps?q=東京都港区六本木2-4-5">マップアプリの起動</a>
                                Android、iOS6以上
                                <a href="http://maps.apple.com/maps?q=東京都港区六本木2-4-5">マップアプリの起動</a>
                                スマホサイトへのGoogle Mapの埋め込み
                                <div class="maparea">
                                <iframe width="320" height="160" src="マップのURL"></iframe>
                                </div>
                                <p><a href="マップのURL">大きな地図で見る</p>
                                .maparea{
                                width:100%;
                                height:160px;
                                margin:0 0 5px 0;
                                overflow:hidden;

                                }
 
