extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;スマートフォンサイト
                    .panel-body
                        pre.
                            iPhoneデザインアーカイブ
                            http://iphonedesignarchive.jp/all.html

                            Google
                            http://www.google.co.jp/

                            Livedoor
                            http://www.livedoor.com/lite/

                            楽天
                            http://www.rakuten.co.jp/

                            NAVER
                            http://www.naver.jp/m/

                            Googleマップ
                            https://maps.google.co.jp/

                            Yahoo
                            http://m.yahoo.co.jp

                            Amazon
                            http://amazon.co.jp/

                            Twitter
                            http://twitter.com

                            Facebook
                            http://f.facebook.com

                            Flickr
                            http://m.flickr.com/

                            Instagram
                            https://instagram.com/accounts/login/

                            クックパッド
                            http://cookpad.com

                            ぐるなび
                            http://mobile.gnavi.co.jp/iphone/

                            食べログ
                            http://s.tabelog.com

                            ファミリーマート
                            http://www.family.co.jp/s/index.html

                            セブンイレブン
                            http://m.sej.co.jp

                            HOME'S
                            http://m.homes.co.jp

                            価格.com
                            http://s.kakaku.com

                            ワコール
                            http://sp.wacoal.jp

                            リクナビ
                            http://www.rikunabi.com/sp.html

                            DODA
                            http://sp.doda.jp/auth/index.action
                             
                            BUYMA
                            http://www.buyma.com/

                            SONY
                            http://www.sony.co.jp/

                            TOTO
                            http://www.toto.co.jp/smp/

                            サントリー
                            http://mobile.suntory.co.jp/

                            JUNMEN
                            http://www.junmen.com/sp/

                            つながるブログ
                            http://blog.osaka-ue.ac.jp/sm/

                            SISLEY JAPAN
                            http://www.sisleyjp.com/

                            sevnthsin
                            http://m.sevnthsin.com/new/iphone/

                            角ハイボール角瓶
                            http://mobile.suntory.co.jp/whisky/kakubin/

                            東京スカイツリー
                            http://www.tokyo-skytree.jp/sp/

                            MOS BURGER
                            http://mos.jp/

                            MOS BURGER スペシャルページ
                            http://mos.jp/tobikiri

                            Vitaminwater
                            http://glaceau.jp/spn/
 