extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;grunt-webfont
                    .panel-body
                        h4 GitHub
                        p
                            a(href='https://github.com/sapegin/grunt-webfont',target='_blank') https://github.com/sapegin/grunt-webfont
                        hr
                        p あらかじめお使いの環境にttfautohintをインストールしておく必要があります。
                        p: u ttfautohintのインストール
                        p Mac
                        p MacPortsでインストール
                        pre
                            :code
                                brew install fontforge ttfautohint
                        p Linux
                        pre
                            :code
                                sudo apt-get install fontforge ttfautohint
                        p windows
                        p
                            | 以下のサイトからttfautohintをダウンロードしてパスを通します。
                            br
                            a(href='http://www.freetype.org/ttfautohint/#download',target='_blank') http://www.freetype.org/ttfautohint/#download
                        hr
                        p gruntのインストール
                        pre.
                            npm install -g grunt-cli
                        p プロジェクトの作成
                        pre.
                            cd path/to/myapp
                        p package.jsonの作成
                        pre.
                            npm init
                        p タスクのインストール
                        pre.
                            npm install grunt grunt-webfont --save-dev
                        p Gruntfileの作成
                        pre(class='prettyprint lang-js linenums:1')
                            :code
                                module.exports = function(grunt) {
                                    grunt.initConfig({
                                        img: {
                                            target: {
                                                src: ['src/images/**/*'],
                                                dest: 'public/images'
                                            }
                                        }
                                    });
                                    grunt.loadNpmTasks('grunt-img');

                                    grunt.registerTask('default', 'img');
                                };
                        p タスクの実行
                        pre.
                            grunt
