extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;grunt-contrib-cssmin
                    .panel-body
                        h4 GitHub
                        p
                            a(href='https://github.com/gruntjs/grunt-contrib-cssmin',target='_blank') https://github.com/gruntjs/grunt-contrib-cssmin
                        hr
                        p gruntのインストール
                        pre.
                            npm install -g grunt-cli
                        p プロジェクトの作成
                        pre.
                            cd path/to/myapp
                        p package.jsonの作成
                        pre.
                            npm init
                        p プラグインのインストール
                        pre.
                            npm install grunt grunt-contrib-cssmin --save-dev
                        p Gruntfileの作成
                        pre(class='prettyprint linenums:1')
                            :code
                                module.exports = function(grunt){
                                    grunt.initConfig({
                                        pkg: grunt.file.readJSON('package.json'),
                                        cssmin: {
                                            all: {
                                                options: {
                                                    keepSpecialComments: 1,
                                                },
                                                cwd: 'src/css',
                                                expand: true,
                                                src: ['**/*.css', '**/!*.min.css'],
                                                dest: 'public/css/',
                                                ext: '.min.css'
                                            },
                                            target1: {
                                                options: {
                                                    keepSpecialComments: 0,
                                                },
                                                files: {
                                                    'public/combine.min.css': ['src/css/**/*.css']
                                                }
                                            },
                                            target2: {
                                                options: {
                                                    keepSpecialComments: 0,
                                                },
                                                files: {
                                                    'public/combine.min.css': ['src/css/first.css', 'src/css/second.css']
                                                }
                                            },
                                            target3: {
                                                options: {
                                                    keepSpecialComments: '*',
                                                    banner: '/*! <%= pkg.name %> <%= grunt.template.today("yyyy-mm-dd") %> */'
                                                },
                                                files: {
                                                    'public/combine.min.css': ['src/css/first.css', 'src/css/second.css']
                                                }
                                            }
                                        }
                                    });
                                    
                                    grunt.loadNpmTasks('grunt-contrib-cssmin');
                                    
                                    grunt.registerTask('default', 'cssmin');
                                };
                        p すべて実行
                        pre.
                            grunt
                        p ターゲットを指定して実行
                        pre.
                            grunt cssmin:target1
                        hr
                        h4 special comment
                        p special commentとはCSSの1行目に記述するライセンス等のコメントのことです。
                        P='「/* */」のように記述するとコメントは削除されますが、「/*! */」のように記述すると削除されません。'
                        P ただし、keepSpecialCommentsのオプションが0にされていると削除されます。
                        pre
                            :code
                                <mark>/*! ライセンス等 */</mark>

                                /* リセット */
                                *{
                                    margin: 0; /* 余白の削除 */
                                }

                                /* レイアウト*/
                                #container{
                                    ...
                                }
                                ...
                        hr
                        h4 pkg: grunt.file.readJSON('package.json')
                        p pkgというタスクはgruntの標準のタスクで、package.jsonのデータを読み込むことができます。
                        p 以下の記述でpackage.jsonから、アプリ名、アプリのバージョンを代入することができます。
                        pre
                            :code
                                <%= pkg.name %>
                                <%= pkg.version %>