extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;リモートデバッグ
                    .panel-body
                        .alert.alert-info Adobe Edge Inspect
                        p Edge InspectはAdobe社が提供する開発用ツールです。デスクトップPCで表示しているWebページをスマートフォンに同期して表示させることができ、Google Chromeの拡張機能として配布されています。ChromeんでのWebページを更新、タブ切り替え等の操作がそのまま反映されるので、スマートフォンをほとんど操作せずにサイトの表示確認が行えます。
                        h4 Edge Inspectをインストールしよう
                        p Edgeインスペクトを使用するには、ローカルエリアネットワーク（LAN）環境に加えて、Edge InspectのデスクトップPC用スタンドアローンアプリケーション、Google Chrome用の拡張機能、スマートフォン用アプリケーションの3つが必要です。まずはAdobe Creative CloudのWebサイトにアクセスして、デスクトップPC用スタンドアローンアプリケーションをダウンロードしましょう。Edge Inspectは個人向け無償メンバーシップに登録することで利用できます。登録がまだの場合は、サイトで登録を済ませておきましょう。
                        p Edge Inspectの動作環境はWidnows7または8、Macは10.6以上となっています。該当しない環境では、ダウンロードボタンも表示されません。
                        h4 ① Adobe Creative Cloudにアクセスする
                        p Adobe Creative Cloudのページ（http://creative.adobe.com）にアクセスしてサインインします。まだ登録していない場合は、[使用を開始]をクリックします。
                        h4 ② 無償メンバーシップの登録
                        p [個人向けプラン]タブの中から「無償メンバーシップ」の「登録」ボタンをクリックすると登録が行えます。
                        h4 ③ Edge Inspectを選択する
                        p 登録できたらサインインします。上部のメニューから「アプリケーション」をクリックすると使用可能なアプリケーションの一覧が表示されます。少しスクロールするとEdge Inspectが見つかるので、「ダウンロード」をクリックします。
                        h4 ④ Edge Inspectをダウンロードする
                        p 「ダウンロード」ボタンを押してダウンロードしましょう。ダウンロードファイルを開くとインストールが開始されるので、画面の指示に従ってインストールを行います。
                        h4 Google Chromeの拡張機能をインストールしよう
                        p 次にGoogle Chrome用の拡張機能をインストールします。拡張機能はGoogle Web Storeよりインストールを行います。Google Chrome Web StoreへはAdobe Creative Cloudのダウンロード画面にある「Google Chromeブラウザーの拡張機能をインストール」からアクセスするか、Chromeの起動画面にある「Chrome Web Store」をクリックすることで移動できます。起動画面からアクセスした場合は検索欄に「Edge Inspect」と入力してください（検索カテゴリは「拡張機能」を選択）。検索結果の中からAdobe Edge Inspectを探して、「Chromeに追加する」をクリックし、ダイアログの「追加」ボタンをクリックすれば、インストール完了です。
                        h4 スマートフォン用アプリをインストールしよう
                        p 最後にEdge Inspectのスマートフォン用アプリをインストールしましょう。iPhoneの場合はApp Storeで、Androidの場合はPlayストアで「Edge Inspect」と検索すれば見つかります。
                        h4 Edge Inspectを使ってみよう
                        p Edge Inspectを使ってWebサイトを確認してみましょう。まず、同期元PCのLAN環境におけるIPアドレスを確認し、PC用のスタンドアローンのEdge Inspectを起動します。起動するとAdobe IDとパスワードを要求されるので入力します。IDとパスワードに間違いがなければPCのスタンドアローン版は自動的にタスクバーに格納されます。
                        p 次にスマートフォンにインストールしたアプリのEdge Inspectを起動します。起動後の右上の「＋」をタップするとIPアドレス入力画面に移動するので、先ほど確認したPCのIPアドレスを入力します。入力したIPアドレスが間違っていなければ、6桁のコードが表示されます。
                        h4 ① IPアドレスを入力する
                        p 「＋」をタップすると、IPアドレス入力画面になるので、PCのLAN環境におけるIPアドレスを入力します。
                        h4 ② パスコードを確認
                        p 該当するIPアドレスを発見できた場合、パスコードが発行されます。この場合Google ChromeのEdge Inspectの拡張機能に入力します。
                        h4 ③ Google Chromeでパスコードを入力
                        p PCに戻り、Google ChromeのEdge Inspectの拡張機能をクリックします。IPアドレスの入力を行ったスマートフォンの名称と、パスコード入力欄が表示されるので、スマートフォンに表示されているパスコードを入力します。
                        p これで設定は完了です。そのままChromeでWebページを表示すると、スマートフォン側でもWebページが表示されるのが確認できます。
                        p Edge Inspectは複数の複数の端末を同時に接続できるのも魅力です。Edge Inspectがインストールされているスマートフォンやタブレットすべて接続した場合でも、PCのGoogle Chromeで閲覧しているPC用ページがユーザーエージェントによる振り分けを施されていた場合、その設定にあ合わせて表示が切り替わります。「スマートフォンの場合はスマートフォン用のWebページヘ」と設定されていれば、Edge Inspectで同期しているスマートフォンにはスマートフォン用のページが表示されるようになっています。
                        h4 3G回線を使用した表示確認も忘れずに
                        p 実機確認の際は、基本的にWi-Fi環境化での表示確認になると思います。実機での表示確認をある程度行ったら、実際のWebサーバー上にテストアップを行い、3G回線環境下でのサイトの表示確認も忘れずに行いましょう。3G回線という限られた通信速度の中でユーザーにストレスを与えてしまうようなWebサイトになっていないか、この実機確認フェーズで必ずチェックするようにしましょう。
                        hr
                        .alert.alert-info Chromeのリモートデバッグ
                        pre.
                            http://d.hatena.ne.jp/itog/20120213/1329102426
                        hr
                        .alert.alert-info Weinre
                        h4 公式サイト
                        p
                            a(href='http://people.apache.org/~pmuellr/weinre/docs/latest/',target='_blank') http://people.apache.org/~pmuellr/weinre/docs/latest/

                        h4 インストール
                        pre.
                            (sudo )npm -g install weinre