extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Cafeサイト⑧
                    .panel-body
                        p 59. jsファイルの読み込み
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index59.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport',content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=0')
                                        title あなたの街の、くつろぎ空間。 | SMART CAFE
                                        link(rel='stylesheet',href='css/styles.css')
                                    body
                                        //Facebook風表示メニュー
                                        nav#navigation
                                            ul
                                                li: a(href='#') メニュー
                                                li: a(href='#') お知らせ
                                                li: a(href='#') 店舗情報
                                                li: a(href='#') 企業情報
                                                li: a(href='#') 採用情報
                                                li: a(href='#') 豆の通販
                                                li: a(href='#') STAFFブログ
                                                li: a(href='#') お問い合わせ
                                        //通常のコンテンツ
                                        #wrapper

                                            //#header
                                            header#header
                                                a.menu_btn(href='#')
                                                    .sprite MENU
                                                h1.logo
                                                    span.sprite SMART CAFE
                                                    
                                            //#container
                                            #container
                                                //main_visual_box
                                                .main_visual_box
                                                    #main_visual.item
                                                        .catch_area
                                                            p.main_catch あなたの街の、<br>くつろぎ空間。
                                                            p.text 本場イタリア仕込みの料理でお腹を満たしたら、バリスタが厳選したエスプレッソで最高のひとときを
                                                        .vis.first
                                                            img.fluid_img(src='images/main_visual_01.jpg',alt='')
                                            
                                                //limited_menu start
                                                section#limited_menu.main_section
                                                    h1.heading_style01
                                                        | LIMITED MENU
                                                        span 期間限定メニュー
                                                    ul.cf
                                                        li: a(href='#')
                                                            .box
                                                                figure
                                                                    img.fluid_img(src='images/limited_menu_01.jpg',alt='')
                                                                p.name ローストビーフと<br>チェダーチーズのサンド
                                                        li: a(href='#')
                                                            .box
                                                                figure
                                                                    img.fluid_img(src='images/limited_menu_02.jpg',alt='')
                                                                p.name ビターチョコレートの<br>ドルチェ
                                                        li: a(href='#')
                                                            .box
                                                                figure
                                                                    img.fluid_img(src='images/limited_menu_03.jpg',alt='')
                                                                p.name 焼き茄子とバジルの<br>アラビアータ
                                                        li: a(href='#')
                                                            .box
                                                                figure
                                                                    img.fluid_img(src='images/limited_menu_04.jpg',alt='')
                                                                p.name ホワイト<br>カフェマッキアート
                                                    a.btn_type01(href='#')
                                                        div 全てのメニューを見る

                                                //#news start
                                                section#news.main_section
                                                    h1.heading_style02
                                                        | NEWS
                                                        span お知らせ
                                                    ul.box_list
                                                        li: a(href='#')
                                                            article
                                                                figure: img(src='images/news_01.jpg',alt='',width='70',height='70')
                                                                div
                                                                    h2 新店舗情報
                                                                    time(datetime='2012-12-12') 2012.12.12
                                                                    p.text CAFE SMARTの新店舗が吉祥寺に新オープン!!駅から3分の好アクセス!!
                                                        li: a(href='#')
                                                            article
                                                                figure: img(src='images/news_02.jpg',alt='',width='70',height='70')
                                                                div
                                                                    h2 コロンビア豆入荷しました
                                                                    time(datetime='2012-12-09') 2012.12.09
                                                                    p.text 深くコクのある苦味が特徴のコロンビア産豆を入荷しました!この機会に是非★
                                                        li: a(href='#')
                                                            article
                                                                //figure: img(src='',alt='',width='70',height='70')
                                                                div
                                                                    h2 新メニュー情報
                                                                    time(datetime='2012-12-01') 2012.12.01
                                                                    p.text 12月よりメニューが一新!新しいドリンクとケーキを是非ご賞味ください!!
                                                        li: a(href='#')
                                                            article
                                                                figure: img(src='images/news_03.jpg',alt='',width='70',height='70')
                                                                div
                                                                    h2 新店舗情報
                                                                    time(datetime='2012-12-12') 2012.12.12
                                                                    p.text CAFE SMARTの新店舗が吉祥寺に新オープン!!駅から3分の好アクセス!!
                                                        li: a(href='#')
                                                            article
                                                                figure: img(src='images/news_01.jpg',alt='',width='70',height='70')
                                                                div
                                                                    h2 コロンビア豆入荷しました
                                                                    time(datetime='2012-12-09') 2012.12.09
                                                                    p.text 深くコクのある苦味が特徴のコロンビア産豆を入荷しました!この機会に是非★
                                                        li: a(href='#')
                                                            article
                                                                //figure: img(src='',alt='',width='70',height='70')
                                                                div
                                                                    h2 新メニュー情報
                                                                    time(datetime='2012-12-01') 2012.12.01
                                                                    p.text 12月よりメニューが一新!新しいドリンクとケーキを是非ご賞味ください!!
                                                    a.btn_type02(href='#')
                                                        div お知らせをもっと見る

                                                //#main_navigation start
                                                nav#main_navigation.main_section
                                                    ul
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title メニュー
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title 採用情報
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title お知らせ
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title 豆の通販
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title 店舗情報
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title STAFFブログ
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title 企業情報
                                                        li: a(href='#')
                                                            div
                                                                span.icon: span.sprite &#160;
                                                                span.title お問い合わせ
                                                //#sns_link_list start
                                                section#sns_link_list.main_section
                                                    h1.heading_style03 CAFE SMART 公式
                                                    ul.tableview_list
                                                        li.twitter: a(href='')
                                                            div Twitter
                                                        li.facebook: a(href='')
                                                            div Facebook
                                                        li.mixi: a(href='')
                                                            div mixi
                                                #top_of_page
                                                    a.btn_type03(href='')
                                                        div: span ページ上部へ

                                            //#footer
                                            footer#footer
                                                ul.device_toggle_link
                                                    li: a(href='#') PCサイト
                                                    li: a(href='#') スマホサイト
                                                p.copyright: small Copyright &copy; SMART CAFE
                                        script(src='http://code.jquery.com/jquery-2.1.0.min.js')
                                        <mark>script(src='js/slidenav.js')</mark>
                        hr
                        p 60. ページロード
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index60.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    console.log('init');
                                });
                        hr
                        p 61. a要素の初期化
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index61.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    console.log('init');

                                    <mark>//a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });</mark>
                                });
                        hr
                        p 62. タップ
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index62.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    console.log('init');

                                    //a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });

                                    <mark>//メニューボタンタップ時の動作
                                    $('.menu_btn').on('touchstart click',function(e){
                                        console.log('tap');
                                    });</mark>
                                });
                        hr
                        p 63. オープン、クローズを取得
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index63.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    console.log('init');

                                    //a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });

                                    <mark>//メニューボタンタップ時の動作
                                    $('.menu_btn').on('touchstart click',function(e){
                                        //console.log('tap');
                                        if(!$('body').hasClass('open')) {
                                            $('body').addClass('open');
                                            console.log('open');
                                        }
                                        else {
                                            $('body').removeClass('open');
                                            console.log('close');
                                        }
                                    });</mark>
                                });
                        hr
                        p 64. メニューを開閉する
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index64.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    console.log('init');

                                    //a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });

                                    //メニューボタンタップ時の動作
                                    $('.menu_btn').on('touchstart click',function(e){
                                        //console.log('tap');
                                        if(!$('body').hasClass('open')) {
                                        $('body')<mark>.css({
                                            '-webkit-transform':'translate3d(260px,0,0)',
                                            'transform':'translate3d(260px,0,0)'
                                        })</mark>.addClass('open');
                                            //console.log('open');
                                        }
                                        else {
                                        $('body')<mark>.css({
                                            '-webkit-transform':'none',
                                            'transform':'none'
                                        })</mark>.removeClass('open');
                                            //console.log('close');
                                        }
                                    });
                                });
                        hr
                        p 65. メニューを滑らかに開く/メニューの文字を白くする
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index65.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                @charset "utf-8";

                                /*------------------------------------------------------------
                                    リセット
                                ------------------------------------------------------------*/
                                html, body, div, span, applet, object, iframe,
                                h1, h2, h3, h4, h5, h6, p, blockquote, pre, a,
                                abbr, acronym, address, big, cite, code, del, dfn, em,
                                font, img, ins, kbd, q, s, samp, small, strike, strong,
                                sub, sup, tt, var, b, u, i, center,
                                dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
                                table, caption, tbody, tfoot, thead, tr, th, td, figure
                                    margin 0
                                    padding 0
                                    background transparent
                                    border 0
                                    outline 0
                                    font-size 1em

                                body, table, input, textarea, select, option
                                    font-family HiraKakuProN-W3
                                    font-size 1em

                                article, aside, canvas, details,
                                figcaption, figure, footer, header,
                                hgroup, menu, nav, section, summary
                                    display block

                                ol, ul
                                    list-style none

                                blockquote, q
                                    quotes none

                                :focus
                                    outline 0

                                ins
                                    text-decoration none

                                del
                                    text-decoration line-through

                                /*------------------------------------------------------------
                                    クリアフィクス
                                ------------------------------------------------------------*/
                                .cf
                                    zoom 1
                                    &:after
                                        content ""
                                        display block
                                        clear both

                                /*------------------------------------------------------------
                                    リンク
                                ------------------------------------------------------------*/
                                a
                                    color #333
                                    text-decoration none


                                /*------------------------------------------------------------
                                    レイアウト
                                ------------------------------------------------------------*/
                                body
                                    line-height 1.5
                                    -webkit-text-size-adjust none
                                    color #333
                                .sprite
                                    text-indent 100%
                                    white-space nowrap
                                    overflow hidden
                                    background-image url(../images/css_sprite.png)
                                    background-size 138px 544px
                                .fluid_img
                                    width 100%
                                    height auto

                                /*------------------------------------------------------------
                                    ヘッダー
                                ------------------------------------------------------------*/
                                #header
                                    border-bottom 3px solid #374c00
                                    width 100%
                                    height 44px
                                    display table
                                .logo
                                    display table-cell
                                    vertical-align middle
                                    text-align center
                                    height 44px
                                    padding-right 32px
                                    .sprite
                                        width 138px
                                        height 16px
                                        background-position 0 -371px
                                        display inline-block
                                .menu_btn
                                    display table-cell
                                    vertical-align middle
                                    width 42px
                                    padding-left 10px
                                    .sprite
                                        width 37px
                                        height 28px
                                        background-position 0 -338px

                                /*------------------------------------------------------------
                                    コンテナー
                                ------------------------------------------------------------*/
                                #container
                                    padding-bottom 16px
                                    -webkit-box-shadow 0 5px 5px rgba(0,0,0,0.3)
                                    box-shadow 0 5px 5px rgba(0,0,0,.3)
                                    position relative
                                .main_visual_box
                                    margin-bottom 1px
                                    height 200px
                                    overflow hidden
                                    .item
                                        position relative
                                    .vis
                                        line-height 0
                                        width 100%
                                        position absolute
                                        left 0
                                        top 0
                                        z-index 1
                                #main_visual
                                    .catch_area
                                        position absolute
                                        left 0
                                        top 0
                                        width 192px
                                        height 200px
                                        background url(../images/main_visual_catcharea.png) no-repeat left top
                                        -webkit-background-size 192px 200px
                                        z-index 2
                                    .main_catch
                                        position absolute
                                        left 16px
                                        top 30px
                                        font-size 24px
                                        font-weight bold
                                        color #fff
                                        line-height 1.3
                                    .text
                                        position absolute
                                        left 18px
                                        top 96px
                                        font-size 12px
                                        color #374c00
                                        width 150px
                                .heading_style01
                                    background -webkit-gradient(linear, left top, left bottom, from(#432e1e), to(#2e1605))
                                    background -webkit-linear-gradient(top, #432e1e 0%, #2e1605 100%)
                                    background linear-gradient(top, #432e1e 0%, #2e1605 100%)
                                    height 40px
                                    line-height 42px
                                    padding 0 10px
                                    text-shadow 0 1px 1px rgba(0,0,0,.6)
                                    color #fff
                                    span
                                        color #8fc700
                                        font-size 10px
                                        vertical-align middle
                                        margin-left 10px
                                #limited_menu
                                    ul
                                        margin 1px 0 0
                                        padding 0
                                    li
                                        float left
                                        width 50%
                                        height 118px
                                        overflow hidden
                                        -webkit-box-sizing border-box
                                        box-sizing border-box
                                        padding-bottom 10px
                                        margin-bottom 1px
                                        position relative
                                        &:nth-child(odd)
                                            border-right 1px solid #fff
                                    .name
                                        position absolute
                                        left 0
                                        bottom 0
                                        background-color rgba(0,0,0,.8)
                                        width 100%
                                        font-size 11px
                                        color #fff
                                        padding 6px 10px
                                        -webkit-box-sizing border-box
                                        box-sizing border-box
                                        &:after
                                            content ""
                                            position absolute
                                            right 0
                                            top 37%
                                            display block
                                            width 18px
                                            height 15px
                                            background-image url(../images/css_sprite.png)
                                            background-size 138px 544px
                                            background-position 0 -507px
                                .btn_type01
                                    div
                                        height 44px
                                        line-height 46px
                                        vertical-align middle
                                        margin-bottom 1px
                                        font-size 14px
                                        padding 0 10px
                                        color #fff
                                        font-weight bold
                                        background-color #8fc700
                                        position relative
                                        &:after
                                            content ""
                                            width 27px
                                            height 21px
                                            position absolute
                                            right 0
                                            top 12px
                                            background-image url(../images/css_sprite.png)
                                            background-size 138px 544px
                                            background-position 0 -481px
                                .heading_style02
                                    border-top 3px solid #374c00
                                    background -webkit-gradient(linear, left top, left bottom, from(#fff), to(#efefef))
                                    background -webkit-linear-gradient(top, #fff 0%, #efefef 100%)
                                    background linear-gradient(top, #fff 0%, #efefef 100%)
                                    height 40px
                                    line-height 42px
                                    padding 0 10px
                                    text-shadow 0 1px 1px #fff
                                    -webkit-box-shadow 0 2px 5px rgba(0,0,0,.2)
                                    box-shadow 0 2px 5px rgba(0,0,0,.2)
                                    margin 0
                                    color #374c00
                                    span
                                        color #8fc700
                                        font-size 10px
                                        vertical-align middle
                                        margin-left 10px
                                #news
                                    -webkit-box-shadow 0 -3px 5px rgba(0,0,0,.2)
                                    box-shadow 0 -3px 5px rgba(0,0,0,.2)
                                    li
                                        &:nth-child(n
                                            & + 4)
                                                display none
                                .box_list
                                    article
                                        display -webkit-box
                                        display box
                                        display -webkit-flex
                                        display flex
                                        padding 10px 25px 10px 10px
                                        border-bottom 1px solid #dfdfdf
                                        position relative
                                        &:after
                                            content ""
                                            position absolute
                                            right 0
                                            top 43%
                                            display block
                                            width 18px
                                            height 15px
                                            background-image url(../images/css_sprite.png)
                                            background-size 138px 544px
                                            background-position 0 -507px
                                        & > div
                                            padding-left 10px
                                            -webkit-box-flex 1
                                    h2
                                        font-size 87.5%
                                        color #374c00
                                        margin 0
                                        padding 0
                                    time
                                        font-size 62.5%
                                        color #656565
                                        margin-bottom 6px
                                    .text
                                        font-size 75%
                                .btn_type02
                                    div
                                        color #fff
                                        background -webkit-gradient(linear, left top, left bottom, from(#8fc700), to(#7cad00))
                                        background -webkit-linear-gradient(top, #8fc700 0%, #7cad00 100%)
                                        background linear-gradient(top, #8fc700 0%, #7cad00 100%)
                                        margin 10px
                                        text-align center
                                        height 44px
                                        line-height 46px
                                        text-shadow 0 1px 2px rgba(0,0,0,0.5)
                                        -webkit-border-radius 6px
                                        -webkit-box-shadow 0 2px 5px rgba(0,0,0,0.3)
                                #main_navigation
                                    border-top 3px solid #374c00
                                    border-bottom 3px solid #374c00
                                    width 100%
                                    ul
                                        -webkit-column-count 4
                                        column-count 4
                                        -webkit-column-gap auto
                                        column-gap auto
                                        padding 20px 0 0
                                        text-align center
                                        min-width 320px
                                    li
                                        padding-bottom 20px
                                        &:nth-child(1)
                                            .sprite
                                                width 33px
                                                height 39px
                                                background-position 0 0
                                                width 33px
                                                height 39px
                                                background-position 0 0
                                        &:nth-child(3)
                                            .sprite
                                                width 17px
                                                height 40px
                                                background-position 0 -44px
                                        &:nth-child(5)
                                            .sprite
                                                width 42px
                                                height 37px
                                                background-position 0 -90px
                                        &:nth-child(7)
                                            .sprite
                                                width 37px
                                                height 40px
                                                background-position 0 -131px
                                        &:nth-child(2)
                                            .sprite
                                                width 41px
                                                height 36px
                                                background-position 0 -175px
                                        &:nth-child(4)
                                            .sprite
                                                width 40px
                                                height 37px
                                                background-position 0 -216px
                                        &:nth-child(6)
                                            .sprite
                                                width 41px
                                                height 40px
                                                background-position 0 -259px
                                        &:nth-child(8)
                                            .sprite
                                                width 45px
                                                height 32px
                                                background-position 0 -301px
                                    a
                                        & > div
                                            font-size 67.5%
                                            font-weight bold
                                    .title
                                        display block
                                    .icon
                                        display inline-block
                                        width 64px
                                        height 64px
                                        line-height 62px
                                        background url(../images/bottom_navigation_bg.jpg) repeat left top
                                        background-size 40px 40px
                                        border-radius 32px
                                        text-align center
                                        margin-bottom 5px
                                    .sprite
                                        display inline-block
                                        vertical-align middle
                                .heading_style03
                                    padding 0 10px
                                    height 40px
                                    line-height 42px
                                    vertical-align middle
                                    color #374c00
                                .tableview_list
                                    border-bottom 1px solid #dfdfdf
                                    a
                                        -webkit-background-size 15px 15px
                                        background-size 15px 15px
                                        display block
                                        color #333
                                    div
                                        padding 0 10px 0 45px
                                        min-height 42px
                                        line-height 44px
                                        vertical-align middle
                                        -webkit-box-sizing border-box
                                        box-sizing border-box
                                        border-top 1px solid #dfdfdf
                                        width 100%
                                        font-size 82.5%
                                        position relative
                                        &:after
                                            content ""
                                            position absolute
                                            right 0
                                            top 37%
                                            display block
                                            width 18px
                                            height 15px
                                            background-image url(../images/css_sprite.png)
                                            background-size 138px 544px
                                            background-position 0 -507px
                                        &:before
                                            content ""
                                            position absolute
                                            left 10px
                                            display block
                                            background-image url(../images/css_sprite.png)
                                            background-size 138px 544px
                                    .twitter
                                        div
                                            &:before
                                                top 10px
                                                width 27px
                                                height 23px
                                                background-position 0 -453px
                                    .facebook
                                        div
                                            &:before
                                                top 10px
                                                width 24px
                                                height 25px
                                                background-position 0 -391px
                                    .mixi
                                        div
                                            &:before
                                                top 8px
                                                width 29px
                                                height 29px
                                                background-position 0 -420px
                                .btn_type03
                                    div
                                        border 3px solid #8fc700
                                        margin 10px 10px 0
                                        text-align center
                                        height 42px
                                        line-height 44px
                                        -webkit-border-radius 6px
                                        border-radius 6px
                                        font-size 87.5%
                                    span
                                        display inline-block
                                        position relative
                                        padding-left 20px
                                        &:after
                                            content ""
                                            position absolute
                                            left 0
                                            top 12px
                                            display inline-block
                                            width 11px
                                            height 17px
                                            background-image url(../images/css_sprite.png)
                                            background-size 138px 544px
                                            background-position 0 -527px
                                #top_of_page
                                    height 42px
                                    line-height 44px
                                   
                                /*------------------------------------------------------------
                                    フッター
                                ------------------------------------------------------------*/
                                #footer
                                    background-color #8fc700
                                    padding 15px 0
                                    text-align center
                                .device_toggle_link
                                    li
                                        display inline-block
                                        font-size 87.5%
                                        line-height 30px
                                        &:first-child
                                            border-right 1px solid rgba(255,255,255,.3)
                                            padding-right 10px
                                            margin-right 5px
                                        a
                                            vertical-align middle
                                            color #fff
                                            font-weight bold
                                        &:last-child
                                            a
                                                background-color #fff
                                                color #8fc700
                                                display block
                                                padding 0 10px
                                                -webkit-border-radius 5px
                                                border-radius 5px
                                .copyright
                                    font-size 62.5%
                                    color #fff
                                    margin-top 10px

                                /*------------------------------------------------------------
                                     表示・非表示メニュー
                                ------------------------------------------------------------*/
                                html
                                    background-color #333
                                body
                                    position relative
                                    background-color #fff
                                    -webkit-tap-highlight-color rgba(0,0,0,0)
                                    <mark>-webkit-transition -webkit-transform .3s ease-in-out
                                    transition transform .3s ease-in-out</mark>
                                #wrapper
                                    z-index 0
                                #navigation
                                    position absolute
                                    left -260px
                                    top 0
                                    z-index 100
                                    width 260px
                                    a
                                        display block
                                        color #fff
                                        height 44px
                                        line-height 44px
                                        vertical-align middle
                                        padding 0 10px
                                        border-bottom 1px solid rgba(255,255,255,.1)
                        hr
                        p 66. ナビゲーションが開いた時の、ナビゲーションの高さを設定する
                        p ナビゲーションがコンテンツより高いか、低いか比較し、高い方をナビゲーションの高さにセット
                        p ナビゲーションがコンテンツより高いとき、ナビゲーションの高さは$('#navigation').height()
                        p ナビゲーションがコンテンツより低いとき、ナビゲーションの高さは$(window).height()+60
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index66.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    //console.log('init');

                                    <mark>var openHeight =
                                    $(window).height()+60 > $('#navigation').height() ?
                                        $(window).height()+60 : $('#navigation').height();
                                        
                                    $('#navigation').css({'min-height':openHeight+'px'});</mark>

                                    //a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });

                                    //メニューボタンタップ時の動作
                                    $('.menu_btn').on('touchstart click',function(e){
                                        //console.log('tap');
                                        if(!$('body').hasClass('open')) {
                                        $('body').css({
                                            '-webkit-transform':'translate3d(260px,0,0)',
                                            'transform':'translate3d(260px,0,0)'
                                        }).addClass('open');
                                            //console.log('open');
                                        }
                                        else {
                                        $('body').css({
                                            '-webkit-transform':'none',
                                            'transform':'none'
                                        }).removeClass('open');
                                            //console.log('close');
                                        }
                                    });
                                });
                        hr
                        p 67. ナビゲーションが閉じた時の#wrapperの高さを取得
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index67.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    //console.log('init');

                                    var openHeight =
                                    $(window).height()+60 > $('#navigation').height() ?
                                        $(window).height()+60 : $('#navigation').height();
                                    <mark>var closeHeight = $('#wrapper').height();</mark>
                                        
                                    $('#navigation').css({'min-height':openHeight+'px'});

                                    //a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });

                                    //メニューボタンタップ時の動作
                                    $('.menu_btn').on('touchstart click',function(e){
                                        //console.log('tap');
                                        if(!$('body').hasClass('open')) {
                                        $('body').css({
                                            '-webkit-transform':'translate3d(260px,0,0)',
                                            'transform':'translate3d(260px,0,0)'
                                        }).addClass('open');
                                            //console.log('open');
                                        }
                                        else {
                                        $('body').css({
                                            '-webkit-transform':'none',
                                            'transform':'none'
                                        }).removeClass('open');
                                            //console.log('close');
                                        }
                                    });
                                });
                        hr
                        p 68. 開閉時の#wrapperのタップハイライトカラーと高さを調節する
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index68.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function(){
                                    //console.log('init');

                                    var openHeight =
                                    $(window).height()+60 > $('#navigation').height() ?
                                        $(window).height()+60 : $('#navigation').height();
                                    var closeHeight = $('#wrapper').height();
                                        
                                    $('#navigation').css({'min-height':openHeight+'px'});

                                    //a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });

                                    //メニューボタンタップ時の動作
                                    $('.menu_btn').on('touchstart click',function(e){
                                        //console.log('tap');
                                        if(!$('body').hasClass('open')) {
                                            $('body').css({
                                                '-webkit-transform':'translate3d(260px,0,0)',
                                                'transform':'translate3d(260px,0,0)'
                                            }).addClass('open');
                                            //console.log('open');
                                            <mark>$('#wrapper').css({
                                                '-webkit-tap-highlight-color':'rgba(0,0,0,0)',
                                                'height':openHeight+'px'
                                            });</mark>
                                        }
                                        else {
                                            $('body').css({
                                                '-webkit-transform':'none',
                                                'transform':'none'
                                            }).removeClass('open');
                                            //console.log('close');
                                            <mark>$('#wrapper').css({
                                                '-webkit-tap-highlight-color':'',
                                                'height':closeHeight+'px'
                                            });</mark>
                                        }
                                    });
                                });
                        hr
                        p 69. 最後の調節をする
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index69.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                <mark>//初期化
                                function init(){
                                    slideNav();
                                }
                                //スライドナビゲーションの定義
                                function slideNav(){</mark>
                                    //console.log('init');

                                    var openHeight =
                                    $(window).height()+60 > $('#navigation').height() ?
                                        $(window).height()+60 : $('#navigation').height();
                                    var closeHeight = $('#wrapper').height();
                                        
                                    $('#navigation').css({'min-height':openHeight+'px'});

                                    //a要素の初期化
                                    $(document).on('a', 'touchstart click', function(e){
                                        window.location.href = $(this).attr('href');
                                        return false;
                                    });

                                    //メニューボタンタップ時の動作
                                    $('.menu_btn').on('touchstart click',function(e){
                                        //console.log('tap');
                                        if(!$('body').hasClass('open')) {
                                            $('body').css({
                                                '-webkit-transform':'translate3d(260px,0,0)',
                                                'transform':'translate3d(260px,0,0)'
                                            }).addClass('open');
                                            //console.log('open');
                                            $('#wrapper').css({
                                                '-webkit-tap-highlight-color':'rgba(0,0,0,0)',
                                                'height':openHeight+'px'
                                            });
                                        }
                                        else {
                                            $('body').css({
                                                '-webkit-transform':'none',
                                                'transform':'none'
                                            }).removeClass('open');
                                            //console.log('close');
                                            $('#wrapper').css({
                                                '-webkit-tap-highlight-color':'',
                                                'height':closeHeight+'px'
                                            });
                                        }
                                    });

                                <mark>}

                                //実行
                                $(function(){
                                    init();
                                });</mark>