extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;grunt-contrib-htmlmin
                    .panel-body
                        h4 GitHub
                        p
                            a(href='https://github.com/gruntjs/grunt-contrib-htmlmin',target='_blank') https://github.com/gruntjs/grunt-contrib-htmlmin
                        hr
                        p gruntのインストール
                        pre.
                            npm install -g grunt-cli
                        p プロジェクトの作成
                        pre.
                            cd path/to/myapp
                        p package.jsonの作成
                        pre.
                            npm init
                        p プラグインのインストール
                        pre.
                            npm install grunt grunt-contrib-htmlmin --save-dev
                        p Gruntfileの作成
                        pre(class='prettyprint linenums:1')
                            :code
                                module.exports = function(grunt){
                                    grunt.initConfig({
                                        htmlmin: {
                                            all: {
                                                options: {
                                                    removeComments: true,
                                                    collapseWhitespace: true,
                                                    collapseBooleanAttributes: true,
                                                    removeAttributeQuotes: false,
                                                    removeRedundantAttributes: true,
                                                    useShortDoctype: true,
                                                    removeEmptyAttributes: true,
                                                    removeOptionalTags: false,
                                                    removeEmptyElements: false
                                                },
                                                files: [ {
                                                    cwd: 'src',
                                                    src: ['**/*.html','**/*.htm'],
                                                    dest: 'public',
                                                    expand: true,
                                                    ext: '.html'
                                                } ]
                                            },
                                            target1: {
                                                options: {
                                                    removeComments: true,
                                                    collapseWhitespace: true,
                                                    collapseBooleanAttributes: true,
                                                    removeAttributeQuotes: true,
                                                    removeRedundantAttributes: true,
                                                    useShortDoctype: true,
                                                    removeEmptyAttributes: true,
                                                    removeOptionalTags: true,
                                                    removeEmptyElements: true
                                                },
                                                files: {
                                                    'public/about.html': 'src/about.html',
                                                    'public/contact.html': 'src/contact.html'
                                                }
                                            }
                                        }
                                    });
                                    
                                    grunt.loadNpmTasks('grunt-contrib-htmlmin');
                                    
                                    grunt.registerTask('default', 'htmlmin');
                                };
                        p すべて実行
                        pre.
                            grunt
                        p ターゲットを指定して実行
                        pre.
                            grunt htmlmin:target1