extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;CSS3の不具合
                    .panel-body
                        h4 Androidには要注意
                        p スマートフォンのブラウザはCSS3の対応が進んでいるのですが、完璧ではありません。特にAndroidの雹雨順ブラウザでは、CSSそのものや、プロパティの組み合わせなどによる不具合・バグも多く散見されます。例えば以下のような不具合があります。
                        ul
                            li Android2系の場合、メタ要素のviewportに「user-scalable=yes」の状態（ピンチによる拡大縮小が可能な状態）では、「position:fixed」の動きがおかしくなる。
                            li Android2系の場合、「translate3d」の挙動がおかしい。たとえば、「transform」を組み合わせて使用すると、transformの指定が無効になるなど。
                            li Android2系の場合、「text-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                            li Android2系の場合、「box-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                                「z-index」の順序を無視して、下のレイヤーのリンクなどタップが反応してしまう。
                            li Androis2.2では、「background-size:cover」や「rotate3d」などに対応していない。
                        p 特にAndroid 2系では、上記の他にも多くのバグが発見されているので、デザインする段階から要注意です。iOSとAndroidでは、サイトの見た目が違ってくることを受け入れたり、クライアントからの受注案件等の場合、事前に「Androidではデザインを十分に再現できないバージョンや機種がある」旨を理解してもらえるように説明しておくのも必要なフローとなります。
                        hr
                        h4 解決方法例
                        p: u ランドスケープモードでのテキストサイズ拡大を防ぐ（iOSのみ）
                        pre
                            :code
                                body{
                                    -webkit-text-size-adjust:none;
                                }

                        p: u Android2.3未満、iOS5未満でposition:fixedが効かない
                        pre
                            :code
                                iScrollを使う
                                http://cubiq.org/iscroll

                        p: u Android3未満、iOS5未満でth,tdにposition:relativeが効かない
                        pre
                            :code
                                th/tdの子要素にdivを用意しdivにposition:relative

                        p: u Androidでfont-weight:boldが効かない
                        pre
                            :code
                                テキストシャドウを使う
                                text-shadow:0 0 1px #000

                        p: u Androidで背面要素がタップできてしまう
                        pre
                            :code
                                クリックできなくする
                                $('E').click(function(){
                                    return false;
                                });

                        p: u iOSで200万px以上の画像が圧縮されてぼける
                        pre
                            :code
                                画像を2分割し、img要素を2つ使う


                        p: u 一部のAndroid端末でinput要素にフォーカスするとlandscape用のCSSを読み込んでしまう
                        pre
                            :code
                                JavaSCriptでフォーカスしたときlandscape用のCSSを無効にする
                                <link rel="stylesheet" media="all and (orientation:portrait)" href="style.css">
                                <link rel="stylesheet" media="all and (orientation:landscape)" href="style.css">
                        hr
                        pre.
                            AndroidやiPhoneのHTML,CSS,JavaScriptのバグまとめ 
                            http://blog.webcreativepark.net/2012/03/13-093853.html

                            スマートフォンとposition:fixedのバグ 
                            http://blog.webcreativepark.net/2011/12/07-052517.html

                            スマートフォンサイト制作で役立つ便利な小技とか 
                            http://webamb.com/smartphone/1205.html