extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;スワイプギャラリー
                    .panel-body
                        p ①HTMLを用意します。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctye
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport', content='width=device-width,initial-scale=1')
                                        title
                                        link(rel='stylesheet',href='css/style1.css')
                                    body
                                        #container
                                            #slideGalley
                                                ul#slide
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo1.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo2.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo3.jpg', alt='')
                                                    li
                                                        a(href='#')
                                                            img(src='img/photo4.jpg', alt='')
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='js/script1.js')
                        hr
                        p ②親要素#slideGalleryで、横並びにした子要素#slideのリストをoverflowで隠します。まずli要素をフロートさせます。親要素#slideGalleryのwidthが継承されたままにすると、li要素をフロートしても横に並ばないので、子要素#slideのwidthを十分にとります。li要素のフロートはその親要素#slideでoverflowで解除します。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                ul
                                    padding-left 0
                                    margin-top 0
                                    margin-bottom 0
                                    list-style-type none

                                #container
                                    width 320px
                                    margin 10px auto

                                #slideGalley
                                    width 320px
                                    overflow hidden
                                    height 240px

                                #slide
                                    width 10000px
                                    overflow hidden
                                    li
                                        float left
                        hr
                        p ③li:last-child要素をli:first-childに移動し、画像1枚分のネガティブマージンをとります。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index3.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide a').click(function() {
                                        return false;
                                    });
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'
                                    return
                        hr
                        p ④a要素のクリックイベントを解除します。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index4.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    <mark>$('#slide a').click(function() {
                                        return false;
                                    });</mark>
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    <mark>$('#slide a').click ->
                                        return false</mark>
                                    return
                        hr
                        p ⑤a要素にtouchstart、touchmove、touchendイベントをバインドします。パソコンのブラウザでは実行できないので、タッチイベントのエミュレーションツールを利用しましょう。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index5.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function() {}).on('touchmove', function() {}).on('touchend', function() {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    )<mark>.on('touchstart', ->
                                        return
                                    ).on('touchmove', ->
                                        return
                                    ).on 'touchend', ->
                                        return</mark>
                                    return
                        hr
                        p ⑥dataメソッドのキー「href」に値として、タッチしたa要素のリンク先を格納します。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index6.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function() {
                                        <mark>$(this).data('href', $(this).attr('href'));</mark>
                                    }).on('touchmove', function() {}).on('touchend', function() {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on('touchstart', ->
                                        <mark>$(this).data 'href',$(this).attr 'href'</mark>
                                        return
                                    ).on('touchmove', ->
                                        return
                                    ).on 'touchend', ->
                                        return
                                    return
                        hr
                        p ⑦タッチイベントが発生したときに、a要素のリンク先に遷移しないようにします。タッチイベントはjQueryのイベントではないので、JavaScriptのイベントオブジェクトによるpreventDefault()メソッドで行います。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index7.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function(<mark>e</mark>) {
                                        <mark>e.preventDefault();</mark>
                                        $(this).data('href', $(this).attr('href'));
                                    }).on('touchmove', function(<mark>e</mark>) {}).on('touchend', function(<mark>e</mark>) {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on('touchstart', <mark>(e)</mark> ->
                                        <mark>e.preventDefault()</mark>
                                        $(this).data 'href',$(this).attr 'href'
                                        return
                                    ).on('touchmove', <mark>(e)</mark> ->
                                        return
                                    ).on 'touchend', <mark>(e)</mark> ->
                                        return
                                    return
                        hr
                        p ⑧touchstartイベントで、タッチした位置のブラウザのx座標をstartXに、y座標をstartYに格納します。touchmoveイベントが発生していある間、タッチ開始位置から現在タッチしている座標の移動距離をmoveX、moveYに格納します。ドラッグしている間、初期設定でネガティブマージンに画像1枚分-320pxとってあるので、それに移動距離moveX分余分にネガティブマージンを加える事でドラッグした分だけさらにスライドさせます。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index8.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function(e) {
                                        e.preventDefault();
                                        $(this).data('href', $(this).attr('href'));
                                        <mark>$(this).data('startX', e.originalEvent.touches[0].pageX).data('startY', e.originalEvent.touches[0].pageY).data('moveX', 0).data('moveY', 0);</mark>
                                    }).on('touchmove', function(e) {
                                        <mark>$(this).data('moveX', e.originalEvent.touches[0].pageX - $(this).data('startX')).data('moveY', e.originalEvent.touches[0].pageY - $(this).data('startY'));
                                        $('#slide').css('margin-left', $(this).data('moveX') - 320 + 'px');</mark>
                                    }).on('touchend', function(e) {});
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on('touchstart', (e) ->
                                        e.preventDefault()
                                        $(this).data 'href',$(this).attr 'href'
                                        <mark>$(this)
                                            .data('startX',e.originalEvent.touches[0].pageX)
                                            .data('startY',e.originalEvent.touches[0].pageY)
                                            .data('moveX',0)
                                            .data('moveY',0)</mark>
                                        return
                                    ).on('touchmove', (e) ->
                                        <mark>$(this)
                                            .data('moveX',e.originalEvent.touches[0].pageX-$(this).data('startX'))
                                            .data('moveY',e.originalEvent.touches[0].pageY-$(this).data('startY'))
                                        $('#slide').css('margin-left',$(this).data('moveX')-320+'px')</mark>
                                        return
                                    ).on 'touchend', (e) ->
                                        return
                                    return
                        hr
                        p ⑨どれだけドラッグしたかによって、タッチし終わった後の挙動を分岐します。x方向に10ピクセル以上ドラッグした場合、x方向に-10ピクセル以下ドラッグした場合、y方向に±10ピクセルドラッグした場合、それ以外で分岐します。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index9.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function(e) {
                                        e.preventDefault();
                                        $(this).data('href', $(this).attr('href'));
                                        $(this).data('startX', e.originalEvent.touches[0].pageX).data('startY', e.originalEvent.touches[0].pageY).data('moveX', 0).data('moveY', 0);
                                    }).on('touchmove', function(e) {
                                        $(this).data('moveX', e.originalEvent.touches[0].pageX - $(this).data('startX')).data('moveY', e.originalEvent.touches[0].pageY - $(this).data('startY'));
                                        $('#slide').css('margin-left', $(this).data('moveX') - 320 + 'px');
                                    }).on('touchend', function(e) {
                                        <mark>if ($(this).data('moveX') > 10) {

                                        } else if ($(this).data('moveX') < -10) {

                                        } else if ($(this).data('moveY') > -10 && $(this).data('moveY') < 10) {

                                        } else {

                                        }</mark>
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on('touchstart', (e) ->
                                        e.preventDefault()
                                        $(this).data 'href',$(this).attr 'href'
                                        $(this)
                                            .data('startX',e.originalEvent.touches[0].pageX)
                                            .data('startY',e.originalEvent.touches[0].pageY)
                                            .data('moveX',0)
                                            .data('moveY',0)
                                        return
                                    ).on('touchmove', (e) ->
                                        $(this)
                                            .data('moveX',e.originalEvent.touches[0].pageX-$(this).data('startX'))
                                            .data('moveY',e.originalEvent.touches[0].pageY-$(this).data('startY'))
                                        $('#slide').css('margin-left',$(this).data('moveX')-320+'px')
                                        return
                                    ).on 'touchend', (e) ->
                                        <mark>if $(this).data('moveX') > 10

                                        else if $(this).data('moveX') < -10

                                        else if $(this).data('moveY') > -10 and $(this).data('moveY') < 10

                                        else</mark>
                                        return
                                    return
                        hr
                        p ⑩10ピクセルの範囲内で左右にドラッグした場合は、ほとんどスライドしていないので、dataメソッドでhrefに格納したリンク先に遷移させます。
                        p
                            a.btn.btn-default(href='../demo/jquery/exercise187/index10.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                $(function() {
                                    $('#slide li:last-child').prependTo('#slide');
                                    $('#slide').css('margin-left', '-320px');
                                    $('#slide a').click(function() {
                                        return false;
                                    }).on('touchstart', function(e) {
                                        e.preventDefault();
                                        $(this).data('href', $(this).attr('href'));
                                        $(this).data('startX', e.originalEvent.touches[0].pageX).data('startY', e.originalEvent.touches[0].pageY).data('moveX', 0).data('moveY', 0);
                                    }).on('touchmove', function(e) {
                                        $(this).data('moveX', e.originalEvent.touches[0].pageX - $(this).data('startX')).data('moveY', e.originalEvent.touches[0].pageY - $(this).data('startY'));
                                        $('#slide').css('margin-left', $(this).data('moveX') - 320 + 'px');
                                    }).on('touchend', function(e) {
                                        if ($(this).data('moveX') > 10) {
                                            $('#slide').animate({
                                                'margin-left': 0
                                            }, function() {
                                                $('#slide').css('margin-left', '-320px');
                                                $('#slide li:last-child').prependTo('#slide');
                                            });
                                        } else if ($(this).data('moveX') < -10) {
                                            $('#slide').animate({
                                                'margin-left': -640
                                            }, function() {
                                                $('#slide').css('margin-left', '-320px');
                                                $('#slide li:first-child').appendTo('#slide');
                                            });
                                        } else if ($(this).data('moveY') > -10 && $(this).data('moveY') < 10) {
                                            location.href = $(this).data('href');
                                        } else {
                                            $('#slide').animate({
                                                'margin-left': -320
                                            });
                                        }
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $ ->
                                    $('#slide li:last-child').prependTo '#slide'
                                    $('#slide').css 'margin-left','-320px'

                                    $('#slide a').click( ->
                                        return false
                                    ).on('touchstart', (e) ->
                                        e.preventDefault()
                                        $(this).data 'href',$(this).attr 'href'
                                        $(this)
                                            .data('startX',e.originalEvent.touches[0].pageX)
                                            .data('startY',e.originalEvent.touches[0].pageY)
                                            .data('moveX',0)
                                            .data('moveY',0)
                                        return
                                    ).on('touchmove', (e) ->
                                        $(this)
                                            .data('moveX',e.originalEvent.touches[0].pageX-$(this).data('startX'))
                                            .data('moveY',e.originalEvent.touches[0].pageY-$(this).data('startY'))
                                        $('#slide').css('margin-left',$(this).data('moveX')-320+'px')
                                        return
                                    ).on 'touchend', (e) ->
                                        if $(this).data('moveX') > 10
                                            $('#slide').animate
                                                'margin-left': 0
                                            , ->
                                                $('#slide').css 'margin-left', '-320px'
                                                $('#slide li:last-child').prependTo '#slide'
                                                return

                                        else if $(this).data('moveX') < -10
                                            $('#slide').animate
                                                'margin-left': -640
                                            , ->
                                                $('#slide').css 'margin-left', '-320px'
                                                $('#slide li:first-child').appendTo '#slide'
                                                return
                                        else if $(this).data('moveY') > -10 and $(this).data('moveY') < 10
                                            location.href = $(this).data('href')
                                        else
                                            $('#slide').animate 'margin-left': -320
                                        return
                                    return