extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ソースコードの圧縮
                    .panel-body
                        pre
                            :code
                                compressor

                                http://compressor.ebiene.de/
                                
                                Online YUI Compressor

                                http://refresh-sf.com/yui/

                                .htaccessでソースを圧縮して送信

                                AddOutputFilterByType DEFLATE text/html text/css application/x-javascript


                                ※ WebサーバーがApache2.x限定