extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;スマートフォンシミュレーター
                    .panel-body
                        h4 ネイティブアプリ開発タイプ
                        pre.
                            Androidエミュレーター
                                 Android Developers
                                 http://developer.android.com/intl/ja/sdk/index.html 
                                 
                            iOSシミュレーター（Macのみ）
                                 iOS Devcenter
                                 http://developer.apple.com/devcenter/ios/
                                 
                            iOS-Simulator Cropper
                                iOSシミュレーターにキャプチャ機能を追加
                                http://www.curioustimes.de/iphonesimulatorcropper/  
                                
                            Windows Phoneエミュレーター
                                 APP HUB（DEVELOPER FOR WINDOWS PHONE &amp; XBOX360）
                                 http://create.msdn.com/ja-JP
                                 
                            Tizen Emulator
                                 Tizen Developers
                                 https://developer.tizen.org/ 
                        h4 VirtualBoxタイプ
                        pre.
                            Genymotion
                            http://www.genymotion.com/
                        h4 ユーザーエージェント偽装タイプ
                        pre.
                            Airを使っているものが多いのでAirをインストールしておきましょう

                            Adobe Air
                            http://get.adobe.com/jp/air/

                            ibbdemo2
                            https://code.google.com/p/ibbdemo2/

                            ibbdemo3
                            https://code.google.com/p/ibbdemo3/

                            AIR iPhone
                            http://www.merhl.com/?page_id=3

                            Air iPad
                            http://www.merhl.com/?page_id=50

                            Mobilizer
                            http://www.springbox.com/about/tools/

                            iphoney
                            http://www.marketcircle.com/iphoney/
                        h4 IDEタイプ
                        pre.
                            MobiOne
                            http://www.genuitec.com/mobile/
                        h4 Chromeアプリタイプ
                        pre.
                            iPSim
                            http://chrome.google.com/webstore/detail/gcligifbhamdimemnemmlkffkpmflehh#

                            Ripple Emulator
                            https://chrome.google.com/webstore/detail/ripple-emulator-beta/geelfhphabnejjhdalkjhgipohgpdnoc
                        h4 Firefoxアドオンタイプ
                        pre.
                            Firefox os simulator
                            https://addons.mozilla.org/ja/firefox/addon/firefox-os-simulator/

                            FireMobileSimulator
                            http://firemobilesimulator.org/
                        h4 Webサイトタイプ
                        pre.
                            TestiPhone.com
                            http://www.testiphone.com/
 