extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Tシャツサイト①
                    .panel-body
                        p ①
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title 変なTシャツ作ってます T-Shirts Project
                                    body#home
                                        script(src='http://code.jquery.com/jquery-2.1.0.min.js')
                        hr
                        p ② apple-touch-icon
                        p
                            a.btn.btn-default(href='../demo/mobile/t-shirt/index2.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title 変なTシャツ作ってます T-Shirts Project
                                        <mark>link(rel='apple-touch-icon-precomposed',href='images/homeicon.png')</mark>
                                    body#home
                                        script(src='http://code.jquery.com/jquery-2.1.0.min.js')
                        hr