extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;grunt-datauri
                    .panel-body
                        h4 GitHub
                        p
                            a(href='https://github.com/ceee/grunt-datauri',target='_blank') https://github.com/ceee/grunt-datauri
                        hr
                        p gruntのインストール
                        pre.
                            npm install -g grunt-cli
                        p プロジェクトの作成
                        pre.
                            cd path/to/myapp
                        p package.jsonの作成
                        pre.
                            npm init
                        p タスクのインストール
                        pre.
                            npm install grunt grunt-datauri --save-dev
                        p Gruntfileの作成
                        pre(class='prettyprint linenums:1')
                            :code
                                module.exports = function(grunt){
                                    grunt.initConfig( {
                                        datauri: {
                                            all: {
                                                options: {
                                                    classPrefix: 'data-'
                                                },
                                                src: ['src/datauri/**/*.png'],
                                                dest: 'public/css/datauri.css'
                                            },
                                            target1: {
                                                options: {
                                                    classPrefix: 'data-'
                                                },
                                                src: [
                                                    'src/datauri/image1.png',
                                                    'src/datauri/image2.png',
                                                    'src/datauri/image3.png'
                                                ],
                                                dest: 'public/css/datauri1.css'
                                            }
                                        }
                                    });

                                    grunt.loadNpmTasks('grunt-datauri');

                                    grunt.registerTask('default', 'datauri');
                                };
                        p すべて実行
                        pre.
                            grunt
                        p ターゲットを指定して実行
                        pre.
                            grunt datauri:target1