extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;画像の最適化
                    .panel-body
                        pre.
                            画像の最適化

                            写真にはJPEG、ロゴやイラストにはPNGやSVGといった具合に適切なフォーマットを選ぶことはもちろんですが、圧縮ツールを使ったり、「色数を減らす」「ぼかしを加える」といったテクニックを駆使したりしてもファイル容量を削減出来ます。


                        pre.
                            画像圧縮ツールで容量を減らす


                            画像ファイルの容量を削除するもっとも手軽な方法は、画像圧縮ツールを利用することです。画像圧縮ツールは、見た目は大きく損なわずに不要な情報を取り除いてファイルを軽くするツールで、画像によっては10〜50%ほどファイル容量を削減できます。


                            GIF／JPEG／PNG8／PNG24／PNG32


                            色数が少ない場合
                            PNG8
                            ▼
                            GIF
                            ▼
                            色数が多い場合
                            JPEG（透過できない）
                            ▼
                            PNG24
                            ▼
                            PNG32


                            ※色数が少ない場合、一般的にはPNG8はジャギーがでるが、Fireworksを使ってPNG8で書き出すときれいに容量を押さえることができる

                        pre.
                            Windows用画像最適化ツール

                            PNGGauntlet
                            http://pnggauntlet.com/
                            対応：PNG（変換元はJPEG/GIF/TIFF/BMP）


                            Mac用画像最適化ツール

                            ImageOptim（無償）
                            http://imageoptim.com/
                            対応：PNG／JPEG／GIF

                            オンラインツール

                            PunyPNG（一部有償）
                            http://www.punypng.com/
                            対応：PNG／JPEG／GIF


                            その他ツール

                            JPEGmini（Win／Mac／有料）
                            JPEGmini Lite（Win／Mac／無料／１日２０ファイル）
                            http://www.jpegmini.com
                            対応：JPEG


                            ImageAlpha
                            http://pngmini.com/