extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;配色
                    .panel-body
                        pre.
                            Adobe Kuler
                            https://kuler.adobe.com/

                            Colour Lovers
                            http://www.colourlovers.com

                            Color Scheme Designer
                            http://colorschemedesigner.com/

                            Peppermint Color Express
                            https://itunes.apple.com/jp/app/peppermint-color-express/id340119405?mt=8

                            Colorpedia
                            https://itunes.apple.com/jp/app/peppermint-color-express/id340119405?mt=8