extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ガイドライン
                    .panel-body
                        pre
                            :code

                                各OSスマートフォンデザインのガイドライン


                                iOS

                                iOS Human Intarface Guidelines
                                http://developer.apple.com/library/ios/#documentation/UserExperience/Conceptual/MobileHIG/Introduction/Introduction.html

                                iOS Human Intarface Guidelines（日本語）
                                https://developer.apple.com/jp/devcenter/ios/library/documentation/MobileHIG.pdf


                                iOS UI Element Usage Guidelines
                                http://developer.apple.com/library/ios/#documentation/userexperience/conceptual/mobilehig/UIElementGuidelines/UIElementGuidelines.html

                                Configuring the Viewport 
                                https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariWebContent/UsingtheViewport/UsingtheViewport.html



                                Android

                                Android Design
                                http://developer.android.com/design/index.html

                                Androidデザインを訳してみた
                                http://firespeed.org/diary.php?diary=kenz-1462

                                48dp ryththm
                                http://developer.android.com/intl/ja/design/style/metrics-grids.html



                                Windows Phone

                                Windows Phone のユーザー エクスペリエンスのデザイン ガイドライン 
                                http://msdn.microsoft.com/ja-jp/library/hh202915(v=vs.92).aspx

                                Windows Phoneのデザインライブラリ
                                http://msdn.microsoft.com/ja-jp/library/windowsphone/design/hh202915(v=vs.105).aspx




                                IMG Mobile

                                Mobile User Book 2011

                                http://www.imjp.co.jp/FileUpload/files/documents/release/2011/imjm20110204_2.pdf

                                スマートフォンサイトの貞応表示方法に関するユーザービリティ調査〜性年代別にみる操作印象〜

                                http://www.imjp.co.jp/report/research/20120330/res/obj/report20120330.pdf

                                iPhone専用サイトにおけるユーザビリティ調査

                                http://www.imjp.co.jp/FileUpload/files/documents/release/2010/imjm20100823.pdf

                                タブレット端末でのサイトユーザビリティ調査

                                http://www.imjp.co.jp/press/assets/201305/imj20130515.pdf

                                まとめ
                        table.table
                            tr
                                th ボタン
                                td 44px〜48px以上
                            tr
                                th フォントサイズ
                                td 14px以上
                            tr
                                th ページ余白
                                td 10〜20px
