extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;Cafeサイト②
                    .panel-body
                        p ㉒ Doctype宣言の読み込み
                        p
                            a.btn.btn-default(href='../demo/mobile/cafe/index22.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        title あなたの街の、くつろぎ空間。 | SMART CAFE
                                    body
                        hr