extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;CSS3の不具合
                    .panel-body
                        h4 Androidには要注意
                        p スマートフォンのブラウザはCSS3の対応が進んでいるのですが、完璧ではありません。特にAndroidの雹雨順ブラウザでは、CSSそのものや、プロパティの組み合わせなどによる不具合・バグも多く散見されます。例えば以下のような不具合があります。
                        ul
                            li Android2系の場合、メタ要素のviewportに「user-scalable=yes」の状態（ピンチによる拡大縮小が可能な状態）では、「position:fixed」の動きがおかしくなる。
                            li Android2系の場合、「translate3d」の挙動がおかしい。たとえば、「transform」を組み合わせて使用すると、transformの指定が無効になるなど。
                            li Android2系の場合、「text-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                            li Android2系の場合、「box-shadow」の「blur（ぼかし）」の値を0pxにすると、シャドウそのものが表示されない。
                                「z-index」の順序を無視して、下のレイヤーのリンクなどタップが反応してしまう。
                            li Androis2.2では、「background-size:cover」や「rotate3d」などに対応していない。
                        p 特にAndroid 2系では、上記の他にも多くのバグが発見されているので、デザインする段階から要注意です。iOSとAndroidでは、サイトの見た目が違ってくることを受け入れたり、クライアントからの受注案件等の場合、事前に「Androidではデザインを十分に再現できないバージョンや機種がある」旨を理解してもらえるように説明しておくのも必要なフローとなります。
                        hr
                        pre.
                            AndroidやiPhoneのHTML,CSS,JavaScriptのバグまとめ 
                            http://blog.webcreativepark.net/2012/03/13-093853.html

                            スマートフォンとposition:fixedのバグ 
                            http://blog.webcreativepark.net/2011/12/07-052517.html

                            スマートフォンサイト制作で役立つ便利な小技とか 
                            http://webamb.com/smartphone/1205.html