extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ワイヤーフレーム
                    .panel-body
                        pre
                            :code
                                手書き

                                webdesignledger.com

                                http://webdesignledger.com/inspiration/inspiring-ui-wireframe-sketches




                                清書

                                cacoo
                                https://cacoo.com/
                                MockFlow
                                http://www.mockflow.com/
                                Axule
                                http://www.axure.com/
                                balsamiq
                                http://www.balsamiq.com/products/mockups
                                Pencil
                                http://www.evolus.vn/en-US/Default.aspx
                                Hotgloo
                                http://www.hotgloo.com/
                                protoshare
                                http://www.protoshare.com/
                                OmniGraffle
                                http://www.omnigroup.com/products/omnigraffle/
                                http://www.teehanlax.com/