extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ジェスチャー
                    .panel-body
                        h4 タップ、スワイプなどのタッチジェスチャー操作
                        p デスクトップPCやフィーチャーフォンとの決定的な相違点が、このタッチスクリーンを採用した直感的な操作方法です。キーボードやボタンによる操作ではなく、画面に表示されるコンテンツそのものを指で触ることで操作します。「タップ」「スワイプ」「フリック」など様々なジェスチャーがあり、複数の指でも操作します。これにより、「スマートフォン＝タッチデバイス」と認識としてもあながち間違っておらず、最も忘れてはいけない特徴だといえます。
                        table.table
                            tr
                                th タップ
                                td 画面を軽くたたく。マウスのクリックに相当する。
                            tr
                                th ダブルタップ
                                td マウスのダブルクリックに相当する。
                            tr
                                th ホールド（プレス）
                                td タップ後、指を画面から離さず、長押しする。
                            tr
                                th スワイプ
                                td 画面に触れた状態で指を滑らせる。
                            tr
                                th フリック
                                td 画面を触りつつ、軽くはじく。
                            tr
                                th ピンチイン 
                                td ２本の指で画面に付けて、指を縮めて、つまむような動作をする。画像等の縮小に使われる。
                            tr
                                th ピンチアウト
                                td ２本の指で画面に付けて、指を広げるような動作をする。画像等の拡大に使われる。 
                            tr
                                th ドラッグ
                                td タップ後、指を離さずそのまま対象物を移動させる。 
                        h4 外出先や野外でも頻繁に利用される
                        p スマートフォンは携帯端末・電話であるため、どこへも持ち歩き、どこでも使われることになります。オフィスや自宅以外での利用も多いということは、速度の遅い電話回線（3G）でのネットへの接続も多く行われている、ということになります。つまり、スマートフォンサイトの制作においては、この低速回線でサイトが閲覧されることも視野にいれていく必要があります。
                        hr
                        p 現時点でJavaScriptのジェスチャーイベントは実装されていないので、Quo.jsなどのライブラリーで対応させます。
                        p 他、jQuery MobileなどのモバイルUIフレームワークにもジェスチャーイベントは限定的に実装されています。