extends ../layout

block link
    include ../link1

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;アプリの起動リンク
                    .panel-body
                        p スマートフォンでは、a要素のhref属性にアプリが制作された時に設定されているスキームを使用するtコトで、アプリを起動させることができます。
                        pre
                            :code
                                ショートメッセージ
                                <a href='sms:'>...</a>

                                地図
                                <a href='maps:'>...</a>

                                App Store
                                <a href='itms-apps://'>...</a>

                                itunes
                                <a href='http://itunes.apple.com/jp/genre'>...</a>

                                iBooks
                                <a href='itms-bookss:'>...</a>

                                Facebook
                                <a href='fb://'>...</a>

                                Twitter
                                <a href='twitter:'>...</a>

                                Evernote
                                <a href='Evernote:'>...</a>

                                GoodReader
                                <a href='ghttp:、ghttps:、grhttp:、ghttps、giwhttps:、gropen:'>...</a>
                        hr
                        p アプリによっては、アプリの機能別に起動させることができます。
                        p: u Twitterの起動
                        pre
                            :code
                                <a href='twitter://'>...</a>
                                <a href='twitter://timeline'>...</a>
                                <a href='twitter://mention'>...</a>
                                <a href='twitter://messages'>...</a>
                                <a href='twitter://post?message=内容（URLエンコード）'>...</a>
                                <a href='twitter://search?query=検索語句（URLエンコード）'>...</a>
                        hr
                        p OS標準の地図アプリは以下のように起動できます。
                        pre
                            :code
                                Android、iOS5以下
                                <a href="https://maps.google.com/maps?q=東京都港区六本木2-4-5">マップアプリの起動</a>
                                
                                Android、iOS6以上
                                <a href="http://maps.apple.com/maps?q=東京都港区六本木2-4-5">マップアプリの起動</a>
                                