extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;資料
                    .panel-body
                        pre
                            :code


                                各ブラウザユーザーエージェントの偽装



                                http://4th-life.com/web-site/browser-user-agent/


                                ユーザーエージェント一覧
                                http://www.openspc2.org/userAgent/



                                エミュレーター

                                Androidエミュレーター
                                     Android Developers
                                     http://developer.android.com/intl/ja/sdk/index.html 

                                iOSシミュレーター（Macのみ）
                                     iOS Devcenter
                                     http://developer.apple.com/devcenter/ios/

                                    iOS-Simulator Cropper
                                    iOSシミュレーターにキャプチャ機能を追加
                                    http://www.curioustimes.de/iphonesimulatorcropper/  

                                Windows Phoneエミュレーター
                                     APP HUB（DEVELOPER FOR WINDOWS PHONE & XBOX360）
                                     http://create.msdn.com/ja-JP

                                Tizen Emulator
                                     Tizen Developers
                                     https://developer.tizen.org/ 



                                シミュレーター

                                ibbdemo2
                                https://code.google.com/p/ibbdemo2/

                                ibbdemo3
                                https://code.google.com/p/ibbdemo3/

                                AIR iPhone
                                http://www.merhl.com/?page_id=3

                                Air iPad
                                http://www.merhl.com/?page_id=50

                                Mobilizer
                                http://www.springbox.com/about/tools/

                                iphoney
                                http://www.marketcircle.com/iphoney/



                                IDE

                                MobiOne
                                http://www.genuitec.com/mobile/




                                Chromeアプリ

                                iPSim
                                http://chrome.google.com/webstore/detail/gcligifbhamdimemnemmlkffkpmflehh#

                                Ripple Emulator
                                https://chrome.google.com/webstore/detail/ripple-emulator-beta/geelfhphabnejjhdalkjhgipohgpdnoc




                                Firefoxアドオン

                                Firefox os simulator
                                https://addons.mozilla.org/ja/firefox/addon/firefox-os-simulator/

                                FireMobileSimulator
                                http://firemobilesimulator.org/




                                Webサイト

                                TestiPhone.com
                                http://www.testiphone.com/


