extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;ジェスチャー
                    .panel-body
                        p デスクトップPCやフィーチャーフォンとの決定的な相違点が、このタッチスクリーンを採用した直感的な操作方法です。キーボードやボタンによる操作ではなく、画面に表示されるコンテンツそのものを指で触ることで操作します。「タップ」「スワイプ」「フリック」など様々なジェスチャーがあり、複数の指でも操作します。これにより、「スマートフォン＝タッチデバイス」と認識としてもあながち間違っておらず、最も忘れてはいけない特徴だといえます。
                        table.table
                            tr
                                th タップ
                                td 画面を軽くたたく。マウスのクリックに相当する。
                            tr
                                th ダブルタップ
                                td マウスのダブルクリックに相当する。
                            tr
                                th ホールド（プレス）
                                td タップ後、指を画面から離さず、長押しする。
                            tr
                                th スワイプ
                                td 画面に触れた状態で指を滑らせる。
                            tr
                                th フリック
                                td 画面を触りつつ、軽くはじく。
                            tr
                                th ピンチイン 
                                td ２本の指で画面に付けて、指を縮めて、つまむような動作をする。画像等の縮小に使われる。
                            tr
                                th ピンチアウト
                                td ２本の指で画面に付けて、指を広げるような動作をする。画像等の拡大に使われる。 
                            tr
                                th ドラッグ
                                td タップ後、指を離さずそのまま対象物を移動させる。 
                        hr
                        p 現時点でJavaScriptのジェスチャーイベントは実装されていないので、Quo.jsなどのライブラリーで対応させます。
                        h4 Quo.js
                        p
                            a(href='http://quojs.tapquo.com/',target='_blank') http://quojs.tapquo.com/
                        p 他、jQuery MobileなどのモバイルUIフレームワークにもジェスチャーイベントは限定的に実装されています。
                        p
                            a.btn.btn-default(href='../demo/mobile/quojs1/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                    html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport',content='width=device-width,initial-scale=1.0')
                                        title
                                        link(rel='stylesheet', href='style.css')
                                    body
                                        #index(data-role='page')
                                            p 以下のジェスチャーを検証します。
                                            pre.
                                                tap
                                                hold
                                                singleTap
                                                doubleTap
                                                swipe
                                                swiping
                                                swipeLeft
                                                swipeRight
                                                swipeDown
                                                swipeUp
                                                pinch
                                                pinching
                                                pinchIn
                                                pinchOut
                                                rotate
                                                rotating
                                                rotateRight
                                                rotateLeft
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='quo.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                html,body
                                    width 100%
                                    height 100%
                                #index
                                    width 100%
                                    height 100%
                        pre(class='prettyprint linenums:1')
                            :code
                                $$(document).ready(function() {
                                    $$('#index').tap(function() {
                                        alert('tap');
                                    });
                                    $$('#index').hold(function() {
                                        alert('hold');
                                    });
                                    $$('#index').singleTap(function() {
                                        alert('singleTap');
                                    });
                                    $$('#index').doubleTap(function() {
                                        alert('doubleTap');
                                    });
                                    $$('#index').swipe(function() {
                                        alert('swipe');
                                    });
                                    $$('#index').swiping(function() {
                                        alert('swiping');
                                    });
                                    $$('#index').swipeLeft(function() {
                                        alert('swipeLeft');
                                    });
                                    $$('#index').swipeRight(function() {
                                        alert('swipeRight');
                                    });
                                    $$('#index').swipeDown(function() {
                                        alert('swipeDown');
                                    });
                                    $$('#index').swipeUp(function() {
                                        alert('swipeUp');
                                    });
                                    $$('#index').pinch(function() {
                                        alert('pinch');
                                    });
                                    $$('#index').pinching(function() {
                                        alert('pinching');
                                    });
                                    $$('#index').pinchIn(function() {
                                        alert('pinchIn');
                                    });
                                    $$('#index').pinchOut(function() {
                                        alert('pinchOut');
                                    });
                                    $$('#index').rotate(function() {
                                        alert('rotate');
                                    });
                                    $$('#index').rotating(function() {
                                        alert('rotating');
                                    });
                                    $$('#index').rotateRight(function() {
                                        alert('rotateRight');
                                    });
                                    $$('#index').rotateLeft(function() {
                                        alert('rotateLeft');
                                    });
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $$(document).ready ->
                                    $$('#index').tap ->
                                        alert 'tap'
                                        return
                                    $$('#index').hold ->
                                        alert 'hold'
                                        return
                                    $$('#index').singleTap ->
                                        alert 'singleTap'
                                        return
                                    $$('#index').doubleTap ->
                                        alert 'doubleTap'
                                        return
                                    $$('#index').swipe ->
                                        alert 'swipe'
                                        return
                                    $$('#index').swiping ->
                                        alert 'swiping'
                                        return
                                    $$('#index').swipeLeft ->
                                        alert 'swipeLeft'
                                        return
                                    $$('#index').swipeRight ->
                                        alert 'swipeRight'
                                        return
                                    $$('#index').swipeDown ->
                                        alert 'swipeDown'
                                        return
                                    $$('#index').swipeUp ->
                                        alert 'swipeUp'
                                        return
                                    $$('#index').pinch ->
                                        alert 'pinch'
                                        return
                                    $$('#index').pinching ->
                                        alert 'pinching'
                                        return
                                    $$('#index').pinchIn ->
                                        alert 'pinchIn'
                                        return
                                    $$('#index').pinchOut ->
                                        alert 'pinchOut'
                                        return
                                    $$('#index').rotate ->
                                        alert 'rotate'
                                        return
                                    $$('#index').rotating ->
                                        alert 'rotating'
                                        return
                                    $$('#index').rotateRight ->
                                        alert 'rotateRight'
                                        return
                                    $$('#index').rotateLeft ->
                                        alert 'rotateLeft'
                                        return
                                    return
                        p また、Quo.jsでは、ブラウザの種類、デスクトップかモバイルか、OS名、OSのバージョン、画面の解像度を取得できます。
                        p
                            a.btn.btn-default(href='../demo/mobile/quojs2/index1.html',target='_blank')
                                i.glyphicon.glyphicon-play
                                | デモ
                        pre(class='prettyprint linenums:1')
                            :code
                                doctype
                                html(lang='ja-JP')
                                    head
                                        meta(charset='UTF-8')
                                        meta(name='viewport',content='width=device-width,initial-scale=1.0')
                                        title
                                        link(rel='stylesheet', href='style.css')
                                    body
                                        #index(data-role='page').
                                            デバイスの情報を検証します。
                                        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
                                        script(src='quo.js')
                                        script(src='script.js')
                        pre(class='prettyprint linenums:1')
                            :code
                                html,body
                                    width 100%
                                    height 100%
                                #index
                                    width 100%
                                    height 100%
                        pre(class='prettyprint linenums:1')
                            :code
                                $$(function() {
                                    alert($$.environment().browser);
                                    alert($$.environment().isMobile);
                                    alert($$.environment().screen.width);
                                    alert($$.environment().screen.height);
                                    alert($$.environment().os.name);
                                    alert($$.environment().os.version);
                                });
                        pre(class='prettyprint linenums:1')
                            :code
                                $$ ->
                                    alert $$.environment().browser
                                    alert $$.environment().isMobile
                                    alert $$.environment().screen.width
                                    alert $$.environment().screen.height
                                    alert $$.environment().os.name
                                    alert $$.environment().os.version
                                    return