.list-group
    a.list-group-item.active
        | WEB開発ツール
    a.list-group-item(href='../others/4')
        i.badge.badge-info
        | Sublime Text
    a.list-group-item(href='../others/8')
        i.badge.badge-info
        | Chrome Developer Tools
    a.list-group-item(href='../others/5')
        i.badge.badge-info
        | Emmet/Zen Coding
    a.list-group-item(href='../others/10')
        i.badge.badge-info
        | Bower
    a.list-group-item(href='../others/11')
        i.badge.badge-info
        | Grunt
    a.list-group-item(href='../others/20')
        i.badge.badge-info
        | GruntでBowerを使う
    a.list-group-item(href='http://yeoman.io/',target='_blank')
        i.badge.badge-info
        | YEOMAN
.list-group
    a.list-group-item.active
        | テスト駆動開発
    a.list-group-item(href='../jasmine/1')
        i.badge.badge-info
        | Jasmine
.list-group
    a.list-group-item.active
        | 仕様書
    a.list-group-item(href='../jsdoc/1')
        i.badge.badge-info
        | JSDoc
.list-group
    a.list-group-item.active
        | 継続的インテグレーション
    a.list-group-item(href='http://jenkins-ci.org/',target='_blank')
        i.badge.badge-info
        | Jenkins
.list-group
    a.list-group-item.active
        | ローカル開発環境
    a.list-group-item(href='#')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../vagrant/1')
        i.badge.badge-info
        | Vagrant
    a.list-group-item(href='../linux/1')
        i.badge.badge-info
        | Unixコマンド
    a.list-group-item(href='../linux/2')
        i.badge.badge-info
        | Vim
    a.list-group-item(href='../linux/3')
        i.badge.badge-info
        | シェルスクリプト
    a.list-group-item(href='../vagrant/2')
        i.badge.badge-info
        | Node.jsデプロイ環境構築
    a.list-group-item(href='../vagrant/3')
        i.badge.badge-info
        | Node.jsアプリの永続化
    a.list-group-item(href='../vagrant/4')
        i.badge.badge-info
        | Node.jsアプリのルーティング
.list-group
    a.list-group-item.active
        | バージョン管理
    a.list-group-item(href='#')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../git/1')
        i.badge.badge-info
        | Git
    a.list-group-item(href='../git/1')
        i.badge.badge-info
        | GitHub
.list-group
    a.list-group-item.active
        | パッケージマネージャー
    a.list-group-item(href='#')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../others/19')
        i.badge.badge-info
        | npm
    a.list-group-item(href='http://rubygems.org/',target='_blank')
        i.badge.badge-info
        | gem
    a.list-group-item(href='http://www.macports.org/',target='_blank')
        i.badge.badge-info
        | MacPorts
    a.list-group-item(href='http://brew.sh/',target='_blank')
        i.badge.badge-info
        | Homebrew
.list-group
    a.list-group-item.active
        | 軽量マークアップ言語
    a.list-group-item(href='#')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../others/6')
        i.badge.badge-info
        | Jade
    a.list-group-item(href='../others/9')
        i.badge.badge-info
        | Jadeリファレンス
    a.list-group-item(href='../others/7')
        i.badge.badge-info
        | Markdown記法
    a.list-group-item(href='http://haml.info/',target='_blank')
        i.badge.badge-info
        | Haml
    a.list-group-item(href='http://slim-lang.com/',target='_blank')
        i.badge.badge-info
        | Slim
.list-group
    a.list-group-item.active
        | CSSプリプロセッサー
    a.list-group-item(href='#')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../others/12')
        i.badge.badge-info
        | Stylus
    a.list-group-item(href='../others/13')
        i.badge.badge-info
        | Stylusリファレンス
    a.list-group-item(href='../others/15')
        i.badge.badge-info
        | Nib
    a.list-group-item(href='../others/16')
        i.badge.badge-info
        | Nibリファレンス
    a.list-group-item(href='http://sass-lang.com/',target='_blank')
        i.badge.badge-info
        | Sass
    a.list-group-item(href='http://compass-style.org/',target='_blank')
        i.badge.badge-info
        | Compass
    a.list-group-item(href='http://lesscss.org/',target='_blank')
        i.badge.badge-info
        | LESS
.list-group
    a.list-group-item.active
        | 代替JavaScript
    a.list-group-item(href='#')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='../others/14')
        i.badge.badge-info
        | CoffeeScript
    a.list-group-item(href='https://www.dartlang.org/',target='_blank')
        i.badge.badge-info
        | Dart
    a.list-group-item(href='http://www.typescriptlang.org/',target='_blank')
        i.badge.badge-info
        | TypeScript
    a.list-group-item(href='http://asmjs.org/',target='_blank')
        i.badge.badge-info
        | asm.js
    a.list-group-item(href='http://livescript.net/',target='_blank')
        i.badge.badge-info
        | LiveScript
    a.list-group-item(href='http://jsx.github.io/',target='_blank')
        i.badge.badge-info
        | JSX
    a.list-group-item(href='http://haxe.org/?lang=jp',target='_blank')
        i.badge.badge-info
        | Haxe
.list-group
    a.list-group-item.active
        | ハイブリッドアプリ
    a.list-group-item(href='#')
        i.badge.badge-info
        | 資料
    a.list-group-item(href='http://developer.android.com/sdk/index.html',target='_blank')
        i.badge.badge-info
        | Android ADT
    a.list-group-item(href='../genymotion/1')
        i.badge.badge-info
        | Genymotion
    a.list-group-item(href='../others/cordova1.ejs')
        i.badge.badge-info
        | Cordova/Phonegap
    a.list-group-item(href='http://www.appcelerator.com/titanium/',target='_blank')
        i.badge.badge-info
        | Titanium
    a.list-group-item(href='http://d.aoikujira.com/jsWaffle/wiki/',target='_blank')
        i.badge.badge-info
        | jsWaffle