div.list-group
     a.list-group-item(href='others4.jade')
          i.badge.badge-info
          | Sublime Text
     a.list-group-item(href='others8.jade')
          i.badge.badge-info
          | Chrome Developer Tools
     a.list-group-item(href='others5.jade')
          i.badge.badge-info
          | Emmet/ZenCoding
     a.list-group-item(href='others6.jade')
          i.badge.badge-info
          | Jade
     a.list-group-item(href='others7.jade')
          i.badge.badge-info
          | Markdown
     a.list-group-item(href='#')
          i.badge.badge-info
          | Node.js
     a.list-group-item(href='#')
          i.badge.badge-info
          | LESS
     a.list-group-item(href='others1.jade')
          i.badge.badge-info
          | Vim
     a.list-group-item(href='#')
          i.badge.badge-info
          | Ruby
     a.list-group-item(href='#')
          i.badge.badge-info
          | Haml
     a.list-group-item(href='#')
          i.badge.badge-info
          | Stylus
     a.list-group-item(href='#')
          i.badge.badge-info
          | Sass
     a.list-group-item(href='#')
          i.badge.badge-info
          | Compass
     a.list-group-item(href='#')
          i.badge.badge-info
          | CoffeeScript
     a.list-group-item(href='#')
          i.badge.badge-info
          | Grunt
     a.list-group-item(href='#')
          i.badge.badge-info
          | Git
     a.list-group-item(href='#')
          i.badge.badge-info
          | GitHub
     a.list-group-item(href='#')
          i.badge.badge-info
          | Hostingサービス
     a.list-group-item(href='#')
          i.badge.badge-info
          | Herokuへデプロイ
     a.list-group-item(href='others2.jade')
          i.badge.badge-info
          | MongoDB
     a.list-group-item(href='others3.jade')
          i.badge.badge-info
          | Mongoシェル
     a.list-group-item(href='material/vagrant-1')
          i.badge.badge-info
          | Vagrant
     a.list-group-item(href='phonegap-1')
          i.badge.badge-info
          | phonegapの環境構築