.list-group
     a.list-group-item.active
          | 開発ツール
     a.list-group-item(href='4')
          i.badge.badge-info
          | Sublime Text
     a.list-group-item(href='8')
          i.badge.badge-info
          | Chrome Developer Tools
     a.list-group-item(href='5')
          i.badge.badge-info
          | Emmet/Zen Coding
     a.list-group-item(href='10')
          i.badge.badge-info
          | Bower
     a.list-group-item(href='11')
          i.badge.badge-info
          | Grunt
     a.list-group-item(href='#')
          i.badge.badge-info
          | Git
     a.list-group-item(href='#')
          i.badge.badge-info
          | GitHub
     a.list-group-item(href='http://jenkins-ci.org/',target='_blank')
          i.badge.badge-info
          | Jenkins
.list-group
     a.list-group-item.active
          | ハイブリッドアプリ
     a.list-group-item(href='cordova1.ejs')
          i.badge.badge-info
          | Cordova/Phonegap
     a.list-group-item(href='http://www.appcelerator.com/titanium/',target='_blank')
          i.badge.badge-info
          | Titanium
     a.list-group-item(href='http://d.aoikujira.com/jsWaffle/wiki/',target='_blank')
          i.badge.badge-info
          | jsWaffle
.list-group
     a.list-group-item.active
          | テストツール
     a.list-group-item(href='http://qunitjs.com/',target='_blank')
          i.badge.badge-info
          | QUnit
     a.list-group-item(href='17',target='_blank')
          i.badge.badge-info
          | Jasmine
     a.list-group-item(href='18',target='_blank')
          i.badge.badge-info
          | Jasmineリファレンス
     a.list-group-item(href='http://phantomjs.org/',target='_blank')
          i.badge.badge-info
          | PhantomJS
.list-group
     a.list-group-item.active
          | 軽量マークアップ言語
     a.list-group-item(href='6')
          i.badge.badge-info
          | Jade
     a.list-group-item(href='9')
          i.badge.badge-info
          | Jadeリファレンス
     a.list-group-item(href='7')
          i.badge.badge-info
          | Markdown記法
     a.list-group-item(href='http://haml.info/',target='_blank')
          i.badge.badge-info
          | Haml
     a.list-group-item(href='http://slim-lang.com/',target='_blank')
          i.badge.badge-info
          | Slim
.list-group
     a.list-group-item.active
          | CSSプリプロセッサー
     a.list-group-item(href='12')
          i.badge.badge-info
          | Stylus
     a.list-group-item(href='13')
          i.badge.badge-info
          | Stylusリファレンス
     a.list-group-item(href='15')
          i.badge.badge-info
          | Nib
     a.list-group-item(href='16')
          i.badge.badge-info
          | Nibリファレンス
     a.list-group-item(href='http://sass-lang.com/',target='_blank')
          i.badge.badge-info
          | Sass
     a.list-group-item(href='http://compass-style.org/',target='_blank')
          i.badge.badge-info
          | Compass
     a.list-group-item(href='http://lesscss.org/',target='_blank')
          i.badge.badge-info
          | LESS
.list-group
     a.list-group-item.active
          | AltJS
     a.list-group-item(href='14')
          i.badge.badge-info
          | CoffeeScript
     a.list-group-item(href='https://www.dartlang.org/',target='_blank')
          i.badge.badge-info
          | Dart
     a.list-group-item(href='http://www.typescriptlang.org/',target='_blank')
          i.badge.badge-info
          | TypeScript
     a.list-group-item(href='http://haxe.org/?lang=jp',target='_blank')
          i.badge.badge-info
          | Haxe
.list-group
     a.list-group-item.active
          | サーバー
     a.list-group-item(href='#')
          i.badge.badge-info
          | Node.js
     a.list-group-item(href='material/vagrant-1')
          i.badge.badge-info
          | Vagrant
     a.list-group-item(href='#')
          i.badge.badge-info
          | Hostingサービス
     a.list-group-item(href='#')
          i.badge.badge-info
          | Herokuへデプロイ
     a.list-group-item.active
          | NoSQL
     a.list-group-item(href='2')
          i.badge.badge-info
          | MongoDB
     a.list-group-item(href='3')
          i.badge.badge-info
          | Mongoシェル