div.list-group
     a.list-group-item(href='others4.jade')
          i.badge.badge-info
          | Sublime Text
     a.list-group-item(href='#')
          i.badge.badge-info
          | Emmet/ZenCodingの使い方
     a.list-group-item(href='#')
          i.badge.badge-info
          | Node.jsのインストール
     a.list-group-item(href='#')
          i.badge.badge-info
          | Jade
     a.list-group-item(href='#')
          i.badge.badge-info
          | LESSの使い方
     a.list-group-item(href='others1.jade')
          i.badge.badge-info
          | Vimの使い方
     a.list-group-item(href='#')
          i.badge.badge-info
          | Rubyのインストール
     a.list-group-item(href='#')
          i.badge.badge-info
          | Hamlのインストール
     a.list-group-item(href='#')
          i.badge.badge-info
          | Sassのインストール
     a.list-group-item(href='#')
          i.badge.badge-info
          | Compassのインストール
     a.list-group-item(href='#')
          i.badge.badge-info
          | CoffeeScriptのインストール
     a.list-group-item(href='#')
          i.badge.badge-info
          | Gitの使い方
     a.list-group-item(href='#')
          i.badge.badge-info
          | GitHubの使い方
     a.list-group-item(href='#')
          i.badge.badge-info
          | Hostingサービス
     a.list-group-item(href='#')
          i.badge.badge-info
          | Herokuへデプロイ
     a.list-group-item(href='others2.jade')
          i.badge.badge-info
          | MongoDBのインストール
     a.list-group-item(href='others3.jade')
          i.badge.badge-info
          | Mongoシェル
     a.list-group-item(href='material/vagrant-1')
          i.badge.badge-info
          | Vagrantの使い方
     a.list-group-item(href='phonegap-1')
          i.badge.badge-info
          | phonegapの環境構築