include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Grunt
						div.panel-body
							h4 公式サイト
							p
								a(href='http://gruntjs.com/',target='_blank') http://gruntjs.com/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g grunt-cli
							p Linux / Mac
							pre
								| sudo npm install -g grunt-cli
							.alert.alert-info 空のタスクを作成
							h4 package.jsonの作成
							pre npm init
							h4 package.jsonを記述
							pre
								| {
								| 	"name": "jade-compile",
								| 	"version": "0.1.0"
								| }
							h4 プロジェクトにgruntをインストール
							pre npm install grunt --save-dev
							h4 Gruntfile.jsをを記述する
							pre
								| module.exports = function(grunt){
								|   grunt.initConfig({});
								|   grunt.registerTask('default', []);
								| };
							h4 タスクの実行
							pre grunt
							.alert.alert-info JavaScriptのミニファイ
							h4 プラグインのインストール
							pre npm install grunt-contrib-uglify --save-dev
							h4 タスクの定義
							pre(class='prettyprint lang-js linenums:1')
								| module.exports = function(grunt){
								|   grunt.initConfig({
								|     //親タスク
								|     uglify: {
								|       //子タスク
								|       dist: {
								|         files: {
								|           //出力
								|           'dest/output.min.js': [
								|             //ソース
								|             'src/sample01.js',
								|             'src/sample02.js'
								|           ]
								|         }
								|       }
								|     }
								|   });
								|   //プラグインからタスクを読み込む
								|   grunt.loadNpmTasks('grunt-contrib-uglify');
								|   //デフォルトのタスクとしてuglifyを定義
								|   grunt.registerTask('default', ['uglify']);
								| };
							h4 タスクの実行
							pre grunt
							.alert.alert-info jadeのコンパイル
							h4 プラグインのインストール
							pre npm install grunt-contrib-jade --save-dev
							h4 jadeの記述
							pre(class='prettyprint lang-js linenums:1')
								| !!!
								| html
								|   head
								|     meta(charset='UTF-8')
								|     title Hello World!
								|   body
								|     h1 Hello World!
							h4 Gruntfile.jsをにタスクを記述する
							pre(class='prettyprint lang-js linenums:1')
								| module.exports = function(grunt) {
								|   grunt.initConfig({
								|     pkg: grunt.file.readJSON('package.json'),
								|     jade: {
								|       compile: {
								|         options: {
								|          pretty: true
								|         },
								|         files: {
								|           "index.html": ["index.jade"]
								|         }
								|       }
								|     }
								|   });
								| 
								|   grunt.loadNpmTasks('grunt-contrib-jade');
								|   grunt.registerTask('default', ['jade']);
								| 
								| };
							h4 ビルドする
							pre grunt
							.alert.alert-info jadeファイルの更新を検知してコンパイル
							h4 プラグインのインストール
							pre npm install grunt-contrib-watch --save-dev
							h4 Gruntfile.jsをにタスクを記述する
							pre(class='prettyprint lang-js linenums:1')
								| module.exports = function(grunt) {
								|   grunt.initConfig({
								|     pkg: grunt.file.readJSON('package.json'),
								|     jade: {
								|       compile: {
								|         options: {
								|          pretty: true
								|         },
								|         files: {
								|           "index.html": ["index.jade"]
								|         }
								|       }
								|     },
								|     watch : {
								|       // ラベルは"jade"にしてみます
								|       jade : {
								|         // "files"セクションで監視するファイルの条件を指定
								|         files : [
								|           "*.jade"
								|         ],
								|         // "tasks"セクションで実行するタスクを指定
								|         tasks : [
								|           "jade:compile"
								|         ]
								|       }
								|     }
								|   });
								|  
								|   grunt.loadNpmTasks('grunt-contrib-jade');
								|   grunt.loadNpmTasks("grunt-contrib-watch");
								|   grunt.registerTask('default', ['jade']);
								|  
								| };
							h4 ウォッチ
							pre grunt watch:jade
							.alert.alert-info jade、stylus、CoffeeSriptの更新を同時に検知してコンパイル
							h4 プラグインのインストール
							pre npm install grunt-contrib-jade grunt-contrib-stylus grunt-contrib-coffee --save-dev
							h4 Gruntfile.jsをにタスクを記述する
							h4 jadeの記述
							pre
								| !!!
								| html
								|   head
								|     meta(charset='UTF-8')
								|     title Hello World!
								|     link(href='index.css',rel='stylesheet')
								|     script(src='index.js')
								|   body
								|     h1 Hello Japan!
							h4 Stylusの記述
							pre
								| body
								| 	background-color aqua
							h4 CoffeeScriptの記述
							pre
								| alert 'Hello World!'
							pre(class='prettyprint lang-js linenums:1')
								| module.exports = function(grunt) {
								|   grunt.initConfig({
								|     pkg: grunt.file.readJSON('package.json'),
								|     jade: {
								|       compile: {
								|         options: {
								|          pretty: true
								|         },
								|         files: {
								|           "index.html": ["index.jade"]
								|         }
								|       }
								|     },
								|     stylus: {
								|       app: {
								|         src : ['*.styl'],
								|         dest: 'index.css'
								|       }
								|     },
								|     coffee: {
								|       compile: {
								|         expand: true,
								|         flatten: true,
								|         src: ['*.coffee'],
								|         dest: './',
								|         ext: '.js'
								|       }
								|     },
								|     watch : {
								|       jade: {
								|         files: ['*.jade'],
								|         tasks: ['jade']
								|       },
								|       stylus: {
								|         files: ['*.styl'],
								|         tasks: ['stylus']
								|       },
								|       coffee: {
								|         files: ['*.coffee'],
								|         tasks: ['coffee']
								|       }
								|     }
								|   });
								|  
								|   grunt.loadNpmTasks('grunt-contrib-jade');
								|   grunt.loadNpmTasks('grunt-contrib-coffee');
								|   grunt.loadNpmTasks('grunt-contrib-stylus');
								|   grunt.loadNpmTasks("grunt-contrib-watch");
								| };
							.alert.alert-info CSSの圧縮を行う
							h4 プラグインのインストール
							pre npm install grunt-contrib-cssmin --save-dev
							.alert.alert-info 画像の最適化を行う
							h4 プラグインのインストール
							pre npm install grunt-contrib-imagemin --save-dev
							//
								.alert.alert-info JSファイルを連結する
								h4 プラグインのインストール
								pre npm install grunt-contrib-concat --save-dev
								h4 Gruntfile.jsをにタスクを記述する
								pre(class='prettyprint lang-js linenums:1')
									| module.exports = function(grunt){
									|   grunt.initConfig({
									|     concat: {
									|       dist: {
									|         src: [
									|           'src/intro.js',
									|           'src/project.js',
									|           'src/outro.js'
									|         ],
									|         dest: 'dist/built.js'
									|       }
									|     }
									|   });
									|   grunt.loadNpmTasks('grunt-contrib-concat');
									| }
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')