include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Emmet（旧Zen Coding）の使い方
						div.panel-body
							h4 公式サイト
							p
								a(href='http://emmet.io/',target='_blank') http://emmet.io/
							hr
							h4 公式ドキュメント
							p 
								a(href='http://docs.emmet.io/',target='_blank') http://docs.emmet.io/
							hr
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_emmett', target='_blank') Emmet/Zen-coding入門
							hr
							h4 非公式Emmet/ZenCoding
							pre
								| 秀丸マクロ
								| http://exoego.net/archives/zencoding-in-hidemaru
								| 
								| Edge Code拡張
								| https://github.com/emmetio/emmet/downloads
								| 
								| Vidual Studio 2012プラグイン
								| http://visualstudiogallery.msdn.microsoft.com/175f4e5a-bcc4-4931-b3e6-164cb1e60277
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')