include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;CoffeeScript
						.panel-body
							h4 公式サイト
							p
								a(href='http://coffeescript.org/',target='_blank') http://coffeescript.org/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g coffee-script
							p Linux / Mac
							pre
								| sudo npm install -g coffee-script
							hr
							h4 CoffeeScript/JavaScript相互変換
							p
								a(href='http://js2coffee.org/',target='_blank') http://js2coffee.org/
							hr
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_coffeescript', target='_blank') CoffeeScript入門
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')