extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;Markdown記法
                    .panel-body
                        h4 公式サイト
                        p
                            a(href='http://daringfireball.net/projects/markdown/',target='_blank') http://daringfireball.net/projects/markdown/
                        hr
                        h4 公式ドキュメント
                        p 
                            a(href='http://daringfireball.net/projects/markdown/syntax',target='_blank') http://daringfireball.net/projects/markdown/syntax
                        hr
                        h4 ドットインストール
                        p
                            a(href='http://dotinstall.com/lessons/basic_markdown', target='_blank') Markdown記法入門
                        hr
                        h4 インストール
                        pre.
                            (sudo )npm install -g markdown
                        hr
                        h4 コンパイル
                        p: u ファイルから
                        pre
                            :code
                                md2html /path/to/doc.md > /path/to/doc.html
                        p: u stdio
                        pre
                            :code
                                echo 'Hello *World*!' | md2html
                        hr
                        h4 見出し
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        # Title1
                                        ## Title2
                                        ### Title3
                                        #### Title4
                                        ##### Title5
                                        ###### Title6
                            .col-sm-6
                                pre
                                    :code
                                        <h1>Title1</h1>
                                        <h2>Title2</h2>
                                        <h3>Title3</h3>
                                        <h4>Title4</h4>
                                        <h5>Title5</h5>
                                        <h6>Title6</h6>
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        Title1
                                        ======

                                        Title2
                                        ------

                                        Title2
                                        -
                            .col-sm-6
                                pre
                                    :code
                                        <h1>Title1</h1>
                                        <h2>Title1</h2>
                        hr
                        h4 段落、改行、水平線
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        こんにちは。

                                        こんにちは。

                                        こんにちは。

                            .col-sm-6
                                pre
                                    :code
                                        <p>こんにちは。</p>

                                        <p>こんにちは。</p>

                                        <p>こんにちは。</p>
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        こんにちは。
                                        こんにちは。
                                        こんにちは。
                            .col-sm-6
                                pre
                                    :code
                                        <p>こんにちは。
                                        こんにちは。
                                        こんにちは。</p>
                        .row
                            .col-sm-6
                                | 半角スペース2個開ける
                                pre
                                    :code
                                        こんにちは。  
                                        こんにちは。  
                                        こんにちは。
                            .col-sm-6
                                pre
                                    :code
                                        <p>こんにちは。<br/>こんにちは。<br/>こんにちは。</p>
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        ---
                                        
                                        ***

                                        - - -
                            .col-sm-6
                                pre
                                    :code
                                        <hr/>

                                        <hr/>

                                        <hr/>
                        hr
                        h4 強調、引用、コード
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        * 強調 *
                                        ** 強調 **
                            .col-sm-6
                                pre
                                    :code
                                        <p><em>強調</em>
                                        <strong>強調</strong></p>
                        hr
                        h4 リスト
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        _ 強調 _
                                        __ 強調 __
                            .col-sm-6
                                pre
                                    :code
                                        <p><em>強調</em>
                                        <strong>強調</strong></p>
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        > 引用

                                        >> 引用

                            .col-sm-6
                                pre
                                    :code
                                        <blockquote><p>引用</p></blockquote>

                                        <blockquote><blockquote><p>引用</p></blockquote></blockquote>
                        .row
                            .col-sm-6
                                pre
                                    :code
                                        `コード`
                                        `
                                        コード
                                        コード
                                        `
                            .col-sm-6
                                pre
                                    :code
                                        <p><code>コード</code></p>

                                        <p><code>
                                        コード
                                        コード
                                        </code></p>
                        .row
                            .col-sm-6
                                pre
                                    :code
                                            コード
                                            コード
                            .col-sm-6
                                pre
                                    :code
                                        <pre><code>コード
                                        コード</code></pre>
                        hr
                        h4 リンク
                        .row
                            .col-sm-6
                                pre
                                    :code
                            .col-sm-6
                                pre
                                    :code
                        hr
                        h4 画像
                        .row
                            .col-sm-6
                                pre
                                    :code
                            .col-sm-6
                                pre
                                    :code
                        hr
                        h4 インラインHTML、エスケープ
                        .row
                            .col-sm-6
                                pre
                                    :code
                            .col-sm-6
                                pre
                                    :code
