extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						&nbsp;Markdown記法
					.panel-body
						h4 公式サイト
						p
							a(href='http://daringfireball.net/projects/markdown/',target='_blank') http://daringfireball.net/projects/markdown/
						hr
						h4 公式ドキュメント
						p 
							a(href='http://daringfireball.net/projects/markdown/syntax',target='_blank') http://daringfireball.net/projects/markdown/syntax
						hr
						h4 ドットインストール
						p
							a(href='http://dotinstall.com/lessons/basic_markdown', target='_blank') Markdown記法入門