include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;npm（Node Packaged Modules）
						.panel-body
							h4 公式サイト
							p
								a(href='https://npmjs.org/',target='_blank') https://npmjs.org/
							hr
							pre
								npm help
								| man
								| 
								| npm init
								| 
								| npm install
								| npm install -g
								| i
								| 
								| npm update
								| 
								| npm uninstall
								| npm uninstall -g
								| r, remove, rm, un, unlink
								| 
								| npm ls
								| la, list, ll
								| 
								| npm search
								| s, se
								| 
								| npm version
								| 
								| npm -v

		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')