extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						&nbsp;CoffeeScript
					.panel-body
						.alert.alert-info 公式サイト
						p
							a(href='http://coffeescript.org/',target='_blank') http://coffeescript.org/
						hr
						.alert.alert-info インストール
						p Windows
						pre
							| npm install -g coffee-script
						p Linux / Mac
						pre
							| sudo npm install -g coffee-script
						hr
						.alert.alert-info CoffeeScript/JavaScript相互変換
						p
							a(href='http://js2coffee.org/',target='_blank') http://js2coffee.org/
						hr
						.alert.alert-info ドットインストール
						p
							a(href='http://dotinstall.com/lessons/basic_coffeescript', target='_blank') CoffeeScript入門