include ../head2.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Stylus
						div.panel-body
							h4 公式サイト
							p
								a(href='http://learnboost.github.io/stylus/',target='_blank') http://learnboost.github.io/stylus/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g stylus
							p Linux / Mac
							pre
								| sudo npm install -g stylus
							hr
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_sass', target='_blank') Sass/SCSS入門
							p
								a(href='http://dotinstall.com/lessons/basic_compass', target='_blank') Compass入門
							p
								a(href='http://dotinstall.com/lessons/basic_less', target='_blank') LESS入門
							hr
		div.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')