extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar.jade
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;Nginx
                    .panel-body
                        pre.
                            ダウンロード
                            http://nginx.org/en/download.html

                            参考
                            http://d.hatena.ne.jp/m-hiyama/20100126/1264472381


                            1) nginx-バージョン名.zipを解凍。
                            2) コマンドプロンプトでnginx.exeがあるディレクトリにcdで移動。
                            3) ブラウザで「http://localhost/」でアクセスする。
                            4) htmlフォルダ内のindex.htmlが表示されれがOK。

                            nginx開始
                            start nginx

                            nginx終了
                            nginx -s stop

                            ヘルプ
                            nginx -h