!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:stylus
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Jade Language Reference
						div.panel-body
							div.alert.alert-info doctype
							div.alert.alert-info Tags
							div.alert.alert-info Block Expansion
							div.alert.alert-info Attributes
							div.alert.alert-info Boolean Attributes
							div.alert.alert-info Class Attributes
							div.alert.alert-info Class Literal
							div.alert.alert-info ID Literal
							div.alert.alert-info Plain Text
							div.alert.alert-info Piped Text
							div.alert.alert-info Inline in a Tag
							div.alert.alert-info Block in a Tag
							div.alert.alert-info Code
							div.alert.alert-info Unbuffered Code
							div.alert.alert-info Buffered Code
							div.alert.alert-info Unescaped Buffered Code
							div.alert.alert-info Comments
							div.alert.alert-info Block Comments
							div.alert.alert-info Conditionals
							div.alert.alert-info Iteration
							div.alert.alert-info Case
							div.alert.alert-info Block Expansion
							div.alert.alert-info Filters
							div.alert.alert-info Mixins
							div.alert.alert-info Mixin Attributes
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')