include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Nib
						.panel-body
							h4 公式サイト
							p
								a(href='http://visionmedia.github.io/nib/',target='_blank') http://visionmedia.github.io/nib/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g nib
							p Linux / Mac
							pre
								| sudo npm install -g nib
							hr
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_compass', target='_blank') Compass入門
		.footer=title
		script(src='http://code.jquery.com/jquery-1.10.2.min.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')