include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Jade
						div.panel-body
							h4 公式サイト
							p
								a(href='http://jade-lang.com/',target='_blank') http://jade-lang.com/
							hr
							h4 公式ドキュメント
							p
								a(href='http://jade-lang.com/reference/',target='_blank') http://jade-lang.com/reference/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g jade
							p Linux / Mac
							pre
								| sudo npm install -g jade
							hr
							h4 コンパイル
							pre
								| jade <ファイル名>.jade パス pretty
							h4 Jade/HTML相互変換
							p
								a(href='http://html2jade.herokuapp.com/',target='_blank') http://html2jade.herokuapp.com/
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')