!!!
html(lang='ja')
	head
		meta(name='viewport',content='width=device-width,initial-scale=1.0')
		link(href='css/bootstrap.min.css',rel='stylesheet',media='screen')
		link(href='js/dtree/dtree.css', rel='stylesheet', media='screen')
		link(href='less/common.less',rel='stylesheet',media='screen')
		link(href='js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')
		title=title
		:coffeescript
		:stylus
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Vimの使い方
						div.panel-body
							pre
								| ドットインストール
								| vim入門
								| http://dotinstall.com/lessons/basic_vim
								| 
								| 
								| 
								| vimを使ってみよう
								| 
								| vim
								| 
								| vimtutor
								| 
								| :q
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')