include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Stylus
						.panel-body
							h4 公式サイト
							p
								a(href='http://learnboost.github.io/stylus/',target='_blank') http://learnboost.github.io/stylus/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g stylus
							p Linux / Mac
							pre
								| sudo npm install -g stylus
							hr
							h4 ヘルプを見る
							pre
								| stylus -h
							pre
								| stylus --help
							hr
							h4 stylusのバージョンを確認する
							pre
								| stylus -V
							pre
								| stylus --version
							hr
							h4 同じディレクトリに同じファイル名でコンパイル
							pre
								| stylus ファイル名.styl
							hr
							h4 出力先のディレクトリを指定してコンパイル
							pre
								| stylus ファイル名.styl --out ディレクトリパス
							pre
								| stylus ファイル名.styl -o ディレクトリパス
							hr
							h4 ファイルの変更を監視して自動的にコンパイル
							pre
								| stylus -w ファイル名.styl
							pre
								| stylus --watch ファイル名.styl
							hr
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_sass', target='_blank') Sass/SCSS入門
							p
								a(href='http://dotinstall.com/lessons/basic_less', target='_blank') LESS入門
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')