include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Vimの使い方
						.panel-body
							pre
								| ドットインストール
								| vim入門
								| http://dotinstall.com/lessons/basic_vim
								| 
								| 
								| 
								| vimを使ってみよう
								| 
								| vim
								| 
								| vimtutor
								| 
								| :q
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
								| 
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')