extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						&nbsp;Jasmine
					.panel-body
						h4 公式サイト
						p
							a(href='http://pivotal.github.io/jasmine/',target='_blank') http://learnboost.github.io/stylus/
						hr
						h4 インストール
						p Windows
						pre
							| npm install -g stylus
						p Linux / Mac
						pre
							| sudo npm install -g stylus
						hr
						h4 ドットインストール
						p
							a(href='http://dotinstall.com/lessons/basic_sass', target='_blank') Sass/SCSS入門
						p
							a(href='http://dotinstall.com/lessons/basic_less', target='_blank') LESS入門