extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						&nbsp;CoffeeScript
					.panel-body
						.alert.alert-info 公式サイト
						p
							a(href='http://coffeescript.org/',target='_blank') http://coffeescript.org/
						hr
						.alert.alert-info インストール
						p Windows
						pre
							| npm install -g coffee-script
						p Linux / Mac
						pre
							| sudo npm install -g coffee-script
						hr
						.alert.alert-info コンパイル
						pre
							:code
								coffee -c ファイル.coffee
						hr
						.alert.alert-info js2coffee [CoffeeScript/JavaScript相互変換]
						h4 Webサイト版
						p
							a(href='http://js2coffee.org/',target='_blank') http://js2coffee.org/
						h4 npmパッケージ版
						p: u インストール
						pre
							:code
								(sudo )npm install -g js2coffee
						p: u 使い方
						p バージョンを確認する
						pre
							:code
								js2coffee -v
								js2coffee --version
						p コメントを削除して変換する
						pre
							:code
								js2coffee -X ファイル.js > ファイル.coffee
								js2coffee --no_comments ファイル.js > ファイル.coffee
						p 変換後の状態を確認する
						pre
							:code
								js2coffee -l ファイル.js > ファイル.coffee
								js2coffee --show_src_lineno ファイル.js > ファイル.coffee
						p ヘルプを見る
						pre
							:code
								js2coffee -h
								js2coffee --help
						p クォーテーションをシングルクオートで変換する
						pre
							:code
								js2coffee -sq
								js2coffee --single_quotes
						p 半角スペース4つのインデントで変換する
						pre
							:code
								js2coffee -i4 ファイル.js > ファイル.coffee
								js2coffee --indent '    ' ファイル.js > ファイル.coffee
						p タブのインデントで変換する
						pre
							:code
								js2coffee -it ファイル.js > ファイル.coffee
								js2coffee --indent '\t' ファイル.js > ファイル.coffee
						hr
						.alert.alert-info ドットインストール
						p
							a(href='http://dotinstall.com/lessons/basic_coffeescript', target='_blank') CoffeeScript入門