include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Jade
						.panel-body
							h4 公式サイト
							p
								a(href='http://jade-lang.com/',target='_blank') http://jade-lang.com/
							hr
							h4 公式ドキュメント
							p
								a(href='http://jade-lang.com/reference/',target='_blank') http://jade-lang.com/reference/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g jade
							p Linux / Mac
							pre
								| sudo npm install -g jade
							hr
							h4 ヘルプを見る
							pre
								| jade -h
							pre
								| jade --help
							hr
							h4 jadeのバージョンを確認する
							pre
								| jade -V
							pre
								| jade --version
							hr
							h4 同じディレクトリに同じファイル名でコンパイル
							pre
								| jade &lt;ファイル名&gt;.jade
							hr
							h4 ファイルを整形してコンパイル
							pre
								| jade &lt;ファイル名&gt;.jade --pretty
							pre
								| jade &lt;ファイル名&gt;.jade -P
							hr
							h4 出力先のディレクトリを指定してコンパイル
							pre
								| jade &lt;ファイル名&gt;.jade --out &lt;ディレクトリ名&gt;
							pre
								| jade &lt;ファイル名&gt;.jade -o &lt;ディレクトリ名&gt;
							hr
							h4 ファイルの変更を監視して自動的にコンパイル
							pre
								| jade -w &lt;ファイル名&gt;.jade
							pre
								| jade --watch &lt;ファイル名&gt;.jade
							hr
							h4 エラーメッセージを表示せずにコンパイル
							pre
								| jade &lt;ファイル名&gt;.jade -D
							pre
								| jade &lt;ファイル名&gt;.jade --debug
							hr
							h4 Jade/HTML相互変換
							p
								a(href='http://html2jade.herokuapp.com/',target='_blank') http://html2jade.herokuapp.com/
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')