extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						&nbsp;Nib
					.panel-body
						.alert.alert-info 公式サイト
						p
							a(href='http://visionmedia.github.io/nib/',target='_blank') http://visionmedia.github.io/nib/
						hr
						.alert.alert-info インストール
						p Windows
						pre
							| npm install -g nib
						p Linux / Mac
						pre
							| sudo npm install -g nib
						hr
						.alert.alert-info ドットインストール
						p
							a(href='http://dotinstall.com/lessons/basic_compass', target='_blank') Compass入門