include ../head.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Stylus リファレンス
						.panel-body
							.alert.alert-info Selectors（セレクタ）
							p stylusはPythonようにインデントベースの記述を行います。
							.row
								.col-sm-6
									pre
										| .hoge
										| 	color blue
										| 	font-weight bold
								.col-sm-6
									pre
										| .hoge {
										|   color: #00f;
										|   font-weight: bold;
										| }
							p このように基本的に括弧やセミコロン、コロンなどは省略して記述します。また値などのフォーマットもそろえて出力されます。
							p セレクタをネストすることで複数のセレクタを出力することができます。
							.row
								.col-sm-6
									pre
										| body
										| 	color red
										| 	p
										| 		color black
								.col-sm-6
									pre
										| body {
										|   color: #f00;
										| }
										| body p {
										|   color: #000;
										| }
							p='&をつけて記述することで親要素を参照するセレクタを出力できます。'
							.row
								.col-sm-6
									pre
										| body
										| 	color red
										| 	&amp;.hoge
										| 		color black
								.col-sm-6
									pre
										| body {
										|   color: #f00;
										| }
										| body.hoge {
										|   color: #000;
										| }
							.alert.alert-info Variables(変数)
							p 変数「font-size」を作成し、以降のCSSで利用が可能です。
							.row
								.col-sm-6
									pre
										| font-size = 14px
										| body
										| 	font font-size Arial, sans-serif
								.col-sm-6
									pre
										| body {
										|   font: 14px Arial, sans-serif;
										| }
							p コロンを利用すると値の設定と同時に変数の宣言が可能です。
							.row
								.col-sm-6
									pre
										| #logo
										| 	width: w = 150px
										| 	margin-left: -(w / 2)
								.col-sm-6
									pre
										| #logo {
										|   width: 150px;
										|   margin-left: -75px;
										| }
							p これは@を利用して次のように記述することも可能です。
							.row
								.col-sm-6
									pre
										| #logo
										| 	width: 150px
										| 	margin-left: -(@width / 2)
								.col-sm-6
									pre
										| #logo {
										|   width: 150px;
										|   margin-left: -75px;
										| }
							p='次のようにmixinをベースにした拡張も可能です。'
							p='この場合、positionが指定されていてz-indexの指定がない場合は「z-index: 1」が出力されます。'
							.row
								.col-sm-6
									pre
										| position()
										| 	position: arguments
										| 	z-index: 1 unless @z-index
										| 	
										| #logo
										| 	z-index: 20
										| 	position: absolute
										| 	
										| #logo2
										| 	position: absolute
								.col-sm-6
									pre
										| #logo {
										|   z-index: 20;
										|   position: absolute;
										| }
										| #logo2 {
										|   position: absolute;
										|   z-index: 1;
										| }
							.alert.alert-info Interpolation
							.alert.alert-info ループ
							.alert.alert-info Mixins
							.alert.alert-info 演算
							.alert.alert-info 文字列の置き換え
							.alert.alert-info 色に関する操作
		#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')