extends ../layout

block link
    link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../css/style.css',rel='stylesheet',media='screen')
    link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
        .row
            .col-sm-3
                include left.jade
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        &nbsp;Stylus
                    .panel-body
                        h4 公式サイト
                        p
                            a(href='http://learnboost.github.io/stylus/',target='_blank') http://learnboost.github.io/stylus/
                        hr
                        .alert.alert-info インストール
                        p Windows
                        pre
                            | npm install -g stylus
                        p Linux / Mac
                        pre
                            | sudo npm install -g stylus
                        hr
                        .alert.alert-info ヘルプを見る
                        pre
                            | stylus -h
                        pre
                            | stylus --help
                        hr
                        .alert.alert-info stylusのバージョンを確認する
                        pre
                            | stylus -V
                        pre
                            | stylus --version
                        hr
                        .alert.alert-info 同じディレクトリに同じファイル名でコンパイル
                        pre
                            | stylus ファイル名.styl
                        hr
                        .alert.alert-info 出力先のディレクトリを指定してコンパイル
                        pre
                            | stylus ファイル名.styl --out ディレクトリパス
                        pre
                            | stylus ファイル名.styl -o ディレクトリパス
                        hr
                        .alert.alert-info ファイルの変更を監視して自動的にコンパイル
                        pre
                            | stylus -w ファイル名.styl
                        pre
                            | stylus --watch ファイル名.styl
                        hr
                        .alert.alert-info CSS-Stylus変換
                        p
                            a(href='http://css2stylus.com/',target='_blank') http://css2stylus.com/
                        hr
                        .alert.alert-info ドットインストール
                        p
                            a(href='http://dotinstall.com/lessons/basic_sass', target='_blank') Sass/SCSS入門
                        p
                            a(href='http://dotinstall.com/lessons/basic_less', target='_blank') LESS入門