include ../head2.jade
	body
		include navbar.jade
		.container
			.row
				.col-sm-3
					include left.jade
				.col-sm-9
					.panel.panel-primary
						.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;npm（Node Packaged Modules）
						.panel-body
							h4 公式サイト
							p
								a(href='https://npmjs.org/',target='_blank') https://npmjs.org/
							hr
							h4 ヘルプを見る
							pre
								| npm help コマンド
							hr
							h4 h4 npmのバージョンを確認する
							pre
								| npm -v
								| npm -version
								| npm --version
							hr
							h4 package.jsonを生成する
							pre
								| npm init
							hr
							h4 パッケージをグローバルにインストールする
							pre
								| (sudo) npm install -g パッケージ
								| (sudo) npm i -g パッケージ
							hr
							h4 パッケージをプロジェクトにインストールする
							pre
								| npm install パッケージ
								| npm i パッケージ
							hr
							h4 パッケージをグローバルからアンインストールする
							pre
								| (sudo) npm uninstall -g パッケージ
								| (sudo) npm r -g パッケージ
								| (sudo) npm remove -g パッケージ
								| (sudo) npm rm -g パッケージ
								| (sudo) npm un -g パッケージ
								| (sudo) npm unlink -g パッケージ
							h4 パッケージをプロジェクトからアンインストールする
							pre
								| npm uninstall パッケージ
								| npm r パッケージ
								| npm remove パッケージ
								| npm rm パッケージ
								| npm un パッケージ
								| npm unlink パッケージ
							h4 グローバルにインストールされたパッケージを確認する
							pre
								| (sudo) npm ls -g パッケージ
								| (sudo) npm la -g パッケージ
								| (sudo) npm list -g パッケージ
								| (sudo) npm ll -g パッケージ
							h4 プロジェクトにインストールされたパッケージを確認する
							pre
								| npm ls -g パッケージ
								| npm la -g パッケージ
								| npm list -g パッケージ
								| npm ll -g パッケージ
							h4 パッケージの情報を見る
							pre
								| npm info パッケージ名
								| npm view パッケージ名
								| npm show パッケージ名
							hr
							h4 npmのリポジトリを検索する
							pre
								| npm search キーワード
								| npm s キーワード
								| npm se キーワード
		.footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='../js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='../js/bootstrap.min.js')
		script(src='../coffee/list-counter.js')