include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Grunt
						div.panel-body
							h4 公式サイト
							p
								a(href='http://gruntjs.com/',target='_blank') http://gruntjs.com/
							hr
							h4 インストール
							p Windows
							pre
								| npm install -g grunt-cli
							p Linux / Mac
							pre
								| sudo npm install -g grunt-cli
							div.alert.alert-info jadeのコンパイル
							h4 package.jsonを記述
							pre
								| {
								| 	"name": "jade-de-mock",
								| 	"version": "0.1.0"
								| }
							h4 プロジェクトにインストール
							pre npm install grunt --save-dev
							h4 Gruntfile.js
							pre(class='prettyprint lang-js linenums:1')
								| module.exports = function(grunt) {
								|   grunt.initConfig({
								|     pkg: grunt.file.readJSON('package.json'),
								|     jade: {
								|       compile: {
								|         options: {
								|          pretty: true
								|         },
								|         files: {
								|           "index.html": ["index.jade"]
								|         }
								|       }
								|     }
								|   });
								| 
								|   grunt.loadNpmTasks('grunt-contrib-jade');
								|   grunt.registerTask('default', ['jade']);
								| 
								| };
							h4 タスクのインストール
							//h4 JavaScriptの圧縮を行う（ugrify）
							//pre npm install grunt-contrib-uglify --save-dev
							//h4 jadeのコンパイル
							pre npm install grunt-contrib-jade --save-dev
							//h4 lessのコンパイル
							//pre npm install grunt-contrib-less --save-dev
							//h4 coffeescriptのコンパイル
							//pre npm install grunt-contrib-coffee --save-dev
							h4 ビルドする
							pre grunt
							div.alert.alert-info jadeとstylusの同時コンパイル
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/google-code-prettify/prettify.js')
		script.
			prettyPrint();
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')