include ../head.jade
	body
		include navbar.jade
		div.container
			div.row
				div.col-sm-3
					include left.jade
				div.col-sm-9
					div.panel.panel-primary
						div.panel-heading
							i.glyphicon.glyphicon-book
							&nbsp;Chrome Developer Toolsの使い方
						div.panel-body
							h4 公式サイト
							p
								a(href='https://developers.google.com/chrome-developer-tools/?hl=ja',target='_blank') https://developers.google.com/chrome-developer-tools/?hl=ja
							hr
							h4 ドットインストール
							p
								a(href='http://dotinstall.com/lessons/basic_chrome_dev', target='_blank') Chrome Developer Tools入門
		div#footer=title
		script(src='http://code.jquery.com/jquery.js')
		script(src='js/bootstrap.min.js')
		script(src='coffee/list-counter.js')