doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet',href='style.css')
	body
		#outer
			#inner
				-for(var i = 5; i > 0; i--)
					img(src='img/image#{i}.png',alt='')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
