doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        script
            :js
                (function(){
                    //指定したURLのオーディオを演奏する
                    $(document).on('pageshow','#index',function(){
                        var audioObj = $('#myAudio').get(0);
                        $('#loadData').on('vclick',function(){
                            var srcURL = $('#url').val();
                            audioObj = new Audio(srcURL);
                            audioObj.play();
                        });
                    });
                })()
    body
        #index(data-role='page')
            div(data-role='header')
                h1 指定したURLのオーディオを演奏する
            div(data-role='content')
                audio#myAudio(width='192', height='48', controls='controls')
                    source(src='../audio1/sample.mp3')
                    source(src='../audio1/sample.ogg')
                    p お使いのブラウザではオーディオを再生できません。
                form
                    | URL :
                    input#url(type='text', value='../audio1/bgm.mp3')
                    br
                    input#loadData(type='button', value='データ読み込み')
            div(data-role='footer', data-position='fixed')
                h1 フッター