<%- include ../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">encant.js資料</div>
          <div class="panel-body">
<pre>

公式サイト
http://enchantjs.com/ja/

公式ドキュメント
http://enchantjs.com/ja/tutorial/lets-start-enchant-js/


enchant.js公式プラグインドキュメント
enchant.js/doc/plugins/ja/index.html 

ドットインストール
enchant.js入門
http://dotinstall.com/lessons/basic_enchant_js_v2


素材

パッド
http://enchantjs.com/images/materials/apad.png
http://enchantjs.com/images/materials/pad.png

アバター
http://enchantjs.com/images/materials/avatarBg1.png
http://enchantjs.com/images/materials/avatarBg2.png
http://enchantjs.com/images/materials/avatarBg3.png

http://enchantjs.com/images/materials/bar.png

キャラ
http://enchantjs.com/images/materials/chara0.png
http://enchantjs.com/images/materials/chara1.png
http://enchantjs.com/images/materials/chara2.png
http://enchantjs.com/images/materials/chara3.png
http://enchantjs.com/images/materials/chara4.png
http://enchantjs.com/images/materials/chara5.png
http://enchantjs.com/images/materials/chara6.png
http://enchantjs.com/images/materials/chara7.png

http://enchantjs.com/images/materials/droid.dae

効果
http://enchantjs.com/images/materials/effect0.png

http://enchantjs.com/images/materials/enchant-sphere.png
http://enchantjs.com/images/materials/enchant.png

フォント
http://enchantjs.com/images/materials/font0.png
http://enchantjs.com/images/materials/font1.png
http://enchantjs.com/images/materials/font2.png

開始・終了
http://enchantjs.com/images/materials/start.png
http://enchantjs.com/images/materials/end.png
http://enchantjs.com/images/materials/gameover.png

http://enchantjs.com/images/materials/icon0.png
http://enchantjs.com/images/materials/icon1.png

http://enchantjs.com/images/materials/indicator.png

マップ
http://enchantjs.com/images/materials/map0.png
http://enchantjs.com/images/materials/map1.png
http://enchantjs.com/images/materials/map2.png

http://enchantjs.com/images/materials/space0.png
http://enchantjs.com/images/materials/space1.png
http://enchantjs.com/images/materials/space2.png
http://enchantjs.com/images/materials/space3.png

モンスター
http://apps.lolipop.jp/images/monster/bigmonster0.gif
http://apps.lolipop.jp/images/monster/bigmonster1.gif
http://apps.lolipop.jp/images/monster/bigmonster2.gif
http://apps.lolipop.jp/images/monster/monster0.gif
http://apps.lolipop.jp/images/monster/monster1.gif
http://apps.lolipop.jp/images/monster/monster2.gif
http://apps.lolipop.jp/images/monster/monster3.gif
http://apps.lolipop.jp/images/monster/monster4.gif
http://apps.lolipop.jp/images/monster/monster5.gif
http://apps.lolipop.jp/images/monster/monster6.gif
http://apps.lolipop.jp/images/monster/monster7.gif

効果音
http://enchantjs.com/assets/sounds/se1.wav
http://enchantjs.com/assets/sounds/se2.wav
http://enchantjs.com/assets/sounds/se3.wav
http://enchantjs.com/assets/sounds/se4.wav
http://enchantjs.com/assets/sounds/se5.wav
http://enchantjs.com/assets/sounds/se6.wav
http://enchantjs.com/assets/sounds/se7.wav
http://enchantjs.com/assets/sounds/se8.wav
http://enchantjs.com/assets/sounds/se9.wav



サンプル
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/01/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/02/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/03/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/04/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/05/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/06/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/07/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/08/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/09/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/10/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/11/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/12/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/13/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/14/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/15/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/16/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/17/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/18/
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>