<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include recipe2 %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">「encahnt.js」の使い方</div>
          <div class="panel-body">
          <p>
            <a href="demo/enchant/recipe2-1/index.html" target="_blank" class="btn btn-default">
            <i class="glyphicon glyphicon-play"></i> デモ
            </a>
          </p>
<h4>素材</h4>
<p>
<img src="demo/enchant/recipe2-1/betty.png" alt="">
</p>
<h4>ソース</h4>
<pre class="prettyprint">
&lt;!DOCTYPE html&gt;
&lt;html&gt;
  &lt;head&gt;
    &lt;!-- 文字コードをUTF-8を使う --&gt;
    &lt;meta charset="utf-8"&gt;

    &lt;!-- 幅をデバイスの画面サイズにし、ユーザーによるサイズ変更をできないようにする --&gt;
    &lt;meta name="viewport" content="width=device-width, user-scalable=no"&gt; 

    &lt;!-- ページを全画面で表示する(iPad/iPhpne用) --&gt;
    &lt;meta name="apple-mobile-web-app-capable" content="yes"&gt; 

    &lt;!-- ステータスバーを半透明で表示する(iPad/iPhpne用) --&gt;
    &lt;meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"&gt;
    &lt;title&gt;enchant&lt;/title&gt;

    &lt;!-- 「enchant.js」を読み込む --&gt;
    &lt;script type="text/javascript" src="enchant.js"&gt;&lt;/script&gt;

    &lt;!-- ゲームプログラムを読み込む --&gt;
    &lt;script type="text/javascript"&gt;
      // enchant.js本体やクラスをエクスポートする
      enchant();

      // ページが読み込まれたときに実行される関数
      window.onload = function() {

        // コアオブジェクトを作成する
        core = new Core(320, 320);
        
        // ゲームの初期化処理
        
        // fps（1秒あたりの画面の描画回数）を設定する(省略時は「30」)
        core.fps = 16;

        // ゲームで使用する画像ファイルを指定する
        core.preload('betty.png');

        // ファイルのプリロードが完了したときに実行される関数
        core.onload = function() {

          // ゲームのメイン処理 
        
        }
        // ゲームスタート
        core.start();
      }
    &lt;/script&gt;

    &lt;!-- 「body」要素のマージンを「0」に設定する --&gt;
    &lt;style type="text/css"&gt;
      body {margin: 0;}
    &lt;/style&gt;
  &lt;/head&gt;

  &lt;!-- 「body」要素は必須 --&gt;
  &lt;body&gt;
  &lt;/body&gt;
&lt;/html&gt;
</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="js/google-code-prettify/prettify.js"></script>
    <script>prettyPrint();</script>
    <script src="js/bootstrap.min.js"></script>
    <script src="coffee/list-counter.js"></script>
  </body>
</html>