<%- include ../head %>
  <body>
 
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <button class="navbar-toggle" data-toggle="collapse" data-target=".target">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><%= title %></a>
      </div>
 
      <div class="collapse navbar-collapse target">
        <ul class="nav navbar-nav">
          <li><a href="">文法</a></li>
          <li><a href="">リファレンス</a></li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include left %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">encant.js資料</div>
          <div class="panel-body">
<pre>

公式サイト
http://enchantjs.com/ja/





公式ドキュメント
http://enchantjs.com/ja/tutorial/lets-start-enchant-js/



enchant.js公式プラグインドキュメント
enchant.js/doc/plugins/ja/index.html 




ドットインストール
enchant.js入門

http://dotinstall.com/lessons/basic_enchant_js_v2


素材

http://enchantjs.com/assets/images/chara0.gif
http://enchantjs.com/assets/images/chara1.gif
http://enchantjs.com/assets/images/chara2.gif
http://enchantjs.com/assets/images/chara3.gif
http://enchantjs.com/assets/images/chara4.gif
http://enchantjs.com/assets/images/chara5.gif
http://enchantjs.com/assets/images/chara6.gif
http://enchantjs.com/assets/images/chara7.gif

http://enchantjs.com/assets/images/space0.gif
http://enchantjs.com/assets/images/space1.gif
http://enchantjs.com/assets/images/space2.gif
http://enchantjs.com/assets/images/space3.gif

http://enchantjs.com/assets/images/map0.gif
http://enchantjs.com/assets/images/map1.gif
http://enchantjs.com/assets/images/map2.gif

http://enchantjs.com/assets/images/effect0.gif

http://enchantjs.com/assets/images/icon0.gif

</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>