<%- include ../../head %>
  <body>
 
    <%- include navbar %>

    <div class="container">
      <div class="row">
        <div class="col-sm-3">

        <%- include recipe1 %>
        
        </div>
        <div class="col-sm-9">
          <div class="panel panel-primary">
          <div class="panel-heading">encant.js資料</div>
          <div class="panel-body">
<pre>
公式サイト
http://enchantjs.com/ja/

公式ドキュメント
http://enchantjs.com/ja/tutorial/lets-start-enchant-js/

旧バージョン
https://github.com/wise9/enchant.js/tags

enchant.js公式プラグインドキュメント
enchant.js/doc/plugins/ja/index.html

enchant.jsビジュアルプログラミング
前田ブロック
http://maedablock.jp/

enchant.js投稿型ゲームサイト
9leap
http://9leap.net/

ドットインストール
enchant.js入門
http://dotinstall.com/lessons/basic_enchant_js_v2
</pre>
<h4>素材</h4>
<pre>
パッド
==========================
アナログパッド
http://enchantjs.com/images/materials/apad.png
十字キー
http://enchantjs.com/images/materials/pad.png

アバター
==========================
http://enchantjs.com/images/materials/avatarBg1.png
http://enchantjs.com/images/materials/avatarBg2.png
http://enchantjs.com/images/materials/avatarBg3.png

バー
==========================
http://enchantjs.com/images/materials/bar.png

キャラ
==========================

子供
http://enchantjs.com/images/materials/chara0.png
クマ
http://enchantjs.com/images/materials/chara1.png
ブタ
http://enchantjs.com/images/materials/chara2.png
戦車
http://enchantjs.com/images/materials/chara3.png
車
http://enchantjs.com/images/materials/chara4.png
ナイト
http://enchantjs.com/images/materials/chara5.png
モンスター
http://enchantjs.com/images/materials/chara6.png
ダークナイト
http://enchantjs.com/images/materials/chara7.png

http://enchantjs.com/images/materials/droid.dae

効果
http://enchantjs.com/images/materials/effect0.png

表面
http://enchantjs.com/images/materials/enchant-sphere.png
http://enchantjs.com/images/materials/enchant.png

フォント
http://enchantjs.com/images/materials/font0.png
http://enchantjs.com/images/materials/font1.png
http://enchantjs.com/images/materials/font2.png

開始・終了
http://enchantjs.com/images/materials/start.png
http://enchantjs.com/images/materials/end.png
http://enchantjs.com/images/materials/gameover.png

アイコン
==========================

http://enchantjs.com/images/materials/icon0.png
http://enchantjs.com/images/materials/icon1.png

インジケーター
==========================
http://enchantjs.com/images/materials/indicator.png

マップ
==========================
http://enchantjs.com/images/materials/map0.png
http://enchantjs.com/images/materials/map1.png
http://enchantjs.com/images/materials/map2.png

宇宙
==========================
http://enchantjs.com/images/materials/space0.png
http://enchantjs.com/images/materials/space1.png
http://enchantjs.com/images/materials/space2.png
http://enchantjs.com/images/materials/space3.png

モンスター
==========================
http://apps.lolipop.jp/images/monster/bigmonster0.gif
http://apps.lolipop.jp/images/monster/bigmonster1.gif
http://apps.lolipop.jp/images/monster/bigmonster2.gif
http://apps.lolipop.jp/images/monster/monster0.gif
http://apps.lolipop.jp/images/monster/monster1.gif
http://apps.lolipop.jp/images/monster/monster2.gif
http://apps.lolipop.jp/images/monster/monster3.gif
http://apps.lolipop.jp/images/monster/monster4.gif
http://apps.lolipop.jp/images/monster/monster5.gif
http://apps.lolipop.jp/images/monster/monster6.gif
http://apps.lolipop.jp/images/monster/monster7.gif

効果音
==========================
http://enchantjs.com/assets/sounds/se1.wav
http://enchantjs.com/assets/sounds/se2.wav
http://enchantjs.com/assets/sounds/se3.wav
http://enchantjs.com/assets/sounds/se4.wav
http://enchantjs.com/assets/sounds/se5.wav
http://enchantjs.com/assets/sounds/se6.wav
http://enchantjs.com/assets/sounds/se7.wav
http://enchantjs.com/assets/sounds/se8.wav
http://enchantjs.com/assets/sounds/se9.wav

音素材
==========================
http://www.hmix.net/music_gallery/image/game.htm
http://www.senses-circuit.com/material/se_game.html

サンプル
==========================
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/01/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/02/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/03/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/04/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/05/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/06/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/07/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/08/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/09/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/10/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/11/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/12/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/13/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/14/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/15/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/16/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/17/
http://tsuyobi.heteml.jp/html/javascript/enchantjs/samples/18/

プラグイン


オブジェクト
Label

Sprite

Map

Entity

Scene

Group

Surface

Node

Core

EventTarget

Sound


</pre>
          </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <div id="footer"><%= title %></div>
 
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

  </body>
</html>