<div class="list-group">
     <a href="enchant-1" class="list-group-item">
     <i class="badge badge-info"></i> JavaScript資料
     </a>
     <a href="../demo/enchant/excercise1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲームの背景色を変える
     </a>
     <a href="../demo/enchant/excercise2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲーム画面の幅、高さを指定する
     </a>
     <a href="../demo/enchant/excercise3/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画像を表示する
     </a>
     <a href="../demo/enchant/excercise4/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 文字を表示する
     </a>
     <a href="../demo/enchant/excercise5/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 更新イベントリスナを登録する（on+イベント名）
     </a>
     <a href="../demo/enchant/excercise6/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 更新イベントリスナを登録する（addEventListener）
     </a>
     <a href="../demo/enchant/excercise7/index.html" class="list-group-item">
     <i class="badge badge-info"></i> タッチイベントリスナを登録する
     </a>
     <a href="../demo/enchant/excercise8/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 独自イベントを作成、発行する
     </a>
     <a href="../demo/enchant/excercise9/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 登録したイベントリスナを削除する
     </a>
     <a href="../demo/enchant/excercise10/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 登録した全てのイベントリスナを削除する
     </a>
     <a href="../demo/enchant/excercise11/index.html" class="list-group-item">
     <i class="badge badge-info"></i> イベントに登録した無名関数を削除する
     </a>
     <a href="../demo/enchant/excercise12/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 背景色を指定する
     </a>
     <a href="../demo/enchant/excercise13/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 幅、高さを指定する
     </a>
     <a href="../demo/enchant/excercise14/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 移動させる
     </a>
     <a href="../demo/enchant/excercise15/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 相対的に移動させる
     </a>
     <a href="../demo/enchant/excercise16/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 透明度を指定する
     </a>
     <a href="../demo/enchant/excercise17/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 表示／非表示を切り替える
     </a>
     <a href="../demo/enchant/excercise18/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 回転させる
     </a>
     <a href="../demo/enchant/excercise19/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 拡縮させる
     </a>
     <a href="../demo/enchant/excercise20/index.html" class="list-group-item">
     <i class="badge badge-info"></i> フレームアニメーションさせる
     </a>
     <a href="../demo/enchant/excercise21/index.html" class="list-group-item">
     <i class="badge badge-info"></i> フェードアウト／フェードインさせる
     </a>
     <a href="../demo/enchant/excercise22/index.html" class="list-group-item">
     <i class="badge badge-info"></i> タッチしたら削除する
     </a>
     <a href="../demo/enchant/excercise23/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 大量のSpriteを表示する
     </a>
     <a href="../demo/enchant/excercise24/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ランダムな方向に移動させる
     </a>
     <a href="../demo/enchant/excercise25/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 移動させて画面外に出ないように制御する
     </a>
     <a href="../demo/enchant/excercise26/index.html" class="list-group-item">
     <i class="badge badge-info"></i> フレームアニメーションを使って画面上を走らせる（進行方向に応じて向きを変更する）
     </a>
     <a href="../demo/enchant/excercise27/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 表示するテキストの色を指定する
     </a>
     <a href="../demo/enchant/excercise28/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 表示するフォントスタイルを指定する
     </a>
     <a href="../demo/enchant/excercise29/index.html" class="list-group-item">
     <i class="badge badge-info"></i> タッチする度にカウントアップさせる
     </a>
     <a href="../demo/enchant/excercise30/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 経過フレームを表示する
     </a>
     <a href="../demo/enchant/excercise31/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 経過時間を表示する
     </a>
     <a href="../demo/enchant/excercise32/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 指定した時間以下になったら色を変える
     </a>
     <a href="../demo/enchant/excercise33/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 指定した時間以下になったら点滅させる
     </a>
     <a href="../demo/enchant/excercise34/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 点を描画する
     </a>
     <a href="../demo/enchant/excercise35/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 直線を描画する
     </a>
     <a href="../demo/enchant/excercise36/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 四角形を描画する
     </a>
     <a href="../demo/enchant/excercise37/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 三角形を描画する
     </a>
     <a href="../demo/enchant/excercise38/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 円を描画する
     </a>
     <a href="../demo/enchant/excercise39/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 円弧を描画する
     </a>
     <a href="../demo/enchant/excercise40/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画像を描画する
     </a>
     <a href="../demo/enchant/excercise41/index.html" class="list-group-item">
     <i class="badge badge-info"></i> タイル画像を使ってマップを表示する
     </a>
     <a href="../demo/enchant/excercise42/index.html" class="list-group-item">
     <i class="badge badge-info"></i> マップ上に障害物があるかをチェックする
     </a>
     <a href="../demo/enchant/excercise43/index.html" class="list-group-item">
     <i class="badge badge-info"></i> キーと数値をバインドする
     </a>
     <a href="../demo/enchant/excercise44/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 十字キー入力に応じて移動させる
     </a>
     <a href="../demo/enchant/excercise45/index.html" class="list-group-item">
     <i class="badge badge-info"></i> キー入力に応じてジャンプさせる
     </a>
     <a href="../demo/enchant/excercise46/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画面端に行ったら逆にワープさせる
     </a>
     <a href="../demo/enchant/excercise47/index.html" class="list-group-item">
     <i class="badge badge-info"></i> タッチした位置に移動させる
     </a>
     <a href="../demo/enchant/excercise48/index.html" class="list-group-item">
     <i class="badge badge-info"></i> タッチている位置に移動させる
     </a>
     <a href="../demo/enchant/excercise49/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 傾きセンサーに反応させる
     </a>
     <a href="../demo/enchant/excercise50/index.html" class="list-group-item">
     <i class="badge badge-info"></i> スプライト同士の当たり判定（矩形）
     </a>
</div>