<div class="list-group">
     <a href="js-1" class="list-group-item">
     <i class="badge badge-info"></i> コアリファレンス
     </a>
     <a href="js-17" class="list-group-item">
     <i class="badge badge-info"></i> クライアントリファレンス
     </a>
</div>

<div class="list-group">
     <a href="enchant-1" class="list-group-item">
     <i class="badge badge-info"></i> JavaScript資料
     </a>
     <a href="../demo/enchant/excercise1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲームの背景色を変える
     </a>
     <a href="../demo/enchant/excercise2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲーム画面の幅、高さを指定する
     </a>
     <a href="../demo/enchant/excercise3/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画像を表示する
     </a>
     <a href="../demo/enchant/excercise4/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 文字を表示する
     </a>
     <a href="../demo/enchant/excercise5/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 更新イベントリスナを登録する（on+イベント名）
     </a>
     <a href="../demo/enchant/excercise6/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 更新イベントリスナを登録する（addEventListener）
     </a>
     <a href="../demo/enchant/excercise7/index.html" class="list-group-item">
     <i class="badge badge-info"></i> タッチイベントリスナを登録する
     </a>
     <a href="../demo/enchant/excercise8/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 独自イベントを作成、発行する
     </a>
     <a href="../demo/enchant/excercise9/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 登録したイベントリスナを削除する
     </a>
     <a href="../demo/enchant/excercise10/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 登録した全てのイベントリスナを削除する
     </a>
     <a href="../demo/enchant/excercise11/index.html" class="list-group-item">
     <i class="badge badge-info"></i> イベントに登録した無名関数を削除する
     </a>
     <a href="../demo/enchant/excercise12/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise13/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise14/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise15/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise16/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise17/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise18/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise19/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise20/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise21/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise22/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise23/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise24/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise25/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise26/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise27/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise28/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise29/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise30/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise31/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise32/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise33/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise34/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise35/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise36/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
     <a href="../demo/enchant/excercise37/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ...
     </a>
</div>