<div class="list-group">
     <a href="js-1" class="list-group-item">
     <i class="badge badge-info"></i> コアリファレンス
     </a>
     <a href="js-17" class="list-group-item">
     <i class="badge badge-info"></i> クライアントリファレンス
     </a>
</div>

<div class="list-group">
     <a href="enchant-1" class="list-group-item">
     <i class="badge badge-info"></i> JavaScript資料
     </a>
     <a href="../demo/enchant/excercise1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲームの背景色を変える
     </a>
     <a href="../demo/enchant/excercise2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲーム画面の幅、高さを指定する
     </a>
     <a href="../demo/enchant/excercise3/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画像を表示する
     </a>
     <a href="../demo/enchant/excercise4/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 文字を表示する
     </a>
     <a href="../demo/enchant/excercise5/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 更新イベントリスナを登録する（on+イベント名）
     </a>
     <a href="../demo/enchant/excercise5/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 更新イベントリスナを登録する（addEventListener）
     </a>
</div>