<div class="list-group">
     <a href="js-1" class="list-group-item">
     <i class="badge badge-info"></i> コアリファレンス
     </a>
     <a href="js-17" class="list-group-item">
     <i class="badge badge-info"></i> クライアントリファレンス
     </a>
</div>

<div class="list-group">
     <a href="enchant-1" class="list-group-item">
     <i class="badge badge-info"></i> JavaScript資料
     </a>
     <a href="../demo/enchant/excercise1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲームの背景色を変える
     </a>
</div>