<div class="list-group">
     <a href="demo/enchant/recipe2-1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「encahnt.js」の使い方
     </a>
     <a href="demo/enchant/recipe2-2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画像を表示する
     </a>
     <a href="demo/enchant/recipe2-3/index.html" class="list-group-item">
     <i class="badge badge-info"></i> キー入力を検知する
     </a>
     <a href="demo/enchant/recipe2-4/index.html" class="list-group-item">
     <i class="badge badge-info"></i> イベントを検出して処理を実行する
     </a>
     <a href="demo/enchant/recipe2-5/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画像アニメーションを表示する
     </a>
     <a href="demo/enchant/recipe2-6/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 文字を表示する（ラベル）
     </a>
     <a href="demo/enchant/recipe2-7/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画像を切り取って新しい画像を作成する
     </a>
     <a href="demo/enchant/recipe2-8/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 音を鳴らす
     </a>
     <a href="demo/enchant/recipe2-9/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ロールプレイングゲームのマップを作る
     </a>
     <a href="demo/enchant/recipe2-10/index.html" class="list-group-item">
     <i class="badge badge-info"></i> クラスを継承して新しいクラスを定義する
     </a>
     <a href="demo/enchant/recipe2-11/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 画面を切り替える
     </a>
     <a href="demo/enchant/recipe2-12/index.html" class="list-group-item">
     <i class="badge badge-info"></i> スコアをグラフィカルなフォントで表示する
     </a>
     <a href="demo/enchant/recipe2-13/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ライフをアイコンで表示する
     </a>
     <a href="demo/enchant/recipe2-14/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 十字キーのバーチャルパッドを表示する
     </a>
     <a href="demo/enchant/recipe2-15/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 十字キーのバーチャルパッドを表示する
     </a>
     <a href="demo/enchant/recipe2-15/index.html" class="list-group-item">
     <i class="badge badge-info"></i> スプライトのアニメーションを簡単に設定する
     </a>
     <a href="demo/enchant/recipe2-16/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲームスタート／ゲームオーバーの画面を表示する
     </a>
     <a href="demo/enchant/recipe2-17/index.html" class="list-group-item">
     <i class="badge badge-info"></i> ゲームデータを保存する
     </a>
     <a href="demo/enchant/recipe2-18/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-19/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「ダルマさんが転んだ」ゲームを作成する
     </a>
     <a href="demo/enchant/recipe2-20/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「トマトタッチ」ゲームを作成する
     </a>
     <a href="demo/enchant/recipe2-21/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「タッチで登れ！」ゲームを作成する
     </a>
     <a href="demo/enchant/recipe2-22/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「ブロックくずし」を作成する
     </a>
     <a href="demo/enchant/recipe2-23/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「クマさんジャンプ」ゲームを作成する
     </a>
     <a href="demo/enchant/recipe2-24/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「スイッチオン！」パズルを作成する
     </a>
     <a href="demo/enchant/recipe2-25/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「滑ってエスケープ！」パズルを作成する
     </a>
     <a href="demo/enchant/recipe2-26/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「ビジュアルノベル」を作成する
     </a>
     <a href="demo/enchant/recipe2-27/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「ボールキャッチ！」ゲームを作成する
     </a>
     <a href="demo/enchant/recipe2-28/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 「ボールキック！」ゲームを作成する
     </a>
     <a href="demo/enchant/recipe2-29/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-30/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-31/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-32/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-33/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-34/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-35/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-36/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-37/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 自機と背景を実装する
     </a>
     <a href="demo/enchant/recipe2-38/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 敵キャラを実装する
     </a>
     <a href="demo/enchant/recipe2-39/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 自弾の発射処理とスコアを実装する
     </a>
     <a href="demo/enchant/recipe2-40/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 敵弾の発射処理とライフを実装する
     </a>
     <a href="demo/enchant/recipe2-41/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 爆発エフェクトを実装する
     </a>
     <a href="demo/enchant/recipe2-42/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 自機をアナログパッドで操作する
     </a>
     <a href="demo/enchant/recipe2-43/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-44/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-45/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-46/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-47/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-48/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-49/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-50/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-51/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-52/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-53/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-54/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-55/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-56/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-57/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-58/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-59/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-60/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-61/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-62/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-63/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-64/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-65/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-66/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-67/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-68/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-69/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-70/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-71/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-72/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-73/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-74/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-75/index.html" class="list-group-item">
     <i class="badge badge-info"></i> アドベンチャーゲームエンジンを実装する
     </a>
     <a href="demo/enchant/recipe2-76/index.html" class="list-group-item">
     <i class="badge badge-info"></i> セリフを表示するコマンドを実装する
     </a>
     <a href="demo/enchant/recipe2-77/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 次のシーンにジャンプするコマンドを実装する
     </a>
     <a href="demo/enchant/recipe2-78/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 選択肢を表示するコマンドを実装する
     </a>
     <a href="demo/enchant/recipe2-79/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 背景やキャラを削除するコマンドを実装する
     </a>
     <a href="demo/enchant/recipe2-80/index.html" class="list-group-item">
     <i class="badge badge-info"></i> キャラにイベントリスナを設定するコマンドを追加する
     </a>
     <a href="demo/enchant/recipe2-81/index.html" class="list-group-item">
     <i class="badge badge-info"></i> 式と条件分岐を処理するコマンドを実装する
     </a>
     <a href="demo/enchant/recipe2-82/index.html" class="list-group-item">
     <i class="badge badge-info"></i> セーブ機能を実装する
     </a>
     <a href="demo/enchant/recipe2-83/index.html" class="list-group-item">
     <i class="badge badge-info"></i> シナリオを記述してアドベンチャーゲームを作成する
     </a>
</div>