<div class="list-group">
     <a href="demo/enchant/recipe2-1/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-2/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-3/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-4/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-5/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-6/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-7/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-8/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-9/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
     <a href="demo/enchant/recipe2-10/index.html" class="list-group-item">
     <i class="badge badge-info"></i> レシピ
     </a>
</div>