.list-group
    a.list-group-item(href='1')
        i.badge.badge-info
        | encahnt.js資料
      a.list-group-item(href='../demo/enchant/recipe1-1/index.html',target='_blank')
        i.badge.badge-info
        | ゲームの背景色を変える
      a.list-group-item(href='../demo/enchant/recipe1-2/index.html',target='_blank')
        i.badge.badge-info
        | ゲーム画面の幅、高さを指定する
      a.list-group-item(href='../demo/enchant/recipe1-3/index.html',target='_blank')
        i.badge.badge-info
        | 画像を表示する
      a.list-group-item(href='../demo/enchant/recipe1-4/index.html',target='_blank')
        i.badge.badge-info
        | 文字を表示する
      a.list-group-item(href='../demo/enchant/recipe1-5/index.html',target='_blank')
        i.badge.badge-info
        | 更新イベントリスナを登録する（on+イベント名）
      a.list-group-item(href='../demo/enchant/recipe1-6/index.html',target='_blank')
        i.badge.badge-info
        | 更新イベントリスナを登録する（addEventListener）
      a.list-group-item(href='../demo/enchant/recipe1-7/index.html',target='_blank')
        i.badge.badge-info
        | タッチイベントリスナを登録する
      a.list-group-item(href='../demo/enchant/recipe1-8/index.html',target='_blank')
        i.badge.badge-info
        | 独自イベントを作成、発行する
      a.list-group-item(href='../demo/enchant/recipe1-9/index.html',target='_blank')
        i.badge.badge-info
        | 登録したイベントリスナを削除する
      a.list-group-item(href='../demo/enchant/recipe1-10/index.html',target='_blank')
        i.badge.badge-info
        | 登録した全てのイベントリスナを削除する
      a.list-group-item(href='../demo/enchant/recipe1-11/index.html',target='_blank')
        i.badge.badge-info
        | イベントに登録した無名関数を削除する
      a.list-group-item(href='../demo/enchant/recipe1-12/index.html',target='_blank')
        i.badge.badge-info
        | 背景色を指定する
      a.list-group-item(href='../demo/enchant/recipe1-13/index.html',target='_blank')
        i.badge.badge-info
        | 幅、高さを指定する
      a.list-group-item(href='../demo/enchant/recipe1-14/index.html',target='_blank')
        i.badge.badge-info
        | 移動させる
      a.list-group-item(href='../demo/enchant/recipe1-15/index.html',target='_blank')
        i.badge.badge-info
        | 相対的に移動させる
      a.list-group-item(href='../demo/enchant/recipe1-16/index.html',target='_blank')
        i.badge.badge-info
        | 透明度を指定する
      a.list-group-item(href='../demo/enchant/recipe1-17/index.html',target='_blank')
        i.badge.badge-info
        | 表示／非表示を切り替える
      a.list-group-item(href='../demo/enchant/recipe1-18/index.html',target='_blank')
        i.badge.badge-info
        | 回転させる
      a.list-group-item(href='../demo/enchant/recipe1-19/index.html',target='_blank')
        i.badge.badge-info
        | 拡縮させる
      a.list-group-item(href='../demo/enchant/recipe1-20/index.html',target='_blank')
        i.badge.badge-info
        | フレームアニメーションさせる
      a.list-group-item(href='../demo/enchant/recipe1-21/index.html',target='_blank')
        i.badge.badge-info
        | フェードアウト／フェードインさせる
      a.list-group-item(href='../demo/enchant/recipe1-22/index.html',target='_blank')
        i.badge.badge-info
        | タッチしたら削除する
      a.list-group-item(href='../demo/enchant/recipe1-23/index.html',target='_blank')
        i.badge.badge-info
        | 大量のSpriteを表示する
      a.list-group-item(href='../demo/enchant/recipe1-24/index.html',target='_blank')
        i.badge.badge-info
        | ランダムな方向に移動させる
      a.list-group-item(href='../demo/enchant/recipe1-25/index.html',target='_blank')
        i.badge.badge-info
        | 移動させて画面外に出ないように制御する
      a.list-group-item(href='../demo/enchant/recipe1-26/index.html',target='_blank')
        i.badge.badge-info
        | フレームアニメーションを使って画面上を走らせる（進行方向に応じて向きを変更する）
      a.list-group-item(href='../demo/enchant/recipe1-27/index.html',target='_blank')
        i.badge.badge-info
        | 表示するテキストの色を指定する
      a.list-group-item(href='../demo/enchant/recipe1-28/index.html',target='_blank')
        i.badge.badge-info
        | 表示するフォントスタイルを指定する
      a.list-group-item(href='../demo/enchant/recipe1-29/index.html',target='_blank')
        i.badge.badge-info
        | タッチする度にカウントアップさせる
      a.list-group-item(href='../demo/enchant/recipe1-30/index.html',target='_blank')
        i.badge.badge-info
        | 経過フレームを表示する
      a.list-group-item(href='../demo/enchant/recipe1-31/index.html',target='_blank')
        i.badge.badge-info
        | 経過時間を表示する
      a.list-group-item(href='../demo/enchant/recipe1-32/index.html',target='_blank')
        i.badge.badge-info
        | 指定した時間以下になったら色を変える
      a.list-group-item(href='../demo/enchant/recipe1-33/index.html',target='_blank')
        i.badge.badge-info
        | 指定した時間以下になったら点滅させる
      a.list-group-item(href='../demo/enchant/recipe1-34/index.html',target='_blank')
        i.badge.badge-info
        | 点を描画する
      a.list-group-item(href='../demo/enchant/recipe1-35/index.html',target='_blank')
        i.badge.badge-info
        | 直線を描画する
      a.list-group-item(href='../demo/enchant/recipe1-36/index.html',target='_blank')
        i.badge.badge-info
        | 四角形を描画する
      a.list-group-item(href='../demo/enchant/recipe1-37/index.html',target='_blank')
        i.badge.badge-info
        | 三角形を描画する
      a.list-group-item(href='../demo/enchant/recipe1-38/index.html',target='_blank')
        i.badge.badge-info
        | 円を描画する
      a.list-group-item(href='../demo/enchant/recipe1-39/index.html',target='_blank')
        i.badge.badge-info
        | 円弧を描画する
      a.list-group-item(href='../demo/enchant/recipe1-40/index.html',target='_blank')
        i.badge.badge-info
        | 画像を描画する
      a.list-group-item(href='../demo/enchant/recipe1-41/index.html',target='_blank')
        i.badge.badge-info
        | タイル画像を使ってマップを表示する
      a.list-group-item(href='../demo/enchant/recipe1-42/index.html',target='_blank')
        i.badge.badge-info
        | マップ上に障害物があるかをチェックする
      a.list-group-item(href='../demo/enchant/recipe1-43/index.html',target='_blank')
        i.badge.badge-info
        | キーと数値をバインドする
      a.list-group-item(href='../demo/enchant/recipe1-44/index.html',target='_blank')
        i.badge.badge-info
        | 十字キー入力に応じて移動させる
      a.list-group-item(href='../demo/enchant/recipe1-45/index.html',target='_blank')
        i.badge.badge-info
        | キー入力に応じてジャンプさせる
      a.list-group-item(href='../demo/enchant/recipe1-46/index.html',target='_blank')
        i.badge.badge-info
        | 画面端に行ったら逆にワープさせる
      a.list-group-item(href='../demo/enchant/recipe1-47/index.html',target='_blank')
        i.badge.badge-info
        | タッチした位置に移動させる
      a.list-group-item(href='../demo/enchant/recipe1-48/index.html',target='_blank')
        i.badge.badge-info
        | タッチている位置に移動させる
      a.list-group-item(href='../demo/enchant/recipe1-49/index.html',target='_blank')
        i.badge.badge-info
        | 傾きセンサーに反応させる
      a.list-group-item(href='../demo/enchant/recipe1-50/index.html',target='_blank')
        i.badge.badge-info
        | スプライト同士の当たり判定（矩形）
      a.list-group-item(href='../demo/enchant/recipe1-51/index.html',target='_blank')
        i.badge.badge-info
        | スプライト同士の当たり判定（円形）
      a.list-group-item(href='../demo/enchant/recipe1-52/index.html',target='_blank')
        i.badge.badge-info
        | 親子関係を付ける
      a.list-group-item(href='../demo/enchant/recipe1-53/index.html',target='_blank')
        i.badge.badge-info
        | 複数の要素をまとめて動かす
      a.list-group-item(href='../demo/enchant/recipe1-54/index.html',target='_blank')
        i.badge.badge-info
        | 音を読み込んで再生する
      a.list-group-item(href='../demo/enchant/recipe1-55/index.html',target='_blank')
        i.badge.badge-info
        | 音を連続で再生する
      a.list-group-item(href='../demo/enchant/recipe1-56/index.html',target='_blank')
        i.badge.badge-info
        | 再生中の音を停止する
      a.list-group-item(href='../demo/enchant/recipe1-57/index.html',target='_blank')
        i.badge.badge-info
        | 音を中断、再開する
      a.list-group-item(href='../demo/enchant/recipe1-58/index.html',target='_blank')
        i.badge.badge-info
        | 音のボリュームを変更する
      a.list-group-item(href='../demo/enchant/recipe1-59/index.html',target='_blank')
        i.badge.badge-info
        | BGMをループ再生させる
      a.list-group-item(href='../demo/enchant/recipe1-60/index.html',target='_blank')
        i.badge.badge-info
        | 開始画面、終了画面を表示する
      a.list-group-item(href='../demo/enchant/recipe1-61/index.html',target='_blank')
        i.badge.badge-info
        | 画像をテキスト表示する
      a.list-group-item(href='../demo/enchant/recipe1-62/index.html',target='_blank')
        i.badge.badge-info
        | スコアを表示する
      a.list-group-item(href='../demo/enchant/recipe1-63/index.html',target='_blank')
        i.badge.badge-info
        | タイマーを表示する
      a.list-group-item(href='../demo/enchant/recipe1-64/index.html',target='_blank')
        i.badge.badge-info
        | ライフを表示する
      a.list-group-item(href='../demo/enchant/recipe1-65/index.html',target='_blank')
        i.badge.badge-info
        | バーゲージを表示する
      a.list-group-item(href='../demo/enchant/recipe1-66/index.html',target='_blank')
        i.badge.badge-info
        | ボタンを表示する
      a.list-group-item(href='../demo/enchant/recipe1-67/index.html',target='_blank')
        i.badge.badge-info
        | 十字キーパッドを表示する
      a.list-group-item(href='../demo/enchant/recipe1-68/index.html',target='_blank')
        i.badge.badge-info
        | アナログパッドを表示する
      a.list-group-item(href='../demo/enchant/recipe1-69/index.html',target='_blank')
        i.badge.badge-info
        | アバター画像を生成して表示する
      a.list-group-item(href='../demo/enchant/recipe1-70/index.html',target='_blank')
        i.badge.badge-info
        | アバターモンスターを表示する
      a.list-group-item(href='../demo/enchant/recipe1-71/index.html',target='_blank')
        i.badge.badge-info
        | アバター背景を表示する
      a.list-group-item(href='../demo/enchant/recipe1-72/index.html',target='_blank')
        i.badge.badge-info
        | フレーム数を指定して移動させる
      a.list-group-item(href='../demo/enchant/recipe1-73/index.html',target='_blank')
        i.badge.badge-info
        | フェードイン／フェードアウトさせる
      a.list-group-item(href='../demo/enchant/recipe1-74/index.html',target='_blank')
        i.badge.badge-info
        | 拡縮アニメーションする
      a.list-group-item(href='../demo/enchant/recipe1-75/index.html',target='_blank')
        i.badge.badge-info
        | 回転アニメーションする
      a.list-group-item(href='../demo/enchant/recipe1-76/index.html',target='_blank')
        i.badge.badge-info
        | 待ち時間を設定する
      a.list-group-item(href='../demo/enchant/recipe1-77/index.html',target='_blank')
        i.badge.badge-info
        | アニメーション終了後に関数を実行する
      a.list-group-item(href='../demo/enchant/recipe1-78/index.html',target='_blank')
        i.badge.badge-info
        | アニメーション終了後に複数の関数を実行する
      a.list-group-item(href='../demo/enchant/recipe1-79/index.html',target='_blank')
        i.badge.badge-info
        | トゥイーンアニメーションさせる
      a.list-group-item(href='../demo/enchant/recipe1-80/index.html',target='_blank')
        i.badge.badge-info
        | 並列でアニメーションさせる
      a.list-group-item(href='../demo/enchant/recipe1-81/index.html',target='_blank')
        i.badge.badge-info
        | ループアニメーションさせる（ジグザグに移動させる）
      a.list-group-item(href='../demo/enchant/recipe1-82/index.html',target='_blank')
        i.badge.badge-info
        | イージングを指定する
      a.list-group-item(href='../demo/enchant/recipe1-83/index.html',target='_blank')
        i.badge.badge-info
        | gl.enchant.jsをセットアップする
      a.list-group-item(href='../demo/enchant/recipe1-84/index.html',target='_blank')
        i.badge.badge-info
        | カメラを動かす
      a.list-group-item(href='../demo/enchant/recipe1-85/index.html',target='_blank')
        i.badge.badge-info
        | ライトの方向を変更する
      a.list-group-item(href='../demo/enchant/recipe1-86/index.html',target='_blank')
        i.badge.badge-info
        | テクスチャを貼り付ける
      a.list-group-item(href='../demo/enchant/recipe1-87/index.html',target='_blank')
        i.badge.badge-info
        | 3Dスプライトを動かす
      a.list-group-item(href='../demo/enchant/recipe1-88/index.html',target='_blank')
        i.badge.badge-info
        | 3Dスプライトを回転させる
      a.list-group-item(href='../demo/enchant/recipe1-89/index.html',target='_blank')
        i.badge.badge-info
        | 3Dスプライトを拡縮させる
      a.list-group-item(href='../demo/enchant/recipe1-90/index.html',target='_blank')
        i.badge.badge-info
        | 平面を生成、表示する。
      a.list-group-item(href='../demo/enchant/recipe1-91/index.html',target='_blank')
        i.badge.badge-info
        | ボックスを生成、表示する
      a.list-group-item(href='../demo/enchant/recipe1-92/index.html',target='_blank')
        i.badge.badge-info
        | キューブを生成、表示する
      a.list-group-item(href='../demo/enchant/recipe1-93/index.html',target='_blank')
        i.badge.badge-info
        | 球体を生成する、表示する
      a.list-group-item(href='../demo/enchant/recipe1-94/index.html',target='_blank')
        i.badge.badge-info
        | シリンダーを生成する、表示する
      a.list-group-item(href='../demo/enchant/recipe1-95/index.html',target='_blank')
        i.badge.badge-info
        | トーラスを生成する、表示する
      a.list-group-item(href='../demo/enchant/recipe1-96/index.html',target='_blank')
        i.badge.badge-info
        | 3Dモデルを生成、表示する
      a.list-group-item(href='../demo/enchant/recipe1-97/index.html',target='_blank')
        i.badge.badge-info
        | ゲームのフレームレートを設定する
      a.list-group-item(href='../demo/enchant/recipe1-98/index.html',target='_blank')
        i.badge.badge-info
        | ゲームの幅を勝手に拡縮しないようにする
