.list-group
    a.list-group-item(href='enchant-3.ejs')
        i.badge.badge-info
        | 「encahnt.js」の使い方
    a.list-group-item(href='enchant-4.ejs')
        i.badge.badge-info
        | 画像を表示する
    a.list-group-item(href='enchant-5.ejs')
        i.badge.badge-info
        | キー入力を検知する
    a.list-group-item(href='enchant-6.ejs')
        i.badge.badge-info
        | イベントを検出して処理を実行する
    a.list-group-item(href='enchant-7.ejs')
        i.badge.badge-info
        | 画像アニメーションを表示する
    a.list-group-item(href='enchant-8.ejs')
        i.badge.badge-info
        | 文字を表示する（ラベル）
    a.list-group-item(href='enchant-9.ejs')
        i.badge.badge-info
        | 画像を切り取って新しい画像を作成する
    a.list-group-item(href='enchant-2.ejs')
        i.badge.badge-info
        | 音を鳴らす
    a.list-group-item(href='enchant-10.ejs')
        i.badge.badge-info
        | ロールプレイングゲームのマップを作る
    a.list-group-item(href='enchant-11.ejs')
        i.badge.badge-info
        | クラスを継承して新しいクラスを定義する
    a.list-group-item(href='enchant-12.ejs')
        i.badge.badge-info
        | 画面を切り替える
    a.list-group-item(href='recipe2-13.ejs')
        i.badge.badge-info
        | スコアをグラフィカルなフォントで表示する
    a.list-group-item(href='demo/enchant/recipe2-13/index.html')
        i.badge.badge-info
        | スコアをグラフィカルなフォントで表示する
    a.list-group-item(href='demo/enchant/recipe2-14/index.html')
        i.badge.badge-info
        | ライフをアイコンで表示する
    a.list-group-item(href='demo/enchant/recipe2-15/index.html')
        i.badge.badge-info
        | 十字キーのバーチャルパッドを表示する
    a.list-group-item(href='demo/enchant/recipe2-16/index.html')
        i.badge.badge-info
        | スプライトのアニメーションを簡単に設定する
    a.list-group-item(href='demo/enchant/recipe2-17/index.html')
        i.badge.badge-info
        | ゲームスタート／ゲームオーバーの画面を表示する
    a.list-group-item(href='demo/enchant/recipe2-18/index.html')
        i.badge.badge-info
        | ゲームデータを保存する
    a.list-group-item(href='demo/enchant/recipe2-19/index.html')
        i.badge.badge-info
        | 「ダルマさんが転んだ」ゲームを作成する
    a.list-group-item(href='demo/enchant/recipe2-20/index.html')
        i.badge.badge-info
        | 「トマトタッチ」ゲームを作成する
    a.list-group-item(href='demo/enchant/recipe2-21/index.html')
        i.badge.badge-info
        | 「タッチで登れ！」ゲームを作成する
    a.list-group-item(href='demo/enchant/recipe2-22/index.html')
        i.badge.badge-info
        | 「ブロックくずし」を作成する
    a.list-group-item(href='demo/enchant/recipe2-23/index.html')
        i.badge.badge-info
        | 「クマさんジャンプ」ゲームを作成する
    a.list-group-item(href='demo/enchant/recipe2-24/index.html')
        i.badge.badge-info
        | 「スイッチオン！」パズルを作成する
    a.list-group-item(href='demo/enchant/recipe2-25/index.html')
        i.badge.badge-info
        | 「滑ってエスケープ！」パズルを作成する
    a.list-group-item(href='demo/enchant/recipe2-26/index.html')
        i.badge.badge-info
        | 「ビジュアルノベル」を作成する
    a.list-group-item(href='demo/enchant/recipe2-27/index.html')
        i.badge.badge-info
        | 「ボールキャッチ！」ゲームを作成する
    a.list-group-item(href='demo/enchant/recipe2-28/index.html')
        i.badge.badge-info
        | 「ボールキック！」ゲームを作成する
    a.list-group-item(href='demo/enchant/recipe2-29/index.html')
        i.badge.badge-info
        | プレイヤーキャラクターのアバターを実装する
    a.list-group-item(href='demo/enchant/recipe2-30/index.html')
        i.badge.badge-info
        | プレイヤーをバーチャルパッドで操作する
    a.list-group-item(href='demo/enchant/recipe2-31/index.html')
        i.badge.badge-info
        | モンスターのアバターを実装する
    a.list-group-item(href='demo/enchant/recipe2-32/index.html')
        i.badge.badge-info
        | プレイヤーキャラクターの攻撃処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-33/index.html')
        i.badge.badge-info
        | モンスターの出現処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-34/index.html')
        i.badge.badge-info
        | モンスターの攻撃・移動処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-35/index.html')
        i.badge.badge-info
        | 特殊技の発動システムを実装する
    a.list-group-item(href='demo/enchant/recipe2-36/index.html')
        i.badge.badge-info
        | 交互制のバトルシステムに変更する
    a.list-group-item(href='demo/enchant/recipe2-37/index.html')
        i.badge.badge-info
        | 自機と背景を実装する
    a.list-group-item(href='demo/enchant/recipe2-38/index.html')
        i.badge.badge-info
        | 敵キャラを実装する
    a.list-group-item(href='demo/enchant/recipe2-39/index.html')
        i.badge.badge-info
        | 自弾の発射処理とスコアを実装する
    a.list-group-item(href='demo/enchant/recipe2-40/index.html')
        i.badge.badge-info
        | 敵弾の発射処理とライフを実装する
    a.list-group-item(href='demo/enchant/recipe2-41/index.html')
        i.badge.badge-info
        | 爆発エフェクトを実装する
    a.list-group-item(href='demo/enchant/recipe2-42/index.html')
        i.badge.badge-info
        | 自機をアナログパッドで操作する
    a.list-group-item(href='demo/enchant/recipe2-43/index.html')
        i.badge.badge-info
        | バトルフィールドマップを実装する
    a.list-group-item(href='demo/enchant/recipe2-44/index.html')
        i.badge.badge-info
        | プレイヤーキャラクターを実装する
    a.list-group-item(href='demo/enchant/recipe2-45/index.html')
        i.badge.badge-info
        | マップとプレイヤーの衝突処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-46/index.html')
        i.badge.badge-info
        | バーチャルパッド／ボタンを実装する
    a.list-group-item(href='demo/enchant/recipe2-47/index.html')
        i.badge.badge-info
        | 敵キャラクターを実装する
    a.list-group-item(href='demo/enchant/recipe2-48/index.html')
        i.badge.badge-info
        | 攻撃の当たり判定とHP表示を実装する
    a.list-group-item(href='demo/enchant/recipe2-49/index.html')
        i.badge.badge-info
        | コインの出現・取得・消滅処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-50/index.html')
        i.badge.badge-info
        | 自前のゲームスタート／ゲームオーバー処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-51/index.html')
        i.badge.badge-info
        | BGMとSE（効果音）を実装する
    a.list-group-item(href='demo/enchant/recipe2-52/index.html')
        i.badge.badge-info
        | ?
    a.list-group-item(href='demo/enchant/recipe2-53/index.html')
        i.badge.badge-info
        | ?
    a.list-group-item(href='demo/enchant/recipe2-54/index.html')
        i.badge.badge-info
        | ?
    a.list-group-item(href='demo/enchant/recipe2-55/index.html')
        i.badge.badge-info
        | ?
    a.list-group-item(href='demo/enchant/recipe2-56/index.html')
        i.badge.badge-info
        | ?
    a.list-group-item(href='demo/enchant/recipe2-57/index.html')
        i.badge.badge-info
        | ?
    a.list-group-item(href='demo/enchant/recipe2-58/index.html')
        i.badge.badge-info
        | ?
    a.list-group-item(href='demo/enchant/recipe2-59/index.html')
        i.badge.badge-info
        | ゲームのフィールドを実装する
    a.list-group-item(href='demo/enchant/recipe2-60/index.html')
        i.badge.badge-info
        | 野菜の作付け・成長処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-61/index.html')
        i.badge.badge-info
        | 野菜を収穫する処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-62/index.html')
        i.badge.badge-info
        | ポイントカウントとレベルアップ処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-63/index.html')
        i.badge.badge-info
        | おじゃまキャラを実装する
    a.list-group-item(href='demo/enchant/recipe2-64/index.html')
        i.badge.badge-info
        | セーブ機能を実装する
    a.list-group-item(href='demo/enchant/recipe2-65/index.html')
        i.badge.badge-info
        | 街マップとプレイヤーキャラクターを実装する
    a.list-group-item(href='demo/enchant/recipe2-66/index.html')
        i.badge.badge-info
        | NPCを実装する
    a.list-group-item(href='demo/enchant/recipe2-67/index.html')
        i.badge.badge-info
        | バトルフィールドマップを実装する
    a.list-group-item(href='demo/enchant/recipe2-68/index.html')
        i.badge.badge-info
        | バトルシステムを実装する
    a.list-group-item(href='demo/enchant/recipe2-69/index.html')
        i.badge.badge-info
        | コインラベルと宿屋シーンを実装する
    a.list-group-item(href='demo/enchant/recipe2-70/index.html')
        i.badge.badge-info
        | レベルアップ処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-71/index.html')
        i.badge.badge-info
        | 武器ドロップ処理を実装する
    a.list-group-item(href='demo/enchant/recipe2-72/index.html')
        i.badge.badge-info
        | ボスイベントを実装する
    a.list-group-item(href='demo/enchant/recipe2-73/index.html')
        i.badge.badge-info
        | セーブ機能を実装する
    a.list-group-item(href='demo/enchant/recipe2-74/index.html')
        i.badge.badge-info
        | ？
    a.list-group-item(href='demo/enchant/recipe2-75/index.html')
        i.badge.badge-info
        | アドベンチャーゲームエンジンを実装する
    a.list-group-item(href='demo/enchant/recipe2-76/index.html')
        i.badge.badge-info
        | セリフを表示するコマンドを実装する
    a.list-group-item(href='demo/enchant/recipe2-77/index.html')
        i.badge.badge-info
        | 次のシーンにジャンプするコマンドを実装する
    a.list-group-item(href='demo/enchant/recipe2-78/index.html')
        i.badge.badge-info
        | 選択肢を表示するコマンドを実装する
    a.list-group-item(href='demo/enchant/recipe2-79/index.html')
        i.badge.badge-info
        | 背景やキャラを削除するコマンドを実装する
    a.list-group-item(href='demo/enchant/recipe2-80/index.html')
        i.badge.badge-info
        | キャラにイベントリスナを設定するコマンドを追加する
    a.list-group-item(href='demo/enchant/recipe2-81/index.html')
        i.badge.badge-info
        | 式と条件分岐を処理するコマンドを実装する
    a.list-group-item(href='demo/enchant/recipe2-82/index.html')
        i.badge.badge-info
        | セーブ機能を実装する
    a.list-group-item(href='demo/enchant/recipe2-83/index.html')
        i.badge.badge-info
        | シナリオを記述してアドベンチャーゲームを作成する