prefix(prop, val)
	-webkit-{prop} val
	{prop} val

.turn
	prefix('transform', rotateX(0deg))	
	prefix('animation-name', myanim)	
	prefix('animation-duration', 1s)

@keyframes myanim{
	0%{
		prefix('transform', rotateX(0deg))
	}
	50%{
		prefix('transform', rotateX(180deg))
	}
	100%{
		prefix('transform', rotateX(360deg))
	}
}