extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
      .row
        .col-sm-3
          include left
        .col-sm-9
          .panel.panel-primary
            .panel-heading アプリのアイコンを設定する
            .panel-body
                .alert.alert-info アプリのアイコンを設定する
                p アプリのアイコンやスプラッシュスクリーンを設定するには、platforms以下のプラットフォームごとのプロジェクトを編集します。
                p 例として、Androidのアイコンを編集しましょう。platforms/android/resディレクトリにはAndroidアプリで利用するリソースが収められています。このディレクトリ以下にアイコンを表示するPNGファイルを置きます。
                p Androidのアイコンとして必要な画像は4つです。Androidは、様々な解像度を持つデバイスに対応するために、デバイスのディスプレイのピクセル密度をldpi、mdpi、hdpi、xhdpiの4つに分けています。アイコン画像もこれに合わせて4つ用意します。以下の表は、resディレクトリ以下のアイコン画像のファイルの場所とそのアイコンが必要とする画像のサイズです。
                table.table
                    tr
                        th アイコンのファイル名
                        th 必要な画像の大きさ
                    tr
                        td drawable-ldpi/icon.png
                        td 36x36px
                    tr
                        td drawable-mdpi/icon.png
                        td 48x48px
                    tr
                        td drawable-hdpi/icon.png
                        td 72x72px
                    tr
                        td drawable-xhdpi/icon.png
                        td 96x96px
                p アイコン画像にはここで挙げているサイズの画像以外にもGoogle Play Storeに提供する際に512x512pxサイズの画像が必要となります。この512x512pxのアイコンは、Google Play StoreアプリやWebサイトでアプリのアイコンとして表示されます。
                p 次にiOSのアイコンを編集しましょう。iOSアプリのアイコンは、platforms/ios/HelloWorld/Resources/iconsディレクトリ以下に納められています。iPhoneとiPadとそれらのRetina版のアイコン画像を用意する必要があります。
                table.table
                    tr
                        th アイコンのファイル名
                        th 必要な画像の大きさ
                    tr
                        td icon.png
                        td 57x57px
                    tr
                        td icon@2x.png
                        td 114x114px
                    tr
                        td icon-72.png
                        td 72x72px
                    tr
                        td icon-72@2x.png
                        td 144x144px
                p iOSアプリでは、Retinaディスプレイ用の画像リソースには、ファイルの拡張子の前に「@2x」を付けます。
                p またAndroid同様、ここで挙げているサイズ以外にもApp Storeに提出する際に1024x1024pxのサイズのアイコン画像が必要です。

