extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block body
    include navbar
    .container
      .row
        .col-sm-3
          include left
        .col-sm-9
          .panel.panel-primary
            .panel-heading アプリのアイコンを設定する
            .panel-body
                .alert.alert-info アプリのアイコンを設定する
                .alert.alert-info アプリのスプラッシュスクリーンを設定する
                .alert.alert-info ドメインホワイトリストを設定する
                .alert.alert-info ドメインホワイトリストの基本的な設定方法
                .alert.alert-info プラットフォームごとにカスタマイズする
                .alert.alert-info HTML5側をプラットフォームごとに切り替える
                .alert.alert-info ネイティブ側をプラットフォームごとに切り替える
                .alert.alert-info Cordovaプラグインを利用する
                .alert.alert-info プラグインを導入する
                .alert.alert-info プラグインを管理する
                .alert.alert-info プラグインのインストールを理解する
                .alert.alert-info プラグインの仕組み
                .alert.alert-info 組み込みプラグインの一覧
                .alert.alert-info Android向けのCordovaプラグインを実装する
                .alert.alert-info Android向けのプラグイン開発の詳細
                .alert.alert-info iOS向けのCordovaプラグインを実装する
                .alert.alert-info cordovaコマンドからインストールできるプラグインを実装する
                .alert.alert-info その他のコマンドの解説
                .alert.alert-info 既存のアプリにCordovaを組み込む
                .alert.alert-info Cordovaフレームワークのダウンロード
                .alert.alert-info AndroidのプロジェクトにCordovaフレームワークを導入する
                .alert.alert-info 画面の一部でCordovaを用いる
                .alert.alert-info iOSのプロジェクトにCordovaフレームワークを導入する
                .alert.alert-info wwwディレクトリに配置する
                .alert.alert-info Cordovaフレームワークを呼び出すコードを記述する
    .footer=title
    script(src='http://code.jquery.com/jquery-1.10.2.min.js')
    script(src='../../js/google-code-prettify/prettify.js')
    script.
        prettyPrint();
    script(src='../../js/bootstrap.min.js')
    script(src='../../coffee/list-counter.js')
