extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
      .row
        .col-sm-3
          include left
        .col-sm-9
          .panel.panel-primary
            .panel-heading 既存のアプリにCordovaを組み込む
            .panel-body
                .alert.alert-info 既存のアプリにCordovaを組み込む
                p ここまでは、Cordovaの流儀での各プラットフォームのアプリの開発方法を解説しました。cordovaコマンドを用いることで、クロスプラットフォームに対応した構成のアプリのプロジェクトを簡単に作成することがでいきました。ネイティブ機能を提供するCordovaプラグインも、cordovaコマンドで簡単に導入することができました。
                p それでは、cordovaコマンドを利用せずにCordovaを導入したい場合にはどうすればよいでしょうか？、例えば、すでに存在するアプリのプロジェクトに対して、どのようにCordovaを導入すればよいでしょうか？
                p ここでは、弧損のアプリプロジェクトに対してCordovaを導入する方法を紹介します。具体的には、Cordovaフレームワークのビルドからプロジェクトへの導入、画面の一部への埋め込みを解説します。
                .alert.alert-info Cordovaフレームワークのダウンロード
                p cordovaコマンドを用いたプロジェクトの場合には、cordovaコマンドが内部で自動的にCordovaフレームワークをダウンロードしていました。cordovaコマンドを使わずに既存のアプリにCordovaを導入するには、まずCordovaフレームワークをダウンロードします。CordovaのWebサイトのトップページで[DOWNLOAD]ボタンを押してダウンロードして下さい。
                ul
                    li
                        | URL Apach Cordova<br>
                        a(href='http://cordova.apache.org/') http://cordova.apache.org/
                p このパッケージには、対応しているすべてのモバイルプラットフォーム向けのフレームワークが含まれています。
                .alert.alert-info AndroidのプロジェクトにCordovaフレームワークを導入する
                p ここでは、あらかじめAndroidのプロジェクトはすでに作成しているものとして解説を進めます。
                p AndroidのプロジェクトにCordovaフレームワークを導入する手順は、以下のようになります。
                ol
                    li Cordovaフレームワークをビルドする
                    li Cordovaフレームワークをプロジェクトに追加する
                    li Cordova用の設定ファイルをwwwディレクトリに配置する
                    li Cordovaを呼び出すコードを記述する
                h4 Cordovaフレームワークをビルドする
                h4 Cordovaフレームワークをプロジェクトに追加する
                h4 Cordova用の設定ファイルをwwwディレクトリに配置する
                h4 Cordovaを呼び出すコードを記述する
                h4 設定を動的に置き換える
                .alert.alert-info 画面の一部でCordovaを用いる
                .alert.alert-info iOSのプロジェクトにCordovaフレームワークを導入する
                h4 画面にCordovaを用いる
                h4 wwwディレクトリに配置する
                h4 Cordovaフレームワークを呼び出すコードを記述する
                