extends ../../layout

block link
    link(href='../../css/bootstrap.min.css',rel='stylesheet',media='screen')
    link(href='../../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
    link(href='../../js/dtree/dtree.css', rel='stylesheet', media='screen')
    link(href='../../css/style.css',rel='stylesheet',media='screen')
    link(href='../../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
    include navbar
    .container
      .row
        .col-sm-3
          include left
        .col-sm-9
          .panel.panel-primary
            .panel-heading 既存のアプリにCordovaを組み込む
            .panel-body
                .alert.alert-info 既存のアプリにCordovaを組み込む
                .alert.alert-info Cordovaフレームワークのダウンロード
                .alert.alert-info AndroidのプロジェクトにCordovaフレームワークを導入する
                .alert.alert-info 画面の一部でCordovaを用いる
                .alert.alert-info iOSのプロジェクトにCordovaフレームワークを導入する
                .alert.alert-info wwwディレクトリに配置する
                .alert.alert-info Cordovaフレームワークを呼び出すコードを記述する

