.list-group
	a.list-group-item.active
		| 基本
	a.list-group-item(href='1')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='3')
		i.badge.badge-info
		| Androidの開発環境
	a.list-group-item(href='2')
		i.badge.badge-info
		| Cordovaの開発環境