.list-group
	a.list-group-item.active
		| 基本
	a.list-group-item(href='1')
		i.badge.badge-info
		| 資料
	a.list-group-item(href='3')
		i.badge.badge-info
		| Androidの開発環境
	a.list-group-item(href='2')
		i.badge.badge-info
		| Cordovaの開発環境
	a.list-group-item(href='5')
		i.badge.badge-info
		| プロジェクトの作成
	a.list-group-item(href='6')
		i.badge.badge-info
		| エミュレータの利用
	a.list-group-item(href='7')
		i.badge.badge-info
		| 実機の利用
	a.list-group-item(href='8')
		i.badge.badge-info
		| 開発の流れ
	a.list-group-item(href='9')
		i.badge.badge-info
		| アプリの設定
	a.list-group-item(href='10')
		i.badge.badge-info
		| アプリのアイコン
	a.list-group-item(href='11')
		i.badge.badge-info
		| アプリのスプラッシュスクリーン
	a.list-group-item(href='12')
		i.badge.badge-info
		| ドメインホワイトリスト
	a.list-group-item(href='13')
		i.badge.badge-info
		| プラットフォーム別のカスタマイズ
	a.list-group-item(href='4')
		i.badge.badge-info
		| plugmanコマンド