extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;MongoDBのインストール
					.panel-body
						.alert.alert-info Windowsにインストール
						pre
							:code
								MongoDBの設置

								C:\ にダウンロードしてきたzipを展開する
								
								展開したフォルダ名を mongodb に変更する

								C:\mongodb\data フォルダを作成する
								
								C:\mongodb\logs フォルダを作成する

								C:\mongod\binにパスを通す

								動作確認

								以下のコマンドを実行してmongodbを起動
								mongod --dbpath=..\data --logpath --\logs

								別のコマンドプロンプトからmongoシェルを扱う
						hr
						.alert.alert-info OSXにインストール
						p: u MacPorts（長時間）
							pre
								:code
									sudo port install mongodb
						p: u Homebrew（短時間）
							pre
								:code
									brew install mongodb
						p /var/lib/mongodbを作成
							pre
								:code
									sudo mkdir /var/lib/mongodb
						p /var/log/mongodb.logを作成
							pre
								:code
									sudo touch /var/log/mongodb.log
						p mongodbの起動
							pre
								:code
									mongod --dbpath /var/lib/mongodb --logpath /var/log/mongodb.log

						p 別のターミナルからmongoシェルを扱う
						hr
						.alert.alert-info Linuxにインストール