extends ../layout

block link
	include ../link1

block content
	include navbar
	.container
		.row
			.col-sm-3
				include left
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;MongoDBのインストール
					.panel-body
						.alert.alert-info Windowsにインストール
						pre
							:code
								MongoDBの設置

								C:\ にダウンロードしてきたzipを展開する
								
								展開したフォルダ名を mongodb に変更する

								C:\mongodb\data フォルダを作成する
								
								C:\mongodb\logs フォルダを作成する

								C:\mongod\binにパスを通す

								動作確認

								以下のコマンドを実行してmongodbを起動
								mongod --dbpath=../data

								別のコマンドプロンプトからmongoシェルを扱う
						.alert.alert-info OSXにインストール
						.alert.alert-info Linuxにインストール