extends ../layout

block link
	link(href='../css/bootstrap.min.css',rel='stylesheet',media='screen')
	link(href='../css/bootstrap-theme.min.css',rel='stylesheet',media='screen')
	link(href='../js/dtree/dtree.css', rel='stylesheet', media='screen')
	link(href='../css/style.css',rel='stylesheet',media='screen')
	link(href='../js/google-code-prettify/prettify.css',rel='stylesheet',media='screen')

block content
	include navbar.jade
	.container
		.row
			.col-sm-3
				include left.jade
			.col-sm-9
				.panel.panel-primary
					.panel-heading
						i.glyphicon.glyphicon-book
						| &nbsp;MongoDB資料
					.panel-body
						h4 公式サイト
						p
							a(href='http://www.mongodb.org/',target='_blank') http://www.mongodb.org/
						pre
							:code
								Windowsにインストール

								http://www.nilidea.com/17

								MongoDBの設置

								1. C:/ にダウンロードしてきたzipを展開する
								2. 展開したフォルダ名を mongodb に変更する
								3. mongodbディレクトリをCドライブに移動「C:/mongodb/bin」

								3. C:/mongodb/data フォルダを作成する
								4. C:/mongodb/logs フォルダを作成する


								展開後のbinフォルダにある mongod.exe がMongoDBのサーバになるので、階層を移動してmongodb.exeを実行するとmongodbが起動

								別のコマンドプロンプトでmongoシェルを扱う
