doctye
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width,initial-scale=1')
        title
        link(rel='stylesheet',href='css/style8.css')
    body
        #container
            #slideGalley
                ul#slide
                    li
                        a(href='#')
                            img(src='img/photo1.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo2.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo3.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo4.jpg', alt='')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script8.js')
