doctype
html(lang='ja')
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style11.css')
    body
        #container
            #slideGalley
                ul#slide
                    li
                        a(href='#')
                            img(src='img/photo01.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo02.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo03.jpg', alt='')
                    li
                        a(href='#')
                            img(src='img/photo04.jpg', alt='')
                #nav
                    img.prev(src='img/nav_prev.png')
                    img.next(src='img/nav_next.png')
                ul#paging
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/script11.js')