doctype
html
    head
        meta(charset='UTF-8')
        title
        link(rel='stylesheet',href='css/style8.css')
        body
            h1 jQueryを利用したモーダルウィンドウの作成
            ul
                li
                    a.modal(href='img/photo1.jpg')
                        img(src='img/photo1_thum.jpg', alt='シャンデリア')
                li
                    a.modal(href='img/photo2.jpg')
                        img(src='img/photo2_thum.jpg', alt='バラ')
                li
                    a.modal(href='img/photo3.jpg')
                        img(src='img/photo3_thum.jpg', alt='海')
                li
                    a.modal(href='img/photo4.jpg')
                        img(src='img/photo4_thum.jpg', alt='門')
                li
                    a.modal(href='img/photo5.jpg')
                        img(src='img/photo5_thum.jpg', alt='海')
                li
                    a.modal(href='img/photo6.jpg')
                        img(src='img/photo6_thum.jpg', alt='あじさい')
                li
                    a.modal(href='img/photo7.jpg')
                        img(src='img/photo7_thum.jpg', alt='空')
                li
                    a.modal(href='img/photo8.jpg')
                        img(src='img/photo8_thum.jpg', alt='建物')
            //-
                #grayLayer
                #overLayer
                    img(src='img/photo5.jpg')
            script(src='http://code.jquery.com/jquery-1.11.0.min.js')
            script(src='js/script8.js')