h1 {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0;
	padding: 0;
	color : #ffffff;
	background-color : #000000;
	border-bottom : 1px dotted #ffffff;
	font-size : 14pt;
	font-weight: bold;
	font-family: Tahoma;
	width : 512px;
	height: 25px;
}
#gmap {
	position: absolute;
	top: 27px;
	left: 0px;
	margin: 0;
	padding: 0;
	width: 512px;
	height: 512px;
}
