doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p
			- for(var i = 0; i < 4; i++)
				img(src='img/200x200.png')
		p: input(type='button',value='クリック')
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
