doctype
html(lang='ja-JP')
    head
        meta(charset='utf-8')
        title
    body
        | お名前：
        input(type='text')
        input(type='button',value='クリア')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='script.js')
