doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		p
			input(type='button',value='yahoo')
			input(type='button',value='rakuten')
			input(type='button',value='全部')
		ul
			li: a(href='http://shopping.yahoo.co.jp/') Yahooショッピング
			li: a(href='http://auctions.yahoo.co.jp/') Yahooオークション
			li: a(href='http://travel.yahoo.co.jp/') Yahooトラベル
			li: a(href='http://www.rakuten.co.jp/') 楽天ショッピング
			li: a(href='http://auction.rakuten.co.jp/') 楽天オークション
			li: a(href='http://travel.rakuten.co.jp/') 楽天トラベル
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
