#FBSharedLinks,
#FBSharedLinks * {
    margin:0;
    padding:0;
    border:0;
}
#FBSharedLinks {
    position:fixed;
    top:0;
    left:0;
    z-index:10000;
    color:#FFFFFF;
	background-color:#4060A0;
    font-size:11px;	
    margin:0;
    padding:0;
    border:0;
    width:200px;
}
#FBSharedLogin {
    font-size:11px;
}
#FBSharedIntro {
    font-size:11px;
    color:#666666;
    background-color:#F0F0F0;
}
#FBSharedLinksList {
    color:#666666;
	list-style:none;
    background-color:#F0F0F0;
}
#FBSharedLinksList li {
	margin:0;
    padding:0;
    border-bottom:1px solid #DDDDDD;
}
#FBSharedLinksList li a {
    color:#666666;
	display:block;
    padding:3px;
    font-size:11px;
    text-decoration:none;
}
#FBSharedLinksList li a:hover {
    color:#333333;
	background-color:#CCCCCC;
	text-decoration:none;
}
#FBSharedLinksList li a:visited {
	text-decoration:none;
}
#FBSharedLinksFooter {
}
#FBSharedLinksFooter button {
    color:#FFFFFF;
	background-color:#4060A0;
    padding:3px;
    cursor:pointer;
    font-size:11px
    width:200px;
}
#FBSharedLinksFooter p {
	margin:0;
    font-size:11px
    padding:3px;
}