doctype html
html(lang='ja')
    head
        meta(charset='utf-8')
        title
        link(rel='stylesheet', href='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.css')
        script(src='http://code.jquery.com/jquery-1.9.1.min.js')
        script(src='http://code.jquery.com/mobile/1.4.2/jquery.mobile-1.4.2.min.js')
        script
            :js
                $(document).on('pageshow','#index',function(){
                    //ボタンクリックでオーディオを再生する
                    $('#aPlay').on('vclick',function(){
                        $('#myAudio').get(0).play();
                    });
                });
    body
        #index(data-role='page')
            div(data-role='header')
                h1 オーディオを再生
            div(data-role='content')
                audio#myAudio(width='192',height='48',controls='controls')
                    source(src='../audio1/sample.mp3')
                    source(src='../audio1/sample.ogg')
                    p お使いのブラウザではオーディオを再生できません。
                form
                    input#aPlay(type='button', value='再生')
            div(data-role='footer', data-position='fixed')
                h1 フッター