prefix(prop, val)
	-webkit-{prop} val
	{prop} val

size()
	200px
img
	cursor pointer
	float right
#outer
	width size()
	height @width
	overflow hidden
#inner
	float right
	width size()*5
	margin-right -(size()*4)
	overflow hidden