doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
	body
		ul
			li <b>テキスト</b>テキストテキストテキスト
			li <b>テキスト</b><b>テキスト</b>テキストテキスト
			li <b>テキスト</b><b>テキスト</b><b>テキスト</b>テキスト
			li <b>テキスト</b><b>テキスト</b><b>テキスト</b><b>テキスト</b>
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')
