!!!
%html(lang="ja")
	%head
		%meta(charset="UTF-8")
		%meta(name="viewport" content="width=device-width, user-scalable=no")
		%link(rel="stylesheet" href="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.css")
		%script(src="http://code.jquery.com/jquery-1.9.1.min.js")
		%script(src="http://code.jquery.com/mobile/1.3.2/jquery.mobile-1.3.2.min.js")
		%title
			オブジェクトの取得
		:javascript
			var test = {
				'国語': 90,
				'算数': 80,
				'理科': 70,
				'社会': 60,
				'英語': 50
			}

			$(document).on('pagebeforecreate','#index',function(){

				var sum = cnt =  0;

				for(var key in test){
					$('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-c">' + key + '</div></div>');
					$('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-c">' + test[key] + '点</div></div>');	

					sum += test[key];	
					cnt++;	
				}

				var average = sum / cnt;

				$('.ui-grid-a').append('<div class="ui-block-a"><div class="ui-bar ui-bar-b">平均</div></div>');
				$('.ui-grid-a').append('<div class="ui-block-b"><div class="ui-bar ui-bar-b">' + average + '点</div></div>');
				
			});
		:scss
			/**/
	%body
		%div(data-role="page" id="index")
			%div(data-role="header")
				%h1
					オブジェクトの取得
			%div(data-role="content")
				%h2
					テスト結果
				%div(class="ui-grid-a")
			%div(data-role="footer" data-position="fixed")
				%h4
					Copyright &copy; ナカノヨウスケ
