doctype
html(lang='ja')
    head
        meta(charset='UTF-8')
        title
        style
            :stylus
                h1
                    font-size 14pt
                    background-color #ccccff
                    padding 5px
                p
                    font-size 12pt
                    color #666699
        script
            :coffee
                alert 'Hello, World!'
    body
        h1 Sample Page
        p サンプルのページ