doctype
html(lang='ja-JP')
    head
        meta(charset='UTF-8')
        title
    body
        .first
            h1 first
            .first first
            .second second
        hr
        .second
            h1 second
            .first first
            .second second
        input(type='button', value='filter')
        input(type='button', value='find')
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='script.js')
