doctype
html(lang='ja-JP')
	head
		meta(charset='UTF-8')
		title
		link(rel='stylesheet', href='style.css')
	body
		div.container
			nav.panel
				h1 メニュー
				ul
					li メニュー01
					li メニュー02
					li メニュー03
			div.content
				h1 コンテンツ
				for i in new Array(100)
					p テキストテキストテキストテキスト
		script(src='http://code.jquery.com/jquery-1.11.0.min.js')
		script(src='script.js')