doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title Tiny Blog
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .row
                .col.col-md-12
                    h1 Tiny Blog
            .row
                #main.col.col-md-9
                    .well ここにメインコンテンツを記述します。
                .col.col-md-3
                    .well ここにサイドバーを記述します。
            .row
                .col.col-md-12
                    p &copy; 2013 yourname All rights reserved
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')