doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title Tiny Blog
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
        link(rel='stylesheet',href='css/bootstrap-theme.min.css',media='screen')
        style
            :stylus
                body
                    padding-top 70px
    body
        .navbar.navbar-inverse.navbar-fixed-top
            .container
                .navbar-header
                    a.navbar-brand(href='#') TinyBlog 管理画面
        .container
            .row
                .col.col-sm-3
                    .well ここにナビゲーションを記述します。
                .col.col-sm-9
                    .well ここにたぶコンテンツを記述します。
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')