doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title Tiny Blog
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .row
                .col.col-md-12
                    h1 Tiny Blog
            .row
                #main.col.col-md-9
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                a(href='articles/1') 記事のタイトル1
                        .panel-body 記事の内容1
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                a(href='article/2') 記事のタイトル2
                        .panel-body 記事の内容2
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                a(href='article/3') 記事のタイトル3
                        .panel-body 記事の内容3
                    ul.pagination
                        li: a(href='#') &laquo;
                        li: a(href='#') 1
                        li: a(href='#') 2
                        li: a(href='#') 3
                        li: a(href='#') 4
                        li: a(href='#') 5
                        li: a(href='#') &raquo;
                .col.col-md-3
                    form.search-inline.form-inline
                        .form-group
                            label.sr-only キーワード
                            input.form-control.input-sm(type='text',name='keyword',placeholder='キーワード')
                        | 
                        button.btn.btn-primary.btn-sm(type='submit') 検索
                    h2 最近の記事
                    ul
                        li: a(href='article/1') 記事のタイトル1
                        li: a(href='article/2') 記事のタイトル2
                        li: a(href='article/3') 記事のタイトル3
                        li: a(href='article/4') 記事のタイトル4
                        li: a(href='article/5') 記事のタイトル5
                    h2 カレンダー
                    table.table.table-striped.table-bordered.table-condensed
                        tr
                            th 日
                            th 月
                            th 火
                            th 水
                            th 木
                            th 金
                            th 土
                        tr
                            td 1
                            td 2
                            td 3
                            td 4
                            td 5
                            td 6
                            td 7
                        tr
                            td 8
                            td 9
                            td 10
                            td 11
                            td 12
                            td 13
                            td 14
                        tr
                            td 15
                            td 16
                            td 17
                            td 18
                            td 19
                            td 20
                            td 21
                        tr
                            td 21
                            td 22
                            td 23
                            td 24
                            td 25
                            td 26
                            td 27
                        tr
                            td 28
                            td 29
                            td 30
                            td 1
                            td 2
                            td 3
                            td 4
                    ul.pager
                        li.previous: a(href='#') &raquo; 8月
                        li.next: a(href='#') &laquo; 10月
                    h2 リンク
                    ul
                        li
                            a(href='http://twitter.com/youracount') twitter
                        li
                            a(href='http://facebook.com/youracount') facebook
                        li
                            a(href='') Google+
                        li
                            a(href='admin.html') 管理画面
            .row
                .col.col-md-12
                    p &copy; 2013 yourname All rights reserved
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')