doctype
html(lang='ja')
    head
        meta(charset='utf-8')
        meta(name='viewport',content='width=devie-width,initial-scale=1.0')
        title Tiny Blog
        link(rel='stylesheet',href='css/bootstrap.min.css',media='screen')
    body
        .container
            .row
                .col.col-md-12
                    h1 Tiny Blog
            .row
                #main.col.col-md-9
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                a(href='articles/1') 記事のタイトル1
                        .panel-body 記事の内容1
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                a(href='article/2') 記事のタイトル2
                        .panel-body 記事の内容2
                    .panel.panel-primary
                        .panel-heading
                            h3.panel-title
                                a(href='article/3') 記事のタイトル3
                        .panel-body 記事の内容3
                    ul.pagination
                        li: a(href='#') &laquo;
                        li: a(href='#') 1
                        li: a(href='#') 2
                        li: a(href='#') 3
                        li: a(href='#') 4
                        li: a(href='#') 5
                        li: a(href='#') &raquo;
                .col.col-md-3
                    .well ここにサイドバーを記述します。
            .row
                .col.col-md-12
                    p &copy; 2013 yourname All rights reserved
        script(src='http://code.jquery.com/jquery-1.11.0.min.js')
        script(src='js/bootstrap.min.js')