w = 650px
h = 488px

body
    margin 0
#grayLayer
    position fixed
    left 0
    top 0
    height 100%
    width 100%
    background-color black
    opacity 0.60
#overLayer
    position  fixed
    top 50%
    left 50%
    margin-top -(h/2)
    margin-left -(w/2)
    img
    	width w
    	height h