* {
	margin:0;
	padding:0;
	border-width:0;
	text-indent:0;
}
html,body {
	width:100%;
	height:100%;
}
body {
	color:#333333;
	background-color:#FFFFFF;
    font-size:14px;
}
input {
	border-width:1px;
}
#Header {
	height:80px;
	background-color:#333333;
	color:#ffffff;
	border-bottom:1px solid #000000;
}
#Logo {
    position:absolute;
    left:0;
    padding:16px;
    width:200px;
}
#AccountInfo {
    position:absolute;
    right:0;
    width:400px;
    text-align:right;
}
#Account {
    position:absolute;
    right:0;
    top:0;
    padding:16px;
    font-size:12px;
}
#Account * {
    vertical-align:top;
}
#Account img {
    width:48px;
    height:48px;
    border:1px solid #666666;
    margin-left:16px;
}
#Logout {
    height:22px;
    width:160px;
    position:absolute;
    right:77px;
    top:44px;
}

#Main{
    font-size:14px;
}

#PanelCheckTweet {
	background-color:#f0f0f0;
	padding:24px;
	margin:24px auto;
	width:450px;
	border:1px solid #e0e0e0;
}
#PanelCheckTweet dl {
	line-height:150%;
	padding:6px 0;
	margin:6px auto 12px;
	border-bottom:1px solid DDDDDD;
}
#PanelCheckTweet dt {
	padding:6px 0 3px;
	font-weight:bold;
	border-bottom:1px solid #e0e0e0;
    font-size:16px;
}
#PanelCheckTweet dd {
	margin-bottom:6px;
	text-align:center;
	padding:6px 0;
    color:#666;
    font-size:12px;
}
#PanelCheckTweet dd input {
	padding:3px;
	border:1px solid #CCCCCC;
    font-size:14px;
    color:#333333;
}
#PanelCheckTweet p {
	line-height:150%;
	padding:6px 0;
	margin:6px auto;
	text-align:center;
}
#PanelCheckTweet p input {
	padding:12px;
	font-size:14px;
	font-weight:bold;
	background-color:#FFFFFF;
    color:#666;
}

#Status {
    display:none;
	text-align:center;
    background-color:#FAFAFA;
    color:#AAAAAA;
    font-size:12px;
    height:36px;
    line-height:36px;
}

#PanelTweetList {
}
#FormTweetLot {
    display:none;
    margin:24px auto;
	width:540px;
    text-align:center;
}
#LotNum {
	border:1px solid #666666;
    text-align:right;
   	padding:6px;
	font-size:14px;
}
#LotSubmit {
   	padding:12px;
	font-size:14px;
	font-weight:bold;
	background-color:#FFFFFF;
    color:#666;
}
#TweetList {
    margin:0 auto;
	width:540px;
    list-style:none;
}
#TweetList li {
    position:relative;
	padding:10px 20px 10px 88px;
    border-bottom: 1px solid #EBEBEB;
    min-height:48px;
}

#TweetList li img {
	position:absolute;
    top:10px;
    left:20px;
}
#TweetList li .screenName {
	color:#333333;
    font-weight:bold;
    margin-right:12px;
}
#TweetList li .userName {
    color:#666666;
    font-weight:bold;
}