extends ../../layout

block link
    include ../../link2

block content
    include ../navbar
    .container
        .row
            .col-sm-3
                include ../left
            .col-sm-9
                .panel.panel-primary
                    .panel-heading
                        i.glyphicon.glyphicon-book
                        | &nbsp;PostgreSQL資料
                    .panel-body
                        h4 公式サイト
                        p
                            a(href='http://www.postgresql.org/',target='_blank') http://www.postgresql.org/
                        hr
                        pre
                            :code
                                パスを通す
                                Mac
                                export PATH=$PATH:/Library/PostgreSQL/9.3/bin

                                http://hisasann.com/housetect/2008/09/mac_os_xpath.html


                                ログイン
                                psql -U postgress -p 5433

                                データベースの作成
                                create database blogapp
                                
                                データベースの削除
                                drop database blogapp
                                
                                DB変更
                                \c DB名

                                DB一覧の表示
                                \l

                                テーブルの確認
                                \d

                                テーブルの定義を確認
                                \d "テーブル""